body {
    font-family: 'Proxima Nova Rg', sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

/* ul,
li {
    display: block;
} */

a {
    text-decoration: none;
}

.pm-0-uzm {
    padding: 0;
    margin: 0;
}

.horizontal-line-uzm {
    height: 1px;
    background-color: #D3D3D3;
    margin-top: 2rem;
}

/* класс который всегда уменьшается при уменьшении экрана */
@media (max-width: 991.98px) {
    .fs-md-media-uzm {
        font-size: .8rem;
    }
}

@media (max-width: 1199.98px) {
    .fs-xl-media-uzm {
        font-size: .8rem;
    }
}

.box-shadow-uzm:hover {
    box-shadow: 1px 1px 4px 0 black;
}

/* header */
.contacts {
    background-color: #223D59;
    height: 2.5rem;
    color: white;
    box-shadow: 2px 2px 20px rgb(99, 99, 99);
}

.contacts {
    padding: .5rem;
}

.header-element {
    text-align: center;
    /* border: 3px solid green; */
}

.header-element a,
footer a {
    color: #D2D8DE;
    text-decoration: none;
    /* padding: 0 1rem 0 0; */
}

.header-element a:hover,
footer a:hover {
    text-decoration: none;
    color: #D2D8DE;
}

.button-uzm {
    margin-top: 1rem;
}

.navbar-nav a {
    color: #035491;
}

.dropdown-menu {
    font-size: .9rem;
}

.dropdown-menu li a:hover {
    color: white;
    background-color: #035491;
}

/* end header */

/* footer */
footer {
    background-color: #223D59;
}

footer p {
    font-size: 1rem;
    padding: .4rem 0 0 0;
    color: #65899B;
}

.container-footer {
    padding: 1rem 0 1rem 0;
}

.footer-title {
    color: #A8D6DF;
}

.footer-end {
    background-color: #1B3249;
    text-align: center;
    color: white;
    padding: .5rem 0 .5rem 0;
}

/* end footer */

/* main index */
main {
    padding: 1rem 0 1rem 0;
}

.text-blue-uzm {
    color: #035491;
}

.carousel-caption {
    color: #223D59;
    text-align: start;
    font-weight: bold;
}

.button-uzm-slider {
    padding: 2rem 0 0 0;
}


/* CSS оформление картинок */
.wrapper-img-uzm-down {
    background-position: 50% 50%;
    block-size: 192px;
    border-block-end-color: rgb(0, 0, 238);
    border-block-start-color: rgb(0, 0, 238);
    border-inline-end-color: rgb(0, 0, 238);
    border-inline-start-color: rgb(0, 0, 238);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(0, 0, 238);
    color: rgb(0, 0, 238);
    column-rule-color: rgb(0, 0, 238);
    cursor: pointer;
    height: 192px;
    inline-size: 318px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    perspective-origin: 159px 96px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(0, 0, 238);
    text-emphasis-color: rgb(0, 0, 238);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 159px 96px;
    width: 318px;
    background: rgba(0, 0, 0, 0) none repeat scroll 50% 50% / cover padding-box border-box;
    border: 0px none rgb(0, 0, 238);
    font: 0px / 0px ProximaNova, Helvetica, normal;
    outline: rgb(0, 0, 238) none 0px;
    overflow: hidden;
}

/*wrapper-img-uzm-down*/

.wrapper-img-uzm-down:after {
    block-size: 26px;
    border-block-end-color: rgb(3, 84, 145);
    border-block-end-style: solid;
    border-block-end-width: 26px;
    border-block-start-color: rgb(0, 0, 238);
    border-inline-end-color: rgb(0, 0, 238);
    border-inline-start-color: rgba(0, 0, 0, 0);
    border-inline-start-style: solid;
    border-inline-start-width: 26px;
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(0, 0, 238);
    color: rgb(0, 0, 238);
    column-rule-color: rgb(0, 0, 238);
    content: '""';
    cursor: pointer;
    display: block;
    height: 26px;
    inline-size: 26px;
    inset-block-end: 0px;
    inset-block-start: 166px;
    inset-inline-end: 0px;
    inset-inline-start: 292px;
    left: 292px;
    perspective-origin: 13px 13px;
    position: absolute;
    right: 0px;
    text-decoration: none solid rgb(0, 0, 238);
    text-emphasis-color: rgb(0, 0, 238);
    text-size-adjust: 100%;
    /* расположение по вертикали нижнего треугольника */
    top: 166px;
    transform-origin: 13px 13px;
    width: 26px;
    border-top: 0px none rgb(0, 0, 238);
    border-right: 0px none rgb(0, 0, 238);
    border-bottom: 26px solid rgb(3, 84, 145);
    border-left: 26px solid rgba(0, 0, 0, 0);
    font: 0px / 0px ProximaNova, Helvetica, normal;
    outline: rgb(0, 0, 238) none 0px;
}

/*#wrapper-img-uzm-down:after*/

.wrapper-img-uzm-up {
    block-size: 77px;
    border-block-end-color: rgb(3, 84, 145);
    border-block-end-style: solid;
    border-block-end-width: 1px;
    border-block-start-color: rgb(0, 0, 238);
    border-inline-end-color: rgb(0, 0, 238);
    border-inline-start-color: rgb(0, 0, 238);
    bottom: 115px;
    box-sizing: border-box;
    caret-color: rgb(0, 0, 238);
    color: rgb(0, 0, 238);
    column-rule-color: rgb(0, 0, 238);
    cursor: pointer;
    height: 77px;
    inline-size: 191px;
    inset-block-end: 115px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 127px;
    /* отодвигает косую черту */
    left: 107px;
    perspective-origin: 95px 38px;
    position: absolute;
    right: 0px;
    text-decoration: none solid rgb(0, 0, 238);
    text-emphasis-color: rgb(0, 0, 238);
    text-size-adjust: 100%;
    top: 0px;
    transform: matrix(0.707107, 0.707107, -0.707107, 0.707107, 57.3, 0);
    transform-origin: 95px 38.px;
    width: 250px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 0px none rgb(0, 0, 238);
    border-right: 0px none rgb(0, 0, 238);
    border-bottom: 1px solid rgb(3, 84, 145);
    border-left: 0px none rgb(0, 0, 238);
    font: 0px / 0px ProximaNova, Helvetica, normal;
    outline: rgb(0, 0, 238) none 0px;

}

/*wrapper-img-uzm-up*/

.wrapper-img-uzm-up:before {
    block-size: 30px;
    border-block-end-color: rgb(3, 84, 145);
    border-block-end-style: solid;
    border-block-end-width: 30px;
    border-block-start-color: rgb(0, 0, 238);
    border-inline-end-color: rgb(0, 0, 238);
    border-inline-start-color: rgba(0, 0, 0, 0);
    border-inline-start-style: solid;
    border-inline-start-width: 30px;
    bottom: -15px;
    box-sizing: border-box;
    caret-color: rgb(0, 0, 238);
    color: rgb(0, 0, 238);
    column-rule-color: rgb(0, 0, 238);
    content: '""';
    cursor: pointer;
    display: block;
    height: 30px;
    inline-size: 30px;
    inset-block-end: -15px;
    inset-block-start: 61px;
    inset-inline-end: 132px;
    inset-inline-start: 28px;
    /* сдвинуть верхний тьреугольник вниз */
    left: 48px;
    perspective-origin: 15px 15px;
    position: absolute;
    right: 132px;
    text-decoration: none solid rgb(0, 0, 238);
    text-emphasis-color: rgb(0, 0, 238);
    text-size-adjust: 100%;
    top: 61px;
    transform: matrix(0.707107, 0.707107, -0.707107, 0.707107, 9, 0);
    transform-origin: 15px 15px;
    width: 30px;
    border-top: 0px none rgb(0, 0, 238);
    border-right: 0px none rgb(0, 0, 238);
    border-bottom: 30px solid rgb(3, 84, 145);
    border-left: 30px solid rgba(0, 0, 0, 0);
    font: 0px / 0px ProximaNova, Helvetica, normal;
    outline: rgb(0, 0, 238) none 0px;
}

/*wrapper-img-uzm-up:before*/
/* КОНЕЦ CSS оформление картинок */

.wrapper-text-above-img-uzm {
    position: relative;
}

.text-above-img-uzm {
    position: absolute;
    bottom: 70%;
    padding: .5rem;
    font-family: 'Proxima Nova Rg', sans-serif;
    font-size: 1rem;
}

.test {
    border-style: dashed;
    border-color: green;
}

.text-uzm {
    font-size: 1.1rem;
}

.text-title-uzm {
    color: #223d59;
}

img {
    max-width: 100%;
}

.pagination-list li {
    color: #8d8d8d;
    display: inline-block;
    min-width: 1rem;
    text-align: center;
}

.pagination-list>li>a {
    color: inherit;
}

.pagination-list li.active {
    border-radius: 3px;
    background: #dbecf4;
    box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, .1);
}

/* Оболочка для карточек товара или групп */
.wrapper-up-uzm-card {
    block-size: 59.7969px;
    border-block-end-color: rgb(3, 84, 145);
    border-block-start-color: rgb(3, 84, 145);
    border-block-start-style: solid;
    border-block-start-width: 1px;
    border-inline-end-color: rgb(3, 84, 145);
    border-inline-start-color: rgb(3, 84, 145);
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(3, 84, 145);
    height: 59.7969px;
    inline-size: 196px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    margin-block-end: 20px;
    padding-block-start: 30px;
    perspective-origin: 98px 29.8906px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(3, 84, 145);
    text-emphasis-color: rgb(3, 84, 145);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 98px 29.8984px;
    width: 196px;
    border-top: 1px solid rgb(3, 84, 145);
    border-right: 0px none rgb(3, 84, 145);
    border-bottom: 0px none rgb(3, 84, 145);
    border-left: 0px none rgb(3, 84, 145);
    margin: 0px 0px 20px;
    outline: rgb(3, 84, 145) none 0px;
    overflow: visible;
    padding: 30px 0px 0px;
}/*#DIV_2*/

.wrapper-up-uzm-card:after {
    border-block-end-color: rgb(3, 84, 145);
    border-block-start-color: rgb(3, 84, 145);
    border-inline-end-color: rgb(3, 84, 145);
    border-inline-start-color: rgb(3, 84, 145);
    caret-color: rgb(3, 84, 145);
    color: rgb(3, 84, 145);
    column-rule-color: rgb(3, 84, 145);
    text-decoration: none solid rgb(3, 84, 145);
    text-emphasis-color: rgb(3, 84, 145);
    text-size-adjust: 100%;
    border: 0px none rgb(3, 84, 145);
    outline: rgb(3, 84, 145) none 0px;
}/*#DIV_2:after*/

.wrapper-up-uzm-card:before {
    block-size: 0px;
    border-block-end-color: rgba(0, 0, 0, 0);
    border-block-end-style: solid;
    border-block-end-width: 8px;
    border-block-start-color: rgb(3, 84, 145);
    border-block-start-style: solid;
    border-block-start-width: 8px;
    border-inline-end-color: rgba(0, 0, 0, 0);
    border-inline-end-style: solid;
    border-inline-end-width: 8px;
    border-inline-start-color: rgb(3, 84, 145);
    border-inline-start-style: solid;
    border-inline-start-width: 8px;
    bottom: 42.7969px;
    caret-color: rgb(3, 84, 145);
    color: rgb(3, 84, 145);
    column-rule-color: rgb(3, 84, 145);
    content: '';
    display: block;
    height: 0px;
    inline-size: 0px;
    inset-block-end: 42.7969px;
    inset-block-start: 0px;
    inset-inline-end: 180px;
    inset-inline-start: 0px;
    left: 0px;
    perspective-origin: 8px 8px;
    position: absolute;
    right: 180px;
    text-decoration: none solid rgb(3, 84, 145);
    text-emphasis-color: rgb(3, 84, 145);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 8px 8px;
    width: 0px;
    border-top: 8px solid rgb(3, 84, 145);
    border-right: 8px solid rgba(0, 0, 0, 0);
    border-bottom: 8px solid rgba(0, 0, 0, 0);
    border-left: 8px solid rgb(3, 84, 145);
    outline: rgb(3, 84, 145) none 0px;
}

.uzm-text-card {
    box-sizing: border-box;
    color: rgb(3, 84, 145);
    cursor: pointer;
    /* height: 198px;
    inline-size: 196px; */
    text-decoration: none solid rgb(3, 84, 145);
    text-emphasis-color: rgb(3, 84, 145);
    text-size-adjust: 100%;
    transform-origin: 98px 99px;
    width: 196px;
    outline: rgb(3, 84, 145) none 0px;
}

.uzm-table td{
    border: 1px solid grey;
    text-align: center;
}

/* end main index */