{% extends 'rzmr/base.html' %}

{% block content %}
<section class="product-grids section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-12">
                <!-- Start Product Sidebar -->
                <div class="product-sidebar">
                    <!-- Start Single Widget -->
                    <div class="single-widget">
                        <h6>Разделы</h6>
                        <!-- <p>{{ user.get_settings }}</p> -->
                        <ul class="list">
                            <li>
                                {% if is_orders %}
                                <a href="{% url 'user-orders' %}"><strong>Заказы</strong></a>
                                {% else %}
                                <a href="{% url 'user-orders' %}">Заказы </a>
                                {% endif %}
                            </li>
                            <li>
                                {% if is_settings %}
                                <a href="{% url 'user-settings' %}"><strong>Настройки профиля</strong></a>
                                {% else %}
                                <a href="{% url 'user-settings' %}">Настройки профиля </a>
                                {% endif %}
                            </li>
                            <li>
                                {% if is_companies %}
                                <a href="{% url 'user-companies' %}"><strong>Организации</strong></a>
                                {% else %}
                                <a href="{% url 'user-companies' %}">Организации</a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                    <!-- End Single Widget -->
                </div>
                <!-- End Product Sidebar -->
            </div>
            {% block account_content %}
            {% endblock account_content %}
        </div>
    </div>
</section>
{% endblock content %}