{% extends 'personal_account/base.html' %}
{% load static %}

{% block account_content %}
<div class="col-lg-9 col-12">
    <div class="row order-list-head py-2 fw-bold">
        <div class="col-lg-4 col-md-3 col-12 order-list-head align-self-center">
            Заказ
        </div>
        <div class="col-lg-2 col-md-2 col-12 d-none d-md-block order-list-head align-self-center">
            Сумма
        </div>
        <div class="col-lg-2 col-md-2 col-12 d-none d-md-block order-list-head align-self-center">
            Статус
        </div>
        <div class="col-lg-1 col-md-2 col-12 d-none d-md-block order-list-head align-self-center">
            Оплачен
        </div>
        <div class="col-lg-1 col-md-2 col-12 d-none d-md-block order-list-head align-self-center">
            Отменен
        </div>
    </div>
    {% for order in user.get_orders.all %}
    <div class="cart-single-list py-1">
        <div class="row border-bottom">
            <div class="col-lg-4 col-md-3 col-12">
                <a href="{% url 'order' order.pk %}">{{ order }}</a>
            </div>
            <div class="col-lg-2 col-md-2 col-12">
                {% if order.amount > 0 %}
                {{ order.amount }}{{ order.currency.sign }}
                {% else %}
                <span>Не указана</span>
                {% endif %}
            </div>
            <div class="col-lg-2 col-md-2 col-12">
                {{ order.status.name }}
            </div>
            <div class="col-lg-1 col-md-2 col-12">
                {% if order.paid %}
                <span>Да</span>
                {% else %}
                <span>Нет</span>
                {% endif %}
            </div>
            <div class="col-lg-1 col-md-2 col-12">
                {% if order.canceled %}
                <span>Да</span>
                {% else %}
                <span>Нет</span>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock account_content %}