{% extends 'personal_account/base.html' %}
{% load static %}

{% block account_content %}
<div class="col-lg-9 col-12">
    <div class="row order-list-head py-2 fw-bold">
        <div class="col-lg-2 col-md-2 col-12 order-list-head align-self-center">
            Наименование
        </div>
        <div class="col-lg-4 col-md-4 col-12 d-none d-md-block order-list-head align-self-center">
            Официальное наименование
        </div>
        <div class="col-lg-1 col-md-1 col-12 d-none d-md-block order-list-head align-self-center">
            ИНН
        </div>
        <div class="col-lg-1 col-md-1 col-12 d-none d-md-block order-list-head align-self-center">
            КПП
        </div>
        <div class="col-lg-2 col-md-2 col-12 d-none d-md-block order-list-head align-self-center">
            Юридический адрес
        </div>
        <div class="col-lg-2 col-md-2 col-12 d-none d-md-block order-list-head align-self-center">
            Почтовый адрес
        </div>
    </div>
    {% for contractor in user.get_contractors.all %}
    <div class="cart-single-list py-1">
        <div class="row border-bottom">
            <div class="col-lg-2 col-md-2 col-12">
                <a href="{% url 'contractor-update' contractor.pk %}">{{ contractor.name }}</a>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                {{ contractor.full_name }}
            </div>
            <div class="col-lg-1 col-md-1 col-12">
                {{ contractor.inn }}
            </div>
            <div class="col-lg-1 col-md-1 col-12">
                {{ contractor.kpp }}
            </div>
            <div class="col-lg-2 col-md-2 col-12">
                {{ contractor.registered_address }}
            </div>
            <div class="col-lg-2 col-md-2 col-12">
                {{ contractor.actual_address }}
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="py-5">
        <a href="{% url 'contractor-create' %}" class="btn btn-secondary">Добавить организацию</a>
    </div>
</div>

{% endblock account_content %}