{% extends 'personal_account/base.html' %}
{% load static %}
{% load i18n %}

{% block account_content %}
<div class="col-lg-9 col-12">
    <p>{% trans 'Currency'  %}: {{ user.get_settings.currency }}</p>
    <p>{% trans 'Price type' %}: {{ user.get_settings.price_type }}</p>
    <div class="container py-5">
        <div class="row">
            <div class="col-3">
                <div class="button">
                    <a class="btn btn-secondary" href="{% url 'password_change' %}" role="button">{% trans 'Change password' %}</a>
                </div>
            </div>
            <div class="col-3">
                <div class="button">
                    <a class="btn btn-secondary" href="{% url 'password_reset' %}" role="button">{% trans 'Change password' %}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock account_content %}