{% extends 'personal_account/base.html' %}
{% load static %}
{% load i18n %}


{% block account_content %}
<div class="col-lg-9 col-12">
    <div class="row order-list-head py-2 fw-bold">
        <div class="col-lg-4 col-md-3 col-12 order-list-head align-self-center">
            {% trans 'Orders' %}
        </div>
        <div class="col-lg-2 col-md-2 col-12 d-none d-md-block order-list-head align-self-center">
            {% trans 'Amount' %}
        </div>
        <div class="col-lg-2 col-md-2 col-12 d-none d-md-block order-list-head align-self-center">
            {% trans 'Status' %}
        </div>
        <div class="col-lg-1 col-md-2 col-12 d-none d-md-block order-list-head align-self-center">
            {% trans 'Paid' %}
        </div>
        <div class="col-lg-2 col-md-3 col-12 d-none d-md-block order-list-head align-self-center">
            {% trans 'Canceled' %}
        </div>
    </div>
    {% for order in page_obj %}
    <div class="cart-single-list py-1">
        <div class="row border-bottom">
            <div class="col-lg-4 col-md-3 col-12">
                <a href="{% url 'order' order.pk %}">{{ order }}</a>
            </div>
            <div class="col-lg-2 col-md-2 col-12">
                {% if order.amount > 0 %}
                {{ order.amount }}{{ order.currency.sign }}
                {% else %}
                <span>{% trans 'not specified' %}</span>
                {% endif %}
            </div>
            <div class="col-lg-2 col-md-2 col-12">
                {{ order.status.name }}
            </div>
            <div class="col-lg-1 col-md-2 col-12">
                {% if order.paid %}
                <span>{% trans 'Yes' %}</span>
                {% else %}
                <span>{% trans 'No' %}</span>
                {% endif %}
            </div>
            <div class="col-lg-1 col-md-2 col-12">
                {% if order.canceled %}
                <span>{% trans 'Yes' %}</span>
                {% else %}
                <span>{% trans 'No' %}</span>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    <br>
    <div class="row">
        <div class="col-12">
            <!-- Pagination -->
            <div class="pagination center">
                <ul class="pagination-list">
                    {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}{{ add_for_pagination }}">←</i></a></li>
                    {% endif %}
                    {% for p in page_obj.paginator.page_range %}
                    {% if p == page_obj.number %}
                    <li class="active"><a href="?page={{ p }}{{ add_for_pagination }}">{{ p }}</a></li>
                    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                    <li><a href="?page={{ p }}{{ add_for_pagination }}">{{ p }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}{{ add_for_pagination }}">→</a></li>
                    {% endif %}
                </ul>
            </div>
            <!--/ End Pagination -->
        </div>
    </div>
</div>
{% endblock account_content %}