{% extends 'rzmr/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-4">
            <img src="{{ post.photo.url }}" alt="image">
        </div>
        <div class="col-8">
            <h1 class="h4 text-title-uzm">{{ post.title }}</h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    </div>
    {% if user.is_staff %}
    <div class="row">
        <div class="col-11">
        </div>
        <div class="col-1 button">
            <a class="btn btn-secondary" href="{% url 'update-post' post.slug %}">Редактировать</a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}