{% extends 'rzmr/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <form action="{% url 'update-post' post.slug %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    {{ form.non_field_errors }}
                </div>
                {{ form.as_p }}
                <button class="btn btn-secondary" type="submit">Сохранить</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}