{% extends 'rzmr/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-uzm">
            <h4>{{ title }}</h4>
            <div class="horizontal-line-uzm"></div>
            <p class="pt-4">
                {{ company_name }} ({{ company_name_short }}) является одним из крупнейших поставщиков промышленного
                оборудования на рынке России и стран ближнего зарубежья. Наш опыт, наличие производственных мощностей
                позволяет в короткие сроки разрабатывать и производить уникальные, высоконадежные и долговечные изделия.
            </p>
            <p><strong>Основной номенклатурой предприятия являются:</strong></p>
            <p>Металлорукава - рукава высокого давления из нержавеющей стали производятся под серией РГМ;</p>
            <p>Сильфонные компенсаторы и фланцевые компенсаторы;</p>
            <p>Фторопластовые рукава (PTFE рукава) с плоской трубкой (РФП) и гофрированные фторопластовые рукава серии
                РФГ;</p>
            <p>Фильтра и агрегаты;</p>
            <p>Нестандартное оборудование и др.</p>
            <p>Выпускаемая продукция успешно находит свое применение в различных отраслях промышленности: атомной,
                автомобильной, судостроительной, металлургической, станкостроительной, нефтяной и др. {{ company_name }}
                имеет возможность выполнять разработку технической документации и изготовлять
                технологическую оснастку и нестандартное оборудование различного назначения: штампы, прессформы,
                станочные приспособления для механообработки, приспособления для выполнения сборочных работ,
                нестандартизированное оборудование и др.
            </p>
            <p>Мы уверены, от того, насколько ответственно мы подойдем к изготовлению изделий для Вас, зависит не только
                наш собственный успех, но и безопасность и надежность Вашего производства. Поэтому для реализации любой
                сделки мы привлекаем лучших специалистов из разных отраслей промышленности.
                Вся продукция Компании сертифицирована и соответствует ГОСТ и ТУ.</p>
            <p><strong>Наши преимущества</strong></p>
            <p>Всегда приятно отличаться, поэтому одной из наших важных задач является выделить ваши персональные
                потребности, возможно это будет короткие сроки выполнения заказа, а может быть условия оплаты, потому
                что Вы работаете только по предоплате, кому-то будет наиболее значимым получить более привлекательную
                стоимость. Специалисты {{ company_name_short }} будут всегда рады предложить наиболее гибкие условия
                работы.
            </p>
        </div>
    </div>
    <div class="row">
        <h4 class="text-center">Партнеры</h4>
        <div class="horizontal-line-uzm"></div>
    </div>
    <div class="row">
        <div class="row align-items-center">
            <div class="col-md-3 col-6 p-5">
                <img class="img-fluid rounded mx-auto d-block" src="{% static 'rzmr/img/logo-novatek.png' %}"
                    alt="logo-novatek">
            </div>
            <div class="col-md-3 col-6 p-5">
                <img class="img-fluid rounded mx-auto d-block" src="{% static 'rzmr/img/logo-rti.png' %}"
                    alt="logo-rti">
            </div>
            <div class="col-md-3 col-6 p-5">
                <img class="img-fluid rounded mx-auto d-block" src="{% static 'rzmr/img/logo-ugmpk.png' %}"
                    alt="logo-ugmpk">
            </div>
            <div class="col-md-3 col-6 p-5">
                <img class="img-fluid rounded mx-auto d-block" src="{% static 'rzmr/img/logo-oak.png' %}"
                    alt="logo-oak">
            </div>
            <div class="col-md-3 col-6 p-5">
                <img class="img-fluid rounded mx-auto d-block" src="{% static 'rzmr/img/logo-odk.gif' %}"
                    alt="logo-odk">
            </div>
            <div class="col-md-3 col-6 p-5">
                <img class="img-fluid rounded mx-auto d-block" src="{% static 'rzmr/img/logo-rosatom.png' %}"
                    alt="logo-rosatom">
            </div>
            <div class="col-md-3 col-6 p-5">
                <img class="img-fluid rounded mx-auto d-block" src="{% static 'rzmr/img/logo-gazprom.png' %}"
                    alt="logo-gazprom">
            </div>
            <div class="col-md-3 col-6 p-5">
                <img class="img-fluid rounded mx-auto d-block" src="{% static 'rzmr/img/logo-rosneft.png' %}"
                    alt="logo-rosneft">
            </div>
            <div class="col-md-3 col-6 p-5">
                <img class="img-fluid rounded mx-auto d-block" src="{% static 'rzmr/img/logo-lukoil.png' %}"
                    alt="logo-lukoil">
            </div>
            <div class="col-md-3 col-6 p-5">
                <img class="img-fluid rounded mx-auto d-block" src="{% static 'rzmr/img/logo-transneft.png' %}"
                    alt="logo-transneft">
            </div>
            <div class="col-md-3 col-6 p-5">
                <img class="img-fluid rounded mx-auto d-block" src="{% static 'rzmr/img/logo-technodinamica.png' %}"
                    alt="logo-technodinamica">
            </div>
            <div class="col-md-3 col-6 p-5">
                <img class="img-fluid rounded mx-auto d-block" src="{% static 'rzmr/img/logo-progres.png' %}"
                    alt="logo-progres">
            </div>
        </div>
    </div>
</div>
{% endblock content %}