{% extends 'rzmr/quick-release-coupling_base.html' %}
{% load static %}

{% block quick-release-couplings-info %}

<div class="container">
    <div class="row">
        <div class="col-12 border text-center m-1">
            <h3>Адаптор быстроразъёмного соединения типа "Камлок" (муфта)</h3>
            <img id="bigImage" class="resize-big-img" src="{% static 'rzmr/img/Муфта соединения типа Камлок.jpg' %}"
                alt="img-big">
        </div>
    </div>
    <div class="row">
        <div class="col-2 border d-flex m-1">
            <img class="resize-img" src="{% static 'rzmr/img/Муфта соединения типа Камлок.jpg' %}" alt="img1">
        </div>
        <div class="col-2 border d-flex m-1">
            <img class="resize-img" src="{% static 'rzmr/img/камлок_типB.jpg' %}" alt="img2">
        </div>
        <div class="col-2 border d-flex m-1">
            <img class="resize-img" src="{% static 'rzmr/img/камлок_типB.png' %}" alt="img3">
        </div>
    </div>
    <br>
    <h3>Технические характеристики и особенности конструкции</h3>
    <br>
    <div class="row">
        <div class="col-12">
            <table id="TABLE_1">
                <colgroup id="COLGROUP_2">
                    <col id="COL_3" />
                    <col id="COL_4" />
                    <col id="COL_5" />
                    <col id="COL_6" />
                    <col id="COL_7" />
                    <col id="COL_8" />
                    <col id="COL_9" />
                    <col id="COL_10" />
                    <col id="COL_11" />
                    <col id="COL_12" />
                    <col id="COL_13" />
                    <col id="COL_14" />
                </colgroup>
                <tbody id="TBODY_15">
                    <tr id="TR_16">
                        <td id="TD_17">
                            <b id="B_18">Ду</b>
                        </td>
                        <td id="TD_19">
                            <b id="B_20">13</b>
                        </td>
                        <td id="TD_21">
                            <b id="B_22">19</b>
                        </td>
                        <td id="TD_23">
                            <b id="B_24">24</b>
                        </td>
                        <td id="TD_25">
                            <b id="B_26">31</b>
                        </td>
                        <td id="TD_27">
                            <b id="B_28">38</b>
                        </td>
                        <td id="TD_29">
                            <b id="B_30">48</b>
                        </td>
                        <td id="TD_31">
                            <b id="B_32">62</b>
                        </td>
                        <td id="TD_33">
                            <b id="B_34">75</b>
                        </td>
                        <td id="TD_35">
                            <b id="B_36">100</b>
                        </td>
                        <td id="TD_37">
                            <b id="B_38">122</b>
                        </td>
                        <td id="TD_39">
                            <b id="B_40">150</b>
                        </td>
                    </tr>
                    <tr id="TR_41">
                        <td id="TD_42">
                            d
                        </td>
                        <td id="TD_43">
                            14
                        </td>
                        <td id="TD_44">
                            19
                        </td>
                        <td id="TD_45">
                            23
                        </td>
                        <td id="TD_46">
                            28
                        </td>
                        <td id="TD_47">
                            36
                        </td>
                        <td id="TD_48">
                            46
                        </td>
                        <td id="TD_49">
                            56
                        </td>
                        <td id="TD_50">
                            73
                        </td>
                        <td id="TD_51">
                            98
                        </td>
                        <td id="TD_52">
                            118
                        </td>
                        <td id="TD_53">
                            150
                        </td>
                    </tr>
                    <tr id="TR_54">
                        <td id="TD_55">
                            l
                        </td>
                        <td id="TD_56">
                            31
                        </td>
                        <td id="TD_57">
                            33
                        </td>
                        <td id="TD_58">
                            40
                        </td>
                        <td id="TD_59">
                            46
                        </td>
                        <td id="TD_60">
                            48
                        </td>
                        <td id="TD_61">
                            54
                        </td>
                        <td id="TD_62">
                            55
                        </td>
                        <td id="TD_63">
                            57
                        </td>
                        <td id="TD_64">
                            61
                        </td>
                        <td id="TD_65">
                            61
                        </td>
                        <td id="TD_66">
                            67
                        </td>
                    </tr>
                    <tr id="TR_67">
                        <td id="TD_68">
                            L
                        </td>
                        <td id="TD_69">
                            46
                        </td>
                        <td id="TD_70">
                            49
                        </td>
                        <td id="TD_71">
                            60
                        </td>
                        <td id="TD_72">
                            68
                        </td>
                        <td id="TD_73">
                            70
                        </td>
                        <td id="TD_74">
                            79
                        </td>
                        <td id="TD_75">
                            85
                        </td>
                        <td id="TD_76">
                            90
                        </td>
                        <td id="TD_77">
                            101
                        </td>
                        <td id="TD_78">
                            101
                        </td>
                        <td id="TD_79">
                            112
                        </td>
                    </tr>
                    <tr id="TR_80">
                        <td id="TD_81">
                            B
                        </td>
                        <td id="TD_82">
                            40
                        </td>
                        <td id="TD_83">
                            50
                        </td>
                        <td id="TD_84">
                            62
                        </td>
                        <td id="TD_85">
                            81
                        </td>
                        <td id="TD_86">
                            87
                        </td>
                        <td id="TD_87">
                            90
                        </td>
                        <td id="TD_88">
                            111
                        </td>
                        <td id="TD_89">
                            143
                        </td>
                        <td id="TD_90">
                            171
                        </td>
                        <td id="TD_91">
                            -
                        </td>
                        <td id="TD_92">
                            254
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <p>
                Камлоки - БРС (быстроразъемное соединение кулачкового типа) предназначенное для быстрой стыковки
                металлорукавов диаметром до 200мм. Соединение применяется практически во всех отраслях промышленности.
                Устройство кулачков муфты обеспечивает устойчивое к вибрации соединение с адаптером без использования
                дополнительного фиксирующего шплинта или других приспособлений. Рабочее давление камлоков составляет от
                10 до 20 кгс/см2, в зависимости от внутреннего диаметра.
            </p>
        </div>
    </div>
</div>

<style>
    #TABLE_1 {
        block-size: 137.953px;
        border-collapse: collapse;
        height: 137.953px;
        inline-size: 613px;
        perspective-origin: 306.5px 68.9688px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 306.5px 68.9766px;
        width: 613px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TABLE_1*/

    #TABLE_1:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TABLE_1:after*/

    #TABLE_1:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TABLE_1:before*/

    #COLGROUP_2 {
        block-size: 136.953px;
        border-collapse: collapse;
        box-sizing: border-box;
        height: 136.953px;
        inline-size: 612px;
        perspective-origin: 306px 68.4688px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 306px 68.4766px;
        width: 612px;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COLGROUP_2*/

    #COLGROUP_2:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COLGROUP_2:after*/

    #COLGROUP_2:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COLGROUP_2:before*/

    #COL_3 {
        block-size: 136.953px;
        border-collapse: collapse;
        box-sizing: border-box;
        height: 136.953px;
        inline-size: 47.9219px;
        perspective-origin: 23.9531px 68.4688px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 23.9609px 68.4766px;
        width: 47.9219px;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_3*/

    #COL_3:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_3:after*/

    #COL_3:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_3:before*/

    #COL_4 {
        block-size: 136.953px;
        border-collapse: collapse;
        box-sizing: border-box;
        height: 136.953px;
        inline-size: 46.625px;
        perspective-origin: 23.3125px 68.4688px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 23.3125px 68.4766px;
        width: 46.625px;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_4*/

    #COL_4:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_4:after*/

    #COL_4:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_4:before*/

    #COL_5 {
        block-size: 136.953px;
        border-collapse: collapse;
        box-sizing: border-box;
        height: 136.953px;
        inline-size: 47.5781px;
        perspective-origin: 23.7812px 68.4688px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 23.7891px 68.4766px;
        width: 47.5781px;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_5*/

    #COL_5:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_5:after*/

    #COL_5:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_5:before*/

    #COL_6,
    #COL_9 {
        block-size: 136.953px;
        border-collapse: collapse;
        box-sizing: border-box;
        height: 136.953px;
        inline-size: 47.6094px;
        perspective-origin: 23.7969px 68.4688px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 23.8047px 68.4766px;
        width: 47.6094px;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_6, #COL_9*/

    #COL_6:after,
    #COL_9:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_6:after, #COL_9:after*/

    #COL_6:before,
    #COL_9:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_6:before, #COL_9:before*/

    #COL_7 {
        block-size: 136.953px;
        border-collapse: collapse;
        box-sizing: border-box;
        height: 136.953px;
        inline-size: 46.6875px;
        perspective-origin: 23.3438px 68.4688px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 23.3438px 68.4766px;
        width: 46.6875px;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_7*/

    #COL_7:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_7:after*/

    #COL_7:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_7:before*/

    #COL_8 {
        block-size: 136.953px;
        border-collapse: collapse;
        box-sizing: border-box;
        height: 136.953px;
        inline-size: 45.9375px;
        perspective-origin: 22.9688px 68.4688px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 22.9688px 68.4766px;
        width: 45.9375px;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_8*/

    #COL_8:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_8:after*/

    #COL_8:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_8:before*/

    #COL_10 {
        block-size: 136.953px;
        border-collapse: collapse;
        box-sizing: border-box;
        height: 136.953px;
        inline-size: 46.9688px;
        perspective-origin: 23.4844px 68.4688px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 23.4844px 68.4766px;
        width: 46.9688px;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_10*/

    #COL_10:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_10:after*/

    #COL_10:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_10:before*/

    #COL_11 {
        block-size: 136.953px;
        border-collapse: collapse;
        box-sizing: border-box;
        height: 136.953px;
        inline-size: 55.2812px;
        perspective-origin: 27.6406px 68.4688px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 27.6406px 68.4766px;
        width: 55.2812px;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_11*/

    #COL_11:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_11:after*/

    #COL_11:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_11:before*/

    #COL_12 {
        block-size: 136.953px;
        border-collapse: collapse;
        box-sizing: border-box;
        height: 136.953px;
        inline-size: 58.6094px;
        perspective-origin: 29.2969px 68.4688px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 29.3047px 68.4766px;
        width: 58.6094px;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_12*/

    #COL_12:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_12:after*/

    #COL_12:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_12:before*/

    #COL_13 {
        block-size: 136.953px;
        border-collapse: collapse;
        box-sizing: border-box;
        height: 136.953px;
        inline-size: 57.1562px;
        perspective-origin: 28.5781px 68.4688px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 28.5781px 68.4766px;
        width: 57.1562px;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_13*/

    #COL_13:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_13:after*/

    #COL_13:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_13:before*/

    #COL_14 {
        block-size: 136.953px;
        border-collapse: collapse;
        box-sizing: border-box;
        height: 136.953px;
        inline-size: 64.0156px;
        perspective-origin: 32px 68.4688px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 32.0078px 68.4766px;
        width: 64.0156px;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_14*/

    #COL_14:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_14:after*/

    #COL_14:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_14:before*/

    #TBODY_15 {
        block-size: 136.953px;
        border-block-end-color: rgb(128, 128, 128);
        border-block-start-color: rgb(128, 128, 128);
        border-collapse: collapse;
        border-inline-end-color: rgb(128, 128, 128);
        border-inline-start-color: rgb(128, 128, 128);
        box-sizing: border-box;
        height: 136.953px;
        inline-size: 612px;
        perspective-origin: 306px 68.4688px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 306px 68.4766px;
        width: 612px;
        border: 0px none rgb(128, 128, 128);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TBODY_15*/

    #TBODY_15:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TBODY_15:after*/

    #TBODY_15:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TBODY_15:before*/

    #TR_16,
    #TR_41,
    #TR_54,
    #TR_67,
    #TR_80 {
        block-size: 27.3906px;
        border-block-end-color: rgb(128, 128, 128);
        border-block-start-color: rgb(128, 128, 128);
        border-collapse: collapse;
        border-inline-end-color: rgb(128, 128, 128);
        border-inline-start-color: rgb(128, 128, 128);
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 612px;
        perspective-origin: 306px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 306px 13.6953px;
        vertical-align: middle;
        width: 612px;
        border: 0px none rgb(128, 128, 128);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TR_16, #TR_41, #TR_54, #TR_67, #TR_80*/

    #TR_16:after,
    #TR_41:after,
    #TR_54:after,
    #TR_67:after,
    #TR_80:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TR_16:after, #TR_41:after, #TR_54:after, #TR_67:after, #TR_80:after*/

    #TR_16:before,
    #TR_41:before,
    #TR_54:before,
    #TR_67:before,
    #TR_80:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TR_16:before, #TR_41:before, #TR_54:before, #TR_67:before, #TR_80:before*/

    #TD_17,
    #TD_42,
    #TD_55,
    #TD_68,
    #TD_81 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 47.9219px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 23.9531px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 23.9609px 13.6953px;
        vertical-align: middle;
        width: 47.9219px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_17, #TD_42, #TD_55, #TD_68, #TD_81*/

    #TD_17:after,
    #TD_42:after,
    #TD_55:after,
    #TD_68:after,
    #TD_81:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_17:after, #TD_42:after, #TD_55:after, #TD_68:after, #TD_81:after*/

    #TD_17:before,
    #TD_42:before,
    #TD_55:before,
    #TD_68:before,
    #TD_81:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_17:before, #TD_42:before, #TD_55:before, #TD_68:before, #TD_81:before*/

    #B_18,
    #B_20,
    #B_22,
    #B_24,
    #B_26,
    #B_28,
    #B_30,
    #B_32,
    #B_34,
    #B_36,
    #B_38,
    #B_40 {
        border-collapse: collapse;
        box-sizing: border-box;
        perspective-origin: 0px 0px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 0px 0px;
        border-spacing: 2px 2px;
        font: 700 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#B_18, #B_20, #B_22, #B_24, #B_26, #B_28, #B_30, #B_32, #B_34, #B_36, #B_38, #B_40*/

    #B_18:after,
    #B_20:after,
    #B_22:after,
    #B_24:after,
    #B_26:after,
    #B_28:after,
    #B_30:after,
    #B_32:after,
    #B_34:after,
    #B_36:after,
    #B_38:after,
    #B_40:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 700 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#B_18:after, #B_20:after, #B_22:after, #B_24:after, #B_26:after, #B_28:after, #B_30:after, #B_32:after, #B_34:after, #B_36:after, #B_38:after, #B_40:after*/

    #B_18:before,
    #B_20:before,
    #B_22:before,
    #B_24:before,
    #B_26:before,
    #B_28:before,
    #B_30:before,
    #B_32:before,
    #B_34:before,
    #B_36:before,
    #B_38:before,
    #B_40:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 700 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#B_18:before, #B_20:before, #B_22:before, #B_24:before, #B_26:before, #B_28:before, #B_30:before, #B_32:before, #B_34:before, #B_36:before, #B_38:before, #B_40:before*/

    #TD_19,
    #TD_43,
    #TD_56,
    #TD_69,
    #TD_82 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 46.625px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 23.3125px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 23.3125px 13.6953px;
        vertical-align: middle;
        width: 46.625px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_19, #TD_43, #TD_56, #TD_69, #TD_82*/

    #TD_19:after,
    #TD_43:after,
    #TD_56:after,
    #TD_69:after,
    #TD_82:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_19:after, #TD_43:after, #TD_56:after, #TD_69:after, #TD_82:after*/

    #TD_19:before,
    #TD_43:before,
    #TD_56:before,
    #TD_69:before,
    #TD_82:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_19:before, #TD_43:before, #TD_56:before, #TD_69:before, #TD_82:before*/

    #TD_21,
    #TD_44,
    #TD_57,
    #TD_70,
    #TD_83 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 47.5781px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 23.7812px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 23.7891px 13.6953px;
        vertical-align: middle;
        width: 47.5781px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_21, #TD_44, #TD_57, #TD_70, #TD_83*/

    #TD_21:after,
    #TD_44:after,
    #TD_57:after,
    #TD_70:after,
    #TD_83:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_21:after, #TD_44:after, #TD_57:after, #TD_70:after, #TD_83:after*/

    #TD_21:before,
    #TD_44:before,
    #TD_57:before,
    #TD_70:before,
    #TD_83:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_21:before, #TD_44:before, #TD_57:before, #TD_70:before, #TD_83:before*/

    #TD_23,
    #TD_29,
    #TD_45,
    #TD_48,
    #TD_58,
    #TD_61,
    #TD_71,
    #TD_74,
    #TD_84,
    #TD_87 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 47.6094px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 23.7969px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 23.8047px 13.6953px;
        vertical-align: middle;
        width: 47.6094px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_23, #TD_29, #TD_45, #TD_48, #TD_58, #TD_61, #TD_71, #TD_74, #TD_84, #TD_87*/

    #TD_23:after,
    #TD_29:after,
    #TD_45:after,
    #TD_48:after,
    #TD_58:after,
    #TD_61:after,
    #TD_71:after,
    #TD_74:after,
    #TD_84:after,
    #TD_87:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_23:after, #TD_29:after, #TD_45:after, #TD_48:after, #TD_58:after, #TD_61:after, #TD_71:after, #TD_74:after, #TD_84:after, #TD_87:after*/

    #TD_23:before,
    #TD_29:before,
    #TD_45:before,
    #TD_48:before,
    #TD_58:before,
    #TD_61:before,
    #TD_71:before,
    #TD_74:before,
    #TD_84:before,
    #TD_87:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_23:before, #TD_29:before, #TD_45:before, #TD_48:before, #TD_58:before, #TD_61:before, #TD_71:before, #TD_74:before, #TD_84:before, #TD_87:before*/

    #TD_25,
    #TD_46,
    #TD_59,
    #TD_72,
    #TD_85 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 46.6875px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 23.3438px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 23.3438px 13.6953px;
        vertical-align: middle;
        width: 46.6875px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_25, #TD_46, #TD_59, #TD_72, #TD_85*/

    #TD_25:after,
    #TD_46:after,
    #TD_59:after,
    #TD_72:after,
    #TD_85:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_25:after, #TD_46:after, #TD_59:after, #TD_72:after, #TD_85:after*/

    #TD_25:before,
    #TD_46:before,
    #TD_59:before,
    #TD_72:before,
    #TD_85:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_25:before, #TD_46:before, #TD_59:before, #TD_72:before, #TD_85:before*/

    #TD_27,
    #TD_47,
    #TD_60,
    #TD_73,
    #TD_86 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 45.9375px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 22.9688px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 22.9688px 13.6953px;
        vertical-align: middle;
        width: 45.9375px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_27, #TD_47, #TD_60, #TD_73, #TD_86*/

    #TD_27:after,
    #TD_47:after,
    #TD_60:after,
    #TD_73:after,
    #TD_86:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_27:after, #TD_47:after, #TD_60:after, #TD_73:after, #TD_86:after*/

    #TD_27:before,
    #TD_47:before,
    #TD_60:before,
    #TD_73:before,
    #TD_86:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_27:before, #TD_47:before, #TD_60:before, #TD_73:before, #TD_86:before*/

    #TD_31,
    #TD_49,
    #TD_62,
    #TD_75,
    #TD_88 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 46.9688px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 23.4844px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 23.4844px 13.6953px;
        vertical-align: middle;
        width: 46.9688px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_31, #TD_49, #TD_62, #TD_75, #TD_88*/

    #TD_31:after,
    #TD_49:after,
    #TD_62:after,
    #TD_75:after,
    #TD_88:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_31:after, #TD_49:after, #TD_62:after, #TD_75:after, #TD_88:after*/

    #TD_31:before,
    #TD_49:before,
    #TD_62:before,
    #TD_75:before,
    #TD_88:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_31:before, #TD_49:before, #TD_62:before, #TD_75:before, #TD_88:before*/

    #TD_33,
    #TD_50,
    #TD_63,
    #TD_76,
    #TD_89 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 55.2812px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 27.6406px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 27.6406px 13.6953px;
        vertical-align: middle;
        width: 55.2812px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_33, #TD_50, #TD_63, #TD_76, #TD_89*/

    #TD_33:after,
    #TD_50:after,
    #TD_63:after,
    #TD_76:after,
    #TD_89:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_33:after, #TD_50:after, #TD_63:after, #TD_76:after, #TD_89:after*/

    #TD_33:before,
    #TD_50:before,
    #TD_63:before,
    #TD_76:before,
    #TD_89:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_33:before, #TD_50:before, #TD_63:before, #TD_76:before, #TD_89:before*/

    #TD_35,
    #TD_51,
    #TD_64,
    #TD_77,
    #TD_90 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 58.6094px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 29.2969px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 29.3047px 13.6953px;
        vertical-align: middle;
        width: 58.6094px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_35, #TD_51, #TD_64, #TD_77, #TD_90*/

    #TD_35:after,
    #TD_51:after,
    #TD_64:after,
    #TD_77:after,
    #TD_90:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_35:after, #TD_51:after, #TD_64:after, #TD_77:after, #TD_90:after*/

    #TD_35:before,
    #TD_51:before,
    #TD_64:before,
    #TD_77:before,
    #TD_90:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_35:before, #TD_51:before, #TD_64:before, #TD_77:before, #TD_90:before*/

    #TD_37,
    #TD_52,
    #TD_65,
    #TD_78,
    #TD_91 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 57.1562px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 28.5781px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 28.5781px 13.6953px;
        vertical-align: middle;
        width: 57.1562px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_37, #TD_52, #TD_65, #TD_78, #TD_91*/

    #TD_37:after,
    #TD_52:after,
    #TD_65:after,
    #TD_78:after,
    #TD_91:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_37:after, #TD_52:after, #TD_65:after, #TD_78:after, #TD_91:after*/

    #TD_37:before,
    #TD_52:before,
    #TD_65:before,
    #TD_78:before,
    #TD_91:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_37:before, #TD_52:before, #TD_65:before, #TD_78:before, #TD_91:before*/

    #TD_39,
    #TD_53,
    #TD_79 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 64.0156px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 32px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 32.0078px 13.6953px;
        vertical-align: middle;
        width: 64.0156px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_39, #TD_53, #TD_79*/

    #TD_39:after,
    #TD_53:after,
    #TD_79:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_39:after, #TD_53:after, #TD_79:after*/

    #TD_39:before,
    #TD_53:before,
    #TD_79:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_39:before, #TD_53:before, #TD_79:before*/

    #TD_66,
    #TD_92 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 64.0156px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 32px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 32.0078px 13.6953px;
        vertical-align: middle;
        width: 64.0156px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_66, #TD_92*/

    #TD_66:after,
    #TD_92:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_66:after, #TD_92:after*/

    #TD_66:before,
    #TD_92:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_66:before, #TD_92:before*/
</style>

{% endblock quick-release-couplings-info %}