{% extends 'rzmr/quick-release-coupling_base.html' %}
{% load static %}

{% block quick-release-couplings-info %}

<div class="container">
    <div class="row">
        <div class="col-12 border text-center m-1">
            <h3>Арматура "ПМТ"</h3>
            <img id="bigImage" class="resize-big-img" src="{% static 'rzmr/img/Окончание.jpg' %}" alt="img-big">
        </div>
    </div>
    <div class="row">
        <div class="col-2 border d-flex m-1">
            <img class="resize-img" src="{% static 'rzmr/img/Окончание.jpg' %}" alt="img1">
        </div>
        <div class="col-2 border d-flex m-1">
            <img class="resize-img" src="{% static 'rzmr/img/Арматура ПМТ.png' %}" alt="img2">
        </div>
    </div>
    <br>
    <h3>Технические характеристики и особенности конструкции</h3>
    <br>
    <div class="row">
        <div class="col-12">
            <table id="TABLE_1">
                <colgroup id="COLGROUP_2">
                    <col id="COL_3" />
                    <col id="COL_4" />
                    <col id="COL_5" />
                    <col id="COL_6" />
                    <col id="COL_7" />
                    <col id="COL_8" />
                    <col id="COL_9" />
                </colgroup>
                <tbody id="TBODY_10">
                    <tr id="TR_11">
                        <td id="TD_12">
                            <b id="B_13">Ду</b>
                        </td>
                        <td id="TD_14">
                            <b id="B_15">d</b>
                        </td>
                        <td id="TD_16">
                            <b id="B_17">d1</b>
                        </td>
                        <td id="TD_18">
                            <b id="B_19">d2</b>
                        </td>
                        <td id="TD_20">
                            <b id="B_21">L</b>
                        </td>
                        <td id="TD_22">
                            <b id="B_23">l</b>
                        </td>
                        <td id="TD_24">
                            <b id="B_25">b</b>
                        </td>
                    </tr>
                    <tr id="TR_26">
                        <td id="TD_27">
                            150
                        </td>
                        <td id="TD_28">
                            144
                        </td>
                        <td id="TD_29">
                            155
                        </td>
                        <td id="TD_30">
                            166
                        </td>
                        <td id="TD_31">
                            170
                        </td>
                        <td id="TD_32">
                            16
                        </td>
                        <td id="TD_33">
                            11
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <p>
                Арматура ПМТ - муфтовое соединение ПМТ-150 представление представляет собой обычное быстроразъемное
                соединение. На стык двух труб одевается резиновое кольцо ПМТ и соединения фиксируется металлической
                муфтой посредством закручивания двух болтов. Монтаж трубопроводов не требует затрат на сварку и высокой
                квалификации кадров.
            </p>
        </div>
    </div>
</div>

<style>
    #TABLE_1 {
        block-size: 55.7812px;
        border-collapse: collapse;
        height: 55.7812px;
        inline-size: 613px;
        perspective-origin: 306.5px 27.8906px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 306.5px 27.8906px;
        width: 613px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TABLE_1*/

    #TABLE_1:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TABLE_1:after*/

    #TABLE_1:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TABLE_1:before*/

    #COLGROUP_2 {
        block-size: 54.7812px;
        border-collapse: collapse;
        box-sizing: border-box;
        height: 54.7812px;
        inline-size: 612px;
        perspective-origin: 306px 27.3906px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 306px 27.3906px;
        width: 612px;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COLGROUP_2*/

    #COLGROUP_2:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COLGROUP_2:after*/

    #COLGROUP_2:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COLGROUP_2:before*/

    #COL_3 {
        block-size: 54.7812px;
        border-collapse: collapse;
        box-sizing: border-box;
        height: 54.7812px;
        inline-size: 100.031px;
        perspective-origin: 50.0156px 27.3906px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 50.0156px 27.3906px;
        width: 100.031px;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_3*/

    #COL_3:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_3:after*/

    #COL_3:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_3:before*/

    #COL_4 {
        block-size: 54.7812px;
        border-collapse: collapse;
        box-sizing: border-box;
        height: 54.7812px;
        inline-size: 95.5px;
        perspective-origin: 47.75px 27.3906px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 47.75px 27.3906px;
        width: 95.5px;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_4*/

    #COL_4:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_4:after*/

    #COL_4:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_4:before*/

    #COL_5 {
        block-size: 54.7812px;
        border-collapse: collapse;
        box-sizing: border-box;
        height: 54.7812px;
        inline-size: 98.9219px;
        perspective-origin: 49.4531px 27.3906px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 49.4609px 27.3906px;
        width: 98.9219px;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_5*/

    #COL_5:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_5:after*/

    #COL_5:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_5:before*/

    #COL_6 {
        block-size: 54.7812px;
        border-collapse: collapse;
        box-sizing: border-box;
        height: 54.7812px;
        inline-size: 98.9688px;
        perspective-origin: 49.4844px 27.3906px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 49.4844px 27.3906px;
        width: 98.9688px;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_6*/

    #COL_6:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_6:after*/

    #COL_6:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_6:before*/

    #COL_7 {
        block-size: 54.7812px;
        border-collapse: collapse;
        box-sizing: border-box;
        height: 54.7812px;
        inline-size: 96.0938px;
        perspective-origin: 48.0469px 27.3906px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 48.0469px 27.3906px;
        width: 96.0938px;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_7*/

    #COL_7:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_7:after*/

    #COL_7:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_7:before*/

    #COL_8 {
        block-size: 54.7812px;
        border-collapse: collapse;
        box-sizing: border-box;
        height: 54.7812px;
        inline-size: 67.8594px;
        perspective-origin: 33.9219px 27.3906px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 33.9297px 27.3906px;
        width: 67.8594px;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_8*/

    #COL_8:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_8:after*/

    #COL_8:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_8:before*/

    #COL_9 {
        block-size: 54.7812px;
        border-collapse: collapse;
        box-sizing: border-box;
        height: 54.7812px;
        inline-size: 54.625px;
        perspective-origin: 27.3125px 27.3906px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 27.3125px 27.3906px;
        width: 54.625px;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_9*/

    #COL_9:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_9:after*/

    #COL_9:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_9:before*/

    #TBODY_10 {
        block-size: 54.7812px;
        border-block-end-color: rgb(128, 128, 128);
        border-block-start-color: rgb(128, 128, 128);
        border-collapse: collapse;
        border-inline-end-color: rgb(128, 128, 128);
        border-inline-start-color: rgb(128, 128, 128);
        box-sizing: border-box;
        height: 54.7812px;
        inline-size: 612px;
        perspective-origin: 306px 27.3906px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 306px 27.3906px;
        width: 612px;
        border: 0px none rgb(128, 128, 128);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TBODY_10*/

    #TBODY_10:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TBODY_10:after*/

    #TBODY_10:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TBODY_10:before*/

    #TR_11,
    #TR_26 {
        block-size: 27.3906px;
        border-block-end-color: rgb(128, 128, 128);
        border-block-start-color: rgb(128, 128, 128);
        border-collapse: collapse;
        border-inline-end-color: rgb(128, 128, 128);
        border-inline-start-color: rgb(128, 128, 128);
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 612px;
        perspective-origin: 306px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 306px 13.6953px;
        vertical-align: middle;
        width: 612px;
        border: 0px none rgb(128, 128, 128);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TR_11, #TR_26*/

    #TR_11:after,
    #TR_26:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TR_11:after, #TR_26:after*/

    #TR_11:before,
    #TR_26:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TR_11:before, #TR_26:before*/

    #TD_12,
    #TD_27 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 100.031px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 50.0156px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 50.0156px 13.6953px;
        vertical-align: middle;
        width: 100.031px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_12, #TD_27*/

    #TD_12:after,
    #TD_27:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_12:after, #TD_27:after*/

    #TD_12:before,
    #TD_27:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_12:before, #TD_27:before*/

    #B_13,
    #B_15,
    #B_17,
    #B_19,
    #B_21,
    #B_23,
    #B_25 {
        border-collapse: collapse;
        box-sizing: border-box;
        perspective-origin: 0px 0px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 0px 0px;
        border-spacing: 2px 2px;
        font: 700 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#B_13, #B_15, #B_17, #B_19, #B_21, #B_23, #B_25*/

    #B_13:after,
    #B_15:after,
    #B_17:after,
    #B_19:after,
    #B_21:after,
    #B_23:after,
    #B_25:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 700 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#B_13:after, #B_15:after, #B_17:after, #B_19:after, #B_21:after, #B_23:after, #B_25:after*/

    #B_13:before,
    #B_15:before,
    #B_17:before,
    #B_19:before,
    #B_21:before,
    #B_23:before,
    #B_25:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 700 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#B_13:before, #B_15:before, #B_17:before, #B_19:before, #B_21:before, #B_23:before, #B_25:before*/

    #TD_14,
    #TD_28 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 95.5px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 47.75px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 47.75px 13.6953px;
        vertical-align: middle;
        width: 95.5px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_14, #TD_28*/

    #TD_14:after,
    #TD_28:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_14:after, #TD_28:after*/

    #TD_14:before,
    #TD_28:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_14:before, #TD_28:before*/

    #TD_16,
    #TD_29 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 98.9219px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 49.4531px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 49.4609px 13.6953px;
        vertical-align: middle;
        width: 98.9219px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_16, #TD_29*/

    #TD_16:after,
    #TD_29:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_16:after, #TD_29:after*/

    #TD_16:before,
    #TD_29:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_16:before, #TD_29:before*/

    #TD_18,
    #TD_30 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 98.9688px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 49.4844px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 49.4844px 13.6953px;
        vertical-align: middle;
        width: 98.9688px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_18, #TD_30*/

    #TD_18:after,
    #TD_30:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_18:after, #TD_30:after*/

    #TD_18:before,
    #TD_30:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_18:before, #TD_30:before*/

    #TD_20,
    #TD_31 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 96.0938px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 48.0469px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 48.0469px 13.6953px;
        vertical-align: middle;
        width: 96.0938px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_20, #TD_31*/

    #TD_20:after,
    #TD_31:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_20:after, #TD_31:after*/

    #TD_20:before,
    #TD_31:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_20:before, #TD_31:before*/

    #TD_22,
    #TD_32 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 67.8594px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 33.9219px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 33.9297px 13.6953px;
        vertical-align: middle;
        width: 67.8594px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_22, #TD_32*/

    #TD_22:after,
    #TD_32:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_22:after, #TD_32:after*/

    #TD_22:before,
    #TD_32:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_22:before, #TD_32:before*/

    #TD_24,
    #TD_33 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 54.625px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 27.3125px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 27.3125px 13.6953px;
        vertical-align: middle;
        width: 54.625px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_24, #TD_33*/

    #TD_24:after,
    #TD_33:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_24:after, #TD_33:after*/

    #TD_24:before,
    #TD_33:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_24:before, #TD_33:before*/
</style>
{% endblock quick-release-couplings-info %}