<!DOCTYPE html>
<html lang="ru">
{% load static %}
{% load i18n %}


<head>
    <meta charset="utf-8">
    <meta name="author" content="Смирнов Юрий Валерьевич">
    <meta name="publisher-email" content="xacan-mail@mail.ru">
    <meta name="copyright" Content="ООО Русский завод металлорукавов">
    <meta name="keywords" Content="металлорукав, фильтр, фторопластовый рукав">
    <meta name="description"
        Content="Производство метталорукавов, фильтров, фторопластовых рукавов, онлайн конструктор и продажа изделий">
    <meta name="Publisher-URL" Content="auto-norms.ru">
    <meta http-equiv="pragma" Content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="shortcut icon" href="{% static 'rzmr/img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'rzmr/fonts/ProximaNova/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'rzmr/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'rzmr/css/main.css' %}">
    <title>{{ title }}</title>
</head>

<body class="d-flex flex-column min-vh-100">
    <header>
        <div class="contacts fs-md-media-uzm sticky-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="d-xl-block d-none col-3">
                        <div class="header-element">
                            <span>г.Санкт-Петербург, ул.Замшина, д.31 К.4, офис 3-Н/4</span>
                        </div>
                    </div>
                    <div class="d-none d-md-block col-2">
                        <div class="header-element">
                            <a href="mailto:{{ company_email }}">{{ company_email }}</a>
                        </div>
                    </div>
                    <div class="d-xl-block d-none col-2">
                        <div class="header-element">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#requestPhoneCallModal">{% trans 'Request a call' %}</a>
                        </div>
                    </div>
                    <!-- <div class="d-xl-block d-none col-1">
                        <div class="header-element">
                            <a href="#">Пригласить на тендер</a>
                        </div>
                    </div> -->
                    <div class="col-xl-2 col-md-4 col-8">
                        <div class="header-element">
                            <!-- <a href="{% url 'home' %}">
                                <img src="{% static 'rzmr/img/russian-flag.png' %}" alt="Русский язык">Рус</a>
                            <a href="#">
                                <img src="{% static 'rzmr/img/english-flag.png' %}" alt="English">Eng</a>
                            <a href="#">
                                <img src="{% static 'rzmr/img/kazakhstan-flag.png' %}" alt="Қазақша">Қаз</a>
                            <a href="#">
                                <img src="{% static 'rzmr/img/belarus-flag.png' %}" alt="Беларуская мова">Блр</a> -->
                            
                            <form class="d-flex" action="{% url 'set_language' %}" method="post">
                                {% csrf_token %}
                                <input name="next" type="hidden" value="{{ redirect_to }}">
                                <select class="form-select form-select-sm w-50" name="language">
                                    {% get_current_language as LANGUAGE_CODE %}
                                    {% get_available_languages as LANGUAGES %}
                                    {% get_language_info_list for LANGUAGES as languages %}
                                    {% for language in languages %}
                                        <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                            {{ language.name_local }} ({{ language.code }})
                                        </option>
                                    {% endfor %}
                                </select>
                                <input class="btn btn-secondary btn-sm w-50 mx-1" type="submit" value="{% trans 'Change' %}">
                            </form>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-4">
                        <div class="header-element">
                            <div class="top-end">
                                <div class="user">
                                    {% if user.is_authenticated %}
                                    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                                    </svg>
                                    <a href="{% url 'personal-account' %}">Личный кабинет</a> -->
                                    {% endif %}
                                </div>
                                <ul class="user-login">
                                    {% if user.is_authenticated %}
                                    <li>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                                        </svg>
                                        <a href="{% url 'personal-account' %}">{% trans 'Personal account' %}</a>
                                    </li>
                                    <li>
                                        <form method="post" action="{% url 'logout' %}">
                                            {% csrf_token %}
                                            <button class="btn btn-shop-logout" type="submit" 
                                                style="--bs-btn-padding-y: .1rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .85rem;">
                                                {% trans 'Log out' %}
                                            </button>
                                        </form>
                                    </li>
                                    <li>
                                        <div>{{ user }}</div>
                                    </li>
                                    {% else %}
                                    <li>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                                        </svg>
                                        <a href="{% url 'login' %}">{% trans 'Log in' %}</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'registration' %}">{% trans 'Register' %}</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="header-element">
                            <!-- <a href="tel:88005555756">8-800-5555-756</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container pt-3">
            <div class="row">
                <div class="col-xl-5 col-4">
                    <div class="horizontal-line-uzm"></div>
                </div>
                <div class="col-xl-2 col-4">
                    <a href="{% url 'home' %}"><img src="{% static 'rzmr/img/logo.svg' %}" alt="logo"></a>
                </div>
                <div class="col-xl-3 col-1">
                    <div class="horizontal-line-uzm"></div>
                </div>
                <!-- <div class="col-xl-2 col-3 text-end">
                    <div class="button-uzm">
                        <a href="{% url 'home-shop' %}" type="button" class="btn btn-danger btn-sm">Онлайн магазин</a>
                    </div>
                </div> -->
                <div class="col-xl-2 col-3">
                    <div class="navbar-cart">
                        <div class="wishlist d-md-block d-none">
                            {%  if user.is_authenticated %}
                            <a href="{% url 'wishlist' %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                </svg>
                                <span class="total-items" id="shop-total-wishlist">0</span>
                            </a>
                            {% else %}
                            <a href="{% url 'login' %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                </svg>
                                <span class="total-items">0</span>
                            </a>
                            {% endif %}
                        </div>
                        <div class="cart-items d-md-block d-none" id="shop-cart-header">
                            <a href="{% url 'cart' %}" class="main-btn">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                </svg>
                                <span id="shop-total-items" class="total-items"></span>
                            </a>
                            <!-- Корзина на главной странице -->
                            <div class="shopping-item">
                                <div class="dropdown-cart-header">
                                    <span id="shop-total-quantity-cart"></span>
                                    <a href="{% url 'cart' %}">{% trans 'View cart' %}</a>
                                </div>
                                <ul class="shopping-list">
                                    
                                </ul>
                                <div class="bottom">
                                    
                                </div>
                            </div>
                            <!-- Конец корзины -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <nav class="navbar navbar-expand-xl">
                    <!-- <a href="#" class="navbar-brand">UZM</a> -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarContent">
                        <ul class="navbar-nav mr-auto mb-2">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown1" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">{% trans 'Company' %}</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                    <li><a class="dropdown-item" href="{% url 'about' %}">{% trans 'About us' %}</a></li>
                                    <li><a class="dropdown-item" href="{% url 'quality' %}">{% trans 'Quality and certification system' %}</a>
                                    </li>
                                    <!-- <li><hr class="dropdown-divider"></li> -->
                                    <li><a class="dropdown-item" href="{% url 'our-customer' %}">{% trans 'Our clients' %}</a></li>
                                    <li><a class="dropdown-item" href="{% url 'vacancies' %}">{% trans 'Career' %}</a></li>
                                    {% if LANGUAGE_CODE == 'ru' %}
                                    <li><a class="dropdown-item" href="{% url 'for-suppliers' %}">Поставщикам</a></li>
                                    <li><a class="dropdown-item" href="{% url 'posts' %}">Статьи</a></li>
                                    <!-- <li><a class="dropdown-item" href="#">Новости</a></li> -->
                                    <li><a class="dropdown-item" href="{% url 'contacts' %}">Контакты</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown2" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">{% trans 'Metal hoses' %}</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                    <li><a class="dropdown-item" href="{% url 'metalhoses' %}">{% trans 'Metal hoses' %}</a></li>
                                    <li><a class="dropdown-item" href="{% url 'metalhoses-fittings' %}">{% trans 'Fittings' %}</a></li>
                                    <li><a class="dropdown-item" href="{% url 'metalhoses-recommendations' %}">{% trans 'Guidance' %}</a></li>
                                    <li><a class="dropdown-item" href="{% url 'metalhoses-installation' %}">{% trans 'Installations' %}</a></li>
                                    <li><a class="dropdown-item" href="{% url 'metalhoses-standarts-grm' %}">{% trans 'Quality standards' %}</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown3" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">{% trans 'PTFE Metal hoses' %}</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
                                    <li><a class="dropdown-item" href="{% url 'ptfe' %}">{% trans 'PH (fluoroplastic hose)  PTFE hoses' %}</a>
                                    </li>
                                    <li><a class="dropdown-item" href="{% url 'ptfe-recommendations' %}">{% trans 'Guidance' %}</a></li>
                                    <li><a class="dropdown-item" href="{% url 'ptfe-fittings' %}">{% trans 'Fittings' %}</a></li>
                                    <li><a class="dropdown-item" href="{% url 'ptfe-standarts' %}">{% trans 'Quality standards' %}</a></li>
                                    <!-- <li><a class="dropdown-item" href="#">Гофрированные</a></li> -->
                                    <!-- <li><a class="dropdown-item" href="#">Серийная продукция</a></li> -->
                                </ul>
                            </li>
                            {% if LANGUAGE_CODE != 'kk' %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown3" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">{% trans 'Composite hoses' %}</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
                                    <li><a class="dropdown-item" href="{% url 'composite' %}">{% trans 'All composite hoses' %}</a></li>
                                    <li><a class="dropdown-item" href="{% url 'composite' 'EGE' %}">{% trans 'EGE construction' %}</a></li>
                                    <li><a class="dropdown-item" href="{% url 'composite' 'SSE' %}">{% trans 'SSE construction' %}</a></li>
                                    <li><a class="dropdown-item" href="{% url 'composite' 'SST' %}">{% trans 'SST construction' %}</a></li>
                                    <li><a class="dropdown-item" href="{% url 'composite' 'SGT' %}">{% trans 'SGT construction' %}</a></li>
                                    <li><a class="dropdown-item" href="{% url 'composite' 'SGE' %}">{% trans 'SGE construction' %}</a></li>
                                    <li><a class="dropdown-item" href="{% url 'composite' 'GGE' %}">{% trans 'GGE construction' %}</a></li>
                                    <li><a class="dropdown-item" href="{% url 'composite' 'AAE' %}">{% trans 'AAE construction' %}</a></li>
                                </ul>
                            </li>
                            {% endif %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownShop" role="button"
                                    data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">{% trans 'Filters and units' %}</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownShop">
                                    {% include 'shop/categories.html' %}
                                    {% if LANGUAGE_CODE == 'ru' %}
                                    <li><a class="dropdown-item" href="{% url 'workspace-filters' %}">Справочные материалы</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                            {% if LANGUAGE_CODE == 'ru' %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown5" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">Концевая арматура</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown5">
                                    <li><a class="dropdown-item" href="{% url 'fittings' %}">Резьбовая арматура</a></li>
                                    <li><a class="dropdown-item" href="{% url 'flanges' %}">Фланцевые соединения</a></li>
                                    <li><a class="dropdown-item" href="{% url 'quick-release-coupling' %}">Быстроразъемные соединения</a></li>
                                </ul>
                            </li>
                            {% endif %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown6" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">{% trans 'Engineering and non-standard equipment' %}</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown6">
                                    <li><a class="dropdown-item" href="{% url 'engineering' %}">{% trans 'Сustom-made products' %}</a></li>
                                    <li><a class="dropdown-item" href="{% url 'engineering-accessories' %}">{% trans 'Technological equipment' %}</a></li>
                                    <li><a class="dropdown-item" href="{% url 'engineering-test' %}">{% trans 'Leak and strength tests' %}</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'metalhose-constructor' %}" class="nav-link">{% trans 'Online constructor' %}</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                {% if request.path != '/' and 'shop' not in request.path or breadcrumb %}
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item small"><a href="{% url 'home' %}">{% trans 'Home page' %}</a></li>
                        {% for url_name, url_title in breadcrumb %}
                        <li class="breadcrumb-item small"><a href="{% url url_name %}">{{ url_title }}</a></li>
                        {% endfor %}
                        <li class="breadcrumb-item small active" aria-current="page">{{ title }}</li>
                    </ol>
                </nav>
                {% elif 'shop' in request.path %}
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item small"><a href="{% url 'home' %}">{% trans 'Home page' %}</a></li>
                        {% for parent in parent_categories %}
                        <li class="breadcrumb-item small"><a href="{% url 'product-list' parent.slug %}">{{ parent.name }}</a></li>
                        {% endfor %}
                        <li class="breadcrumb-item small active" aria-current="page">{{ title }}</li>
                    </ol>
                </nav>
                {% endif %}
            </div>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock content %}
        {% include 'rzmr/request_phone_call_modal.html' %}
    </main>

    <footer class="mt-auto position-sticky top-100 fs-xl-media-uzm">
        <div class="container container-footer d-sm-block d-none">
            <div class="row">
                <div class="d-md-block d-none col-md-3 col-6">
                    <a href="{% url 'home' %}"><img src="{% static 'rzmr/img/logo2.svg' %}" width="180" height="60"
                            alt="logo2"></a>
                    <p class="footer-title">{% trans 'Company' %}</p>
                    <div><a href="{% url 'quality' %}">{% trans 'Quality and certification system' %}</a></div>
                    <div><a href="{% url 'our-customer' %}">{% trans 'Our clients' %}</a></div>
                    <div><a href="{% url 'vacancies' %}">{% trans 'Career' %}</a></div>
                </div>
                <div class="d-md-block d-none col-3">
                    <p class="footer-title">{% trans 'Metal hoses' %}</p>
                    <div><a href="{% url 'metalhoses-fittings' %}">{% trans 'Fittings' %}</a></div>
                    <div><a href="{% url 'metalhoses-recommendations' %}">{% trans 'Guidance' %}</a></div>
                    <div><a href="{% url 'metalhoses-installation' %}">{% trans 'Installations' %}</a></div>
                    <div><a href="{% url 'metalhoses-standarts-grm' %}">{% trans 'Quality standards' %}</a></div>
                </div>
                <div class="d-md-block d-none col-3">
                    <p class="footer-title">{% trans 'PTFE Metal hoses' %}</p>
                    <div><a href="{% url 'ptfe' %}">{% trans 'PH (fluoroplastic hose)  PTFE hoses' %}</a></div>
                    <div><a href="{% url 'ptfe-fittings' %}">{% trans 'Fittings' %}</a></div>
                    <div><a href="{% url 'ptfe-recommendations' %}">{% trans 'Guidance' %}</a></div>
                    <div><a href="{% url 'ptfe-standarts' %}">{% trans 'Quality standards' %}</a></div>
                </div>
                <div class="d-md-block d-none col-md-3 col-6">
                    {% if LANGUAGE_CODE == 'ru' %}
                    <p class="footer-title">Фильтры и агрегаты</p>
                    <div><a href="#">Топливные фильтры</a></div>
                    <div><a href="#">Гидравлические фильтры</a></div>
                    <div><a href="#">Воздушные фильтра</a></div>
                    <div><a href="#">Фильтроэлементы</a></div>
                    <div><a href="#">Агрегаты</a></div>
                    <div><a href="#">Изделия разного назначения</a></div>
                    <div><a href="#">Справочные материалы</a></div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="d-md-block d-none col-3">
                    {% if LANGUAGE_CODE == 'ru' %}
                    <p class="footer-title">Концевая арматура</p>
                    <div><a href="#">Резьбовая арматура</a></div>
                    <div><a href="#">Фланцевые соединения</a></div>
                    <div><a href="#">Быстроразъемные соединения</a></div>
                    <div><a href="#">Решения по чертежам заказчика</a></div>
                    {% endif %}
                </div>
                <div class="d-md-block d-none col-3">
                    <p class="footer-title">{% trans 'Engineering and non-standard equipment' %}</p>
                    <div><a href="{% url 'engineering-accessories' %}">{% trans 'Technological equipment' %}</a></div>
                    <div><a href="{% url 'engineering' %}">{% trans 'Сustom-made products' %}</a></div>
                    <div><a href="{% url 'engineering-test' %}">{% trans 'Leak and strength tests' %}</a></div>
                </div>
                <div class="col-md-3 col-6">
                    <p class="footer-title">Россия</p>
                    <!-- <div><a href="tel:+74996492949">+7 (499) 649-29-49</a></div>
                    <div><a href="tel:+78122133121">+7 (812) 213-31-21</a></div>
                    <div><a href="tel:+73433579710">+7 (343) 357-97-10</a></div> -->
                    <p class="footer-title">Казахстан</p>
                    <!-- <div><a href="tel:+77172727217">+7 (717) 272-72-17</a></div> -->
                </div>
                <div class="col-md-3 col-6">
                    <p class="footer-title">{% trans 'Contacts' %}</p>
                    <!-- <div><a href="tel:+78005555756">+7 (800) 5555-756</a></div>
                    <div><a href="tel:+73472929864">+7 (347) 292-98-64</a></div>
                    <div><a href="tel:+73472747387">+7 (347) 274-73-87</a></div> -->
                    <div><a href="#" data-bs-toggle="modal" data-bs-target="#requestPhoneCallModal">{% trans 'Request a call' %}</a></div>
                    <div><a href="mailto:{{ company_email }}">{{ company_email }}</a></div>
                    <div><a href="#">г.Санкт-Петербург, ул.Замшина, д.31 К.4, офис 3-Н/4</a></div>
                </div>
            </div>
        </div>
        <div class="footer-end">
            <span>©{% now 'Y' %} {% trans '«Russian factory of metal hoses» Co.Ltd' %}. {% trans 'All rights reserved' %}. </span>
            <a href="{% url 'privacy' %}">{% trans 'Privacy policy' %}</a>
        </div>
    </footer>

    <script src="{% static 'rzmr/js/bootstrap.bundle.min.js' %}"></script>
    {% if DEBUG %}
    <script src="{% static 'shop/js/shop_client.js' %}"></script>
    {% else %}
    <script src="{% static 'shop/js/shop_client_compile.js' %}"></script>
    {% endif %}
</body>
</html>