{% extends 'rzmr/base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="h3 fw-bold">Композитные рукава в {{ city_pre }} от производителя {{ company_name_short }} </h1>
        </div>
    </div>
    <div class="py-3 border-bottom">

    </div>
    <div class="row">
        <div class="col-4 border-end">
            <img src="{% static 'rzmr/img/composite_head.jpg' %}" alt="composite">
        </div>
        <div class="col-8 text-uzm">
            {% if city_location == 'Москва' %}

            <p>Это решение представляет собой совершенное сочетание прочности, гибкости и надежности, обеспечивая защиту
                оборудования и окружающей среды, высокую производительность и надежность промышленных и
                транспортировочных процессов. Вы можете купить композитные рукава для нефтепродуктов в Москве в
                {{ company_name_short }}. Мы располагаем собственным производством и развитой логистической сетью,
                которая позволяет нам обеспечивать надежную и оперативную доставку в различные города.</p>
            <p>Изготовленные из высококачественных материалов, композитные шланги обладают отличной устойчивостью к
                различным химическим веществам и агрессивным средам, что делает их идеальным выбором для перекачки
                нефтепродуктов. Они легки в установке и обслуживании, сокращая время простоя и повышая
                производительность предприятия.</p>
            <p>Эксплуатационные характеристики изделий говорят сами за себя. Они обладают исключительной степенью
                износостойкости, устойчивы к ультрафиолетовому излучению и не требуют специального обслуживания на
                протяжении всего срока службы. Благодаря своей гибкости, они легко адаптируются к различным условиям
                эксплуатации, что делает их идеальным выбором для широкого спектра отраслей, включая нефтегазовую,
                химическую и промышленную.</p>
            <p>Не упустите шанс обеспечить безопасность и эффективность производства &ndash; закажите композитные шланги
                для нефтепродуктов от {{ company_name_short }}. Звоните по номеру
                <a href="tel:+74996492949">+7 (499) 649-29-49</a>, чтобы узнать больше о наших продуктах и получить
                консультацию от наших экспертов. А также оставьте заявку на нашем сайте, и мы свяжемся с вами в
                кратчайшие сроки. Обеспечьте себе и своему бизнесу надежность и качество с продукцией от проверенного
                производителя!
            </p>

            {% elif city_location == 'Екатеринбург' %}

            <p>В компании {{ company_name }} вы можете заказать композитные рукава для
                нефтепродуктов в Екатеринбурге. Мы гарантируем качество каждого изделия и надежную доставку, а также
                выгодные условия сотрудничества от производителя!</p>
            <h4>Инновационные Материалы</h4>
            <ul>
                <li>Изготовлены из современных композитных материалов, обеспечивающих высокую прочность и долговечность.
                </li>
                <li>Устойчивы к агрессивным химическим веществам и внешним воздействиям, что гарантирует безопасную
                    транспортировку жидких и газовых рабочих средств.</li>
            </ul>
            <h4>Высокая гибкость и удобство монтажа</h4>
            <ul>
                <li>Гибкие и легкие конструкции обеспечивают легкость установки и использования.</li>
                <li>Позволяют справляться с различными условиями эксплуатации, включая острые гидроудары, агрессивное
                    химическое воздействие и перепады температур.</li>
            </ul>
            <h4>Эффективность и производительность</h4>
            <ul>
                <li>Гладкая внутренняя поверхность снижает трение и минимизирует потери давления, обеспечивая
                    эффективную транспортировку продуктов.</li>
                <li>Оптимизированные диаметры и конструкции позволяют обеспечить высокую скорость прокачки рабочей
                    среды.</li>
            </ul>

            <h4>Поддержка и обслуживание</h4>
            <ul>
                <li>Команда специалистов {{ company_name_short }} готова предоставить консультации и поддержку в выборе
                    наиболее подходящего решения.</li>
                <li>Мы обеспечиваем быструю доставку и гарантированное качество продукции.</li>
            </ul>
            <p>Хотите купить композитные шланги для нефтепродуктов в Екатеринбурге? Звоните нам по номеру
                <a href="tel:+73433579710">+7 (343) 357-97-10</a> или оставьте заявку на нашем сайте прямо сейчас! Наша
                команда поможет подобрать оптимальное решение для ваших потребностей.
            </p>

            {% elif city_location == 'Челябинск' %}

            <p>Это специальные гибкие трубопроводы, изготовленные из комбинации различных материалов, включающих в себя
                внешнюю и наружную проволочные оплетки, полимерную оболочку шланга и наружный слой, содержащий ПВХ. Они
                предназначены для транспортировки различных жидкостей и газов таких как сырая нефть, бензин, природный
                газ и другие вещества, в различных отраслях промышленности, включая нефтегазовую промышленность,
                химическое производство, автомобильную промышленность и даже сельское хозяйство. Вы можете купить
                композитные рукава для нефтепродуктов в Челябинске в компании {{ company_name_short }}.</p>
            <p>Они обладают рядом преимуществ перед традиционными материалами, такими как стальные трубы или резиновые
                шланги.</p>
            <ul>
                <li>Они легче и гибче, что делает их удобными в установке и эксплуатации.</li>
                <li>Обычно имеют высокую стойкость к коррозии, что делает их идеальным выбором для перекачиваемых
                    жидкостей, таких как продукты нефтепереработки, которые могут быть агрессивными к стандартным
                    материалам.</li>
                <li>Другое преимущество заключается в долговечности и надежности. Они обычно имеют длительный срок
                    службы и требуют минимального обслуживания, что позволяет снизить затраты на эксплуатацию и
                    обслуживание.</li>
            </ul>
            <p>Заказать композитные шланги для нефтепродуктов &ndash; эффективное и надежное решение для транспортировки
                различных химических веществ, чтобы обеспечить безопасность и эффективность процесса передачи.
                Обратитесь к {{ company_name }}, чтобы совершить выгодную покупку с надежной
                доставкой в Челябинск! Позвоните по номеру <a href="tel:88005555756">8 (800) 5555-756</a> или оставьте
                заявку на сайте.
            </p>

            {% elif city_location == 'Магнитогорск' %}

            <p>Это функциональное сочетание инновационных материалов, обеспечивающих надежность и долговечность в любых
                условиях эксплуатации. Вы можете купить композитные рукава для нефтепродуктов в Магнитогорске в
                {{ company_name_short }}. Мы гарантируем стопроцентное качество продукции, быструю и надежную доставку,
                а также выгодные условия сотрудничества напрямую с производителем.</p>
            <h4>Устройство гибких полимерных трубопроводов</h4>
            <ul>
                <li>Внутренний слой состоит из высокопрочного полипропилена, обеспечивающего непревзойденную химическую
                    стойкость и предотвращающего проникновение нефтепродуктов через стенки рукава.</li>
                <li>Проволочная оболочка из нержавеющей стали придает изделию устойчивость к механическим повреждениям и
                    давлению, а также защищающей рабочую среду от внешних воздействий.</li>
                <li>Дополнительное покрытие из ткани с содержанием ПВХ обеспечивает дополнительную защиту от агрессивных
                    веществ и ультрафиолетового излучения, что делает изделие идеальным выбором для эксплуатации в самых
                    разных условиях.</li>
            </ul>
            <p>Такая конструкция делает эти изделия востребованными для использования в различных транспортировочных
                системах и различных отраслях производства: от машиностроения и строительства до пищевой и медицинской
                промышленности.</p>
            <p>Хотите обеспечить безопасность и надежность вашего производства? Звоните по номеру
                <a href="tel:88005555756">8 (800) 5555-756</a> и наши специалисты помогут подобрать оптимальное решение
                под ваши требования. А если вы предпочитаете удобство онлайн-коммуникации, оставьте заявку на нашем
                сайте &ndash; мы свяжемся с вами в кратчайшие сроки!
            </p>
            <p>Выбирайте надежность и долговечность: заказывайте композитные шланги для нефтепродуктов в Магнитогорске
                от {{ company_name_short }} &ndash; вашего надежного партнера!
            </p>

            {% elif city_location == 'Пермь' %}

            <p>Это гибкие полимерные шланги, которые применяются в самых разных сферах промышленной деятельности: от
                нефтегазовой отрасти до пищевой и медицинской сфер. Они конструируются из нескольких оболочек, включая
                основной полипропиленовый шланг (контактирует с рабочей средой), внешнюю и внутреннюю проволочные
                оплетки из нержавеющей стали, а также внешнюю текстильную оболочку с ПВХ-покрытием. В Перми вы можете
                купить композитные шланги для нефтепродуктов в {{ company_name_short }}.</p>
            <p>Наши изделия обладают рядом преимуществ, среди которых:</p>
            <ul>
                <li>Сопротивление агрессивному воздействию химических веществ;</li>
                <li>отличная температурная стойкость;</li>
                <li>гибкость и удобство прокладки.</li>
            </ul>
            <p>Они идеально подходят для перекачки разнообразных веществ, включая химические жидкости под давлением,
                нефть, газ, продукты питания и медикаменты. Гибкие трубопроводы усилены нержавеющим проволочным
                армированием, обеспечивающим высокий уровень безопасности и долговечности.</p>
            <p>Изделия сочетают преимущества гибких транспортировочных систем и жестких трубопроводов. Они являются
                одновременно герметичными, химически нейтральными и достаточно прочными, готовыми к серьезным
                эксплуатационным нагрузкам, гидроударам и высокой скорости перекачки среды.</p>
            <p>Мы ведем строгий контроль каждого изделия в партии, гарантируем быструю и надежную доставку, расценки от
                производителя, техническую и информационную поддержку для наших партнеров.</p>
            <p>Не упустите возможность повысить эффективность вашего производства. Закажите композитные шланги для
                нефтепродуктов прямо сейчас, позвонив по номеру <a href="tel:88005555756">8 (800) 5555-756</a> или
                оставьте заявку на сайте.
            </p>

            {% elif city_location == 'Самара' %}

            <p>Это специализированные трубопроводные изделия, созданные из комбинации материалов, таких как
                стекловолокно, полиэтилен, полипропилен, нержавеющая проволока, ПВХ и т.д. Мы предлагаем вам возможность
                купить композитные рукава для нефтепродуктов в Самаре в {{ company_name_short }}. Они спроектированы для
                перекачки разнообразных веществ, включая нефть, бензин, дизельное топливо, а также прочие жидкие и
                газообразные продукты.</p>
            <h4>Особенности</h4>
            <ul>
                <li>Исключительная механическая прочность и гибкость &ndash; благодаря применению современных полимерных
                    материалов изделия отличаются отличными эксплуатационными характеристиками, устойчивы к изгибающим
                    нагрузкам, гидроударам и вибронапряжениям. Даже в тяжелых условиях эксплуатации такие трубопроводы
                    отлично справятся со своими задачами!</li>
                <li>Сопротивление агрессивным внешним условиям &ndash; химическим воздействиям, коррозии и абразивному
                    износу. Благодаря этой характеристике композитные трубопроводы активно применяются на
                    нефтеперерабатывающих предприятиях и химических заводах.</li>
                <li>Низкий вес и легкий монтаж &ndash; по сравнению с другими транспортировочными технологическими
                    решениями (жесткими трубопроводами, металлорукавами и т.д.) обладают сниженной массой, что облегчает
                    их транспортировку, установку и обслуживание.</li>
                <li>Долговечность и экономичность &ndash; благодаря высоким характеристикам материалов, из которых они
                    изготавливаются, шланги устойчивы к неблагоприятному воздействию среды и могут эксплуатироваться без
                    дополнительного обслуживания очень долгий срок, что делает их экономически выгодным решением для
                    предприятий.</li>
            </ul>
            <p>Хотите узнать больше или заказать композитные шланги для нефтепродуктов? Звоните нам по номеру
                <a href="tel:88005555756">8 (800) 5555-756</a> или оставьте заявку на нашем сайте. Мы с удовольствием
                поможем подобрать оптимальное решение для ваших потребностей!
            </p>

            {% elif city_location == 'Уфа' %}

            <p>Композитные рукава &mdash; это тип гибкого шланга, который широко используется для перекачки жидкостей и
                газов в различных сферах деятельности. Они состоят из нескольких слоев. Внутренний термопластик или
                фторполимерный материал, армированный слоями синтетических тканей, таких как полиэстер или нейлон, и
                внешний слой из термопластика или ПВХ. Вы можете купить композитные рукава для нефтепродуктов и других
                рабочих сред в Уфе в компании {{ company_name_short }}.</p>
            <p>Многослойная спиральная термопластическая ткань и пленка соединены металлической внутренней и внешней
                проволокой в единую гибкую транспортную систему, обеспечивая герметичность рабочей среды и устойчивость
                к негативным условиям.</p>
            <p>Такие трубопроводы являются важным компонентом технологических операций. Выбор и применение должно быть
                основано на оценке надлежащего использования, безопасности и операционной эффективности. Они имеют ряд
                преимуществ перед традиционными резиновыми шлангами, в том числе превосходную химическую устойчивость,
                устойчивость к более высоким температурам и повышенную гибкость. Они обычно используются в перекачке
                химикатов, нефти и газа, погрузке и разгрузке в морском судоходстве, криогенное применение и в
                транспортировке продуктов питания или, например, медикаментов.</p>
            <p>Гибкие трубопроводы изготавливаются с внутренней и внешней проволокой из нержавеющей стали, оцинкованной
                стали, алюминия или стали со специальным покрытием. Их можно обшить полипропиленом или PTFE в
                зависимости от химической среды.</p>
            <p>Эти изделия легкие и гибкие, что упрощает обращение с ними, а многослойная конструкция обеспечивает
                высокий уровень безопасности, надежности и долговечности. При низких и даже криогенных температурах
                гибкость сохраняется. Прочные внешние оболочки шлангов защищают их от коррозии и воздействия других
                жидкостей, ультрафиолета и озона.</p>
            <p>Чтобы купить композитные шланги для нефтепродуктов, а также других жидкостей и газов, позвоните по
                номерам <a href="tel:+73472929864">+7 (347) 292-98-64</a>,
                <a href="tel:+73472929864">+7 (347) 274-73-87</a> или оставьте заявку на сайте.
            </p>

            {% elif city_location == 'Казань' %}

            <p>Они представляют собой конструкцию из нескольких слоев, каждый из которых выполняет определенную функцию.
                Такое устройство делает это решение прекрасно приспособленным для использования в нефтегазовой отрасли,
                топливно-энергетической промышленности и других сферах производства. Вы можете купить композитные рукава
                для нефтепродуктов в Казани в {{ company_name_short }}.</p>
            <h4>1. Внутренний слой (внутренний резервуар)</h4>
            <ul>
                <li>Оболочка контактирует с перекачиваемым материалом, например, продуктами нефтепереработки.</li>
                <li>Он обычно создается из специальных полимеров или резиновых смесей, обладающих химической стойкостью
                    и устойчивостью к износу, чаще всего используется полипропилен.</li>
            </ul>
            <h4>2. Армирование (внутренняя и внешняя проволочные оболочки)</h4>
            <ul>
                <li>Усиление обеспечивает структурную прочность шланга.</li>
                <li>Производится из нержавеющей проволоки.</li>
                <li>Придает гибкость и прочность, позволяет трубопроводу отлично сопротивляться высокому давлению среды,
                    гидроударам и вибронагрузкам.</li>
            </ul>
            <h4>3. Наружное покрытие</h4>
            <ul>
                <li>Улучшает внешний вид изделия и формирует дополнительную защиту от агрессивных сред.</li>
                <li>Обычно изготавливается из полимерных материалов, устойчивых к воздействию ультрафиолетовых лучей и
                    атмосферных условий &ndash; ткани с ПВХ-покрытием.</li>
            </ul>
            <p>В совокупности эти компоненты обеспечивают высокую прочность, гибкость и устойчивость к различным
                воздействиям, делая их идеальным выбором для транспортировки химически агрессивных жидких или
                газообразных веществ. В Казани вы можете заказать композитные шланги для нефтепродуктов в
                {{ company_name_short }}. Звоните по номеру <a href="tel:88005555756">8 (800) 5555-756</a> или
                оставляйте заявку на нашем сайте!
            </p>

            {% elif city_location == 'Омск' %}

            <p>Вы можете купить композитные рукава для нефтепродуктов в Омске в {{ company_name_short }}. Мы ведем
                стопроцентный контроль качества каждого изделия, готовы к отправке заказов любого масштаба, предлагаем
                надежную и быструю доставку по России и самое главное &ndash; выгодные условия прямого сотрудничества с
                производителем!</p>
            <h4>Прочность и надежность</h4>
            <p>Изделия изготовлены из высококачественных материалов, обеспечивающих их прочность и долговечность. Они
                способны выдерживать высокие давления и экстремальные условия эксплуатации.</p>
            <h4>Устойчивость к коррозии и агрессивным средам</h4>
            <p>Гибкие полимерные трубопроводы не подвержены окислению и устойчивы к воздействию опасных сред, что
                гарантирует долгий срок службы даже при сильном химическом воздействии.</p>
            <h4>Гибкость и легкость</h4>
            <p>Наша продукция отличается высокой гибкостью и легкостью. Это транспортировку, монтаж и обслуживание
                изделий и делает их идеальным выбором для различных сфер применения.</p>
            <h4>Сферы применения</h4>
            <ul>
                <li>Нефтегазовая отрасль &ndash; широко применяются в транспортировке энергетических ресурсов.</li>
                <li>Химическая промышленность &ndash; благодаря своей устойчивости к коррозии и другим неблагоприятным
                    внешним факторам идеально подходят для использования в химическом производстве.</li>
                <li>Автомобильная отрасль &ndash; широко применяются в автомобильной отрасли для транспортировки топлива
                    и масел.</li>
            </ul>
            <p>Хотите обеспечить своему предприятию надежное и эффективное транспортировочное оборудование? Обратитесь к
                нам! Чтобы заказать композитные шланги для нефтепродуктов, позвоните по номеру
                <a href="tel:88005555756">8 (800) 5555-756</a> или оставьте заявку на нашем сайте уже сегодня!
            </p>

            {% elif city_location == 'Нижний Новгород' %}

            <p>В мире нефтепродуктов безопасность и эффективность играют решающую роль. Оптимизация процессов
                транспортировки и хранения нефтепродуктов становится возможной благодаря инновационным решениям. Купить
                композитные рукава для нефтепродуктов &ndash; значит сделать выбор в пользу надежности и эффективности
                производственных процессов!</p>
            <p>Это гибкие трубопроводы, состоящие из нескольких слоев &ndash; внутренней полипропиленовой оболочки, двух
                проволочных обмоток из нержавеющей стали и наружного текстильного покрытия, содержащего ПВХ.</p>
            <h4>Сферы применения</h4>
            <ul>
                <li>Нефтепереработка и химическая промышленность &ndash; обеспечивают безопасную транспортировку
                    различных нефтепродуктов, химических веществ и агрессивных жидкостей, минимизируя риск утечек и
                    аварий.</li>
                <li>Нефтегазовая отрасль &ndash; в условиях высоких давлений и температур обладают уникальной прочностью
                    и долговечностью, гарантируя надежную работу на нефтяных вышках, скважинах и при буровых операциях.
                </li>
                <li>Транспорт и логистика &ndash; благодаря легкости и гибкости конструкции идеально подходят для
                    использования в системах транспортировки по железной дороге, морским и автомобильным транспортом.
                </li>
                <li>Промышленная очистка и утилизация &ndash; при проведении работ по очистке загрязненных участков или
                    утилизации химически агрессивных веществ обеспечивают эффективное и безопасное удаление жидкостей и
                    газов.</li>
            </ul>
            <h4>Почему выбирают нас?</h4>
            <ul>
                <li>Инновационные материалы &ndash; мы используем передовые композитные материалы, обеспечивающие
                    высокую прочность и устойчивость к агрессивным средам.</li>
                <li>Надежность и безопасность &ndash; абсолютно все изделия проходят строгий контроль качества и
                    сертификацию, гарантируя безопасность и надежность в эксплуатации.</li>
                <li>Индивидуальный подход &ndash; мы разрабатываем решения, учитывая особенности каждого проекта и
                    потребности клиентов, обеспечивая оптимальное решение для любой сферы применения.</li>
            </ul>
            <p>Позвоните нам по номеру <a href="tel:88005555756">8 (800) 5555-756</a>, чтобы получить бесплатную
                консультацию специалиста и выбрать оптимальное решение для вашего проекта. А если вы предпочитаете
                удобство онлайн-заявки, просто оставьте свою заявку на нашем сайте.</p>
            <p>Начните преобразование вашего бизнеса с надежных и инновационных решений &ndash; закажите композитные
                шланги для нефтепродуктов в Нижнем Новгороде в {{ company_name_short }}.
            </p>

            {% else %}
            <p>Вы можете купить композитные рукава для нефтепродуктов в Санкт-Петербурге в {{ company_name_short }}. Это
                современное решение для транспортировки различных жидких и газообразных веществ, которое обеспечивает
                отличную производительность и надежность технологических процессов.</p>
            <h4>Преимущества</h4>
            <ul>
                <li>Превосходная прочность &ndash; изделия изготовлены из высококачественных материалов, гарантирующих
                    исключительную прочность и долговечность даже в условиях экстремального давления и температуры.</li>
                <li>Устойчивость к коррозии &ndash; благодаря специальным составам и покрытиям обладают устойчивостью к
                    воздействию агрессивных сред, включая продукты переработки нефти, химические соединения и соляные
                    растворы.</li>
                <li>Гибкость и легкость &ndash; такие трубопроводы являются легкими и гибкими, что обеспечивает удобство
                    в установке и эксплуатации. Они не требуют специального оборудования для монтажа, их можно
                    монтировать на труднодоступных участках.</li>
                <li>Экологическая безопасность &ndash; используемые для производства материалы соответствуют всем
                    стандартам экологической безопасности и не содержат вредных веществ, что делает их идеальным выбором
                    для работы с разнообразными средами.</li>
            </ul>
            <h4>Применение</h4>
            <ul>
                <li>Нефтяная и газовая промышленность &ndash; используются для транспортировки продуктов
                    нефтепереработки, газа и других жидкостей в нефтегазовой промышленности, делая работу системы
                    надежной и безопасной.</li>
                <li>Химическая промышленность &ndash; устойчивость к коррозии и химическому воздействию делает их
                    идеальным выбором для перекачки агрессивных химических соединений.</li>
                <li>Промышленные подземные системы &ndash; широко применяются в подземных системах для транспортировки
                    воды, топлива и других жидкостей, где требуется повышенная надежность и долговечность.</li>
            </ul>
            <p>Хотите обеспечить безопасность и эффективность транспортировочных процессов? Заказать композитные шланги
                от {{ company_name_short }} &ndash; лучший выбор! Обратитесь к нам сегодня, и мы поможем подобрать и
                установить идеальное решение для ваших потребностей. Звоните по номеру
                <a href="tel:+78122100002">+7 (812) 210-00-02</a> или оставьте заявку на нашем сайте прямо сейчас!
            </p>

            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4 col-sm-6 col-12 py-5 d-flex justify-content-center box-shadow-uzm">
            <a href="{% url 'composite' 'EGE' %}" mb-checked="1" data-tooltip-content="">
                <div class="wrapper-img-uzm-down wrapper-text-above-img-uzm">
                    <img class="img-fluid" src="{% static 'rzmr/img/EGE1.jpg' %}" alt="Рукава серии EGE">
                    <div class="wrapper-img-uzm-up"></div>
                    <div class="text-above-img-uzm text-blue-uzm">
                        <p>Рукава серии EGE</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-4 col-sm-6 col-12 py-5 d-flex justify-content-center box-shadow-uzm">
            <a href="{% url 'composite' 'SSE' %}" mb-checked="1" data-tooltip-content="">
                <div class="wrapper-img-uzm-down wrapper-text-above-img-uzm">
                    <img class="img-fluid" src="{% static 'rzmr/img/SSE1.jpg' %}" alt="Рукава серии SSE">
                    <div class="wrapper-img-uzm-up"></div>
                    <div class="text-above-img-uzm text-blue-uzm">
                        <p>Рукава серии SSE</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-4 col-sm-6 col-12 py-5 d-flex justify-content-center box-shadow-uzm">
            <a href="{% url 'composite' 'SST' %}" mb-checked="1" data-tooltip-content="">
                <div class="wrapper-img-uzm-down wrapper-text-above-img-uzm">
                    <img class="img-fluid" src="{% static 'rzmr/img/SST1.jpg' %}" alt="Рукава серии SST">
                    <div class="wrapper-img-uzm-up"></div>
                    <div class="text-above-img-uzm text-blue-uzm">
                        <p>Рукава серии SST</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-4 col-sm-6 col-12 py-5 d-flex justify-content-center box-shadow-uzm">
            <a href="{% url 'composite' 'SGT' %}" mb-checked="1" data-tooltip-content="">
                <div class="wrapper-img-uzm-down wrapper-text-above-img-uzm">
                    <img class="img-fluid" src="{% static 'rzmr/img/SGT1.jpg' %}" alt="Рукава серии SGT">
                    <div class="wrapper-img-uzm-up"></div>
                    <div class="text-above-img-uzm text-blue-uzm">
                        <p>Рукава серии SGT</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-4 col-sm-6 col-12 py-5 d-flex justify-content-center box-shadow-uzm">
            <a href="{% url 'composite' 'SGE' %}" mb-checked="1" data-tooltip-content="">
                <div class="wrapper-img-uzm-down wrapper-text-above-img-uzm">
                    <img class="img-fluid" src="{% static 'rzmr/img/SGE3.jpg' %}" alt="Рукава серии SGE">
                    <div class="wrapper-img-uzm-up"></div>
                    <div class="text-above-img-uzm text-blue-uzm">
                        <p>Рукава серии SGE</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-4 col-sm-6 col-12 py-5 d-flex justify-content-center box-shadow-uzm">
            <a href="{% url 'composite' 'GGE' %}" mb-checked="1" data-tooltip-content="">
                <div class="wrapper-img-uzm-down wrapper-text-above-img-uzm">
                    <img class="img-fluid" src="{% static 'rzmr/img/GGT1.jpg' %}" alt="Рукава серии GGE">
                    <div class="wrapper-img-uzm-up"></div>
                    <div class="text-above-img-uzm text-blue-uzm">
                        <p>Рукава серии GGE</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-4 col-sm-6 col-12 py-5 d-flex justify-content-center box-shadow-uzm">
            <a href="{% url 'composite' 'AAE' %}" mb-checked="1" data-tooltip-content="">
                <div class="wrapper-img-uzm-down wrapper-text-above-img-uzm">
                    <img class="img-fluid" src="{% static 'rzmr/img/AAE1.jpg' %}" alt="Рукава серии AAE">
                    <div class="wrapper-img-uzm-up"></div>
                    <div class="text-above-img-uzm text-blue-uzm">
                        <p>Рукава серии AAE</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

{% endblock content %}