{% extends 'rzmr/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="h3 fw-bold">{{ title }}</h1>
        </div>
    </div>
    <div class="row text-uzm">
        <div class="col-6">
            <div class="horizontal-line-uzm"></div>
            <h5 class="py-4">{{ company_name }}</h5>
            <p>Адрес: {{ company_address }}</p>
            <p>Тел/факс:</p>
            <p><a href="tel:+78122100002">+7(812)210-00-02</a></p>
            <p><a href="tel:88005555756">8-800-5555-756</a></p>
            <p>Часовой пояс: GMT +03 (МСК)</p>
            <p>E-mail:</p>
            <p><a href="mailto:{{ company_email }}">{{ company_email }}</a></p>
            <p><a href="mailto:info@metalhoses.ru">info@metalhoses.ru</a></p>
        </div>
        <div class="col-6">
            <div class="horizontal-line-uzm"></div>
            <h5 class="py-4">Наши реквизиты</h5>
            <p>Адрес: {{ company_address }}</p>
            <p>ОГРН: 1247800094959</p>
            <p>ИНН: 7814843757</p>
            <p>КПП: 781401001</p>
            <p>ОКТМО: 40327000000</p>
        </div>
    </div>
</div>

{% endblock content %}