{% extends 'rzmr/base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 text-uzm">
            <h4 class="py-2">{{ title }}</h4>
            <p>
                Спиральная - данный тип оболочки позволяет увеличить гибкость металлорукава, а также пропускать
                транспортируемую среду с максимальной скоростью. Увеличенный срок службы рукава.
            </p>
            <p class="py-4">
                <img src="{% static '/rzmr/img/marked_gofra_spiralnaya.png' %}" alt="gofra">
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="{% url 'metalhoses-corrugation' %}">
                <p class="wrapper-up-uzm-card fs-5">
                    Гофра
                </p>
                <p class="uzm-text-card">
                    герметичная оболочка с кольцевыми гофрами, расположенными параллельно. Изготавливается методом
                    гидроформовки
                    из трубных заготовок, сваренных аргонодуговой сваркой встык по длине трубы.
                </p>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-corrugation-standartnaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Стандартная <br> Ø6 - Ø400</div>
                </div>
                <img src="{% static '/rzmr/img/marked_gofra_standart.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-corrugation-povishennoy_gibkosti' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Повышенной гибкости <br> Ø6 - Ø200</div>
                </div>
                <img src="{% static '/rzmr/img/marked_gofra_povishennoi_gibkosti.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-corrugation-tyazhelaya_seriya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Тяжелая серия <br> Ø6 - Ø200</div>
                </div>
                <img src="{% static '/rzmr/img/marked_gofra_tyagelaya.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-corrugation-dvukhsloynaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Двухслойная <br> Ø6 - Ø200</div>
                </div>
                <img src="{% static '/rzmr/img/marked_gofra_dvuhsloinaya.png' %}" alt="gofra">
            </a>
        </div>
    </div>
</div>

{% endblock content %}