{% extends 'rzmr/base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h4>{{ title }}</h4>
        </div>
    </div>
    <div class="py-3 border-bottom">

    </div>
    <div class="row">
        <div class="col-4 border-end">
            <img src="{% static 'rzmr/img/EGE1.jpg' %}" alt="EGE1">
        </div>
        <div class="col-8 text-uzm">
            <p>Состав рукава:</p>
            <ul>
                <li>Внутренняя проволока: сталь с полипропиленовым покрытием (E).</li>
                <li>Внешняя проволока: оцинкованная сталь (G).</li>
                <li>Внутренний слой: полипропилен (E).</li>
                <li>Внешний слой: полиэфирная ткань с ПВХ-покрытием.</li>
            </ul>
            <p>
                EGE типа рукава рекомендуется для доставки и/или аспирации химических продуктов с хорошими
                эксплуатационными свойствами, таких как кислоты, щелочи и растворители, встречающиеся в неагрессивной
                среде. Используется при погрузке и разгрузке автоцистерн, вагонов, на заводах и на судах.
            </p>
            <p>
                Диапазон температур: от -30˚C до +100 ˚C.
            </p>
            <p>
                Вакуум: 0,9 бар
            </p>
        </div>
    </div>
    <div class="row py-5">
        <div class="col-4">

        </div>
        <div class="col-8">
            <table id="TABLE_1">
                <colgroup id="COLGROUP_2">
                    <col id="COL_3" />
                    <col id="COL_4" />
                </colgroup>
                <tbody id="TBODY_5">
                    <tr id="TR_6">
                        <td colspan="1" id="TD_7">
                        </td>
                        <td colspan="6" id="TD_8">
                            Стандартная серия
                        </td>
                        <td colspan="3" id="TD_9">
                            Тяжелая серия
                        </td>
                    </tr>
                    <tr id="TR_10">
                        <td id="TD_11">
                            Dу
                        </td>
                        <td id="TD_12">
                            25
                        </td>
                        <td id="TD_13">
                            40
                        </td>
                        <td id="TD_14">
                            50
                        </td>
                        <td id="TD_15">
                            65
                        </td>
                        <td id="TD_16">
                            80
                        </td>
                        <td id="TD_17">
                            100
                        </td>
                        <td id="TD_18">
                            150
                        </td>
                        <td id="TD_19">
                            200
                        </td>
                        <td id="TD_20">
                            250
                        </td>
                    </tr>
                    <tr id="TR_21">
                        <td rowspan="1" id="TD_22">
                            Радиус изгиба
                        </td>
                        <td rowspan="1" id="TD_23">
                            68
                        </td>
                        <td rowspan="1" id="TD_24">
                            105
                        </td>
                        <td rowspan="1" id="TD_25">
                            190
                        </td>
                        <td rowspan="1" id="TD_26">
                            225
                        </td>
                        <td rowspan="1" id="TD_27">
                            290
                        </td>
                        <td rowspan="1" id="TD_28">
                            320
                        </td>
                        <td rowspan="1" id="TD_29">
                            497
                        </td>
                        <td rowspan="1" id="TD_30">
                            740
                        </td>
                        <td rowspan="1" id="TD_31">
                            920
                        </td>
                    </tr>
                    <tr id="TR_32">
                        <td id="TD_33">
                            Вес, кг/м
                        </td>
                        <td id="TD_34">
                            1,16
                        </td>
                        <td id="TD_35">
                            1,8
                        </td>
                        <td id="TD_36">
                            2,06
                        </td>
                        <td id="TD_37">
                            2,7
                        </td>
                        <td id="TD_38">
                            3,5
                        </td>
                        <td id="TD_39">
                            5,44
                        </td>
                        <td id="TD_40">
                            11,9
                        </td>
                        <td id="TD_41">
                            21,5
                        </td>
                        <td id="TD_42">
                            25
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<style>
    #TABLE_1 {
        block-size: 110.562px;
        border-collapse: collapse;
        height: 110.562px;
        inline-size: 900px;
        perspective-origin: 450px 55.2812px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 450px 55.2812px;
        width: 900px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TABLE_1*/

    #TABLE_1:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TABLE_1:after*/

    #TABLE_1:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TABLE_1:before*/

    #COLGROUP_2 {
        block-size: 109.562px;
        border-collapse: collapse;
        box-sizing: border-box;
        height: 109.562px;
        inline-size: 899px;
        perspective-origin: 449.5px 54.7812px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 449.5px 54.7812px;
        width: 899px;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COLGROUP_2*/

    #COLGROUP_2:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COLGROUP_2:after*/

    #COLGROUP_2:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COLGROUP_2:before*/

    #COL_3 {
        block-size: 109.562px;
        border-collapse: collapse;
        box-sizing: border-box;
        height: 109.562px;
        inline-size: 134.844px;
        perspective-origin: 67.4219px 54.7812px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 67.4219px 54.7812px;
        width: 134.844px;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_3*/

    #COL_3:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_3:after*/

    #COL_3:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_3:before*/

    #COL_4 {
        block-size: 109.562px;
        border-collapse: collapse;
        box-sizing: border-box;
        height: 109.562px;
        inline-size: 764.156px;
        perspective-origin: 382.078px 54.7812px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 382.078px 54.7812px;
        width: 764.156px;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_4*/

    #COL_4:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_4:after*/

    #COL_4:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COL_4:before*/

    #TBODY_5 {
        block-size: 109.562px;
        border-block-end-color: rgb(128, 128, 128);
        border-block-start-color: rgb(128, 128, 128);
        border-collapse: collapse;
        border-inline-end-color: rgb(128, 128, 128);
        border-inline-start-color: rgb(128, 128, 128);
        box-sizing: border-box;
        height: 109.562px;
        inline-size: 899px;
        perspective-origin: 449.5px 54.7812px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 449.5px 54.7812px;
        width: 899px;
        border: 0px none rgb(128, 128, 128);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TBODY_5*/

    #TBODY_5:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TBODY_5:after*/

    #TBODY_5:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TBODY_5:before*/

    #TR_6 {
        block-size: 27.3906px;
        border-block-end-color: rgb(128, 128, 128);
        border-block-start-color: rgb(128, 128, 128);
        border-collapse: collapse;
        border-inline-end-color: rgb(128, 128, 128);
        border-inline-start-color: rgb(128, 128, 128);
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 899px;
        perspective-origin: 449.5px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 449.5px 13.6953px;
        vertical-align: middle;
        width: 899px;
        border: 0px none rgb(128, 128, 128);
        border-spacing: 2px 2px;
        font: 700 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TR_6*/

    #TR_6:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 700 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TR_6:after*/

    #TR_6:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 700 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TR_6:before*/

    #TD_7,
    #TD_11,
    #TD_22,
    #TD_33 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 134.844px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 67.4219px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 67.4219px 13.6953px;
        vertical-align: middle;
        width: 134.844px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 700 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_7, #TD_11, #TD_22, #TD_33*/

    #TD_7:after,
    #TD_11:after,
    #TD_22:after,
    #TD_33:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 700 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_7:after, #TD_11:after, #TD_22:after, #TD_33:after*/

    #TD_7:before,
    #TD_11:before,
    #TD_22:before,
    #TD_33:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 700 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_7:before, #TD_11:before, #TD_22:before, #TD_33:before*/

    #TD_8 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 484.312px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 242.156px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 242.156px 13.6953px;
        vertical-align: middle;
        width: 484.312px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 700 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_8*/

    #TD_8:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 700 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_8:after*/

    #TD_8:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 700 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_8:before*/

    #TD_9 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 279.844px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 139.922px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 139.922px 13.6953px;
        vertical-align: middle;
        width: 279.844px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 700 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_9*/

    #TD_9:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 700 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_9:after*/

    #TD_9:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 700 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_9:before*/

    #TR_10,
    #TR_21,
    #TR_32 {
        block-size: 27.3906px;
        border-block-end-color: rgb(128, 128, 128);
        border-block-start-color: rgb(128, 128, 128);
        border-collapse: collapse;
        border-inline-end-color: rgb(128, 128, 128);
        border-inline-start-color: rgb(128, 128, 128);
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 899px;
        perspective-origin: 449.5px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 449.5px 13.6953px;
        vertical-align: middle;
        width: 899px;
        border: 0px none rgb(128, 128, 128);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TR_10, #TR_21, #TR_32*/

    #TR_10:after,
    #TR_21:after,
    #TR_32:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TR_10:after, #TR_21:after, #TR_32:after*/

    #TR_10:before,
    #TR_21:before,
    #TR_32:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TR_10:before, #TR_21:before, #TR_32:before*/

    #TD_12,
    #TD_23,
    #TD_34 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 68.4219px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 34.2031px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 34.2109px 13.6953px;
        vertical-align: middle;
        width: 68.4219px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_12, #TD_23, #TD_34*/

    #TD_12:after,
    #TD_23:after,
    #TD_34:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_12:after, #TD_23:after, #TD_34:after*/

    #TD_12:before,
    #TD_23:before,
    #TD_34:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_12:before, #TD_23:before, #TD_34:before*/

    #TD_13,
    #TD_24,
    #TD_35 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 73.0156px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 36.5px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 36.5078px 13.6953px;
        vertical-align: middle;
        width: 73.0156px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_13, #TD_24, #TD_35*/

    #TD_13:after,
    #TD_24:after,
    #TD_35:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_13:after, #TD_24:after, #TD_35:after*/

    #TD_13:before,
    #TD_24:before,
    #TD_35:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_13:before, #TD_24:before, #TD_35:before*/

    #TD_14,
    #TD_25,
    #TD_36 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 90.3281px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 45.1562px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 45.1641px 13.6953px;
        vertical-align: middle;
        width: 90.3281px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_14, #TD_25, #TD_36*/

    #TD_14:after,
    #TD_25:after,
    #TD_36:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_14:after, #TD_25:after, #TD_36:after*/

    #TD_14:before,
    #TD_25:before,
    #TD_36:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_14:before, #TD_25:before, #TD_36:before*/

    #TD_15,
    #TD_26,
    #TD_37 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 81.6875px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 40.8438px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 40.8438px 13.6953px;
        vertical-align: middle;
        width: 81.6875px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_15, #TD_26, #TD_37*/

    #TD_15:after,
    #TD_26:after,
    #TD_37:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_15:after, #TD_26:after, #TD_37:after*/

    #TD_15:before,
    #TD_26:before,
    #TD_37:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_15:before, #TD_26:before, #TD_37:before*/

    #TD_16,
    #TD_27,
    #TD_38 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 82.6406px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 41.3125px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 41.3203px 13.6953px;
        vertical-align: middle;
        width: 82.6406px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_16, #TD_27, #TD_38*/

    #TD_16:after,
    #TD_27:after,
    #TD_38:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_16:after, #TD_27:after, #TD_38:after*/

    #TD_16:before,
    #TD_27:before,
    #TD_38:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_16:before, #TD_27:before, #TD_38:before*/

    #TD_17,
    #TD_28,
    #TD_39 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 88.2188px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 44.1094px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 44.1094px 13.6953px;
        vertical-align: middle;
        width: 88.2188px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_17, #TD_28, #TD_39*/

    #TD_17:after,
    #TD_28:after,
    #TD_39:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_17:after, #TD_28:after, #TD_39:after*/

    #TD_17:before,
    #TD_28:before,
    #TD_39:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_17:before, #TD_28:before, #TD_39:before*/

    #TD_18,
    #TD_29,
    #TD_40 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 89.1562px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 44.5781px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 44.5781px 13.6953px;
        vertical-align: middle;
        width: 89.1562px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_18, #TD_29, #TD_40*/

    #TD_18:after,
    #TD_29:after,
    #TD_40:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_18:after, #TD_29:after, #TD_40:after*/

    #TD_18:before,
    #TD_29:before,
    #TD_40:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_18:before, #TD_29:before, #TD_40:before*/

    #TD_19,
    #TD_30,
    #TD_41 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 95.7344px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 47.8594px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 47.8672px 13.6953px;
        vertical-align: middle;
        width: 95.7344px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_19, #TD_30, #TD_41*/

    #TD_19:after,
    #TD_30:after,
    #TD_41:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_19:after, #TD_30:after, #TD_41:after*/

    #TD_19:before,
    #TD_30:before,
    #TD_41:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_19:before, #TD_30:before, #TD_41:before*/

    #TD_20,
    #TD_31 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 94.9531px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 47.4688px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 47.4766px 13.6953px;
        vertical-align: middle;
        width: 94.9531px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_20, #TD_31*/

    #TD_20:after,
    #TD_31:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_20:after, #TD_31:after*/

    #TD_20:before,
    #TD_31:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_20:before, #TD_31:before*/

    #TD_42 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 94.9531px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 47.4688px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 47.4766px 13.6953px;
        vertical-align: middle;
        width: 94.9531px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_42*/

    #TD_42:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_42:after*/

    #TD_42:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_42:before*/
</style>

{% endblock content %}