{% extends 'rzmr/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-uzm">
            <h1 class="h3 fw-bold py-2">{{ title }}</h1>
            <p>
                {{ company_name }} имеет возможность выполнять разработку технической документации и
                изготовлять технологическую оснастку и нестандартное оборудование различного назначения: штампы,
                прессформы, станочные приспособления для механообработки, приспособления для выполнения сборочных работ,
                нестандартизированное оборудование и др.
            </p>
            <p>
                Для формирования индивудуального заказа в зависимости от необходимых изделий предлагаем Вам связаться с
                нами и подготовить соответствующую информацию.
            </p>
            <p>
                Для примера предлагаем рассмотреть необходимые данные для изготовления прессформы:
            </p>
            <ul>
                <li>
                    чертеж детали;
                </li>
                <li>
                    чертеж узла;
                </li>
                <li>
                    техническое задание с указанием материала детали, марки модельного состава;
                </li>
                <li>
                    паспорт оборудования для запрессовки модельного состава;
                </li>
                <li>
                    информация о технических возможностях предполагаемого производителя оснастки (наличие станков с ЧПУ,
                    оборудования для электроэрозионной обработки металлов и т. д.).
                </li>
            </ul>
            <p>
                По полученным данным Предприятие спроектирует отливку и в максимально короткие сроки выполнит проектные
                работы.
            </p>
        </div>
    </div>
</div>
{% endblock content %}