{% extends 'rzmr/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-uzm">
            <h4 class="py-2">{{ title }}</h4>
            <p>Услуга изготовления деталей или инструментов по чертежам заказчика требуется в следующих случаях:</p>
            <ul>
                <li>Нужна замена для вышедшего из строя элемента или агрегата для оборудования, которое произведено
                    более 5-10 лет назад. Для него выбор оригинальных запчастей на рынке России может быть ограничен или
                    отсутствовать вовсе.
                </li>
                <li>
                    Нужен аналог для запчасти от оборудования зарубежного производства, заказать который трудно или
                    дорого. Еще одной причиной отказа от оригинальных запасных частей является долгий срок ожидания
                    заказа, связанный с прохождением таможенных процедур и другими факторами.
                </li>
                <li>
                    Нужны фитинги, металлорукава и другие элементы трубопровода для монтажа сложной производственной
                    линии или иного оборудования.
                </li>
            </ul>
            <p>
                Изготовление деталей по чертежам или с оговоренными техническим заданием параметрами позволит
                оборудовать цех быстрее и дешевле, чем при заказе у производителя оборудования.
            </p>
            <p>
                Вся продукция {{ company_name_short }}, включая изготовленную на заказ, проходит тщательный
                контроль отдела качества. Собственное конструкторское бюро предприятия поможет создать техническую
                документацию на деталь, если она утеряна или отсутствует. Доставка возможна в любую точку России
                удобным для заказчика способом.
            </p>
            <p>
                Чтобы заказать изготовление деталей по вашим чертежам, заполните спецификацию и отправьте ее в форме
                на данной странице или на электронную почту <a href="mailto:{{ company_email }}">{{ company_email }}</a>.
            </p>
            <p>
                Наша спецификация содержит вопросы по всем соответствующим проектным данным в логической
                последовательности. Ее задача состоит в создании представления для сложных ситуаций и различных
                случаев применения изделий. Но по желанию вы можете подготовить свою собственную спецификацию
            </p>
        </div>
    </div>
</div>
{% endblock content %}