{% extends 'rzmr/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-uzm">
            <h4 class="py-2">{{ title }}</h4>
            <p>
                {{ company_name }} на договорной основе имеет возможность проведения испытаний всех
                типов рукавов на герметичность и прочность.
            </p>
            <p>
                Испытания рукавов на герметичность производятся воздухом в воде, основные параметры:
            </p>
            <ul>
                <li>
                    Испытуемое давление 0,4 - 25 атм;
                </li>
                <li>
                    Диаметр рукава 6мм – 350мм;
                </li>
                <li>
                    Максимальная длина рукава – 25 метров.
                </li>
            </ul>
            <p>
                Испытания рукавов на прочность производятся гидравлическим методом, основные параметры:
            </p>
            <ul>
                <li>
                    Испытуемое давление 3 – 1000 атм;
                </li>
                <li>
                    Диаметр рукава 6 мм – 350 мм;
                </li>
                <li>
                    Максимальная длина рукава – 25 метров.
                </li>
            </ul>
            <p>
                После проведения испытаний рукава подвергаются чистке, обезжириванию и сушке.
            </p>
            <p>
                Испытания рукавов проводятся с использованием сертифицированного импортного оборудования, обеспечивающее
                безопасность при эксплуатации. На основании результатов проведенных испытаний выдается акт и сертификат.
                По согласованию с заказчиком, возможно предоставление фото и видеоматериалов.
            </p>
        </div>
    </div>
</div>
{% endblock content %}