{% extends 'rzmr/fittings_base.html' %}
{% load static %}

{% block fittings-info %}

<div class="container">
    <div class="row">
        <div class="col-12 border text-center m-1">
            <img id="bigImage" class="resize-big-img" src="{% static 'rzmr/img/DK_штуцер.jpg' %}" alt="img-big">
        </div>
    </div>
    <div class="row">
        <div class="col-2 border d-flex m-1">
            <img class="resize-img" src="{% static 'rzmr/img/DK_штуцер.jpg' %}" alt="img1">
        </div>
        <div class="col-2 border d-flex m-1">
            <img class="resize-img" src="{% static 'rzmr/img/DK_штуцер2.png' %}" alt="img2">
        </div>
    </div>

    <h3>Технические характеристики и особенности конструкции</h3>
    <br>

    <table id="TABLE_1">
        <tbody id="TBODY_2">
            <tr id="TR_3">
                <td id="TD_4">
                    <b id="B_5">Ду , мм</b>
                </td>
                <td id="TD_6">
                    <b id="B_7">E, резьба</b>
                </td>
                <td id="TD_8">
                    <b id="B_9">S2, размер ключа</b>
                </td>
            </tr>
            <tr id="TR_10">
                <td rowspan="4" id="TD_11">
                    6
                </td>
                <td id="TD_12">
                    M10x1
                </td>
                <td id="TD_13">
                    12
                </td>
            </tr>
            <tr id="TR_14">
                <td id="TD_15">
                    М12×1,5
                </td>
                <td id="TD_16">
                    12
                </td>
            </tr>
            <tr id="TR_17">
                <td id="TD_18">
                    М14×1,5
                </td>
                <td id="TD_19">
                    14
                </td>
            </tr>
            <tr id="TR_20">
                <td id="TD_21">
                    М16×1,5
                </td>
                <td id="TD_22">
                    17
                </td>
            </tr>
            <tr id="TR_23">
                <td rowspan="6" id="TD_24">
                    8
                </td>
                <td id="TD_25">
                    М12×1,5
                </td>
                <td id="TD_26">
                    12
                </td>
            </tr>
            <tr id="TR_27">
                <td id="TD_28">
                    М14×1,5
                </td>
                <td id="TD_29">
                    14
                </td>
            </tr>
            <tr id="TR_30">
                <td id="TD_31">
                    М16×1,5
                </td>
                <td id="TD_32">
                    17
                </td>
            </tr>
            <tr id="TR_33">
                <td id="TD_34">
                    М18×1,5
                </td>
                <td id="TD_35">
                    19
                </td>
            </tr>
            <tr id="TR_36">
                <td id="TD_37">
                    М20×1,5
                </td>
                <td id="TD_38">
                    22
                </td>
            </tr>
            <tr id="TR_39">
                <td id="TD_40">
                    М22×1,5
                </td>
                <td id="TD_41">
                    24
                </td>
            </tr>
            <tr id="TR_42">
                <td rowspan="4" id="TD_43">
                    10
                </td>
                <td id="TD_44">
                    М16×1,5
                </td>
                <td id="TD_45">
                    17
                </td>
            </tr>
            <tr id="TR_46">
                <td id="TD_47">
                    М18×1,5
                </td>
                <td id="TD_48">
                    19
                </td>
            </tr>
            <tr id="TR_49">
                <td id="TD_50">
                    М20×1,5
                </td>
                <td id="TD_51">
                    22
                </td>
            </tr>
            <tr id="TR_52">
                <td id="TD_53">
                    М22×1,5
                </td>
                <td id="TD_54">
                    24
                </td>
            </tr>
            <tr id="TR_55">
                <td rowspan="5" id="TD_56">
                    12
                </td>
                <td id="TD_57">
                    М18×1,5
                </td>
                <td id="TD_58">
                    19
                </td>
            </tr>
            <tr id="TR_59">
                <td id="TD_60">
                    М20×1,5
                </td>
                <td id="TD_61">
                    22
                </td>
            </tr>
            <tr id="TR_62">
                <td id="TD_63">
                    М22×1,5
                </td>
                <td id="TD_64">
                    24
                </td>
            </tr>
            <tr id="TR_65">
                <td id="TD_66">
                    М24×1,5
                </td>
                <td id="TD_67">
                    27
                </td>
            </tr>
            <tr id="TR_68">
                <td id="TD_69">
                    М27×2
                </td>
                <td id="TD_70">
                    30
                </td>
            </tr>
            <tr id="TR_71">
                <td rowspan="7" id="TD_72">
                    16
                </td>
                <td id="TD_73">
                    М22×1,5
                </td>
                <td id="TD_74">
                    24
                </td>
            </tr>
            <tr id="TR_75">
                <td id="TD_76">
                    М24×1,5
                </td>
                <td id="TD_77">
                    27
                </td>
            </tr>
            <tr id="TR_78">
                <td id="TD_79">
                    М26×1,5
                </td>
                <td id="TD_80">
                    30
                </td>
            </tr>
            <tr id="TR_81">
                <td id="TD_82">
                    М27×1,5
                </td>
                <td id="TD_83">
                    30
                </td>
            </tr>
            <tr id="TR_84">
                <td id="TD_85">
                    М27×2
                </td>
                <td id="TD_86">
                    30
                </td>
            </tr>
            <tr id="TR_87">
                <td id="TD_88">
                    М30×1,5
                </td>
                <td id="TD_89">
                    32
                </td>
            </tr>
            <tr id="TR_90">
                <td id="TD_91">
                    М30×2
                </td>
                <td id="TD_92">
                    32
                </td>
            </tr>
            <tr id="TR_93">
                <td rowspan="5" id="TD_94">
                    20
                </td>
                <td id="TD_95">
                    М27×1,5
                </td>
                <td id="TD_96">
                    30
                </td>
            </tr>
            <tr id="TR_97">
                <td id="TD_98">
                    М30×1,5
                </td>
                <td id="TD_99">
                    32
                </td>
            </tr>
            <tr id="TR_100">
                <td id="TD_101">
                    М30×2
                </td>
                <td id="TD_102">
                    32
                </td>
            </tr>
            <tr id="TR_103">
                <td id="TD_104">
                    М33×1,5
                </td>
                <td id="TD_105">
                    38
                </td>
            </tr>
            <tr id="TR_106">
                <td id="TD_107">
                    М36×1,5
                </td>
                <td id="TD_108">
                    38
                </td>
            </tr>
            <tr id="TR_109">
                <td rowspan="3" id="TD_110">
                    25
                </td>
                <td id="TD_111">
                    М36×2
                </td>
                <td id="TD_112">
                    38
                </td>
            </tr>
            <tr id="TR_113">
                <td id="TD_114">
                    М39×2
                </td>
                <td id="TD_115">
                    46
                </td>
            </tr>
            <tr id="TR_116">
                <td id="TD_117">
                    М42×2
                </td>
                <td id="TD_118">
                    46
                </td>
            </tr>
            <tr id="TR_119">
                <td rowspan="3" id="TD_120">
                    32
                </td>
                <td id="TD_121">
                    М45×2
                </td>
                <td id="TD_122">
                    50
                </td>
            </tr>
            <tr id="TR_123">
                <td id="TD_124">
                    M48×1,5
                </td>
                <td id="TD_125">
                    50
                </td>
            </tr>
            <tr id="TR_126">
                <td id="TD_127">
                    М52×2
                </td>
                <td id="TD_128">
                    55
                </td>
            </tr>
            <tr id="TR_129">
                <td id="TD_130">
                    38
                </td>
                <td id="TD_131">
                    M52×2
                </td>
                <td id="TD_132">
                    55
                </td>
            </tr>
            <tr id="TR_133">
                <td id="TD_134">
                    50
                </td>
                <td id="TD_135">
                    M64×2
                </td>
                <td id="TD_136">
                    70
                </td>
            </tr>
        </tbody>
    </table>

    <p class="pt-5">
        Фитинги DK - предназначены для соединения металлических рукавов высокого давления с внутренним диаметром от 6 до
        40 мм. Уплотнительные головки доборных элементов совместимы с резьбой на трубах, соответствующих DIN 2353 и DIN
        EN ISO 8434-1. На самих фитингах выполнена метрическая цилиндрическая резьба с углом профиля 60 градусов и
        средним классом допуска по DIN 13.
    </p>

    <ul>
        <li>Устойчивость к действию высоких и низких температур. </li>
        <li>Высокая прочность. </li>
        <li>Герметичность соединения при соблюдении технологий монтажа. </li>
        <li>Устойчивость к коррозии при контакте с гидравлическими жидкостями. </li>
        <li>Быстрый монтаж и демонтаж. </li>
    </ul>

    <style>
        #TABLE_1 {
            block-size: 1096.62px;
            border-collapse: collapse;
            height: 1096.62px;
            inline-size: 613px;
            perspective-origin: 306.5px 548.312px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 306.5px 548.312px;
            width: 613px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TABLE_1*/

        #TABLE_1:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TABLE_1:after*/

        #TABLE_1:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TABLE_1:before*/

        #TBODY_2 {
            block-size: 1095.62px;
            border-block-end-color: rgb(128, 128, 128);
            border-block-start-color: rgb(128, 128, 128);
            border-collapse: collapse;
            border-inline-end-color: rgb(128, 128, 128);
            border-inline-start-color: rgb(128, 128, 128);
            box-sizing: border-box;
            height: 1095.62px;
            inline-size: 612px;
            perspective-origin: 306px 547.812px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 306px 547.812px;
            width: 612px;
            border: 0px none rgb(128, 128, 128);
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TBODY_2*/

        #TBODY_2:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TBODY_2:after*/

        #TBODY_2:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TBODY_2:before*/

        #TR_3,
        #TR_10,
        #TR_14,
        #TR_17,
        #TR_20,
        #TR_23,
        #TR_27,
        #TR_30,
        #TR_33,
        #TR_36,
        #TR_39,
        #TR_42,
        #TR_46,
        #TR_49,
        #TR_52,
        #TR_55,
        #TR_59,
        #TR_62,
        #TR_65,
        #TR_68,
        #TR_71,
        #TR_75,
        #TR_78,
        #TR_81,
        #TR_84,
        #TR_87,
        #TR_90,
        #TR_93,
        #TR_97,
        #TR_100,
        #TR_103,
        #TR_106,
        #TR_109,
        #TR_113,
        #TR_116,
        #TR_119,
        #TR_123,
        #TR_126,
        #TR_129,
        #TR_133 {
            block-size: 27.3906px;
            border-block-end-color: rgb(128, 128, 128);
            border-block-start-color: rgb(128, 128, 128);
            border-collapse: collapse;
            border-inline-end-color: rgb(128, 128, 128);
            border-inline-start-color: rgb(128, 128, 128);
            box-sizing: border-box;
            height: 27.3906px;
            inline-size: 612px;
            perspective-origin: 306px 13.6875px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 306px 13.6953px;
            vertical-align: middle;
            width: 612px;
            border: 0px none rgb(128, 128, 128);
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TR_3, #TR_10, #TR_14, #TR_17, #TR_20, #TR_23, #TR_27, #TR_30, #TR_33, #TR_36, #TR_39, #TR_42, #TR_46, #TR_49, #TR_52, #TR_55, #TR_59, #TR_62, #TR_65, #TR_68, #TR_71, #TR_75, #TR_78, #TR_81, #TR_84, #TR_87, #TR_90, #TR_93, #TR_97, #TR_100, #TR_103, #TR_106, #TR_109, #TR_113, #TR_116, #TR_119, #TR_123, #TR_126, #TR_129, #TR_133*/

        #TR_3:after,
        #TR_10:after,
        #TR_14:after,
        #TR_17:after,
        #TR_20:after,
        #TR_23:after,
        #TR_27:after,
        #TR_30:after,
        #TR_33:after,
        #TR_36:after,
        #TR_39:after,
        #TR_42:after,
        #TR_46:after,
        #TR_49:after,
        #TR_52:after,
        #TR_55:after,
        #TR_59:after,
        #TR_62:after,
        #TR_65:after,
        #TR_68:after,
        #TR_71:after,
        #TR_75:after,
        #TR_78:after,
        #TR_81:after,
        #TR_84:after,
        #TR_87:after,
        #TR_90:after,
        #TR_93:after,
        #TR_97:after,
        #TR_100:after,
        #TR_103:after,
        #TR_106:after,
        #TR_109:after,
        #TR_113:after,
        #TR_116:after,
        #TR_119:after,
        #TR_123:after,
        #TR_126:after,
        #TR_129:after,
        #TR_133:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TR_3:after, #TR_10:after, #TR_14:after, #TR_17:after, #TR_20:after, #TR_23:after, #TR_27:after, #TR_30:after, #TR_33:after, #TR_36:after, #TR_39:after, #TR_42:after, #TR_46:after, #TR_49:after, #TR_52:after, #TR_55:after, #TR_59:after, #TR_62:after, #TR_65:after, #TR_68:after, #TR_71:after, #TR_75:after, #TR_78:after, #TR_81:after, #TR_84:after, #TR_87:after, #TR_90:after, #TR_93:after, #TR_97:after, #TR_100:after, #TR_103:after, #TR_106:after, #TR_109:after, #TR_113:after, #TR_116:after, #TR_119:after, #TR_123:after, #TR_126:after, #TR_129:after, #TR_133:after*/

        #TR_3:before,
        #TR_10:before,
        #TR_14:before,
        #TR_17:before,
        #TR_20:before,
        #TR_23:before,
        #TR_27:before,
        #TR_30:before,
        #TR_33:before,
        #TR_36:before,
        #TR_39:before,
        #TR_42:before,
        #TR_46:before,
        #TR_49:before,
        #TR_52:before,
        #TR_55:before,
        #TR_59:before,
        #TR_62:before,
        #TR_65:before,
        #TR_68:before,
        #TR_71:before,
        #TR_75:before,
        #TR_78:before,
        #TR_81:before,
        #TR_84:before,
        #TR_87:before,
        #TR_90:before,
        #TR_93:before,
        #TR_97:before,
        #TR_100:before,
        #TR_103:before,
        #TR_106:before,
        #TR_109:before,
        #TR_113:before,
        #TR_116:before,
        #TR_119:before,
        #TR_123:before,
        #TR_126:before,
        #TR_129:before,
        #TR_133:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TR_3:before, #TR_10:before, #TR_14:before, #TR_17:before, #TR_20:before, #TR_23:before, #TR_27:before, #TR_30:before, #TR_33:before, #TR_36:before, #TR_39:before, #TR_42:before, #TR_46:before, #TR_49:before, #TR_52:before, #TR_55:before, #TR_59:before, #TR_62:before, #TR_65:before, #TR_68:before, #TR_71:before, #TR_75:before, #TR_78:before, #TR_81:before, #TR_84:before, #TR_87:before, #TR_90:before, #TR_93:before, #TR_97:before, #TR_100:before, #TR_103:before, #TR_106:before, #TR_109:before, #TR_113:before, #TR_116:before, #TR_119:before, #TR_123:before, #TR_126:before, #TR_129:before, #TR_133:before*/

        #TD_4,
        #TD_130,
        #TD_134 {
            block-size: 27.3906px;
            border-block-end-color: rgb(33, 58, 85);
            border-block-end-style: solid;
            border-block-end-width: 1px;
            border-block-start-color: rgb(33, 58, 85);
            border-block-start-style: solid;
            border-block-start-width: 1px;
            border-collapse: collapse;
            border-inline-end-color: rgb(33, 58, 85);
            border-inline-end-style: solid;
            border-inline-end-width: 1px;
            border-inline-start-color: rgb(33, 58, 85);
            border-inline-start-style: solid;
            border-inline-start-width: 1px;
            box-sizing: border-box;
            height: 27.3906px;
            inline-size: 130.75px;
            padding-block-end: 2px;
            padding-block-start: 2px;
            padding-inline-end: 2px;
            padding-inline-start: 2px;
            perspective-origin: 65.375px 13.6875px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 65.375px 13.6953px;
            vertical-align: middle;
            width: 130.75px;
            border: 1px solid rgb(33, 58, 85);
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
            padding: 2px;
        }

        /*#TD_4, #TD_130, #TD_134*/

        #TD_4:after,
        #TD_130:after,
        #TD_134:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_4:after, #TD_130:after, #TD_134:after*/

        #TD_4:before,
        #TD_130:before,
        #TD_134:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_4:before, #TD_130:before, #TD_134:before*/

        #B_5,
        #B_7,
        #B_9 {
            border-collapse: collapse;
            box-sizing: border-box;
            perspective-origin: 0px 0px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 0px 0px;
            border-spacing: 2px 2px;
            font: 700 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#B_5, #B_7, #B_9*/

        #B_5:after,
        #B_7:after,
        #B_9:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 700 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#B_5:after, #B_7:after, #B_9:after*/

        #B_5:before,
        #B_7:before,
        #B_9:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 700 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#B_5:before, #B_7:before, #B_9:before*/

        #TD_6,
        #TD_12,
        #TD_15,
        #TD_18,
        #TD_21,
        #TD_25,
        #TD_28,
        #TD_31,
        #TD_34,
        #TD_37,
        #TD_40,
        #TD_44,
        #TD_47,
        #TD_50,
        #TD_53,
        #TD_57,
        #TD_60,
        #TD_63,
        #TD_66,
        #TD_69,
        #TD_73,
        #TD_76,
        #TD_79,
        #TD_82,
        #TD_85,
        #TD_88,
        #TD_91,
        #TD_95,
        #TD_98,
        #TD_101,
        #TD_104,
        #TD_107,
        #TD_111,
        #TD_114,
        #TD_117,
        #TD_121,
        #TD_124,
        #TD_127,
        #TD_131,
        #TD_135 {
            block-size: 27.3906px;
            border-block-end-color: rgb(33, 58, 85);
            border-block-end-style: solid;
            border-block-end-width: 1px;
            border-block-start-color: rgb(33, 58, 85);
            border-block-start-style: solid;
            border-block-start-width: 1px;
            border-collapse: collapse;
            border-inline-end-color: rgb(33, 58, 85);
            border-inline-end-style: solid;
            border-inline-end-width: 1px;
            border-inline-start-color: rgb(33, 58, 85);
            border-inline-start-style: solid;
            border-inline-start-width: 1px;
            box-sizing: border-box;
            height: 27.3906px;
            inline-size: 170.203px;
            padding-block-end: 2px;
            padding-block-start: 2px;
            padding-inline-end: 2px;
            padding-inline-start: 2px;
            perspective-origin: 85.0938px 13.6875px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 85.1016px 13.6953px;
            vertical-align: middle;
            width: 170.203px;
            border: 1px solid rgb(33, 58, 85);
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
            padding: 2px;
        }

        /*#TD_6, #TD_12, #TD_15, #TD_18, #TD_21, #TD_25, #TD_28, #TD_31, #TD_34, #TD_37, #TD_40, #TD_44, #TD_47, #TD_50, #TD_53, #TD_57, #TD_60, #TD_63, #TD_66, #TD_69, #TD_73, #TD_76, #TD_79, #TD_82, #TD_85, #TD_88, #TD_91, #TD_95, #TD_98, #TD_101, #TD_104, #TD_107, #TD_111, #TD_114, #TD_117, #TD_121, #TD_124, #TD_127, #TD_131, #TD_135*/

        #TD_6:after,
        #TD_12:after,
        #TD_15:after,
        #TD_18:after,
        #TD_21:after,
        #TD_25:after,
        #TD_28:after,
        #TD_31:after,
        #TD_34:after,
        #TD_37:after,
        #TD_40:after,
        #TD_44:after,
        #TD_47:after,
        #TD_50:after,
        #TD_53:after,
        #TD_57:after,
        #TD_60:after,
        #TD_63:after,
        #TD_66:after,
        #TD_69:after,
        #TD_73:after,
        #TD_76:after,
        #TD_79:after,
        #TD_82:after,
        #TD_85:after,
        #TD_88:after,
        #TD_91:after,
        #TD_95:after,
        #TD_98:after,
        #TD_101:after,
        #TD_104:after,
        #TD_107:after,
        #TD_111:after,
        #TD_114:after,
        #TD_117:after,
        #TD_121:after,
        #TD_124:after,
        #TD_127:after,
        #TD_131:after,
        #TD_135:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_6:after, #TD_12:after, #TD_15:after, #TD_18:after, #TD_21:after, #TD_25:after, #TD_28:after, #TD_31:after, #TD_34:after, #TD_37:after, #TD_40:after, #TD_44:after, #TD_47:after, #TD_50:after, #TD_53:after, #TD_57:after, #TD_60:after, #TD_63:after, #TD_66:after, #TD_69:after, #TD_73:after, #TD_76:after, #TD_79:after, #TD_82:after, #TD_85:after, #TD_88:after, #TD_91:after, #TD_95:after, #TD_98:after, #TD_101:after, #TD_104:after, #TD_107:after, #TD_111:after, #TD_114:after, #TD_117:after, #TD_121:after, #TD_124:after, #TD_127:after, #TD_131:after, #TD_135:after*/

        #TD_6:before,
        #TD_12:before,
        #TD_15:before,
        #TD_18:before,
        #TD_21:before,
        #TD_25:before,
        #TD_28:before,
        #TD_31:before,
        #TD_34:before,
        #TD_37:before,
        #TD_40:before,
        #TD_44:before,
        #TD_47:before,
        #TD_50:before,
        #TD_53:before,
        #TD_57:before,
        #TD_60:before,
        #TD_63:before,
        #TD_66:before,
        #TD_69:before,
        #TD_73:before,
        #TD_76:before,
        #TD_79:before,
        #TD_82:before,
        #TD_85:before,
        #TD_88:before,
        #TD_91:before,
        #TD_95:before,
        #TD_98:before,
        #TD_101:before,
        #TD_104:before,
        #TD_107:before,
        #TD_111:before,
        #TD_114:before,
        #TD_117:before,
        #TD_121:before,
        #TD_124:before,
        #TD_127:before,
        #TD_131:before,
        #TD_135:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_6:before, #TD_12:before, #TD_15:before, #TD_18:before, #TD_21:before, #TD_25:before, #TD_28:before, #TD_31:before, #TD_34:before, #TD_37:before, #TD_40:before, #TD_44:before, #TD_47:before, #TD_50:before, #TD_53:before, #TD_57:before, #TD_60:before, #TD_63:before, #TD_66:before, #TD_69:before, #TD_73:before, #TD_76:before, #TD_79:before, #TD_82:before, #TD_85:before, #TD_88:before, #TD_91:before, #TD_95:before, #TD_98:before, #TD_101:before, #TD_104:before, #TD_107:before, #TD_111:before, #TD_114:before, #TD_117:before, #TD_121:before, #TD_124:before, #TD_127:before, #TD_131:before, #TD_135:before*/

        #TD_8,
        #TD_13,
        #TD_19,
        #TD_26,
        #TD_32,
        #TD_38,
        #TD_45,
        #TD_51,
        #TD_58,
        #TD_64,
        #TD_70,
        #TD_74,
        #TD_80,
        #TD_86,
        #TD_92,
        #TD_96,
        #TD_102,
        #TD_108,
        #TD_112,
        #TD_118,
        #TD_122,
        #TD_128,
        #TD_136 {
            block-size: 27.3906px;
            border-block-end-color: rgb(33, 58, 85);
            border-block-end-style: solid;
            border-block-end-width: 1px;
            border-block-start-color: rgb(33, 58, 85);
            border-block-start-style: solid;
            border-block-start-width: 1px;
            border-collapse: collapse;
            border-inline-end-color: rgb(33, 58, 85);
            border-inline-end-style: solid;
            border-inline-end-width: 1px;
            border-inline-start-color: rgb(33, 58, 85);
            border-inline-start-style: solid;
            border-inline-start-width: 1px;
            box-sizing: border-box;
            height: 27.3906px;
            inline-size: 311.047px;
            padding-block-end: 2px;
            padding-block-start: 2px;
            padding-inline-end: 2px;
            padding-inline-start: 2px;
            perspective-origin: 155.516px 13.6875px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 155.523px 13.6953px;
            vertical-align: middle;
            width: 311.047px;
            border: 1px solid rgb(33, 58, 85);
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
            padding: 2px;
        }

        /*#TD_8, #TD_13, #TD_19, #TD_26, #TD_32, #TD_38, #TD_45, #TD_51, #TD_58, #TD_64, #TD_70, #TD_74, #TD_80, #TD_86, #TD_92, #TD_96, #TD_102, #TD_108, #TD_112, #TD_118, #TD_122, #TD_128, #TD_136*/

        #TD_8:after,
        #TD_13:after,
        #TD_19:after,
        #TD_26:after,
        #TD_32:after,
        #TD_38:after,
        #TD_45:after,
        #TD_51:after,
        #TD_58:after,
        #TD_64:after,
        #TD_70:after,
        #TD_74:after,
        #TD_80:after,
        #TD_86:after,
        #TD_92:after,
        #TD_96:after,
        #TD_102:after,
        #TD_108:after,
        #TD_112:after,
        #TD_118:after,
        #TD_122:after,
        #TD_128:after,
        #TD_136:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_8:after, #TD_13:after, #TD_19:after, #TD_26:after, #TD_32:after, #TD_38:after, #TD_45:after, #TD_51:after, #TD_58:after, #TD_64:after, #TD_70:after, #TD_74:after, #TD_80:after, #TD_86:after, #TD_92:after, #TD_96:after, #TD_102:after, #TD_108:after, #TD_112:after, #TD_118:after, #TD_122:after, #TD_128:after, #TD_136:after*/

        #TD_8:before,
        #TD_13:before,
        #TD_19:before,
        #TD_26:before,
        #TD_32:before,
        #TD_38:before,
        #TD_45:before,
        #TD_51:before,
        #TD_58:before,
        #TD_64:before,
        #TD_70:before,
        #TD_74:before,
        #TD_80:before,
        #TD_86:before,
        #TD_92:before,
        #TD_96:before,
        #TD_102:before,
        #TD_108:before,
        #TD_112:before,
        #TD_118:before,
        #TD_122:before,
        #TD_128:before,
        #TD_136:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_8:before, #TD_13:before, #TD_19:before, #TD_26:before, #TD_32:before, #TD_38:before, #TD_45:before, #TD_51:before, #TD_58:before, #TD_64:before, #TD_70:before, #TD_74:before, #TD_80:before, #TD_86:before, #TD_92:before, #TD_96:before, #TD_102:before, #TD_108:before, #TD_112:before, #TD_118:before, #TD_122:before, #TD_128:before, #TD_136:before*/

        #TD_11,
        #TD_43 {
            block-size: 109.562px;
            border-block-end-color: rgb(33, 58, 85);
            border-block-end-style: solid;
            border-block-end-width: 1px;
            border-block-start-color: rgb(33, 58, 85);
            border-block-start-style: solid;
            border-block-start-width: 1px;
            border-collapse: collapse;
            border-inline-end-color: rgb(33, 58, 85);
            border-inline-end-style: solid;
            border-inline-end-width: 1px;
            border-inline-start-color: rgb(33, 58, 85);
            border-inline-start-style: solid;
            border-inline-start-width: 1px;
            box-sizing: border-box;
            height: 109.562px;
            inline-size: 130.75px;
            padding-block-end: 2px;
            padding-block-start: 2px;
            padding-inline-end: 2px;
            padding-inline-start: 2px;
            perspective-origin: 65.375px 54.7812px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 65.375px 54.7812px;
            vertical-align: middle;
            width: 130.75px;
            border: 1px solid rgb(33, 58, 85);
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
            padding: 2px;
        }

        /*#TD_11, #TD_43*/

        #TD_11:after,
        #TD_43:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_11:after, #TD_43:after*/

        #TD_11:before,
        #TD_43:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_11:before, #TD_43:before*/

        #TD_16,
        #TD_22,
        #TD_29,
        #TD_41,
        #TD_54,
        #TD_61,
        #TD_77,
        #TD_89,
        #TD_99,
        #TD_115,
        #TD_125 {
            block-size: 27.3906px;
            border-block-end-color: rgb(33, 58, 85);
            border-block-end-style: solid;
            border-block-end-width: 1px;
            border-block-start-color: rgb(33, 58, 85);
            border-block-start-style: solid;
            border-block-start-width: 1px;
            border-collapse: collapse;
            border-inline-end-color: rgb(33, 58, 85);
            border-inline-end-style: solid;
            border-inline-end-width: 1px;
            border-inline-start-color: rgb(33, 58, 85);
            border-inline-start-style: solid;
            border-inline-start-width: 1px;
            box-sizing: border-box;
            height: 27.3906px;
            inline-size: 311.047px;
            padding-block-end: 2px;
            padding-block-start: 2px;
            padding-inline-end: 2px;
            padding-inline-start: 2px;
            perspective-origin: 155.516px 13.6875px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 155.523px 13.6953px;
            vertical-align: middle;
            width: 311.047px;
            border: 1px solid rgb(33, 58, 85);
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
            padding: 2px;
        }

        /*#TD_16, #TD_22, #TD_29, #TD_41, #TD_54, #TD_61, #TD_77, #TD_89, #TD_99, #TD_115, #TD_125*/

        #TD_16:after,
        #TD_22:after,
        #TD_29:after,
        #TD_41:after,
        #TD_54:after,
        #TD_61:after,
        #TD_77:after,
        #TD_89:after,
        #TD_99:after,
        #TD_115:after,
        #TD_125:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_16:after, #TD_22:after, #TD_29:after, #TD_41:after, #TD_54:after, #TD_61:after, #TD_77:after, #TD_89:after, #TD_99:after, #TD_115:after, #TD_125:after*/

        #TD_16:before,
        #TD_22:before,
        #TD_29:before,
        #TD_41:before,
        #TD_54:before,
        #TD_61:before,
        #TD_77:before,
        #TD_89:before,
        #TD_99:before,
        #TD_115:before,
        #TD_125:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_16:before, #TD_22:before, #TD_29:before, #TD_41:before, #TD_54:before, #TD_61:before, #TD_77:before, #TD_89:before, #TD_99:before, #TD_115:before, #TD_125:before*/

        #TD_24 {
            block-size: 164.344px;
            border-block-end-color: rgb(33, 58, 85);
            border-block-end-style: solid;
            border-block-end-width: 1px;
            border-block-start-color: rgb(33, 58, 85);
            border-block-start-style: solid;
            border-block-start-width: 1px;
            border-collapse: collapse;
            border-inline-end-color: rgb(33, 58, 85);
            border-inline-end-style: solid;
            border-inline-end-width: 1px;
            border-inline-start-color: rgb(33, 58, 85);
            border-inline-start-style: solid;
            border-inline-start-width: 1px;
            box-sizing: border-box;
            height: 164.344px;
            inline-size: 130.75px;
            padding-block-end: 2px;
            padding-block-start: 2px;
            padding-inline-end: 2px;
            padding-inline-start: 2px;
            perspective-origin: 65.375px 82.1719px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 65.375px 82.1719px;
            vertical-align: middle;
            width: 130.75px;
            border: 1px solid rgb(33, 58, 85);
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
            padding: 2px;
        }

        /*#TD_24*/

        #TD_24:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_24:after*/

        #TD_24:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_24:before*/

        #TD_35,
        #TD_48,
        #TD_67,
        #TD_83,
        #TD_105,
        #TD_132 {
            block-size: 27.3906px;
            border-block-end-color: rgb(33, 58, 85);
            border-block-end-style: solid;
            border-block-end-width: 1px;
            border-block-start-color: rgb(33, 58, 85);
            border-block-start-style: solid;
            border-block-start-width: 1px;
            border-collapse: collapse;
            border-inline-end-color: rgb(33, 58, 85);
            border-inline-end-style: solid;
            border-inline-end-width: 1px;
            border-inline-start-color: rgb(33, 58, 85);
            border-inline-start-style: solid;
            border-inline-start-width: 1px;
            box-sizing: border-box;
            height: 27.3906px;
            inline-size: 311.047px;
            padding-block-end: 2px;
            padding-block-start: 2px;
            padding-inline-end: 2px;
            padding-inline-start: 2px;
            perspective-origin: 155.516px 13.6875px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 155.523px 13.6953px;
            vertical-align: middle;
            width: 311.047px;
            border: 1px solid rgb(33, 58, 85);
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
            padding: 2px;
        }

        /*#TD_35, #TD_48, #TD_67, #TD_83, #TD_105, #TD_132*/

        #TD_35:after,
        #TD_48:after,
        #TD_67:after,
        #TD_83:after,
        #TD_105:after,
        #TD_132:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_35:after, #TD_48:after, #TD_67:after, #TD_83:after, #TD_105:after, #TD_132:after*/

        #TD_35:before,
        #TD_48:before,
        #TD_67:before,
        #TD_83:before,
        #TD_105:before,
        #TD_132:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_35:before, #TD_48:before, #TD_67:before, #TD_83:before, #TD_105:before, #TD_132:before*/

        #TD_56,
        #TD_94 {
            block-size: 136.953px;
            border-block-end-color: rgb(33, 58, 85);
            border-block-end-style: solid;
            border-block-end-width: 1px;
            border-block-start-color: rgb(33, 58, 85);
            border-block-start-style: solid;
            border-block-start-width: 1px;
            border-collapse: collapse;
            border-inline-end-color: rgb(33, 58, 85);
            border-inline-end-style: solid;
            border-inline-end-width: 1px;
            border-inline-start-color: rgb(33, 58, 85);
            border-inline-start-style: solid;
            border-inline-start-width: 1px;
            box-sizing: border-box;
            height: 136.953px;
            inline-size: 130.75px;
            padding-block-end: 2px;
            padding-block-start: 2px;
            padding-inline-end: 2px;
            padding-inline-start: 2px;
            perspective-origin: 65.375px 68.4688px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 65.375px 68.4766px;
            vertical-align: middle;
            width: 130.75px;
            border: 1px solid rgb(33, 58, 85);
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
            padding: 2px;
        }

        /*#TD_56, #TD_94*/

        #TD_56:after,
        #TD_94:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_56:after, #TD_94:after*/

        #TD_56:before,
        #TD_94:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_56:before, #TD_94:before*/

        #TD_72 {
            block-size: 191.734px;
            border-block-end-color: rgb(33, 58, 85);
            border-block-end-style: solid;
            border-block-end-width: 1px;
            border-block-start-color: rgb(33, 58, 85);
            border-block-start-style: solid;
            border-block-start-width: 1px;
            border-collapse: collapse;
            border-inline-end-color: rgb(33, 58, 85);
            border-inline-end-style: solid;
            border-inline-end-width: 1px;
            border-inline-start-color: rgb(33, 58, 85);
            border-inline-start-style: solid;
            border-inline-start-width: 1px;
            box-sizing: border-box;
            height: 191.734px;
            inline-size: 130.75px;
            padding-block-end: 2px;
            padding-block-start: 2px;
            padding-inline-end: 2px;
            padding-inline-start: 2px;
            perspective-origin: 65.375px 95.8594px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 65.375px 95.8672px;
            vertical-align: middle;
            width: 130.75px;
            border: 1px solid rgb(33, 58, 85);
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
            padding: 2px;
        }

        /*#TD_72*/

        #TD_72:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_72:after*/

        #TD_72:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_72:before*/

        #TD_110,
        #TD_120 {
            block-size: 82.1719px;
            border-block-end-color: rgb(33, 58, 85);
            border-block-end-style: solid;
            border-block-end-width: 1px;
            border-block-start-color: rgb(33, 58, 85);
            border-block-start-style: solid;
            border-block-start-width: 1px;
            border-collapse: collapse;
            border-inline-end-color: rgb(33, 58, 85);
            border-inline-end-style: solid;
            border-inline-end-width: 1px;
            border-inline-start-color: rgb(33, 58, 85);
            border-inline-start-style: solid;
            border-inline-start-width: 1px;
            box-sizing: border-box;
            height: 82.1719px;
            inline-size: 130.75px;
            padding-block-end: 2px;
            padding-block-start: 2px;
            padding-inline-end: 2px;
            padding-inline-start: 2px;
            perspective-origin: 65.375px 41.0781px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 65.375px 41.0859px;
            vertical-align: middle;
            width: 130.75px;
            border: 1px solid rgb(33, 58, 85);
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
            padding: 2px;
        }

        /*#TD_110, #TD_120*/

        #TD_110:after,
        #TD_120:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_110:after, #TD_120:after*/

        #TD_110:before,
        #TD_120:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_110:before, #TD_120:before*/
    </style>

</div>

{% endblock fittings-info %}