{% extends 'rzmr/fittings_base.html' %}
{% load static %}

{% block fittings-info %}

<div class="container">
    <div class="row">
        <div class="col-12 border text-center m-1">
            <img id="bigImage" class="resize-big-img" src="{% static 'rzmr/img/DKI.jpg' %}" alt="img-big">
        </div>
    </div>
    <div class="row">
        <div class="col-2 border d-flex m-1">
            <img class="resize-img" src="{% static 'rzmr/img/DKI.jpg' %}" alt="img1">
        </div>
        <div class="col-2 border d-flex m-1">
            <img class="resize-img" src="{% static 'rzmr/img/DKI2.png' %}" alt="img2">
        </div>
    </div>

    <h3>Технические характеристики и особенности конструкции</h3>
    <br>

    <table id="TABLE_1">
        <tbody id="TBODY_2">
            <tr id="TR_3">
                <td id="TD_4">
                    <b id="B_5">Ду , мм</b>
                </td>
                <td id="TD_6">
                    <b id="B_7">E, резьба</b>
                </td>
                <td id="TD_8">
                    <b id="B_9">S2, размер ключа</b>
                </td>
            </tr>
            <tr id="TR_10">
                <td rowspan="4" id="TD_11">
                    6
                </td>
                <td id="TD_12">
                    M10x1
                </td>
                <td id="TD_13">
                    14
                </td>
            </tr>
            <tr id="TR_14">
                <td id="TD_15">
                    М12×1,5
                </td>
                <td id="TD_16">
                    17
                </td>
            </tr>
            <tr id="TR_17">
                <td id="TD_18">
                    М14×1,5
                </td>
                <td id="TD_19">
                    17
                </td>
            </tr>
            <tr id="TR_20">
                <td id="TD_21">
                    М16×1,5
                </td>
                <td id="TD_22">
                    19
                </td>
            </tr>
            <tr id="TR_23">
                <td rowspan="4" id="TD_24">
                    8
                </td>
                <td id="TD_25">
                    М14×1,5
                </td>
                <td id="TD_26">
                    17
                </td>
            </tr>
            <tr id="TR_27">
                <td id="TD_28">
                    М16×1,5
                </td>
                <td id="TD_29">
                    19
                </td>
            </tr>
            <tr id="TR_30">
                <td id="TD_31">
                    М18×1,5
                </td>
                <td id="TD_32">
                    22
                </td>
            </tr>
            <tr id="TR_33">
                <td id="TD_34">
                    М20×1,5
                </td>
                <td id="TD_35">
                    24
                </td>
            </tr>
            <tr id="TR_36">
                <td rowspan="4" id="TD_37">
                    10
                </td>
                <td id="TD_38">
                    М16×1,5
                </td>
                <td id="TD_39">
                    19
                </td>
            </tr>
            <tr id="TR_40">
                <td id="TD_41">
                    М18×1,5
                </td>
                <td id="TD_42">
                    22
                </td>
            </tr>
            <tr id="TR_43">
                <td id="TD_44">
                    М20×1,5
                </td>
                <td id="TD_45">
                    24
                </td>
            </tr>
            <tr id="TR_46">
                <td id="TD_47">
                    М22×1,5
                </td>
                <td id="TD_48">
                    27
                </td>
            </tr>
            <tr id="TR_49">
                <td rowspan="4" id="TD_50">
                    12
                </td>
                <td id="TD_51">
                    М20×1,5
                </td>
                <td id="TD_52">
                    24/27
                </td>
            </tr>
            <tr id="TR_53">
                <td id="TD_54">
                    М22×1,5
                </td>
                <td id="TD_55">
                    27
                </td>
            </tr>
            <tr id="TR_56">
                <td id="TD_57">
                    М24×1,5
                </td>
                <td id="TD_58">
                    30
                </td>
            </tr>
            <tr id="TR_59">
                <td id="TD_60">
                    М27×2
                </td>
                <td id="TD_61">
                    32
                </td>
            </tr>
            <tr id="TR_62">
                <td rowspan="4" id="TD_63">
                    16
                </td>
                <td id="TD_64">
                    М22×1,5
                </td>
                <td id="TD_65">
                    27
                </td>
            </tr>
            <tr id="TR_66">
                <td id="TD_67">
                    М24×1,5
                </td>
                <td id="TD_68">
                    30
                </td>
            </tr>
            <tr id="TR_69">
                <td id="TD_70">
                    М27×1,5
                </td>
                <td id="TD_71">
                    32
                </td>
            </tr>
            <tr id="TR_72">
                <td id="TD_73">
                    М30×1,5
                </td>
                <td id="TD_74">
                    36
                </td>
            </tr>
            <tr id="TR_75">
                <td rowspan="4" id="TD_76">
                    20
                </td>
                <td id="TD_77">
                    М27×1,5
                </td>
                <td id="TD_78">
                    32
                </td>
            </tr>
            <tr id="TR_79">
                <td id="TD_80">
                    М30×1,5
                </td>
                <td id="TD_81">
                    36
                </td>
            </tr>
            <tr id="TR_82">
                <td id="TD_83">
                    М33×2
                </td>
                <td id="TD_84">
                    41
                </td>
            </tr>
            <tr id="TR_85">
                <td id="TD_86">
                    М36×1,5
                </td>
                <td id="TD_87">
                    41
                </td>
            </tr>
            <tr id="TR_88">
                <td rowspan="2" id="TD_89">
                    25
                </td>
                <td id="TD_90">
                    М39×2
                </td>
                <td id="TD_91">
                    46
                </td>
            </tr>
            <tr id="TR_92">
                <td id="TD_93">
                    М42×2
                </td>
                <td id="TD_94">
                    50
                </td>
            </tr>
            <tr id="TR_95">
                <td rowspan="3" id="TD_96">
                    32
                </td>
                <td id="TD_97">
                    М45×2
                </td>
                <td id="TD_98">
                    55
                </td>
            </tr>
            <tr id="TR_99">
                <td id="TD_100">
                    M48×1,5
                </td>
                <td id="TD_101">
                    55
                </td>
            </tr>
            <tr id="TR_102">
                <td id="TD_103">
                    М52×2
                </td>
                <td id="TD_104">
                    60
                </td>
            </tr>
            <tr id="TR_105">
                <td id="TD_106">
                    38
                </td>
                <td id="TD_107">
                    M52×2
                </td>
                <td id="TD_108">
                    60
                </td>
            </tr>
        </tbody>
    </table>

    <p class="pt-5">
        Фитинги DK - предназначены для соединения металлических рукавов высокого давления с внутренним диаметром от 6 до
        40 мм. Уплотнительные головки доборных элементов совместимы с резьбой на трубах, соответствующих DIN 2353 и DIN
        EN ISO 8434-1. На самих фитингах выполнена метрическая цилиндрическая резьба с углом профиля 60 градусов и
        средним классом допуска по DIN 13.
    </p>

    <ul>
        <li>Устойчивость к действию высоких и низких температур. </li>
        <li>Высокая прочность. </li>
        <li>Герметичность соединения при соблюдении технологий монтажа. </li>
        <li>Устойчивость к коррозии при контакте с гидравлическими жидкостями. </li>
        <li>Быстрый монтаж и демонтаж. </li>
    </ul>

    <style>
        #TABLE_1 {
            block-size: 850.109px;
            border-collapse: collapse;
            height: 850.109px;
            inline-size: 613px;
            perspective-origin: 306.5px 425.047px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 306.5px 425.055px;
            width: 613px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TABLE_1*/

        #TABLE_1:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TABLE_1:after*/

        #TABLE_1:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TABLE_1:before*/

        #TBODY_2 {
            block-size: 849.109px;
            border-block-end-color: rgb(128, 128, 128);
            border-block-start-color: rgb(128, 128, 128);
            border-collapse: collapse;
            border-inline-end-color: rgb(128, 128, 128);
            border-inline-start-color: rgb(128, 128, 128);
            box-sizing: border-box;
            height: 849.109px;
            inline-size: 612px;
            perspective-origin: 306px 424.547px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 306px 424.555px;
            width: 612px;
            border: 0px none rgb(128, 128, 128);
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TBODY_2*/

        #TBODY_2:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TBODY_2:after*/

        #TBODY_2:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TBODY_2:before*/

        #TR_3,
        #TR_10,
        #TR_14,
        #TR_17,
        #TR_20,
        #TR_23,
        #TR_27,
        #TR_30,
        #TR_33,
        #TR_36,
        #TR_40,
        #TR_43,
        #TR_46,
        #TR_49,
        #TR_53,
        #TR_56,
        #TR_59,
        #TR_62,
        #TR_66,
        #TR_69,
        #TR_72,
        #TR_75,
        #TR_79,
        #TR_82,
        #TR_85,
        #TR_88,
        #TR_92,
        #TR_95,
        #TR_99,
        #TR_102,
        #TR_105 {
            block-size: 27.3906px;
            border-block-end-color: rgb(128, 128, 128);
            border-block-start-color: rgb(128, 128, 128);
            border-collapse: collapse;
            border-inline-end-color: rgb(128, 128, 128);
            border-inline-start-color: rgb(128, 128, 128);
            box-sizing: border-box;
            height: 27.3906px;
            inline-size: 612px;
            perspective-origin: 306px 13.6875px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 306px 13.6953px;
            vertical-align: middle;
            width: 612px;
            border: 0px none rgb(128, 128, 128);
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TR_3, #TR_10, #TR_14, #TR_17, #TR_20, #TR_23, #TR_27, #TR_30, #TR_33, #TR_36, #TR_40, #TR_43, #TR_46, #TR_49, #TR_53, #TR_56, #TR_59, #TR_62, #TR_66, #TR_69, #TR_72, #TR_75, #TR_79, #TR_82, #TR_85, #TR_88, #TR_92, #TR_95, #TR_99, #TR_102, #TR_105*/

        #TR_3:after,
        #TR_10:after,
        #TR_14:after,
        #TR_17:after,
        #TR_20:after,
        #TR_23:after,
        #TR_27:after,
        #TR_30:after,
        #TR_33:after,
        #TR_36:after,
        #TR_40:after,
        #TR_43:after,
        #TR_46:after,
        #TR_49:after,
        #TR_53:after,
        #TR_56:after,
        #TR_59:after,
        #TR_62:after,
        #TR_66:after,
        #TR_69:after,
        #TR_72:after,
        #TR_75:after,
        #TR_79:after,
        #TR_82:after,
        #TR_85:after,
        #TR_88:after,
        #TR_92:after,
        #TR_95:after,
        #TR_99:after,
        #TR_102:after,
        #TR_105:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TR_3:after, #TR_10:after, #TR_14:after, #TR_17:after, #TR_20:after, #TR_23:after, #TR_27:after, #TR_30:after, #TR_33:after, #TR_36:after, #TR_40:after, #TR_43:after, #TR_46:after, #TR_49:after, #TR_53:after, #TR_56:after, #TR_59:after, #TR_62:after, #TR_66:after, #TR_69:after, #TR_72:after, #TR_75:after, #TR_79:after, #TR_82:after, #TR_85:after, #TR_88:after, #TR_92:after, #TR_95:after, #TR_99:after, #TR_102:after, #TR_105:after*/

        #TR_3:before,
        #TR_10:before,
        #TR_14:before,
        #TR_17:before,
        #TR_20:before,
        #TR_23:before,
        #TR_27:before,
        #TR_30:before,
        #TR_33:before,
        #TR_36:before,
        #TR_40:before,
        #TR_43:before,
        #TR_46:before,
        #TR_49:before,
        #TR_53:before,
        #TR_56:before,
        #TR_59:before,
        #TR_62:before,
        #TR_66:before,
        #TR_69:before,
        #TR_72:before,
        #TR_75:before,
        #TR_79:before,
        #TR_82:before,
        #TR_85:before,
        #TR_88:before,
        #TR_92:before,
        #TR_95:before,
        #TR_99:before,
        #TR_102:before,
        #TR_105:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TR_3:before, #TR_10:before, #TR_14:before, #TR_17:before, #TR_20:before, #TR_23:before, #TR_27:before, #TR_30:before, #TR_33:before, #TR_36:before, #TR_40:before, #TR_43:before, #TR_46:before, #TR_49:before, #TR_53:before, #TR_56:before, #TR_59:before, #TR_62:before, #TR_66:before, #TR_69:before, #TR_72:before, #TR_75:before, #TR_79:before, #TR_82:before, #TR_85:before, #TR_88:before, #TR_92:before, #TR_95:before, #TR_99:before, #TR_102:before, #TR_105:before*/

        #TD_4,
        #TD_106 {
            block-size: 27.3906px;
            border-block-end-color: rgb(33, 58, 85);
            border-block-end-style: solid;
            border-block-end-width: 1px;
            border-block-start-color: rgb(33, 58, 85);
            border-block-start-style: solid;
            border-block-start-width: 1px;
            border-collapse: collapse;
            border-inline-end-color: rgb(33, 58, 85);
            border-inline-end-style: solid;
            border-inline-end-width: 1px;
            border-inline-start-color: rgb(33, 58, 85);
            border-inline-start-style: solid;
            border-inline-start-width: 1px;
            box-sizing: border-box;
            height: 27.3906px;
            inline-size: 130.75px;
            padding-block-end: 2px;
            padding-block-start: 2px;
            padding-inline-end: 2px;
            padding-inline-start: 2px;
            perspective-origin: 65.375px 13.6875px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 65.375px 13.6953px;
            vertical-align: middle;
            width: 130.75px;
            border: 1px solid rgb(33, 58, 85);
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
            padding: 2px;
        }

        /*#TD_4, #TD_106*/

        #TD_4:after,
        #TD_106:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_4:after, #TD_106:after*/

        #TD_4:before,
        #TD_106:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_4:before, #TD_106:before*/

        #B_5,
        #B_7,
        #B_9 {
            border-collapse: collapse;
            box-sizing: border-box;
            perspective-origin: 0px 0px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 0px 0px;
            border-spacing: 2px 2px;
            font: 700 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#B_5, #B_7, #B_9*/

        #B_5:after,
        #B_7:after,
        #B_9:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 700 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#B_5:after, #B_7:after, #B_9:after*/

        #B_5:before,
        #B_7:before,
        #B_9:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 700 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#B_5:before, #B_7:before, #B_9:before*/

        #TD_6,
        #TD_12,
        #TD_15,
        #TD_18,
        #TD_21,
        #TD_25,
        #TD_28,
        #TD_31,
        #TD_34,
        #TD_38,
        #TD_41,
        #TD_44,
        #TD_47,
        #TD_51,
        #TD_54,
        #TD_57,
        #TD_60,
        #TD_64,
        #TD_67,
        #TD_70,
        #TD_73,
        #TD_77,
        #TD_80,
        #TD_83,
        #TD_86,
        #TD_90,
        #TD_93,
        #TD_97,
        #TD_100,
        #TD_103,
        #TD_107 {
            block-size: 27.3906px;
            border-block-end-color: rgb(33, 58, 85);
            border-block-end-style: solid;
            border-block-end-width: 1px;
            border-block-start-color: rgb(33, 58, 85);
            border-block-start-style: solid;
            border-block-start-width: 1px;
            border-collapse: collapse;
            border-inline-end-color: rgb(33, 58, 85);
            border-inline-end-style: solid;
            border-inline-end-width: 1px;
            border-inline-start-color: rgb(33, 58, 85);
            border-inline-start-style: solid;
            border-inline-start-width: 1px;
            box-sizing: border-box;
            height: 27.3906px;
            inline-size: 170.203px;
            padding-block-end: 2px;
            padding-block-start: 2px;
            padding-inline-end: 2px;
            padding-inline-start: 2px;
            perspective-origin: 85.0938px 13.6875px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 85.1016px 13.6953px;
            vertical-align: middle;
            width: 170.203px;
            border: 1px solid rgb(33, 58, 85);
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
            padding: 2px;
        }

        /*#TD_6, #TD_12, #TD_15, #TD_18, #TD_21, #TD_25, #TD_28, #TD_31, #TD_34, #TD_38, #TD_41, #TD_44, #TD_47, #TD_51, #TD_54, #TD_57, #TD_60, #TD_64, #TD_67, #TD_70, #TD_73, #TD_77, #TD_80, #TD_83, #TD_86, #TD_90, #TD_93, #TD_97, #TD_100, #TD_103, #TD_107*/

        #TD_6:after,
        #TD_12:after,
        #TD_15:after,
        #TD_18:after,
        #TD_21:after,
        #TD_25:after,
        #TD_28:after,
        #TD_31:after,
        #TD_34:after,
        #TD_38:after,
        #TD_41:after,
        #TD_44:after,
        #TD_47:after,
        #TD_51:after,
        #TD_54:after,
        #TD_57:after,
        #TD_60:after,
        #TD_64:after,
        #TD_67:after,
        #TD_70:after,
        #TD_73:after,
        #TD_77:after,
        #TD_80:after,
        #TD_83:after,
        #TD_86:after,
        #TD_90:after,
        #TD_93:after,
        #TD_97:after,
        #TD_100:after,
        #TD_103:after,
        #TD_107:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_6:after, #TD_12:after, #TD_15:after, #TD_18:after, #TD_21:after, #TD_25:after, #TD_28:after, #TD_31:after, #TD_34:after, #TD_38:after, #TD_41:after, #TD_44:after, #TD_47:after, #TD_51:after, #TD_54:after, #TD_57:after, #TD_60:after, #TD_64:after, #TD_67:after, #TD_70:after, #TD_73:after, #TD_77:after, #TD_80:after, #TD_83:after, #TD_86:after, #TD_90:after, #TD_93:after, #TD_97:after, #TD_100:after, #TD_103:after, #TD_107:after*/

        #TD_6:before,
        #TD_12:before,
        #TD_15:before,
        #TD_18:before,
        #TD_21:before,
        #TD_25:before,
        #TD_28:before,
        #TD_31:before,
        #TD_34:before,
        #TD_38:before,
        #TD_41:before,
        #TD_44:before,
        #TD_47:before,
        #TD_51:before,
        #TD_54:before,
        #TD_57:before,
        #TD_60:before,
        #TD_64:before,
        #TD_67:before,
        #TD_70:before,
        #TD_73:before,
        #TD_77:before,
        #TD_80:before,
        #TD_83:before,
        #TD_86:before,
        #TD_90:before,
        #TD_93:before,
        #TD_97:before,
        #TD_100:before,
        #TD_103:before,
        #TD_107:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_6:before, #TD_12:before, #TD_15:before, #TD_18:before, #TD_21:before, #TD_25:before, #TD_28:before, #TD_31:before, #TD_34:before, #TD_38:before, #TD_41:before, #TD_44:before, #TD_47:before, #TD_51:before, #TD_54:before, #TD_57:before, #TD_60:before, #TD_64:before, #TD_67:before, #TD_70:before, #TD_73:before, #TD_77:before, #TD_80:before, #TD_83:before, #TD_86:before, #TD_90:before, #TD_93:before, #TD_97:before, #TD_100:before, #TD_103:before, #TD_107:before*/

        #TD_8,
        #TD_13,
        #TD_19,
        #TD_26,
        #TD_32,
        #TD_39,
        #TD_45,
        #TD_52,
        #TD_58,
        #TD_65,
        #TD_71,
        #TD_78,
        #TD_84,
        #TD_91,
        #TD_98,
        #TD_104 {
            block-size: 27.3906px;
            border-block-end-color: rgb(33, 58, 85);
            border-block-end-style: solid;
            border-block-end-width: 1px;
            border-block-start-color: rgb(33, 58, 85);
            border-block-start-style: solid;
            border-block-start-width: 1px;
            border-collapse: collapse;
            border-inline-end-color: rgb(33, 58, 85);
            border-inline-end-style: solid;
            border-inline-end-width: 1px;
            border-inline-start-color: rgb(33, 58, 85);
            border-inline-start-style: solid;
            border-inline-start-width: 1px;
            box-sizing: border-box;
            height: 27.3906px;
            inline-size: 311.047px;
            padding-block-end: 2px;
            padding-block-start: 2px;
            padding-inline-end: 2px;
            padding-inline-start: 2px;
            perspective-origin: 155.516px 13.6875px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 155.523px 13.6953px;
            vertical-align: middle;
            width: 311.047px;
            border: 1px solid rgb(33, 58, 85);
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
            padding: 2px;
        }

        /*#TD_8, #TD_13, #TD_19, #TD_26, #TD_32, #TD_39, #TD_45, #TD_52, #TD_58, #TD_65, #TD_71, #TD_78, #TD_84, #TD_91, #TD_98, #TD_104*/

        #TD_8:after,
        #TD_13:after,
        #TD_19:after,
        #TD_26:after,
        #TD_32:after,
        #TD_39:after,
        #TD_45:after,
        #TD_52:after,
        #TD_58:after,
        #TD_65:after,
        #TD_71:after,
        #TD_78:after,
        #TD_84:after,
        #TD_91:after,
        #TD_98:after,
        #TD_104:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_8:after, #TD_13:after, #TD_19:after, #TD_26:after, #TD_32:after, #TD_39:after, #TD_45:after, #TD_52:after, #TD_58:after, #TD_65:after, #TD_71:after, #TD_78:after, #TD_84:after, #TD_91:after, #TD_98:after, #TD_104:after*/

        #TD_8:before,
        #TD_13:before,
        #TD_19:before,
        #TD_26:before,
        #TD_32:before,
        #TD_39:before,
        #TD_45:before,
        #TD_52:before,
        #TD_58:before,
        #TD_65:before,
        #TD_71:before,
        #TD_78:before,
        #TD_84:before,
        #TD_91:before,
        #TD_98:before,
        #TD_104:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_8:before, #TD_13:before, #TD_19:before, #TD_26:before, #TD_32:before, #TD_39:before, #TD_45:before, #TD_52:before, #TD_58:before, #TD_65:before, #TD_71:before, #TD_78:before, #TD_84:before, #TD_91:before, #TD_98:before, #TD_104:before*/

        #TD_11,
        #TD_24,
        #TD_37,
        #TD_50,
        #TD_63,
        #TD_76 {
            block-size: 109.562px;
            border-block-end-color: rgb(33, 58, 85);
            border-block-end-style: solid;
            border-block-end-width: 1px;
            border-block-start-color: rgb(33, 58, 85);
            border-block-start-style: solid;
            border-block-start-width: 1px;
            border-collapse: collapse;
            border-inline-end-color: rgb(33, 58, 85);
            border-inline-end-style: solid;
            border-inline-end-width: 1px;
            border-inline-start-color: rgb(33, 58, 85);
            border-inline-start-style: solid;
            border-inline-start-width: 1px;
            box-sizing: border-box;
            height: 109.562px;
            inline-size: 130.75px;
            padding-block-end: 2px;
            padding-block-start: 2px;
            padding-inline-end: 2px;
            padding-inline-start: 2px;
            perspective-origin: 65.375px 54.7812px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 65.375px 54.7812px;
            vertical-align: middle;
            width: 130.75px;
            border: 1px solid rgb(33, 58, 85);
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
            padding: 2px;
        }

        /*#TD_11, #TD_24, #TD_37, #TD_50, #TD_63, #TD_76*/

        #TD_11:after,
        #TD_24:after,
        #TD_37:after,
        #TD_50:after,
        #TD_63:after,
        #TD_76:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_11:after, #TD_24:after, #TD_37:after, #TD_50:after, #TD_63:after, #TD_76:after*/

        #TD_11:before,
        #TD_24:before,
        #TD_37:before,
        #TD_50:before,
        #TD_63:before,
        #TD_76:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_11:before, #TD_24:before, #TD_37:before, #TD_50:before, #TD_63:before, #TD_76:before*/

        #TD_16,
        #TD_22,
        #TD_35,
        #TD_48,
        #TD_61,
        #TD_74,
        #TD_87,
        #TD_94,
        #TD_101 {
            block-size: 27.3906px;
            border-block-end-color: rgb(33, 58, 85);
            border-block-end-style: solid;
            border-block-end-width: 1px;
            border-block-start-color: rgb(33, 58, 85);
            border-block-start-style: solid;
            border-block-start-width: 1px;
            border-collapse: collapse;
            border-inline-end-color: rgb(33, 58, 85);
            border-inline-end-style: solid;
            border-inline-end-width: 1px;
            border-inline-start-color: rgb(33, 58, 85);
            border-inline-start-style: solid;
            border-inline-start-width: 1px;
            box-sizing: border-box;
            height: 27.3906px;
            inline-size: 311.047px;
            padding-block-end: 2px;
            padding-block-start: 2px;
            padding-inline-end: 2px;
            padding-inline-start: 2px;
            perspective-origin: 155.516px 13.6875px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 155.523px 13.6953px;
            vertical-align: middle;
            width: 311.047px;
            border: 1px solid rgb(33, 58, 85);
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
            padding: 2px;
        }

        /*#TD_16, #TD_22, #TD_35, #TD_48, #TD_61, #TD_74, #TD_87, #TD_94, #TD_101*/

        #TD_16:after,
        #TD_22:after,
        #TD_35:after,
        #TD_48:after,
        #TD_61:after,
        #TD_74:after,
        #TD_87:after,
        #TD_94:after,
        #TD_101:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_16:after, #TD_22:after, #TD_35:after, #TD_48:after, #TD_61:after, #TD_74:after, #TD_87:after, #TD_94:after, #TD_101:after*/

        #TD_16:before,
        #TD_22:before,
        #TD_35:before,
        #TD_48:before,
        #TD_61:before,
        #TD_74:before,
        #TD_87:before,
        #TD_94:before,
        #TD_101:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_16:before, #TD_22:before, #TD_35:before, #TD_48:before, #TD_61:before, #TD_74:before, #TD_87:before, #TD_94:before, #TD_101:before*/

        #TD_29,
        #TD_42,
        #TD_68,
        #TD_108 {
            block-size: 27.3906px;
            border-block-end-color: rgb(33, 58, 85);
            border-block-end-style: solid;
            border-block-end-width: 1px;
            border-block-start-color: rgb(33, 58, 85);
            border-block-start-style: solid;
            border-block-start-width: 1px;
            border-collapse: collapse;
            border-inline-end-color: rgb(33, 58, 85);
            border-inline-end-style: solid;
            border-inline-end-width: 1px;
            border-inline-start-color: rgb(33, 58, 85);
            border-inline-start-style: solid;
            border-inline-start-width: 1px;
            box-sizing: border-box;
            height: 27.3906px;
            inline-size: 311.047px;
            padding-block-end: 2px;
            padding-block-start: 2px;
            padding-inline-end: 2px;
            padding-inline-start: 2px;
            perspective-origin: 155.516px 13.6875px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 155.523px 13.6953px;
            vertical-align: middle;
            width: 311.047px;
            border: 1px solid rgb(33, 58, 85);
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
            padding: 2px;
        }

        /*#TD_29, #TD_42, #TD_68, #TD_108*/

        #TD_29:after,
        #TD_42:after,
        #TD_68:after,
        #TD_108:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_29:after, #TD_42:after, #TD_68:after, #TD_108:after*/

        #TD_29:before,
        #TD_42:before,
        #TD_68:before,
        #TD_108:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_29:before, #TD_42:before, #TD_68:before, #TD_108:before*/

        #TD_55,
        #TD_81 {
            block-size: 27.3906px;
            border-block-end-color: rgb(33, 58, 85);
            border-block-end-style: solid;
            border-block-end-width: 1px;
            border-block-start-color: rgb(33, 58, 85);
            border-block-start-style: solid;
            border-block-start-width: 1px;
            border-collapse: collapse;
            border-inline-end-color: rgb(33, 58, 85);
            border-inline-end-style: solid;
            border-inline-end-width: 1px;
            border-inline-start-color: rgb(33, 58, 85);
            border-inline-start-style: solid;
            border-inline-start-width: 1px;
            box-sizing: border-box;
            height: 27.3906px;
            inline-size: 311.047px;
            padding-block-end: 2px;
            padding-block-start: 2px;
            padding-inline-end: 2px;
            padding-inline-start: 2px;
            perspective-origin: 155.516px 13.6875px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 155.523px 13.6953px;
            vertical-align: middle;
            width: 311.047px;
            border: 1px solid rgb(33, 58, 85);
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
            padding: 2px;
        }

        /*#TD_55, #TD_81*/

        #TD_55:after,
        #TD_81:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_55:after, #TD_81:after*/

        #TD_55:before,
        #TD_81:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_55:before, #TD_81:before*/

        #TD_89 {
            block-size: 54.7812px;
            border-block-end-color: rgb(33, 58, 85);
            border-block-end-style: solid;
            border-block-end-width: 1px;
            border-block-start-color: rgb(33, 58, 85);
            border-block-start-style: solid;
            border-block-start-width: 1px;
            border-collapse: collapse;
            border-inline-end-color: rgb(33, 58, 85);
            border-inline-end-style: solid;
            border-inline-end-width: 1px;
            border-inline-start-color: rgb(33, 58, 85);
            border-inline-start-style: solid;
            border-inline-start-width: 1px;
            box-sizing: border-box;
            height: 54.7812px;
            inline-size: 130.75px;
            padding-block-end: 2px;
            padding-block-start: 2px;
            padding-inline-end: 2px;
            padding-inline-start: 2px;
            perspective-origin: 65.375px 27.3906px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 65.375px 27.3906px;
            vertical-align: middle;
            width: 130.75px;
            border: 1px solid rgb(33, 58, 85);
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
            padding: 2px;
        }

        /*#TD_89*/

        #TD_89:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_89:after*/

        #TD_89:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_89:before*/

        #TD_96 {
            block-size: 82.1719px;
            border-block-end-color: rgb(33, 58, 85);
            border-block-end-style: solid;
            border-block-end-width: 1px;
            border-block-start-color: rgb(33, 58, 85);
            border-block-start-style: solid;
            border-block-start-width: 1px;
            border-collapse: collapse;
            border-inline-end-color: rgb(33, 58, 85);
            border-inline-end-style: solid;
            border-inline-end-width: 1px;
            border-inline-start-color: rgb(33, 58, 85);
            border-inline-start-style: solid;
            border-inline-start-width: 1px;
            box-sizing: border-box;
            height: 82.1719px;
            inline-size: 130.75px;
            padding-block-end: 2px;
            padding-block-start: 2px;
            padding-inline-end: 2px;
            padding-inline-start: 2px;
            perspective-origin: 65.375px 41.0781px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 65.375px 41.0859px;
            vertical-align: middle;
            width: 130.75px;
            border: 1px solid rgb(33, 58, 85);
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
            padding: 2px;
        }

        /*#TD_96*/

        #TD_96:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_96:after*/

        #TD_96:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_96:before*/
    </style>

</div>

{% endblock fittings-info %}