{% extends 'rzmr/fittings_base.html' %}
{% load static %}

{% block fittings-info %}

<div class="container">
    <div class="row">
        <div class="col-12 border text-center m-1">
            <img id="bigImage" class="resize-big-img" src="{% static 'rzmr/img/DK_штуцер.jpg' %}" alt="img-big">
        </div>
    </div>
    <div class="row">
        <div class="col-2 border d-flex m-1">
            <img class="resize-img" src="{% static 'rzmr/img/DK_штуцер.jpg' %}" alt="img1">
        </div>
        <div class="col-2 border d-flex m-1">
            <img class="resize-img" src="{% static 'rzmr/img/DK_штуцер2.png' %}" alt="img2">
        </div>
    </div>

    <h3>Технические характеристики и особенности конструкции</h3>
    <br>

    <table id="TABLE_1">
        <colgroup id="COLGROUP_2">
            <col id="COL_3" />
        </colgroup>
        <colgroup id="COLGROUP_4">
            <col id="COL_5" />
        </colgroup>
        <colgroup id="COLGROUP_6">
            <col id="COL_7" />
        </colgroup>
        <tbody id="TBODY_8">
            <tr id="TR_9">
                <td id="TD_10">
                    <b id="B_11">Ду , мм</b>
                </td>
                <td id="TD_12">
                    <b id="B_13">E, резьба</b>
                </td>
                <td id="TD_14">
                    <b id="B_15">S2, размер ключа</b>
                </td>
            </tr>
            <tr id="TR_16">
                <td rowspan="4" id="TD_17">
                    6
                </td>
                <td id="TD_18">
                    M10x1
                </td>
                <td id="TD_19">
                    14
                </td>
            </tr>
            <tr id="TR_20">
                <td id="TD_21">
                    М12×1,5
                </td>
                <td id="TD_22">
                    17
                </td>
            </tr>
            <tr id="TR_23">
                <td id="TD_24">
                    М14×1,5
                </td>
                <td id="TD_25">
                    17
                </td>
            </tr>
            <tr id="TR_26">
                <td id="TD_27">
                    М16×1,5
                </td>
                <td id="TD_28">
                    19
                </td>
            </tr>
            <tr id="TR_29">
                <td rowspan="6" id="TD_30">
                    8
                </td>
                <td id="TD_31">
                    М12×1,5
                </td>
                <td id="TD_32">
                    17
                </td>
            </tr>
            <tr id="TR_33">
                <td id="TD_34">
                    М14×1,5
                </td>
                <td id="TD_35">
                    17
                </td>
            </tr>
            <tr id="TR_36">
                <td id="TD_37">
                    М16×1,5
                </td>
                <td id="TD_38">
                    19
                </td>
            </tr>
            <tr id="TR_39">
                <td id="TD_40">
                    М18×1,5
                </td>
                <td id="TD_41">
                    22
                </td>
            </tr>
            <tr id="TR_42">
                <td id="TD_43">
                    М20×1,5
                </td>
                <td id="TD_44">
                    24
                </td>
            </tr>
            <tr id="TR_45">
                <td id="TD_46">
                    М22×1,5
                </td>
                <td id="TD_47">
                    27
                </td>
            </tr>
            <tr id="TR_48">
                <td rowspan="4" id="TD_49">
                    10
                </td>
                <td id="TD_50">
                    М16×1,5
                </td>
                <td id="TD_51">
                    19
                </td>
            </tr>
            <tr id="TR_52">
                <td id="TD_53">
                    М18×1,5
                </td>
                <td id="TD_54">
                    22
                </td>
            </tr>
            <tr id="TR_55">
                <td id="TD_56">
                    М20×1,5
                </td>
                <td id="TD_57">
                    24
                </td>
            </tr>
            <tr id="TR_58">
                <td id="TD_59">
                    М22×1,5
                </td>
                <td id="TD_60">
                    27
                </td>
            </tr>
            <tr id="TR_61">
                <td rowspan="5" id="TD_62">
                    12
                </td>
                <td id="TD_63">
                    М18×1,5
                </td>
                <td id="TD_64">
                    22
                </td>
            </tr>
            <tr id="TR_65">
                <td id="TD_66">
                    М20×1,5
                </td>
                <td id="TD_67">
                    24/27
                </td>
            </tr>
            <tr id="TR_68">
                <td id="TD_69">
                    М22×1,5
                </td>
                <td id="TD_70">
                    30
                </td>
            </tr>
            <tr id="TR_71">
                <td id="TD_72">
                    М24×1,5
                </td>
                <td id="TD_73">
                    30
                </td>
            </tr>
            <tr id="TR_74">
                <td id="TD_75">
                    М27×2
                </td>
                <td id="TD_76">
                    32
                </td>
            </tr>
            <tr id="TR_77">
                <td rowspan="7" id="TD_78">
                    16
                </td>
                <td id="TD_79">
                    М22×1,5
                </td>
                <td id="TD_80">
                    27
                </td>
            </tr>
            <tr id="TR_81">
                <td id="TD_82">
                    М24×1,5
                </td>
                <td id="TD_83">
                    30
                </td>
            </tr>
            <tr id="TR_84">
                <td id="TD_85">
                    М26×1,5
                </td>
                <td id="TD_86">
                    32
                </td>
            </tr>
            <tr id="TR_87">
                <td id="TD_88">
                    М27×1,5
                </td>
                <td id="TD_89">
                    32
                </td>
            </tr>
            <tr id="TR_90">
                <td id="TD_91">
                    М27×2
                </td>
                <td id="TD_92">
                    36
                </td>
            </tr>
            <tr id="TR_93">
                <td id="TD_94">
                    М30×1,5
                </td>
                <td id="TD_95">
                    36
                </td>
            </tr>
            <tr id="TR_96">
                <td id="TD_97">
                    М30×2
                </td>
                <td id="TD_98">
                    36
                </td>
            </tr>
            <tr id="TR_99">
                <td rowspan="5" id="TD_100">
                    20
                </td>
                <td id="TD_101">
                    М27×1,5
                </td>
                <td id="TD_102">
                    32
                </td>
            </tr>
            <tr id="TR_103">
                <td id="TD_104">
                    М30×1,5
                </td>
                <td id="TD_105">
                    36
                </td>
            </tr>
            <tr id="TR_106">
                <td id="TD_107">
                    М30×2
                </td>
                <td id="TD_108">
                    36
                </td>
            </tr>
            <tr id="TR_109">
                <td id="TD_110">
                    М33×1,5
                </td>
                <td id="TD_111">
                    41
                </td>
            </tr>
            <tr id="TR_112">
                <td id="TD_113">
                    М36×1,5
                </td>
                <td id="TD_114">
                    41
                </td>
            </tr>
            <tr id="TR_115">
                <td rowspan="3" id="TD_116">
                    25
                </td>
                <td id="TD_117">
                    М36×1,5
                </td>
                <td id="TD_118">
                    41
                </td>
            </tr>
            <tr id="TR_119">
                <td id="TD_120">
                    М39×2
                </td>
                <td id="TD_121">
                    46
                </td>
            </tr>
            <tr id="TR_122">
                <td id="TD_123">
                    М42×2
                </td>
                <td id="TD_124">
                    50
                </td>
            </tr>
            <tr id="TR_125">
                <td rowspan="3" id="TD_126">
                    32
                </td>
                <td id="TD_127">
                    М45×2
                </td>
                <td id="TD_128">
                    55
                </td>
            </tr>
            <tr id="TR_129">
                <td id="TD_130">
                    M48×1,5
                </td>
                <td id="TD_131">
                    55
                </td>
            </tr>
            <tr id="TR_132">
                <td id="TD_133">
                    М52×2
                </td>
                <td id="TD_134">
                    60
                </td>
            </tr>
            <tr id="TR_135">
                <td id="TD_136">
                    38
                </td>
                <td id="TD_137">
                    M52×2
                </td>
                <td id="TD_138">
                    60
                </td>
            </tr>
            <tr id="TR_139">
                <td id="TD_140">
                    50
                </td>
                <td id="TD_141">
                    M64×2
                </td>
                <td id="TD_142">
                    75
                </td>
            </tr>
        </tbody>
    </table>

    <p class="pt-5">
        Фитинги DK - предназначены для соединения металлических рукавов высокого давления с внутренним диаметром от 6 до
        40 мм. Уплотнительные головки доборных элементов совместимы с резьбой на трубах, соответствующих DIN 2353 и DIN
        EN ISO 8434-1. На самих фитингах выполнена метрическая цилиндрическая резьба с углом профиля 60 градусов и
        средним классом допуска по DIN 13.
    </p>

    <ul>
        <li>Устойчивость к действию высоких и низких температур. </li>
        <li>Высокая прочность. </li>
        <li>Герметичность соединения при соблюдении технологий монтажа. </li>
        <li>Устойчивость к коррозии при контакте с гидравлическими жидкостями. </li>
        <li>Быстрый монтаж и демонтаж. </li>
    </ul>

    <style>
        #TABLE_1 {
            block-size: 1096.62px;
            border-collapse: collapse;
            height: 1096.62px;
            inline-size: 613px;
            perspective-origin: 306.5px 548.312px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 306.5px 548.312px;
            width: 613px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TABLE_1*/

        #TABLE_1:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TABLE_1:after*/

        #TABLE_1:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TABLE_1:before*/

        #COLGROUP_2,
        #COL_3 {
            block-size: 1095.62px;
            border-collapse: collapse;
            box-sizing: border-box;
            height: 1095.62px;
            inline-size: 130.75px;
            perspective-origin: 65.375px 547.812px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 65.375px 547.812px;
            width: 130.75px;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#COLGROUP_2, #COL_3*/

        #COLGROUP_2:after,
        #COL_3:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#COLGROUP_2:after, #COL_3:after*/

        #COLGROUP_2:before,
        #COL_3:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#COLGROUP_2:before, #COL_3:before*/

        #COLGROUP_4,
        #COL_5 {
            block-size: 1095.62px;
            border-collapse: collapse;
            box-sizing: border-box;
            height: 1095.62px;
            inline-size: 170.203px;
            perspective-origin: 85.0938px 547.812px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 85.1016px 547.812px;
            width: 170.203px;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#COLGROUP_4, #COL_5*/

        #COLGROUP_4:after,
        #COL_5:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#COLGROUP_4:after, #COL_5:after*/

        #COLGROUP_4:before,
        #COL_5:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#COLGROUP_4:before, #COL_5:before*/

        #COLGROUP_6,
        #COL_7 {
            block-size: 1095.62px;
            border-collapse: collapse;
            box-sizing: border-box;
            height: 1095.62px;
            inline-size: 311.047px;
            perspective-origin: 155.516px 547.812px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 155.523px 547.812px;
            width: 311.047px;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#COLGROUP_6, #COL_7*/

        #COLGROUP_6:after,
        #COL_7:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#COLGROUP_6:after, #COL_7:after*/

        #COLGROUP_6:before,
        #COL_7:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#COLGROUP_6:before, #COL_7:before*/

        #TBODY_8 {
            block-size: 1095.62px;
            border-block-end-color: rgb(128, 128, 128);
            border-block-start-color: rgb(128, 128, 128);
            border-collapse: collapse;
            border-inline-end-color: rgb(128, 128, 128);
            border-inline-start-color: rgb(128, 128, 128);
            box-sizing: border-box;
            height: 1095.62px;
            inline-size: 612px;
            perspective-origin: 306px 547.812px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 306px 547.812px;
            width: 612px;
            border: 0px none rgb(128, 128, 128);
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TBODY_8*/

        #TBODY_8:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TBODY_8:after*/

        #TBODY_8:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TBODY_8:before*/

        #TR_9,
        #TR_16,
        #TR_20,
        #TR_23,
        #TR_26,
        #TR_29,
        #TR_33,
        #TR_36,
        #TR_39,
        #TR_42,
        #TR_45,
        #TR_48,
        #TR_52,
        #TR_55,
        #TR_58,
        #TR_61,
        #TR_65,
        #TR_68,
        #TR_71,
        #TR_74,
        #TR_77,
        #TR_81,
        #TR_84,
        #TR_87,
        #TR_90,
        #TR_93,
        #TR_96,
        #TR_99,
        #TR_103,
        #TR_106,
        #TR_109,
        #TR_112,
        #TR_115,
        #TR_119,
        #TR_122,
        #TR_125,
        #TR_129,
        #TR_132,
        #TR_135,
        #TR_139 {
            block-size: 27.3906px;
            border-block-end-color: rgb(128, 128, 128);
            border-block-start-color: rgb(128, 128, 128);
            border-collapse: collapse;
            border-inline-end-color: rgb(128, 128, 128);
            border-inline-start-color: rgb(128, 128, 128);
            box-sizing: border-box;
            height: 27.3906px;
            inline-size: 612px;
            perspective-origin: 306px 13.6875px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 306px 13.6953px;
            vertical-align: middle;
            width: 612px;
            border: 0px none rgb(128, 128, 128);
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TR_9, #TR_16, #TR_20, #TR_23, #TR_26, #TR_29, #TR_33, #TR_36, #TR_39, #TR_42, #TR_45, #TR_48, #TR_52, #TR_55, #TR_58, #TR_61, #TR_65, #TR_68, #TR_71, #TR_74, #TR_77, #TR_81, #TR_84, #TR_87, #TR_90, #TR_93, #TR_96, #TR_99, #TR_103, #TR_106, #TR_109, #TR_112, #TR_115, #TR_119, #TR_122, #TR_125, #TR_129, #TR_132, #TR_135, #TR_139*/

        #TR_9:after,
        #TR_16:after,
        #TR_20:after,
        #TR_23:after,
        #TR_26:after,
        #TR_29:after,
        #TR_33:after,
        #TR_36:after,
        #TR_39:after,
        #TR_42:after,
        #TR_45:after,
        #TR_48:after,
        #TR_52:after,
        #TR_55:after,
        #TR_58:after,
        #TR_61:after,
        #TR_65:after,
        #TR_68:after,
        #TR_71:after,
        #TR_74:after,
        #TR_77:after,
        #TR_81:after,
        #TR_84:after,
        #TR_87:after,
        #TR_90:after,
        #TR_93:after,
        #TR_96:after,
        #TR_99:after,
        #TR_103:after,
        #TR_106:after,
        #TR_109:after,
        #TR_112:after,
        #TR_115:after,
        #TR_119:after,
        #TR_122:after,
        #TR_125:after,
        #TR_129:after,
        #TR_132:after,
        #TR_135:after,
        #TR_139:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TR_9:after, #TR_16:after, #TR_20:after, #TR_23:after, #TR_26:after, #TR_29:after, #TR_33:after, #TR_36:after, #TR_39:after, #TR_42:after, #TR_45:after, #TR_48:after, #TR_52:after, #TR_55:after, #TR_58:after, #TR_61:after, #TR_65:after, #TR_68:after, #TR_71:after, #TR_74:after, #TR_77:after, #TR_81:after, #TR_84:after, #TR_87:after, #TR_90:after, #TR_93:after, #TR_96:after, #TR_99:after, #TR_103:after, #TR_106:after, #TR_109:after, #TR_112:after, #TR_115:after, #TR_119:after, #TR_122:after, #TR_125:after, #TR_129:after, #TR_132:after, #TR_135:after, #TR_139:after*/

        #TR_9:before,
        #TR_16:before,
        #TR_20:before,
        #TR_23:before,
        #TR_26:before,
        #TR_29:before,
        #TR_33:before,
        #TR_36:before,
        #TR_39:before,
        #TR_42:before,
        #TR_45:before,
        #TR_48:before,
        #TR_52:before,
        #TR_55:before,
        #TR_58:before,
        #TR_61:before,
        #TR_65:before,
        #TR_68:before,
        #TR_71:before,
        #TR_74:before,
        #TR_77:before,
        #TR_81:before,
        #TR_84:before,
        #TR_87:before,
        #TR_90:before,
        #TR_93:before,
        #TR_96:before,
        #TR_99:before,
        #TR_103:before,
        #TR_106:before,
        #TR_109:before,
        #TR_112:before,
        #TR_115:before,
        #TR_119:before,
        #TR_122:before,
        #TR_125:before,
        #TR_129:before,
        #TR_132:before,
        #TR_135:before,
        #TR_139:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TR_9:before, #TR_16:before, #TR_20:before, #TR_23:before, #TR_26:before, #TR_29:before, #TR_33:before, #TR_36:before, #TR_39:before, #TR_42:before, #TR_45:before, #TR_48:before, #TR_52:before, #TR_55:before, #TR_58:before, #TR_61:before, #TR_65:before, #TR_68:before, #TR_71:before, #TR_74:before, #TR_77:before, #TR_81:before, #TR_84:before, #TR_87:before, #TR_90:before, #TR_93:before, #TR_96:before, #TR_99:before, #TR_103:before, #TR_106:before, #TR_109:before, #TR_112:before, #TR_115:before, #TR_119:before, #TR_122:before, #TR_125:before, #TR_129:before, #TR_132:before, #TR_135:before, #TR_139:before*/

        #TD_10,
        #TD_136,
        #TD_140 {
            block-size: 27.3906px;
            border-block-end-color: rgb(33, 58, 85);
            border-block-end-style: solid;
            border-block-end-width: 1px;
            border-block-start-color: rgb(33, 58, 85);
            border-block-start-style: solid;
            border-block-start-width: 1px;
            border-collapse: collapse;
            border-inline-end-color: rgb(33, 58, 85);
            border-inline-end-style: solid;
            border-inline-end-width: 1px;
            border-inline-start-color: rgb(33, 58, 85);
            border-inline-start-style: solid;
            border-inline-start-width: 1px;
            box-sizing: border-box;
            height: 27.3906px;
            inline-size: 130.75px;
            padding-block-end: 2px;
            padding-block-start: 2px;
            padding-inline-end: 2px;
            padding-inline-start: 2px;
            perspective-origin: 65.375px 13.6875px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 65.375px 13.6953px;
            vertical-align: middle;
            width: 130.75px;
            border: 1px solid rgb(33, 58, 85);
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
            padding: 2px;
        }

        /*#TD_10, #TD_136, #TD_140*/

        #TD_10:after,
        #TD_136:after,
        #TD_140:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_10:after, #TD_136:after, #TD_140:after*/

        #TD_10:before,
        #TD_136:before,
        #TD_140:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_10:before, #TD_136:before, #TD_140:before*/

        #B_11,
        #B_13,
        #B_15 {
            border-collapse: collapse;
            box-sizing: border-box;
            perspective-origin: 0px 0px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 0px 0px;
            border-spacing: 2px 2px;
            font: 700 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#B_11, #B_13, #B_15*/

        #B_11:after,
        #B_13:after,
        #B_15:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 700 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#B_11:after, #B_13:after, #B_15:after*/

        #B_11:before,
        #B_13:before,
        #B_15:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 700 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#B_11:before, #B_13:before, #B_15:before*/

        #TD_12,
        #TD_18,
        #TD_21,
        #TD_24,
        #TD_27,
        #TD_31,
        #TD_34,
        #TD_37,
        #TD_40,
        #TD_43,
        #TD_46,
        #TD_50,
        #TD_53,
        #TD_56,
        #TD_59,
        #TD_63,
        #TD_66,
        #TD_69,
        #TD_72,
        #TD_75,
        #TD_79,
        #TD_82,
        #TD_85,
        #TD_88,
        #TD_91,
        #TD_94,
        #TD_97,
        #TD_101,
        #TD_104,
        #TD_107,
        #TD_110,
        #TD_113,
        #TD_117,
        #TD_120,
        #TD_123,
        #TD_127,
        #TD_130,
        #TD_133,
        #TD_137,
        #TD_141 {
            block-size: 27.3906px;
            border-block-end-color: rgb(33, 58, 85);
            border-block-end-style: solid;
            border-block-end-width: 1px;
            border-block-start-color: rgb(33, 58, 85);
            border-block-start-style: solid;
            border-block-start-width: 1px;
            border-collapse: collapse;
            border-inline-end-color: rgb(33, 58, 85);
            border-inline-end-style: solid;
            border-inline-end-width: 1px;
            border-inline-start-color: rgb(33, 58, 85);
            border-inline-start-style: solid;
            border-inline-start-width: 1px;
            box-sizing: border-box;
            height: 27.3906px;
            inline-size: 170.203px;
            padding-block-end: 2px;
            padding-block-start: 2px;
            padding-inline-end: 2px;
            padding-inline-start: 2px;
            perspective-origin: 85.0938px 13.6875px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 85.1016px 13.6953px;
            vertical-align: middle;
            width: 170.203px;
            border: 1px solid rgb(33, 58, 85);
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
            padding: 2px;
        }

        /*#TD_12, #TD_18, #TD_21, #TD_24, #TD_27, #TD_31, #TD_34, #TD_37, #TD_40, #TD_43, #TD_46, #TD_50, #TD_53, #TD_56, #TD_59, #TD_63, #TD_66, #TD_69, #TD_72, #TD_75, #TD_79, #TD_82, #TD_85, #TD_88, #TD_91, #TD_94, #TD_97, #TD_101, #TD_104, #TD_107, #TD_110, #TD_113, #TD_117, #TD_120, #TD_123, #TD_127, #TD_130, #TD_133, #TD_137, #TD_141*/

        #TD_12:after,
        #TD_18:after,
        #TD_21:after,
        #TD_24:after,
        #TD_27:after,
        #TD_31:after,
        #TD_34:after,
        #TD_37:after,
        #TD_40:after,
        #TD_43:after,
        #TD_46:after,
        #TD_50:after,
        #TD_53:after,
        #TD_56:after,
        #TD_59:after,
        #TD_63:after,
        #TD_66:after,
        #TD_69:after,
        #TD_72:after,
        #TD_75:after,
        #TD_79:after,
        #TD_82:after,
        #TD_85:after,
        #TD_88:after,
        #TD_91:after,
        #TD_94:after,
        #TD_97:after,
        #TD_101:after,
        #TD_104:after,
        #TD_107:after,
        #TD_110:after,
        #TD_113:after,
        #TD_117:after,
        #TD_120:after,
        #TD_123:after,
        #TD_127:after,
        #TD_130:after,
        #TD_133:after,
        #TD_137:after,
        #TD_141:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_12:after, #TD_18:after, #TD_21:after, #TD_24:after, #TD_27:after, #TD_31:after, #TD_34:after, #TD_37:after, #TD_40:after, #TD_43:after, #TD_46:after, #TD_50:after, #TD_53:after, #TD_56:after, #TD_59:after, #TD_63:after, #TD_66:after, #TD_69:after, #TD_72:after, #TD_75:after, #TD_79:after, #TD_82:after, #TD_85:after, #TD_88:after, #TD_91:after, #TD_94:after, #TD_97:after, #TD_101:after, #TD_104:after, #TD_107:after, #TD_110:after, #TD_113:after, #TD_117:after, #TD_120:after, #TD_123:after, #TD_127:after, #TD_130:after, #TD_133:after, #TD_137:after, #TD_141:after*/

        #TD_12:before,
        #TD_18:before,
        #TD_21:before,
        #TD_24:before,
        #TD_27:before,
        #TD_31:before,
        #TD_34:before,
        #TD_37:before,
        #TD_40:before,
        #TD_43:before,
        #TD_46:before,
        #TD_50:before,
        #TD_53:before,
        #TD_56:before,
        #TD_59:before,
        #TD_63:before,
        #TD_66:before,
        #TD_69:before,
        #TD_72:before,
        #TD_75:before,
        #TD_79:before,
        #TD_82:before,
        #TD_85:before,
        #TD_88:before,
        #TD_91:before,
        #TD_94:before,
        #TD_97:before,
        #TD_101:before,
        #TD_104:before,
        #TD_107:before,
        #TD_110:before,
        #TD_113:before,
        #TD_117:before,
        #TD_120:before,
        #TD_123:before,
        #TD_127:before,
        #TD_130:before,
        #TD_133:before,
        #TD_137:before,
        #TD_141:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_12:before, #TD_18:before, #TD_21:before, #TD_24:before, #TD_27:before, #TD_31:before, #TD_34:before, #TD_37:before, #TD_40:before, #TD_43:before, #TD_46:before, #TD_50:before, #TD_53:before, #TD_56:before, #TD_59:before, #TD_63:before, #TD_66:before, #TD_69:before, #TD_72:before, #TD_75:before, #TD_79:before, #TD_82:before, #TD_85:before, #TD_88:before, #TD_91:before, #TD_94:before, #TD_97:before, #TD_101:before, #TD_104:before, #TD_107:before, #TD_110:before, #TD_113:before, #TD_117:before, #TD_120:before, #TD_123:before, #TD_127:before, #TD_130:before, #TD_133:before, #TD_137:before, #TD_141:before*/

        #TD_14,
        #TD_19,
        #TD_25,
        #TD_32,
        #TD_38,
        #TD_44,
        #TD_51,
        #TD_57,
        #TD_64,
        #TD_70,
        #TD_76,
        #TD_80,
        #TD_86,
        #TD_92,
        #TD_98,
        #TD_102,
        #TD_108,
        #TD_114,
        #TD_118,
        #TD_124,
        #TD_128,
        #TD_134,
        #TD_142 {
            block-size: 27.3906px;
            border-block-end-color: rgb(33, 58, 85);
            border-block-end-style: solid;
            border-block-end-width: 1px;
            border-block-start-color: rgb(33, 58, 85);
            border-block-start-style: solid;
            border-block-start-width: 1px;
            border-collapse: collapse;
            border-inline-end-color: rgb(33, 58, 85);
            border-inline-end-style: solid;
            border-inline-end-width: 1px;
            border-inline-start-color: rgb(33, 58, 85);
            border-inline-start-style: solid;
            border-inline-start-width: 1px;
            box-sizing: border-box;
            height: 27.3906px;
            inline-size: 311.047px;
            padding-block-end: 2px;
            padding-block-start: 2px;
            padding-inline-end: 2px;
            padding-inline-start: 2px;
            perspective-origin: 155.516px 13.6875px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 155.523px 13.6953px;
            vertical-align: middle;
            width: 311.047px;
            border: 1px solid rgb(33, 58, 85);
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
            padding: 2px;
        }

        /*#TD_14, #TD_19, #TD_25, #TD_32, #TD_38, #TD_44, #TD_51, #TD_57, #TD_64, #TD_70, #TD_76, #TD_80, #TD_86, #TD_92, #TD_98, #TD_102, #TD_108, #TD_114, #TD_118, #TD_124, #TD_128, #TD_134, #TD_142*/

        #TD_14:after,
        #TD_19:after,
        #TD_25:after,
        #TD_32:after,
        #TD_38:after,
        #TD_44:after,
        #TD_51:after,
        #TD_57:after,
        #TD_64:after,
        #TD_70:after,
        #TD_76:after,
        #TD_80:after,
        #TD_86:after,
        #TD_92:after,
        #TD_98:after,
        #TD_102:after,
        #TD_108:after,
        #TD_114:after,
        #TD_118:after,
        #TD_124:after,
        #TD_128:after,
        #TD_134:after,
        #TD_142:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_14:after, #TD_19:after, #TD_25:after, #TD_32:after, #TD_38:after, #TD_44:after, #TD_51:after, #TD_57:after, #TD_64:after, #TD_70:after, #TD_76:after, #TD_80:after, #TD_86:after, #TD_92:after, #TD_98:after, #TD_102:after, #TD_108:after, #TD_114:after, #TD_118:after, #TD_124:after, #TD_128:after, #TD_134:after, #TD_142:after*/

        #TD_14:before,
        #TD_19:before,
        #TD_25:before,
        #TD_32:before,
        #TD_38:before,
        #TD_44:before,
        #TD_51:before,
        #TD_57:before,
        #TD_64:before,
        #TD_70:before,
        #TD_76:before,
        #TD_80:before,
        #TD_86:before,
        #TD_92:before,
        #TD_98:before,
        #TD_102:before,
        #TD_108:before,
        #TD_114:before,
        #TD_118:before,
        #TD_124:before,
        #TD_128:before,
        #TD_134:before,
        #TD_142:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_14:before, #TD_19:before, #TD_25:before, #TD_32:before, #TD_38:before, #TD_44:before, #TD_51:before, #TD_57:before, #TD_64:before, #TD_70:before, #TD_76:before, #TD_80:before, #TD_86:before, #TD_92:before, #TD_98:before, #TD_102:before, #TD_108:before, #TD_114:before, #TD_118:before, #TD_124:before, #TD_128:before, #TD_134:before, #TD_142:before*/

        #TD_17,
        #TD_49 {
            block-size: 109.562px;
            border-block-end-color: rgb(33, 58, 85);
            border-block-end-style: solid;
            border-block-end-width: 1px;
            border-block-start-color: rgb(33, 58, 85);
            border-block-start-style: solid;
            border-block-start-width: 1px;
            border-collapse: collapse;
            border-inline-end-color: rgb(33, 58, 85);
            border-inline-end-style: solid;
            border-inline-end-width: 1px;
            border-inline-start-color: rgb(33, 58, 85);
            border-inline-start-style: solid;
            border-inline-start-width: 1px;
            box-sizing: border-box;
            height: 109.562px;
            inline-size: 130.75px;
            padding-block-end: 2px;
            padding-block-start: 2px;
            padding-inline-end: 2px;
            padding-inline-start: 2px;
            perspective-origin: 65.375px 54.7812px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 65.375px 54.7812px;
            vertical-align: middle;
            width: 130.75px;
            border: 1px solid rgb(33, 58, 85);
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
            padding: 2px;
        }

        /*#TD_17, #TD_49*/

        #TD_17:after,
        #TD_49:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_17:after, #TD_49:after*/

        #TD_17:before,
        #TD_49:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_17:before, #TD_49:before*/

        #TD_22,
        #TD_28,
        #TD_35,
        #TD_47,
        #TD_60,
        #TD_67,
        #TD_83,
        #TD_95,
        #TD_105,
        #TD_121,
        #TD_131 {
            block-size: 27.3906px;
            border-block-end-color: rgb(33, 58, 85);
            border-block-end-style: solid;
            border-block-end-width: 1px;
            border-block-start-color: rgb(33, 58, 85);
            border-block-start-style: solid;
            border-block-start-width: 1px;
            border-collapse: collapse;
            border-inline-end-color: rgb(33, 58, 85);
            border-inline-end-style: solid;
            border-inline-end-width: 1px;
            border-inline-start-color: rgb(33, 58, 85);
            border-inline-start-style: solid;
            border-inline-start-width: 1px;
            box-sizing: border-box;
            height: 27.3906px;
            inline-size: 311.047px;
            padding-block-end: 2px;
            padding-block-start: 2px;
            padding-inline-end: 2px;
            padding-inline-start: 2px;
            perspective-origin: 155.516px 13.6875px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 155.523px 13.6953px;
            vertical-align: middle;
            width: 311.047px;
            border: 1px solid rgb(33, 58, 85);
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
            padding: 2px;
        }

        /*#TD_22, #TD_28, #TD_35, #TD_47, #TD_60, #TD_67, #TD_83, #TD_95, #TD_105, #TD_121, #TD_131*/

        #TD_22:after,
        #TD_28:after,
        #TD_35:after,
        #TD_47:after,
        #TD_60:after,
        #TD_67:after,
        #TD_83:after,
        #TD_95:after,
        #TD_105:after,
        #TD_121:after,
        #TD_131:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_22:after, #TD_28:after, #TD_35:after, #TD_47:after, #TD_60:after, #TD_67:after, #TD_83:after, #TD_95:after, #TD_105:after, #TD_121:after, #TD_131:after*/

        #TD_22:before,
        #TD_28:before,
        #TD_35:before,
        #TD_47:before,
        #TD_60:before,
        #TD_67:before,
        #TD_83:before,
        #TD_95:before,
        #TD_105:before,
        #TD_121:before,
        #TD_131:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_22:before, #TD_28:before, #TD_35:before, #TD_47:before, #TD_60:before, #TD_67:before, #TD_83:before, #TD_95:before, #TD_105:before, #TD_121:before, #TD_131:before*/

        #TD_30 {
            block-size: 164.344px;
            border-block-end-color: rgb(33, 58, 85);
            border-block-end-style: solid;
            border-block-end-width: 1px;
            border-block-start-color: rgb(33, 58, 85);
            border-block-start-style: solid;
            border-block-start-width: 1px;
            border-collapse: collapse;
            border-inline-end-color: rgb(33, 58, 85);
            border-inline-end-style: solid;
            border-inline-end-width: 1px;
            border-inline-start-color: rgb(33, 58, 85);
            border-inline-start-style: solid;
            border-inline-start-width: 1px;
            box-sizing: border-box;
            height: 164.344px;
            inline-size: 130.75px;
            padding-block-end: 2px;
            padding-block-start: 2px;
            padding-inline-end: 2px;
            padding-inline-start: 2px;
            perspective-origin: 65.375px 82.1719px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 65.375px 82.1719px;
            vertical-align: middle;
            width: 130.75px;
            border: 1px solid rgb(33, 58, 85);
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
            padding: 2px;
        }

        /*#TD_30*/

        #TD_30:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_30:after*/

        #TD_30:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_30:before*/

        #TD_41,
        #TD_54,
        #TD_73,
        #TD_89,
        #TD_111,
        #TD_138 {
            block-size: 27.3906px;
            border-block-end-color: rgb(33, 58, 85);
            border-block-end-style: solid;
            border-block-end-width: 1px;
            border-block-start-color: rgb(33, 58, 85);
            border-block-start-style: solid;
            border-block-start-width: 1px;
            border-collapse: collapse;
            border-inline-end-color: rgb(33, 58, 85);
            border-inline-end-style: solid;
            border-inline-end-width: 1px;
            border-inline-start-color: rgb(33, 58, 85);
            border-inline-start-style: solid;
            border-inline-start-width: 1px;
            box-sizing: border-box;
            height: 27.3906px;
            inline-size: 311.047px;
            padding-block-end: 2px;
            padding-block-start: 2px;
            padding-inline-end: 2px;
            padding-inline-start: 2px;
            perspective-origin: 155.516px 13.6875px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 155.523px 13.6953px;
            vertical-align: middle;
            width: 311.047px;
            border: 1px solid rgb(33, 58, 85);
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
            padding: 2px;
        }

        /*#TD_41, #TD_54, #TD_73, #TD_89, #TD_111, #TD_138*/

        #TD_41:after,
        #TD_54:after,
        #TD_73:after,
        #TD_89:after,
        #TD_111:after,
        #TD_138:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_41:after, #TD_54:after, #TD_73:after, #TD_89:after, #TD_111:after, #TD_138:after*/

        #TD_41:before,
        #TD_54:before,
        #TD_73:before,
        #TD_89:before,
        #TD_111:before,
        #TD_138:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_41:before, #TD_54:before, #TD_73:before, #TD_89:before, #TD_111:before, #TD_138:before*/

        #TD_62,
        #TD_100 {
            block-size: 136.953px;
            border-block-end-color: rgb(33, 58, 85);
            border-block-end-style: solid;
            border-block-end-width: 1px;
            border-block-start-color: rgb(33, 58, 85);
            border-block-start-style: solid;
            border-block-start-width: 1px;
            border-collapse: collapse;
            border-inline-end-color: rgb(33, 58, 85);
            border-inline-end-style: solid;
            border-inline-end-width: 1px;
            border-inline-start-color: rgb(33, 58, 85);
            border-inline-start-style: solid;
            border-inline-start-width: 1px;
            box-sizing: border-box;
            height: 136.953px;
            inline-size: 130.75px;
            padding-block-end: 2px;
            padding-block-start: 2px;
            padding-inline-end: 2px;
            padding-inline-start: 2px;
            perspective-origin: 65.375px 68.4688px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 65.375px 68.4766px;
            vertical-align: middle;
            width: 130.75px;
            border: 1px solid rgb(33, 58, 85);
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
            padding: 2px;
        }

        /*#TD_62, #TD_100*/

        #TD_62:after,
        #TD_100:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_62:after, #TD_100:after*/

        #TD_62:before,
        #TD_100:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_62:before, #TD_100:before*/

        #TD_78 {
            block-size: 191.734px;
            border-block-end-color: rgb(33, 58, 85);
            border-block-end-style: solid;
            border-block-end-width: 1px;
            border-block-start-color: rgb(33, 58, 85);
            border-block-start-style: solid;
            border-block-start-width: 1px;
            border-collapse: collapse;
            border-inline-end-color: rgb(33, 58, 85);
            border-inline-end-style: solid;
            border-inline-end-width: 1px;
            border-inline-start-color: rgb(33, 58, 85);
            border-inline-start-style: solid;
            border-inline-start-width: 1px;
            box-sizing: border-box;
            height: 191.734px;
            inline-size: 130.75px;
            padding-block-end: 2px;
            padding-block-start: 2px;
            padding-inline-end: 2px;
            padding-inline-start: 2px;
            perspective-origin: 65.375px 95.8594px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 65.375px 95.8672px;
            vertical-align: middle;
            width: 130.75px;
            border: 1px solid rgb(33, 58, 85);
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
            padding: 2px;
        }

        /*#TD_78*/

        #TD_78:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_78:after*/

        #TD_78:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_78:before*/

        #TD_116,
        #TD_126 {
            block-size: 82.1719px;
            border-block-end-color: rgb(33, 58, 85);
            border-block-end-style: solid;
            border-block-end-width: 1px;
            border-block-start-color: rgb(33, 58, 85);
            border-block-start-style: solid;
            border-block-start-width: 1px;
            border-collapse: collapse;
            border-inline-end-color: rgb(33, 58, 85);
            border-inline-end-style: solid;
            border-inline-end-width: 1px;
            border-inline-start-color: rgb(33, 58, 85);
            border-inline-start-style: solid;
            border-inline-start-width: 1px;
            box-sizing: border-box;
            height: 82.1719px;
            inline-size: 130.75px;
            padding-block-end: 2px;
            padding-block-start: 2px;
            padding-inline-end: 2px;
            padding-inline-start: 2px;
            perspective-origin: 65.375px 41.0781px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 65.375px 41.0859px;
            vertical-align: middle;
            width: 130.75px;
            border: 1px solid rgb(33, 58, 85);
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
            padding: 2px;
        }

        /*#TD_116, #TD_126*/

        #TD_116:after,
        #TD_126:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_116:after, #TD_126:after*/

        #TD_116:before,
        #TD_126:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_116:before, #TD_126:before*/
    </style>

</div>

{% endblock fittings-info %}