{% extends 'rzmr/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-uzm">
            <h4 class="py-2">{{ title }}</h4>
            <p>
                Концевая арматура - окончания металлорукава служащие для присоединения его к ответным частям при
                встраивании в систему трубопровода. Тип концевой арматуры подбирается Заказчиком исходя из требований к
                эксплуатационным характеристикам металлического рукава.
            </p>
            <p>
                Существуют несколько видов соединений: резьбовые (накидные гайки, штуцера и т.д.), фланцевые,
                быстроразъемные и прочие; самым распространенным видом концевой арматуры (КА) является окончание под
                приварку.
            </p>
            <p>
                Помимо типа концевой арматуры на стоимость и эксплуатацию металлорукава влияет материал, из которого
                исполнена концевая арматура. Самые распространённые - нержавеющая сталь и углеродистая сталь. Концевая
                арматура на металлорукава серии РГМ может быть выполнена в соответствии со стандартами (ГОСТ, DIN, ANSI)
                или по чертежам Заказчика. Собственный токарный парк {{ company_name_short }} позволяет исполнять арматуру любой
                сложности при предоставления полного пакета технической документации.
            </p>

        </div>
    </div>
</div>
{% endblock content %}