{% extends 'rzmr/fittings_base.html' %}
{% load static %}

{% block fittings-info %}

<p>
    <strong>Резьбовая арматура</strong> – это фитинги, которые имеют резьбу с внутренней и внешней
    стороны и обеспечивают герметичную стыковку металлических труб. Резьбовые переходники применяются
    для быстрой сборки
    трубопроводов. Их монтаж выполняется без сварки, что снижает требования по организации безопасности
    работ. Резьбовые соединения позволяют при необходимости демонтировать и заменять участки труб во
    время
    ремонта и обслуживания. Эти работы также не требуют использования сварки. Выделяют следующие виды
    резьбовой арматуры:
</p>
<p>
    <strong>Накидная гайка</strong> - используется для присоединения металлорукава к трубопроводу
    заказчика, который транспортирует среду. Как и любое резьбовое соединение, накидная гайка даёт
    возможность быстро закрепить и подсоединить или размонтировать трубопровод. Гайку, входящую в состав
    соединения, можно использовать многократно. Монтаж производится с помощью ключа.
</p>
<p>
    <strong>Гайка американка</strong> - тип быстроразъемного соединения, состоящего из двух фитингов с
    резьбой, накидной шестигранной гайки. Уплотняется с помощью прокладки или конуса. Универсальность
    надежного и герметичного соединения, которое легко разобрать и снова собрать, обусловила его широкое
    распространение в системах и трубопроводах, транспортирующих рабочие среды.
</p>
<p>
    <strong>Штуцер с резьбой</strong> — патрубок для соединения трубопровода, ёмкостей, вентилей и
    других деталей газовых и жидкостных передаточных и преобразующих систем. Применяется в качестве
    ответной части для соединения с накидной гайкой. Возможно исполнение как с наружной, так и с
    внутренней резьбой.
</p>
<p>
    <strong>Фитинги DK</strong> - предназначены для соединения металлических рукавов высокого давления с
    внутренним диаметром от 6 до 40 мм. Уплотнительные головки доборных элементов совместимы с резьбой
    на трубах, соответствующих DIN 2353 и DIN EN ISO 8434-1. На самих фитингах выполнена метрическая
    цилиндрическая резьба с углом профиля 60 градусов и средним классом допуска по DIN 13.
</p>
<p>
    <strong>Переходники</strong> - резьбовые переходники предназначены для перехода с одного резьбового
    соединения на другое. Исходя из вида переходника, можно обеспечить как переход с разного типа резьбы
    (метрическая, трубно-цилиндрическая и тд.), так и на разные виды резьбы (наружная, внутренняя). Все виды
    данной концевой арматуры изготавливаются на собственном токарном парке ООО «УЗМ», что позволяет
    удовлетворить самые сложные потребности заказчиков.
</p>

{% endblock fittings-info %}