{% extends 'rzmr/flanges_base.html' %}
{% load static %}

{% block flanges-info %}

<div class="container">
    <div class="row">
        <div class="col-12 border text-center m-1">
            <h3>Фланцевое соединение с откидными болтами</h3>
            <img id="bigImage" class="resize-big-img"
                src="{% static 'rzmr/img/Фланец с откидными болтами (серия 4656А)_Монтажная область 1.png' %}"
                alt="img-big">
        </div>
    </div>
    <div class="row">
        <div class="col-2 border d-flex m-1">
            <img class="resize-img"
                src="{% static 'rzmr/img/Фланец с откидными болтами (серия 4656А)_Монтажная область 1.png' %}"
                alt="img1">
        </div>
        <div class="col-2 border d-flex m-1">
            <img class="resize-img" src="{% static 'rzmr/img/Фланцы с откидными болтами 4656А.png' %}" alt="img2">
        </div>
    </div>
    <br>
    <h3>Технические характеристики и особенности конструкции</h3>
    <br>
    <div class="row">
        <div class="col-12">
            <table id="TABLE_1">
                <tbody id="TBODY_2">
                    <tr id="TR_3">
                        <td id="TD_4">
                            <b id="B_5">Ду</b>
                        </td>
                        <td id="TD_6">
                            <b id="B_7">P (кг/см2)</b>
                        </td>
                        <td id="TD_8">
                            <b id="B_9">d</b>
                        </td>
                        <td id="TD_10">
                            <b id="B_11">d1</b>
                        </td>
                        <td id="TD_12">
                            <b id="B_13">d2</b>
                        </td>
                        <td id="TD_14">
                            <b id="B_15">d3</b>
                        </td>
                        <td id="TD_16">
                            <b id="B_17">d4</b>
                        </td>
                        <td id="TD_18">
                            <b id="B_19">d5</b>
                        </td>
                        <td id="TD_20">
                            <b id="B_21">D</b>
                        </td>
                        <td id="TD_22">
                            <b id="B_23">S</b>
                        </td>
                        <td id="TD_24">
                            <b id="B_25">Hmax</b>
                        </td>
                        <td id="TD_26">
                            <b id="B_27">L1max</b>
                        </td>
                        <td id="TD_28">
                            <b id="B_29">l2max</b>
                        </td>
                        <td id="TD_30">
                            <b id="B_31">Rmin</b>
                        </td>
                    </tr>
                    <tr id="TR_32">
                        <td id="TD_33">
                            50
                        </td>
                        <td id="TD_34">
                            16
                        </td>
                        <td id="TD_35">
                            50
                        </td>
                        <td id="TD_36">
                            55
                        </td>
                        <td id="TD_37">
                            70
                        </td>
                        <td id="TD_38">
                            55
                        </td>
                        <td id="TD_39">
                            70
                        </td>
                        <td id="TD_40">
                            М12
                        </td>
                        <td id="TD_41">
                            90
                        </td>
                        <td id="TD_42">
                            22
                        </td>
                        <td id="TD_43">
                            159
                        </td>
                        <td id="TD_44">
                            124
                        </td>
                        <td id="TD_45">
                            119
                        </td>
                        <td id="TD_46">
                            250
                        </td>
                    </tr>
                    <tr id="TR_47">
                        <td id="TD_48">
                            70
                        </td>
                        <td id="TD_49">
                            25
                        </td>
                        <td id="TD_50">
                            70
                        </td>
                        <td id="TD_51">
                            75
                        </td>
                        <td id="TD_52">
                            90
                        </td>
                        <td id="TD_53">
                            75
                        </td>
                        <td id="TD_54">
                            90
                        </td>
                        <td id="TD_55">
                            М12
                        </td>
                        <td id="TD_56">
                            110
                        </td>
                        <td id="TD_57">
                            22
                        </td>
                        <td id="TD_58">
                            178
                        </td>
                        <td id="TD_59">
                            131
                        </td>
                        <td id="TD_60">
                            133
                        </td>
                        <td id="TD_61">
                            350
                        </td>
                    </tr>
                    <tr id="TR_62">
                        <td id="TD_63">
                            100
                        </td>
                        <td id="TD_64">
                            16
                        </td>
                        <td id="TD_65">
                            104,5
                        </td>
                        <td id="TD_66">
                            108
                        </td>
                        <td id="TD_67">
                            122
                        </td>
                        <td id="TD_68">
                            108
                        </td>
                        <td id="TD_69">
                            122
                        </td>
                        <td id="TD_70">
                            М14
                        </td>
                        <td id="TD_71">
                            150
                        </td>
                        <td id="TD_72">
                            22
                        </td>
                        <td id="TD_73">
                            215
                        </td>
                        <td id="TD_74">
                            131
                        </td>
                        <td id="TD_75">
                            133
                        </td>
                        <td id="TD_76">
                            500
                        </td>
                    </tr>
                    <tr id="TR_77">
                        <td id="TD_78">
                            125
                        </td>
                        <td id="TD_79">
                            16
                        </td>
                        <td id="TD_80">
                            125
                        </td>
                        <td id="TD_81">
                            132
                        </td>
                        <td id="TD_82">
                            146
                        </td>
                        <td id="TD_83">
                            132
                        </td>
                        <td id="TD_84">
                            146
                        </td>
                        <td id="TD_85">
                            М16
                        </td>
                        <td id="TD_86">
                            178
                        </td>
                        <td id="TD_87">
                            24
                        </td>
                        <td id="TD_88">
                            239
                        </td>
                        <td id="TD_89">
                            152
                        </td>
                        <td id="TD_90">
                            143
                        </td>
                        <td id="TD_91">
                            625
                        </td>
                    </tr>
                    <tr id="TR_92">
                        <td id="TD_93">
                            150
                        </td>
                        <td id="TD_94">
                            16
                        </td>
                        <td id="TD_95">
                            150
                        </td>
                        <td id="TD_96">
                            160
                        </td>
                        <td id="TD_97">
                            175
                        </td>
                        <td id="TD_98">
                            160
                        </td>
                        <td id="TD_99">
                            175
                        </td>
                        <td id="TD_100">
                            М16
                        </td>
                        <td id="TD_101">
                            215
                        </td>
                        <td id="TD_102">
                            24
                        </td>
                        <td id="TD_103">
                            274
                        </td>
                        <td id="TD_104">
                            158
                        </td>
                        <td id="TD_105">
                            149
                        </td>
                        <td id="TD_106">
                            750
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <p>
                Фланцы с откидными болтами - один из вариантов исполнения фланцев, обеспечивающий быстрый
                монтаж\демонтаж соединения. Применятся при прокладке байпасных линий, либо для кратковременной
                пристыковки, не более суток.
            </p>
        </div>
    </div>
</div>

<style>
    #TABLE_1 {
        block-size: 165.344px;
        border-collapse: collapse;
        height: 165.344px;
        inline-size: 613px;
        perspective-origin: 306.5px 82.6719px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 306.5px 82.6719px;
        width: 613px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TABLE_1*/

    #TABLE_1:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TABLE_1:after*/

    #TABLE_1:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TABLE_1:before*/

    #TBODY_2 {
        block-size: 164.344px;
        border-block-end-color: rgb(128, 128, 128);
        border-block-start-color: rgb(128, 128, 128);
        border-collapse: collapse;
        border-inline-end-color: rgb(128, 128, 128);
        border-inline-start-color: rgb(128, 128, 128);
        box-sizing: border-box;
        height: 164.344px;
        inline-size: 612px;
        perspective-origin: 306px 82.1719px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 306px 82.1719px;
        width: 612px;
        border: 0px none rgb(128, 128, 128);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TBODY_2*/

    #TBODY_2:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TBODY_2:after*/

    #TBODY_2:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TBODY_2:before*/

    #TR_3,
    #TR_32,
    #TR_47,
    #TR_62,
    #TR_77,
    #TR_92 {
        block-size: 27.3906px;
        border-block-end-color: rgb(128, 128, 128);
        border-block-start-color: rgb(128, 128, 128);
        border-collapse: collapse;
        border-inline-end-color: rgb(128, 128, 128);
        border-inline-start-color: rgb(128, 128, 128);
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 612px;
        perspective-origin: 306px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 306px 13.6953px;
        vertical-align: middle;
        width: 612px;
        border: 0px none rgb(128, 128, 128);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TR_3, #TR_32, #TR_47, #TR_62, #TR_77, #TR_92*/

    #TR_3:after,
    #TR_32:after,
    #TR_47:after,
    #TR_62:after,
    #TR_77:after,
    #TR_92:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TR_3:after, #TR_32:after, #TR_47:after, #TR_62:after, #TR_77:after, #TR_92:after*/

    #TR_3:before,
    #TR_32:before,
    #TR_47:before,
    #TR_62:before,
    #TR_77:before,
    #TR_92:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TR_3:before, #TR_32:before, #TR_47:before, #TR_62:before, #TR_77:before, #TR_92:before*/

    #TD_4,
    #TD_33,
    #TD_48,
    #TD_63,
    #TD_78,
    #TD_93 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 34.75px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 17.375px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 17.375px 13.6953px;
        vertical-align: middle;
        width: 34.75px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_4, #TD_33, #TD_48, #TD_63, #TD_78, #TD_93*/

    #TD_4:after,
    #TD_33:after,
    #TD_48:after,
    #TD_63:after,
    #TD_78:after,
    #TD_93:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_4:after, #TD_33:after, #TD_48:after, #TD_63:after, #TD_78:after, #TD_93:after*/

    #TD_4:before,
    #TD_33:before,
    #TD_48:before,
    #TD_63:before,
    #TD_78:before,
    #TD_93:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_4:before, #TD_33:before, #TD_48:before, #TD_63:before, #TD_78:before, #TD_93:before*/

    #B_5,
    #B_7,
    #B_9,
    #B_11,
    #B_13,
    #B_15,
    #B_17,
    #B_19,
    #B_21,
    #B_23,
    #B_25,
    #B_27,
    #B_29,
    #B_31 {
        border-collapse: collapse;
        box-sizing: border-box;
        perspective-origin: 0px 0px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 0px 0px;
        border-spacing: 2px 2px;
        font: 700 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#B_5, #B_7, #B_9, #B_11, #B_13, #B_15, #B_17, #B_19, #B_21, #B_23, #B_25, #B_27, #B_29, #B_31*/

    #B_5:after,
    #B_7:after,
    #B_9:after,
    #B_11:after,
    #B_13:after,
    #B_15:after,
    #B_17:after,
    #B_19:after,
    #B_21:after,
    #B_23:after,
    #B_25:after,
    #B_27:after,
    #B_29:after,
    #B_31:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 700 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#B_5:after, #B_7:after, #B_9:after, #B_11:after, #B_13:after, #B_15:after, #B_17:after, #B_19:after, #B_21:after, #B_23:after, #B_25:after, #B_27:after, #B_29:after, #B_31:after*/

    #B_5:before,
    #B_7:before,
    #B_9:before,
    #B_11:before,
    #B_13:before,
    #B_15:before,
    #B_17:before,
    #B_19:before,
    #B_21:before,
    #B_23:before,
    #B_25:before,
    #B_27:before,
    #B_29:before,
    #B_31:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 700 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#B_5:before, #B_7:before, #B_9:before, #B_11:before, #B_13:before, #B_15:before, #B_17:before, #B_19:before, #B_21:before, #B_23:before, #B_25:before, #B_27:before, #B_29:before, #B_31:before*/

    #TD_6,
    #TD_34,
    #TD_49,
    #TD_64,
    #TD_79,
    #TD_94 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 84.5312px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 42.2656px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 42.2656px 13.6953px;
        vertical-align: middle;
        width: 84.5312px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_6, #TD_34, #TD_49, #TD_64, #TD_79, #TD_94*/

    #TD_6:after,
    #TD_34:after,
    #TD_49:after,
    #TD_64:after,
    #TD_79:after,
    #TD_94:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_6:after, #TD_34:after, #TD_49:after, #TD_64:after, #TD_79:after, #TD_94:after*/

    #TD_6:before,
    #TD_34:before,
    #TD_49:before,
    #TD_64:before,
    #TD_79:before,
    #TD_94:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_6:before, #TD_34:before, #TD_49:before, #TD_64:before, #TD_79:before, #TD_94:before*/

    #TD_8,
    #TD_35,
    #TD_50,
    #TD_65,
    #TD_80,
    #TD_95 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 48.6094px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 24.2969px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 24.3047px 13.6953px;
        vertical-align: middle;
        width: 48.6094px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_8, #TD_35, #TD_50, #TD_65, #TD_80, #TD_95*/

    #TD_8:after,
    #TD_35:after,
    #TD_50:after,
    #TD_65:after,
    #TD_80:after,
    #TD_95:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_8:after, #TD_35:after, #TD_50:after, #TD_65:after, #TD_80:after, #TD_95:after*/

    #TD_8:before,
    #TD_35:before,
    #TD_50:before,
    #TD_65:before,
    #TD_80:before,
    #TD_95:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_8:before, #TD_35:before, #TD_50:before, #TD_65:before, #TD_80:before, #TD_95:before*/

    #TD_10,
    #TD_14,
    #TD_36,
    #TD_38,
    #TD_51,
    #TD_53,
    #TD_66,
    #TD_68,
    #TD_81,
    #TD_83,
    #TD_96,
    #TD_98 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 34.375px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 17.1875px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 17.1875px 13.6953px;
        vertical-align: middle;
        width: 34.375px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_10, #TD_14, #TD_36, #TD_38, #TD_51, #TD_53, #TD_66, #TD_68, #TD_81, #TD_83, #TD_96, #TD_98*/

    #TD_10:after,
    #TD_14:after,
    #TD_36:after,
    #TD_38:after,
    #TD_51:after,
    #TD_53:after,
    #TD_66:after,
    #TD_68:after,
    #TD_81:after,
    #TD_83:after,
    #TD_96:after,
    #TD_98:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_10:after, #TD_14:after, #TD_36:after, #TD_38:after, #TD_51:after, #TD_53:after, #TD_66:after, #TD_68:after, #TD_81:after, #TD_83:after, #TD_96:after, #TD_98:after*/

    #TD_10:before,
    #TD_14:before,
    #TD_36:before,
    #TD_38:before,
    #TD_51:before,
    #TD_53:before,
    #TD_66:before,
    #TD_68:before,
    #TD_81:before,
    #TD_83:before,
    #TD_96:before,
    #TD_98:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_10:before, #TD_14:before, #TD_36:before, #TD_38:before, #TD_51:before, #TD_53:before, #TD_66:before, #TD_68:before, #TD_81:before, #TD_83:before, #TD_96:before, #TD_98:before*/

    #TD_12,
    #TD_16,
    #TD_37,
    #TD_52,
    #TD_67,
    #TD_82,
    #TD_97 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 33.8906px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 16.9375px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 16.9453px 13.6953px;
        vertical-align: middle;
        width: 33.8906px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_12, #TD_16, #TD_37, #TD_52, #TD_67, #TD_82, #TD_97*/

    #TD_12:after,
    #TD_16:after,
    #TD_37:after,
    #TD_52:after,
    #TD_67:after,
    #TD_82:after,
    #TD_97:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_12:after, #TD_16:after, #TD_37:after, #TD_52:after, #TD_67:after, #TD_82:after, #TD_97:after*/

    #TD_12:before,
    #TD_16:before,
    #TD_37:before,
    #TD_52:before,
    #TD_67:before,
    #TD_82:before,
    #TD_97:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_12:before, #TD_16:before, #TD_37:before, #TD_52:before, #TD_67:before, #TD_82:before, #TD_97:before*/

    #TD_18,
    #TD_40,
    #TD_55,
    #TD_70,
    #TD_85,
    #TD_100 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 37.9531px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 18.9688px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 18.9766px 13.6953px;
        vertical-align: middle;
        width: 37.9531px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_18, #TD_40, #TD_55, #TD_70, #TD_85, #TD_100*/

    #TD_18:after,
    #TD_40:after,
    #TD_55:after,
    #TD_70:after,
    #TD_85:after,
    #TD_100:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_18:after, #TD_40:after, #TD_55:after, #TD_70:after, #TD_85:after, #TD_100:after*/

    #TD_18:before,
    #TD_40:before,
    #TD_55:before,
    #TD_70:before,
    #TD_85:before,
    #TD_100:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_18:before, #TD_40:before, #TD_55:before, #TD_70:before, #TD_85:before, #TD_100:before*/

    #TD_20,
    #TD_41,
    #TD_56,
    #TD_71,
    #TD_86,
    #TD_101 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 34.3594px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 17.1719px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 17.1797px 13.6953px;
        vertical-align: middle;
        width: 34.3594px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_20, #TD_41, #TD_56, #TD_71, #TD_86, #TD_101*/

    #TD_20:after,
    #TD_41:after,
    #TD_56:after,
    #TD_71:after,
    #TD_86:after,
    #TD_101:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_20:after, #TD_41:after, #TD_56:after, #TD_71:after, #TD_86:after, #TD_101:after*/

    #TD_20:before,
    #TD_41:before,
    #TD_56:before,
    #TD_71:before,
    #TD_86:before,
    #TD_101:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_20:before, #TD_41:before, #TD_56:before, #TD_71:before, #TD_86:before, #TD_101:before*/

    #TD_22,
    #TD_42,
    #TD_57,
    #TD_72,
    #TD_87,
    #TD_102 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 27.75px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 13.875px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 13.875px 13.6953px;
        vertical-align: middle;
        width: 27.75px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_22, #TD_42, #TD_57, #TD_72, #TD_87, #TD_102*/

    #TD_22:after,
    #TD_42:after,
    #TD_57:after,
    #TD_72:after,
    #TD_87:after,
    #TD_102:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_22:after, #TD_42:after, #TD_57:after, #TD_72:after, #TD_87:after, #TD_102:after*/

    #TD_22:before,
    #TD_42:before,
    #TD_57:before,
    #TD_72:before,
    #TD_87:before,
    #TD_102:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_22:before, #TD_42:before, #TD_57:before, #TD_72:before, #TD_87:before, #TD_102:before*/

    #TD_24,
    #TD_43,
    #TD_58,
    #TD_73,
    #TD_88,
    #TD_103 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 52.3125px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 26.1562px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 26.1562px 13.6953px;
        vertical-align: middle;
        width: 52.3125px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_24, #TD_43, #TD_58, #TD_73, #TD_88, #TD_103*/

    #TD_24:after,
    #TD_43:after,
    #TD_58:after,
    #TD_73:after,
    #TD_88:after,
    #TD_103:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_24:after, #TD_43:after, #TD_58:after, #TD_73:after, #TD_88:after, #TD_103:after*/

    #TD_24:before,
    #TD_43:before,
    #TD_58:before,
    #TD_73:before,
    #TD_88:before,
    #TD_103:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_24:before, #TD_43:before, #TD_58:before, #TD_73:before, #TD_88:before, #TD_103:before*/

    #TD_26,
    #TD_44,
    #TD_59,
    #TD_74,
    #TD_89,
    #TD_104 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 54.7969px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 27.3906px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 27.3984px 13.6953px;
        vertical-align: middle;
        width: 54.7969px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_26, #TD_44, #TD_59, #TD_74, #TD_89, #TD_104*/

    #TD_26:after,
    #TD_44:after,
    #TD_59:after,
    #TD_74:after,
    #TD_89:after,
    #TD_104:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_26:after, #TD_44:after, #TD_59:after, #TD_74:after, #TD_89:after, #TD_104:after*/

    #TD_26:before,
    #TD_44:before,
    #TD_59:before,
    #TD_74:before,
    #TD_89:before,
    #TD_104:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_26:before, #TD_44:before, #TD_59:before, #TD_74:before, #TD_89:before, #TD_104:before*/

    #TD_28,
    #TD_45,
    #TD_60,
    #TD_75,
    #TD_90,
    #TD_105 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 54.1562px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 27.0781px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 27.0781px 13.6953px;
        vertical-align: middle;
        width: 54.1562px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_28, #TD_45, #TD_60, #TD_75, #TD_90, #TD_105*/

    #TD_28:after,
    #TD_45:after,
    #TD_60:after,
    #TD_75:after,
    #TD_90:after,
    #TD_105:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_28:after, #TD_45:after, #TD_60:after, #TD_75:after, #TD_90:after, #TD_105:after*/

    #TD_28:before,
    #TD_45:before,
    #TD_60:before,
    #TD_75:before,
    #TD_90:before,
    #TD_105:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_28:before, #TD_45:before, #TD_60:before, #TD_75:before, #TD_90:before, #TD_105:before*/

    #TD_30,
    #TD_46,
    #TD_61,
    #TD_76,
    #TD_91,
    #TD_106 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 46.25px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 23.125px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 23.125px 13.6953px;
        vertical-align: middle;
        width: 46.25px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_30, #TD_46, #TD_61, #TD_76, #TD_91, #TD_106*/

    #TD_30:after,
    #TD_46:after,
    #TD_61:after,
    #TD_76:after,
    #TD_91:after,
    #TD_106:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_30:after, #TD_46:after, #TD_61:after, #TD_76:after, #TD_91:after, #TD_106:after*/

    #TD_30:before,
    #TD_46:before,
    #TD_61:before,
    #TD_76:before,
    #TD_91:before,
    #TD_106:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_30:before, #TD_46:before, #TD_61:before, #TD_76:before, #TD_91:before, #TD_106:before*/

    #TD_39,
    #TD_54,
    #TD_84 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 33.8906px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 16.9375px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 16.9453px 13.6953px;
        vertical-align: middle;
        width: 33.8906px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_39, #TD_54, #TD_84*/

    #TD_39:after,
    #TD_54:after,
    #TD_84:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_39:after, #TD_54:after, #TD_84:after*/

    #TD_39:before,
    #TD_54:before,
    #TD_84:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_39:before, #TD_54:before, #TD_84:before*/

    #TD_69,
    #TD_99 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 33.8906px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 16.9375px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 16.9453px 13.6953px;
        vertical-align: middle;
        width: 33.8906px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_69, #TD_99*/

    #TD_69:after,
    #TD_99:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_69:after, #TD_99:after*/

    #TD_69:before,
    #TD_99:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_69:before, #TD_99:before*/
</style>

{% endblock flanges-info %}