{% extends 'rzmr/flanges_base.html' %}
{% load static %}

{% block flanges-info %}
<p>
    <strong>Фланцевые соединения</strong> – детали, представляющие собой плоские или прямоугольные кольца с равномерно
    расположенными отверстиями для болтов и шпилек, используются для прочного и герметичного соединения двух частей
    трубопровода с помощь крепежа. Фланцы используются попарно в комплекте. Исполнение фланцев осуществляется по ГОСТ, и
    оно зависит отрабочего давления, на которое рассчитывается фланец или фланцевое соединение, и от перемещаемой среды.
</p>
<p>
    <strong>Фланцы по ГОСТ</strong> — плоская деталь квадратной, круглой, или иной формы с отверстиями для болтов и
    шпилек, служащая для прочного герметичного соединения металлорукавов между собой либо присоединения к машинам,
    аппаратам и ёмкостям и т.д. {{ company_name_short }} предлагает к поставке фланцы по ГОСТ, DIN, ANSI изготовленные на собственном
    токарном парке, что позволяет иметь в ассортименте редкие типы фланцев практически по любому доступному стандарту, а
    также именно из того материала, которые требуется Заказчику.
</p>
<p>
    <strong>Фланцы с откидными болтами</strong> - один из вариантов исполнения фланцев, обеспечивающий быстрый
    монтаж\демонтаж соединения. Применятся при прокладке байпасных линий, либо для кратковременной пристыковки, не более
    суток.
</p>
{% endblock flanges-info %}