{% extends 'rzmr/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-uzm">
            <h4>{{ title }}</h4>
            <div class="horizontal-line-uzm"></div>
            <h5 class="py-4">
                Уважаемые Поставщики!
            </h5>
            <p>
                {{ company_name }} стремится выстраивать долгосрочные партнерские отношения со всеми
                поставщиками, основанные на взаимовыгодном сотрудничестве. Основными принципами при выборе поставщиков
                является: качество, цена, срок поставки, надежность и ответственность поставщика.
            </p>
            <p>
                Предлагаем направить коммерческое предложение на производимую Вами продукцию в наш адрес. При
                необходимости, мы обязательно свяжемся с Вами.
            </p>
            <p>
                В скором времени наше предприятие перейдет на тендерную систему закупок.
            </p>
        </div>
    </div>
</div>

{% endblock content %}