{% extends 'rzmr/fittings_base.html' %}
{% load static %}

{% block fittings-info %}

<div class="container">
    <div class="row">
        <div class="col-12 border text-center m-1">
            <img id="bigImage" class="resize-big-img"
                src="{% static 'rzmr/img/Гайка накидная с ниппелем под прокладку.jpg' %}" alt="img-big">
        </div>
    </div>
    <div class="row">
        <div class="col-2 border d-flex m-1">
            <img class="resize-img" src="{% static 'rzmr/img/Гайка накидная с ниппелем под прокладку.jpg' %}"
                alt="img1">
        </div>
        <div class="col-2 border d-flex m-1">
            <img class="resize-img" src="{% static 'rzmr/img/Накидная гайка с ниппелем под прокладку_90.png' %}"
                alt="img2">
        </div>
        <div class="col-2 border d-flex m-1">
            <img class="resize-img" src="{% static 'rzmr/img/Накидная гайка с ниппелем под прокладку_45.png' %}"
                alt="img3">
        </div>
        <div class="col-2 border d-flex m-1">
            <img class="resize-img" src="{% static 'rzmr/img/Накидная гайка с ниппелем под прокладку.png' %}"
                alt="img4">
        </div>
    </div>

    <h3>Технические характеристики и особенности конструкции</h3>
    <br>
    <table id="TABLE_1">
        <tbody id="TBODY_2">
            <tr id="TR_3">
                <td id="TD_4">
                    <b id="B_5">Ду</b>
                </td>
                <td id="TD_6">
                    <b id="B_7">d</b>
                </td>
                <td id="TD_8">
                    <b id="B_9">S1</b>
                </td>
                <td id="TD_10">
                    <b id="B_11">S2</b>
                </td>
                <td id="TD_12">
                    <b id="B_13">a1</b>
                </td>
            </tr>
            <tr id="TR_14">
                <td rowspan="2" id="TD_15">
                    6
                </td>
                <td rowspan="2" id="TD_16">
                    М14х1,5 G1/4
                </td>
                <td rowspan="2" id="TD_17">
                    17
                </td>
                <td rowspan="2" id="TD_18">
                    8
                </td>
                <td id="TD_19">
                    9
                </td>
            </tr>
            <tr id="TR_20">
                <td id="TD_21">
                    8
                </td>
            </tr>
            <tr id="TR_22">
                <td rowspan="2" id="TD_23">
                    8
                </td>
                <td rowspan="2" id="TD_24">
                    М16х1,5 G3/8
                </td>
                <td rowspan="2" id="TD_25">
                    19
                </td>
                <td rowspan="2" id="TD_26">
                    10
                </td>
                <td id="TD_27">
                    9
                </td>
            </tr>
            <tr id="TR_28">
                <td id="TD_29">
                    8
                </td>
            </tr>
            <tr id="TR_30">
                <td rowspan="2" id="TD_31">
                    10
                </td>
                <td rowspan="2" id="TD_32">
                    М18х1,5 G1/2
                </td>
                <td id="TD_33">
                    22
                </td>
                <td rowspan="2" id="TD_34">
                    12
                </td>
                <td id="TD_35">
                    9
                </td>
            </tr>
            <tr id="TR_36">
                <td id="TD_37">
                    24
                </td>
                <td id="TD_38">
                    10
                </td>
            </tr>
            <tr id="TR_39">
                <td rowspan="2" id="TD_40">
                    12
                </td>
                <td rowspan="2" id="TD_41">
                    М22х1,5 G5/8
                </td>
                <td rowspan="2" id="TD_42">
                    27
                </td>
                <td rowspan="2" id="TD_43">
                    15
                </td>
                <td id="TD_44">
                    9
                </td>
            </tr>
            <tr id="TR_45">
                <td id="TD_46">
                    10
                </td>
            </tr>
            <tr id="TR_47">
                <td id="TD_48">
                    16
                </td>
                <td id="TD_49">
                    М26х1,5 G3/4
                </td>
                <td id="TD_50">
                    32
                </td>
                <td id="TD_51">
                    19
                </td>
                <td id="TD_52">
                    10
                </td>
            </tr>
            <tr id="TR_53">
                <td rowspan="2" id="TD_54">
                    20
                </td>
                <td rowspan="2" id="TD_55">
                    М30х1,5 G1
                </td>
                <td rowspan="2" id="TD_56">
                    36
                </td>
                <td rowspan="2" id="TD_57">
                    24
                </td>
                <td id="TD_58">
                    10
                </td>
            </tr>
            <tr id="TR_59">
                <td id="TD_60">
                    13
                </td>
            </tr>
            <tr id="TR_61">
                <td rowspan="2" id="TD_62">
                    25
                </td>
                <td rowspan="2" id="TD_63">
                    М38х1,5 G1 1/4
                </td>
                <td rowspan="2" id="TD_64">
                    46
                </td>
                <td rowspan="2" id="TD_65">
                    28
                </td>
                <td id="TD_66">
                    10
                </td>
            </tr>
            <tr id="TR_67">
                <td id="TD_68">
                    13
                </td>
            </tr>
            <tr id="TR_69">
                <td rowspan="2" id="TD_70">
                    32
                </td>
                <td rowspan="2" id="TD_71">
                    М45х1,5 G1 1/2
                </td>
                <td id="TD_72">
                    50
                </td>
                <td rowspan="2" id="TD_73">
                    36
                </td>
                <td id="TD_74">
                    11
                </td>
            </tr>
            <tr id="TR_75">
                <td id="TD_76">
                    55
                </td>
                <td id="TD_77">
                    15
                </td>
            </tr>
            <tr id="TR_78">
                <td rowspan="2" id="TD_79">
                    40
                </td>
                <td rowspan="2" id="TD_80">
                    М52х1,5 G1 3/4
                </td>
                <td rowspan="2" id="TD_81">
                    60
                </td>
                <td id="TD_82">
                    44
                </td>
                <td id="TD_83">
                    11
                </td>
            </tr>
            <tr id="TR_84">
                <td id="TD_85">
                </td>
                <td id="TD_86">
                    15
                </td>
            </tr>
            <tr id="TR_87">
                <td rowspan="2" id="TD_88">
                    50
                </td>
                <td rowspan="2" id="TD_89">
                    М65х2 G2 1/4
                </td>
                <td rowspan="2" id="TD_90">
                    75
                </td>
                <td rowspan="2" id="TD_91">
                    55
                </td>
                <td id="TD_92">
                    13
                </td>
            </tr>
            <tr id="TR_93">
                <td id="TD_94">
                    15
                </td>
            </tr>
        </tbody>
    </table>
    <p>
    </p> <br><br><br>
    <div style=" text-align: justify;">Накидная гайка - используется для присоединения металлорукава к трубопроводу
        заказчика, который транспортирует среду.&nbsp;<br>
        Как и любое резьбовое соединение, накидная гайка даёт возможность быстро закрепить и подсоединить или
        размонтировать трубопровод. Гайку, входящую в состав соединения, можно использовать многократно. Монтаж
        производится с помощью ключа.&nbsp;<br></div>
    <br><br><br>
</div>

<style>
    #TABLE_1 {
        block-size: 548.812px;
        border-collapse: collapse;
        height: 548.812px;
        inline-size: 613px;
        perspective-origin: 306.5px 274.406px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 306.5px 274.406px;
        width: 613px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TABLE_1*/

    #TABLE_1:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TABLE_1:after*/

    #TABLE_1:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TABLE_1:before*/

    #TBODY_2 {
        block-size: 547.812px;
        border-block-end-color: rgb(128, 128, 128);
        border-block-start-color: rgb(128, 128, 128);
        border-collapse: collapse;
        border-inline-end-color: rgb(128, 128, 128);
        border-inline-start-color: rgb(128, 128, 128);
        box-sizing: border-box;
        height: 547.812px;
        inline-size: 612px;
        perspective-origin: 306px 273.906px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 306px 273.906px;
        width: 612px;
        border: 0px none rgb(128, 128, 128);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TBODY_2*/

    #TBODY_2:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TBODY_2:after*/

    #TBODY_2:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TBODY_2:before*/

    #TR_3,
    #TR_14,
    #TR_20,
    #TR_22,
    #TR_28,
    #TR_30,
    #TR_36,
    #TR_39,
    #TR_45,
    #TR_47,
    #TR_53,
    #TR_59,
    #TR_61,
    #TR_67,
    #TR_69,
    #TR_75,
    #TR_78,
    #TR_84,
    #TR_87,
    #TR_93 {
        block-size: 27.3906px;
        border-block-end-color: rgb(128, 128, 128);
        border-block-start-color: rgb(128, 128, 128);
        border-collapse: collapse;
        border-inline-end-color: rgb(128, 128, 128);
        border-inline-start-color: rgb(128, 128, 128);
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 612px;
        perspective-origin: 306px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 306px 13.6953px;
        vertical-align: middle;
        width: 612px;
        border: 0px none rgb(128, 128, 128);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TR_3, #TR_14, #TR_20, #TR_22, #TR_28, #TR_30, #TR_36, #TR_39, #TR_45, #TR_47, #TR_53, #TR_59, #TR_61, #TR_67, #TR_69, #TR_75, #TR_78, #TR_84, #TR_87, #TR_93*/

    #TR_3:after,
    #TR_14:after,
    #TR_20:after,
    #TR_22:after,
    #TR_28:after,
    #TR_30:after,
    #TR_36:after,
    #TR_39:after,
    #TR_45:after,
    #TR_47:after,
    #TR_53:after,
    #TR_59:after,
    #TR_61:after,
    #TR_67:after,
    #TR_69:after,
    #TR_75:after,
    #TR_78:after,
    #TR_84:after,
    #TR_87:after,
    #TR_93:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TR_3:after, #TR_14:after, #TR_20:after, #TR_22:after, #TR_28:after, #TR_30:after, #TR_36:after, #TR_39:after, #TR_45:after, #TR_47:after, #TR_53:after, #TR_59:after, #TR_61:after, #TR_67:after, #TR_69:after, #TR_75:after, #TR_78:after, #TR_84:after, #TR_87:after, #TR_93:after*/

    #TR_3:before,
    #TR_14:before,
    #TR_20:before,
    #TR_22:before,
    #TR_28:before,
    #TR_30:before,
    #TR_36:before,
    #TR_39:before,
    #TR_45:before,
    #TR_47:before,
    #TR_53:before,
    #TR_59:before,
    #TR_61:before,
    #TR_67:before,
    #TR_69:before,
    #TR_75:before,
    #TR_78:before,
    #TR_84:before,
    #TR_87:before,
    #TR_93:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TR_3:before, #TR_14:before, #TR_20:before, #TR_22:before, #TR_28:before, #TR_30:before, #TR_36:before, #TR_39:before, #TR_45:before, #TR_47:before, #TR_53:before, #TR_59:before, #TR_61:before, #TR_67:before, #TR_69:before, #TR_75:before, #TR_78:before, #TR_84:before, #TR_87:before, #TR_93:before*/

    #TD_4,
    #TD_48 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 74.2188px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 37.1094px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 37.1094px 13.6953px;
        vertical-align: middle;
        width: 74.2188px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_4, #TD_48*/

    #TD_4:after,
    #TD_48:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_4:after, #TD_48:after*/

    #TD_4:before,
    #TD_48:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_4:before, #TD_48:before*/

    #B_5,
    #B_7,
    #B_9,
    #B_11,
    #B_13 {
        border-collapse: collapse;
        box-sizing: border-box;
        perspective-origin: 0px 0px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 0px 0px;
        border-spacing: 2px 2px;
        font: 700 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#B_5, #B_7, #B_9, #B_11, #B_13*/

    #B_5:after,
    #B_7:after,
    #B_9:after,
    #B_11:after,
    #B_13:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 700 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#B_5:after, #B_7:after, #B_9:after, #B_11:after, #B_13:after*/

    #B_5:before,
    #B_7:before,
    #B_9:before,
    #B_11:before,
    #B_13:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 700 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#B_5:before, #B_7:before, #B_9:before, #B_11:before, #B_13:before*/

    #TD_6,
    #TD_49 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 329.422px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 164.703px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 164.711px 13.6953px;
        vertical-align: middle;
        width: 329.422px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_6, #TD_49*/

    #TD_6:after,
    #TD_49:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_6:after, #TD_49:after*/

    #TD_6:before,
    #TD_49:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_6:before, #TD_49:before*/

    #TD_8,
    #TD_33,
    #TD_37,
    #TD_50,
    #TD_72,
    #TD_76 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 73.75px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 36.875px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 36.875px 13.6953px;
        vertical-align: middle;
        width: 73.75px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_8, #TD_33, #TD_37, #TD_50, #TD_72, #TD_76*/

    #TD_8:after,
    #TD_33:after,
    #TD_37:after,
    #TD_50:after,
    #TD_72:after,
    #TD_76:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_8:after, #TD_33:after, #TD_37:after, #TD_50:after, #TD_72:after, #TD_76:after*/

    #TD_8:before,
    #TD_33:before,
    #TD_37:before,
    #TD_50:before,
    #TD_72:before,
    #TD_76:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_8:before, #TD_33:before, #TD_37:before, #TD_50:before, #TD_72:before, #TD_76:before*/

    #TD_10,
    #TD_51,
    #TD_82,
    #TD_85 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 72.6875px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 36.3438px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 36.3438px 13.6953px;
        vertical-align: middle;
        width: 72.6875px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_10, #TD_51, #TD_82, #TD_85*/

    #TD_10:after,
    #TD_51:after,
    #TD_82:after,
    #TD_85:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_10:after, #TD_51:after, #TD_82:after, #TD_85:after*/

    #TD_10:before,
    #TD_51:before,
    #TD_82:before,
    #TD_85:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_10:before, #TD_51:before, #TD_82:before, #TD_85:before*/

    #TD_12,
    #TD_19,
    #TD_27,
    #TD_35,
    #TD_44,
    #TD_52,
    #TD_58,
    #TD_66,
    #TD_74,
    #TD_83,
    #TD_92 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 61.9219px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 30.9531px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 30.9609px 13.6953px;
        vertical-align: middle;
        width: 61.9219px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_12, #TD_19, #TD_27, #TD_35, #TD_44, #TD_52, #TD_58, #TD_66, #TD_74, #TD_83, #TD_92*/

    #TD_12:after,
    #TD_19:after,
    #TD_27:after,
    #TD_35:after,
    #TD_44:after,
    #TD_52:after,
    #TD_58:after,
    #TD_66:after,
    #TD_74:after,
    #TD_83:after,
    #TD_92:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_12:after, #TD_19:after, #TD_27:after, #TD_35:after, #TD_44:after, #TD_52:after, #TD_58:after, #TD_66:after, #TD_74:after, #TD_83:after, #TD_92:after*/

    #TD_12:before,
    #TD_19:before,
    #TD_27:before,
    #TD_35:before,
    #TD_44:before,
    #TD_52:before,
    #TD_58:before,
    #TD_66:before,
    #TD_74:before,
    #TD_83:before,
    #TD_92:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_12:before, #TD_19:before, #TD_27:before, #TD_35:before, #TD_44:before, #TD_52:before, #TD_58:before, #TD_66:before, #TD_74:before, #TD_83:before, #TD_92:before*/

    #TD_15,
    #TD_23,
    #TD_31,
    #TD_40,
    #TD_54,
    #TD_62,
    #TD_70,
    #TD_79,
    #TD_88 {
        block-size: 54.7812px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 54.7812px;
        inline-size: 74.2188px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 37.1094px 27.3906px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 37.1094px 27.3906px;
        vertical-align: middle;
        width: 74.2188px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_15, #TD_23, #TD_31, #TD_40, #TD_54, #TD_62, #TD_70, #TD_79, #TD_88*/

    #TD_15:after,
    #TD_23:after,
    #TD_31:after,
    #TD_40:after,
    #TD_54:after,
    #TD_62:after,
    #TD_70:after,
    #TD_79:after,
    #TD_88:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_15:after, #TD_23:after, #TD_31:after, #TD_40:after, #TD_54:after, #TD_62:after, #TD_70:after, #TD_79:after, #TD_88:after*/

    #TD_15:before,
    #TD_23:before,
    #TD_31:before,
    #TD_40:before,
    #TD_54:before,
    #TD_62:before,
    #TD_70:before,
    #TD_79:before,
    #TD_88:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_15:before, #TD_23:before, #TD_31:before, #TD_40:before, #TD_54:before, #TD_62:before, #TD_70:before, #TD_79:before, #TD_88:before*/

    #TD_16,
    #TD_24,
    #TD_32,
    #TD_41,
    #TD_55,
    #TD_63,
    #TD_71,
    #TD_80,
    #TD_89 {
        block-size: 54.7812px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 54.7812px;
        inline-size: 329.422px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 164.703px 27.3906px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 164.711px 27.3906px;
        vertical-align: middle;
        width: 329.422px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_16, #TD_24, #TD_32, #TD_41, #TD_55, #TD_63, #TD_71, #TD_80, #TD_89*/

    #TD_16:after,
    #TD_24:after,
    #TD_32:after,
    #TD_41:after,
    #TD_55:after,
    #TD_63:after,
    #TD_71:after,
    #TD_80:after,
    #TD_89:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_16:after, #TD_24:after, #TD_32:after, #TD_41:after, #TD_55:after, #TD_63:after, #TD_71:after, #TD_80:after, #TD_89:after*/

    #TD_16:before,
    #TD_24:before,
    #TD_32:before,
    #TD_41:before,
    #TD_55:before,
    #TD_63:before,
    #TD_71:before,
    #TD_80:before,
    #TD_89:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_16:before, #TD_24:before, #TD_32:before, #TD_41:before, #TD_55:before, #TD_63:before, #TD_71:before, #TD_80:before, #TD_89:before*/

    #TD_17,
    #TD_25,
    #TD_42,
    #TD_56,
    #TD_64,
    #TD_81,
    #TD_90 {
        block-size: 54.7812px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 54.7812px;
        inline-size: 73.75px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 36.875px 27.3906px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 36.875px 27.3906px;
        vertical-align: middle;
        width: 73.75px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_17, #TD_25, #TD_42, #TD_56, #TD_64, #TD_81, #TD_90*/

    #TD_17:after,
    #TD_25:after,
    #TD_42:after,
    #TD_56:after,
    #TD_64:after,
    #TD_81:after,
    #TD_90:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_17:after, #TD_25:after, #TD_42:after, #TD_56:after, #TD_64:after, #TD_81:after, #TD_90:after*/

    #TD_17:before,
    #TD_25:before,
    #TD_42:before,
    #TD_56:before,
    #TD_64:before,
    #TD_81:before,
    #TD_90:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_17:before, #TD_25:before, #TD_42:before, #TD_56:before, #TD_64:before, #TD_81:before, #TD_90:before*/

    #TD_18,
    #TD_26,
    #TD_34,
    #TD_43,
    #TD_57,
    #TD_65,
    #TD_73,
    #TD_91 {
        block-size: 54.7812px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 54.7812px;
        inline-size: 72.6875px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 36.3438px 27.3906px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 36.3438px 27.3906px;
        vertical-align: middle;
        width: 72.6875px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_18, #TD_26, #TD_34, #TD_43, #TD_57, #TD_65, #TD_73, #TD_91*/

    #TD_18:after,
    #TD_26:after,
    #TD_34:after,
    #TD_43:after,
    #TD_57:after,
    #TD_65:after,
    #TD_73:after,
    #TD_91:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_18:after, #TD_26:after, #TD_34:after, #TD_43:after, #TD_57:after, #TD_65:after, #TD_73:after, #TD_91:after*/

    #TD_18:before,
    #TD_26:before,
    #TD_34:before,
    #TD_43:before,
    #TD_57:before,
    #TD_65:before,
    #TD_73:before,
    #TD_91:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_18:before, #TD_26:before, #TD_34:before, #TD_43:before, #TD_57:before, #TD_65:before, #TD_73:before, #TD_91:before*/

    #TD_21,
    #TD_29,
    #TD_46,
    #TD_68,
    #TD_86 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 61.9219px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 30.9531px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 30.9609px 13.6953px;
        vertical-align: middle;
        width: 61.9219px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_21, #TD_29, #TD_46, #TD_68, #TD_86*/

    #TD_21:after,
    #TD_29:after,
    #TD_46:after,
    #TD_68:after,
    #TD_86:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_21:after, #TD_29:after, #TD_46:after, #TD_68:after, #TD_86:after*/

    #TD_21:before,
    #TD_29:before,
    #TD_46:before,
    #TD_68:before,
    #TD_86:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_21:before, #TD_29:before, #TD_46:before, #TD_68:before, #TD_86:before*/

    #TD_38,
    #TD_60,
    #TD_94 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 61.9219px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 30.9531px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 30.9609px 13.6953px;
        vertical-align: middle;
        width: 61.9219px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_38, #TD_60, #TD_94*/

    #TD_38:after,
    #TD_60:after,
    #TD_94:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_38:after, #TD_60:after, #TD_94:after*/

    #TD_38:before,
    #TD_60:before,
    #TD_94:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_38:before, #TD_60:before, #TD_94:before*/

    #TD_77 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 61.9219px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 30.9531px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 30.9609px 13.6953px;
        vertical-align: middle;
        width: 61.9219px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_77*/

    #TD_77:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_77:after*/

    #TD_77:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_77:before*/
</style>

{% endblock fittings-info %}