{% extends 'rzmr/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="h3 fw-bold">Гибкие сейсмовставки U-Flex в {{ city_pre }} от производителя {{company_name_short}}
            </h1>
        </div>
    </div>
    <div class="py-3 border-bottom">

    </div>
    <div class="row py-3">
        <div class="col-xl-3 col-sm-6 col-12 d-flex justify-content-center box-shadow-uzm">
            <a href="{% url 'composite' 'EGE' %}" mb-checked="1" data-tooltip-content="">
                <div class="wrapper-img-uzm-down wrapper-text-above-img-uzm px-2">
                    <img class="img-fluid px-5"
                        src="{% static 'rzmr/img/ГибкаясейсмовставкаU-FlexUWEcерия_патрубкиподприварку-blue.jpg' %}"
                        alt="Рукава серии EGE">
                    <div class="wrapper-img-uzm-up"></div>
                    <div class="text-above-img-uzm text-blue-uzm">
                        <p>Гибкая сейсмовставка U-Flex_UWE</p>
                        <p>(патрубки под приварку)</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 d-flex justify-content-center box-shadow-uzm">
            <a href="{% url 'composite' 'SSE' %}" mb-checked="1" data-tooltip-content="">
                <div class="wrapper-img-uzm-down wrapper-text-above-img-uzm">
                    <img class="img-fluid px-5"
                        src="{% static 'rzmr/img/GibkayaseismovsavkaU-FlexUFEsvobflanPN16-blue.jpg' %}"
                        alt="Рукава серии SSE">
                    <div class="wrapper-img-uzm-up"></div>
                    <div class="text-above-img-uzm text-blue-uzm">
                        <p>Гибкая сейсмовставка U-Flex_UFE </p>
                        <p>(свободные фланцы PN16)</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 d-flex justify-content-center box-shadow-uzm">
            <a href="{% url 'composite' 'SST' %}" mb-checked="1" data-tooltip-content="">
                <div class="wrapper-img-uzm-down wrapper-text-above-img-uzm px-2">
                    <img class="img-fluid px-5"
                        src="{% static 'rzmr/img/ГибкаясейсмовставкаU-FlexUWEcерия_патрубкиподприварку-blue.jpg' %}"
                        alt="Рукава серии SST">
                    <div class="wrapper-img-uzm-up"></div>
                    <div class="text-above-img-uzm text-blue-uzm">
                        <p>Гибкая сейсмовставка U-Flex UTE </p>
                        <p>(внутренняя резьба)</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 d-flex justify-content-center box-shadow-uzm">
            <a href="{% url 'composite' 'SGT' %}" mb-checked="1" data-tooltip-content="">
                <div class="wrapper-img-uzm-down wrapper-text-above-img-uzm px-2">
                    <img class="img-fluid px-5"
                        src="{% static 'rzmr/img/ГибкаясейсмовставкаU-FlexUWEcерия_патрубкиподприварку-blue.jpg' %}"
                        alt="Рукава серии SGT">
                    <div class="wrapper-img-uzm-up"></div>
                    <div class="text-above-img-uzm text-blue-uzm">
                        <p>Гибкая сейсмовставка U-Flex UCG</p>
                        <p>(наружная резьба)</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-uzm">
            <p>
                Эти элементы трубопроводных систем разработаны для компенсации деформаций, вызванных сейсмическими
                колебаниями, осадкой грунта, вибрациями и температурными изменениями. Основная функция гибких
                сейсмовставок
                U-Flex — защита трубопровода от повреждений в нестабильных условиях эксплуатации.
            </p>
            <p>
                {{ company_name }} предлагает гибкие компенсаторы собственного производства. Мы
                гарантируем точное соблюдение технических стандартов, индивидуальный подход к каждому проекту и
                оперативные сроки поставки.
            </p>
            <h4>Особенности гибких сейсмовставок U-Flex</h4>
            <p>
                U-Flex представляет собой разновидность металлического компенсатора с сильфоном и внешней оплеткой из
                высококачественной нержавеющей стали.
            </p>
            <h5>Основные области применения</h5>
            <ul>
                <li>Противопожарные трубопроводы.</li>
                <li>Водоснабжение и канализация.</li>
                <li>Туннели, инженерные переходы.</li>
                <li>Жилые здания, административные объекты.</li>
                <li>Промышленные комплексы и магистральные сети.</li>
            </ul>
            <h5>Преимущества</h5>
            <ul>
                <li>Эффективная компенсация смещений в разных направлениях: осевых, продольных, поперечных и угловых.
                </li>
                <li>Поглощение колебаний и вибраций при подвижках почвы и землетрясениях.</li>
                <li>Минимальные габаритные размеры, что обеспечивает удобство размещения даже в ограниченном
                    пространстве.</li>
                <li>Универсальность в установке и эксплуатации.</li>
            </ul>
            <p>
                Уникальная архитектура U-Flex позволяет изгибаться в нужных направлениях, обеспечивая независимое
                движение соединенных частей системы. Это существенно снижает риск разгерметизации трубопровода и
                увеличивает срок службы всей конструкции.
            </p>
        </div>
    </div>
    <div class="row py-5">
        <div class="col-xl-5 col-12">
            <img src="{% static 'rzmr/img/u-flex-01-blue.jpg' %}" alt="u-flex-01-blue">
        </div>
        <div class="col-xl-5 col-12">
            <img src="{% static 'rzmr/img/u-flex-02-blue.jpg' %}" alt="u-flex-02-blue">
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-uzm">
            <h4>Установка и эксплуатация</h4>
            <p>
                Монтаж гибкой сейсмовставки U-Flex осуществляется в одном из трех состояний: нейтральном, растянутом или
                сжатом — в зависимости от расчетных условий, уровня сейсмической активности в регионе и особенностей
                проекта.
            </p>
            <h4>Ключевые рекомендации:</h4>
            <ul>
                <li>при эксплуатации с жидкими средами (вода, масла, нефтепродукты) установка может производиться в
                    любом пространственном положении;</li>
                <li>при использовании с паром важно располагать колено либо на уровне патрубков, либо выше — для
                    исключения скопления конденсата;</li>
                <li>при параллельном прохождении трубопроводов (например, в пожарных системах), необходимо обеспечить
                    такое расположение компенсаторов, при котором в процессе работы исключается их механическое
                    соприкосновение;</li>
                <li>при преимущественно осевом перемещении трубы допускается применение скользящих опор на одной стороне
                    и неподвижных — на другой.</li>
            </ul>
            <p>
                Установка требует точного соблюдения расстояний: опоры (жесткие и скользящие) размещаются на дистанции
                не более 1,5 диаметра трубы от корпуса сейсмовставки.
            </p>
            <p>
                После монтажа система обязательно испытывается под пробным давлением, чтобы убедиться в герметичности
                соединений и корректности установки. Это позволяет исключить риск аварийных ситуаций в процессе
                эксплуатации.
            </p>
            <h4>П-образные сейсмовставки U-Flex</h4>
            <p>
                Эти изделия демонстрируют особенно высокую устойчивость к различным воздействиям и рассчитаны на
                интенсивные условия эксплуатации.
            </p>
            <ul>
                <li>Рабочая среда – вода, пар, сжиженные и газообразные углеводороды, агрессивные химические соединения,
                    продукты пищевой промышленности.</li>
                <li>Давление – до 125 кг/см <sup>2</sup>.</li>
                <li>Температурный диапазон – от -260°C до +850°C.</li>
                <li>Назначение – пригодны для сейсмически активных регионов, а также в условиях высокой вибрации и
                    динамических нагрузок.</li>
            </ul>
            <p>
                Благодаря продуманной конструкции компенсаторы сохраняют работоспособность даже в экстремальных
                условиях, что делает их идеальным выбором для сложных инженерных систем.
            </p>
            <h4>Прямые поставки без посредников и выгодные условия {{company_name_short}}</h4>
            <p>
                Мы сами изготавливаем все товары, а значит ведем прямую коммуникацию производителя и заказчика, не
                вводим высоких наценок и осуществляем быстрые поставки напрямую с завода.
            </p>
            <p>
                Кроме того, наш отдел контроля качества проверяет 100% изделий в каждой партии, гарантируя, что Вы
                будете довольны товаром.
            </p>
            <p>
                Готовы работать с заказами любого масштаба. Выбирая гибкие сейсмовставки U-Flex от
                {{company_name_short}}, вы инвестируете в безопасность, надежность и долговечность вашей инженерной
                системы. Обратитесь к нам — и получите профессиональный подход, надежное современное оборудование и
                уверенность в результате!
            </p>
        </div>
    </div>
    <div class="row px-5 text-center">
        <div class="col-xl-4 col-6 border border-primary">
            <img src="{% static 'rzmr/img/u-flex-08_blue.jpg' %}" alt="u-flex-08_blue">
            <p>U-Flex сдвиг по оси Z</p>
        </div>
        <div class="col-xl-4 col-6 border border-primary">
            <img src="{% static 'rzmr/img/u-flex-07_blue.jpg' %}" alt="u-flex-07_blue">
            <p>U-Flex сдвиг по оси Y вправо</p>
        </div>
        <div class="col-xl-4 col-6 border border-primary">
            <img src="{% static 'rzmr/img/u-flex-06_blue.jpg' %}" alt="u-flex-06_blue">
            <p>U-Flex сдвиг по оси Y влево</p>
        </div>
        <div class="col-xl-4 col-6 border border-primary">
            <img src="{% static 'rzmr/img/u-flex-05_blue.jpg' %}" alt="u-flex-05_blue">
            <p>U-Flex сдвиг по оси X</p>
        </div>
        <div class="col-xl-4 col-6 border border-primary">
            <img src="{% static 'rzmr/img/u-flex-04_blue.jpg' %}" alt="u-flex-04_blue">
            <p>U-Flex сжатие</p>
        </div>
        <div class="col-xl-4 col-6 border border-primary">
            <img src="{% static 'rzmr/img/u-flex-03_blue.jpg' %}" alt="u-flex-03_blue">
            <p>U-Flex расширение</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-5 col-4 py-5">
            <div class="horizontal-line-uzm my-4"></div>
        </div>
        <div class="text-center col-xl-2 col-4 py-5">
            <p class="fs-3 fw-bold">{% trans 'Why us' %}</p>
        </div>
        <div class="col-xl-5 col-4 py-5">
            <div class="horizontal-line-uzm my-4"></div>
        </div>
    </div>
    <div class="row text-uzm">
        <div class="col-3">
            <img class="pb-3 pe-2" src="{% static 'rzmr/img/sroki.png' %}" alt="time">
            <p class="fs-md-media-uzm">
                {% trans 'Order fulfillment in a short time due to own capacities and established relations with material suppliers' %}
            </p>
        </div>
        <div class="col-3">
            <img class="pb-3 pe-2" src="{% static 'rzmr/img/good_price.png' %}" alt="price">
            <p class="fs-md-media-uzm">{% trans 'Profitable prices for our partners' %}</p>
        </div>
        <div class="col-3">
            <img class="pb-3 pe-2" src="{% static 'rzmr/img/delivery.png' %}" alt="delivery">
            <p class="fs-md-media-uzm">{% trans 'Delivery throughout Russia and CIS countries' %}</p>
        </div>
        <div class="col-3">
            <img class="pb-3 pe-2" src="{% static 'rzmr/img/individual_approach.png' %}" alt="approach">
            <p class="fs-md-media-uzm">{% trans 'Individual approach' %}</p>
        </div>
    </div>
</div>

{% endblock content %}