{% extends 'rzmr/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="h3 fw-bold">Гибкие сейсмовставки U-Flex {{ slug }} в {{ city_pre }} от производителя
                {{company_name_short}}</h1>
        </div>
    </div>
    <div class="py-3 border-bottom">

    </div>
    <div class="row">
        <div class="col-4 border-end">
            <img src="{% static 'rzmr/img/ГибкаясейсмовставкаU-FlexUWEcерия_патрубкиподприварку-blue.jpg' %}"
                alt="FlexUWE">
        </div>
        <div class="col-8 text-uzm">
            <table class="table">
                <tbody>
                    <tr>
                        <td>Материал</td>
                        <td>Нержавеющая сталь</td>
                    </tr>
                    <tr>
                        <td>Рабочая среда</td>
                        <td>От -260 до +850С</td>
                    </tr>
                    <tr>
                        <td>Условный диаметр</td>
                        <td>DN от 25 до 100 мм</td>
                    </tr>
                    <tr>
                        <td>Давление</td>
                        <td>PN до 125 кг/см²</td>
                    </tr>
                    <tr>
                        <td>Длинна рукава</td>
                        <td>От 359 до 768 мм</td>
                    </tr>
                    <tr>
                        <td>Нормативный документ</td>
                        <td>ТУ 3695-001-05756518-2017</td>
                    </tr>
                </tbody>
            </table>
            <p>
                Материал гибкой сейсмовставки U-Flex {{slug}}:
            </p>
            <ul>
                <li>Гибкая часть: нержавеющая сталь.</li>
                <li>Соединительные части: углеродистая сталь.</li>
                <li>Фитинги: внутренняя резьба: углеродистая сталь.</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <h4>Техническое описание</h4>
        <table class="table table-bordered table-striped table-primary">
            <thead class="align-middle text-center">
                <tr>
                    <th colspan="2" rowspan="3" scope="col">Диаметр трубы U-Flex UTE, мм</th>
                    <th rowspan="3" scope="col">Серия U-Flex UTE</th>
                    <th scope="col">Движение U-Flex UTE</th>
                    <th scope="col">Длина компенсатора U-Flex UTE</th>
                    <th scope="col">Длина U-Flex UTE</th>
                    <th rowspan="3" scope="col">Длина рукава L U-Flex UTE, мм</th>
                    <th rowspan="3" scope="col">A U-Flex UTE</th>
                </tr>
                <tr>
                    <th>x, y, z</th>
                    <th>M</th>
                    <th>H</th>
                </tr>
                <tr>
                    <th>мм</th>
                    <th>мм</th>
                    <th>мм</th>
                </tr>
            </thead>
            <tbody class="align-middle text-center table-info">
                <tr>
                    <td colspan="1" rowspan="2">1“</td>
                    <td colspan="1" rowspan="2">DN25</td>
                    <td class="text-nowrap">U-Flex&nbsp;UTE-025-100</td>
                    <td>100</td>
                    <td>364</td>
                    <td>452</td>
                    <td>359</td>
                    <td>22</td>
                </tr>
                <tr>
                    <td class="text-nowrap">U-Flex&nbsp;UTE-025-200</td>
                    <td>200</td>
                    <td>464</td>
                    <td>611</td>
                    <td>518</td>
                    <td>22</td>
                </tr>
                <tr>
                    <td colspan="1" rowspan="2">1,25“</td>
                    <td colspan="1" rowspan="2">DN32</td>
                    <td class="text-nowrap">U-Flex&nbsp;UTE-032-100</td>
                    <td>100</td>
                    <td>420</td>
                    <td>487</td>
                    <td>371</td>
                    <td>25</td>
                </tr>
                <tr>
                    <td class="text-nowrap">U-Flex&nbsp;UTE-032-200</td>
                    <td>200</td>
                    <td>520</td>
                    <td>656</td>
                    <td>540</td>
                    <td>25</td>
                </tr>
                <tr>
                    <td colspan="1" rowspan="2">1,5“</td>
                    <td colspan="1" rowspan="2">DN40</td>
                    <td class="text-nowrap">U-Flex&nbsp;UTE-040-100</td>
                    <td>100</td>
                    <td>438</td>
                    <td>548</td>
                    <td>410</td>
                    <td>25</td>
                </tr>
                <tr>
                    <td class="text-nowrap">U-Flex&nbsp;UTE-040-200</td>
                    <td>200</td>
                    <td>538</td>
                    <td>733</td>
                    <td>595</td>
                    <td>25</td>
                </tr>
                <tr>
                    <td colspan="1" rowspan="2">2“</td>
                    <td colspan="1" rowspan="2">DN50</td>
                    <td class="text-nowrap">U-Flex&nbsp;UTE-050-100</td>
                    <td>100</td>
                    <td>490</td>
                    <td>597</td>
                    <td>415</td>
                    <td>25</td>
                </tr>
                <tr>
                    <td class="text-nowrap">U-Flex&nbsp;UTE-050-200</td>
                    <td>200</td>
                    <td>590</td>
                    <td>787</td>
                    <td>605</td>
                    <td>25</td>
                </tr>
                <tr>
                    <td colspan="1" rowspan="2">2,5“</td>
                    <td colspan="1" rowspan="2">DN65</td>
                    <td class="text-nowrap">U-Flex&nbsp;UTE-065-100</td>
                    <td>100</td>
                    <td>560</td>
                    <td>695</td>
                    <td>467</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td class="text-nowrap">U-Flex&nbsp;UTE-065-200</td>
                    <td>200</td>
                    <td>660</td>
                    <td>903</td>
                    <td>675</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td colspan="1" rowspan="2">3“</td>
                    <td colspan="1" rowspan="2">DN80</td>
                    <td class="text-nowrap">U-Flex&nbsp;UTE-080-100</td>
                    <td>100</td>
                    <td>636</td>
                    <td>761</td>
                    <td>488</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td class="text-nowrap">U-Flex&nbsp;UTE-080-200</td>
                    <td>200</td>
                    <td>716</td>
                    <td>979</td>
                    <td>707</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td colspan="1" rowspan="2">4“</td>
                    <td colspan="1" rowspan="2">DN100</td>
                    <td class="text-nowrap">U-Flex&nbsp;UTE-100-100</td>
                    <td>100</td>
                    <td>818</td>
                    <td>889</td>
                    <td>528</td>
                    <td>35</td>
                </tr>
                <tr>
                    <td class="text-nowrap">U-Flex&nbsp;UTE-100-200</td>
                    <td>200</td>
                    <td>868</td>
                    <td>1129</td>
                    <td>768</td>
                    <td>35</td>
                </tr>
            </tbody>
        </table>

        <div class="text-uzm">
            <p>
                Это оборудование востребовано на предприятиях, где важна простота монтажа, надежность соединений и
                повышенная безопасность трубопроводных систем. Гибкая сейсмовставка U-Flex UTE от компании
                {{company_name}} представляет собой современное решение с внутренней резьбой для эффективного гашения
                вибраций и температурных деформаций.
            </p>
            <h4>Технические характеристики</h4>
            <p>
                Конструкция устройства включает гибкий сильфонный элемент из нержавеющей стали и соединительные части с
                внутренней резьбой из углеродистой стали.
            </p>
            <ul>
                <li>Диапазон рабочих температур: от -260°C до +850°C</li>
                <li>Номинальный диаметр: от DN 25 до DN 100</li>
                <li>Рабочее давление: до 125 кг/см<sup>2</sup></li>
                <li>Длина рукава: от 359 до 768 мм</li>
                <li>Компенсирующая способность: 100 и 200 мм</li>
            </ul>
            <h5>Преимущества конструкции</h5>
            <ul>
                <li>Компактные габаритные размеры</li>
                <li>Надежное резьбовое соединение</li>
                <li>Стойкость к коррозии и температурным воздействиям</li>
                <li>Длительный срок службы в агрессивных средах</li>
            </ul>
            <h5>Области применения сейсмовставок</h5>
            <ul>
                <li>Химические и нефтеперерабатывающие предприятия</li>
                <li>Энергетические комплексы и котельные</li>
                <li>Системы вентиляции и кондиционирования</li>
                <li>Промышленные объекты в сейсмоопасных регионах</li>
                <li>Предприятия с вибрационным оборудованием</li>
            </ul>
            <h4>Почему выбирают {{company_name_short}}</h4>
            <ol>
                <li>Прямые цены от производителя</li>
                <li>Оперативная доставка в любой регион России и стран СНГ</li>
                <li>Многоуровневый контроль качества каждого изделия</li>
                <li>Производство партий любого объема – от единичных экземпляров до крупных проектных поставок</li>
                <li>Индивидуальные решения для специфических производственных задач</li>
            </ol>
            <p>
                Закажите надежное резьбовое решение – гибкую сейсмовставку U-Flex! Обеспечьте защиту ваших
                трубопроводных систем от вибраций и температурных деформаций. Наши специалисты помогут с подбором
                оборудования и проконсультируют. Звоните: <a href="tel:88005555756">8 800 5555-756</a> или оставляйте
                заявку на сайте.
            </p>

        </div>
    </div>
    <div class="row py-5">
        <div class="col-xl-3 col-sm-6 col-12 d-flex justify-content-center box-shadow-uzm">
            <a href="{% url 'gibkiye-seysmovstavki-u-flex' 'UWE' %}" mb-checked="1" data-tooltip-content="">
                <div class="wrapper-img-uzm-down wrapper-text-above-img-uzm px-2">
                    <img class="img-fluid px-5" style="width: 250px; height: auto; padding-top: 40px;"
                        src="{% static 'rzmr/img/ГибкаясейсмовставкаU-FlexUWEcерия_патрубкиподприварку-blue.jpg' %}"
                        alt="Гибкая сейсмовставка U-Flex_UWE">
                    <div class="wrapper-img-uzm-up"></div>
                    <div class="text-above-img-uzm text-blue-uzm">
                        <p>Гибкая сейсмовставка U-Flex UWE</p>
                        <p>(патрубки под приварку)</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 d-flex justify-content-center box-shadow-uzm">
            <a href="{% url 'gibkiye-seysmovstavki-u-flex' 'UFE' %}" mb-checked="1" data-tooltip-content="">
                <div class="wrapper-img-uzm-down wrapper-text-above-img-uzm">
                    <img class="img-fluid px-5" style="width: 250px; height: auto; padding-top: 40px;"
                        src="{% static 'rzmr/img/GibkayaseismovsavkaU-FlexUFEsvobflanPN16-blue.jpg' %}"
                        alt="Гибкая сейсмовставка U-Flex UFE">
                    <div class="wrapper-img-uzm-up"></div>
                    <div class="text-above-img-uzm text-blue-uzm">
                        <p>Гибкая сейсмовставка U-Flex UFE </p>
                        <p>(свободные фланцы PN16)</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 d-flex justify-content-center box-shadow-uzm">
            <a href="{% url 'gibkiye-seysmovstavki-u-flex' 'UCG' %}" mb-checked="1" data-tooltip-content="">
                <div class="wrapper-img-uzm-down wrapper-text-above-img-uzm px-2">
                    <img class="img-fluid px-5" style="width: 250px; height: auto; padding-top: 40px;"
                        src="{% static 'rzmr/img/ГибкаясейсмовставкаU-FlexUWEcерия_патрубкиподприварку-blue.jpg' %}"
                        alt="Гибкая сейсмовставка U-Flex UCG">
                    <div class="wrapper-img-uzm-up"></div>
                    <div class="text-above-img-uzm text-blue-uzm">
                        <p>Гибкая сейсмовставка U-Flex UCG</p>
                        <p>(наружная резьба)</p>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>
{% endblock content %}