{% extends 'rzmr/base.html' %}
{% load static %}

{% block content %}
        <div class="container d-md-block d-none">
            <div id="carouselUzm" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'rzmr/img/corousel1.jpg' %}" class="d-block w-100" alt="corousel1">
                        <div class="carousel-caption d-none d-md-block">
                            <p class="fs-2">Металлорукава</p>
                            <p class="fs-5">На рынке более 12 лет</p>
                            <div class="button-uzm-slider">
                                <button type="button" class="btn btn-danger btn-sm">Подробнее</button>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'rzmr/img/corousel2.jpg' %}" class="d-block w-100" alt="corousel2">
                        <div class="carousel-caption d-none d-md-block">
                            <p class="fs-2">Фильтры и агрегаты</p>
                            <p class="fs-5">Фильтры от производителя, гарантия до 10 лет</p>
                            <div class="button-uzm-slider">
                                <button type="button" class="btn btn-danger btn-sm">Подробнее</button>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'rzmr/img/corousel3.jpg' %}" class="d-block w-100" alt="corousel3">
                        <div class="carousel-caption d-none d-md-block">
                            <p class="fs-2">Фторопластовые рукава</p>
                            <p class="fs-5">Давление до 400 атм.</p>
                            <div class="button-uzm-slider">
                                <button type="button" class="btn btn-danger btn-sm">Подробнее</button>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'rzmr/img/corousel4.jpg' %}" class="d-block w-100" alt="corousel4">
                        <div class="carousel-caption d-none d-md-block">
                            <p class="fs-2">Концевая арматура любой сложности</p>
                            <p class="fs-5">Собственное производство</p>
                            <div class="button-uzm-slider">
                                <button type="button" class="btn btn-danger btn-sm">Подробнее</button>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'rzmr/img/corousel5.jpg' %}" class="d-block w-100" alt="corousel5">
                        <div class="carousel-caption d-none d-md-block">
                            <p class="fs-2">Фланцевые соединения</p>
                            <p class="fs-5">Цены от производителя, стандарты ГОСТ, DIN, ANSI</p>
                            <div class="button-uzm-slider">
                                <button type="button" class="btn btn-danger btn-sm">Подробнее</button>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'rzmr/img/corousel6.jpg' %}" class="d-block w-100" alt="corousel6">
                        <div class="carousel-caption d-none d-md-block">
                            <p class="fs-2">Гайки РОТ</p>
                            <p class="fs-5">Все исполнения по ценам от производителя</p>
                            <div class="button-uzm-slider">
                                <button type="button" class="btn btn-danger btn-sm">Подробнее</button>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselUzm" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Предыдущий</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselUzm" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Следующий</span>
                </button>
            </div>
        </div>

        <div class="container">
            <div class="row text-center py-5">
                <div class="col-12">
                    <p class="fs-3 fw-bold">Металлорукава от производителя по высоким стандартам ООО «УЗМ» в городе Уфа
                    </p>
                </div>
            </div>
            <div class="row text-left">
                <div class="col-3">
                    <div class="text-blue-uzm">
                        <img class="pb-3 pe-2" src="{% static 'rzmr/img/icon1.png' %}" alt="icon1">
                        <span class="fs-2">100% </span><span class="fs-5"> партии</span>
                    </div>
                    <p class="fs-md-media-uzm">проходит выходные контрольные испытания</p>
                </div>
                <div class="col-3">
                    <div class="text-blue-uzm">
                        <img class="pb-3 pe-2" src="{% static 'rzmr/img/icon2.png' %}" alt="icon2">
                        <span class="fs-2">17 </span><span class="fs-5"> диаметров</span>
                    </div>
                    <p class="fs-md-media-uzm">металлорукавов РГМ для решения любых производственных задач</p>
                </div>
                <div class="col-3">
                    <div class="text-blue-uzm">
                        <img class="pb-3 pe-2" src="{% static 'rzmr/img/icon3.png' %}" alt="icon3">
                        <span class="fs-2">600 </span><span class="fs-5"> кгc/см²</span>
                    </div>
                    <p class="fs-md-media-uzm">максимальное рабочее давление металлорукавов серии РГМ</p>
                </div>
                <div class="col-3">
                    <div class="text-blue-uzm">
                        <img class="pb-3 pe-2" src="{% static 'rzmr/img/icon4.png' %}" alt="icon4">
                        <span class="fs-2">1200 </span><span class="fs-5"> видов</span>
                    </div>
                    <p class="fs-md-media-uzm">номенклатуры продукции, выпускаемой нашем предприятием</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-5 col-4 py-5">
                    <div class="horizontal-line-uzm my-4"></div>
                </div>
                <div class="text-center col-xl-2 col-4 py-5">
                    <p class="fs-3 fw-bold">Продукция</p>
                </div>
                <div class="col-xl-5 col-4 py-5">
                    <div class="horizontal-line-uzm my-4"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-sm-6 col-12 py-5 d-flex justify-content-center box-shadow-uzm">
                    <a href="#">
                        <div class="wrapper-img-uzm-down wrapper-text-above-img-uzm">
                            <img class="img-fluid" src="{% static 'rzmr/img/metallhoses.jpg' %}" alt="Металлорукава">
                            <div class="wrapper-img-uzm-up"></div>
                            <div class="text-above-img-uzm text-blue-uzm">
                                <p>Металлорукава</p>
                                <p>
                                <pre></pre>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xl-4 col-sm-6 col-12 py-5 d-flex justify-content-center box-shadow-uzm">
                    <a href="#">
                        <div class="wrapper-img-uzm-down wrapper-text-above-img-uzm">
                            <img class="img-fluid" src="{% static 'rzmr/img/ftoroplast.jpg' %}" alt="Фторопластовые PTFE">
                            <div class="wrapper-img-uzm-up"></div>
                            <div class="text-above-img-uzm text-blue-uzm">
                                <p>Фторопластовые PTFE</p>
                                <p>рукава</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xl-4 col-sm-6 col-12 py-5 d-flex justify-content-center box-shadow-uzm">
                    <a href="#">
                        <div class="wrapper-img-uzm-down wrapper-text-above-img-uzm">
                            <img class="img-fluid" src="{% static 'rzmr/img/kompensator.jpg' %}" alt="Тканевые компенсаторы">
                            <div class="wrapper-img-uzm-up"></div>
                            <div class="text-above-img-uzm text-blue-uzm">
                                <p>Тканевые</p>
                                <p>компенсаторы</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xl-4 col-sm-6 col-12 py-5 d-flex justify-content-center box-shadow-uzm">
                    <a href="#">
                        <div class="wrapper-img-uzm-down wrapper-text-above-img-uzm">
                            <img class="img-fluid" src="{% static 'rzmr/img/silfon_kompensator.jpg' %}" alt="Сильфонные компенсаторы">
                            <div class="wrapper-img-uzm-up"></div>
                            <div class="text-above-img-uzm text-blue-uzm">
                                <p>Сильфонные</p>
                                <p>компенсаторы</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xl-4 col-sm-6 col-12 py-5 d-flex justify-content-center box-shadow-uzm">
                    <a href="#">
                        <div class="wrapper-img-uzm-down wrapper-text-above-img-uzm">
                            <img class="img-fluid" src="{% static 'rzmr/img/filters_agregate.jpg' %}" alt="Фильтры и агрегаты">
                            <div class="wrapper-img-uzm-up"></div>
                            <div class="text-above-img-uzm text-blue-uzm">
                                <p>Фильтры и агрегаты</p>
                                <p>
                                <pre></pre>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xl-4 col-sm-6 col-12 py-5 d-flex justify-content-center box-shadow-uzm">
                    <a href="#">
                        <div class="wrapper-img-uzm-down wrapper-text-above-img-uzm">
                            <img class="img-fluid" src="{% static 'rzmr/img/nestandart.jpg' %}" alt="Нестандартное оборудование">
                            <div class="wrapper-img-uzm-up"></div>
                            <div class="text-above-img-uzm text-blue-uzm">
                                <p>Нестандартное</p>
                                <p>оборудование</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-3 py-5">
                    <div class="horizontal-line-uzm my-4"></div>
                </div>
                <div class="text-center col-xl-4 col-6 py-5">
                    <p class="fs-3 fw-bold">Онлайн конструктор</p>
                </div>
                <div class="col-xl-4 col-3 py-5">
                    <div class="horizontal-line-uzm my-4"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <a href="#">
                            <img class="img-fluid" src="{% static 'rzmr/img/online-constructor.png' %}" alt="Online constructor">
                            <p class="fs-5 text-blue-uzm">Перейти в Онлайн-конструктор</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-5 col-4 py-5">
                    <div class="horizontal-line-uzm my-4"></div>
                </div>
                <div class="text-center col-xl-2 col-4 py-5">
                    <p class="fs-3 fw-bold">Почему мы</p>
                </div>
                <div class="col-xl-5 col-4 py-5">
                    <div class="horizontal-line-uzm my-4"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <img class="pb-3 pe-2" src="{% static 'rzmr/img/sroki.png' %}" alt="time">
                    <p class="fs-md-media-uzm">Короткие сроки за счет собственных мощностей и налаженных отношений с
                        поставщиками материалов</p>
                </div>
                <div class="col-3">
                    <img class="pb-3 pe-2" src="{% static 'rzmr/img/good_price.png' %}" alt="price">
                    <p class="fs-md-media-uzm">Выгодная цена за счет продуманной системы лояльности к постоянным
                        клиентам</p>
                </div>
                <div class="col-3">
                    <img class="pb-3 pe-2" src="{% static 'rzmr/img/delivery.png' %}" alt="delivery">
                    <p class="fs-md-media-uzm">Доставка по всей территории России и стран СНГ</p>
                </div>
                <div class="col-3">
                    <img class="pb-3 pe-2" src="{% static 'rzmr/img/individual_approach.png' %}" alt="approach">
                    <p class="fs-md-media-uzm">Индивидуальный подход к каждому клиенту</p>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-md-3 col-6">
                    <a href="#">
                        <img class="img-fluid pb-3 pe-2 border box-shadow-uzm" src="{% static 'rzmr/img/map_ka.png' %}" alt="map_ka">
                        <p class="fs-5 fs-md-media-uzm text-blue-uzm">Карта концевой арматуры</p>
                    </a>
                </div>
                <div class="col-md-3 col-6">
                    <a href="#">
                        <img class="img-fluid pb-3 pe-2 border box-shadow-uzm" src="{% static 'rzmr/img/personal_account.png' %}" alt="personal_account">
                        <p class="fs-5 fs-md-media-uzm text-blue-uzm">Личный кабинет</p>
                    </a>
                </div>
                <div class="col-md-3 col-6">
                    <a href="#">
                        <img class="img-fluid pb-3 pe-2 border box-shadow-uzm" src="{% static 'rzmr/img/blueprints.png' %}" alt="blueprints">
                        <p class="fs-5 fs-md-media-uzm text-blue-uzm">Изготовление деталей по чертежам заказчика</p>
                    </a>
                </div>
                <div class="col-md-3 col-6">
                    <a href="#">
                        <img class="img-fluid pb-3 pe-2 border box-shadow-uzm" src="{% static 'rzmr/img/strength_tests.png' %}" alt="strength_tests">
                        <p class="fs-5 text-blue-uzm">Услуги по испытанию на герметичность и прочность</p>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-5 col-4 py-5">
                    <div class="horizontal-line-uzm my-4"></div>
                </div>
                <div class="text-center col-xl-2 col-4 py-5">
                    <p class="fs-3 fw-bold">Партнёры</p>
                </div>
                <div class="col-xl-5 col-4 py-5">
                    <div class="horizontal-line-uzm my-4"></div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-3 col-6 p-5">
                    <img class="img-fluid rounded mx-auto d-block" src="{% static 'rzmr/img/logo-novatek.png' %}" alt="logo-novatek">
                </div>
                <div class="col-md-3 col-6 p-5">
                    <img class="img-fluid rounded mx-auto d-block" src="{% static 'rzmr/img/logo-rti.png' %}" alt="logo-rti">
                </div>
                <div class="col-md-3 col-6 p-5">
                    <img class="img-fluid rounded mx-auto d-block" src="{% static 'rzmr/img/logo-ugmpk.png' %}" alt="logo-ugmpk">
                </div>
                <div class="col-md-3 col-6 p-5">
                    <img class="img-fluid rounded mx-auto d-block" src="{% static 'rzmr/img/logo-oak.png' %}" alt="logo-oak">
                </div>
                <div class="col-md-3 col-6 p-5">
                    <img class="img-fluid rounded mx-auto d-block" src="{% static 'rzmr/img/logo-odk.gif' %}" alt="logo-odk">
                </div>
                <div class="col-md-3 col-6 p-5">
                    <img class="img-fluid rounded mx-auto d-block" src="{% static 'rzmr/img/logo-rosatom.png' %}" alt="logo-rosatom">
                </div>
                <div class="col-md-3 col-6 p-5">
                    <img class="img-fluid rounded mx-auto d-block" src="{% static 'rzmr/img/logo-gazprom.png' %}" alt="logo-gazprom">
                </div>
                <div class="col-md-3 col-6 p-5">
                    <img class="img-fluid rounded mx-auto d-block" src="{% static 'rzmr/img/logo-rosneft.png' %}" alt="logo-rosneft">
                </div>
                <div class="col-md-3 col-6 p-5">
                    <img class="img-fluid rounded mx-auto d-block" src="{% static 'rzmr/img/logo-lukoil.png' %}" alt="logo-lukoil">
                </div>
                <div class="col-md-3 col-6 p-5">
                    <img class="img-fluid rounded mx-auto d-block" src="{% static 'rzmr/img/logo-transneft.png' %}" alt="logo-transneft">
                </div>
                <div class="col-md-3 col-6 p-5">
                    <img class="img-fluid rounded mx-auto d-block" src="{% static 'rzmr/img/logo-technodinamica.png' %}" alt="logo-technodinamica">
                </div>
                <div class="col-md-3 col-6 p-5">
                    <img class="img-fluid rounded mx-auto d-block" src="{% static 'rzmr/img/logo-progres.png' %}" alt="logo-progres">
                </div>
            </div>
        </div>

{% endblock content %}