{% extends 'rzmr/quick-release-coupling_base.html' %}
{% load static %}

{% block quick-release-couplings-info %}

<div class="container">
    <div class="row">
        <div class="col-12 border text-center m-1">
            <h3>Камлок типа C</h3>
            <img id="bigImage" class="resize-big-img" src="{% static 'rzmr/img/C.jpg' %}" alt="img-big">
        </div>
    </div>
    <div class="row">
        <div class="col-2 border d-flex m-1">
            <img class="resize-img" src="{% static 'rzmr/img/C.jpg' %}" alt="img1">
        </div>
        <div class="col-2 border d-flex m-1">
            <img class="resize-img" src="{% static 'rzmr/img/камлок_типC.jpg' %}" alt="img2">
        </div>
        <div class="col-2 border d-flex m-1">
            <img class="resize-img" src="{% static 'rzmr/img/камлок_типC.png' %}" alt="img3">
        </div>
    </div>
    <br>
    <h3>Технические характеристики и особенности конструкции</h3>
    <br>
    <div class="row">
        <div class="col-12">
            <table id="TABLE_1">
                <colgroup id="COLGROUP_2">
                    <col id="COL_3" />
                </colgroup>
                <colgroup id="COLGROUP_4">
                    <col id="COL_5" />
                </colgroup>
                <colgroup id="COLGROUP_6">
                    <col id="COL_7" />
                </colgroup>
                <colgroup id="COLGROUP_8">
                    <col id="COL_9" />
                </colgroup>
                <colgroup id="COLGROUP_10">
                    <col id="COL_11" />
                </colgroup>
                <colgroup id="COLGROUP_12">
                    <col id="COL_13" />
                </colgroup>
                <colgroup id="COLGROUP_14">
                    <col id="COL_15" />
                </colgroup>
                <colgroup id="COLGROUP_16">
                    <col id="COL_17" />
                </colgroup>
                <colgroup id="COLGROUP_18">
                    <col id="COL_19" />
                </colgroup>
                <colgroup id="COLGROUP_20">
                    <col id="COL_21" />
                </colgroup>
                <colgroup id="COLGROUP_22">
                    <col id="COL_23" />
                </colgroup>
                <colgroup id="COLGROUP_24">
                    <col id="COL_25" />
                </colgroup>
                <tbody id="TBODY_26">
                    <tr id="TR_27">
                        <td id="TD_28">
                            <b id="B_29">Ду , мм</b>
                        </td>
                        <td id="TD_30">
                            <b id="B_31">15</b>
                        </td>
                        <td id="TD_32">
                            <b id="B_33">20</b>
                        </td>
                        <td id="TD_34">
                            <b id="B_35">25</b>
                        </td>
                        <td id="TD_36">
                            <b id="B_37">32</b>
                        </td>
                        <td id="TD_38">
                            <b id="B_39">40</b>
                        </td>
                        <td id="TD_40">
                            <b id="B_41">50</b>
                        </td>
                        <td id="TD_42">
                            <b id="B_43">65</b>
                        </td>
                        <td id="TD_44">
                            <b id="B_45">80</b>
                        </td>
                        <td id="TD_46">
                            <b id="B_47">100</b>
                        </td>
                        <td id="TD_48">
                            <b id="B_49">125</b>
                        </td>
                        <td id="TD_50">
                            <b id="B_51">150</b>
                        </td>
                    </tr>
                    <tr id="TR_52">
                        <td id="TD_53">
                            А
                        </td>
                        <td id="TD_54">
                            15,5
                        </td>
                        <td id="TD_55">
                            15,5
                        </td>
                        <td id="TD_56">
                            20
                        </td>
                        <td id="TD_57">
                            27,5
                        </td>
                        <td id="TD_58">
                            32,5
                        </td>
                        <td id="TD_59">
                            45
                        </td>
                        <td id="TD_60">
                            57,5
                        </td>
                        <td id="TD_61">
                            69
                        </td>
                        <td id="TD_62">
                            95
                        </td>
                        <td id="TD_63">
                            115
                        </td>
                        <td id="TD_64">
                            140
                        </td>
                    </tr>
                    <tr id="TR_65">
                        <td id="TD_66">
                            Б
                        </td>
                        <td id="TD_67">
                            85
                        </td>
                        <td id="TD_68">
                            85
                        </td>
                        <td id="TD_69">
                            95
                        </td>
                        <td id="TD_70">
                            110
                        </td>
                        <td id="TD_71">
                            110
                        </td>
                        <td id="TD_72">
                            120
                        </td>
                        <td id="TD_73">
                            125
                        </td>
                        <td id="TD_74">
                            130
                        </td>
                        <td id="TD_75">
                            135
                        </td>
                        <td id="TD_76">
                            187
                        </td>
                        <td id="TD_77">
                            214
                        </td>
                    </tr>
                    <tr id="TR_78">
                        <td id="TD_79">
                            Д
                        </td>
                        <td id="TD_80">
                            20
                        </td>
                        <td id="TD_81">
                            20
                        </td>
                        <td id="TD_82">
                            26
                        </td>
                        <td id="TD_83">
                            34
                        </td>
                        <td id="TD_84">
                            39,5
                        </td>
                        <td id="TD_85">
                            52
                        </td>
                        <td id="TD_86">
                            65
                        </td>
                        <td id="TD_87">
                            77
                        </td>
                        <td id="TD_88">
                            104,5
                        </td>
                        <td id="TD_89">
                            130
                        </td>
                        <td id="TD_90">
                            155
                        </td>
                    </tr>
                    <tr id="TR_91">
                        <td id="TD_92">
                            Г
                        </td>
                        <td id="TD_93">
                            28,5
                        </td>
                        <td id="TD_94">
                            28,5
                        </td>
                        <td id="TD_95">
                            34,5
                        </td>
                        <td id="TD_96">
                            42,5
                        </td>
                        <td id="TD_97">
                            44
                        </td>
                        <td id="TD_98">
                            50
                        </td>
                        <td id="TD_99">
                            51
                        </td>
                        <td id="TD_100">
                            53
                        </td>
                        <td id="TD_101">
                            53,5
                        </td>
                        <td id="TD_102">
                            62
                        </td>
                        <td id="TD_103">
                            72
                        </td>
                    </tr>
                    <tr id="TR_104">
                        <td id="TD_105">
                            Е
                        </td>
                        <td id="TD_106">
                            53
                        </td>
                        <td id="TD_107">
                            53
                        </td>
                        <td id="TD_108">
                            60
                        </td>
                        <td id="TD_109">
                            78
                        </td>
                        <td id="TD_110">
                            85
                        </td>
                        <td id="TD_111">
                            96
                        </td>
                        <td id="TD_112">
                            110
                        </td>
                        <td id="TD_113">
                            127
                        </td>
                        <td id="TD_114">
                            156
                        </td>
                        <td id="TD_115">
                            185
                        </td>
                        <td id="TD_116">
                            220
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <p>
                Камлоки - БРС (быстроразъемное соединение кулачкового типа) предназначенное для быстрой стыковки
                металлорукавов диаметром до 200мм. Соединение применяется практически во всех отраслях промышленности.
                Устройство кулачков муфты обеспечивает устойчивое к вибрации соединение с адаптером без использования
                дополнительного фиксирующего шплинта или других приспособлений. Рабочее давление камлоков составляет от
                10 до 20 кгс/см2, в зависимости от внутреннего диаметра.
            </p>
        </div>
    </div>
</div>

<style>
    #TABLE_1 {
        block-size: 165.344px;
        border-collapse: collapse;
        height: 165.344px;
        inline-size: 613px;
        perspective-origin: 306.5px 82.6719px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 306.5px 82.6719px;
        width: 613px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TABLE_1*/

    #TABLE_1:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TABLE_1:after*/

    #TABLE_1:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TABLE_1:before*/

    #COLGROUP_2,
    #COL_3 {
        block-size: 164.344px;
        border-collapse: collapse;
        box-sizing: border-box;
        height: 164.344px;
        inline-size: 79.0469px;
        perspective-origin: 39.5156px 82.1719px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 39.5234px 82.1719px;
        width: 79.0469px;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COLGROUP_2, #COL_3*/

    #COLGROUP_2:after,
    #COL_3:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COLGROUP_2:after, #COL_3:after*/

    #COLGROUP_2:before,
    #COL_3:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COLGROUP_2:before, #COL_3:before*/

    #COLGROUP_4,
    #COL_5,
    #COL_7 {
        block-size: 164.344px;
        border-collapse: collapse;
        box-sizing: border-box;
        height: 164.344px;
        inline-size: 51.5px;
        perspective-origin: 25.75px 82.1719px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 25.75px 82.1719px;
        width: 51.5px;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COLGROUP_4, #COL_5, #COL_7*/

    #COLGROUP_4:after,
    #COL_5:after,
    #COL_7:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COLGROUP_4:after, #COL_5:after, #COL_7:after*/

    #COLGROUP_4:before,
    #COL_5:before,
    #COL_7:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COLGROUP_4:before, #COL_5:before, #COL_7:before*/

    #COLGROUP_6 {
        block-size: 164.344px;
        border-collapse: collapse;
        box-sizing: border-box;
        height: 164.344px;
        inline-size: 51.5px;
        perspective-origin: 25.75px 82.1719px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 25.75px 82.1719px;
        width: 51.5px;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COLGROUP_6*/

    #COLGROUP_6:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COLGROUP_6:after*/

    #COLGROUP_6:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COLGROUP_6:before*/

    #COLGROUP_8,
    #COL_9 {
        block-size: 164.344px;
        border-collapse: collapse;
        box-sizing: border-box;
        height: 164.344px;
        inline-size: 50.2969px;
        perspective-origin: 25.1406px 82.1719px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 25.1484px 82.1719px;
        width: 50.2969px;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COLGROUP_8, #COL_9*/

    #COLGROUP_8:after,
    #COL_9:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COLGROUP_8:after, #COL_9:after*/

    #COLGROUP_8:before,
    #COL_9:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COLGROUP_8:before, #COL_9:before*/

    #COLGROUP_10,
    #COL_11 {
        block-size: 164.344px;
        border-collapse: collapse;
        box-sizing: border-box;
        height: 164.344px;
        inline-size: 50.9844px;
        perspective-origin: 25.4844px 82.1719px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 25.4922px 82.1719px;
        width: 50.9844px;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COLGROUP_10, #COL_11*/

    #COLGROUP_10:after,
    #COL_11:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COLGROUP_10:after, #COL_11:after*/

    #COLGROUP_10:before,
    #COL_11:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COLGROUP_10:before, #COL_11:before*/

    #COLGROUP_12,
    #COL_13 {
        block-size: 164.344px;
        border-collapse: collapse;
        box-sizing: border-box;
        height: 164.344px;
        inline-size: 50.9531px;
        perspective-origin: 25.4688px 82.1719px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 25.4766px 82.1719px;
        width: 50.9531px;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COLGROUP_12, #COL_13*/

    #COLGROUP_12:after,
    #COL_13:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COLGROUP_12:after, #COL_13:after*/

    #COLGROUP_12:before,
    #COL_13:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COLGROUP_12:before, #COL_13:before*/

    #COLGROUP_14,
    #COL_15 {
        block-size: 164.344px;
        border-collapse: collapse;
        box-sizing: border-box;
        height: 164.344px;
        inline-size: 41.5938px;
        perspective-origin: 20.7969px 82.1719px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 20.7969px 82.1719px;
        width: 41.5938px;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COLGROUP_14, #COL_15*/

    #COLGROUP_14:after,
    #COL_15:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COLGROUP_14:after, #COL_15:after*/

    #COLGROUP_14:before,
    #COL_15:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COLGROUP_14:before, #COL_15:before*/

    #COLGROUP_16,
    #COL_17 {
        block-size: 164.344px;
        border-collapse: collapse;
        box-sizing: border-box;
        height: 164.344px;
        inline-size: 47.9375px;
        perspective-origin: 23.9688px 82.1719px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 23.9688px 82.1719px;
        width: 47.9375px;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COLGROUP_16, #COL_17*/

    #COLGROUP_16:after,
    #COL_17:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COLGROUP_16:after, #COL_17:after*/

    #COLGROUP_16:before,
    #COL_17:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COLGROUP_16:before, #COL_17:before*/

    #COLGROUP_18,
    #COL_19 {
        block-size: 164.344px;
        border-collapse: collapse;
        box-sizing: border-box;
        height: 164.344px;
        inline-size: 40.9375px;
        perspective-origin: 20.4688px 82.1719px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 20.4688px 82.1719px;
        width: 40.9375px;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COLGROUP_18, #COL_19*/

    #COLGROUP_18:after,
    #COL_19:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COLGROUP_18:after, #COL_19:after*/

    #COLGROUP_18:before,
    #COL_19:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COLGROUP_18:before, #COL_19:before*/

    #COLGROUP_20,
    #COL_21 {
        block-size: 164.344px;
        border-collapse: collapse;
        box-sizing: border-box;
        height: 164.344px;
        inline-size: 58.9375px;
        perspective-origin: 29.4688px 82.1719px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 29.4688px 82.1719px;
        width: 58.9375px;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COLGROUP_20, #COL_21*/

    #COLGROUP_20:after,
    #COL_21:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COLGROUP_20:after, #COL_21:after*/

    #COLGROUP_20:before,
    #COL_21:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COLGROUP_20:before, #COL_21:before*/

    #COLGROUP_22,
    #COL_23 {
        block-size: 164.344px;
        border-collapse: collapse;
        box-sizing: border-box;
        height: 164.344px;
        inline-size: 41.1406px;
        perspective-origin: 20.5625px 82.1719px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 20.5703px 82.1719px;
        width: 41.1406px;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COLGROUP_22, #COL_23*/

    #COLGROUP_22:after,
    #COL_23:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COLGROUP_22:after, #COL_23:after*/

    #COLGROUP_22:before,
    #COL_23:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COLGROUP_22:before, #COL_23:before*/

    #COLGROUP_24,
    #COL_25 {
        block-size: 164.344px;
        border-collapse: collapse;
        box-sizing: border-box;
        height: 164.344px;
        inline-size: 47.1719px;
        perspective-origin: 23.5781px 82.1719px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 23.5859px 82.1719px;
        width: 47.1719px;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COLGROUP_24, #COL_25*/

    #COLGROUP_24:after,
    #COL_25:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COLGROUP_24:after, #COL_25:after*/

    #COLGROUP_24:before,
    #COL_25:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#COLGROUP_24:before, #COL_25:before*/

    #TBODY_26 {
        block-size: 164.344px;
        border-block-end-color: rgb(128, 128, 128);
        border-block-start-color: rgb(128, 128, 128);
        border-collapse: collapse;
        border-inline-end-color: rgb(128, 128, 128);
        border-inline-start-color: rgb(128, 128, 128);
        box-sizing: border-box;
        height: 164.344px;
        inline-size: 612px;
        perspective-origin: 306px 82.1719px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 306px 82.1719px;
        width: 612px;
        border: 0px none rgb(128, 128, 128);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TBODY_26*/

    #TBODY_26:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TBODY_26:after*/

    #TBODY_26:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TBODY_26:before*/

    #TR_27,
    #TR_52,
    #TR_65,
    #TR_78,
    #TR_91,
    #TR_104 {
        block-size: 27.3906px;
        border-block-end-color: rgb(128, 128, 128);
        border-block-start-color: rgb(128, 128, 128);
        border-collapse: collapse;
        border-inline-end-color: rgb(128, 128, 128);
        border-inline-start-color: rgb(128, 128, 128);
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 612px;
        perspective-origin: 306px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 306px 13.6953px;
        vertical-align: middle;
        width: 612px;
        border: 0px none rgb(128, 128, 128);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TR_27, #TR_52, #TR_65, #TR_78, #TR_91, #TR_104*/

    #TR_27:after,
    #TR_52:after,
    #TR_65:after,
    #TR_78:after,
    #TR_91:after,
    #TR_104:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TR_27:after, #TR_52:after, #TR_65:after, #TR_78:after, #TR_91:after, #TR_104:after*/

    #TR_27:before,
    #TR_52:before,
    #TR_65:before,
    #TR_78:before,
    #TR_91:before,
    #TR_104:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TR_27:before, #TR_52:before, #TR_65:before, #TR_78:before, #TR_91:before, #TR_104:before*/

    #TD_28,
    #TD_53,
    #TD_66,
    #TD_79,
    #TD_92,
    #TD_105 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 79.0469px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 39.5156px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 39.5234px 13.6953px;
        vertical-align: middle;
        width: 79.0469px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_28, #TD_53, #TD_66, #TD_79, #TD_92, #TD_105*/

    #TD_28:after,
    #TD_53:after,
    #TD_66:after,
    #TD_79:after,
    #TD_92:after,
    #TD_105:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_28:after, #TD_53:after, #TD_66:after, #TD_79:after, #TD_92:after, #TD_105:after*/

    #TD_28:before,
    #TD_53:before,
    #TD_66:before,
    #TD_79:before,
    #TD_92:before,
    #TD_105:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_28:before, #TD_53:before, #TD_66:before, #TD_79:before, #TD_92:before, #TD_105:before*/

    #B_29,
    #B_31,
    #B_33,
    #B_35,
    #B_37,
    #B_39,
    #B_41,
    #B_43,
    #B_45,
    #B_47,
    #B_49,
    #B_51 {
        border-collapse: collapse;
        box-sizing: border-box;
        perspective-origin: 0px 0px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 0px 0px;
        border-spacing: 2px 2px;
        font: 700 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#B_29, #B_31, #B_33, #B_35, #B_37, #B_39, #B_41, #B_43, #B_45, #B_47, #B_49, #B_51*/

    #B_29:after,
    #B_31:after,
    #B_33:after,
    #B_35:after,
    #B_37:after,
    #B_39:after,
    #B_41:after,
    #B_43:after,
    #B_45:after,
    #B_47:after,
    #B_49:after,
    #B_51:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 700 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#B_29:after, #B_31:after, #B_33:after, #B_35:after, #B_37:after, #B_39:after, #B_41:after, #B_43:after, #B_45:after, #B_47:after, #B_49:after, #B_51:after*/

    #B_29:before,
    #B_31:before,
    #B_33:before,
    #B_35:before,
    #B_37:before,
    #B_39:before,
    #B_41:before,
    #B_43:before,
    #B_45:before,
    #B_47:before,
    #B_49:before,
    #B_51:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 700 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#B_29:before, #B_31:before, #B_33:before, #B_35:before, #B_37:before, #B_39:before, #B_41:before, #B_43:before, #B_45:before, #B_47:before, #B_49:before, #B_51:before*/

    #TD_30,
    #TD_32,
    #TD_54,
    #TD_67,
    #TD_80,
    #TD_93,
    #TD_106 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 51.5px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 25.75px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 25.75px 13.6953px;
        vertical-align: middle;
        width: 51.5px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_30, #TD_32, #TD_54, #TD_67, #TD_80, #TD_93, #TD_106*/

    #TD_30:after,
    #TD_32:after,
    #TD_54:after,
    #TD_67:after,
    #TD_80:after,
    #TD_93:after,
    #TD_106:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_30:after, #TD_32:after, #TD_54:after, #TD_67:after, #TD_80:after, #TD_93:after, #TD_106:after*/

    #TD_30:before,
    #TD_32:before,
    #TD_54:before,
    #TD_67:before,
    #TD_80:before,
    #TD_93:before,
    #TD_106:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_30:before, #TD_32:before, #TD_54:before, #TD_67:before, #TD_80:before, #TD_93:before, #TD_106:before*/

    #TD_34,
    #TD_56,
    #TD_69,
    #TD_82,
    #TD_95,
    #TD_108 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 50.2969px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 25.1406px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 25.1484px 13.6953px;
        vertical-align: middle;
        width: 50.2969px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_34, #TD_56, #TD_69, #TD_82, #TD_95, #TD_108*/

    #TD_34:after,
    #TD_56:after,
    #TD_69:after,
    #TD_82:after,
    #TD_95:after,
    #TD_108:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_34:after, #TD_56:after, #TD_69:after, #TD_82:after, #TD_95:after, #TD_108:after*/

    #TD_34:before,
    #TD_56:before,
    #TD_69:before,
    #TD_82:before,
    #TD_95:before,
    #TD_108:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_34:before, #TD_56:before, #TD_69:before, #TD_82:before, #TD_95:before, #TD_108:before*/

    #TD_36,
    #TD_57,
    #TD_70,
    #TD_83,
    #TD_96,
    #TD_109 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 50.9844px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 25.4844px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 25.4922px 13.6953px;
        vertical-align: middle;
        width: 50.9844px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_36, #TD_57, #TD_70, #TD_83, #TD_96, #TD_109*/

    #TD_36:after,
    #TD_57:after,
    #TD_70:after,
    #TD_83:after,
    #TD_96:after,
    #TD_109:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_36:after, #TD_57:after, #TD_70:after, #TD_83:after, #TD_96:after, #TD_109:after*/

    #TD_36:before,
    #TD_57:before,
    #TD_70:before,
    #TD_83:before,
    #TD_96:before,
    #TD_109:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_36:before, #TD_57:before, #TD_70:before, #TD_83:before, #TD_96:before, #TD_109:before*/

    #TD_38,
    #TD_58,
    #TD_71,
    #TD_84,
    #TD_97,
    #TD_110 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 50.9531px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 25.4688px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 25.4766px 13.6953px;
        vertical-align: middle;
        width: 50.9531px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_38, #TD_58, #TD_71, #TD_84, #TD_97, #TD_110*/

    #TD_38:after,
    #TD_58:after,
    #TD_71:after,
    #TD_84:after,
    #TD_97:after,
    #TD_110:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_38:after, #TD_58:after, #TD_71:after, #TD_84:after, #TD_97:after, #TD_110:after*/

    #TD_38:before,
    #TD_58:before,
    #TD_71:before,
    #TD_84:before,
    #TD_97:before,
    #TD_110:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_38:before, #TD_58:before, #TD_71:before, #TD_84:before, #TD_97:before, #TD_110:before*/

    #TD_40,
    #TD_59,
    #TD_72,
    #TD_85,
    #TD_98,
    #TD_111 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 41.5938px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 20.7969px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 20.7969px 13.6953px;
        vertical-align: middle;
        width: 41.5938px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_40, #TD_59, #TD_72, #TD_85, #TD_98, #TD_111*/

    #TD_40:after,
    #TD_59:after,
    #TD_72:after,
    #TD_85:after,
    #TD_98:after,
    #TD_111:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_40:after, #TD_59:after, #TD_72:after, #TD_85:after, #TD_98:after, #TD_111:after*/

    #TD_40:before,
    #TD_59:before,
    #TD_72:before,
    #TD_85:before,
    #TD_98:before,
    #TD_111:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_40:before, #TD_59:before, #TD_72:before, #TD_85:before, #TD_98:before, #TD_111:before*/

    #TD_42,
    #TD_60,
    #TD_73,
    #TD_86,
    #TD_99,
    #TD_112 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 47.9375px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 23.9688px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 23.9688px 13.6953px;
        vertical-align: middle;
        width: 47.9375px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_42, #TD_60, #TD_73, #TD_86, #TD_99, #TD_112*/

    #TD_42:after,
    #TD_60:after,
    #TD_73:after,
    #TD_86:after,
    #TD_99:after,
    #TD_112:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_42:after, #TD_60:after, #TD_73:after, #TD_86:after, #TD_99:after, #TD_112:after*/

    #TD_42:before,
    #TD_60:before,
    #TD_73:before,
    #TD_86:before,
    #TD_99:before,
    #TD_112:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_42:before, #TD_60:before, #TD_73:before, #TD_86:before, #TD_99:before, #TD_112:before*/

    #TD_44,
    #TD_61,
    #TD_74,
    #TD_87,
    #TD_100,
    #TD_113 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 40.9375px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 20.4688px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 20.4688px 13.6953px;
        vertical-align: middle;
        width: 40.9375px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_44, #TD_61, #TD_74, #TD_87, #TD_100, #TD_113*/

    #TD_44:after,
    #TD_61:after,
    #TD_74:after,
    #TD_87:after,
    #TD_100:after,
    #TD_113:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_44:after, #TD_61:after, #TD_74:after, #TD_87:after, #TD_100:after, #TD_113:after*/

    #TD_44:before,
    #TD_61:before,
    #TD_74:before,
    #TD_87:before,
    #TD_100:before,
    #TD_113:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_44:before, #TD_61:before, #TD_74:before, #TD_87:before, #TD_100:before, #TD_113:before*/

    #TD_46,
    #TD_62,
    #TD_75,
    #TD_88,
    #TD_101,
    #TD_114 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 58.9375px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 29.4688px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 29.4688px 13.6953px;
        vertical-align: middle;
        width: 58.9375px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_46, #TD_62, #TD_75, #TD_88, #TD_101, #TD_114*/

    #TD_46:after,
    #TD_62:after,
    #TD_75:after,
    #TD_88:after,
    #TD_101:after,
    #TD_114:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_46:after, #TD_62:after, #TD_75:after, #TD_88:after, #TD_101:after, #TD_114:after*/

    #TD_46:before,
    #TD_62:before,
    #TD_75:before,
    #TD_88:before,
    #TD_101:before,
    #TD_114:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_46:before, #TD_62:before, #TD_75:before, #TD_88:before, #TD_101:before, #TD_114:before*/

    #TD_48,
    #TD_63,
    #TD_76,
    #TD_89,
    #TD_102,
    #TD_115 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 41.1406px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 20.5625px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 20.5703px 13.6953px;
        vertical-align: middle;
        width: 41.1406px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_48, #TD_63, #TD_76, #TD_89, #TD_102, #TD_115*/

    #TD_48:after,
    #TD_63:after,
    #TD_76:after,
    #TD_89:after,
    #TD_102:after,
    #TD_115:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_48:after, #TD_63:after, #TD_76:after, #TD_89:after, #TD_102:after, #TD_115:after*/

    #TD_48:before,
    #TD_63:before,
    #TD_76:before,
    #TD_89:before,
    #TD_102:before,
    #TD_115:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_48:before, #TD_63:before, #TD_76:before, #TD_89:before, #TD_102:before, #TD_115:before*/

    #TD_50,
    #TD_64,
    #TD_77,
    #TD_90,
    #TD_103,
    #TD_116 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 47.1719px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 23.5781px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 23.5859px 13.6953px;
        vertical-align: middle;
        width: 47.1719px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_50, #TD_64, #TD_77, #TD_90, #TD_103, #TD_116*/

    #TD_50:after,
    #TD_64:after,
    #TD_77:after,
    #TD_90:after,
    #TD_103:after,
    #TD_116:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_50:after, #TD_64:after, #TD_77:after, #TD_90:after, #TD_103:after, #TD_116:after*/

    #TD_50:before,
    #TD_64:before,
    #TD_77:before,
    #TD_90:before,
    #TD_103:before,
    #TD_116:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_50:before, #TD_64:before, #TD_77:before, #TD_90:before, #TD_103:before, #TD_116:before*/

    #TD_55,
    #TD_68,
    #TD_94 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 51.5px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 25.75px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 25.75px 13.6953px;
        vertical-align: middle;
        width: 51.5px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_55, #TD_68, #TD_94*/

    #TD_55:after,
    #TD_68:after,
    #TD_94:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_55:after, #TD_68:after, #TD_94:after*/

    #TD_55:before,
    #TD_68:before,
    #TD_94:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_55:before, #TD_68:before, #TD_94:before*/

    #TD_81,
    #TD_107 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 51.5px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 25.75px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 25.75px 13.6953px;
        vertical-align: middle;
        width: 51.5px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_81, #TD_107*/

    #TD_81:after,
    #TD_107:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_81:after, #TD_107:after*/

    #TD_81:before,
    #TD_107:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_81:before, #TD_107:before*/
</style>

{% endblock quick-release-couplings-info %}