{% extends 'rzmr/quick-release-coupling_base.html' %}
{% load static %}

{% block quick-release-couplings-info %}

<div class="container">
    <div class="row">
        <div class="col-12 border text-center m-1">
            <h3>Кольцо уплотнительное для гайки РОТ</h3>
            <img id="bigImage" class="resize-big-img" src="{% static 'rzmr/img/чертеж с защ.jpg' %}" alt="img-big">
        </div>
    </div>
    <div class="row">
        <div class="col-2 border d-flex m-1">
            <img class="resize-img" src="{% static 'rzmr/img/чертеж с защ.jpg' %}" alt="img1">
        </div>
        <div class="col-2 border d-flex m-1">
            <img class="resize-img" src="{% static 'rzmr/img/упл.кольцо с защ-2.jpg' %}" alt="img2">
        </div>
        <div class="col-2 border d-flex m-1">
            <img class="resize-img" src="{% static 'rzmr/img/упл.кольцо защ.jpg' %}" alt="img3">
        </div>
    </div>
    <br>
    <h3>Технические характеристики и особенности конструкции</h3>
    <br>
    <div class="row">
        <div class="col-12">
            <table id="TABLE_1">
                <tbody id="TBODY_2">
                    <tr id="TR_3">
                        <td id="TD_4">
                            <b id="B_6">Dу, мм</b>
                        </td>
                        <td id="TD_7">
                            <b id="B_9">L, мм</b>
                        </td>
                        <td id="TD_10">
                            <b id="B_12">D, мм</b>
                        </td>
                        <td id="TD_13">
                            <b id="B_15">Масса, кг</b>
                        </td>
                    </tr>
                    <tr id="TR_16">
                        <td id="TD_17">
                            40
                        </td>
                        <td id="TD_19">
                            24
                        </td>
                        <td id="TD_21">
                            50
                        </td>
                        <td id="TD_23">
                            0,095
                        </td>
                    </tr>
                    <tr id="TR_25">
                        <td id="TD_26">
                            65
                        </td>
                        <td id="TD_28">
                            29
                        </td>
                        <td id="TD_30">
                            77
                        </td>
                        <td id="TD_32">
                            0,155
                        </td>
                    </tr>
                    <tr id="TR_34">
                        <td id="TD_35">
                            100
                        </td>
                        <td id="TD_37">
                            35
                        </td>
                        <td id="TD_39">
                            116
                        </td>
                        <td id="TD_41">
                            0,340
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <p>
                {{ company_name }} предлагает к поставке уплотнительные кольца для всех типоразмеров гаек РОТ по ГОСТ
                19334-73: Ду 40, Ду 65, Ду 100.
            </p>
            <p>
                Кольца Ду 40 изготавливаются из меди, кольца Ду 65 и Ду 100 изготавливаются из меди и алюминиевых
                сплавов.
            </p>
            <p>
                В соответствии с ГОСТ 19334-73 кольца состоят из собственно кольца и короны, изготовленной из
                тонкостенной трубы, которые соединяются с помощью развальцовки. Медное кольцо перед соединением с
                коронкой подвергается вакуумному отжигу. Кольца из алюминия выполняются цельноточёными с коронкой.
            </p>
        </div>
    </div>
</div>

<style>
    #TABLE_1 {
        block-size: 170.562px;
        border-collapse: collapse;
        height: 170.562px;
        inline-size: 613px;
        perspective-origin: 306.5px 85.2812px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 306.5px 85.2812px;
        width: 613px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TABLE_1*/

    #TABLE_1:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TABLE_1:after*/

    #TABLE_1:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TABLE_1:before*/

    #TBODY_2 {
        block-size: 169.562px;
        border-block-end-color: rgb(128, 128, 128);
        border-block-start-color: rgb(128, 128, 128);
        border-collapse: collapse;
        border-inline-end-color: rgb(128, 128, 128);
        border-inline-start-color: rgb(128, 128, 128);
        box-sizing: border-box;
        height: 169.562px;
        inline-size: 612px;
        perspective-origin: 306px 84.7812px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 306px 84.7812px;
        width: 612px;
        border: 0px none rgb(128, 128, 128);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TBODY_2*/

    #TBODY_2:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TBODY_2:after*/

    #TBODY_2:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TBODY_2:before*/

    #TR_3,
    #TR_16,
    #TR_25,
    #TR_34 {
        block-size: 42.3906px;
        border-block-end-color: rgb(128, 128, 128);
        border-block-start-color: rgb(128, 128, 128);
        border-collapse: collapse;
        border-inline-end-color: rgb(128, 128, 128);
        border-inline-start-color: rgb(128, 128, 128);
        box-sizing: border-box;
        height: 42.3906px;
        inline-size: 612px;
        perspective-origin: 306px 21.1875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 306px 21.1953px;
        vertical-align: middle;
        width: 612px;
        border: 0px none rgb(128, 128, 128);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TR_3, #TR_16, #TR_25, #TR_34*/

    #TR_3:after,
    #TR_16:after,
    #TR_25:after,
    #TR_34:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TR_3:after, #TR_16:after, #TR_25:after, #TR_34:after*/

    #TR_3:before,
    #TR_16:before,
    #TR_25:before,
    #TR_34:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TR_3:before, #TR_16:before, #TR_25:before, #TR_34:before*/

    #TD_4,
    #TD_17,
    #TD_26,
    #TD_35 {
        block-size: 42.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 42.3906px;
        inline-size: 149.547px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 74.7656px 21.1875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 74.7734px 21.1953px;
        vertical-align: middle;
        width: 149.547px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_4, #TD_17, #TD_26, #TD_35*/

    #TD_4:after,
    #TD_17:after,
    #TD_26:after,
    #TD_35:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_4:after, #TD_17:after, #TD_26:after, #TD_35:after*/

    #TD_4:before,
    #TD_17:before,
    #TD_26:before,
    #TD_35:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_4:before, #TD_17:before, #TD_26:before, #TD_35:before*/

    #P_5,
    #P_18,
    #P_27,
    #P_36 {
        block-size: 22.3906px;
        border-collapse: collapse;
        box-sizing: border-box;
        height: 22.3906px;
        inline-size: 144.547px;
        margin-block-end: 15px;
        margin-block-start: 0px;
        perspective-origin: 72.2656px 11.1875px;
        text-align: justify;
        text-size-adjust: 100%;
        transform-origin: 72.2734px 11.1953px;
        width: 144.547px;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        margin: 0px 0px 15px;
    }

    /*#P_5, #P_18, #P_27, #P_36*/

    #P_5:after,
    #P_18:after,
    #P_27:after,
    #P_36:after {
        border-collapse: collapse;
        text-align: justify;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#P_5:after, #P_18:after, #P_27:after, #P_36:after*/

    #P_5:before,
    #P_18:before,
    #P_27:before,
    #P_36:before {
        border-collapse: collapse;
        text-align: justify;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#P_5:before, #P_18:before, #P_27:before, #P_36:before*/

    #B_6,
    #B_9,
    #B_12,
    #B_15 {
        border-collapse: collapse;
        box-sizing: border-box;
        perspective-origin: 0px 0px;
        text-align: justify;
        text-size-adjust: 100%;
        transform-origin: 0px 0px;
        border-spacing: 2px 2px;
        font: 700 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#B_6, #B_9, #B_12, #B_15*/

    #B_6:after,
    #B_9:after,
    #B_12:after,
    #B_15:after {
        border-collapse: collapse;
        text-align: justify;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 700 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#B_6:after, #B_9:after, #B_12:after, #B_15:after*/

    #B_6:before,
    #B_9:before,
    #B_12:before,
    #B_15:before {
        border-collapse: collapse;
        text-align: justify;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 700 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#B_6:before, #B_9:before, #B_12:before, #B_15:before*/

    #TD_7,
    #TD_19,
    #TD_28,
    #TD_37 {
        block-size: 42.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 42.3906px;
        inline-size: 121.016px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 60.5px 21.1875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 60.5078px 21.1953px;
        vertical-align: middle;
        width: 121.016px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_7, #TD_19, #TD_28, #TD_37*/

    #TD_7:after,
    #TD_19:after,
    #TD_28:after,
    #TD_37:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_7:after, #TD_19:after, #TD_28:after, #TD_37:after*/

    #TD_7:before,
    #TD_19:before,
    #TD_28:before,
    #TD_37:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_7:before, #TD_19:before, #TD_28:before, #TD_37:before*/

    #P_8,
    #P_20,
    #P_29,
    #P_38 {
        block-size: 22.3906px;
        border-collapse: collapse;
        box-sizing: border-box;
        height: 22.3906px;
        inline-size: 116.016px;
        margin-block-end: 15px;
        margin-block-start: 0px;
        perspective-origin: 58px 11.1875px;
        text-align: justify;
        text-size-adjust: 100%;
        transform-origin: 58.0078px 11.1953px;
        width: 116.016px;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        margin: 0px 0px 15px;
    }

    /*#P_8, #P_20, #P_29, #P_38*/

    #P_8:after,
    #P_20:after,
    #P_29:after,
    #P_38:after {
        border-collapse: collapse;
        text-align: justify;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#P_8:after, #P_20:after, #P_29:after, #P_38:after*/

    #P_8:before,
    #P_20:before,
    #P_29:before,
    #P_38:before {
        border-collapse: collapse;
        text-align: justify;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#P_8:before, #P_20:before, #P_29:before, #P_38:before*/

    #TD_10,
    #TD_21,
    #TD_30,
    #TD_39 {
        block-size: 42.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 42.3906px;
        inline-size: 128.469px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 64.2344px 21.1875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 64.2344px 21.1953px;
        vertical-align: middle;
        width: 128.469px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_10, #TD_21, #TD_30, #TD_39*/

    #TD_10:after,
    #TD_21:after,
    #TD_30:after,
    #TD_39:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_10:after, #TD_21:after, #TD_30:after, #TD_39:after*/

    #TD_10:before,
    #TD_21:before,
    #TD_30:before,
    #TD_39:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_10:before, #TD_21:before, #TD_30:before, #TD_39:before*/

    #P_11,
    #P_22,
    #P_31,
    #P_40 {
        block-size: 22.3906px;
        border-collapse: collapse;
        box-sizing: border-box;
        height: 22.3906px;
        inline-size: 123.469px;
        margin-block-end: 15px;
        margin-block-start: 0px;
        perspective-origin: 61.7344px 11.1875px;
        text-align: justify;
        text-size-adjust: 100%;
        transform-origin: 61.7344px 11.1953px;
        width: 123.469px;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        margin: 0px 0px 15px;
    }

    /*#P_11, #P_22, #P_31, #P_40*/

    #P_11:after,
    #P_22:after,
    #P_31:after,
    #P_40:after {
        border-collapse: collapse;
        text-align: justify;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#P_11:after, #P_22:after, #P_31:after, #P_40:after*/

    #P_11:before,
    #P_22:before,
    #P_31:before,
    #P_40:before {
        border-collapse: collapse;
        text-align: justify;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#P_11:before, #P_22:before, #P_31:before, #P_40:before*/

    #TD_13,
    #TD_23,
    #TD_32,
    #TD_41 {
        block-size: 42.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 42.3906px;
        inline-size: 212.969px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 106.484px 21.1875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 106.484px 21.1953px;
        vertical-align: middle;
        width: 212.969px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_13, #TD_23, #TD_32, #TD_41*/

    #TD_13:after,
    #TD_23:after,
    #TD_32:after,
    #TD_41:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_13:after, #TD_23:after, #TD_32:after, #TD_41:after*/

    #TD_13:before,
    #TD_23:before,
    #TD_32:before,
    #TD_41:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_13:before, #TD_23:before, #TD_32:before, #TD_41:before*/

    #P_14,
    #P_24,
    #P_42 {
        block-size: 22.3906px;
        border-collapse: collapse;
        box-sizing: border-box;
        height: 22.3906px;
        inline-size: 207.969px;
        margin-block-end: 15px;
        margin-block-start: 0px;
        perspective-origin: 103.984px 11.1875px;
        text-align: justify;
        text-size-adjust: 100%;
        transform-origin: 103.984px 11.1953px;
        width: 207.969px;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        margin: 0px 0px 15px;
    }

    /*#P_14, #P_24, #P_42*/

    #P_14:after,
    #P_24:after,
    #P_42:after {
        border-collapse: collapse;
        text-align: justify;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#P_14:after, #P_24:after, #P_42:after*/

    #P_14:before,
    #P_24:before,
    #P_42:before {
        border-collapse: collapse;
        text-align: justify;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#P_14:before, #P_24:before, #P_42:before*/

    #P_33 {
        block-size: 22.3906px;
        border-collapse: collapse;
        box-sizing: border-box;
        height: 22.3906px;
        inline-size: 207.969px;
        margin-block-end: 15px;
        margin-block-start: 0px;
        perspective-origin: 103.984px 11.1875px;
        text-align: justify;
        text-size-adjust: 100%;
        transform-origin: 103.984px 11.1953px;
        width: 207.969px;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        margin: 0px 0px 15px;
    }

    /*#P_33*/

    #P_33:after {
        border-collapse: collapse;
        text-align: justify;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#P_33:after*/

    #P_33:before {
        border-collapse: collapse;
        text-align: justify;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#P_33:before*/
</style>

{% endblock quick-release-couplings-info %}