{% extends 'rzmr/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-uzm">
            <h4 class="py-2">{{ title }}</h4>
            <p>
                Однослойная - стандартный вариант, позволяющий обеспечить стабильную работу рукава при большинстве
                нагрузок.
            </p>
            <p>
                Двухслойная - позволяет увеличить рабочее давление, как правило используется совместно с тяжелой серией
                РГМ.
            </p>
            <p>
                Трехслойная - максимальное рабочее давление, применяется при разработках под особые условия Заказчика.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <p class="wrapper-up-uzm-card fs-5">
                Оплетка
            </p>
            <p class="uzm-text-card">
                представляет собой защитную оболочку сетчатого типа и изготавливается из стальной нержавеющей проволоки
                12Х18Н9Т. Позволяет обеспечить работоспособность рукава при воздействии различных нагрузок, а также
                пульсации давлений, возникающих при транспортировке по гибкому элементу рабочей среды. Оплетка должна
                плотно облегать рукав, не иметь оборванных частей.
            </p>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-braid' 'odnosloynaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Однослойная</div>
                </div>
                <img src="{% static '/rzmr/img/marked_opletka_odinarnaya.png' %}" alt="opletka">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-braid' 'dvukhsloynaya'  %}">
                <div class="wrapper-up-uzm-card">
                    <div>Двухслойная</div>
                </div>
                <img src="{% static '/rzmr/img/marked_opletka_dvoinaya.png' %}" alt="opletka">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-braid' 'trekhsloynaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Трёхслойная</div>
                </div>
                <img src="{% static '/rzmr/img/marked_opletka_troinaya.png' %}" alt="opletka">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-uzm">
            <h5 class="py-5">Основные рабочие характеристики металлорукавов в металлической оплетке:</h5>
            <table class="uzm-table">
                <tbody>
                    <tr>
                        <td class="p-1"><img src="{% static '/rzmr/img/Icon5.jpg' %}"></td>
                        <td>Условный внутренний диаметр Dy</td>
                        <td>6-350 мм</td>
                    </tr>
                    <tr>
                        <td class="p-1"><img src="{% static '/rzmr/img/Icon6.jpg' %}"></td>
                        <td>Рабочее давление Рраб</td>
                        <td>0,1-350 бар</td>
                    </tr>

                    <tr>
                        <td class="p-1"><img src="{% static '/rzmr/img/Icon7.jpg' %}"></td>
                        <td>Рабочая среда</td>
                        <td>Воздух, азот, гелий, кислород, водород, нефтепродукты, кислоты, техническая вода, пар,
                            бензин,керосин и т.д.</td>
                    </tr>
                    <tr>
                        <td class="p-1"><img src="{% static '/rzmr/img/Icon8.jpg' %}"></td>
                        <td>Температура рабочей среды</td>
                        <td>от -220 до +440 °C</td>
                    </tr>
                    <tr>
                        <td class="p-1"><img src="{% static '/rzmr/img/Union.jpg' %}"></td>
                        <td>Радиус изгиба</td>
                        <td>В среднем 5 Ду</td>
                    </tr>
                </tbody>
            </table>
            <p class="pt-5">
                Металлорукава, производящиеся на {{ company_name }}, выпускаются в оплётке,
                сплетенной из нержавеющей проволоки. Оплётка служит для обеспечения высокой прочности металлорукава.
                Транспортирующая часть рукава, расположенная внутри оплётки, способна воспринимать высокое внутреннее
                давление, благодаря наличию прочной оплётки.
            </p>
            <p>
                Оплётка способна воспринимать как статическую, так и пульсирующую нагрузку, что, в частности,
                обеспечивается ее плотным прилеганием к рукаву. Оплетка, выполненная в один слой, позволяет обеспечить
                работоспособность рукава при большинстве нагрузок. Один слой соответствует стандартному варианту
                конструкции металлорукава.
            </p>
            <p>
                Эксплуатационная нагрузка на стенки металлорукава может быть увеличена, если применить двухслойную
                оплётку. В этом случае следует использовать герметичный металлорукав более тяжелой серии.
            </p>
            <p>
                Конструкция герметичного металлорукава может обладать и трехслойной оплёткой, если заказчику необходимо
                ориентировать рукав на особые прочностные нагрузки.
            </p>
        </div>
    </div>
</div>
{% endblock content %}