{% extends 'rzmr/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-uzm">
            <h1 class="h3 fw-bold py-2">{{ title }}</h1>
            <p>
                При выборе металлорукава РГМ необходимо руководствоваться условиями, в которых предполагается
                эксплуатация изделия. Для упрощения данного процесса можно разделить подбор металлорукава на четыре
                этапа: внутренний диаметр, рабочее давление, длина изделия, тип присоединения.
            </p>
            <p>
                Пример маркировки металлорукава РГМ:
                <br>
                РГМ 50-40-1,0 с/а
                <br>
                Расшифровка:
                <br>
                РГМ — серия изделия (рукав герметичный металлический);
                <br>
                50 – номинальный внутренний диаметр рукава, мм;
                <br>
                40 - наибольшее рабочее давление рукава в кгс/см<sup>2</sup> (атм) при нормальных условиях эксплуатации;
                <br>
                1,0 — номинальная длина рукава в сборе, м;
                <br>
                с/а – наличие специальной концевой арматуры в соответствии с требованиями Заказчика. Полное описание
                концевой арматуры представлено в паспорте Заказчика. Маркировка рукава с отсутствием аббревиатуры с/а –
                рукав без арматуры, под приварку.
            </p>
            <p>
                Условный внутренний диаметр металлорукава - номинальный параметр, применяемый при описании
                трубопроводных систем, как характеризующий признак при монтаже и подгонке друг к другу деталей
                трубопровода. Условный внутренний диаметр рассчитывается при проектировании таким образом, чтобы
                обеспечить требуемую пропускную способность металлического рукава.
            </p>
            <p>Подбор условного внутреннего диаметра металлорукава определяется по формуле: </p>
            <img src="{% static 'rzmr/img/formula.jpg' %}" alt="formula">
            <p>
                где Dу - условный внутренний диаметр металлорукава, мм;
                <br>
                Q - расход рабочей среды, проходящей через рукав, л/мин;
                <br>
                V ср - средняя скорость рабочей среды, м/с.
                <br>
            </p>
            <p>
                При расчете необходимо помнить, что при прокачке рабочей среды через металлорукав происходит срыв
                внутренней поверхности гофра, приводящей к пульсирующей нагрузке и колебанию гофров. Исходя из
                вышесказанного, не допускается применять металлорукава при скоростях прохождения рабочей среды более 8
                м/с для жидкостей, 50 м/с для газов.
            </p>
            <p>
                Рабочее давление - это наибольшее значение давления транспортируемой среды, при котором обеспечивается
                заданный режим эксплуатации.В зависимости от условий работы наибольшее рабочее давление Рраб при
                эксплуатации определяется как произведение условного давления Pу на температурный коэффициент и
                коэффициент динамической нагрузки:
            </p>
            <p>
                Рраб = Pу · Kd· Кt, где:
            </p>
            <p>
                Kd– коэффициент динамических нагрузок в соответствие с таблицей 1;
                <br>
                Kt– коэффициент температуры в соответствие с таблицей 2.
            </p>
            <p class="text-end fst-italic">Таблица 1</p>
            <p>Коэффициент динамических нагрузок, Kd</p>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>
                            Состояние потока
                        </td>
                        <td rowspan="2">
                            Нет вибрации, слабые медленные перемещения
                        </td>
                        <td rowspan="2">
                            Вибрация, частые равномерные перемещения
                        </td>
                        <td rowspan="2">
                            Сильная вибрация, ритмичные пульсирующие перемещения
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Вибрационные нагрузки
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Стационарный или медленный равномерный поток
                        </td>
                        <td>
                            1,00
                        </td>
                        <td>
                            0,90
                        </td>
                        <td>
                            0,50
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Нестационарный пульсирующий поток
                        </td>
                        <td>
                            0,90
                        </td>
                        <td>
                            0,75
                        </td>
                        <td>
                            0,40
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Ритмичный пульсирующий поток
                        </td>
                        <td>
                            0,40
                        </td>
                        <td>
                            0,30
                        </td>
                        <td>
                            0,20
                        </td>
                    </tr>
                </tbody>
            </table>
            <p>
                Наибольшее рабочее давление Рраб. рукава в сборе при любых температурах должно быть наименьшим из
                допустимых величин давления для любой части рукава при 20°C, умноженным на соответствующий понижающий
                коэффициент Kt.
            </p>
            <p class="text-end fst-italic">Таблица 2</p>
            <p>Коэффициент температуры, Kt</p>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>
                            Температура, °C, до
                        </td>
                        <td>
                            <p>
                                20
                            </p>
                        </td>
                        <td>
                            <p>
                                50
                            </p>
                        </td>
                        <td>
                            <p>
                                100
                            </p>
                        </td>
                        <td>
                            <p>
                                150
                            </p>
                        </td>
                        <td>
                            <p>
                                200
                            </p>
                        </td>
                        <td>
                            <p>
                                250
                            </p>
                        </td>
                        <td>
                            <p>
                                300
                            </p>
                        </td>
                        <td>
                            <p>
                                350
                            </p>
                        </td>
                        <td>
                            <p>
                                400
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Коэффициент температуры, Kt
                        </td>
                        <td>
                            <p>
                                1,00
                            </p>
                        </td>
                        <td>
                            <p>
                                0,92
                            </p>
                        </td>
                        <td>
                            <p>
                                0,83
                            </p>
                        </td>
                        <td>
                            <p>
                                0,75
                            </p>
                        </td>
                        <td>
                            <p>
                                0,68
                            </p>
                        </td>
                        <td>
                            <p>
                                0,59
                            </p>
                        </td>
                        <td>
                            <p>
                                0,59
                            </p>
                        </td>
                        <td>
                            <p>
                                0,56
                            </p>
                        </td>
                        <td>
                            <p>
                                0,54
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p>
                Номинальная длина - определяется Заказчиком, исходя из требований по монтажу рукавов.<br>
                При выборе металлорукава РГМ необходимо определить его оптимальную длину для конкретного случая монтажа,
                так как применение слишком короткого или слишком длинного рукава может привести к повреждению изделия в
                месте заделки концевой арматуры. При выборе длины металлорукав следует учитывать, что она должна
                включать в себя нейтральные участки около арматуры, не подвергающиеся изгибу при работе.
            </p>
            <div class="row">
                <div class="col-6">
                    <p>Расчет минимальной длины при перемещениях:</p>
                    <p> Вертикальное перемещение с большой амплитудой (Т)
                        <br>
                        L=2H+T+3,14R+2La где:
                    </p>
                    <p>
                        L - длина металлорукава
                        <br>
                        H - длина нейтрального участка
                        <br>
                        T - величина перемещения
                        <br>
                        R - радиус изгиба
                        <br>
                        La - длина арматуры
                    </p>
                </div>
                <div class="col-6">
                    <img src="{% static 'rzmr/img/recomend1.jpg' %}" alt="recomend1">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>
                                    Диаметр Ду, мм
                                </td>
                                <td>
                                    Минимальная длина нейтрального участка
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        6 - 16
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        5Ду
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        20 - 50
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        4Ду
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        65 - 100
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        3Ду
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        125 - 150
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        2,5Ду
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        200 - 250
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        2Ду
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p>Горизонтальное перемещение с большой амплитудой (Т1) <br> L=2H+1,57 Т1+3,14R+2La</p>
                </div>
                <div class="col-6">
                    <img src="{% static 'rzmr/img/recomend2.jpg' %}" alt="recomend2">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>
                        По требованию и согласованию с Заказчиком допускается изготовление длинномерных рукавов в сборе
                        путем стыковки из нескольких рукавов. Стыковка осуществляется сваркой посредством использования
                        арматуры под приварку. Концевая арматура - окончания металлорукава служащие для присоединения
                        его к ответным частям при встраивании в систему трубопровода.
                    </p>
                    <p>
                        Тип концевой арматуры подбирается Заказчиком исходя из требований к эксплуатационным
                        характеристикам металлического рукава. Самым распространенным видом концевой арматуры (КА)
                        является окончание под приварку. Также часто применяемыми являются резьбовые соединения
                        (накидные гайки, штуцера и т.д.), фланцевые соединения, быстроразъемные соединения и прочие.
                        Ознакомиться со всеми типами концевой арматуры предлагаемыми {{ company_name_short }} можно на
                        странице <a href="{% url 'metalhoses-fittings' %}">Карта концевой арматуры.</a>
                    </p>
                    <p>
                        Помимо типа концевой арматуры выделяют еще один параметр, который влияет как на стоимость, так и
                        на эксплуатацию металлорукава. Это материал, из которого исполнена концевая арматура. Самыми
                        распространёнными являются нержавеющая сталь и углеродистая сталь.Концевая арматура на
                        металлорукава серии РГМ может быть выполнена в соответствии со стандартами (ГОСТ, DIN, ANSI) или
                        по чертежам Заказчика. Собственный токарный парк {{ company_name_short }} позволяет исполнять
                        арматуру любойсложности, при условии предоставления полного пакета технической документации.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}