{% extends 'rzmr/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-uzm">
            <h1 class="h3 fw-bold py-2">{{ title }}</h1>
            <p>
                Концевая арматура - окончания металлорукава служащие для присоединения его к ответным частям при
                встраивании в систему трубопровода. Тип концевой арматуры подбирается Заказчиком исходя из требований к
                эксплуатационным характеристикам металлического рукава.
            </p>
            <p>
                Существуют несколько видов соединений: резьбовые (накидные гайки, штуцера и т.д.), фланцевые,
                быстроразъемные и прочие; самым распространенным видом концевой арматуры (КА) является окончание под
                приварку.
            </p>
            <p>
                Помимо типа концевой арматуры на стоимость и эксплуатацию металлорукава влияет материал, из которого
                исполнена концевая арматура. Самые распространённые - нержавеющая сталь и углеродистая сталь. Концевая
                арматура на металлорукава серии РГМ может быть выполнена в соответствии со стандартами (ГОСТ, DIN, ANSI)
                или по чертежам Заказчика. Собственный токарный парк {{ company_name_short }} позволяет исполнять
                арматуру любой
                сложности при предоставления полного пакета технической документации.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="image text-center">
                <div class="image__wrap"
                    style="background-image: url({% static 'rzmr/img/Koncevaya_armatur_metalhoses.png' %})"
                    onmousemove='zoom(event)'>
                    <img src="{% static 'rzmr/img/Koncevaya_armatur_metalhoses.png' %}" alt="fittings_map">
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .image {
        width: 70%;
        overflow: hidden;
    }

    .image img {
        transition: opacity .5s;
    }

    .image img:hover {
        opacity: 0;
    }

    .image__wrap {
        /* background-position: 50% 50%; */
        /* position: relative; */
        /* width: 100%; */
        overflow: visible;
        cursor: zoom-in;
    }
</style>

<script>
    function zoom(event) {
        let zoomer = event.currentTarget;
        event.offsetX ? offsetX = event.offsetX : offsetX = event.touches[0].pageX
        event.offsetY ? offsetY = event.offsetY : offsetX = event.touches[0].pageX
        x = offsetX / zoomer.offsetWidth * 100
        y = offsetY / zoomer.offsetHeight * 100
        zoomer.style.backgroundPosition = x + '% ' + y + '%';
    }
</script>
{% endblock content %}