{% extends 'rzmr/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-uzm">
            <h4 class="py-2">{{ title }}</h4>
            <p>
                Металлорукава – это гибкие конструкции, состоящие из гибкого транспортного канала и нескольких слоев
                металлических оболочек. Такое устройство обеспечивает высокую прочность и защиту от различных факторов
                окружающей среды. Они находят применение во многих отраслях, таких как машиностроение, энергетика и
                строительство – там, где требуется высокая степень защиты и надежности конструкций. Кроме того, высокая
                степень герметичности и соответствие санитарно-гигиеническим нормам позволяет использовать эти системы в
                таких специфических отраслях как медицина и пищевая промышленность. Если вы хотите купить металлические
                рукава, {{ company_name_short }} готово вам помочь! Обратитесь к производителю, который
                специализируется на производстве качественных и надежных деталей для гибких трубопроводных систем.
            </p>
            <p>
                Мы занимаемся производством оборудования с 2008 года. За это время. {{ company_name }} развил мощную
                производственную базу, собрал опытную команду высококвалифицированных специалистов, создал обширную
                логистическую сеть и заработал доверие более 7000 довольных клиентов по всей России и в странах
                СНГ. Нам можно доверять!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="{% url 'metalhoses-corrugation' %}">
                <p class="wrapper-up-uzm-card fs-5">
                    Гофра
                </p>
                <p class="uzm-text-card">
                    герметичная оболочка с кольцевыми гофрами, расположенными параллельно. Изготавливается методом
                    гидроформовки
                    из трубных заготовок, сваренных аргонодуговой сваркой встык по длине трубы.
                </p>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-corrugation-standartnaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Стандартная <br> Ø6 - Ø400</div>
                </div>
                <img src="{% static '/rzmr/img/marked_gofra_standart.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-corrugation-povishennoy_gibkosti' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Повышенной гибкости <br> Ø6 - Ø200</div>
                </div>
                <img src="{% static '/rzmr/img/marked_gofra_povishennoi_gibkosti.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-corrugation-tyazhelaya_seriya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Тяжелая серия <br> Ø6 - Ø200</div>
                </div>
                <img src="{% static '/rzmr/img/marked_gofra_tyagelaya.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-corrugation-spiralnaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Спиральная <br> Ø6 - Ø200</div>
                </div>
                <img src="{% static '/rzmr/img/marked_gofra_spiralnaya.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-corrugation-dvukhsloynaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Двухслойная <br> Ø6 - Ø200</div>
                </div>
                <img src="{% static '/rzmr/img/marked_gofra_dvuhsloinaya.png' %}" alt="gofra">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="{% url 'metalhoses-braid' %}">
                <p class="wrapper-up-uzm-card fs-5">
                    Оплетка
                </p>
                <p class="uzm-text-card">
                    представляет собой защитную оболочку сетчатого типа и изготавливается из стальной нержавеющей
                    проволоки 12Х18Н9Т. Позволяет обеспечить работоспособность рукава при воздействии различных
                    нагрузок, а также пульсации давлений, возникающих при транспортировке по гибкому элементу рабочей
                    среды. Оплетка должна плотно облегать рукав, не иметь оборванных частей.
                </p>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-braid-odnosloynaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Однослойная</div>
                </div>
                <img src="{% static '/rzmr/img/marked_opletka_odinarnaya.png' %}" alt="opletka">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-braid-dvukhsloynaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Двухслойная</div>
                </div>
                <img src="{% static '/rzmr/img/marked_opletka_dvoinaya.png' %}" alt="opletka">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-braid-trekhsloynaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Трехслойная</div>
                </div>
                <img src="{% static '/rzmr/img/marked_opletka_troinaya.png' %}" alt="opletka">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="{% url 'metalhoses-inner' %}">
                <p class="wrapper-up-uzm-card fs-5">
                    Внутренний экран
                </p>
                <p class="uzm-text-card">
                    защитный элемент рукава, помещенный внутрь гибкой части позволяющий исключить/сократить контакт
                    рукава со средой, либо за счет своего наличия продлить срок службы изделия.
                </p>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-inner-trubnyy' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Трубный</div>
                </div>
                <img src="{% static '/rzmr/img/marked_ekran_trubnii.png' %}" alt="ekran">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-inner-valtsovannyy' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Вальцованный</div>
                </div>
                <img src="{% static '/rzmr/img/marked_ekran_valcovanii.png' %}" alt="ekran">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-inner-opletochnyy' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Оплеточный</div>
                </div>
                <img src="{% static '/rzmr/img/marked_ekran_opletochnii.png' %}" alt="ekran">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-inner-ptfe' %}">
                <div class="wrapper-up-uzm-card">
                    <div>PTFE</div>
                </div>
                <img src="{% static '/rzmr/img/marked_ekran_PTFE.png' %}" alt="ekran">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="{% url 'metalhoses-outside' %}">
                <p class="wrapper-up-uzm-card fs-5">
                    Наружная оболочка
                </p>
                <p class="uzm-text-card">
                    часть рукава в которую заключается гибкая часть для предотвращения различных воздействий
                    (температурных, механических и т.д.). Выбирается исходя из предполагаемых условий эксплуатации
                    изделия.
                </p>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-outside-termochekhol' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Термочехол</div>
                </div>
                <img src="{% static '/rzmr/img/marked_termochehol.png' %}" alt="hoses">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-outside-termorukav' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Терморукав</div>
                </div>
                <img src="{% static '/rzmr/img/marked_termorukav.png' %}" alt="hoses">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-outside-rezinovaya_obolochka' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Резиновая оболочка</div>
                </div>
                <img src="{% static '/rzmr/img/marked_rezinovaya_obolochka.png' %}" alt="hoses">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-outside-pruzhina' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Пружина</div>
                </div>
                <img src="{% static '/rzmr/img/marked_pruzhina.png' %}" alt="hoses">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-outside-pletenka_mednaya_luzhenaya_pml' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Плетенка медная луженая (ПМЛ)</div>
                </div>
                <img src="{% static '/rzmr/img/pletenka_mednaya_luzonaya.png' %}" alt="hoses">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <p class="wrapper-up-uzm-card fs-5">
                Маркировка
            </p>
            <p class="uzm-text-card">
                металлорукав серии РГМ имеет маркировку, нанесенную непосредственно на концевую арматуру
                металлорукава, либо располагающуюся на ярлыках, этикетках, металлических бирках, закрепленных на
                металлическом рукаве
            </p>
        </div>
        <div class="col-lg-10 col-md-6 col-12">
            <div class="wrapper-up-uzm-card">
                <div>Трубный</div>
            </div>
            <p>
                Пример маркировки металлорукава РГМ: <br>
                РГМ 50-40-1,0 с/а <br>
                Расшифровка: <br>
                РГМ — серия изделия (рукав герметичный металлический); <br>
                50 – номинальный внутренний диаметр рукава, мм; <br>
                40 - наибольшее рабочее давление рукава в кгс/см2 (атм) при нормальных условиях эксплуатации; <br>
                1,0 — номинальная длина рукава в сборе, м; <br>
                с/а – наличие специальной концевой арматуры в соответствии с требованиями Заказчика. Полное описание
                концевой арматуры представлено в паспорте Заказчика. Маркировка рукава с отсутствием аббревиатуры<br>
                с/а – рукав без арматуры, под приварку.
            </p>
        </div>
        <div class="row">
            <div class="col-12 text-uzm">
                <h5 class="py-5">Основные рабочие характеристики металлорукавов:</h5>
                <table class="uzm-table">
                    <tbody>
                        <tr>
                            <td><img src="{% static '/rzmr/img/Icon5.jpg' %}"></td>
                            <td>Условный внутренний диаметр Dy</td>
                            <td>6-350 мм</td>
                        </tr>
                        <tr>
                            <td><img src="{% static '/rzmr/img/Icon6.jpg' %}"></td>
                            <td>Рабочее давление Рраб</td>
                            <td>0,1-350 бар</td>
                        </tr>

                        <tr>
                            <td><img src="{% static '/rzmr/img/Icon7.jpg' %}"></td>
                            <td>Рабочая среда</td>
                            <td>Воздух, азот, гелий, кислород, водород, нефтепродукты, кислоты, техническая вода, пар,
                                бензин,керосин и т.д.</td>
                        </tr>
                        <tr>
                            <td><img src="{% static '/rzmr/img/Icon8.jpg' %}"></td>
                            <td>Температура рабочей среды</td>
                            <td>от -220 до +440 °C</td>
                        </tr>
                        <tr>
                            <td><img src="{% static '/rzmr/img/Union.jpg' %}">
                            </td>
                            <td>Радиус изгиба</td>
                            <td>В среднем 5 Ду</td>
                        </tr>
                    </tbody>
                </table>
                <p class="pt-5">
                    Наши производственные мощности позволяют предложить вам уникальную систему заказа металлорукавов
                    РГМ!
                    Исходя из предъявляемых к оборудованию требований, вы самостоятельно (или при помощи наших
                    консультантов) можете выбрать каждый из «слоев» для вашего трубопровода:
                </p>
                <ul type="circle">
                    <li>сильфон – стандартную или гибкую гофру, тяжелую серию, спиральную или двухслойную;</li>
                    <li>внутренний слой – трубный, вальцованный, оплеточный или ptfe-рукав, защищающий гибкую часть от
                        контакта с рабочей средой;</li>
                    <li>одно-, двух- или трехслойную оплетку рукава;</li>
                    <li>наружный «слой» - резиновый, пружинный, терморукав, термочехол или медное плетеное покрытие.
                    </li>
                </ul>
                <p>
                    Из этих четырех элементов можно сделать металлорукава, подходящие для любых целей и готовые к любым
                    условиям эксплуатации. Но, говоря о разнообразии металлорукавов, нельзя не упомянуть, что концевая
                    арматура также бывает разной конструкции и назначения:
                </p>
                <ul type="circle">
                    <li>резьбовая – простое и эффективное решение для быстрой и надежной сборки;</li>
                    <li>фланцевая, обеспечивающая герметичность конструкции при прокладке байпасных линий;</li>
                    <li>камлоки, струбцины, арматура ПМТ и другие виды быстроразъемных соединений.</li>
                </ul>
                <p>Выбор конструкции металлорукава, подходящей для ваших целей, будет зависеть в первую очередь от
                    конкретного назначения трубопровода.</p>
                <h5>Области применения металлорукавов</h5>
                <p class="pt-3">
                    Металлический рукав – это уникальный по конструктивным преимуществам вид трубопроводных систем,
                    который востребован во многих областях производства и в различных рабочих процессах:
                </p>
                <ul type="circle">
                    <li>на предприятиях топливно-энергетического комплекса;</li>
                    <li>для транспортировки различных рабочих сред (включая газы и жидкости повышенной токсичности или
                        огнеопасности);</li>
                    <li>для транспортировки жидких и сыпучих грузов в пищевой промышленности;</li>
                    <li>при заполнении резервуаров и цистерн сжиженным углеводородом;</li>
                    <li>в установке систем отвода выхлопных газов;</li>
                    <li>при создании гибких проводок систем пожарной безопасности.</li>
                </ul>
                <p>
                    Это основные сферы использования металлорукавов, но такие системы могут использоваться и вне этих
                    задач: перечислить все области применения просто невозможно. Обратитесь к нашим консультантам, чтобы
                    выбрать конструктивное решение гибкого трубопровода, идеально приспособленное к условиям вашей
                    работы!
                </p>
                <h5>Как выбрать металлорукав?</h5>
                <p class="pt-3">При выборе металлорукава нужно учитывать следующие параметры:</p>
                <ul type="circle">
                    <li>условный проходной диаметр (мм);</li>
                    <li>рабочее давление (МПа/бар);</li>
                    <li>длину металлорукава (мм);</li>
                    <li>оптимальный способ соединения модулей концевой арматурой;</li>
                    <li>срок эксплуатации (будет трубопровод долговременной коммуникацией или прокладывается в качестве
                        байпасной линии);</li>
                    <li>гигиенические требования (актуально для пищевой промышленности);</li>
                    <li>особенности внутренней среды.</li>
                </ul>
                <p>
                    При покупке металлорукава, работающего в агрессивной среде или под давлением, нужно учитывать его
                    надежность, качество материалов, применяемые стандарты и репутацию производителя.
                </p>
                <h5>Применение металлорукавов высокого давления</h5>
                <p>
                    Транспортировка агрессивных транспортных сред – это сложная технологическая задача, которая
                    востребована в различных отраслях производства. При этом далеко не всегда жесткий трубопровод из
                    прочных материалов является подходящим решением. Не везде можно проложить именно такую транспортную
                    систему. Иногда специфическая рабочая среда обладает свойствами, агрессивными даже по отношению к
                    прочным металлам, а жесткие трубопроводы не всегда удается проложить на рабочей территории. Для
                    таких специфических задач нужно особое решение.
                </p>
                <p>
                    Металлорукава как раз являются именно таким специализированным технологичным решением. Они совмещают
                    преимущества жестких трубопроводов и гибких шлангов, обеспечивая высокую надежность транспортировки,
                    легкость прокладки коммуникаций, герметичность и сопротивление внешним факторам.
                </p>
                <h5>Какую среду транспортировать?</h5>
                <p>
                    Гибкие герметичные металлорукава используются для перемещения многих технологических (газообразных,
                    жидких, сыпучих) сред, характеризующихся различным состоянием температур (от -250 градусов Цельсия
                    до +600), давления (от вакуума до 400 бар), взрывоопасностью, токсичностью, химической
                    агрессивностью.
                </p>
                <h5>Меры предосторожности</h5>
                <p>
                    Для сохранения гибких металлических рукавов в рабочем состоянии на долгое время необходимо соблюдать
                    правила эксплуатации, которые позволят существенно увеличить срок службы изделий.
                </p>
                <p>Обратите внимание на несколько важных факторов:</p>
                <ul type="circle">
                    <li>Герметичный металлический рукав не работает на скручивание. Скручивающие нагрузки, даже
                        кратковременные, могут моментально вывести его из строя. Не допускается скручивание рукава даже
                        при угловых перемещениях.</li>
                    <li>При работе рукава необходимо соблюдать минимальный радиус изгиба. Рукав может вывести из строя
                        даже разовый перегиб!</li>
                    <li>Рукав в процессе эксплуатации приходится изгибать, перемещать. Обе деформации допустимы, но
                        только в случае, если они происходят в одной плоскости. При изгибании рукава надо помнить о
                        предельной величине радиуса изгиба рукава.</li>
                    <li>Используйте специальные приспособления для перемещения и установки рукава: подставку, опорный
                        ролик и т.д.</li>
                    <li>При работе под давлением герметичный рукав может удлиняться, это естественный процесс.</li>
                </ul>
                <p>
                    Вы можете ознакомиться с более подробным списком рекомендаций на сайте {{ company_name_short }}. Там представлена
                    четкая и доступная <a href="#">инструкция по монтажу металлических рукавов с техникой безопасности
                        при их эксплуатации.
                    </a>
                </p>
                <p>
                    Помимо вышеизложенных обстоятельств, есть еще много нюансов в применении герметичных металлорукавов.
                    Их необходимо учитывать, чтобы они надежно служили вам в течении всего эксплуатационного срока.
                </p>
                <p>
                    {{ company_name }} на рынке с 2008 года и за это время сеть поставок предприятия
                    охватила всю Россию и страны СНГ. Клиентами завода являются 7000 предприятий. Мы завоевали их
                    лояльность благодаря широкой вариативности партий, минимальным срокам исполнения заказа и гибкой
                    ценовой политике. Купить металлические рукава у нас – значит выбрать выгодные условия сотрудничества
                    и гарантированное качество.
                </p>
                <p>
                    Металлорукава {{ company_name_short }} проходят жесткий контроль на всех этапах производства: от выбора сырья до
                    проверки конечного продукта – в этом нам помогает собственная служба ОТК. Мы не проверяем детали
                    выборочно, а проводим тщательную оценку всех изделий, что позволяет обеспечить 100% гарантию
                    качества. Выбирая нашу продукцию, вы выбираете надежные товары по цене от производителя.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}