{% extends 'rzmr/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-uzm">
            <h4 class="py-2">{{ title }}</h4>
            <p>
                Продукция {{ company_name }} соответствует высоким стандартам качества, в том числе
                государственным и международным. Контроль осуществляется на всех стадиях производства в соответствии с
                требованиями ISO 9001:2015. На заводе используются качественные материалы, установлено современное
                производственное оборудование, в том числе и зарубежное с высокой степенью автоматизации.
            </p>
            <p>
                Продукция соответствует:
            <ul>
                <li>ТУ 3695-001-92820828-2011. Этот стандарт разработан инженерами завода. По многим показателям его
                    требования оказываются строже средних по отрасли. </li>
                <li>ГОСТ Р. Сертификат соответствия по ГОСТ Р выдается на металлический рукав УЗМ (металлорукав).
                    Обязательной стадией выходного контроля для этой продукции является проведение предписанных
                    испытаний — на прочность и герметичность. Испытания включают 100% партии изделий, а не выборочно.
                    Покупая изделия завода, сертифицированные по ГОСТ Р, вы можете быть уверены в их соответствии
                    заявленным характеристикам. </li>
            </ul>
            </p>
            <p>
                {{ company_name_short }} постоянно совершенствует систему контроля качества. Это позволяет нам сохранять
                имидж надежного поставщика агрегатов и арматуры российского производства.
            </p>
        </div>
    </div>
</div>
{% endblock content %}