{% extends 'rzmr/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-uzm">
            <h4 class="py-2">{{ title }}</h4>
            <p>
                Металлорукава – это гибкие конструкции, состоящие из гибкого транспортного канала и нескольких слоев
                металлических оболочек. Такое устройство обеспечивает высокую прочность и защиту от различных факторов
                окружающей среды. Они находят применение во многих отраслях, таких как машиностроение, энергетика и
                строительство – там, где требуется высокая степень защиты и надежности конструкций. Кроме того, высокая
                степень герметичности и соответствие санитарно-гигиеническим нормам позволяет использовать эти системы в
                таких специфических отраслях как медицина и пищевая промышленность. Если вы хотите купить металлические
                рукава в Уфе, {{ company_name_short }} готово вам помочь! Обратитесь к производителю, который
                специализируется на производстве качественных и надежных деталей для гибких трубопроводных систем.
            </p>
            <p>
                Мы занимаемся производством оборудования с 2008 года. За это время. {{ company_name }} развил мощную
                производственную базу, собрал опытную команду высококвалифицированных специалистов, создал обширную
                логистическую сеть и заработал доверие более 7000 довольных клиентов по всей России и в странах
                СНГ. Нам можно доверять!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="#">
                <p class="wrapper-up-uzm-card fs-5">
                    Гофра
                </p>
                <p class="uzm-text-card">
                    герметичная оболочка с кольцевыми гофрами, расположенными параллельно. Изготавливается методом
                    гидроформовки
                    из трубных заготовок, сваренных аргонодуговой сваркой встык по длине трубы.
                </p>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="#">
                <div class="wrapper-up-uzm-card">
                    <div>Стандартная <br> Ø6 - Ø400</div>
                </div>
                <img src="{% static '/rzmr/img/gofra1.jpg' %}" alt="">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="#">
                <div class="wrapper-up-uzm-card">
                    <div>Повышенной гибкости <br> Ø6 - Ø200</div>
                </div>
                <img src="{% static '/rzmr/img/gofra1.jpg' %}" alt="">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="#">
                <div class="wrapper-up-uzm-card">
                    <div>Тяжелая серия <br> Ø6 - Ø200</div>
                </div>
                <img src="{% static '/rzmr/img/gofra1.jpg' %}" alt="">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="#">
                <div class="wrapper-up-uzm-card">
                    <div>Спиральная <br> Ø6 - Ø200</div>
                </div>
                <img src="{% static '/rzmr/img/gofra1.jpg' %}" alt="">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="#">
                <div class="wrapper-up-uzm-card">
                    <div>Двухслойная <br> Ø6 - Ø200</div>
                </div>
                <img src="{% static '/rzmr/img/gofra1.jpg' %}" alt="">
            </a>
        </div>
    </div>

</div>
{% endblock content %}