{% extends 'rzmr/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-uzm">
            <h1 class="h3 fw-bold py-2">{{ h1 }}</h1>

            {% if city_location == 'Москва' %}

            <p>МРВД &ndash; это долговечные и надежные металлические конструкции, обеспечивающие безопасную и
                эффективную транспортировку материалов под высоким давлением. {{ company_name_short }} лидер в
                области производства металлических рукавов высокого давления. Наша продукция &ndash; ваш ключ к успешной
                и безопасной транспортировке жидкостей, газов и сыпучих материалов. Вы можете заказать продукцию
                {{ company_name_short }} с доставкой в Москву и другие города России.</p>

            {% elif city_location == 'Екатеринбург' %}

            <p>МРВД &ndash; это прочные, гибкие трубы, способные выдерживать высокие уровни давления, обычно
                используемые для транспортировки жидкостей, газов и сыпучих материалов. {{ company_name }} предлагает
                надежные и выгодные решения от производителей для перевозки жидкостей,
                газов и сыпучих материалов. Наши изделия &ndash; это сочетание надежности, долговечности и
                эффективности, которое удовлетворит самые высокие требования вашего бизнеса.</p>

            {% elif city_location == 'Челябинск' %}

            <p>МРВД &mdash; это специальные гибкие транспортные системы, изготовленные из внутренних полимерных шлангов
                и прочной металлической оболочки. Они используются для транспортировки рабочих сред в условиях высокого
                давления. Они могут иметь одно-, двух- или трехслойную оплетку из нержавеющей проволоки для сохранения
                формы и противодействия вибрации. Такая структура совмещает преимущества гибких шлангов и жестких
                трубопроводов. Вы можете купить металлорукава высокого давления в Челябинске в компании
                {{ company_name_short }}.
            </p>

            {% elif city_location == 'Магнитогорск' %}

            <p>Это гибкие, но прочные металлические трубы, способные выдерживать высокое давление, что делает их
                идеальным решением для транспортировки различных видов материалов. Не допускайте компромиссов при
                транспортировке ваших материалов. МРВД от {{ company_name_short }} гарантируют
                безопасность и эффективность в каждом сегменте вашего бизнеса.</p>

            {% elif city_location == 'Пермь' %}

            <p>МРВД &ndash; это гибкие трубопроводы, способные выдерживать повышенный уровень давления, что делает их
                идеальным решением для перевозки различных видов материалов в промышленности. Откройте для себя
                преимущества металлических рукавов высокого давления от {{ company_name_short }}. Надежность, прочность
                и долговечность &ndash; вот что вы получите, выбрав нашу продукцию для транспортировки ваших материалов.
            </p>
            <p>{{ company_name_short }} известный и опытный производитель. Наша продукция завоевала доверие ведущих
                промышленных предприятий. Это свидетельствует о том, что мы предлагаем только качественные изделия на
                выгодных условиях.</p>

            {% elif city_location == 'Самара' %}

            <p>МРВД &ndash; это высокотехнологичные, надежные и долговечные изделия, применяющиеся для безопасной и
                эффективной транспортировки рабочих сред, находящихся под высоким давлением. {{ company_name_short }}
                &ndash; ваш надежный партнер, предоставляющий лучшие решения для производственных нужд. Наша продукция
                производится по международным стандартам, мы предоставляем официальные гарантии качества и все
                преимущества прямого сотрудничества с производителем.</p>

            {% elif city_location == 'Уфа' %}

            <p>МРВД &mdash; это специализированные транспортные системы, которые применяются для транспортировки веществ
                различного типа &ndash; как правило, жидкостей, сыпучих материалов и газов. Еще одно распространенное
                применение &ndash; защита кабелей и проводки от негативных условий окружающей среды и доступа
                посторонних. Они изготавливаются из металлической оболочки и полимерных шлангов, предназначены для
                работы в условиях, предъявляющих повышенные требования к прочности, температурной устойчивости и
                качеству используемых изделий.</p>

            {% elif city_location == 'Казань' %}

            <p>Это высокопрочные конструкции, выполненные из металла, которые способны переносить сильные давления и
                широко применяются в различных отраслях промышленности для перевозки различных видов материалов. МРВД
                &ndash; инженерные решения, предназначенные для эффективной и безопасной транспортировки материалов под
                высоким давлением. {{ company_name }} предлагает надежное и экономически
                эффективное решение для ваших транспортных задач.</p>

            {% elif city_location == 'Омск' %}

            <p>Это инновационные технологические решения, обеспечивающие безопасность и эффективность при
                транспортировке материалов под высоким давлением. С {{ company_name }}
                выполнение промышленных задач становится проще и безопаснее. МРВД от опытной компании,
                специализирующейся на производстве трубопроводных систем &ndash; это надежность и качество, проверенные
                временем.</p>

            {% elif city_location == 'Нижний Новгород' %}

            <p>Это прочные и гибкие металлические трубы, специально разработанные для перевозки различных материалов под
                высоким давлением. Ищете надежное решение для транспортировки ваших материалов? МРВД от
                {{ company_name }} &ndash; это то, что вам нужно. Надежность, прочность и долговечность &ndash;
                вот наши основные принципы. Мы предлагаем гибкие трубопроводы, которые обеспечивают оптимальную
                производительность при транспортировке жидкостей, газов и сыпучих материалов. Наша продукция &ndash; это
                инвестиция в безопасность и эффективность вашего бизнеса.</p>

            {% else %}

            <p>МРВД &mdash; это тип промышленного оборудования, предназначенного для транспортировки веществ в различной
                форме &ndash; жидкой, газообразной или сыпучей. Они обычно состоят из гибкого полимерного шланга
                (обладает сопротивлением к перегрузкам рабочей среды) и внешнего защитного слоя (предохраняет внутреннюю
                оболочку от опасных внешних факторов).</p>

            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="{% url 'metalhoses-corrugations' %}">
                <p class="wrapper-up-uzm-card fs-5">
                    Гофра
                </p>
                <p class="uzm-text-card">
                    герметичная оболочка с кольцевыми гофрами, расположенными параллельно. Изготавливается методом
                    гидроформовки
                    из трубных заготовок, сваренных аргонодуговой сваркой встык по длине трубы.
                </p>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-corrugation' 'standartnaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Стандартная <br> Ø6 - Ø400</div>
                </div>
                <img src="{% static '/rzmr/img/marked_gofra_standart.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-corrugation' 'povishennoy_gibkosti' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Повышенной гибкости <br> Ø6 - Ø200</div>
                </div>
                <img src="{% static '/rzmr/img/marked_gofra_povishennoi_gibkosti.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-corrugation' 'tyazhelaya_seriya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Тяжёлая серия <br> Ø6 - Ø200</div>
                </div>
                <img src="{% static '/rzmr/img/marked_gofra_tyagelaya.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-corrugation' 'spiralnaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Спиральная <br> Ø6 - Ø200</div>
                </div>
                <img src="{% static '/rzmr/img/marked_gofra_spiralnaya.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-corrugation' 'dvukhsloynaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Двухслойная <br> Ø6 - Ø200</div>
                </div>
                <img src="{% static '/rzmr/img/marked_gofra_dvuhsloinaya.png' %}" alt="gofra">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="{% url 'metalhoses-braids' %}">
                <p class="wrapper-up-uzm-card fs-5">
                    Оплетка
                </p>
                <p class="uzm-text-card">
                    представляет собой защитную оболочку сетчатого типа и изготавливается из стальной нержавеющей
                    проволоки 12Х18Н9Т. Позволяет обеспечить работоспособность рукава при воздействии различных
                    нагрузок, а также пульсации давлений, возникающих при транспортировке по гибкому элементу рабочей
                    среды. Оплетка должна плотно облегать рукав, не иметь оборванных частей.
                </p>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-braid' 'odnosloynaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Однослойная</div>
                </div>
                <img src="{% static '/rzmr/img/marked_opletka_odinarnaya.png' %}" alt="opletka">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-braid' 'dvukhsloynaya'  %}">
                <div class="wrapper-up-uzm-card">
                    <div>Двухслойная</div>
                </div>
                <img src="{% static '/rzmr/img/marked_opletka_dvoinaya.png' %}" alt="opletka">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-braid' 'trekhsloynaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Трехслойная</div>
                </div>
                <img src="{% static '/rzmr/img/marked_opletka_troinaya.png' %}" alt="opletka">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="{% url 'metalhoses-inners' %}">
                <p class="wrapper-up-uzm-card fs-5">
                    Внутренний экран
                </p>
                <p class="uzm-text-card">
                    защитный элемент рукава, помещенный внутрь гибкой части позволяющий исключить/сократить контакт
                    рукава со средой, либо за счет своего наличия продлить срок службы изделия.
                </p>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-inner' 'trubnyy' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Трубный</div>
                </div>
                <img src="{% static '/rzmr/img/marked_ekran_trubnii.png' %}" alt="ekran">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-inner' 'valtsovannyy' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Вальцованный</div>
                </div>
                <img src="{% static '/rzmr/img/marked_ekran_valcovanii.png' %}" alt="ekran">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-inner' 'opletochnyy' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Оплёточный</div>
                </div>
                <img src="{% static '/rzmr/img/marked_ekran_opletochnii.png' %}" alt="ekran">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-inner' 'ptfe' %}">
                <div class="wrapper-up-uzm-card">
                    <div>PTFE</div>
                </div>
                <img src="{% static '/rzmr/img/marked_ekran_PTFE.png' %}" alt="ekran">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="{% url 'metalhoses-outsides' %}">
                <p class="wrapper-up-uzm-card fs-5">
                    Наружная оболочка
                </p>
                <p class="uzm-text-card">
                    часть рукава в которую заключается гибкая часть для предотвращения различных воздействий
                    (температурных, механических и т.д.). Выбирается исходя из предполагаемых условий эксплуатации
                    изделия.
                </p>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-outside' 'termochekhol' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Термочехол</div>
                </div>
                <img src="{% static '/rzmr/img/marked_termochehol.png' %}" alt="hoses">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-outside' 'termorukav' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Терморукав</div>
                </div>
                <img src="{% static '/rzmr/img/marked_termorukav.png' %}" alt="hoses">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-outside' 'rezinovaya_obolochka' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Резиновая оболочка</div>
                </div>
                <img src="{% static '/rzmr/img/marked_rezinovaya_obolochka.png' %}" alt="hoses">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-outside' 'pruzhina' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Пружина</div>
                </div>
                <img src="{% static '/rzmr/img/marked_pruzhina.png' %}" alt="hoses">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-outside' 'pletenka_mednaya_luzhenaya_pml' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Плетёнка медная лужёная (ПМЛ)</div>
                </div>
                <img src="{% static '/rzmr/img/pletenka_mednaya_luzonaya.png' %}" alt="hoses">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="{% url 'metalhoses-special' %}">
                <p class="wrapper-up-uzm-card fs-5">
                    Специальные разработки
                </p>
                <p class="uzm-text-card pt-4">
                    Для решения нетривиальных задач нашим конструкторским отделом разрабатываются различные модификации
                    на основе металлорукавов РГМ.
                </p>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-special' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Специальные разработки</div>
                </div>
                <img src="{% static '/rzmr/img/spec_razrabotki.png' %}" alt="hoses">
            </a>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <p class="wrapper-up-uzm-card fs-5">
                Маркировка
            </p>
            <p class="uzm-text-card">
                металлорукав серии РГМ имеет маркировку, нанесенную непосредственно на концевую арматуру
                металлорукава, либо располагающуюся на ярлыках, этикетках, металлических бирках, закрепленных на
                металлическом рукаве
            </p>
        </div>
        <div class="col-lg-10 col-md-6 col-12">
            <div class="wrapper-up-uzm-card">
                <div>Трубный</div>
            </div>
            <p>
                Пример маркировки металлорукава РГМ: <br>
                РГМ 50-40-1,0 с/а <br>
                Расшифровка: <br>
                РГМ — серия изделия (рукав герметичный металлический); <br>
                50 – номинальный внутренний диаметр рукава, мм; <br>
                40 - наибольшее рабочее давление рукава в кгс/см<sup>2</sup> (атм) при нормальных условиях эксплуатации;
                <br>
                1,0 — номинальная длина рукава в сборе, м; <br>
                с/а – наличие специальной концевой арматуры в соответствии с требованиями Заказчика. Полное описание
                концевой арматуры представлено в паспорте Заказчика. Маркировка рукава с отсутствием аббревиатуры<br>
                с/а – рукав без арматуры, под приварку.
            </p>
        </div>
        <div class="row">
            <div class="col-12 text-uzm">
                <h5 class="py-5">Основные рабочие характеристики металлорукавов:</h5>
                <table class="uzm-table">
                    <tbody>
                        <tr>
                            <td class="p-1"><img src="{% static '/rzmr/img/Icon5.jpg' %}"></td>
                            <td>Условный внутренний диаметр Dy</td>
                            <td>6-350 мм</td>
                        </tr>
                        <tr>
                            <td class="p-1"><img src="{% static '/rzmr/img/Icon6.jpg' %}"></td>
                            <td>Рабочее давление Рраб</td>
                            <td>0,1-350 бар</td>
                        </tr>

                        <tr>
                            <td class="p-1"><img src="{% static '/rzmr/img/Icon7.jpg' %}"></td>
                            <td>Рабочая среда</td>
                            <td>Воздух, азот, гелий, кислород, водород, нефтепродукты, кислоты, техническая вода, пар,
                                бензин,керосин и т.д.</td>
                        </tr>
                        <tr>
                            <td class="p-1"><img src="{% static '/rzmr/img/Icon8.jpg' %}"></td>
                            <td>Температура рабочей среды</td>
                            <td>от -220 до +440 °C</td>
                        </tr>
                        <tr>
                            <td class="p-1"><img src="{% static '/rzmr/img/Union.jpg' %}"></td>
                            <td>Радиус изгиба</td>
                            <td>В среднем 5 Ду</td>
                        </tr>
                    </tbody>
                </table>

                {% if city_location == 'Москва' %}

                <p>В современном производстве гибкие трубопроводы играют ключевую роль в транспортировке различных
                    веществ, а также в защите кабелей и проводов. Они обеспечивают безопасность, надежность и
                    эффективность процессов, что делает их незаменимыми в различных отраслях.</p>
                <h4>Преимущества</h4>
                <ul>
                    <li>Прочность &ndash; благодаря использованию металла в конструкции рукава способны выдерживать
                        повышенные нагрузки, что необходимо при транспортировке определенных веществ.</li>
                    <li>Универсальность &ndash; изделия подходят для транспортировки широкого спектра веществ, включая
                        газы, жидкости и сыпучие материалы.</li>
                    <li>Защита &ndash; они обеспечивают эффективную защиту содержимого от механических повреждений, а
                        также от воздействия агрессивных сред.</li>
                </ul>
                <h4>Конструкция</h4>
                <p>Металлорукава высокого давления состоят из гибкого внутреннего шланга, изготовленного из полимерных
                    материалов (тефлона) и наружной оплетки из нержавеющей стали. Именно такое устройство и придает ему
                    отличные эксплуатационные свойства, характерные как для гибких транспортных систем, так и для
                    жестких трубопроводов.</p>
                <p>Еще одна важная часть конструкции &ndash; концевая присоединительная арматура, которая может быть
                    подобрана в зависимости от потребностей заказчика. Изделия могут быть снабжены различными типами
                    концевой арматуры, включая следующие:</p>
                <ul>
                    <li>камлок &ndash; быстроразъемные соединения, которые обеспечивают простоту и быстроту установки и
                        демонтажа.</li>
                    <li>фланцевая арматура &ndash; создают надежное и прочное соединение, подходящее для работы в
                        агрессивных условиях.</li>
                    <li>соединения под приварку &ndash; идеально подходят для создания постоянных и очень прочных линий.
                    </li>
                </ul>
                <h4>Ваш надежный поставщик</h4>
                <p>Вы можете заказать металлорукава высокого давления в {{ company_name_short }}. Мы предлагаем широкий
                    ассортимент изделий для применения в различных отраслях промышленности.</p>
                <p>Наши специалисты всегда готовы помочь вам выбрать оптимальное решение для ваших потребностей и
                    предоставить вам качественную и надежную продукцией. Свяжитесь с нами сегодня, чтобы узнать больше о
                    наших продуктах и услугах. Вы можете позвонить по номеру
                    <a href="tel:+74996492949">+7 (499) 649-29-49</a> или воспользоваться формой заявки на нашем сайте.
                </p>

                {% elif city_location == 'Екатеринбург' %}

                <h4>Особенности изделий</h4>
                <p>Это инновационное решение для безопасной и эффективной транспортировки веществ при повышенных
                    эксплуатационных нагрузках. Изготовленные из качественной нержавеющей стали, эти рукава обладают
                    исключительной прочностью и долговечностью, что делает их незаменимыми в индустрии. А внутренняя
                    полимерная гибкая оболочка придает им преимущества гибких транспортных систем. К тому же, материалы
                    являются химически нейтральными и отлично сопротивляются различным негативным условиям окружающей
                    среды.</p>
                <p>Металлические рукава высокого давления обладают рядом преимуществ:</p>
                <ul>
                    <li>условно-проходным диаметром от 6 до 300 мм, который позволяет применять их в самых разных
                        условиях;</li>
                    <li>допустимой температурой эксплуатации &ndash; возможность работы в диапазоне от -200 до +600
                        градусов делает их универсальными для различных отраслей;</li>
                    <li>рабочим давлением рукавов до 400 Бар, обеспечивающим безопасную транспортировку даже самых
                        агрессивных веществ;</li>
                    <li>устойчивостью к агрессивным средам, позволяющей использовать их в химической и нефтехимической
                        промышленности;</li>
                    <li>возможностью применения в пищевой и медицинской промышленности &ndash; изделия соответствуют
                        санитарным требованиям;</li>
                    <li>способностью улавливать и поглощать колебания от приборов и оборудования, что обеспечивает
                        дополнительную защиту оборудования;</li>
                    <li>гибкостью, позволяющей прокладывать их вместо жестких трубопроводов, что значительно упрощает
                        процесс установки и эксплуатации;</li>
                    <li>кроме того, МРВД могут быть использованы для защиты кабелей и проводов, обеспечивая их
                        безопасность и долговечность.</li>
                </ul>
                <h4>Выгодные условия от производителя</h4>
                <p>{{ company_name }} &mdash; один из ведущих производителей МРВД. Наша
                    продукция соответствует всем стандартам качества и безопасности, а также проходит строгий контроль
                    на каждом этапе производства.</p>
                <p>Если вам требуется надежное и долговечное решение для транспортировки жидкостей, газов и сыпучих
                    веществ или защиты кабелей и проводов, обращайтесь к нам. Мы предлагаем широкий выбор с надежной и
                    быстрой доставкой.</p>
                <p>Вы можете заказать металлорукава высокого давления в Екатеринбурге, связавшись с нами по телефону
                    <a href="tel:+73433579710">+7 (343) 357-97-10</a> или оставив заявку на сайте. Вместе мы найдем
                    оптимальное решение для вашего бизнеса!
                </p>

                {% elif city_location == 'Челябинск' %}

                <h4>Характеристики</h4>
                <p>Эти решения обладают рядом важных преимуществ, которые делают их незаменимыми во многих сферах
                    производства.</p>
                <p>Высокая прочность и долговечность &ndash; изделия изготавливаются из высококачественной нержавеющей
                    стали, что обеспечивает их высокую прочность и коррозионную устойчивость. Это позволяет им
                    выдерживать экстремальные нагрузки и работать в течение длительного времени без необходимости
                    замены.</p>

                <p>Устойчивость к вибрациям &ndash; благодаря применению специальной оплетки, МРВД обладают отличной
                    устойчивостью к вибрациям. Это делает их идеальным решением для применения в условиях, где вибрация
                    является важным фактором, например, в двигателестроении или нефтегазовой отрасли.</p>
                <p>Гибкость и адаптивность &ndash; могут быть адаптированы под конкретные нужды заказчика. Они могут
                    быть изготовлены различной длины и диаметра, с разными типами соединений и оплеткой, что позволяет
                    использовать их в самых разнообразных условиях и сферах применения.</p>
                <p>Устойчивость к температурным колебаниям &ndash; способны выдерживать экстремально низкие и высокие
                    температуры, что делает их подходящими для работы в условиях сильных температурных перепадов.</p>
                <p>Простота установки и обслуживания &ndash; легко монтируются и обслуживаются, что снижает затраты на
                    их эксплуатацию и увеличивает эффективность работы.</p>
                <h4>Где используются изделия?</h4>
                <p>Металлические рукава высокого давления применяются в широком спектре отраслей, включая следующие:</p>
                <ul>
                    <li>нефтегазовую отрасль &ndash; компании, такие как &laquo;НОВАТЭК&raquo; и &laquo;Роснефть&raquo;,
                        используют нашу продукцию в своих операциях по добыче и реализации природного газа и жидких
                        углеводородов;</li>
                    <li>двигателестроение &ndash; &laquo;Объединенная двигателестроительная корпорация&raquo; использует
                        изделия в производстве двигателей для военной и гражданской авиации, космической отрасли и
                        газотурбинных корабельных установок;</li>
                    <li>энергетику &ndash; &laquo;Газпром&raquo; применяет гибкие транспортные системы для
                        геологоразведки, добычи, транспортировки, хранения, переработки и реализации сырья.</li>
                </ul>
                <h4>Покупка металлорукавов высокого давления в Челябинске</h4>
                <p>Для жителей и предприятий Челябинска и региона есть отличная возможность приобрести изделия напрямую
                    от производителя. {{ company_name }} предлагает широкий ассортимент продукции, которая отвечает всем
                    стандартам качества и безопасности.</p>
                <p>Мы предлагаем гибкие условия сотрудничества, возможность изготовления металлорукавов по
                    индивидуальному заказу и консультации наших специалистов. При этом цена на изделия может
                    незначительно увеличиваться в зависимости от специфических требований заказчика.</p>

                {% elif city_location == 'Магнитогорск' %}

                <h4>Необходимость в промышленности</h4>
                <p>Промышленные предприятия сталкиваются с необходимостью транспортировки различных технологических сред
                    &ndash; газообразных, жидких, и даже агрессивных веществ между рабочими емкостями. Эти среды могут
                    быть высоко- или низкотемпературными, даже близкими к абсолютному нулю, и находиться под
                    значительным давлением. Чтобы эффективно выполнять технологические задачи, необходимо применять
                    решения, которые будут сочетать в себе преимущества гибких шлангов (химическую нейтральность,
                    возможность воспринимать гидроудары и вибронагрузки, герметичность) и прочность жестких
                    металлических трубопроводов. Металлические рукава высокого давления являются именно таким решением.
                </p>
                <h4>Уникальные конструктивные решения</h4>
                <p>Изделия представляют собой модули для трубопровода с высокими характеристиками гибкости и прочности.
                    Они обладают специальной конструкцией, которая обеспечивает устойчивость к высокому внутреннему
                    давлению. К особенностям их устройства относятся следующие факторы:</p>
                <ul>
                    <li>гофрированная форма для первичного повышения сопротивления давлению;</li>
                    <li>оплетка из нержавеющей легированной стали для дополнительного укрепления, она может состоять из
                        одного, двух, трех слоев и имеет сетчатую структуру;</li>
                    <li>разнообразные виды присоединительной концевой арматуры, обеспечивающей герметичность, прочность
                        или возможность быстрого демонтажа &ndash; все зависит от ваших задач.</li>
                </ul>
                <p>Такая конструкция обеспечивает защиту от статического или пульсирующего давления внутренней среды.
                    Стоимость оплётки определяется ценой металла проволоки, толщиной и длиной проволоки оплётки, а также
                    автоматической процедурой её образования. Все цены вы можете найти в каталоге на нашем сайте.</p>
                <h4>Применение и преимущества</h4>
                <p>Изделия широкий спектр применения и множество преимуществ:</p>
                <ul>
                    <li>транспортировка различных веществ &ndash; от газообразных и жидких до агрессивных, наши
                        металлорукава высокого давления подходят для любых задач;</li>
                    <li>защита кабелей и проводов &ndash; благодаря своей прочности и устойчивости к воздействию
                        окружающей среды, идеально подходят для защиты кабельных и проводных линий, защищая их от
                        внешнего доступа и повышенных эксплуатационных нагрузок:</li>
                    <li>долговечность и официальные гарантии &ndash; продукция изготовлена из высококачественных
                        материалов, что гарантирует её долгий срок службы.</li>
                </ul>
                <h4>Ваш надежный поставщик в Магнитогорске</h4>
                <p>Предприятия Магнитогорска могут заказать изготовление и доставку металлорукавов высокого давления
                    прямо на свой объект. {{ company_name_short }} гарантирует быструю и надежную доставку, а также
                    высокое качество производимой продукции. Свяжитесь с нами сегодня, чтобы узнать больше о наших
                    продуктах и сделать заказ. Вы можете позвонить нам по номеру
                    <a href="tel:88005555756">8 (800)5555-756</a> или оставить заявку на сайте.
                </p>

                {% elif city_location == 'Пермь' %}

                <h4>Особенности гибких трубопроводов</h4>
                <p>Они обладают рядом уникальных особенностей, которые делают их незаменимыми для выполнения
                    разнообразных промышленных задач. В зависимости от рабочих условий изделие может быть оборудовано
                    резиновой оплеткой для дополнительной защиты, либо оплетка может быть выполнена из нержавеющей
                    стали.</p>
                <h3>Гибкость и удобство использования</h3>
                <p>Изделия отличаются высокой гибкостью. Это обеспечивает удобство при монтаже и креплении на концах
                    шланга, где применяются специальные фитинги. Таким образом, наши металлорукава можно без проблем
                    соединять с различными машинами и агрегатами, обеспечивая надежную транспортировку веществ.</p>
                <h3>Индивидуальный подход и доработка</h3>
                <p>В настоящее время отсутствуют стандарты на изготовление рукавов, поэтому мы используем европейские
                    ГОСТы в качестве основы. Однако, наша производственная компания готова доработать любой трубопровод
                    в соответствии с индивидуальными чертежами и особыми требованиями заказчика. Мы учтем все ваши
                    потребности и предоставим окончательную цену, которая будет отражать индивидуальность и качество
                    нашей продукции.</p>
                <h4>Эксплуатационные преимущества</h4>
                <p>Высокая надежность &ndash; выдерживают высокое давление и температуру, обеспечивая безопасную
                    транспортировку веществ.</p>
                <p>Долговечность &ndash; благодаря использованию прочных материалов и качественной конструкции изделия
                    обладают длительным сроком службы.</p>
                <p>Устойчивость к коррозии &ndash; нержавеющая сталь и другие специальные материалы, применяемые для
                    изготовления, обеспечивают защиту от коррозии и повреждений.</p>
                <p>Гибкость и маневренность &ndash; позволяют легко монтировать и соединять с другими системами,
                    обеспечивая гибкость в использовании.</p>
                <h4>Где используются гибкие трубопроводы?</h4>
                <ul>
                    <li>Нефтегазовая промышленность &ndash; для перекачки нефти, газа и других химических веществ,
                        создающих условия повышенного давления и термические перегрузки.</li>
                    <li>Химическая промышленность &ndash; обеспечивают безопасную транспортировку агрессивных химических
                        реагентов и растворов.</li>
                    <li>Энергетика &ndash; применяются для передачи горячей воды, пара и других рабочих сред в
                        энергетических установках.</li>
                    <li>Производство и переработка пищевых продуктов и медикаментов &ndash; используются для
                        транспортировки пищевых ингредиентов и медицинских материалов в соответствии с санитарными
                        требованиями.</li>
                    <li>Оборудование и машиностроение &ndash; применяются для соединения компонентов и систем в машинах
                        и оборудовании.</li>
                </ul>
                <p>ВЫ можете купить металлорукава высокого давления в Перми в {{ company_name_short }}. Наша продукция
                    соответствует высоким стандартам качества и гарантирует надежность и безопасность в эксплуатации. Мы
                    предлагаем индивидуальный подход к каждому заказу, доработку по вашим требованиям и привлекательные
                    условия. Обратитесь к нам сегодня, и мы поможем вам выбрать оптимальное решение для ваших
                    промышленных задач. Вы можете связаться с нами по телефону
                    <a href="tel:88005555756">8 (800)5555-756</a> или заполнить заявку на нашем сайте.
                </p>

                {% elif city_location == 'Самара' %}

                <p>Металлические рукава высокого давления &ndash; это современное решение для ваших производственных
                    задач. Они обладают рядом преимуществ, которые делают их незаменимыми:</p>
                <ul>
                    <li>высокой термостойкостью &ndash; способностью работать в широком температурном диапазоне;</li>
                    <li>долговечностью &ndash; благодаря изготовлению из нержавеющей стали изделия обладают повышенной
                        коррозионной стойкостью;</li>
                    <li>гибкостью &ndash; способностью принимать различные формы без потери своих рабочих характеристик.
                    </li>
                </ul>
                <h4>Конструкция</h4>
                <p>Главная идея, которая лежит в основе устройства трубопровода &ndash; сочетание полимерной внутренней
                    оболочки (тефлонового шланга) и внешней оплетки из нержавеющей стали. Благодаря этому сохраняются
                    положительные свойства гибких транспортировочных систем и жестких металлических трубопроводов. При
                    этом в нашем ассортименте вы найдете различные виды оболочек и дополнительные опции, такие как
                    термочехол. Мы предлагаем все необходимое для максимально эффективного решения ваших задач!</p>
                <h4>Разные виды концевой присоединительной арматуры: выбор за вами</h4>
                <p>Гибкие трубопроводы могут быть оснащены различными видами концевых соединений, в зависимости от
                    конкретных потребностей и требований:</p>
                <ul>
                    <li>быстроразъемные &ndash; камлоки обеспечивают быстрое и удобное соединение и разъединение рукава
                        отлично подходят для прокладки байпасных линий;</li>
                    <li>фланцевые &ndash; идеально подходят для применения в системах с высоким давлением.</li>
                    <li>резьбовые &ndash; позволяют надежно соединять рукава с другими элементами системы, создавая
                        прочные транспортные системы;</li>
                    <li>под приварку &ndash; обеспечивают максимально надежное и прочное соединение с исключительным
                        уровнем герметичности.</li>
                </ul>
                <p>Мы рады предложить вам возможность купить металлорукава высокого давления в Самаре в
                    {{ company_name_short }}. Мы гарантируем высокое качество нашей продукции, соответствие всем
                    стандартам и требованиям, а также индивидуальный подход к каждому клиенту.</p>
                <p>Нашу продукцию можно приобрести с быстрой и надежной доставкой в Самару и другие города России. Мы
                    предлагаем выгодные условия сотрудничества, а также специальные предложения для постоянных клиентов.
                </p>
                <p>Не упустите возможность улучшить эффективность и надежность вашей системы транспортировки веществ
                    &ndash; обратитесь к нам уже сегодня! Позвоните по номеру
                    <a href="tel:88005555756">8 (800)5555-756</a> или разместите заявку, воспользовавшись формой заявки
                    на сайте.
                </p>

                {% elif city_location == 'Уфа' %}

                <h4>Преимущества</h4>
                <ul>
                    <li><strong>Прочность и долговечность</strong> &ndash; металлорукава высокого давления обладают
                        исключительной прочностью и стойкостью к механическим воздействиям. Благодаря этому они
                        выдерживают длительную эксплуатацию в условиях повышенного давления.</li>
                    <li><strong>Устойчивость к агрессивным средам</strong> &ndash; благодаря свойствам специально
                        подобранных материалов, из которых они изготавливаются, изделия способны переносить контакт с
                        агрессивными химическими веществами, температурными колебаниями и другими неблагоприятными
                        факторами.</li>
                    <li><strong>Гибкость</strong> &ndash; несмотря на свою прочность, рукава достаточно гибки, что
                        позволяет прокладывать их даже в труднодоступных условиях.</li>
                    <li><strong>Универсальность</strong> &ndash; МРВД применяются для различных технологических и
                        монтажных операций: транспортировки, прокладки инженерных коммуникаций и байпасных линий,
                        различных технологических операций с агрессивными рабочими средами и т.д.</li>
                    <li><strong>Безопасность</strong> &ndash; использование таких транспортных систем помогает
                        предотвратить утечки и аварии, связанные с высоким давлением, благодаря их прочности и
                        устойчивости.</li>
                </ul>
                <p>Такие транспортные системы находят широкое применение в различных промышленных и строительных
                    процессах, включая нефтехимическое, пищевое, медицинское производства, монтаж инженерных систем и
                    т.д.</p>
                <h4>Новый уровень качества от {{ company_name_short }}</h4>
                <p>{{ company_name }} гордится своим статусом ведущего производителя металлорукавов высокого давления.
                    Продукция заслужила признание более 1200 предприятий из разных отраслей, что подтверждает ее
                    качество.</p>
                <h3>Наши ключевые клиенты</h3>
                <p>Наши изделия пользуются спросом среди ведущих компаний страны и мира:</p>
                <ul>
                    <li>НОВАТЭК &ndash; один из крупнейших производителей энергоресурсов в России;</li>
                    <li>Объединенная двигателестроительная корпорация (АО &laquo;ОДК&raquo;) &ndash; компания занимается
                        производством двигателей для авиационной и космической отраслей, а также для прочих направлений
                        деятельности государственной корпорации &laquo;Ростех&raquo;;</li>
                    <li>&laquo;Роснефть&raquo; &ndash; лидер российской нефтяной отрасли и одна из крупнейших
                        нефтегазовых компаний мира;</li>
                    <li>ПАО &laquo;Газпром&raquo; &ndash; крупнейшая транснациональная энергетическая компания России.
                    </li>
                </ul>
                <p>Вы можете купить металлорукава высокого давления в Уфе в {{ company_name_short }}. Все изделия
                    изготавливаются из нержавеющей легированной стали и могут быть доработаны в соответствии с рабочими
                    чертежами заказчика. Мы готовы предложить вам продукцию, которая идеально подойдет для ваших
                    потребностей. Обращайтесь к нам, и мы поможем вам выбрать оптимальное решение. Позвоните нам по
                    номеру <a href="tel:+73472929864">+7 (347) 292-98-64</a> или
                    <a href="tel:+73472747387">+7 (347) 274-73-87</a>, чтобы узнать больше и сделать заказ.
                </p>

                {% elif city_location == 'Казань' %}

                <p>В современном мире технологий важность качественных и надежных материалов не может быть переоценена.
                    Металлорукава высокого давления, которые мы производим, представляют собой идеальное сочетание
                    технологического прогресса и долговечности. Они состоят из гофры, оплетки и крепежных элементов,
                    обеспечивая высокую степень защиты и эффективности. Такая конструкция позволяет им сохранить
                    преимущества гибких шлангов и жестких трубопроводных систем. Также доступны различные виды концевой
                    присоединительной арматуры, позволяющие адаптировать трубопровод для конкретных целей.
                    Быстроразъемные соединения подойдут для байпасных линий, а арматура под приварку может быть
                    использована для более долговечных решений.</p>
                <h4>Уникальные технические характеристики</h4>
                <p>Наши металлорукава высокого давления обладают следующими особенностями:</p>
                <p>Широким температурным диапазоном работы &ndash; они сохраняют эффективность и надежность при
                    температурах от -200 до +650 градусов;</p>
                <p>Высокой устойчивостью к давлению &ndash; благодаря наличию одной и более металлических оплеток,
                    трубопроводы могут работать при высоком давлении без потери эффективности;</p>
                <p>Мы индивидуально подходим к каждому заказу &ndash; мы можем изготовить изделия практически любой
                    длины и взять заказ любого масштаба, учитывая только потребности заказчика;</p>
                <p>Универсальностью использования &ndash; наши металлические рукава высокого давления способны
                    транспортировать не только газы и жидкости, но и сыпучие составы, кислоты, щелочи и другие
                    агрессивные вещества.</p>
                <h4>Области применения</h4>
                <p>Все преимущества гибких трубопроводов позволяют им находить широкое применение в различных отраслях.
                    От машиностроения и судостроения до атомной отрасли, пищевой и химической промышленности &ndash;
                    наши металлорукава ценят за их качество и надежность.</p>
                <h4>Ваш надежный поставщик</h4>
                <p>Вы можете купить металлические рукава в Казани, {{ company_name }} готов
                    изготовить их в необходимом количестве и обеспечить быструю доставку. Мы предлагаем
                    высококачественные продукты, профессиональное обслуживание и выгодные условия. Свяжитесь с нами
                    сегодня, чтобы узнать больше о наших продуктах и сделать заказ. Позвоните по номеру
                    <a href="tel:88005555756">8 (800) 5555-756</a> или оставьте заявку на сайте.
                </p>

                {% elif city_location == 'Омск' %}

                <p>При высоких темпах развития технологий требуется надежная и безопасная транспортировка веществ даже
                    при воздействии неблагоприятных внешних факторов (и агрессивных свойствах передаваемых материалов).
                    Металлические рукава высокого давления являются незаменимым решением. Они обеспечивают необходимую
                    прочность, долговечность и надежность, благодаря чему занимают ведущие позиции на рынке.</p>
                <p>Для изготовления изделий применяется нержавеющая сталь. Рукава могут использоваться для
                    транспортировки взрывоопасных материалов и различных агрессивных смесей.</p>
                <p>Чтобы обеспечить исключительную прочность изделия, оно дополнительно оснащается металлической
                    оплеткой. Изготавливается этот защитный слой из стальной проволоки. Благодаря этому трубопровод
                    может работать даже в самой неблагоприятной среде.</p>
                <h4>Преимущества</h4>
                <ul>
                    <li>Прочность и долговечность &ndash; изделия способны выдерживать длительное время использования в
                        суровых условиях;</li>
                    <li>Устойчивость к коррозии &ndash; благодаря использованию специальных материалов и покрытий
                        обладают сопротивлением к коррозионным процессам;</li>
                    <li>Термостойкость &ndash; гибкие трубопроводы способны выдерживать экстремальные температуры, что
                        делает их идеальными для использования в различных отраслях.</li>
                    <li>Гибкость &ndash; несмотря на свою прочность, изделия достаточно гибкие, что позволяет
                        прокладывать их в сложных условиях.</li>
                </ul>
                <h4>Отрасли применения</h4>
                <ul>
                    <li>Нефтегазовая промышленность &ndash; используются для перекачки нефти, газа и других рабочих
                        сред, предъявляющих повышенные требования к надежности транспортировочной системы.</li>
                    <li>Химическая промышленность &ndash; необходимы для транспортировки агрессивных жидкостей, газов и
                        порошкообразных материалов.</li>
                    <li>Пищевая и медицинская промышленность &ndash; обеспечивают безопасность и гигиеничность при
                        работе с пищевыми продуктами и медикаментами (это возможно благодаря тому, что они соответствуют
                        санитарным требованиям);</li>
                    <li>Строительство &ndash; применяются для перекачки бетона, воды и других веществ.</li>
                </ul>
                <p>Вы можете купить металлорукава высокого давления в Омске в {{ company_name_short }}. Мы предлагаем
                    вам высококачественные изделия и гарантируем их прочность, долговечность и надежность. Наша
                    продукция проходит строгую проверку качества и соответствует всем стандартам безопасности.</p>
                <p>Мы осуществляем доставку в любую точку России, включая Омск. Наша команда специалистов всегда готова
                    помочь вам в выборе подходящего продукта и ответить на все ваши вопросы.</p>
                <p>С нами вы можете быть уверены в безопасности и эффективности вашего производства. Обратитесь к нам
                    уже сегодня и узнайте все об условиях сотрудничества. Звоните нам по телефону
                    <a href="tel:88005555756">8 (800) 5555-756</a> или воспользуйтесь формой заявки на сайте.
                </p>

                {% elif city_location == 'Нижний Новгород' %}

                <p>В процессе производства машин и механизмов, современное машиностроение столкнулось с необходимостью в
                    транспортировании различных материалов: газообразных, жидких, сыпучих. Их транспортировка между
                    двумя или несколькими производственными емкостями требует использования безопасных приемов
                    обращения. Особенно актуально это при работе с веществами, требующими от транспортировочной системы
                    повышенных характеристик прочности и сопротивления &ndash; как внешним условиям, так и нагрузкам,
                    которые создает перекачиваемая среда. Именно здесь на помощь приходят металлические рукава высокого
                    давления.</p>
                <h4>Преимущества</h4>
                <p>Изделия обеспечивают безопасность и надежность при транспортировке веществ, даже в самых
                    экстремальных условиях. Они способны выдерживать повышенное давление, экстремальные температуры и
                    агрессивность технологической среды.</p>
                <p>Ключевые особенности металлорукавов высокого давления:</p>
                <ul>
                    <li>внутренний полимерный шланг обладает герметичностью, химической нейтральностью, сопротивлением
                        гидроударам и вибронагрузкам, также материал соответствует санитарным требованиям, что позволяет
                        использовать его в пищевой и медицинской промышленности;</li>
                    <li>Гофрированная оболочка обеспечивает упругую подвижность ее участков;</li>
                    <li>сетчатая оплётка: сплетенная из легированной нержавеющей проволоки, играет большую роль в
                        обеспечении прочности и устойчивости к внешним факторам &ndash; она может быть однослойной,
                        двухслойной, трехслойной, в зависимости от пожелания заказчика.</li>
                </ul>
                <h4>Вещества для транспортировки</h4>
                <p>Гибкие трубопроводы могут использоваться для транспортировки различных веществ:</p>
                <ul>
                    <li>газообразные вещества включают воздух, природный газ, аргон, гелий и другие промышленные газы;
                    </li>
                    <li>жидкие вещества &ndash; это может быть вода, нефть, химические реагенты и другие жидкости;</li>
                    <li>сыпучие материалы &ndash; песок, цемент, зерно и другие сыпучие вещества.</li>
                </ul>
                <p>Заказать металлорукава в Нижнем Новгороде можно в {{ company_name_short }}. Компания предлагает свои
                    услуги по изготовлению металлорукавов высокого давления, обеспечивая исключительное качество и
                    быструю доставку. Обратитесь к нам сегодня и обеспечьте безопасность и эффективность вашего
                    производства. Вы можете позвонить по номеру <a href="tel:88005555756">8 (800) 5555-756</a> или
                    разместить заявку на сайте.</p>

                {% else %}

                <p>Изделия могут быть изготовлены из различных материалов, включая сталь, нержавеющую сталь, алюминий и
                    другие металлы. Они могут быть разработаны для работы с различными видами сред, включая воду, нефть,
                    газ, химические реагенты и др.</p>
                <p>Они востребованы в различных промышленных отраслях, включая нефтегазовую, химическую, пищевую, а
                    также в авиации и космонавтике. Использование металлических рукавов высокого давления обеспечивает
                    безопасность, эффективность и надежность технологических процессов.</p>
                <h4>Преимущества</h4>
                <ul>
                    <li>Прочность и долговечность &ndash; отличаются повышенной прочностью и долговечностью, благодаря
                        чему они способны выдерживать длительные нагрузки и служить в течение долгого времени без
                        замены.</li>
                    <li>Устойчивость к агрессивным средам &ndash; не подвержены коррозии и устойчивы к воздействию
                        агрессивных сред, что делает их лучшим выбором для химических предприятий.</li>
                    <li>Температурная устойчивость &ndash; способны выдерживать экстремальные температуры, что позволяет
                        использовать их при интенсивных перепадах.</li>
                    <li>Удобство в использовании &ndash; благодаря своей гибкости, гибкие трубопроводы легко
                        устанавливать и подключать к различным системам.</li>
                </ul>
                <p>Конечно, главная характеристика &ndash; возможность работы в условиях повышенного давления
                    передаваемой среды. Это позволяет обеспечить быструю скорость перекачки и надежности
                    транспортировочной системы.</p>
                <h4>Сферы применения</h4>
                <ul>
                    <li>Нефтегазовая отрасль &ndash; для перекачки нефти, газа и других веществ, находящихся под
                        повышенным давлением.</li>
                    <li>Химическая промышленность &ndash; при работе с агрессивными химическими реагентами.</li>
                    <li>Производство и перевозка пищевых продуктов и медикаментов &ndash; благодаря соответствию
                        санитарным требованиям, изделия могут применяться в этих сферах.</li>
                    <li>Строительство &ndash; для доставки различных стройматериалов и вспомогательных веществ, а также
                        для работы на площадке.</li>
                </ul>
                <h4>Сделайте правильный выбор</h4>
                <p>Вы можете купить металлорукава высокого давления в Санкт-Петербурге в компании
                    {{ company_name_short}}. Наша продукция отличается высоким качеством, прочностью и долговечностью.
                    Мы предлагаем быструю и надежную доставку в Санкт-Петербург и другие крупные города России.</p>
                <p>Не упустите возможность улучшить эффективность и безопасность вашего бизнеса с нашей продукцией.
                    Свяжитесь с нами уже сегодня, чтобы узнать больше или оформить заказ. Чтобы сделать это, позвоните
                    по номеру <a href="tel:+78122100002">+7 (812) 210-00-02</a> или оставьте заявку на сайте.</p>

                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-3 py-5">
                <div class="horizontal-line-uzm my-4"></div>
            </div>
            <div class="text-center col-xl-4 col-6 py-5">
                <p class="fs-3 fw-bold">Смотрите также</p>
            </div>
            <div class="col-xl-4 col-3 py-5">
                <div class="horizontal-line-uzm my-4"></div>
            </div>
        </div>
        <div class="row text-center justify-content-center">
            <div class="col-xl-3 col-md-4 p-2 m-1 uzm-button-link">
                <a class="fw-bold" href="{% url 'metalhoses-for-welding' %}">{% trans 'For welding' %}</a>
            </div>
            <div class="col-xl-3 col-md-4 p-2 m-1 uzm-button-link">
                <a class="fw-bold" href="{% url 'metalhoses-rgm' %}">{% trans 'Metal hoses' %} РГМ</a>
            </div>
            <div class="col-xl-3 col-md-4 p-2 m-1 uzm-button-link">
                <a class="fw-bold" href="{% url 'metalhoses' %}">{% trans 'Metal hoses' %}</a>
            </div>
            <div class="col-xl-3 col-md-4 p-2 m-1 uzm-button-link">
                <a class="fw-bold" href="{% url 'gibkie-truboprovody' %}">Гибкие трубопроводы</a>
            </div>
            <div class="col-xl-3 col-md-4 p-2 m-1 uzm-button-link">
                <a class="fw-bold" href="{% url 'metalhoses-v-opletke' %}">{% trans 'Metal hoses' %} в оплетке</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}