{% extends 'rzmr/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-uzm">
            <h1 class="h3 fw-bold py-2">{{ title }} {% if city_pre %} в {{ city_pre }} {% endif %}
                от производителя {{ company_name_short }}</h1>

            {% if city_location == 'Москва' %}

            <p>Из гибких металлических рукавов собираются специальные промышленные транспортировочные системы,
                предназначенные для перекачки жидкостей, газов, сыпучих веществ, а также для защиты кабелей и проводов.
                Они находят применение в строительстве, машиностроении, пищевой и химической промышленности, а также в
                системах отопления и вентиляции. Купить металлорукава РГМ в Москве вы можете в компании
                {{ company_name_short }}. Мы предлагаем гарантии качества, выгодную стоимость без наценок и быструю
                доставку по всей России.
            </p>

            {% elif city_location == 'Екатеринбург' %}

            <p>Металлорукава РГМ являются универсальным решением для переноса различных жидкостей, газов и воздуха. Они
                обладают превосходной герметичностью, стойкостью к высоким температурам, а также отличными механическими
                свойствами. Благодаря гофрированной структуре, рукава обладают гибкостью и позволяют компенсировать
                тепловое расширение и вибрации, что значительно продлевает их срок службы. Вы можете купить
                металлорукава РГМ в Екатеринбурге в компании {{ company_name_short }} с доставкой на выгодных условиях.
            </p>

            {% elif city_location == 'Челябинск' %}

            <p>Металлорукава РГМ &ndash; это гибкие трубы, имеющие сложную конструкцию: они состоят из внутренней гибкой
                оболочки, металлического гофрированного слоя и наружной оплетки. Такое строение позволяет приспособить
                технологию для решения широкого круга различных промышленных задач. Они используются для транспортировки
                рабочей среды в условиях риска механических повреждений, воздействия влаги, пыли, химически агрессивных
                сред и электромагнитных помех. В компании {{ company_name }} вы можете купить
                металлорукава в Челябинске.</p>


            {% elif city_location == 'Магнитогорск' %}

            <p>Металлорукав &ndash; это гибкий трубчатый элемент, созданный из металлической полосы или специального
                металлического листа. Он широко используется в различных отраслях промышленности для транспортировки
                жидких, газообразных и сыпучих веществ, находящихся под воздействием высокого давления, экстремальных
                температур и других агрессивных факторов. Также они популярны в строительстве для защиты проводов,
                кабелей, труб и других подвижных или гибких элементов. Вы можете купить металлорукава РГМ с доставкой в
                Магнитогорск в компании {{ company_name }}.</p>

            {% elif city_location == 'Пермь' %}

            <p>Металлорукава РГМ представляют собой гибкие трубопроводные системы, которые активно используются для
                решения различных задач промышленности, строительства и логистики. Они сочетают в себе преимущества как
                жестких трубопроводов (прочность, устойчивость к агрессивным условиям), так и гибких транспортировочных
                систем (удобство монтажа, сопротивляемость гидроударам и вибрационным нагрузкам). Вы можете купить
                металлорукава РГМ в Перми в компании {{ company_name }}. Собственное
                производство и развитая логистика позволяют нам предлагать клиентам выгодные условия доставки в любой
                город России с сохранением исключительного качества продукции!</p>

            {% elif city_location == 'Самара' %}

            <p>Металлические рукава РГМ могут применяться во многих областях производства и рабочих процессах. Они
                широко используются на предприятиях топливно-энергетического комплекса, для транспортировки различных
                рабочих сред, в пищевой промышленности, при заполнении резервуаров сжиженным углеводородом, в системах
                отвода выхлопных газов и создании гибких проводок систем пожарной безопасности. Это лишь некоторые
                области их применения, их возможности расширяются в зависимости от конкретных потребностей и требований
                процесса. Купить металлорукава РГМ в Самаре вы можете в компании {{ company_name_short }},
                воспользовавшись услугой доставки. Наше производство расположено в Санкт-Петербурге, но мы работаем с
                2008 года и за это время создали развитую логистическую сеть. Это позволяет нам предлагать выгодную
                доставку в любой город России!
            </p>

            {% elif city_location == 'Уфа' %}

            <p>Металлические рукава РГМ представляют собой прочные и гибкие трубчатые конструкции, изготовленные из
                высококачественной нержавеющей стали, алюминия или других металлических материалов. Купить металлорукава
                РГМ &ndash; лучший способ обеспечить надежную защиту и эффективную передачу веществ в широком спектре
                промышленных отраслей, включая нефтегазовую, химическую, пищевую, фармацевтическую и многие другие.
            </p>

            {% elif city_location == 'Казань' %}

            <p>Металлорукава РГМ являются гибкими трубопроводными элементами, предназначенными для защиты и перемещения
                жидких, газообразных и сыпучих сред, а также проводов, кабелей и других подобных систем. Купить
                металлорукава РГМ в Казани вы можете в компании {{ company_name }}. Мы комплектуем партии товаров в
                Санкт-Петербурге и предлагаем выгодную и быструю доставку в любой город России.
            </p>

            {% elif city_location == 'Омск' %}

            <p>Металлические рукава РГМ являются идеальным решением для эффективной транспортировки веществ и материалов
                во множестве разнообразных сфер производства и логистики, а также для других промышленных задач. Эти
                универсальные и надежные системы обладают рядом преимуществ, которые делают их незаменимыми в процессе
                перекачки. В Омске вы можете купить металлорукава РГМ в компании {{ company_name_short }}. Это
                предприятие Санкт-Петербурга, осуществляющее быструю и надежную доставку в любой город России, а также
                гарантирующее качество каждого изделия.
            </p>

            {% elif city_location == 'Нижний Новгород' %}

            <p>Металлорукава РГМ обладают высокими характеристиками механической прочности и сопротивляемости нагрузкам
                (как у жестких трубопроводов), одновременно оставаясь гибкими и легкими (как гибкие системы). Они
                применяются для перемещения жидких, газообразных и сыпучих сред в различных промышленных, строительных и
                логистических процессах: работе с агрессивными химическими веществами, эксплуатации коммуникаций,
                оросительных, смазочных, топливных систем и т.д. Купить металлорукава РГМ в Нижнем Новгороде можно в 
                {{ company_name }}. В нашем распоряжении большие производственные мощности, мы
                гарантируем качество товара и оперативные поставки. Вы можете сделать заказ любого масштаба, а мы
                предложим выгодные условия и привлекательную цену от производителя.
            </p>

            {% else %}

            <p>Специальные металлические рукава РГМ предназначены для снижения воздействия различных механических
                нагрузок, свойственных твердым трубопроводам. К таким нагрузкам относятся тепловые, монтажные и
                вибрационные напряжения. Эти рукава обеспечивают транспортировку различных жидкостей и газов при
                экстремальных условиях, включая высокие температуры и давления. В компании {{ company_name_short }} вы
                можете купить металлорукава РГМ в Санкт-Петербурге с доставкой из Уфы. Мы обладаем высокими
                производственными мощностями, строго контролируем качество каждого изделия и гарантируем выгодную и
                надежную доставку в любой город России.
            </p>

            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="{% url 'metalhoses-corrugations' %}">
                <p class="wrapper-up-uzm-card fs-5">
                    Гофра
                </p>
                <p class="uzm-text-card">
                    герметичная оболочка с кольцевыми гофрами, расположенными параллельно. Изготавливается методом
                    гидроформовки
                    из трубных заготовок, сваренных аргонодуговой сваркой встык по длине трубы.
                </p>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-corrugation' 'standartnaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Стандартная <br> Ø6 - Ø400</div>
                </div>
                <img src="{% static '/rzmr/img/marked_gofra_standart.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-corrugation' 'povishennoy_gibkosti' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Повышенной гибкости <br> Ø6 - Ø200</div>
                </div>
                <img src="{% static '/rzmr/img/marked_gofra_povishennoi_gibkosti.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-corrugation' 'tyazhelaya_seriya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Тяжёлая серия <br> Ø6 - Ø200</div>
                </div>
                <img src="{% static '/rzmr/img/marked_gofra_tyagelaya.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-corrugation' 'spiralnaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Спиральная <br> Ø6 - Ø200</div>
                </div>
                <img src="{% static '/rzmr/img/marked_gofra_spiralnaya.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-corrugation' 'dvukhsloynaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Двухслойная <br> Ø6 - Ø200</div>
                </div>
                <img src="{% static '/rzmr/img/marked_gofra_dvuhsloinaya.png' %}" alt="gofra">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="{% url 'metalhoses-braids' %}">
                <p class="wrapper-up-uzm-card fs-5">
                    Оплетка
                </p>
                <p class="uzm-text-card">
                    представляет собой защитную оболочку сетчатого типа и изготавливается из стальной нержавеющей
                    проволоки 12Х18Н9Т. Позволяет обеспечить работоспособность рукава при воздействии различных
                    нагрузок, а также пульсации давлений, возникающих при транспортировке по гибкому элементу рабочей
                    среды. Оплетка должна плотно облегать рукав, не иметь оборванных частей.
                </p>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-braid' 'odnosloynaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Однослойная</div>
                </div>
                <img src="{% static '/rzmr/img/marked_opletka_odinarnaya.png' %}" alt="opletka">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-braid' 'dvukhsloynaya'  %}">
                <div class="wrapper-up-uzm-card">
                    <div>Двухслойная</div>
                </div>
                <img src="{% static '/rzmr/img/marked_opletka_dvoinaya.png' %}" alt="opletka">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-braid' 'trekhsloynaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Трехслойная</div>
                </div>
                <img src="{% static '/rzmr/img/marked_opletka_troinaya.png' %}" alt="opletka">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="{% url 'metalhoses-inners' %}">
                <p class="wrapper-up-uzm-card fs-5">
                    Внутренний экран
                </p>
                <p class="uzm-text-card">
                    защитный элемент рукава, помещенный внутрь гибкой части позволяющий исключить/сократить контакт
                    рукава со средой, либо за счет своего наличия продлить срок службы изделия.
                </p>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-inner' 'trubnyy' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Трубный</div>
                </div>
                <img src="{% static '/rzmr/img/marked_ekran_trubnii.png' %}" alt="ekran">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-inner' 'valtsovannyy' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Вальцованный</div>
                </div>
                <img src="{% static '/rzmr/img/marked_ekran_valcovanii.png' %}" alt="ekran">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-inner' 'opletochnyy' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Оплёточный</div>
                </div>
                <img src="{% static '/rzmr/img/marked_ekran_opletochnii.png' %}" alt="ekran">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-inner' 'ptfe' %}">
                <div class="wrapper-up-uzm-card">
                    <div>PTFE</div>
                </div>
                <img src="{% static '/rzmr/img/marked_ekran_PTFE.png' %}" alt="ekran">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="{% url 'metalhoses-outsides' %}">
                <p class="wrapper-up-uzm-card fs-5">
                    Наружная оболочка
                </p>
                <p class="uzm-text-card">
                    часть рукава в которую заключается гибкая часть для предотвращения различных воздействий
                    (температурных, механических и т.д.). Выбирается исходя из предполагаемых условий эксплуатации
                    изделия.
                </p>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-outside' 'termochekhol' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Термочехол</div>
                </div>
                <img src="{% static '/rzmr/img/marked_termochehol.png' %}" alt="hoses">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-outside' 'termorukav' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Терморукав</div>
                </div>
                <img src="{% static '/rzmr/img/marked_termorukav.png' %}" alt="hoses">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-outside' 'rezinovaya_obolochka' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Резиновая оболочка</div>
                </div>
                <img src="{% static '/rzmr/img/marked_rezinovaya_obolochka.png' %}" alt="hoses">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-outside' 'pruzhina' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Пружина</div>
                </div>
                <img src="{% static '/rzmr/img/marked_pruzhina.png' %}" alt="hoses">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-outside' 'pletenka_mednaya_luzhenaya_pml' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Плетёнка медная лужёная (ПМЛ)</div>
                </div>
                <img src="{% static '/rzmr/img/pletenka_mednaya_luzonaya.png' %}" alt="hoses">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="{% url 'metalhoses-special' %}">
                <p class="wrapper-up-uzm-card fs-5">
                    Специальные разработки
                </p>
                <p class="uzm-text-card pt-4">
                    Для решения нетривиальных задач нашим конструкторским отделом разрабатываются различные модификации
                    на основе металлорукавов РГМ.
                </p>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-special' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Специальные разработки</div>
                </div>
                <img src="{% static '/rzmr/img/spec_razrabotki.png' %}" alt="hoses">
            </a>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <p class="wrapper-up-uzm-card fs-5">
                Маркировка
            </p>
            <p class="uzm-text-card">
                металлорукав серии РГМ имеет маркировку, нанесенную непосредственно на концевую арматуру
                металлорукава, либо располагающуюся на ярлыках, этикетках, металлических бирках, закрепленных на
                металлическом рукаве
            </p>
        </div>
        <div class="col-lg-10 col-md-6 col-12">
            <div class="wrapper-up-uzm-card">
                <div>Трубный</div>
            </div>
            <p>
                Пример маркировки металлорукава РГМ: <br>
                РГМ 50-40-1,0 с/а <br>
                Расшифровка: <br>
                РГМ — серия изделия (рукав герметичный металлический); <br>
                50 – номинальный внутренний диаметр рукава, мм; <br>
                40 - наибольшее рабочее давление рукава в кгс/см<sup>2</sup> (атм) при нормальных условиях эксплуатации;
                <br>
                1,0 — номинальная длина рукава в сборе, м; <br>
                с/а – наличие специальной концевой арматуры в соответствии с требованиями Заказчика. Полное описание
                концевой арматуры представлено в паспорте Заказчика. Маркировка рукава с отсутствием аббревиатуры<br>
                с/а – рукав без арматуры, под приварку.
            </p>
        </div>
        <div class="row">
            <div class="col-12 text-uzm">
                <h5 class="py-5">Основные рабочие характеристики металлорукавов:</h5>
                <table class="uzm-table">
                    <tbody>
                        <tr>
                            <td><img src="{% static '/rzmr/img/Icon5.jpg' %}"></td>
                            <td>Условный внутренний диаметр Dy</td>
                            <td>6-350 мм</td>
                        </tr>
                        <tr>
                            <td><img src="{% static '/rzmr/img/Icon6.jpg' %}"></td>
                            <td>Рабочее давление Рраб</td>
                            <td>0,1-350 бар</td>
                        </tr>

                        <tr>
                            <td><img src="{% static '/rzmr/img/Icon7.jpg' %}"></td>
                            <td>Рабочая среда</td>
                            <td>Воздух, азот, гелий, кислород, водород, нефтепродукты, кислоты, техническая вода, пар,
                                бензин,керосин и т.д.</td>
                        </tr>
                        <tr>
                            <td><img src="{% static '/rzmr/img/Icon8.jpg' %}"></td>
                            <td>Температура рабочей среды</td>
                            <td>от -220 до +440 °C</td>
                        </tr>
                        <tr>
                            <td><img src="{% static '/rzmr/img/Union.jpg' %}">
                            </td>
                            <td>Радиус изгиба</td>
                            <td>В среднем 5 Ду</td>
                        </tr>
                    </tbody>
                </table>

                {% if city_location == 'Москва' %}

                <h4>Особенности металлических рукавов РГМ</h4>
                <p>Они изготавливаются из таких материалов как нержавеющая сталь, гофросталь или алюминий. Их основное
                    преимущество заключается в гибкости, которая позволяет им легко прокладываться вдоль сложных
                    траекторий и избегать препятствий.</p>
                <p>Они обладают высокой прочностью и устойчивостью к различным физическим и химическим воздействиям,
                    включая высокие температуры, абразивные материалы, химические реагенты и давление. Такие
                    трубопроводы способны выдерживать большие перепады температур, что делает их идеальными для
                    использования в условиях с экстремальными температурами.</p>
                <p>Часто рукава РГМ применяются в системах вентиляции и кондиционирования воздуха, в системах отвода
                    пыли и вредных выбросов, а также в технологических процессах, требующих герметичности и прочности
                    соединения. Эта технология также может применяться для компенсации теплового расширения в системах
                    трубопроводов.</p>
                <p>Установка и монтаж гибких транспортных систем обычно происходит с использованием соединительных
                    фланцев или фитингов, которые обеспечивают надежное и герметичное соединение. Это позволяет легко
                    подключать и отключать рукава при необходимости обслуживания или замены.</p>
                <h4>Какие вещества можно транспортировать?</h4>
                <p>С помощью металлических рукавов РГМ можно перемещать различные среды: жидкие, газообразные, сыпучие.
                    Благодаря уникальным характеристикам, рукава готовы к воздействию высокого давления, экстремальных
                    температур, гидроударам и другим нагрузкам.</p>
                <p>Конструкция металлорукава РГМ содержит конструктивные элементы, обеспечивающие сохранность формы и
                    размеров в условиях высокого внутреннего и внешнего давления среды, высокой температуры, вибраций.
                </p>
                <p>Организация работ в {{ company_name }} предусматривает контроль
                    производства, соблюдение стандартов на всех его этапах за счет работы собственной службы
                    технического контроля. Обратитесь к нам, если вам нужно надежное техническое решение!
                </p>

                {% elif city_location == 'Екатеринбург' %}

                <h4>Сфера применения</h4>
                <p>Главная область использования &ndash; переправка разного рода веществ, в том числе агрессивного
                    свойства, например, взрывоопасных и токсичных. Такие трубопроводы универсальны в использовании,
                    поскольку могут быть соединены практически с любыми составляющими трубопровода. Благодаря своим
                    свойствам, такие транспортировочные системы могут быть использованы даже в пищевой промышленности.
                </p>
                <p>Металлические рукава РГМ &ndash; это герметичный трубопровод хорошей гибкости. Снаружи он защищен
                    надежной оплеткой из нержавейки, а по концам оборудован крепежной арматурой, которая позволяет
                    компенсировать деформации, возникающие при монтаже.</p>
                <p>К главным техническим характеристикам этих изделий следует отнести:</p>
                <ul>
                    <li>возможность применения в разных средах, таких как газ, жидкость, вещества с повышенной
                        агрессивностью и нефтесодержащие среды;</li>
                    <li>температурный режим применения: от -220 до +400 градусов;</li>
                    <li>давление: до 28 мПа, будет зависеть от того, какой вариант рукава использован.</li>
                </ul>
                <p>Одна из главных характеристик, благодаря которым достигается длительный срок службы изделия &ndash;
                    его высокое качество, профессиональная установка, правильное использование и обслуживание.</p>
                <h4>Изделия от {{ company_name }}</h4>
                <p>В нашем ассортименте Вы найдете различные размеры и виды рукавов, чтобы выбрать оптимальное решение
                    для Ваших потребностей. Мы предлагаем металлические гофрированные рукава из высококачественных
                    материалов, которые отвечают всем стандартам и требованиям безопасности.</p>
                <p>Преимущества наших рукавов не ограничиваются только их надежностью. Они также легко устанавливаются и
                    демонтируются, что позволяет сократить время и затраты на обслуживание оборудования. Высокая
                    адаптивность к различным рабочим условиям делает их идеальным выбором для различных сфер применения,
                    включая промышленность, строительство, отопление и кондиционирование, пищевую промышленность и
                    многое другое.</p>
                <p>Наши металлорукава РГМ предлагаются по конкурентным ценам, и мы гарантируем, что каждый клиент
                    получит высокое качество и надежность от нашей продукции. Мы также предоставляем профессиональную
                    консультацию и помощь в выборе оптимального решения для Вашего бизнеса.</p>
                <p>Обратитесь к нам сегодня, и мы поможем Вам найти идеальное решение для Ваших потребностей в
                    металлических гофрированных рукавах в Екатеринбурге. Позвоните нам по номеру
                    <a href="tel:+73433579710">+7 (343) 357-97-10</a> или оставьте заявку на нашем сайте.
                </p>

                {% elif city_location == 'Челябинск' %}

                <h4>Основные характеристики металлических рукавов РГМ</h4>
                <p>Такие трубопроводы являются очень гибкими, что облегчает их установку в труднодоступных местах. Они
                    снабжены гофрой, которая позволяет конструкции расширяться и сжиматься при необходимости,
                    обеспечивая дополнительную эластичность и компенсацию теплового расширения.</p>
                <p>Технология широко применяется в различных отраслях, включая электротехнику, машиностроение,
                    химическую промышленность, нефтегазовую отрасль и другие области, где необходима защита проводов и
                    кабелей от вредных факторов и обеспечение электромагнитной совместимости.</p>
                <h4>Применение</h4>
                <ul>
                    <li>Водопроводные и отопительные системы &ndash; для соединения трубопроводов и компенсации тепловых
                        расширений. Они приспособлены к высокому давлению и перепадам температур.</li>
                    <li>Химическая промышленность &ndash; применяются для транспортировки агрессивных жидкостей и газов.
                    </li>
                    <li>Машиностроение и автомобильное производство &ndash; применяются в производстве машин и
                        автомобилей для соединения движущихся или подверженных вибрации компонентов.</li>
                    <li>Нефтегазовая отрасль &ndash; для транспортировки нефти, газа и других сырьевых материалов.</li>
                    <li>Пищевая и медицинская промышленность &ndash; гибкие трубопроводы соответствуют
                        санитарно-гигиеническим нормам, поэтому могут использоваться в производстве и транспортировке
                        пищевых продуктов и медикаментов.</li>
                </ul>
                <p>Транспортная система должен работать при высоком давлении, транспортировать, в некоторых случаях,
                    агрессивную среду, работать при любой температуре заданного широкого диапазона температур.</p>
                <p>Всем указанным требованиям соответствуют металлорукава серии РГМ производства
                    {{ company_name_short }}. Работа в условиях высокого давления обеспечивается наличием оплетки,
                    сплетенной из нержавеющей легированной стали.</p>
                <p>Увеличение прочности металлорукавов обеспечивается специальной металлической оплеткой, которая может
                    состоять из одного, двух или трех слоев.
                </p>

                {% elif city_location == 'Магнитогорск' %}

                <h4>Для чего используются гибкие транспортные системы?</h4>
                <p>В процессе производства машин и механизмов может возникнуть необходимость в транспортировании
                    материалов: газообразных, жидких, сыпучих. Транспортирование технологических веществ между двумя или
                    несколькими производственными емкостями представляет научно-практическую задачу, возникающую в
                    конструкторской, технологической области знаний.</p>
                <p>Транспортируемая среда может предъявлять специфические требования к транспортировочной системе. Это
                    касается как температурных параметров, так и параметров давления, характеристик агрессивности.
                    Применяемые гибкие трубопроводы имеют различные конструктивные особенности. Техническая область их
                    применения охватывает множество научно-производственных задач из областей: сопротивления материалов,
                    теоретической механики, материаловедения и других областей. Все это делает технологию металлорукавов
                    РГМ востребованной в различных отраслях промышленности: от топливно-энергетической до медицинской и
                    пищевой.</p>
                <h4>Конструктивные особенности</h4>
                <p>Элементы системы могут соединяться друг с другом различным способом. Часто используются быстросъемные
                    схемы соединений. Среди них, в частности, гайка РОТ, которая с помощью конструктивных особенностей
                    обеспечивает герметичность стыкового соединения и замыкание соединения через малый угол поворота
                    гайки.</p>
                <p>Эта конструкция соединения используется для стыковки металлических рукавов РГМ, где перекачиваются
                    газообразные и жидкие технологические продукты. Среди них кислород, азот, нефтепродукты и многие
                    другие вещества, требующие герметичного прилегания соединительных деталей в местах стыков.</p>
                <p>Гайка снабжается герметичным обжимным или медным кольцом с прокладками, обеспечивающими уплотнение
                    соединения.</p>
                <p>Производственные жидкости и газы, транспортируемые под большим давлением, имеют прочностную защиту в
                    виде проволочной оплётки из нержавеющей легированной стали.
                </p>

                {% elif city_location == 'Пермь' %}

                <h4>Конструкция</h4>
                <p>Система заказа металлорукавов РГМ позволяет конфигурировать каждый &laquo;слой&raquo; для создания
                    трубопровода, отвечающего конкретным требованиям. Внутренний слой может быть выполнен из различных
                    материалов, таких как трубы, вальцованные или оплеточные рукава, а также из PTFE-рукавов для защиты
                    от контакта с рабочей средой. Сильфон может быть стандартной или гибкой гофрой, тяжелой серией,
                    спиральной или двухслойной. Оплетка рукава может быть одно-, двух- или трехслойной, а наружный слой
                    может быть выполнен из различных материалов, таких как резина, пружина, терморукав, термочехол или
                    медное плетеное покрытие.</p>
                <p>Концевая арматура металлорукавов также имеет различные конструкции и назначение. Она может быть
                    резьбовой для быстрой и надежной сборки, фланцевой для обеспечения герметичности при прокладке
                    байпасных линий, или использоваться быстроразъемные соединения, такие как камлоки, струбцины,
                    арматура ПМТ и другие типы.</p>
                <h4>Использование технологии</h4>
                <p>Когда возникает необходимость перекачать техническую жидкость из одного места в другое, применяются
                    металлорукава РГМ. Поэтому данная продукция широко используется во многих промышленных отраслях.
                    Нередко транспортировка осуществляется в экстремальных условиях, поэтому необходимо позаботиться об
                    использовании подходящих трубопроводов.</p>
                <p>Часто приходится транспортировать разнообразные составы под высоким давлением. Нередко перекачиваются
                    смеси, температура которых имеет достаточно широкий диапазон. Еще несколько лет назад просто не было
                    технической возможности осуществлять подобную транспортировку. Но современные технологии позволяют
                    создавать рукава РГМ. Они изготовлены из гофрированной стали, которая выдерживает даже самые сильные
                    нагрузки.
                </p>

                {% elif city_location == 'Самара' %}

                <h4>Подробнее о технологии</h4>
                <p>Гибкие рукава являются достаточно востребованной продукцией, которая используется на различных
                    производственных предприятиях. Изделия могут различаться по своим техническим и эксплуатационным
                    характеристикам. Поэтому нужная модель подбирается индивидуально для конкретных целей.</p>
                <p>Мы можем предложить изделия различной конфигурации, подходящие для различных эксплуатационных
                    условий. Для байпасных линий подходят быcтроразъемные соединения, а для постоянных коммуникаций
                    &ndash; арматура &laquo;под сварку&raquo;. Для сопротивления экстремальным температурам на оплетку
                    может быть дополнительно установлен чехол, также можно выбрать и количество слоев оплетки. Свяжитесь
                    с нами по номеру <a href="tel:88005555756">8 (800) 5555-756</a> или оставьте заявку на сайте, чтобы
                    мы могли проконсультировать вас.</p>
                <h4>Применение рукавов РГМ</h4>
                <p>Наша компания, {{ company_name }}, предлагает гибкие трубопроводы из
                    металлических рукавов РГМ, которые обладают рядом преимуществ при использовании. Эти трубопроводы
                    способны работать в экстремальных температурных условиях и выдерживать воздействие агрессивных
                    химикатов при высоком давлении. Они также отличаются высокой механической прочностью и способностью
                    выдерживать нагрузки.</p>
                <p>Гибкие трубопроводы находят свое применение в различных отраслях промышленности. Они широко
                    используются на предприятиях топливно-энергетического комплекса, в пищевой промышленности для
                    перемещения жидкостей и сыпучих материалов, а также в медицине, машиностроении, приборостроении, в
                    газоотводных, смазочных, топливных, оросительных системах и для монтажа гибкой проводки в
                    противопожарной технике.</p>
                <p>Если вас интересуют гибкие трубопроводы из металлических рукавов РГМ, мы приглашаем вас ознакомиться
                    с нашими товарами в интернет-каталоге и заполнить форму заявки для их приобретения. Мы гарантируем
                    высокое качество продукции и предлагаем лучшие условия сотрудничества. Сотрудничайте с нами &ndash;
                    лучшим партнером для приобретения гибких трубопроводов!
                </p>

                {% elif city_location == 'Уфа' %}

                <h4>Для чего нужны металлорукава РГМ?</h4>
                <p>Гибкие трубопроводы применяются для перекачки разнообразной технической среды из одной емкости в
                    другую. Агрегатное состояние, температура, давление, агрессивность среды могут быть настолько
                    разнообразны, что это представляет серьезный технологический вызов. Сейчас металлорукава РГМ
                    являются оптимальным решением: они способны выдерживать агрессивное химическое воздействие среды,
                    избыточное давление, вибронагрузки. Кроме того, они являются легкими в монтаже и транспортировке, а
                    одним из главных преимуществ гибких трубопроводов является экономичность.</p>
                <p>Агрессивность среды в настоящее время может быть отражена либо внутренней гофрой из легированной
                    нержавеющей стали, либо участием в конструкции рукава материала фторопласт 4 (PTFE). Высокому
                    давлению успешно противостоит стальная оплетка, препятствующая увеличению диаметрального размера
                    рукава под действие избыточного давления. Температурные колебания в широком диапазоне также
                    компенсируются участием в конструкции рукава нержавеющей стали 12Х18Н10Т, сохраняющим
                    физико-химические свойства в большом диапазоне температур.</p>
                <p>Металлорукава снабжаются любыми деталями концевой арматуры, в том числе, изготавливаемыми по заявкам
                    заказчика. Это позволяет адаптировать трубопровод под любые нужды.</p>
                <h4>Преимущества гибких трубопроводов</h4>
                <p>Основная особенность металлических рукавов РГМ &mdash; их непревзойденная прочность и долговечность.
                </p>
                <ul>
                    <li>Они способны выдерживать высокое давление, экстремальные температуры и агрессивные среды,
                        сохраняя при этом свою работоспособность на протяжении длительного времени. Это особенно важно
                        для оборудования, работающего в условиях с повышенными требованиями к безопасности и надежности.
                    </li>
                    <li>Помимо прочности, металлические рукава РГМ обладают высокой гибкостью, что делает их легкими в
                        установке и монтаже на различных типах оборудования. Они способны принимать различные формы и
                        легко подстраиваться под требуемые параметры, что позволяет сократить время и затраты на
                        проектные работы.</li>
                    <li>Они обладают высокой устойчивостью к коррозии, а также могут компенсировать и вибрацию,
                        обеспечивая стабильную и безопасную работу системы.</li>
                    <li>Благодаря передовым технологиям и строгому контролю качества, мы гарантируем высокую надежность
                        и производительность наших рукавов.</li>
                </ul>
                <p>Вы можете купить металлорукава РГМ в Уфе в {{ company_name_short }}. Мы предлагаем официальные
                    гарантии и удобные условия доставки. Позвоните по номеру
                    <a href="tel:+73472929864">+7 (347) 292-98-64</a> или оставить заявку на нашем сайте.
                </p>

                {% elif city_location == 'Казань' %}

                <h4>Свойства гибких рукавов</h4>
                <p>Металлорукава обладают несколькими важными свойствами и преимуществами.</p>
                <ul>
                    <li>Обеспечивают защиту рабочей среды от воздействия механических и физических воздействий, таких
                        как удары, вибрации, сжатия, изгибы и повреждения.</li>
                    <li>Обладают хорошей герметичностью и могут предотвратить проникновение влаги, пыли, нефти и других
                        потенциально опасных веществ.</li>
                    <li>Способны выдерживать высокие температуры и химические реагенты, что делает их применимыми в
                        различных отраслях промышленности.</li>
                </ul>
                <p>Эта технология применяется во многих областях, включая электротехнику, энергетику, машиностроение,
                    автомобильную промышленность, нефтегазовую отрасль и другие. Она используются для прокладки
                    электрических кабелей в зданиях и сооружениях, для защиты проводов на различных промышленных
                    объектах, для соединения и перемещения гибких трубопроводов и т.д.</p>
                <p>Выбор металлорукава РГМ зависит от конкретных требований проекта и условий эксплуатации. Варианты
                    могут различаться по размерам, материалам, уровню герметичности и другим параметрам.</p>
                <h4>Конструкция</h4>
                <p>Основой металлорукава РГМ является гофрированная трубка. Однако она выполнена из высокопрочной
                    легированной стали. Здесь важным является не только материал, но и сама конструкция изделия. Оно
                    получается гибким, но достаточно прочным. Такой трубопровод идеально подходит для транспортировки и
                    пересыпания из одной емкости в другую различных веществ. Рукава предназначены для работы в
                    экстремальных условиях.</p>
                <p>Внимание стоит уделить и концевой арматуре. Современное производство позволяет выпускать рукава в
                    различных вариантах. Таким образом, устанавливать и надежно закреплять их можно на любых механизмах
                    и агрегатах. Идеальная герметичность позволяет транспортировать не только сыпучие и жидкие вещества.
                    Трубопровод отлично подходит для работы с различными газами.</p>
                <p>Мы готовы изготовить не только стандартные изделия, но и рукава по индивидуальному чертежу. Таким
                    образом, вы получите именно тот трубопровод, в котором нуждается ваше предприятие. При необходимости
                    количество слоев металлической оплетки можно увеличить, что позволит добиться максимальной прочности
                    изделия.
                </p>

                {% elif city_location == 'Омск' %}

                <h4>Что такое рукава РГМ</h4>
                <p>Современная промышленность требует решения многих технических задач. Среди них особого внимания
                    заслуживает транспортировка различных веществ, в том числе и опасных. Причем нередко газы, жидкости
                    и смеси имеют экстремально высокие или низкие температуры. Часто составы подаются под высоким
                    давлением. Для таких действий незаменимыми считаются металлорукава РГМ.</p>
                <p>Данные конструкции представлены в виде трубопроводов, которые изготовлены из нержавеющей
                    гофрированной стали. Они способны выдерживать сильные нагрузки, поэтому рассчитаны на работу в
                    экстремальных условиях. К главным преимуществам таких систем можно отнести их гибкость и идеальную
                    герметичность. Они обеспечивают не только эффективность, но и высокую безопасность, что также очень
                    важно на любом производстве.</p>
                <h4>Особенности технологии</h4>
                <ul>
                    <li>Прежде всего, гибкие металлические рукава обладают уникальной гибкостью и маневренностью, что
                        позволяет легко устанавливать их даже в труднодоступных местах.</li>
                    <li>Они также предлагают высокую надежность и долговечность. Элементы гибкого трубопровода,
                        изготовленные из качественных металлических материалов, обладают отличным уровнем сопротивления
                        интенсивным нагрузкам, вибрациям, давлению и повышенным температурам. Это обеспечивает их
                        эффективную и безопасную работу даже в самых экстремальных условиях.</li>
                    <li>Они легко подстраиваются под индивидуальные требования клиента. Они могут иметь различные
                        диаметры, длины и конфигурации, чтобы соответствовать уникальным потребностям каждого процесса
                        транспортировки. Более того, они могут быть адаптированы для перекачки различных сред, включая
                        различные жидкости, газы, нефтепродукты, агрессивные химические вещества и многое другое.</li>
                </ul>
                <p>Использование этой технологии помогает решать множество задач по перекачке сырья, продуктов и
                    материалов в разнообразных сферах, таких как нефтегазовая промышленность, химическая промышленность,
                    пищевая промышленность и другие. Благодаря своей универсальности и надежности, они помогают
                    оптимизировать производственные процессы, увеличивают эффективность и снижают расходы.</p>
                <p>Если вам требуется надежная и гибкая система транспортировки, металлорукава РГМ &ndash; ваш лучший
                    выбор. Обратитесь в компанию {{ company_name_short }}, чтобы получить качественное
                    решение, специально разработанное для ваших потребностей!
                </p>

                {% elif city_location == 'Нижний Новгород' %}

                <h4>Применение</h4>
                <p>Внутреннее покрытие защищает металлорукав РГМ от нежелательного контакта с рабочей средой, а внешняя
                    оболочка &ndash; от агрессивного воздействия внешней среды. То, какие изделия нужны именно вам,
                    зависит от вещества, которое будет транспортироваться по трубопроводу, а также от ожидаемых
                    механических, температурных и химических нагрузок, которые будут оказываться на коммуникации.
                    Отправьте заявку, чтобы связаться с менеджером и узнать больше о наших товарах.</p>
                <p>Гибкие трубопроводы из металлических рукавов РГМ предоставляют множество эксплуатационных преимуществ
                    при использовании: они готовы к работе при экстремальных температурах, могут взаимодействовать с
                    агрессивными химикатами при повышенном давлении, обладают хорошими характеристиками механической
                    прочности и сопротивления нагрузкам. Благодаря этим свойствам, гибкие трубопроводы являются
                    популярным решением для прокладки коммуникаций во множестве сфер производства и логистики:</p>
                <ul>
                    <li>на предприятиях топливно-энергетического комплекса;</li>
                    <li>для перемещения жидкостей и сыпучих сред в пищевой промышленности;</li>
                    <li>в медицине;</li>
                    <li>в машиностроительном и приборостроительном производстве;</li>
                    <li>в газоотводных, смазочных, топливных, оросительных системах;</li>
                    <li>для монтажа гибкой проводки в противопожарной технике.</li>
                </ul>
                <h4>Концевая арматура</h4>
                <p>Устройство металлического рукава РГМ включает в себя не только несколько оболочек. При монтаже
                    коммуникаций значительную роль играет выбранный способ соединения модулей трубопровода. Разные виды
                    концевой арматуры служат для разных целей:</p>
                <ul>
                    <li>резьбовое соединение позволяет максимально быстро соединять элементы;</li>
                    <li>фланцевая арматура позволяет сделать байпасные коммуникации максимально герметичными;</li>
                    <li>к быстроразъемным соединениям относятся камлоки, струбцины, ПМТ-арматура и т.д.</li>
                </ul>
                <p>Сообщите консультанту, для каких целей и в каких условиях будет использоваться трубопровод, и мы
                    поможем вам выбрать оптимальный вид концевой арматуры. Ознакомьтесь с нашими товарами в
                    интернет-каталоге и заполните форму заявки. РГМ. {{ company_name }} &ndash; лучший партнер для
                    приобретения гибких трубопроводов!</p>

                {% else %}

                <h4>Конструкция</h4>
                <p>Металлические рукава РГМ состоят из герметичной оболочки, придающей им гофрированную структуру, такую
                    оболочку называют сильфоном, и она изготавливается из нержавеющей стали методом гидроформовки.
                    Сильфон может быть окружен оплеткой из нескольких слоев, а для соединения используется специальная
                    концевая арматура.</p>
                <p>Детали концевой арматуры весьма многообразны и позволяют стыковать практически любые агрегаты машин и
                    механизмов. При желании заказчика опытные конструкторы и технологи предприятия решают любые
                    конструкторские и технологические задачи, связанные с изготовлением герметичного металлорукава.
                    Таким образом, наше предприятие может изготовить любые металлорукава РГМ, необходимые для
                    потребностей заказчика, а заказчик может купить изделие в соответствии с потребностями собственного
                    производства.</p>
                <h4>Применение</h4>
                <p>Металлорукава РГМ применяются в различных отраслях благодаря своим высоким характеристикам
                    герметичности, механической прочности и гигиеничности.</p>
                <ul>
                    <li>Они широко используются в нефтегазоперерабатывающей промышленности.</li>
                    <li>Их применяют для транспортировки различных веществ, включая ядовитые и высокоопасные.</li>
                    <li>Они находят применение в пищевой промышленности.</li>
                    <li>Они используются при заполнении цистерн сжиженным углеводородным газом.</li>
                    <li>Они применяются для создания систем отвода выхлопных газов электрогенераторов.</li>
                    <li>Они используются для гибких подводок в противопожарных системах.</li>
                </ul>
                <p>Для последних трех задач используются специальные металлические рукава высокого давления, способные
                    выдерживать сильные нагрузки и обеспечивающие безопасность при эксплуатации. В профессиональной
                    области такие рукава часто называют МРВД.</p>
                <h4>Особенности</h4>
                <p>Особенности конструкции металлорукавов РГМ обусловлены необходимостью справляться с основными
                    нагрузками и обеспечивать безопасность работы. Некоторые из этих особенностей включают:</p>
                <ul>
                    <li>безопасную эксплуатацию при высоком давлении;</li>
                    <li>возможность быстрого проникновения среды со скоростью до 8 м/с для жидкостей и до 50 м/с для
                        газов;</li>
                    <li>способность амортизировать колебания и вибрации;</li>
                    <li>устойчивость к агрессивным средам;</li>
                    <li>гигиеничность и возможность использования в пищевой промышленности;</li>
                    <li>высокую гибкость трубопровода.</li>
                </ul>
                <p>Металлорукава РГМ &ndash; надежное и качественное техническое решение. Наша компания
                    {{ company_name }} работает с 2008 года и предлагает услуги опытных специалистов с
                    выгодными условиями сотрудничества. При выборе нашей продукции, вы можете рассчитывать на
                    оперативную работу и высокие стандарты качества.
                </p>

                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-3 py-5">
                <div class="horizontal-line-uzm my-4"></div>
            </div>
            <div class="text-center col-xl-4 col-6 py-5">
                <p class="fs-3 fw-bold">Смотрите также</p>
            </div>
            <div class="col-xl-4 col-3 py-5">
                <div class="horizontal-line-uzm my-4"></div>
            </div>
        </div>
        <div class="row text-center justify-content-center">
            <div class="col-xl-3 col-md-4 p-2 m-1 uzm-button-link">
                <a class="fw-bold" href="{% url 'metalhoses-for-welding' %}">{% trans 'For welding' %}</a>
            </div>
            <div class="col-xl-3 col-md-4 p-2 m-1 uzm-button-link">
                <a class="fw-bold" href="{% url 'metalhoses-hpress-rgm' %}">{% trans 'High pressure metal hoses' %}</a>
            </div>
            <div class="col-xl-3 col-md-4 p-2 m-1 uzm-button-link">
                <a class="fw-bold" href="{% url 'metalhoses' %}">{% trans 'Metal hoses' %}</a>
            </div>
            <div class="col-xl-3 col-md-4 p-2 m-1 uzm-button-link">
                <a class="fw-bold" href="{% url 'gibkie-truboprovody' %}">Гибкие трубопроводы</a>
            </div>
            <div class="col-xl-3 col-md-4 p-2 m-1 uzm-button-link">
                <a class="fw-bold" href="{% url 'metalhoses-v-opletke' %}">{% trans 'Metal hoses' %} в оплетке</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}