{% extends 'rzmr/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-uzm">
            <h1 class="h3 fw-bold py-2">{{ h1 }}</h1>
            <p>
                Рукав в рукаве - позволяет предотвращать теплопотери среды при прохождении через гибкую часть.
                Во внешнюю камеру подается жидкость сохраняющая заданный температурный режим в основном рукаве. 
            </p>
            <p class="py-4">
                <img src="{% static '/rzmr/img/spec_razrabotki.png' %}" alt="ekran">
            </p>
        </div>
    </div>
</div>
{% endblock content %}