{% extends 'rzmr/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-uzm">
            <h4 class="py-2">{{ title }}</h4>
            <p>
                Гибкие трубопроводы от компании {{ company_name }} обеспечивают надежную и безопасную
                транспортировку различных сред. Этот вид транспортировочных систем создан специально для работы в
                условиях повышенных эксплуатационных нагрузок: это касается и внешних факторов агрессивного воздействия
                среды, и характеристик перекачиваемых веществ. Мы гарантируем надежность и долговечность каждого
                изделия, так как вся продукция проходит строгий осмотр нашей службы контроля качества.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="{% url 'metalhoses-corrugations' %}">
                <p class="wrapper-up-uzm-card fs-5">
                    Гофра
                </p>
                <p class="uzm-text-card">
                    герметичная оболочка с кольцевыми гофрами, расположенными параллельно. Изготавливается методом
                    гидроформовки
                    из трубных заготовок, сваренных аргонодуговой сваркой встык по длине трубы.
                </p>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-corrugation' 'standartnaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Стандартная <br> Ø6 - Ø400</div>
                </div>
                <img src="{% static '/rzmr/img/marked_gofra_standart.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-corrugation' 'povishennoy_gibkosti' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Повышенной гибкости <br> Ø6 - Ø200</div>
                </div>
                <img src="{% static '/rzmr/img/marked_gofra_povishennoi_gibkosti.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-corrugation' 'tyazhelaya_seriya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Тяжёлая серия <br> Ø6 - Ø200</div>
                </div>
                <img src="{% static '/rzmr/img/marked_gofra_tyagelaya.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-corrugation' 'spiralnaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Спиральная <br> Ø6 - Ø200</div>
                </div>
                <img src="{% static '/rzmr/img/marked_gofra_spiralnaya.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-corrugation' 'dvukhsloynaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Двухслойная <br> Ø6 - Ø200</div>
                </div>
                <img src="{% static '/rzmr/img/marked_gofra_dvuhsloinaya.png' %}" alt="gofra">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="{% url 'metalhoses-braids' %}">
                <p class="wrapper-up-uzm-card fs-5">
                    Оплетка
                </p>
                <p class="uzm-text-card">
                    представляет собой защитную оболочку сетчатого типа и изготавливается из стальной нержавеющей
                    проволоки 12Х18Н9Т. Позволяет обеспечить работоспособность рукава при воздействии различных
                    нагрузок, а также пульсации давлений, возникающих при транспортировке по гибкому элементу рабочей
                    среды. Оплетка должна плотно облегать рукав, не иметь оборванных частей.
                </p>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-braid' 'odnosloynaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Однослойная</div>
                </div>
                <img src="{% static '/rzmr/img/marked_opletka_odinarnaya.png' %}" alt="opletka">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-braid' 'dvukhsloynaya'  %}">
                <div class="wrapper-up-uzm-card">
                    <div>Двухслойная</div>
                </div>
                <img src="{% static '/rzmr/img/marked_opletka_dvoinaya.png' %}" alt="opletka">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-braid' 'trekhsloynaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Трехслойная</div>
                </div>
                <img src="{% static '/rzmr/img/marked_opletka_troinaya.png' %}" alt="opletka">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="{% url 'metalhoses-inners' %}">
                <p class="wrapper-up-uzm-card fs-5">
                    Внутренний экран
                </p>
                <p class="uzm-text-card">
                    защитный элемент рукава, помещенный внутрь гибкой части позволяющий исключить/сократить контакт
                    рукава со средой, либо за счет своего наличия продлить срок службы изделия.
                </p>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-inner' 'trubnyy' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Трубный</div>
                </div>
                <img src="{% static '/rzmr/img/marked_ekran_trubnii.png' %}" alt="ekran">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-inner' 'valtsovannyy' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Вальцованный</div>
                </div>
                <img src="{% static '/rzmr/img/marked_ekran_valcovanii.png' %}" alt="ekran">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-inner' 'opletochnyy' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Оплёточный</div>
                </div>
                <img src="{% static '/rzmr/img/marked_ekran_opletochnii.png' %}" alt="ekran">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-inner' 'ptfe' %}">
                <div class="wrapper-up-uzm-card">
                    <div>PTFE</div>
                </div>
                <img src="{% static '/rzmr/img/marked_ekran_PTFE.png' %}" alt="ekran">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="{% url 'metalhoses-outsides' %}">
                <p class="wrapper-up-uzm-card fs-5">
                    Наружная оболочка
                </p>
                <p class="uzm-text-card">
                    часть рукава в которую заключается гибкая часть для предотвращения различных воздействий
                    (температурных, механических и т.д.). Выбирается исходя из предполагаемых условий эксплуатации
                    изделия.
                </p>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-outside' 'termochekhol' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Термочехол</div>
                </div>
                <img src="{% static '/rzmr/img/marked_termochehol.png' %}" alt="hoses">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-outside' 'termorukav' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Терморукав</div>
                </div>
                <img src="{% static '/rzmr/img/marked_termorukav.png' %}" alt="hoses">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-outside' 'rezinovaya_obolochka' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Резиновая оболочка</div>
                </div>
                <img src="{% static '/rzmr/img/marked_rezinovaya_obolochka.png' %}" alt="hoses">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-outside' 'pruzhina' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Пружина</div>
                </div>
                <img src="{% static '/rzmr/img/marked_pruzhina.png' %}" alt="hoses">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-outside' 'pletenka_mednaya_luzhenaya_pml' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Плетёнка медная лужёная (ПМЛ)</div>
                </div>
                <img src="{% static '/rzmr/img/pletenka_mednaya_luzonaya.png' %}" alt="hoses">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="{% url 'metalhoses-special' %}">
                <p class="wrapper-up-uzm-card fs-5">
                    Специальные разработки
                </p>
                <p class="uzm-text-card pt-4">
                    Для решения нетривиальных задач нашим конструкторским отделом разрабатываются различные модификации
                    на основе металлорукавов РГМ.
                </p>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'metalhoses-special' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Специальные разработки</div>
                </div>
                <img src="{% static '/rzmr/img/spec_razrabotki.png' %}" alt="hoses">
            </a>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <p class="wrapper-up-uzm-card fs-5">
                Маркировка
            </p>
            <p class="uzm-text-card">
                металлорукав серии РГМ имеет маркировку, нанесенную непосредственно на концевую арматуру
                металлорукава, либо располагающуюся на ярлыках, этикетках, металлических бирках, закрепленных на
                металлическом рукаве
            </p>
        </div>
        <div class="col-lg-10 col-md-6 col-12">
            <div class="wrapper-up-uzm-card">
                <div>Трубный</div>
            </div>
            <p>
                Пример маркировки металлорукава РГМ: <br>
                РГМ 50-40-1,0 с/а <br>
                Расшифровка: <br>
                РГМ — серия изделия (рукав герметичный металлический); <br>
                50 – номинальный внутренний диаметр рукава, мм; <br>
                40 - наибольшее рабочее давление рукава в кгс/см<sup>2</sup> (атм) при нормальных условиях эксплуатации;
                <br>
                1,0 — номинальная длина рукава в сборе, м; <br>
                с/а – наличие специальной концевой арматуры в соответствии с требованиями Заказчика. Полное описание
                концевой арматуры представлено в паспорте Заказчика. Маркировка рукава с отсутствием аббревиатуры<br>
                с/а – рукав без арматуры, под приварку.
            </p>
        </div>
        <div class="row">
            <div class="col-12 text-uzm">
                <h5 class="py-5">Основные рабочие характеристики металлорукавов:</h5>
                <table class="uzm-table">
                    <tbody>
                        <tr>
                            <td><img src="{% static '/rzmr/img/Icon5.jpg' %}"></td>
                            <td>Условный внутренний диаметр Dy</td>
                            <td>6-350 мм</td>
                        </tr>
                        <tr>
                            <td><img src="{% static '/rzmr/img/Icon6.jpg' %}"></td>
                            <td>Рабочее давление Рраб</td>
                            <td>0,1-350 бар</td>
                        </tr>

                        <tr>
                            <td><img src="{% static '/rzmr/img/Icon7.jpg' %}"></td>
                            <td>Рабочая среда</td>
                            <td>Воздух, азот, гелий, кислород, водород, нефтепродукты, кислоты, техническая вода, пар,
                                бензин,керосин и т.д.</td>
                        </tr>
                        <tr>
                            <td><img src="{% static '/rzmr/img/Icon8.jpg' %}"></td>
                            <td>Температура рабочей среды</td>
                            <td>от -220 до +440 °C</td>
                        </tr>
                        <tr>
                            <td><img src="{% static '/rzmr/img/Union.jpg' %}">
                            </td>
                            <td>Радиус изгиба</td>
                            <td>В среднем 5 Ду</td>
                        </tr>
                    </tbody>
                </table>
                <p>
                    {{ company_name }} предлагает широкий выбор гибких трубопроводов высокого давления для использования
                    в различных промышленных сферах. Наша компания занимается разработкой и производством качественных
                    систем, которые отвечают самым высоким стандартам.
                </p>
                <h4 class="pt-5 fw-bold">
                    Преимущества
                </h4>
                <ul type="circle">
                    <li class="py-1">Надежность: для изготовления используются высокопрочные материалы, обеспечивающие
                        долговечность и стабильное функционирование в самых экстремальных условиях.</li>
                    <li class="py-1">Широкий диапазон работоспособности: гибкие металлические трубопроводы могут
                        использоваться в широком диапазоне температур, давлений и для перекачки как нейтральных, так и
                        агрессивных сред.</li>
                    <li class="py-1">Гибкость: мы используем особый материал – фторопласт, который обеспечивает гибкость
                        транспортировочной системы. При этом сохраняется ее способность выдерживать повышенное давление
                        и другие эксплуатационные нагрузки внешней и внутренней среды.</li>
                    <li class="py-1">Дополнительное усиление конструкции: наши изделия оснащены металлической оплеткой
                        из высоколегированной проволоки. Это обеспечивает дополнительную защиту от растяжения и повышает
                        прочность транспортировочной системы. Дополнительно можно снабдить металлорукава усиленной
                        оболочкой и специальными опциями, например, термочехлами.</li>
                    <li class="py-1">Оптимальная конструкция: мы предлагаем разные варианты конструктивных решений,
                        позволяющие оптимально подобрать вариант под условия эксплуатации. Одно-, двух- или трехслойная
                        конструкция оплетки – все варианты доступны для вас.</li>
                    <li class="py-1">Индивидуальный подход: наша компания готова предложить транспортировочное решение,
                        учитывая требования и параметры вашего производства. Мы строим партнерские отношения с клиентами
                        и всегда нацелены на удовлетворение их потребностей.</li>
                </ul>
                <p>
                    Наша продукция прошла строгие испытания и соответствуют всем необходимым сертификатам и стандартам
                    качества. Мы гарантируем надежность и долговечность каждого изделия в партии.
                </p>
                <p>
                    Сделайте заказ и вы получите надежное и эффективное
                    решение для вашего производства. Наши специалисты всегда готовы помочь вам с выбором оптимальных
                    параметров и ответить на все ваши вопросы. Обращайтесь к нам уже сегодня и убедитесь в качестве
                    нашего предложения! Вы можете связаться с нами по телефону,
                    а также оставить заявку на сайте
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-3 py-5">
                <div class="horizontal-line-uzm my-4"></div>
            </div>
            <div class="text-center col-xl-4 col-6 py-5">
                <p class="fs-3 fw-bold">Смотрите также</p>
            </div>
            <div class="col-xl-4 col-3 py-5">
                <div class="horizontal-line-uzm my-4"></div>
            </div>
        </div>
        <div class="row text-center justify-content-center">
            <div class="col-xl-3 col-md-4 p-2 m-1 uzm-button-link">
                <a class="fw-bold" href="{% url 'metalhoses-hpress-rgm' %}">{% trans 'High pressure metal hoses' %}</a>
            </div>
            <div class="col-xl-3 col-md-4 p-2 m-1 uzm-button-link">
                <a class="fw-bold" href="{% url 'metalhoses-rgm' %}">{% trans 'Metal hoses' %} РГМ</a>
            </div>
            <div class="col-xl-3 col-md-4 p-2 m-1 uzm-button-link">
                <a class="fw-bold" href="{% url 'metalhoses' %}">{% trans 'Metal hoses' %}</a>
            </div>
            <div class="col-xl-3 col-md-4 p-2 m-1 uzm-button-link">
                <a class="fw-bold" href="{% url 'metalhoses-for-welding' %}">{% trans 'For welding' %}</a>
            </div>
            <div class="col-xl-3 col-md-4 p-2 m-1 uzm-button-link">
                <a class="fw-bold" href="{% url 'metalhoses-v-opletke' %}">{% trans 'Metal hoses' %} в оплетке</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}