{% extends 'rzmr/fittings_base.html' %}
{% load static %}

{% block fittings-info %}

<div class="container">
    <div class="row">
        <div class="col-12 border text-center m-1">
            <img id="bigImage" class="resize-big-img" src="{% static 'rzmr/img/Муфта Американка НР (исправл.).jpg' %}"
                alt="img-big">
        </div>
    </div>
    <div class="row">
        <div class="col-2 border d-flex m-1">
            <img class="resize-img" src="{% static 'rzmr/img/Муфта Американка НР (исправл.).jpg' %}" alt="img1">
        </div>
        <div class="col-2 border d-flex m-1">
            <img class="resize-img" src="{% static 'rzmr/img/Муфта американка НР-НР.jpg' %}" alt="img2">
        </div>
        <div class="col-2 border d-flex m-1">
            <img class="resize-img" src="{% static 'rzmr/img/Муфта американка НР-НР.png' %}" alt="img3">
        </div>
    </div>

    <h3>Технические характеристики и особенности конструкции</h3>
    <br>

    <table id="TABLE_1">
        <tbody id="TBODY_2">
            <tr id="TR_3">
                <td id="TD_4">
                    <b id="B_5">Ду</b>
                </td>
                <td id="TD_6">
                    <b id="B_7">6</b>
                </td>
                <td id="TD_8">
                    <b id="B_9">8</b>
                </td>
                <td id="TD_10">
                    <b id="B_11">10</b>
                </td>
                <td id="TD_12">
                    <b id="B_13">15</b>
                </td>
                <td id="TD_14">
                    <b id="B_15">20</b>
                </td>
                <td id="TD_16">
                    <b id="B_17">25</b>
                </td>
                <td id="TD_18">
                    <b id="B_19">32</b>
                </td>
                <td id="TD_20">
                    <b id="B_21">40</b>
                </td>
                <td id="TD_22">
                    <b id="B_23">50</b>
                </td>
                <td id="TD_24">
                    <b id="B_25">65</b>
                </td>
                <td id="TD_26">
                    <b id="B_27">80</b>
                </td>
                <td id="TD_28">
                    <b id="B_29">100</b>
                </td>
            </tr>
            <tr id="TR_30">
                <td id="TD_31">
                    D
                </td>
                <td id="TD_32">
                    1/8"
                </td>
                <td id="TD_33">
                    1/4"
                </td>
                <td id="TD_34">
                    3/8"
                </td>
                <td id="TD_35">
                    1,2"
                </td>
                <td id="TD_36">
                    3/4"
                </td>
                <td id="TD_37">
                    1"
                </td>
                <td id="TD_38">
                    1 1/4"
                </td>
                <td id="TD_39">
                    1 1/2"
                </td>
                <td id="TD_40">
                    2"
                </td>
                <td id="TD_41">
                    2 1/2"
                </td>
                <td id="TD_42">
                    3"
                </td>
                <td id="TD_43">
                    4"
                </td>
            </tr>
            <tr id="TR_44">
                <td id="TD_45">
                    L
                </td>
                <td id="TD_46">
                    45
                </td>
                <td id="TD_47">
                    55
                </td>
                <td id="TD_48">
                    55
                </td>
                <td id="TD_49">
                    62
                </td>
                <td id="TD_50">
                    72
                </td>
                <td id="TD_51">
                    73,3
                </td>
                <td id="TD_52">
                    88
                </td>
                <td id="TD_53">
                    91,3
                </td>
                <td id="TD_54">
                    99
                </td>
                <td id="TD_55">
                    118,3
                </td>
                <td id="TD_56">
                    132
                </td>
                <td id="TD_57">
                    159,3
                </td>
            </tr>
            <tr id="TR_58">
                <td id="TD_59">
                    A
                </td>
                <td id="TD_60">
                    25
                </td>
                <td id="TD_61">
                    30
                </td>
                <td id="TD_62">
                    35
                </td>
                <td id="TD_63">
                    42
                </td>
                <td id="TD_64">
                    47
                </td>
                <td id="TD_65">
                    53
                </td>
                <td id="TD_66">
                    71
                </td>
                <td id="TD_67">
                    78
                </td>
                <td id="TD_68">
                    92
                </td>
                <td id="TD_69">
                    112
                </td>
                <td id="TD_70">
                    126
                </td>
                <td id="TD_71">
                    157
                </td>
            </tr>
        </tbody>
    </table>
</div>

<style>
    #TABLE_1 {
        block-size: 110.562px;
        border-collapse: collapse;
        height: 110.562px;
        inline-size: 613px;
        perspective-origin: 306.5px 55.2812px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 306.5px 55.2812px;
        width: 613px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TABLE_1*/

    #TABLE_1:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TABLE_1:after*/

    #TABLE_1:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TABLE_1:before*/

    #TBODY_2 {
        block-size: 109.562px;
        border-block-end-color: rgb(128, 128, 128);
        border-block-start-color: rgb(128, 128, 128);
        border-collapse: collapse;
        border-inline-end-color: rgb(128, 128, 128);
        border-inline-start-color: rgb(128, 128, 128);
        box-sizing: border-box;
        height: 109.562px;
        inline-size: 612px;
        perspective-origin: 306px 54.7812px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 306px 54.7812px;
        width: 612px;
        border: 0px none rgb(128, 128, 128);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TBODY_2*/

    #TBODY_2:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TBODY_2:after*/

    #TBODY_2:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TBODY_2:before*/

    #TR_3,
    #TR_30,
    #TR_44,
    #TR_58 {
        block-size: 27.3906px;
        border-block-end-color: rgb(128, 128, 128);
        border-block-start-color: rgb(128, 128, 128);
        border-collapse: collapse;
        border-inline-end-color: rgb(128, 128, 128);
        border-inline-start-color: rgb(128, 128, 128);
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 612px;
        perspective-origin: 306px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 306px 13.6953px;
        vertical-align: middle;
        width: 612px;
        border: 0px none rgb(128, 128, 128);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TR_3, #TR_30, #TR_44, #TR_58*/

    #TR_3:after,
    #TR_30:after,
    #TR_44:after,
    #TR_58:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TR_3:after, #TR_30:after, #TR_44:after, #TR_58:after*/

    #TR_3:before,
    #TR_30:before,
    #TR_44:before,
    #TR_58:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TR_3:before, #TR_30:before, #TR_44:before, #TR_58:before*/

    #TD_4,
    #TD_31,
    #TD_45,
    #TD_59 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 34.875px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 17.4375px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 17.4375px 13.6953px;
        vertical-align: middle;
        width: 34.875px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_4, #TD_31, #TD_45, #TD_59*/

    #TD_4:after,
    #TD_31:after,
    #TD_45:after,
    #TD_59:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_4:after, #TD_31:after, #TD_45:after, #TD_59:after*/

    #TD_4:before,
    #TD_31:before,
    #TD_45:before,
    #TD_59:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_4:before, #TD_31:before, #TD_45:before, #TD_59:before*/

    #B_5,
    #B_7,
    #B_9,
    #B_11,
    #B_13,
    #B_15,
    #B_17,
    #B_19,
    #B_21,
    #B_23,
    #B_25,
    #B_27,
    #B_29 {
        border-collapse: collapse;
        box-sizing: border-box;
        perspective-origin: 0px 0px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 0px 0px;
        border-spacing: 2px 2px;
        font: 700 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#B_5, #B_7, #B_9, #B_11, #B_13, #B_15, #B_17, #B_19, #B_21, #B_23, #B_25, #B_27, #B_29*/

    #B_5:after,
    #B_7:after,
    #B_9:after,
    #B_11:after,
    #B_13:after,
    #B_15:after,
    #B_17:after,
    #B_19:after,
    #B_21:after,
    #B_23:after,
    #B_25:after,
    #B_27:after,
    #B_29:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 700 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#B_5:after, #B_7:after, #B_9:after, #B_11:after, #B_13:after, #B_15:after, #B_17:after, #B_19:after, #B_21:after, #B_23:after, #B_25:after, #B_27:after, #B_29:after*/

    #B_5:before,
    #B_7:before,
    #B_9:before,
    #B_11:before,
    #B_13:before,
    #B_15:before,
    #B_17:before,
    #B_19:before,
    #B_21:before,
    #B_23:before,
    #B_25:before,
    #B_27:before,
    #B_29:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 700 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#B_5:before, #B_7:before, #B_9:before, #B_11:before, #B_13:before, #B_15:before, #B_17:before, #B_19:before, #B_21:before, #B_23:before, #B_25:before, #B_27:before, #B_29:before*/

    #TD_6,
    #TD_32,
    #TD_46,
    #TD_60 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 42.5625px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 21.2812px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 21.2812px 13.6953px;
        vertical-align: middle;
        width: 42.5625px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_6, #TD_32, #TD_46, #TD_60*/

    #TD_6:after,
    #TD_32:after,
    #TD_46:after,
    #TD_60:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_6:after, #TD_32:after, #TD_46:after, #TD_60:after*/

    #TD_6:before,
    #TD_32:before,
    #TD_46:before,
    #TD_60:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_6:before, #TD_32:before, #TD_46:before, #TD_60:before*/

    #TD_8,
    #TD_33,
    #TD_47,
    #TD_61 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 42.0625px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 21.0312px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 21.0312px 13.6953px;
        vertical-align: middle;
        width: 42.0625px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_8, #TD_33, #TD_47, #TD_61*/

    #TD_8:after,
    #TD_33:after,
    #TD_47:after,
    #TD_61:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_8:after, #TD_33:after, #TD_47:after, #TD_61:after*/

    #TD_8:before,
    #TD_33:before,
    #TD_47:before,
    #TD_61:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_8:before, #TD_33:before, #TD_47:before, #TD_61:before*/

    #TD_10,
    #TD_34,
    #TD_48,
    #TD_62 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 47.4219px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 23.7031px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 23.7109px 13.6953px;
        vertical-align: middle;
        width: 47.4219px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_10, #TD_34, #TD_48, #TD_62*/

    #TD_10:after,
    #TD_34:after,
    #TD_48:after,
    #TD_62:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_10:after, #TD_34:after, #TD_48:after, #TD_62:after*/

    #TD_10:before,
    #TD_34:before,
    #TD_48:before,
    #TD_62:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_10:before, #TD_34:before, #TD_48:before, #TD_62:before*/

    #TD_12,
    #TD_35,
    #TD_49,
    #TD_63 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 41.25px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 20.625px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 20.625px 13.6953px;
        vertical-align: middle;
        width: 41.25px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_12, #TD_35, #TD_49, #TD_63*/

    #TD_12:after,
    #TD_35:after,
    #TD_49:after,
    #TD_63:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_12:after, #TD_35:after, #TD_49:after, #TD_63:after*/

    #TD_12:before,
    #TD_35:before,
    #TD_49:before,
    #TD_63:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_12:before, #TD_35:before, #TD_49:before, #TD_63:before*/

    #TD_14,
    #TD_36,
    #TD_50,
    #TD_64 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 46.8906px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 23.4375px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 23.4453px 13.6953px;
        vertical-align: middle;
        width: 46.8906px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_14, #TD_36, #TD_50, #TD_64*/

    #TD_14:after,
    #TD_36:after,
    #TD_50:after,
    #TD_64:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_14:after, #TD_36:after, #TD_50:after, #TD_64:after*/

    #TD_14:before,
    #TD_36:before,
    #TD_50:before,
    #TD_64:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_14:before, #TD_36:before, #TD_50:before, #TD_64:before*/

    #TD_16,
    #TD_37,
    #TD_51,
    #TD_65 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 49.2188px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 24.6094px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 24.6094px 13.6953px;
        vertical-align: middle;
        width: 49.2188px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_16, #TD_37, #TD_51, #TD_65*/

    #TD_16:after,
    #TD_37:after,
    #TD_51:after,
    #TD_65:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_16:after, #TD_37:after, #TD_51:after, #TD_65:after*/

    #TD_16:before,
    #TD_37:before,
    #TD_51:before,
    #TD_65:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_16:before, #TD_37:before, #TD_51:before, #TD_65:before*/

    #TD_18,
    #TD_38,
    #TD_52,
    #TD_66 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 55.3281px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 27.6562px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 27.6641px 13.6953px;
        vertical-align: middle;
        width: 55.3281px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_18, #TD_38, #TD_52, #TD_66*/

    #TD_18:after,
    #TD_38:after,
    #TD_52:after,
    #TD_66:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_18:after, #TD_38:after, #TD_52:after, #TD_66:after*/

    #TD_18:before,
    #TD_38:before,
    #TD_52:before,
    #TD_66:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_18:before, #TD_38:before, #TD_52:before, #TD_66:before*/

    #TD_20,
    #TD_39,
    #TD_53,
    #TD_67 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 56px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 28px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 28px 13.6953px;
        vertical-align: middle;
        width: 56px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_20, #TD_39, #TD_53, #TD_67*/

    #TD_20:after,
    #TD_39:after,
    #TD_53:after,
    #TD_67:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_20:after, #TD_39:after, #TD_53:after, #TD_67:after*/

    #TD_20:before,
    #TD_39:before,
    #TD_53:before,
    #TD_67:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_20:before, #TD_39:before, #TD_53:before, #TD_67:before*/

    #TD_22,
    #TD_40,
    #TD_54,
    #TD_68 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 34.625px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 17.3125px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 17.3125px 13.6953px;
        vertical-align: middle;
        width: 34.625px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_22, #TD_40, #TD_54, #TD_68*/

    #TD_22:after,
    #TD_40:after,
    #TD_54:after,
    #TD_68:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_22:after, #TD_40:after, #TD_54:after, #TD_68:after*/

    #TD_22:before,
    #TD_40:before,
    #TD_54:before,
    #TD_68:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_22:before, #TD_40:before, #TD_54:before, #TD_68:before*/

    #TD_24,
    #TD_41,
    #TD_55,
    #TD_69 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 61.5156px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 30.75px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 30.7578px 13.6953px;
        vertical-align: middle;
        width: 61.5156px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_24, #TD_41, #TD_55, #TD_69*/

    #TD_24:after,
    #TD_41:after,
    #TD_55:after,
    #TD_69:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_24:after, #TD_41:after, #TD_55:after, #TD_69:after*/

    #TD_24:before,
    #TD_41:before,
    #TD_55:before,
    #TD_69:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_24:before, #TD_41:before, #TD_55:before, #TD_69:before*/

    #TD_26,
    #TD_42,
    #TD_56,
    #TD_70 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 41.6719px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 20.8281px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 20.8359px 13.6953px;
        vertical-align: middle;
        width: 41.6719px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_26, #TD_42, #TD_56, #TD_70*/

    #TD_26:after,
    #TD_42:after,
    #TD_56:after,
    #TD_70:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_26:after, #TD_42:after, #TD_56:after, #TD_70:after*/

    #TD_26:before,
    #TD_42:before,
    #TD_56:before,
    #TD_70:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_26:before, #TD_42:before, #TD_56:before, #TD_70:before*/

    #TD_28,
    #TD_43,
    #TD_71 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 58.5781px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 29.2812px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 29.2891px 13.6953px;
        vertical-align: middle;
        width: 58.5781px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_28, #TD_43, #TD_71*/

    #TD_28:after,
    #TD_43:after,
    #TD_71:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_28:after, #TD_43:after, #TD_71:after*/

    #TD_28:before,
    #TD_43:before,
    #TD_71:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_28:before, #TD_43:before, #TD_71:before*/

    #TD_57 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 58.5781px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 29.2812px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 29.2891px 13.6953px;
        vertical-align: middle;
        width: 58.5781px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_57*/

    #TD_57:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_57:after*/

    #TD_57:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_57:before*/
</style>
{% endblock fittings-info %}