{% extends 'rzmr/fittings_base.html' %}
{% load static %}

{% block fittings-info %}

<div class="container">
    <div class="row">
        <div class="col-12 border text-center m-1">
            <img id="bigImage" class="resize-big-img" src="{% static 'rzmr/img/Гайка накидная под ниппель 74гр..jpg' %}"
                alt="img-big">
        </div>
    </div>
    <div class="row">
        <div class="col-2 border d-flex m-1">
            <img class="resize-img" src="{% static 'rzmr/img/Гайка накидная под ниппель 74гр..jpg' %}" alt="img1">
        </div>
        <div class="col-2 border d-flex m-1">
            <img class="resize-img"
                src="{% static 'rzmr/img/Накидная гайка с ниппелем конус конус с углом 74 гр.jpg' %}" alt="img2">
        </div>
        <div class="col-2 border d-flex m-1">
            <img class="resize-img"
                src="{% static 'rzmr/img/Накидная гайка с ниппелем конус конус с углом 74 гр.png' %}" alt="img3">
        </div>
        <div class="col-2 border d-flex m-1">
            <img class="resize-img"
                src="{% static 'rzmr/img/Накидная гайка с ниппелем конус конус с углом 74 гр_45.png' %}" alt="img4">
        </div>
        <div class="col-2 border d-flex m-1">
            <img class="resize-img"
                src="{% static 'rzmr/img/Накидная гайка с ниппелем конус конус с углом 74 гр_90.png' %}" alt="img5">
        </div>
    </div>

    <h3>Технические характеристики и особенности конструкции</h3>
    <br>
    <table id="TABLE_1">
        <tbody id="TBODY_2">
            <tr id="TR_3">
                <td id="TD_4">
                    <b id="B_5">Ду</b>
                </td>
                <td id="TD_6">
                    <b id="B_7">d2</b>
                </td>
                <td id="TD_8">
                    <b id="B_9">S1</b>
                </td>
                <td id="TD_10">
                    <b id="B_11">S2</b>
                </td>
                <td id="TD_12">
                    <b id="B_13">d</b>
                </td>
                <td id="TD_14">
                    <b id="B_15">d1</b>
                </td>
                <td id="TD_16">
                    <b id="B_17">a1</b>
                </td>
            </tr>
            <tr id="TR_18">
                <td rowspan="2" id="TD_19">
                    6
                </td>
                <td rowspan="2" id="TD_20">
                    М14х1 G1/4
                </td>
                <td rowspan="2" id="TD_21">
                    17
                </td>
                <td rowspan="2" id="TD_22">
                    10
                </td>
                <td rowspan="2" id="TD_23">
                    4
                </td>
                <td id="TD_24">
                    10,5
                </td>
                <td id="TD_25">
                    4
                </td>
            </tr>
            <tr id="TR_26">
                <td id="TD_27">
                    9
                </td>
                <td id="TD_28">
                    5
                </td>
            </tr>
            <tr id="TR_29">
                <td rowspan="2" id="TD_30">
                    8
                </td>
                <td rowspan="2" id="TD_31">
                    М16х1 G3/8
                </td>
                <td rowspan="2" id="TD_32">
                    19
                </td>
                <td rowspan="2" id="TD_33">
                    12
                </td>
                <td rowspan="2" id="TD_34">
                    6
                </td>
                <td rowspan="2" id="TD_35">
                    12,5
                </td>
                <td id="TD_36">
                    4
                </td>
            </tr>
            <tr id="TR_37">
                <td id="TD_38">
                    5
                </td>
            </tr>
            <tr id="TR_39">
                <td rowspan="2" id="TD_40">
                    10
                </td>
                <td rowspan="2" id="TD_41">
                    М20х1,5 G1/4
                </td>
                <td rowspan="2" id="TD_42">
                    24
                </td>
                <td rowspan="2" id="TD_43">
                    14
                </td>
                <td rowspan="2" id="TD_44">
                    8
                </td>
                <td rowspan="2" id="TD_45">
                    15,5
                </td>
                <td id="TD_46">
                    6
                </td>
            </tr>
            <tr id="TR_47">
                <td id="TD_48">
                    7
                </td>
            </tr>
            <tr id="TR_49">
                <td rowspan="2" id="TD_50">
                    12
                </td>
                <td rowspan="2" id="TD_51">
                    М22х1,5 G5/8
                </td>
                <td rowspan="2" id="TD_52">
                    27
                </td>
                <td rowspan="2" id="TD_53">
                    17
                </td>
                <td rowspan="2" id="TD_54">
                    10
                </td>
                <td rowspan="2" id="TD_55">
                    17,5
                </td>
                <td id="TD_56">
                    6
                </td>
            </tr>
            <tr id="TR_57">
                <td id="TD_58">
                    7
                </td>
            </tr>
            <tr id="TR_59">
                <td rowspan="2" id="TD_60">
                    14
                </td>
                <td id="TD_61">
                    М24х1,5
                </td>
                <td id="TD_62">
                    27
                </td>
                <td id="TD_63">
                    19
                </td>
                <td id="TD_64">
                    12
                </td>
                <td id="TD_65">
                    19
                </td>
                <td id="TD_66">
                    7
                </td>
            </tr>
            <tr id="TR_67">
                <td id="TD_68">
                    -
                </td>
                <td id="TD_69">
                    -
                </td>
                <td id="TD_70">
                    -
                </td>
                <td id="TD_71">
                    -
                </td>
                <td id="TD_72">
                    -
                </td>
                <td id="TD_73">
                    -
                </td>
            </tr>
            <tr id="TR_74">
                <td rowspan="2" id="TD_75">
                    16
                </td>
                <td rowspan="2" id="TD_76">
                    М27х1,5 G3/4
                </td>
                <td id="TD_77">
                    30
                </td>
                <td rowspan="2" id="TD_78">
                    22
                </td>
                <td rowspan="2" id="TD_79">
                    14
                </td>
                <td rowspan="2" id="TD_80">
                    22
                </td>
                <td id="TD_81">
                    7
                </td>
            </tr>
            <tr id="TR_82">
                <td id="TD_83">
                    36
                </td>
                <td id="TD_84">
                    10
                </td>
            </tr>
            <tr id="TR_85">
                <td rowspan="2" id="TD_86">
                    20
                </td>
                <td rowspan="2" id="TD_87">
                    М33х2 G1
                </td>
                <td rowspan="2" id="TD_88">
                    36
                </td>
                <td rowspan="2" id="TD_89">
                    24
                </td>
                <td rowspan="2" id="TD_90">
                    18
                </td>
                <td rowspan="2" id="TD_91">
                    27,5
                </td>
                <td id="TD_92">
                    9
                </td>
            </tr>
            <tr id="TR_93">
                <td id="TD_94">
                    10
                </td>
            </tr>
            <tr id="TR_95">
                <td rowspan="2" id="TD_96">
                    25
                </td>
                <td rowspan="2" id="TD_97">
                    М33х2 G1 1/4
                </td>
                <td id="TD_98">
                    46
                </td>
                <td rowspan="2" id="TD_99">
                    30
                </td>
                <td rowspan="2" id="TD_100">
                    23
                </td>
                <td rowspan="2" id="TD_101">
                    33.5
                </td>
                <td id="TD_102">
                    9
                </td>
            </tr>
            <tr id="TR_103">
                <td id="TD_104">
                    50
                </td>
                <td id="TD_105">
                    10
                </td>
            </tr>
            <tr id="TR_106">
                <td rowspan="2" id="TD_107">
                    32
                </td>
                <td rowspan="2" id="TD_108">
                    М33х2 G1 3/4
                </td>
                <td id="TD_109">
                    55
                </td>
                <td rowspan="2" id="TD_110">
                    36
                </td>
                <td rowspan="2" id="TD_111">
                    30
                </td>
                <td rowspan="2" id="TD_112">
                    43
                </td>
                <td id="TD_113">
                    10
                </td>
            </tr>
            <tr id="TR_114">
                <td id="TD_115">
                    60
                </td>
                <td id="TD_116">
                    12
                </td>
            </tr>
            <tr id="TR_117">
                <td rowspan="2" id="TD_118">
                    40
                </td>
                <td rowspan="2" id="TD_119">
                    М52х2 G2
                </td>
                <td rowspan="2" id="TD_120">
                    65
                </td>
                <td rowspan="2" id="TD_121">
                    46
                </td>
                <td rowspan="2" id="TD_122">
                    38
                </td>
                <td rowspan="2" id="TD_123">
                    51
                </td>
                <td id="TD_124">
                    8
                </td>
            </tr>
            <tr id="TR_125">
                <td id="TD_126">
                    12
                </td>
            </tr>
            <tr id="TR_127">
                <td rowspan="2" id="TD_128">
                    50
                </td>
                <td rowspan="2" id="TD_129">
                    М72х1,5 G2 1/2
                </td>
                <td rowspan="2" id="TD_130">
                    80
                </td>
                <td rowspan="2" id="TD_131">
                    55
                </td>
                <td rowspan="2" id="TD_132">
                    48
                </td>
                <td rowspan="2" id="TD_133">
                    66
                </td>
                <td id="TD_134">
                    8
                </td>
            </tr>
            <tr id="TR_135">
                <td id="TD_136">
                    10
                </td>
            </tr>
        </tbody>
    </table>
    <p class="pt-5">
        Накидная гайка - используется для присоединения металлорукава к трубопроводу заказчика, который транспортирует
        среду.
    </p>
    <p>
        Как и любое резьбовое соединение, накидная гайка даёт возможность быстро закрепить и подсоединить или
        размонтировать трубопровод. Гайку, входящую в состав соединения, можно использовать многократно. Монтаж
        производится с помощью ключа.
    </p>
</div>

<style>
    #TABLE_1 {
        block-size: 630.984px;
        border-collapse: collapse;
        height: 630.984px;
        inline-size: 613px;
        perspective-origin: 306.5px 315.484px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 306.5px 315.492px;
        width: 613px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TABLE_1*/

    #TABLE_1:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TABLE_1:after*/

    #TABLE_1:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TABLE_1:before*/

    #TBODY_2 {
        block-size: 629.984px;
        border-block-end-color: rgb(128, 128, 128);
        border-block-start-color: rgb(128, 128, 128);
        border-collapse: collapse;
        border-inline-end-color: rgb(128, 128, 128);
        border-inline-start-color: rgb(128, 128, 128);
        box-sizing: border-box;
        height: 629.984px;
        inline-size: 612px;
        perspective-origin: 306px 314.984px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 306px 314.992px;
        width: 612px;
        border: 0px none rgb(128, 128, 128);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TBODY_2*/

    #TBODY_2:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TBODY_2:after*/

    #TBODY_2:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TBODY_2:before*/

    #TR_3,
    #TR_18,
    #TR_26,
    #TR_29,
    #TR_37,
    #TR_39,
    #TR_47,
    #TR_49,
    #TR_57,
    #TR_59,
    #TR_67,
    #TR_74,
    #TR_82,
    #TR_85,
    #TR_93,
    #TR_95,
    #TR_103,
    #TR_106,
    #TR_114,
    #TR_117,
    #TR_125,
    #TR_127,
    #TR_135 {
        block-size: 27.3906px;
        border-block-end-color: rgb(128, 128, 128);
        border-block-start-color: rgb(128, 128, 128);
        border-collapse: collapse;
        border-inline-end-color: rgb(128, 128, 128);
        border-inline-start-color: rgb(128, 128, 128);
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 612px;
        perspective-origin: 306px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 306px 13.6953px;
        vertical-align: middle;
        width: 612px;
        border: 0px none rgb(128, 128, 128);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TR_3, #TR_18, #TR_26, #TR_29, #TR_37, #TR_39, #TR_47, #TR_49, #TR_57, #TR_59, #TR_67, #TR_74, #TR_82, #TR_85, #TR_93, #TR_95, #TR_103, #TR_106, #TR_114, #TR_117, #TR_125, #TR_127, #TR_135*/

    #TR_3:after,
    #TR_18:after,
    #TR_26:after,
    #TR_29:after,
    #TR_37:after,
    #TR_39:after,
    #TR_47:after,
    #TR_49:after,
    #TR_57:after,
    #TR_59:after,
    #TR_67:after,
    #TR_74:after,
    #TR_82:after,
    #TR_85:after,
    #TR_93:after,
    #TR_95:after,
    #TR_103:after,
    #TR_106:after,
    #TR_114:after,
    #TR_117:after,
    #TR_125:after,
    #TR_127:after,
    #TR_135:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TR_3:after, #TR_18:after, #TR_26:after, #TR_29:after, #TR_37:after, #TR_39:after, #TR_47:after, #TR_49:after, #TR_57:after, #TR_59:after, #TR_67:after, #TR_74:after, #TR_82:after, #TR_85:after, #TR_93:after, #TR_95:after, #TR_103:after, #TR_106:after, #TR_114:after, #TR_117:after, #TR_125:after, #TR_127:after, #TR_135:after*/

    #TR_3:before,
    #TR_18:before,
    #TR_26:before,
    #TR_29:before,
    #TR_37:before,
    #TR_39:before,
    #TR_47:before,
    #TR_49:before,
    #TR_57:before,
    #TR_59:before,
    #TR_67:before,
    #TR_74:before,
    #TR_82:before,
    #TR_85:before,
    #TR_93:before,
    #TR_95:before,
    #TR_103:before,
    #TR_106:before,
    #TR_114:before,
    #TR_117:before,
    #TR_125:before,
    #TR_127:before,
    #TR_135:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TR_3:before, #TR_18:before, #TR_26:before, #TR_29:before, #TR_37:before, #TR_39:before, #TR_47:before, #TR_49:before, #TR_57:before, #TR_59:before, #TR_67:before, #TR_74:before, #TR_82:before, #TR_85:before, #TR_93:before, #TR_95:before, #TR_103:before, #TR_106:before, #TR_114:before, #TR_117:before, #TR_125:before, #TR_127:before, #TR_135:before*/

    #TD_4 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 57.375px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 28.6875px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 28.6875px 13.6953px;
        vertical-align: middle;
        width: 57.375px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_4*/

    #TD_4:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_4:after*/

    #TD_4:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_4:before*/

    #B_5,
    #B_7,
    #B_9,
    #B_11,
    #B_13,
    #B_15,
    #B_17 {
        border-collapse: collapse;
        box-sizing: border-box;
        perspective-origin: 0px 0px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 0px 0px;
        border-spacing: 2px 2px;
        font: 700 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#B_5, #B_7, #B_9, #B_11, #B_13, #B_15, #B_17*/

    #B_5:after,
    #B_7:after,
    #B_9:after,
    #B_11:after,
    #B_13:after,
    #B_15:after,
    #B_17:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 700 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#B_5:after, #B_7:after, #B_9:after, #B_11:after, #B_13:after, #B_15:after, #B_17:after*/

    #B_5:before,
    #B_7:before,
    #B_9:before,
    #B_11:before,
    #B_13:before,
    #B_15:before,
    #B_17:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 700 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#B_5:before, #B_7:before, #B_9:before, #B_11:before, #B_13:before, #B_15:before, #B_17:before*/

    #TD_6,
    #TD_61,
    #TD_68 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 254.078px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 127.031px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 127.039px 13.6953px;
        vertical-align: middle;
        width: 254.078px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_6, #TD_61, #TD_68*/

    #TD_6:after,
    #TD_61:after,
    #TD_68:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_6:after, #TD_61:after, #TD_68:after*/

    #TD_6:before,
    #TD_61:before,
    #TD_68:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_6:before, #TD_61:before, #TD_68:before*/

    #TD_8,
    #TD_62,
    #TD_69,
    #TD_77,
    #TD_83,
    #TD_98,
    #TD_104,
    #TD_109,
    #TD_115 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 57px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 28.5px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 28.5px 13.6953px;
        vertical-align: middle;
        width: 57px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_8, #TD_62, #TD_69, #TD_77, #TD_83, #TD_98, #TD_104, #TD_109, #TD_115*/

    #TD_8:after,
    #TD_62:after,
    #TD_69:after,
    #TD_77:after,
    #TD_83:after,
    #TD_98:after,
    #TD_104:after,
    #TD_109:after,
    #TD_115:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_8:after, #TD_62:after, #TD_69:after, #TD_77:after, #TD_83:after, #TD_98:after, #TD_104:after, #TD_109:after, #TD_115:after*/

    #TD_8:before,
    #TD_62:before,
    #TD_69:before,
    #TD_77:before,
    #TD_83:before,
    #TD_98:before,
    #TD_104:before,
    #TD_109:before,
    #TD_115:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_8:before, #TD_62:before, #TD_69:before, #TD_77:before, #TD_83:before, #TD_98:before, #TD_104:before, #TD_109:before, #TD_115:before*/

    #TD_10,
    #TD_63,
    #TD_70 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 56.1875px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 28.0938px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 28.0938px 13.6953px;
        vertical-align: middle;
        width: 56.1875px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_10, #TD_63, #TD_70*/

    #TD_10:after,
    #TD_63:after,
    #TD_70:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_10:after, #TD_63:after, #TD_70:after*/

    #TD_10:before,
    #TD_63:before,
    #TD_70:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_10:before, #TD_63:before, #TD_70:before*/

    #TD_12,
    #TD_64,
    #TD_71 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 55.7812px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 27.8906px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 27.8906px 13.6953px;
        vertical-align: middle;
        width: 55.7812px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_12, #TD_64, #TD_71*/

    #TD_12:after,
    #TD_64:after,
    #TD_71:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_12:after, #TD_64:after, #TD_71:after*/

    #TD_12:before,
    #TD_64:before,
    #TD_71:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_12:before, #TD_64:before, #TD_71:before*/

    #TD_14,
    #TD_24,
    #TD_27,
    #TD_65,
    #TD_72 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 83.7031px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 41.8438px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 41.8516px 13.6953px;
        vertical-align: middle;
        width: 83.7031px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_14, #TD_24, #TD_27, #TD_65, #TD_72*/

    #TD_14:after,
    #TD_24:after,
    #TD_27:after,
    #TD_65:after,
    #TD_72:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_14:after, #TD_24:after, #TD_27:after, #TD_65:after, #TD_72:after*/

    #TD_14:before,
    #TD_24:before,
    #TD_27:before,
    #TD_65:before,
    #TD_72:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_14:before, #TD_24:before, #TD_27:before, #TD_65:before, #TD_72:before*/

    #TD_16,
    #TD_25,
    #TD_36,
    #TD_46,
    #TD_56,
    #TD_66,
    #TD_81,
    #TD_92,
    #TD_102,
    #TD_113,
    #TD_124,
    #TD_134 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 47.875px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 23.9375px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 23.9375px 13.6953px;
        vertical-align: middle;
        width: 47.875px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_16, #TD_25, #TD_36, #TD_46, #TD_56, #TD_66, #TD_81, #TD_92, #TD_102, #TD_113, #TD_124, #TD_134*/

    #TD_16:after,
    #TD_25:after,
    #TD_36:after,
    #TD_46:after,
    #TD_56:after,
    #TD_66:after,
    #TD_81:after,
    #TD_92:after,
    #TD_102:after,
    #TD_113:after,
    #TD_124:after,
    #TD_134:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_16:after, #TD_25:after, #TD_36:after, #TD_46:after, #TD_56:after, #TD_66:after, #TD_81:after, #TD_92:after, #TD_102:after, #TD_113:after, #TD_124:after, #TD_134:after*/

    #TD_16:before,
    #TD_25:before,
    #TD_36:before,
    #TD_46:before,
    #TD_56:before,
    #TD_66:before,
    #TD_81:before,
    #TD_92:before,
    #TD_102:before,
    #TD_113:before,
    #TD_124:before,
    #TD_134:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_16:before, #TD_25:before, #TD_36:before, #TD_46:before, #TD_56:before, #TD_66:before, #TD_81:before, #TD_92:before, #TD_102:before, #TD_113:before, #TD_124:before, #TD_134:before*/

    #TD_19,
    #TD_30,
    #TD_40,
    #TD_50,
    #TD_60,
    #TD_75,
    #TD_86,
    #TD_96,
    #TD_107,
    #TD_118,
    #TD_128 {
        block-size: 54.7812px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 54.7812px;
        inline-size: 57.375px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 28.6875px 27.3906px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 28.6875px 27.3906px;
        vertical-align: middle;
        width: 57.375px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_19, #TD_30, #TD_40, #TD_50, #TD_60, #TD_75, #TD_86, #TD_96, #TD_107, #TD_118, #TD_128*/

    #TD_19:after,
    #TD_30:after,
    #TD_40:after,
    #TD_50:after,
    #TD_60:after,
    #TD_75:after,
    #TD_86:after,
    #TD_96:after,
    #TD_107:after,
    #TD_118:after,
    #TD_128:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_19:after, #TD_30:after, #TD_40:after, #TD_50:after, #TD_60:after, #TD_75:after, #TD_86:after, #TD_96:after, #TD_107:after, #TD_118:after, #TD_128:after*/

    #TD_19:before,
    #TD_30:before,
    #TD_40:before,
    #TD_50:before,
    #TD_60:before,
    #TD_75:before,
    #TD_86:before,
    #TD_96:before,
    #TD_107:before,
    #TD_118:before,
    #TD_128:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_19:before, #TD_30:before, #TD_40:before, #TD_50:before, #TD_60:before, #TD_75:before, #TD_86:before, #TD_96:before, #TD_107:before, #TD_118:before, #TD_128:before*/

    #TD_20,
    #TD_31,
    #TD_41,
    #TD_51,
    #TD_76,
    #TD_87,
    #TD_97,
    #TD_108,
    #TD_119,
    #TD_129 {
        block-size: 54.7812px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 54.7812px;
        inline-size: 254.078px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 127.031px 27.3906px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 127.039px 27.3906px;
        vertical-align: middle;
        width: 254.078px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_20, #TD_31, #TD_41, #TD_51, #TD_76, #TD_87, #TD_97, #TD_108, #TD_119, #TD_129*/

    #TD_20:after,
    #TD_31:after,
    #TD_41:after,
    #TD_51:after,
    #TD_76:after,
    #TD_87:after,
    #TD_97:after,
    #TD_108:after,
    #TD_119:after,
    #TD_129:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_20:after, #TD_31:after, #TD_41:after, #TD_51:after, #TD_76:after, #TD_87:after, #TD_97:after, #TD_108:after, #TD_119:after, #TD_129:after*/

    #TD_20:before,
    #TD_31:before,
    #TD_41:before,
    #TD_51:before,
    #TD_76:before,
    #TD_87:before,
    #TD_97:before,
    #TD_108:before,
    #TD_119:before,
    #TD_129:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_20:before, #TD_31:before, #TD_41:before, #TD_51:before, #TD_76:before, #TD_87:before, #TD_97:before, #TD_108:before, #TD_119:before, #TD_129:before*/

    #TD_21,
    #TD_32,
    #TD_42,
    #TD_52,
    #TD_88,
    #TD_120,
    #TD_130 {
        block-size: 54.7812px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 54.7812px;
        inline-size: 57px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 28.5px 27.3906px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 28.5px 27.3906px;
        vertical-align: middle;
        width: 57px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_21, #TD_32, #TD_42, #TD_52, #TD_88, #TD_120, #TD_130*/

    #TD_21:after,
    #TD_32:after,
    #TD_42:after,
    #TD_52:after,
    #TD_88:after,
    #TD_120:after,
    #TD_130:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_21:after, #TD_32:after, #TD_42:after, #TD_52:after, #TD_88:after, #TD_120:after, #TD_130:after*/

    #TD_21:before,
    #TD_32:before,
    #TD_42:before,
    #TD_52:before,
    #TD_88:before,
    #TD_120:before,
    #TD_130:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_21:before, #TD_32:before, #TD_42:before, #TD_52:before, #TD_88:before, #TD_120:before, #TD_130:before*/

    #TD_22,
    #TD_33,
    #TD_43,
    #TD_53,
    #TD_78,
    #TD_89,
    #TD_99,
    #TD_110,
    #TD_121,
    #TD_131 {
        block-size: 54.7812px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 54.7812px;
        inline-size: 56.1875px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 28.0938px 27.3906px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 28.0938px 27.3906px;
        vertical-align: middle;
        width: 56.1875px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_22, #TD_33, #TD_43, #TD_53, #TD_78, #TD_89, #TD_99, #TD_110, #TD_121, #TD_131*/

    #TD_22:after,
    #TD_33:after,
    #TD_43:after,
    #TD_53:after,
    #TD_78:after,
    #TD_89:after,
    #TD_99:after,
    #TD_110:after,
    #TD_121:after,
    #TD_131:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_22:after, #TD_33:after, #TD_43:after, #TD_53:after, #TD_78:after, #TD_89:after, #TD_99:after, #TD_110:after, #TD_121:after, #TD_131:after*/

    #TD_22:before,
    #TD_33:before,
    #TD_43:before,
    #TD_53:before,
    #TD_78:before,
    #TD_89:before,
    #TD_99:before,
    #TD_110:before,
    #TD_121:before,
    #TD_131:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_22:before, #TD_33:before, #TD_43:before, #TD_53:before, #TD_78:before, #TD_89:before, #TD_99:before, #TD_110:before, #TD_121:before, #TD_131:before*/

    #TD_23,
    #TD_34,
    #TD_44,
    #TD_54,
    #TD_79,
    #TD_90,
    #TD_100,
    #TD_111,
    #TD_122,
    #TD_132 {
        block-size: 54.7812px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 54.7812px;
        inline-size: 55.7812px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 27.8906px 27.3906px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 27.8906px 27.3906px;
        vertical-align: middle;
        width: 55.7812px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_23, #TD_34, #TD_44, #TD_54, #TD_79, #TD_90, #TD_100, #TD_111, #TD_122, #TD_132*/

    #TD_23:after,
    #TD_34:after,
    #TD_44:after,
    #TD_54:after,
    #TD_79:after,
    #TD_90:after,
    #TD_100:after,
    #TD_111:after,
    #TD_122:after,
    #TD_132:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_23:after, #TD_34:after, #TD_44:after, #TD_54:after, #TD_79:after, #TD_90:after, #TD_100:after, #TD_111:after, #TD_122:after, #TD_132:after*/

    #TD_23:before,
    #TD_34:before,
    #TD_44:before,
    #TD_54:before,
    #TD_79:before,
    #TD_90:before,
    #TD_100:before,
    #TD_111:before,
    #TD_122:before,
    #TD_132:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_23:before, #TD_34:before, #TD_44:before, #TD_54:before, #TD_79:before, #TD_90:before, #TD_100:before, #TD_111:before, #TD_122:before, #TD_132:before*/

    #TD_28,
    #TD_38,
    #TD_48,
    #TD_58,
    #TD_84,
    #TD_94,
    #TD_105,
    #TD_116,
    #TD_126,
    #TD_136 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 47.875px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 23.9375px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 23.9375px 13.6953px;
        vertical-align: middle;
        width: 47.875px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_28, #TD_38, #TD_48, #TD_58, #TD_84, #TD_94, #TD_105, #TD_116, #TD_126, #TD_136*/

    #TD_28:after,
    #TD_38:after,
    #TD_48:after,
    #TD_58:after,
    #TD_84:after,
    #TD_94:after,
    #TD_105:after,
    #TD_116:after,
    #TD_126:after,
    #TD_136:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_28:after, #TD_38:after, #TD_48:after, #TD_58:after, #TD_84:after, #TD_94:after, #TD_105:after, #TD_116:after, #TD_126:after, #TD_136:after*/

    #TD_28:before,
    #TD_38:before,
    #TD_48:before,
    #TD_58:before,
    #TD_84:before,
    #TD_94:before,
    #TD_105:before,
    #TD_116:before,
    #TD_126:before,
    #TD_136:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_28:before, #TD_38:before, #TD_48:before, #TD_58:before, #TD_84:before, #TD_94:before, #TD_105:before, #TD_116:before, #TD_126:before, #TD_136:before*/

    #TD_35,
    #TD_45,
    #TD_80,
    #TD_101,
    #TD_123 {
        block-size: 54.7812px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 54.7812px;
        inline-size: 83.7031px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 41.8438px 27.3906px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 41.8516px 27.3906px;
        vertical-align: middle;
        width: 83.7031px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_35, #TD_45, #TD_80, #TD_101, #TD_123*/

    #TD_35:after,
    #TD_45:after,
    #TD_80:after,
    #TD_101:after,
    #TD_123:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_35:after, #TD_45:after, #TD_80:after, #TD_101:after, #TD_123:after*/

    #TD_35:before,
    #TD_45:before,
    #TD_80:before,
    #TD_101:before,
    #TD_123:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_35:before, #TD_45:before, #TD_80:before, #TD_101:before, #TD_123:before*/

    #TD_55,
    #TD_91,
    #TD_133 {
        block-size: 54.7812px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 54.7812px;
        inline-size: 83.7031px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 41.8438px 27.3906px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 41.8516px 27.3906px;
        vertical-align: middle;
        width: 83.7031px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_55, #TD_91, #TD_133*/

    #TD_55:after,
    #TD_91:after,
    #TD_133:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_55:after, #TD_91:after, #TD_133:after*/

    #TD_55:before,
    #TD_91:before,
    #TD_133:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_55:before, #TD_91:before, #TD_133:before*/

    #TD_73 {
        block-size: 27.3906px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 27.3906px;
        inline-size: 47.875px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 23.9375px 13.6875px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 23.9375px 13.6953px;
        vertical-align: middle;
        width: 47.875px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_73*/

    #TD_73:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_73:after*/

    #TD_73:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_73:before*/

    #TD_112 {
        block-size: 54.7812px;
        border-block-end-color: rgb(33, 58, 85);
        border-block-end-style: solid;
        border-block-end-width: 1px;
        border-block-start-color: rgb(33, 58, 85);
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-collapse: collapse;
        border-inline-end-color: rgb(33, 58, 85);
        border-inline-end-style: solid;
        border-inline-end-width: 1px;
        border-inline-start-color: rgb(33, 58, 85);
        border-inline-start-style: solid;
        border-inline-start-width: 1px;
        box-sizing: border-box;
        height: 54.7812px;
        inline-size: 83.7031px;
        padding-block-end: 2px;
        padding-block-start: 2px;
        padding-inline-end: 2px;
        padding-inline-start: 2px;
        perspective-origin: 41.8438px 27.3906px;
        text-align: center;
        text-size-adjust: 100%;
        transform-origin: 41.8516px 27.3906px;
        vertical-align: middle;
        width: 83.7031px;
        border: 1px solid rgb(33, 58, 85);
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
        padding: 2px;
    }

    /*#TD_112*/

    #TD_112:after {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_112:after*/

    #TD_112:before {
        border-collapse: collapse;
        text-align: center;
        text-size-adjust: 100%;
        border-spacing: 2px 2px;
        font: 14px / 22.4px ProximaNova, Helvetica, normal;
    }

    /*#TD_112:before*/
</style>
{% endblock fittings-info %}