{% extends 'rzmr/fittings_base.html' %}
{% load static %}

{% block fittings-info %}

<div class="container">
    <div class="row">
        <div class="col-12 border text-center m-1">
            <img id="bigImage" class="resize-big-img"
                src="{% static 'rzmr/img/Гайка накидная под ниппель-конус 24 градуса.jpg' %}" alt="img-big">
        </div>
    </div>
    <div class="row">
        <div class="col-2 border d-flex m-1">
            <img class="resize-img" src="{% static 'rzmr/img/Гайка накидная под ниппель-конус 24 градуса.jpg' %}"
                alt="img1">
        </div>
        <div class="col-2 border d-flex m-1">
            <img class="resize-img" src="{% static 'rzmr/img/Накидная гайка с ниппелем конус с углом 24 гр.jpg' %}"
                alt="img2">
        </div>
        <div class="col-2 border d-flex m-1">
            <img class="resize-img" src="{% static 'rzmr/img/Накидная гайка с ниппелем конус с углом 24 гр.png' %}"
                alt="img3">
        </div>
        <div class="col-2 border d-flex m-1">
            <img class="resize-img" src="{% static 'rzmr/img/Накидная гайка с ниппелем конус с углом 24 гр_45.png' %}"
                alt="img4">
        </div>
        <div class="col-2 border d-flex m-1">
            <img class="resize-img" src="{% static 'rzmr/img/Накидная гайка с ниппелем конус с углом 24 гр_90.png' %}"
                alt="img5">
        </div>
    </div>

    <h3>Технические характеристики и особенности конструкции</h3>
    <br>

    <table id="TABLE_1">
        <tbody id="TBODY_2">
            <tr id="TR_3">
                <td id="TD_4">
                    <b id="B_5">Ду</b>
                </td>
                <td id="TD_6">
                    <b id="B_7">d</b>
                </td>
                <td id="TD_8">
                    <b id="B_9">S1</b>
                </td>
                <td id="TD_10">
                    <b id="B_11">S2</b>
                </td>
                <td id="TD_12">
                    <b id="B_13">a</b>
                </td>
                <td id="TD_14">
                    <b id="B_15">a1</b>
                </td>
            </tr>
            <tr id="TR_16">
                <td id="TD_17">
                    6
                </td>
                <td id="TD_18">
                    М14х1,5
                </td>
                <td id="TD_19">
                    17
                </td>
                <td id="TD_20">
                    10
                </td>
                <td id="TD_21">
                    49
                </td>
                <td id="TD_22">
                    1,5
                </td>
            </tr>
            <tr id="TR_23">
                <td id="TD_24">
                    8
                </td>
                <td id="TD_25">
                    М16х1,5
                </td>
                <td id="TD_26">
                    19
                </td>
                <td id="TD_27">
                    12
                </td>
                <td id="TD_28">
                    49
                </td>
                <td id="TD_29">
                    1,5
                </td>
            </tr>
            <tr id="TR_30">
                <td id="TD_31">
                    10
                </td>
                <td id="TD_32">
                    М18х1,5
                </td>
                <td id="TD_33">
                    22
                </td>
                <td id="TD_34">
                    14
                </td>
                <td id="TD_35">
                    52
                </td>
                <td id="TD_36">
                    2
                </td>
            </tr>
            <tr id="TR_37">
                <td id="TD_38">
                    12
                </td>
                <td id="TD_39">
                    М22х1,5
                </td>
                <td id="TD_40">
                    27
                </td>
                <td id="TD_41">
                    17
                </td>
                <td id="TD_42">
                    59
                </td>
                <td id="TD_43">
                    2,5
                </td>
            </tr>
            <tr id="TR_44">
                <td id="TD_45">
                    16
                </td>
                <td id="TD_46">
                    М26х1,5
                </td>
                <td id="TD_47">
                    32
                </td>
                <td id="TD_48">
                    22
                </td>
                <td id="TD_49">
                    61
                </td>
                <td id="TD_50">
                    3
                </td>
            </tr>
            <tr id="TR_51">
                <td id="TD_52">
                    20
                </td>
                <td id="TD_53">
                    М30х2
                </td>
                <td id="TD_54">
                    36
                </td>
                <td id="TD_55">
                    24
                </td>
                <td id="TD_56">
                    65
                </td>
                <td id="TD_57">
                    3
                </td>
            </tr>
            <tr id="TR_58">
                <td id="TD_59">
                    25
                </td>
                <td id="TD_60">
                    М36х2
                </td>
                <td id="TD_61">
                    41
                </td>
                <td id="TD_62">
                    30
                </td>
                <td id="TD_63">
                    66
                </td>
                <td id="TD_64">
                    3
                </td>
            </tr>
            <tr id="TR_65">
                <td id="TD_66">
                    32
                </td>
                <td id="TD_67">
                    М45х2
                </td>
                <td id="TD_68">
                    55
                </td>
                <td id="TD_69">
                    36
                </td>
                <td id="TD_70">
                    67
                </td>
                <td id="TD_71">
                    5
                </td>
            </tr>
            <tr id="TR_72">
                <td id="TD_73">
                    40
                </td>
                <td id="TD_74">
                    М52х2
                </td>
                <td id="TD_75">
                    60
                </td>
                <td id="TD_76">
                    46
                </td>
                <td id="TD_77">
                    67
                </td>
                <td id="TD_78">
                    6,5
                </td>
            </tr>
        </tbody>
    </table>

    <p class="pt-5">
        Накидная гайка - используется для присоединения металлорукава к трубопроводу заказчика, который транспортирует
        среду.
    </p>
    <p>
        Как и любое резьбовое соединение, накидная гайка даёт возможность быстро закрепить и подсоединить или
        размонтировать трубопровод. Гайку, входящую в состав соединения, можно использовать многократно. Монтаж
        производится с помощью ключа.
    </p>

    <style>
        #TABLE_1 {
            block-size: 274.906px;
            border-collapse: collapse;
            height: 274.906px;
            inline-size: 613px;
            perspective-origin: 306.5px 137.453px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 306.5px 137.453px;
            width: 613px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TABLE_1*/

        #TABLE_1:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TABLE_1:after*/

        #TABLE_1:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TABLE_1:before*/

        #TBODY_2 {
            block-size: 273.906px;
            border-block-end-color: rgb(128, 128, 128);
            border-block-start-color: rgb(128, 128, 128);
            border-collapse: collapse;
            border-inline-end-color: rgb(128, 128, 128);
            border-inline-start-color: rgb(128, 128, 128);
            box-sizing: border-box;
            height: 273.906px;
            inline-size: 612px;
            perspective-origin: 306px 136.953px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 306px 136.953px;
            width: 612px;
            border: 0px none rgb(128, 128, 128);
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TBODY_2*/

        #TBODY_2:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TBODY_2:after*/

        #TBODY_2:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TBODY_2:before*/

        #TR_3,
        #TR_16,
        #TR_23,
        #TR_30,
        #TR_37,
        #TR_44,
        #TR_51,
        #TR_58,
        #TR_65,
        #TR_72 {
            block-size: 27.3906px;
            border-block-end-color: rgb(128, 128, 128);
            border-block-start-color: rgb(128, 128, 128);
            border-collapse: collapse;
            border-inline-end-color: rgb(128, 128, 128);
            border-inline-start-color: rgb(128, 128, 128);
            box-sizing: border-box;
            height: 27.3906px;
            inline-size: 612px;
            perspective-origin: 306px 13.6875px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 306px 13.6953px;
            vertical-align: middle;
            width: 612px;
            border: 0px none rgb(128, 128, 128);
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TR_3, #TR_16, #TR_23, #TR_30, #TR_37, #TR_44, #TR_51, #TR_58, #TR_65, #TR_72*/

        #TR_3:after,
        #TR_16:after,
        #TR_23:after,
        #TR_30:after,
        #TR_37:after,
        #TR_44:after,
        #TR_51:after,
        #TR_58:after,
        #TR_65:after,
        #TR_72:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TR_3:after, #TR_16:after, #TR_23:after, #TR_30:after, #TR_37:after, #TR_44:after, #TR_51:after, #TR_58:after, #TR_65:after, #TR_72:after*/

        #TR_3:before,
        #TR_16:before,
        #TR_23:before,
        #TR_30:before,
        #TR_37:before,
        #TR_44:before,
        #TR_51:before,
        #TR_58:before,
        #TR_65:before,
        #TR_72:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TR_3:before, #TR_16:before, #TR_23:before, #TR_30:before, #TR_37:before, #TR_44:before, #TR_51:before, #TR_58:before, #TR_65:before, #TR_72:before*/

        #TD_4,
        #TD_17,
        #TD_24,
        #TD_31,
        #TD_38,
        #TD_45,
        #TD_52,
        #TD_59,
        #TD_66,
        #TD_73 {
            block-size: 27.3906px;
            border-block-end-color: rgb(33, 58, 85);
            border-block-end-style: solid;
            border-block-end-width: 1px;
            border-block-start-color: rgb(33, 58, 85);
            border-block-start-style: solid;
            border-block-start-width: 1px;
            border-collapse: collapse;
            border-inline-end-color: rgb(33, 58, 85);
            border-inline-end-style: solid;
            border-inline-end-width: 1px;
            border-inline-start-color: rgb(33, 58, 85);
            border-inline-start-style: solid;
            border-inline-start-width: 1px;
            box-sizing: border-box;
            height: 27.3906px;
            inline-size: 80.3125px;
            padding-block-end: 2px;
            padding-block-start: 2px;
            padding-inline-end: 2px;
            padding-inline-start: 2px;
            perspective-origin: 40.1562px 13.6875px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 40.1562px 13.6953px;
            vertical-align: middle;
            width: 80.3125px;
            border: 1px solid rgb(33, 58, 85);
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
            padding: 2px;
        }

        /*#TD_4, #TD_17, #TD_24, #TD_31, #TD_38, #TD_45, #TD_52, #TD_59, #TD_66, #TD_73*/

        #TD_4:after,
        #TD_17:after,
        #TD_24:after,
        #TD_31:after,
        #TD_38:after,
        #TD_45:after,
        #TD_52:after,
        #TD_59:after,
        #TD_66:after,
        #TD_73:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_4:after, #TD_17:after, #TD_24:after, #TD_31:after, #TD_38:after, #TD_45:after, #TD_52:after, #TD_59:after, #TD_66:after, #TD_73:after*/

        #TD_4:before,
        #TD_17:before,
        #TD_24:before,
        #TD_31:before,
        #TD_38:before,
        #TD_45:before,
        #TD_52:before,
        #TD_59:before,
        #TD_66:before,
        #TD_73:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_4:before, #TD_17:before, #TD_24:before, #TD_31:before, #TD_38:before, #TD_45:before, #TD_52:before, #TD_59:before, #TD_66:before, #TD_73:before*/

        #B_5,
        #B_7,
        #B_9,
        #B_11,
        #B_13,
        #B_15 {
            border-collapse: collapse;
            box-sizing: border-box;
            perspective-origin: 0px 0px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 0px 0px;
            border-spacing: 2px 2px;
            font: 700 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#B_5, #B_7, #B_9, #B_11, #B_13, #B_15*/

        #B_5:after,
        #B_7:after,
        #B_9:after,
        #B_11:after,
        #B_13:after,
        #B_15:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 700 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#B_5:after, #B_7:after, #B_9:after, #B_11:after, #B_13:after, #B_15:after*/

        #B_5:before,
        #B_7:before,
        #B_9:before,
        #B_11:before,
        #B_13:before,
        #B_15:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 700 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#B_5:before, #B_7:before, #B_9:before, #B_11:before, #B_13:before, #B_15:before*/

        #TD_6,
        #TD_18,
        #TD_25,
        #TD_32,
        #TD_39,
        #TD_46,
        #TD_53,
        #TD_60,
        #TD_67,
        #TD_74 {
            block-size: 27.3906px;
            border-block-end-color: rgb(33, 58, 85);
            border-block-end-style: solid;
            border-block-end-width: 1px;
            border-block-start-color: rgb(33, 58, 85);
            border-block-start-style: solid;
            border-block-start-width: 1px;
            border-collapse: collapse;
            border-inline-end-color: rgb(33, 58, 85);
            border-inline-end-style: solid;
            border-inline-end-width: 1px;
            border-inline-start-color: rgb(33, 58, 85);
            border-inline-start-style: solid;
            border-inline-start-width: 1px;
            box-sizing: border-box;
            height: 27.3906px;
            inline-size: 204.141px;
            padding-block-end: 2px;
            padding-block-start: 2px;
            padding-inline-end: 2px;
            padding-inline-start: 2px;
            perspective-origin: 102.062px 13.6875px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 102.07px 13.6953px;
            vertical-align: middle;
            width: 204.141px;
            border: 1px solid rgb(33, 58, 85);
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
            padding: 2px;
        }

        /*#TD_6, #TD_18, #TD_25, #TD_32, #TD_39, #TD_46, #TD_53, #TD_60, #TD_67, #TD_74*/

        #TD_6:after,
        #TD_18:after,
        #TD_25:after,
        #TD_32:after,
        #TD_39:after,
        #TD_46:after,
        #TD_53:after,
        #TD_60:after,
        #TD_67:after,
        #TD_74:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_6:after, #TD_18:after, #TD_25:after, #TD_32:after, #TD_39:after, #TD_46:after, #TD_53:after, #TD_60:after, #TD_67:after, #TD_74:after*/

        #TD_6:before,
        #TD_18:before,
        #TD_25:before,
        #TD_32:before,
        #TD_39:before,
        #TD_46:before,
        #TD_53:before,
        #TD_60:before,
        #TD_67:before,
        #TD_74:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_6:before, #TD_18:before, #TD_25:before, #TD_32:before, #TD_39:before, #TD_46:before, #TD_53:before, #TD_60:before, #TD_67:before, #TD_74:before*/

        #TD_8,
        #TD_19,
        #TD_26,
        #TD_33,
        #TD_40,
        #TD_47,
        #TD_54,
        #TD_61,
        #TD_68,
        #TD_75 {
            block-size: 27.3906px;
            border-block-end-color: rgb(33, 58, 85);
            border-block-end-style: solid;
            border-block-end-width: 1px;
            border-block-start-color: rgb(33, 58, 85);
            border-block-start-style: solid;
            border-block-start-width: 1px;
            border-collapse: collapse;
            border-inline-end-color: rgb(33, 58, 85);
            border-inline-end-style: solid;
            border-inline-end-width: 1px;
            border-inline-start-color: rgb(33, 58, 85);
            border-inline-start-style: solid;
            border-inline-start-width: 1px;
            box-sizing: border-box;
            height: 27.3906px;
            inline-size: 79.7969px;
            padding-block-end: 2px;
            padding-block-start: 2px;
            padding-inline-end: 2px;
            padding-inline-start: 2px;
            perspective-origin: 39.8906px 13.6875px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 39.8984px 13.6953px;
            vertical-align: middle;
            width: 79.7969px;
            border: 1px solid rgb(33, 58, 85);
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
            padding: 2px;
        }

        /*#TD_8, #TD_19, #TD_26, #TD_33, #TD_40, #TD_47, #TD_54, #TD_61, #TD_68, #TD_75*/

        #TD_8:after,
        #TD_19:after,
        #TD_26:after,
        #TD_33:after,
        #TD_40:after,
        #TD_47:after,
        #TD_54:after,
        #TD_61:after,
        #TD_68:after,
        #TD_75:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_8:after, #TD_19:after, #TD_26:after, #TD_33:after, #TD_40:after, #TD_47:after, #TD_54:after, #TD_61:after, #TD_68:after, #TD_75:after*/

        #TD_8:before,
        #TD_19:before,
        #TD_26:before,
        #TD_33:before,
        #TD_40:before,
        #TD_47:before,
        #TD_54:before,
        #TD_61:before,
        #TD_68:before,
        #TD_75:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_8:before, #TD_19:before, #TD_26:before, #TD_33:before, #TD_40:before, #TD_47:before, #TD_54:before, #TD_61:before, #TD_68:before, #TD_75:before*/

        #TD_10,
        #TD_20,
        #TD_27,
        #TD_34,
        #TD_41,
        #TD_48,
        #TD_55,
        #TD_62,
        #TD_69,
        #TD_76 {
            block-size: 27.3906px;
            border-block-end-color: rgb(33, 58, 85);
            border-block-end-style: solid;
            border-block-end-width: 1px;
            border-block-start-color: rgb(33, 58, 85);
            border-block-start-style: solid;
            border-block-start-width: 1px;
            border-collapse: collapse;
            border-inline-end-color: rgb(33, 58, 85);
            border-inline-end-style: solid;
            border-inline-end-width: 1px;
            border-inline-start-color: rgb(33, 58, 85);
            border-inline-start-style: solid;
            border-inline-start-width: 1px;
            box-sizing: border-box;
            height: 27.3906px;
            inline-size: 78.4375px;
            padding-block-end: 2px;
            padding-block-start: 2px;
            padding-inline-end: 2px;
            padding-inline-start: 2px;
            perspective-origin: 39.2188px 13.6875px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 39.2188px 13.6953px;
            vertical-align: middle;
            width: 78.4375px;
            border: 1px solid rgb(33, 58, 85);
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
            padding: 2px;
        }

        /*#TD_10, #TD_20, #TD_27, #TD_34, #TD_41, #TD_48, #TD_55, #TD_62, #TD_69, #TD_76*/

        #TD_10:after,
        #TD_20:after,
        #TD_27:after,
        #TD_34:after,
        #TD_41:after,
        #TD_48:after,
        #TD_55:after,
        #TD_62:after,
        #TD_69:after,
        #TD_76:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_10:after, #TD_20:after, #TD_27:after, #TD_34:after, #TD_41:after, #TD_48:after, #TD_55:after, #TD_62:after, #TD_69:after, #TD_76:after*/

        #TD_10:before,
        #TD_20:before,
        #TD_27:before,
        #TD_34:before,
        #TD_41:before,
        #TD_48:before,
        #TD_55:before,
        #TD_62:before,
        #TD_69:before,
        #TD_76:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_10:before, #TD_20:before, #TD_27:before, #TD_34:before, #TD_41:before, #TD_48:before, #TD_55:before, #TD_62:before, #TD_69:before, #TD_76:before*/

        #TD_12,
        #TD_21,
        #TD_28,
        #TD_35,
        #TD_42,
        #TD_49,
        #TD_56,
        #TD_63,
        #TD_70,
        #TD_77 {
            block-size: 27.3906px;
            border-block-end-color: rgb(33, 58, 85);
            border-block-end-style: solid;
            border-block-end-width: 1px;
            border-block-start-color: rgb(33, 58, 85);
            border-block-start-style: solid;
            border-block-start-width: 1px;
            border-collapse: collapse;
            border-inline-end-color: rgb(33, 58, 85);
            border-inline-end-style: solid;
            border-inline-end-width: 1px;
            border-inline-start-color: rgb(33, 58, 85);
            border-inline-start-style: solid;
            border-inline-start-width: 1px;
            box-sizing: border-box;
            height: 27.3906px;
            inline-size: 78.7812px;
            padding-block-end: 2px;
            padding-block-start: 2px;
            padding-inline-end: 2px;
            padding-inline-start: 2px;
            perspective-origin: 39.3906px 13.6875px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 39.3906px 13.6953px;
            vertical-align: middle;
            width: 78.7812px;
            border: 1px solid rgb(33, 58, 85);
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
            padding: 2px;
        }

        /*#TD_12, #TD_21, #TD_28, #TD_35, #TD_42, #TD_49, #TD_56, #TD_63, #TD_70, #TD_77*/

        #TD_12:after,
        #TD_21:after,
        #TD_28:after,
        #TD_35:after,
        #TD_42:after,
        #TD_49:after,
        #TD_56:after,
        #TD_63:after,
        #TD_70:after,
        #TD_77:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_12:after, #TD_21:after, #TD_28:after, #TD_35:after, #TD_42:after, #TD_49:after, #TD_56:after, #TD_63:after, #TD_70:after, #TD_77:after*/

        #TD_12:before,
        #TD_21:before,
        #TD_28:before,
        #TD_35:before,
        #TD_42:before,
        #TD_49:before,
        #TD_56:before,
        #TD_63:before,
        #TD_70:before,
        #TD_77:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_12:before, #TD_21:before, #TD_28:before, #TD_35:before, #TD_42:before, #TD_49:before, #TD_56:before, #TD_63:before, #TD_70:before, #TD_77:before*/

        #TD_14,
        #TD_22,
        #TD_36,
        #TD_50,
        #TD_64,
        #TD_78 {
            block-size: 27.3906px;
            border-block-end-color: rgb(33, 58, 85);
            border-block-end-style: solid;
            border-block-end-width: 1px;
            border-block-start-color: rgb(33, 58, 85);
            border-block-start-style: solid;
            border-block-start-width: 1px;
            border-collapse: collapse;
            border-inline-end-color: rgb(33, 58, 85);
            border-inline-end-style: solid;
            border-inline-end-width: 1px;
            border-inline-start-color: rgb(33, 58, 85);
            border-inline-start-style: solid;
            border-inline-start-width: 1px;
            box-sizing: border-box;
            height: 27.3906px;
            inline-size: 90.5312px;
            padding-block-end: 2px;
            padding-block-start: 2px;
            padding-inline-end: 2px;
            padding-inline-start: 2px;
            perspective-origin: 45.2656px 13.6875px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 45.2656px 13.6953px;
            vertical-align: middle;
            width: 90.5312px;
            border: 1px solid rgb(33, 58, 85);
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
            padding: 2px;
        }

        /*#TD_14, #TD_22, #TD_36, #TD_50, #TD_64, #TD_78*/

        #TD_14:after,
        #TD_22:after,
        #TD_36:after,
        #TD_50:after,
        #TD_64:after,
        #TD_78:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_14:after, #TD_22:after, #TD_36:after, #TD_50:after, #TD_64:after, #TD_78:after*/

        #TD_14:before,
        #TD_22:before,
        #TD_36:before,
        #TD_50:before,
        #TD_64:before,
        #TD_78:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_14:before, #TD_22:before, #TD_36:before, #TD_50:before, #TD_64:before, #TD_78:before*/

        #TD_29,
        #TD_43,
        #TD_71 {
            block-size: 27.3906px;
            border-block-end-color: rgb(33, 58, 85);
            border-block-end-style: solid;
            border-block-end-width: 1px;
            border-block-start-color: rgb(33, 58, 85);
            border-block-start-style: solid;
            border-block-start-width: 1px;
            border-collapse: collapse;
            border-inline-end-color: rgb(33, 58, 85);
            border-inline-end-style: solid;
            border-inline-end-width: 1px;
            border-inline-start-color: rgb(33, 58, 85);
            border-inline-start-style: solid;
            border-inline-start-width: 1px;
            box-sizing: border-box;
            height: 27.3906px;
            inline-size: 90.5312px;
            padding-block-end: 2px;
            padding-block-start: 2px;
            padding-inline-end: 2px;
            padding-inline-start: 2px;
            perspective-origin: 45.2656px 13.6875px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 45.2656px 13.6953px;
            vertical-align: middle;
            width: 90.5312px;
            border: 1px solid rgb(33, 58, 85);
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
            padding: 2px;
        }

        /*#TD_29, #TD_43, #TD_71*/

        #TD_29:after,
        #TD_43:after,
        #TD_71:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_29:after, #TD_43:after, #TD_71:after*/

        #TD_29:before,
        #TD_43:before,
        #TD_71:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_29:before, #TD_43:before, #TD_71:before*/

        #TD_57 {
            block-size: 27.3906px;
            border-block-end-color: rgb(33, 58, 85);
            border-block-end-style: solid;
            border-block-end-width: 1px;
            border-block-start-color: rgb(33, 58, 85);
            border-block-start-style: solid;
            border-block-start-width: 1px;
            border-collapse: collapse;
            border-inline-end-color: rgb(33, 58, 85);
            border-inline-end-style: solid;
            border-inline-end-width: 1px;
            border-inline-start-color: rgb(33, 58, 85);
            border-inline-start-style: solid;
            border-inline-start-width: 1px;
            box-sizing: border-box;
            height: 27.3906px;
            inline-size: 90.5312px;
            padding-block-end: 2px;
            padding-block-start: 2px;
            padding-inline-end: 2px;
            padding-inline-start: 2px;
            perspective-origin: 45.2656px 13.6875px;
            text-align: center;
            text-size-adjust: 100%;
            transform-origin: 45.2656px 13.6953px;
            vertical-align: middle;
            width: 90.5312px;
            border: 1px solid rgb(33, 58, 85);
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
            padding: 2px;
        }

        /*#TD_57*/

        #TD_57:after {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_57:after*/

        #TD_57:before {
            border-collapse: collapse;
            text-align: center;
            text-size-adjust: 100%;
            border-spacing: 2px 2px;
            font: 14px / 22.4px ProximaNova, Helvetica, normal;
        }

        /*#TD_57:before*/
    </style>

</div>

{% endblock fittings-info %}