{% extends 'rzmr/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-uzm">
            <h4 class="py-2">{{ title }} {% if city_pre %} в {{ city_pre }} {% endif %}
                от производителя {{ company_name_short }}</h4>

            {% if city_location == 'Москва' %}

            <p>Проектируя оборудование для работы в условиях повышенных температур, агрессивной химической среды или
                интенсивных механических нагрузок, инженеры все чаще обращаются к фторопластовым рукавам с оплеткой. Эти
                уникальные изделия сочетают в себе качества, необходимые для надежной и безопасной эксплуатации в самых
                экстремальных условиях. Будучи технологически простым, но надежным решением, металлорукава позволяют
                успешно выполнять широкий спектр разнообразных производственных задач.
            </p>

            {% elif city_location == 'Санкт-Петербург' %}

            <p>При работе с агрессивными газообразными, жидкими или сыпучими веществами, безопасность и долговечность
                трубопроводов имеют первостепенное значение. Вы можете купить фторопластовые рукава в оплетке от
                {{ company_name_short }} с доставкой в Санкт-Петербург. Это надежное и долговечное решение, которое
                обеспечивает максимальную защиту и безопасность транспортировки. Благодаря сочетанию прочной
                металлической оплетки и высококачественного фторопласта, эти гибкие трубопроводы устойчивы к коррозии,
                химическому воздействию, перепадам температур и высокому давлению.
            </p>

            {% elif city_location == 'Екатеринбург' %}

            <p>{{ company_name_short }} предлагает широкий ассортимент различных видов металлорукавов с доставкой в
                Екатеринбург. Одним из наиболее востребованных типов изделий являются фторопластовые рукава в оплетке.
                Это инновационное решение, сочетающее в себе устойчивость к действию химикатов и механическую прочность.
                Благодаря уникальной конструкции, они устойчивы к коррозии, перепадам температур, высокому давлению и
                другим агрессивным воздействиям. Выбирайте высокотехнологичные решения для безопасной транспортировки
                агрессивных сред!
            </p>

            {% elif city_location == 'Челябинск' %}

            <p>Благодаря уникальному сочетанию прочной металлической оплетки и высококачественного фторопласта гибкие
                трубопроводы из PTFE устойчивы к коррозии, перепадам температур и химическому воздействию. Металлическая
                оплетка обеспечивает исключительную механическую прочность и устойчивость к разрывам, а фторопласт
                &ndash; химическую стойкость и термостойкость. Фторопластовые рукава в оплетке способны выдерживать
                экстремальные температуры, а также работать под высоким давлением, оставаясь при этом безопасными и
                долговечными. Это надежное решение для вашего производства!
            </p>

            {% elif city_location == 'Магнитогорск' %}

            <p>Там, где эффективность и безопасность технологических процессов являются ключевыми приоритетами,
                фторопластовые рукава с оплеткой становятся воплощением передовых инженерных решений. Эти
                высокотехнологичные изделия отличаются не только непревзойденной износостойкостью, но и способностью
                противостоять самым суровым условиям эксплуатации, сочетая преимущества гибких шлангов и металлических
                трубопроводов.
            </p>

            {% elif city_location == 'Пермь' %}

            <p>Для работы в экстремальных условиях, где обычные материалы быстро выходят из строя, фторопластовые рукава
                с оплеткой представляют собой идеальное решение. Благодаря уникальной конструкции и высококачественным
                компонентам, эти изделия обеспечивают надежную и долговечную эксплуатацию в самых суровых промышленных
                средах. Вы можете заказать фторопластовые рукава в металлической оплетке с доставкой в Перми в
                {{ company_name_short }}.
            </p>

            {% elif city_location == 'Самара' %}

            <p>Инновационная конструкция фторопластовых рукавов с оплеткой &ndash; это результат сочетания надежных
                материалов и проверенных технологий. Эти изделия способны противостоять воздействию высоких температур,
                агрессивных химических веществ и интенсивным механическим нагрузкам &ndash; гидроударам, вибрации,
                растяжению. Приобрести фторопластовые рукава в металлической оплетке с доставкой в Самару можно в
                {{ company_name_short }}.
            </p>

            {% elif city_location == 'Уфа' %}

            <p>Работа с агрессивными средами, высоким давлением и экстремальными температурами требует особого подхода к
                выбору трубопроводов. Фторопластовые рукава в оплетке &ndash; это инновационное решение, которое
                обеспечивает максимальную защиту и безопасность транспортировки газообразных, жидких и сыпучих веществ.
                Компания {{ company_name_short }} предлагает купить фторопластовые рукава в металлической оплетке в Уфе.
                Выберите надежность и безопасность для вашего производства!
            </p>

            {% elif city_location == 'Казань' %}

            <p>Надежность и долговечность &ndash; вот ключевые характеристики фторопластовых рукавов с оплеткой, которые
                делают их незаменимым выбором для самых требовательных промышленных и технологических процессов. Эти
                универсальные инженерные решения демонстрируют исключительную устойчивость к воздействию агрессивных
                сред, высоких температур и механических нагрузок.
            </p>

            {% elif city_location == 'Омск' %}

            <p>От горнодобывающего дела до авиакосмической отрасли: фторопластовые рукава с оплеткой находят широкое
                применение во множестве секторов промышленности, где требуются исключительная износостойкость,
                термостойкость и химическая нейтральность. Эти универсальные изделия становятся ключевым элементом
                инфраструктуры современного производства.
            </p>

            {% elif city_location == 'Нижний Новгород' %}

            <p>Когда речь идет о транспортировке опасных, легковоспламеняемых или токсичных веществ, выбор правильного
                оборудования имеет первостепенное значение. Фторопластовые рукава с оплеткой &ndash; это надежное
                решение, которое гарантирует безопасность и эффективность технологических процессов, связанных с
                перемещением агрессивных материалов. Они могут справляться с веществами, находящимися под повышенным
                давлением, в условиях экстремальных температур, перемещаемыми с высокой скоростью и т.д.
            </p>

            {% else %}

            <p>
                Работа с агрессивными средами, высоким давлением и экстремальными температурами требует особого подхода
                к выбору трубопроводов. Фторопластовые рукава в оплетке – это инновационное решение, которое
                обеспечивает максимальную защиту и безопасность транспортировки газообразных, жидких и сыпучих веществ.
                Компания {{ company_name_short }} предлагает купить фторопластовые рукава в металлической оплетке
                {% if city_pre %} в {{ city_pre }} {% endif %}. Выберите надежность и безопасность для вашего
                производства!
            </p>

            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <p class="wrapper-up-uzm-card fs-5">
                Оплетка
            </p>
            <p class="uzm-text-card">
                представляет собой защитную оболочку сетчатого типа и изготавливается из стальной нержавеющей проволоки
                12Х18Н9Т. Позволяет обеспечить работоспособность рукава при воздействии различных нагрузок, а также
                пульсации давлений, возникающих при транспортировке по гибкому элементу рабочей среды. Оплетка должна
                плотно облегать рукав, не иметь оборванных частей.
            </p>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-braid' 'odnosloynaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Однослойная</div>
                </div>
                <img src="{% static '/rzmr/img/marked_opletka_odinarnaya.png' %}" alt="opletka">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-braid' 'dvukhsloynaya'  %}">
                <div class="wrapper-up-uzm-card">
                    <div>Двухслойная</div>
                </div>
                <img src="{% static '/rzmr/img/marked_opletka_dvoinaya.png' %}" alt="opletka">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-braid' 'trekhsloynaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Трёхслойная</div>
                </div>
                <img src="{% static '/rzmr/img/marked_opletka_troinaya.png' %}" alt="opletka">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-uzm">
            <h5 class="py-5">Основные рабочие характеристики фторопластовых рукавов в мелаллической оплетке:</h5>
            <table class="uzm-table">
                <tbody>
                    <tr>
                        <td class="p-1"><img src="{% static '/rzmr/img/Icon5.jpg' %}"></td>
                        <td>Условный внутренний диаметр Dy</td>
                        <td>6-100 мм</td>
                    </tr>
                    <tr>
                        <td class="p-1"><img src="{% static '/rzmr/img/Icon6.jpg' %}"></td>
                        <td>Рабочее давление Рраб</td>
                        <td>6-150 бар</td>
                    </tr>

                    <tr>
                        <td class="p-1"><img src="{% static '/rzmr/img/Icon7.jpg' %}"></td>
                        <td>Рабочая среда</td>
                        <td>Воздух, азот, гелий, кислород, водород, нефтепродукты, кислоты, техническая вода, пар,
                            бензин,керосин и т.д.</td>
                    </tr>
                    <tr>
                        <td class="p-1"><img src="{% static '/rzmr/img/Icon8.jpg' %}"></td>
                        <td>Температура рабочей среды</td>
                        <td>от -90 до +260 °C</td>
                    </tr>
                    <tr>
                        <td class="p-1"><img src="{% static '/rzmr/img/Union.jpg' %}"></td>
                        <td>Радиус изгиба</td>
                        <td>В среднем 3 Ду</td>
                    </tr>
                </tbody>
            </table>

            {% if city_location == 'Москва' %}

            <h4>Применение</h4>
            <p>Фторопластовые рукава в металлической оплетке находят широкое применение в различных отраслях
                промышленности. Вот несколько основных сфер их использования:</p>
            <ul>
                <li>химическая промышленность &ndash; транспортировка агрессивных химических веществ, кислот, щелочей, а
                    также соединение технологического оборудования в химических производствах;</li>
                <li>нефтегазовая отрасль &ndash; подача топлива и смазочных материалов, соединение трубопроводов для
                    транспортировки нефти и газа;</li>
                <li>автомобильная промышленность &ndash; подача топлива и технических жидкостей;</li>
                <li>машиностроение &ndash; гидравлические системы станков и промышленного оборудования, подача смазочных
                    материалов в трущиеся узлы;</li>
                <li>пищевая промышленность &ndash; транспортировка пищевых продуктов и напитков, соединение оборудования
                    в технологических линиях;</li>
                <li>медицинская сфера &ndash; подача кислорода, медицинских газов и жидкостей, применение в аппаратах
                    искусственного кровообращения.</li>
            </ul>
            <p>Основными преимуществами фторопластовых рукавов с металлической оплеткой являются их устойчивость к
                агрессивным средам, высокая температурная стойкость, гибкость и долговечность.</p>
            <h4>Особенности конструкции</h4>
            <p>Материал фторопласт (тефлон, PTFE), использующийся для транспортирования технологической жидких и
                газообразных сред, обладает особыми физико-химическими свойствами. Трубопровод, изготовленный из данного
                материала, наделен высокой стойкостью к воздействию агрессивных факторов. Экстремальная температура,
                кислотная и щелочная среда, вибронапряжения и гидроудары &ndash; это далеко не полный список условий, с
                которыми изделие сталкивается в ходе эксплуатации. PTFE делает внутренний транспортировочный канал
                максимально герметичным и устойчивым к динамическим нагрузкам.</p>
            <p>Но фторопластовые рукава в металлической оплетке обладают не только этими преимуществами. Возможность
                транспортирования среды под большим давлением обеспечивается использованием сетчатой оплетки из
                высоколегированной проволоки, обладающей большим сопротивлением на разрыв. Внутреннее высокое давление
                транспортируемой среды воздействует на фторопластовый шланг, стремясь вызвать разрывное разрушение
                трубки. Для сохранения прочностных свойств и неизменной геометрической формы конструкция предусматривает
                наличие оплетки, изготовленной из высокопрочной нержавеющей проволоки.</p>
            <p>В случае необходимости изделие можно снабдить дополнительными опциями &ndash; оболочкой &laquo;тяжелая
                серия&raquo;, термочехлом и т.д.</p>
            <p>Вы можете заказать фторопластовые рукава с оплеткой с доставкой в Москве в {{ company_name_short }}. Мы
                предлагаем надежный и оперативный сервис, а также гарантируем качество каждого изделия. Чтобы узнать
                больше и сделать заказ, позвоните по номеру <a href="tel:+74996492949">+7 (499) 649-29-49</a> или
                оставьте заявку на сайте.</p>

            {% elif city_location == 'Санкт-Петербург' %}

            <h4>Общая информация</h4>
            <p>В конструкции транспортных систем для перекачки агрессивных сред, находящихся в различных агрегатных
                состояниях, часто используются необычные решения. Металлорукава являются одним из них: они сочетают
                преимущества жестких труб и гибких шлангов. При этом в их конструкции используется фторопласт
                (политетрафторэтилен, PTFE).</p>
            <p>Известны фторопластовые рукава серии РФГ и серии РФП. Изделия серии РФП работают под давлением не более
                500 атм, изготовлены из гладкой фторопластовой трубы. Серия РФГ изготавливается из гофрированной
                фторопластовой трубы и работает под давлением более 500 атм. Конструкция РФГ имеет оплётку одной из
                конструкций &ndash; спиральную оплетку, сетчатую, комбинированную.</p>
            <h4>Особенности</h4>
            <p>Фторопластовые рукава в металлической оплетке обладают рядом преимуществ и особенностей.</p>
            <ul>
                <li>Высокая термостойкость &ndash; фторопласт способен выдерживать температуры от -270&deg;C до
                    +260&deg;C, что делает его подходящим для работы с горячими жидкостями и газами, а также в условиях
                    высоких и низких температур.</li>
                <li>Химическая стойкость &ndash; полимер устойчив к воздействию большинства химических веществ, включая
                    агрессивные кислоты, щелочи и растворители. Это позволяет использовать такие рукава для
                    транспортировки коррозионных сред.</li>
                <li>Гибкость &ndash;& такие трубопроводы остаются гибкими и легко изгибаются, что облегчает их монтаж и
                    эксплуатацию, а также помогает воспринимать нагрузки среды, такие как гидроудары и вибронапряжения.
                </li>
                <li>Металлическая оплетка &ndash; защищает внутренний фторопластовый слой от механических повреждений,
                    придает дополнительную прочность и жесткость. Обычно оплетка выполнена из нержавеющей стали.</li>
                <li>Низкий коэффициент трения &ndash; гладкая внутренняя поверхность обеспечивает низкое сопротивление
                    потоку жидкостей и газов, что снижает потери давления и энергии.</li>
                <li>Непроницаемость &ndash; не пропускает газы и жидкости, что делает его подходящим для транспортировки
                    опасных или ценных веществ.</li>
            </ul>
            <p>Изделия широко применяются в химической, нефтегазовой, пищевой и фармацевтической промышленности, а также
                в авиации и космической технике благодаря их уникальным свойствам.</p>
            <p>Вы можете заказать фторопластовые рукава в металлической оплетке в Санкт-Петербурге с доставкой от
                {{ company_name_short }}. Для этого позвоните по номеру
                <a href="tel:+78122100002">+7 (812) 210-00-02</a> или
                оставьте заявку на сайте. Мы гарантируем надежные поставки точно в сроки, полную сохранность партий и
                стопроцентное качество товаров в заказе любого масштаба. Обращаясь к нам, вы обращаетесь напрямую к
                производителю и получаете самые выгодные условия!
            </p>

            {% elif city_location == 'Екатеринбург' %}

            <h4>Особенности материала</h4>
            <p>Фторопласт, также известный как политетрафторэтилен (ПТФЭ), обладает рядом уникальных свойств, которые
                делают его таким эффективным для использования в транспортных системах.</p>
            <ul>
                <li>Химическая стойкость &ndash; полимер практически не подвержен воздействию большинства кислот,
                    щелочей, растворителей и других агрессивных сред. Это позволяет использовать его для транспортировки
                    широкого спектра жидких и газообразных веществ без риска коррозии или деградации материала.</li>
                <li>Широкий диапазон рабочих температур &ndash; материал сохраняет свои свойства в широком диапазоне
                    температур от -200&deg;C до +260&deg;C. Это делает его подходящим для применения в экстремальных
                    условиях</li>
                <li>Низкий коэффициент трения &ndash; обладает одним из самых низких коэффициентов трения среди твердых
                    материалов, что обеспечивает высокую износостойкость и облегчает работу с сыпучими материалами.</li>
                <li>Антиадгезионные свойства &ndash; они препятствуют прилипанию и накоплению частиц транспортируемых
                    веществ.</li>
                <li>Негорючесть &ndash; не поддерживает горение, что обеспечивает дополнительную безопасность при
                    перекачке легковоспламеняющихся жидкостей и газов.</li>
            </ul>
            <p>Благодаря этим свойствам фторопласт широко применяется в металлорукавах, обеспечивая их высокую
                коррозионную стойкость, долговечность и надежность при эксплуатации даже в самых сложных условиях.</p>
            <h4>Сферы применения</h4>
            <ul>
                <li>В энергетической отрасли &ndash; для монтажа трубопроводов на энергетических предприятиях.</li>
                <li>В качестве защитной оболочки для оборудования во взрыво- и пожароопасных помещениях.</li>
                <li>При прокладке инженерных коммуникаций.</li>
                <li>В пищевой и фармацевтической промышленности &ndash; металлорукава разрешены для использования с
                    пищевыми продуктами и медикаментами благодаря герметичности, отсутствию токсичности и инертности к
                    большинству химических веществ.</li>
                <li>В нефтегазовой отрасли &ndash; стойкость к химическому воздействию и широкий температурный диапазон
                    делают изделия подходящими для различных применений в нефтегазовой промышленности.</li>
            </ul>

            <p>Металлическая оплетка обеспечивает дополнительную прочность, износостойкость и защиту от механических
                повреждений при работе в тяжелых условиях.</p>
            <p>Чтобы купить фторопластовые рукава в металлической оплетке в Екатеринбурге с доставкой от
                {{ company_name_short }} позвоните по телефону <a href="tel:+73433579710">+7 (343) 357-97-10</a> или
                закажите звонок нашего специалиста на сайте. Мы гарантируем выгодные условия, быструю доставку и
                стопроцентное качество каждого изделия!</p>

            {% elif city_location == 'Челябинск' %}

            <h4>Назначение изделий</h4>
            <p>В промышленности нередко возникает необходимость в оборудовании, связанном с техническими процессами,
                протекающими в суровых условиях. Одной из таких задач являются операции по транспортированию различных
                агрессивных сред, включая газы, жидкости, находящиеся при низких и высоких температурах или под
                давлением. Агрессивность сред делает необходимым применение материалов, способных нейтрально реагировать
                на такие вещества, при этом оставаясь прочными, герметичными, готовыми к перепадам температур и другим
                резким изменениям условий эксплуатации.</p>
            <p>Фторопласт 4 (PTFE) &ndash; материал, из которого {{ company_name }}
                производит изделия серии РФП и РФГ для транспортирования агрессивных сред. Для перекачки газов и
                жидкостей в металлорукавах РФП и РФГ применяется оплётка, позволяющая осуществлять транспортировку среды
                под высоким давлением. Она выполняется из легированной нержавеющей стали в один или несколько слоёв.
                Увеличение количества слоев добавляет прочностное сопротивление внутреннему воздействию среды
                (гидроударам, вибронапряжениям) с сохранением работоспособности транспортной системы.</p>
            <h4>{{ company_name_short }} ведущий производитель высококачественных фторопластовых рукавов в
                металлической оплетке</h4>
            <p>Наша продукция отличается долговечностью, стойкостью к агрессивным средам и широким диапазоном рабочих
                температур. А прямое сотрудничество с нашим заводом предоставляет следующие преимущества:</p>
            <ul>
                <li>гарантированное качество и надежность продукции, поставляемой напрямую от производителя;</li>
                <li>выгодные условия благодаря отсутствию посредников;</li>
                <li>индивидуальный подход и возможность изготовления заказов под ваши требования;</li>
                <li>оперативная доставка по всей территории России и стран СНГ;</li>
                <li>техническая поддержка и консультации наших специалистов.</li>
            </ul>
            <p>Чтобы купить фторопластовые рукава в металлической оплетке в Челябинске с доставкой от
                {{ company_name_short }} или получить более подробную информацию, вы можете позвонить нам по номеру
                <a href="tel:88005555756">8 (800) 5555-756</a> или оставить заявку на нашем сайте.
            </p>

            {% elif city_location == 'Магнитогорск' %}

            <h4>Технологические преимущества</h4>
            <p>Эти изделия обладают рядом характерных особенностей, которые определяют их широкое применение в различных
                отраслях промышленности. К ним относятся следующие:</p>
            <ul>
                <li>высокая прочность и устойчивость к механическим воздействиям &ndash; металлическая оплетка придает
                    изделиям повышенную прочность на растяжение, изгиб и пробой, что позволяет использовать их в
                    условиях высоких нагрузок;</li>
                <li>термостойкость &ndash; рукава выдерживают значительные температурные перепады и могут применяться
                    для транспортировки среды с очень высокой/низкой температурой;</li>
                <li>химическая &ndash; оболочка обеспечивает защиту от воздействия агрессивных жидкостей, газов,
                    нефтепродуктов;</li>
                <li>гибкость и малый радиус изгиба &ndash; сохраняют высокую эластичность, что дает возможность монтажа
                    в ограниченных пространствах;</li>
                <li>длительный срок эксплуатации &ndash; высокая износостойкость и долговечность.</li>
            </ul>
            <p>Данные характеристики объясняют широкое применение металлорукавов в различных отраслях: машиностроении,
                энергетике, нефтехимии, металлургии, авиации и других сферах, требующих надежной транспортировки
                агрессивных или опасных сред.</p>
            <h4>Особенности монтажа</h4>
            <p>Сегменты трубопровода предназначенные для транспортирования технологической среды, жестко соединены с
                примыкающими участками системы с помощью герметичных элементов концевой арматуры.</p>
            <p>В зависимости от того, какие именно технологические задачи должен выполнять трубопровод, используется тот
                или иной вид концевой арматуры. Существует несколько разновидностей присоединительных конструкций.</p>
            <p>Наиболее распространенными являются накидные гайки с ниппелями различного исполнения. Также широко
                используются другие варианты, например фланцы, соединения &laquo;под приварку&raquo;, быстроразъемные
                замки для байпасных линий и другие варианты. Выбор зависит от того, какое именно вещество будет
                транспортироваться, на какое время рассчитана служба коммуникаций, насколько герметичным должно быть
                соединение и т.д.</p>
            <p>В изделиях концевой арматуры используется высоколегированная хромоникелевая нержавеющая сталь,
                нейтральная к взаимодействию с агрессивными технологическими средами.</p>
            <p>Вы можете заказать фторопластовые рукава с металлической оплеткой в Магнитогорске с доставкой в
                {{ company_name_short }}. Обширный штат специалистов и развитое производство позволяют нам обеспечить
                изготовление фторопластового рукава и концевой арматуры по чертежам заказчика. Мы всегда предложим
                наиболее подходящее вам решение!</p>

            {% elif city_location == 'Пермь' %}

            <h4>Из чего состоит металлорукав?</h4>
            <p>Металлорукав, предназначенный для транспортирования технологической жидкой или газообразной агрессивной
                среды, содержит внутри конструкции гибкую трубку, выполненную из фторопласта. Для присоединения к
                составным частям металлорукава используется герметичная нержавеющая концевая арматура, стыкующаяся с
                остальными частями рукава посредством резьбы, фланцевого соединения или других конструктивных стыкующих
                видов соединений. Например, для байпасных линий применяются быстроразъемные замки-камлоки, которые
                позволяют быстро проводить монтаж и демонтаж коммуникаций.</p>
            <p>Гибкая внутренняя оболочка во избежание разрывных деформаций с наружной стороны защищена проволочной
                оплеткой, изготовленной из высоколегированной нержавеющей проволоки с высокими прочностными
                характеристиками на разрыв. Основным преимуществом фторопластовой трубки является защищенность от
                агрессивного воздействия технологической среды.</p>
            <p>Оплетка представляет собой оболочку сетчатого типа, обеспечивающую работоспособность рукава при высоком
                давлении или при пульсирующем режиме. Оболочка может быть изготовлена однослойной, двухслойной,
                трехслойной, в зависимости от назначенных условий эксплуатации.</p>
            <h4>Области применения</h4>
            <ul>
                <li>Нефтегазовая промышленность &ndash; транспортировка нефти, газа, химических реагентов, подача
                    топлива и смазочных материалов</li>
                <li>Пищевая и фармацевтическая промышленность &ndash; перемещение пищевых продуктов, добавок и
                    лекарственных препаратов, соответствие высоким требованиям гигиены и безопасности</li>
                <li>Химическая промышленность &ndash; транспортировка агрессивных жидкостей и газов, устойчивость к
                    воздействию кислот, щелочей, растворителей</li>
                <li>Энергетическая отрасль &ndash; подача охлаждающих жидкостей и рабочих сред, транспортировка водорода
                    и других газов</li>
                <li>Строительство и промышленность &ndash; транспортировка строительных смесей и сыпучих материалов,
                    перемещение различных жидкостей и сжатого воздуха</li>
            </ul>
            <p>Вы можете заказать фторопластовые рукава в металлической оплетке в Перми в {{ company_name_short }}. Мы
                гарантируем вам высокое качество продукции, выгодные условия сотрудничества и оперативную доставку.
            </p>

            {% elif city_location == 'Самара' %}

            <h4>Преимущества</h4>
            <p>PTFE-рукава сочетают в себе ряд преимуществ гибких шлангов и металлических трубопроводов, позволяя
                обеспечивать безопасную и эффективную доставку жидких, газообразных и сыпучих материалов. К ним
                относятся следующие характеристики:</p>
            <ul>
                <li>химическая нейтральность;</li>
                <li>возможность эксплуатации в условиях экстремальных температур;</li>
                <li>возможность монтажа в труднодоступных условиях в короткие сроки;</li>
                <li>долговечность и простота обслуживания;</li>
                <li>готовность к воздействию высокого давления;</li>
                <li>высокая допустимая скорость прокачки;</li>
                <li>соответствие международным стандартам и требованиям безопасности.</li>
            </ul>
            <p>Гибкие трубопроводы отлично подходят для транспортировки широкого спектра жидких, газовых и сыпучих сред
                в различных сферах производства и промышленности. Уникальные характеристики, сочетающие химическую
                стойкость, прочность и гибкость, обеспечивают эффективную и безопасную доставку материалов, а также
                способствуют повышению эксплуатационной надежности и сокращению затрат.</p>
            <h4>Конструктивные особенности</h4>
            <p>Металлорукава служат для транспортирования технологических агрессивных сред в различных агрегатных
                состояниях. Они содержат внутри конструкции полимерную трубку, нейтрально реагирующую на химически
                активные вещества.</p>
            <p>Полимерный гибкий шланг заключен в гофрированную оболочку из высококачественной нержавеющей стати,
                позволяющую сохранить гибкость и высокие прочностные характеристики.</p>
            <p>Наружная оболочка может быть разной, это зависит от технологических целей. Термическая оболочка защищает
                тефлоновую трубку от нестабильных термических воздействий. Гофрированная трубка рукава в металлической
                оплетке направлена на сохранение геометрической формы при нагрузке избыточным внутренним давлением.
                Пружина обеспечивает жесткость диаметральной формы. Плоская трубка противодействует избыточному
                внутреннему давлению транспортируемого материала.</p>
            <p>Обращаясь к нам, вы выбираете строгий контроль качества, выгодные условия от производителя, надежную
                доставку и выгодное партнерство для вашего бизнеса. {{ company_name_short }} &ndash; лучший выбор для
                вашего успеха!
            </p>

            {% elif city_location == 'Уфа' %}

            <h4>Конструкция</h4>
            <p>Изделия представляют собой многослойную конструкцию, которая состоит из нескольких компонентов.</p>
            <ul>
                <li>Внутренний слой &ndash; это гладкая трубка из фторопласта (политетрафторэтилена, ПТФЭ), обладающего
                    высокой химической стойкостью, термостойкостью и низким коэффициентом трения. Этот слой обеспечивает
                    коррозионную стойкость и способность пропускать различные среды без загрязнения.</li>
                <li>Промежуточный слой &ndash; оплетка из нержавеющей проволоки, которая придает дополнительную
                    прочность на разрыв и стойкость к истиранию. Плотность и количество слоев оплетки может
                    варьироваться для достижения необходимых характеристик.</li>
                <li>Внешний слой &ndash; это может быть дополнительное покрытие, например, термочехол, улучшающее
                    эксплуатационные характеристики.</li>
                <li>Концевая арматура &ndash; разнообразные решения для байпасных линий и постоянных коммуникаций: от
                    быстроразъемных &laquo;камлоков&raquo; и резьбовых соединений до арматуры под приварку.</li>
            </ul>
            <h4>Характеристики и применение</h4>
            <p>Изделия находят широкое применение в промышленности, благодаря своим технологическим особенностям.
                Материал сохраняет свои свойства в широком диапазоне температур. К этим свойствам относятся следующие:
            </p>
            <ul>
                <li>минимальный коэффициент трения;</li>
                <li>минимальная адгезия, позволяющая транспортировать как жидкие, так и сыпучие среды;</li>
                <li>Нейтральная реакция к агрессивным средам, что позволяет транспортировать кислоты, щелочи и другие
                    вещества, предъявляющие высокие требования безопасности в процессе эксплуатации;</li>
                <li>Теплоустойчивость и готовность к эксплуатации в условиях повышенного давления;</li>
                <li>Гибкость и легкость монтажа;</li>
                <li>Прочность и стойкость к механическим повреждениям.</li>
            </ul>
            <p>Фторопластовые рукава способны транспортировать агрессивные жидкости, газы, находящиеся под высоким
                давлением, благодаря их конструктивной особенности. В состав конструкции входит внешняя проволочная
                оплётка, изготовленная из нержавеющей легированной проволоки со свойствами повышенной прочности на
                растяжение. Внутреннее давление транспортируемой среды имеет пульсирующий или статический характер
                различной величины. Поэтому конструкция оплётки может быть многослойной, способной воспринимать большое
                или малое внутреннее давление среды.</p>
            <p>Вы можете купить фторопластовые рукава в металлической оплетке в Уфе в {{ company_name_short }}. Мы
                гарантируем качество каждого изделия, ведь мы проверяем 100% продукции, поэтому вероятность брака
                исключена. {{ company_name }} находится прямо в городе &ndash; это самое
                выгодное решение для вас! Позвоните нам по номерам <a href="tel:+73472929864">+7 (347) 292-98-64</a> или
                <a href="tel:+73472747387">+7 (347) 274-73-87</a>, также вы можете оставить заявку на сайте, чтобы
                узнать больше и сделать заказ.
            </p>

            {% elif city_location == 'Казань' %}

            <h4>Характеристики и особенности</h4>
            <p>Транспортирование технологических жидкостей и газов через гибкие трубопроводы часто производится при
                высоких и низких температурах, а также при различных уровнях давлений. Поэтому они должны обладать рядом
                эксплуатационных характеристик:</p>
            <ul>
                <li>химической стойкостью &ndash; это позволяет использовать их для агрессивных сред (кислот, щелочей,
                    органических растворителей и т.д.);</li>
                <li>широким температурным диапазоном &ndash; выдерживать температурный диапазон от -90&deg;c до
                    +260&deg;c, что обеспечивает их универсальность;</li>
                <li>гибкостью и прочностью &ndash; конструкция металлорукавов наделяет их высокой прочностью и
                    устойчивостью к механическим нагрузкам, одновременно сохраняя необходимую гибкость;</li>
                <li>электроизоляционными свойствами &ndash; полимерная оболочка обеспечивает превосходную электрическую
                    изоляцию, что важно при работе с токопроводящими средами;</li>
                <li>легкостью &ndash; по сравнению с металлическими трубопроводами являются значительно более легкими;
                </li>
                <li>долговечностью &ndash; фторопластовые оболочки отличаются исключительной стойкостью к износу и
                    старению, что обеспечивает длительный срок службы.</li>
            </ul>
            <p>Уникальные характеристики обеспечивают широкое применение этого вида транспортировочных систем в
                различных отраслях: от химической промышленности до пищевой и фармацевтической.</p>
            <h4>Гарантии качества и надежности</h4>
            <p>{{ company_name_short }} проводит испытания всех конструкций на степень герметичности и прочности.
                Испытания на герметичность производятся воздухом с соблюдением контрольных параметров: давление
                выдерживается в диапазоне от 0,4 до 25 атмосфер. Максимальная длина испытуемого сегмента составляет 25
                метров. Герметичность подразумевает отсутствие проникновения частиц среды через оболочку изделия.</p>
            <p>Испытание на прочность производится гидравлическим методом. При этом контролируется отклонение размеров
                от конструктивных. Давление находится в диапазоне от 3 до 1000 атмосфер.</p>
            <p>Мы не только проводим испытания всех конструкций, но и ведем строгий контроль качества &ndash; проверку
                проходит каждое изделие в партии! Заказать фторопластовые рукава в металлической оплетке в
                {{ company_name_short }} в Казани &ndash; лучший выбор для вашего бизнеса!
            </p>

            {% elif city_location == 'Омск' %}

            <h4>Устройство</h4>
            <p>Фторопластовый рукав представляет собой полимерную трубку из PTFE (тефлона), покрытую гибкой
                металлической гофрой и одним, двумя или тремя слоями оплетки. Такая конструкция позволяет трубопроводу
                объединять преимущества полимерных шлангов и жестких трубопроводов, сохраняя прочность металла, а также
                гибкость, устойчивость к химическому воздействию и гидроударам.</p>
            <p>Сегменты транспортировочной системы соединяются с помощью концевой арматуры, которая выбирается в
                зависимости от технологических задач. Существуют быстроразъемные замки (камлоки), резьбовые, фланцевые,
                сварные соединения и т.д.</p>
            <p>И, наконец, в зависимости от потребностей заказчика могут быть использованы дополнительные опции: оплетка
                тяжелой серии, термочехол и т.д.</p>
            <h4>Характеристики</h4>
            <p>Гибкие трубопроводы с полимерной внутренней оболочкой &ndash; это универсальное решение для промышленных
                задач, которые находят широкое применение в различных отраслях производства. Их уникальные свойства
                обеспечивают высокую степень защиты оборудования и безопасность технологических процессов.</p>
            <p>Основные преимущества фторопластовых рукавов с оплеткой:</p>
            <ul>
                <li>устойчивость к агрессивным средам &ndash; фторопласт обладает исключительной химической стойкостью,
                    что позволяет использовать рукава для транспортировки едких, коррозионных, летучих и других опасных
                    жидкостей и газов;</li>
                <li>широкий диапазон рабочих температур &ndash; фторопластовые рукава сохраняют свои эксплуатационные
                    характеристики при температурах от -90&deg;C до +260&deg;C, что делает их незаменимыми в условиях
                    экстремальных тепловых режимов;</li>
                <li>высокая прочность и долговечность &ndash; сочетание полимера с высокопрочными армирующими
                    материалами обеспечивает рукавам уникальную износостойкость и ударопрочность, а также продлевает
                    срок их службы в 2-3 раза по сравнению со стандартными шлангами;</li>
                <li>пожаробезопасность &ndash; фторопласт обладает высокими показателями огнестойкости, что снижает риск
                    возникновения пожаров и взрывов при работе с легковоспламеняющимися веществами;</li>
                <li>простота монтажа и эксплуатации &ndash; гибкая структура трубопроводов облегчает их установку в
                    труднодоступных местах, а также обеспечивает стабильную работу без перекручивания и деформации.</li>
            </ul>
            <p>Сочетание данных характеристик позволяет применять эти изделия в широком спектре промышленных задач
                &ndash; от химической и нефтегазовой отраслей до авиации, машиностроения и энергетики. Они обеспечивают
                надежную защиту оборудования, снижают эксплуатационные издержки и повышают безопасность производственных
                процессов.</p>
            <p>Вы можете заказать фторопластовые рукава в металлической оплетке с доставкой в Омск в
                {{ company_name_short }}. Собственное производство, развитая система логистики, строгий контроль
                качества, выгодные условия &ndash; главные доводы, по которым стоит сделать выбор в пользу нашей
                продукции!
            </p>

            {% elif city_location == 'Нижний Новгород' %}

            <h4>Особенности материала</h4>
            <p>Материал фторопласт используется во многих отраслях промышленности, благодаря его особым
                физико-химическим свойствам. Его используют для создания элементов конструкций, подверженных воздействию
                химически активных жидких и газообразных сред. Особенно эффективно он используется в качестве шланга
                внутри металлорукавов для транспортирования агрессивных жидкостей и газов, находящихся при высоких
                температурах, в криогенных устройствах, а также при экстремальном давлении.</p>
            <p>Для сопротивления высокому давлению полимерные трубки опоясывают проволочной оплеткой, выполненной из
                высоколегированной проволоки с высоким сопротивлением на разрыв. Оплетка может быть однослойной,
                двухслойной, трехслойной, в зависимости от величины фактической нагрузки.</p>
            <p>Еще одна важная часть транспортировочной системы &ndash; концевая присоединительная арматура, которая
                также изготавливается из высококачественной нержавеющей стали. Разновидность соединения выбирается в
                зависимости от транспортируемого вещества и технологических задач. Это могут быть быстроразъемные замки
                для байпасных линий, резьбовые, фланцевые, сварные соединения и т.д.</p>
            <h4>Использование</h4>
            <p>Фторопластовые рукава в металлической оплетке &ndash; универсальное решение для широкого спектра
                промышленных задач. Эти высокотехнологичные продукты сочетают в себе прочность, гибкость и химическую
                стойкость, что делает их незаменимыми в различных отраслях промышленности.</p>
            <p>Области применения:</p>
            <ul>
                <li>химическая промышленность &ndash; транспортировка кислот, щелочей, растворителей и других
                    агрессивных веществ;</li>
                <li>нефтегазовая отрасль &ndash; соединение технологического оборудования, перекачка нефти и
                    нефтепродуктов;</li>
                <li>пищевая промышленность &ndash; транспортировка пищевых продуктов, в том числе горячих, к
                    технологическому оборудованию;</li>
                <li>машиностроение &ndash; подвод смазочных и охлаждающих жидкостей к узлам и механизмам;</li>
                <li>медицина &ndash; транспортировка медикаментов;</li>
                <li>энергетика &ndash; подача теплоносителей в системах отопления и горячего водоснабжения.</li>
            </ul>
            <p>Это надежное и универсальное решение для промышленности, позволяющее справляться с самыми сложными
                задачами в различных отраслях.</p>
            <p>Вы можете купить фторопластовые рукава в металлической оплетке с доставкой в Нижний Новгород в
                {{ company_name_short }} По согласованию с заказчиком возможны индивидуальные конструктивные доработки.
                Обращаясь к нам, вы выбираете гарантию качества и выгодные условия от производителей!</p>

            {% else %}

            <h4 class="py-3">
                Конструкция
            </h4>
            <p>
                Изделия представляют собой многослойную конструкцию, которая состоит из нескольких компонентов.
            </p>
            <ul type="circle">
                <li>
                    Внутренний слой – это гладкая трубка из фторопласта (политетрафторэтилена, ПТФЭ), обладающего
                    высокой химической стойкостью, термостойкостью и низким коэффициентом трения. Этот слой обеспечивает
                    коррозионную стойкость и способность пропускать различные среды без загрязнения.
                </li>
                <li>
                    Промежуточный слой – оплетка из нержавеющей проволоки, которая придает дополнительную прочность на
                    разрыв и стойкость к истиранию. Плотность и количество слоев оплетки может варьироваться для
                    достижения необходимых характеристик.
                </li>
                <li>
                    Внешний слой – это может быть дополнительное покрытие, например, термочехол, улучшающее
                    эксплуатационные характеристики.
                </li>
                <li>
                    Концевая арматура – разнообразные решения для байпасных линий и постоянных коммуникаций: от
                    быстроразъемных «камлоков» и резьбовых соединений до арматуры под приварку.
                </li>
            </ul>
            <h4>
                Характеристики и применение
            </h4>
            <p class="py-3">
                Изделия находят широкое применение в промышленности, благодаря своим технологическим особенностям.
                Материал сохраняет свои свойства в широком диапазоне температур. К этим свойствам относятся следующие:
            </p>
            <ul type="circle">
                <li>
                    минимальный коэффициент трения;
                </li>
                <li>
                    минимальная адгезия, позволяющая транспортировать как жидкие, так и сыпучие среды;
                </li>
                <li>
                    Нейтральная реакция к агрессивным средам, что позволяет транспортировать кислоты, щелочи и другие
                    вещества, предъявляющие высокие требования безопасности в процессе эксплуатации;
                </li>
                <li>
                    Теплоустойчивость и готовность к эксплуатации в условиях повышенного давления;
                </li>
                <li>
                    Гибкость и легкость монтажа;
                </li>
                <li>
                    Прочность и стойкость к механическим повреждениям.
                </li>
            </ul>
            <p>
                Фторопластовые рукава способны транспортировать агрессивные жидкости, газы, находящиеся под высоким
                давлением, благодаря их конструктивной особенности. В состав конструкции входит внешняя проволочная
                оплётка, изготовленная из нержавеющей легированной проволоки со свойствами повышенной прочности на
                растяжение. Внутреннее давление транспортируемой среды имеет пульсирующий или статический характер
                различной величины. Поэтому конструкция оплётки может быть многослойной, способной воспринимать большое
                или малое внутреннее давление среды.
            </p>

            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4 col-3 py-5">
            <div class="horizontal-line-uzm my-4"></div>
        </div>
        <div class="text-center col-xl-4 col-6 py-5">
            <p class="fs-3 fw-bold">Смотрите также</p>
        </div>
        <div class="col-xl-4 col-3 py-5">
            <div class="horizontal-line-uzm my-4"></div>
        </div>
    </div>
    <div class="row text-center justify-content-center">
        <div class="col-xl-3 col-md-4 p-2 m-1 uzm-button-link">
            <a class="fw-bold" href="{% url 'ptfe-hoses' %}">{% trans 'PTFE Metal hoses' %}</a>
        </div>
        <div class="col-xl-3 col-md-4 p-2 m-1 uzm-button-link">
            <a class="fw-bold" href="{% url 'ptfe-gofrirovanniy' %}">Гофрированные {% trans 'PTFE Metal hoses' %}</a>
        </div>
        <div class="col-xl-3 col-md-4 p-2 m-1 uzm-button-link">
            <a class="fw-bold" href="{% url 'gibkie-truboprovody' %}">Гибкие трубопроводы</a>
        </div>
    </div>
</div>
{% endblock content %}