{% extends 'rzmr/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-uzm">
            <h1 class="h3 fw-bold py-2">{{ title }}</h1>
            <p>
                Гофрированная толстостенная - увеличенная гибкость и повышенное рабочее давление. Тяжелая серия -
                предназначен для эксплуатации фторопластовых рукавов на особо ответственных производственных участках.
                Максимальное рабочее давление, минимальная гибкость.
            </p>
            <p class="py-4">
                <img src="{% static '/rzmr/img/marked_гофрированная толстостенная.png' %}" alt="gofra">
            </p>
        </div>
    </div>
</div>
{% endblock content %}