{% extends 'rzmr/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-uzm">
            <h1 class="h3 fw-bold py-2">{{ title }}</h1>
            <p>
                Плоская стандартное исполнение - выполнена из тонкостенной фторопластовой трубки, обладает средней
                гибкостью и рассчитана на рабочее давление до 190 кгс/см<sup>2</sup> в зависимости от внутреннего диаметра.
                Подходит под большую часть требований Заказчика.
                Плоская толстостенная - увеличенная толщина стенки позволяет выдерживать большее рабочее давление,
                однако сам рукав становится менее гибким.
            </p>
            <p>
                Гофрированная стандартное исполнение - данное исполнение позволяет существенно увеличить гибкость
                рукавов, но при этом рукав выдерживаем меньшее рабочее давление.
            </p>
            <p>
                Гофрированная толстостенная - увеличенная гибкость и повышенное рабочее давление.
            </p>
            <p>
                Тяжелая серия - предназначен для эксплуатации фторопластовых рукавов на особо ответственных
                производственных участках. Максимальное рабочее давление, минимальная гибкость.
            </p>
            <p class="py-4">
                <img src="{% static '/rzmr/img/marked_плоская тонкостенная стандарт.png' %}" alt="gofra">
            </p>
        </div>
    </div>
</div>
{% endblock content %}