{% extends 'rzmr/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-uzm">
            <h1 class="h3 fw-bold py-2">{{ title }}</h1>
            <p>
                Антистатическая присадка - специальный сажевый слой, наносится на внутреннюю часть фторопластовой трубки
                и позволяет избежать повреждения ее статическим электричеством, накапливающимся при прохождении среды по
                гибкой части.
                Футеровка PTFE - развальцовка гибкой части фторопластового рукава на концевую арматуру.
            </p>
            <p class="py-4">
                <img src="{% static '/rzmr/img/marked_внутренний экран антистатический_плоский.png' %}" alt="gofra">
            </p>
        </div>
    </div>
</div>
{% endblock content %}