{% extends 'rzmr/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-uzm">
            <h4 class="py-2">{{ title }} {% if city_pre %} в {{ city_pre }} {% endif %}
                от производителя {{ company_name_short }}</h4>

            {% if city_location == 'Москва' %}

            <p>Вы работаете в тяжелых промышленных условиях? Гофрированные рукава PTFE &ndash; ваше решение для
                бесперебойной транспортировки различных сред. Эти высококачественные трубопроводы устойчивы к коррозии,
                абразивам и экстремальным температурам. {{ company_name_short }} предлагает широкий выбор гофрированных
                гибких трубопроводов для самых разных промышленных задач. Обеспечьте безопасность и эффективность ваших
                производственных процессов с нашими надежными решениями!
            </p>

            {% elif city_location == 'Санкт-Петербург' %}

            <p>Гофрированные PTFE рукава широко применяются в различных областях, включая электротехнику,
                машиностроение, строительство, нефтегазовую промышленность и другие. Эти гибкие трубопроводы обладают
                уникальными свойствами и преимуществами, которые делают их распространенными в самых разных сферах.
            </p>

            {% elif city_location == 'Екатеринбург' %}

            <p>Металлические гофрированные PTFE рукава являются надежной защитой для различных транспортировочных и
                коммуникационных систем, кабелей и проводов. Они представляют собой высокопрочные гибкие конструкции,
                способные выдерживать экстремальные условия внешней и внутренней среды. Их уникальные преимущества и
                высокие эксплуатационные характеристики сделали рукава популярным решением для множества различных задач
                в самых разных сферах промышленной деятельности.
            </p>

            {% elif city_location == 'Челябинск' %}

            <p>Современные технологии требуют эффективных и надежных транспортировочных решений, которые обеспечат
                защиту рабочей среды от воздействия внешних факторов. Гофрированные PTFE металлорукава обладают
                гибкостью, прочностью и устойчивостью к механическим воздействиям, а также способностью защищать
                содержимое от нежелательных внешних условий: экстремальных температур, перепадов давления, воздействия
                пыли, влаги и химических веществ.
            </p>

            {% elif city_location == 'Магнитогорск' %}

            <p>Ищете надежную защиту для ваших трубопроводов? Гофрированные рукава PTFE &ndash; ваш идеальный выбор! Эти
                гибкие трубки способны выдерживать экстремальные условия эксплуатации, включая высокие температуры,
                давление и агрессивные среды. {{ company_name }} предлагает широкий ассортимент
                гофрированных рукавов PTFE с доставкой в Магнитогорск. Закажите сегодня и обеспечьте безопасность вашего
                производства!
            </p>

            {% elif city_location == 'Пермь' %}

            <p>Транспортировка опасных и агрессивных сред требует особой осторожности и надежного оборудования.
                Гофрированные рукава PTFE от {{ company_name }} &ndash; ваш надежный партнер в
                обеспечении безопасности. Эти высококачественные трубопроводы устойчивы к коррозии, высоким температурам
                и давлению, гарантируя бесперебойную работу вашего производства. Вы можете купить гофрированные рукава
                PTFE с доставкой в Пермь в {{ company_name_short }} прямо сейчас, обеспечить надежность ваших
                производственных процессов.
            </p>

            {% elif city_location == 'Самара' %}

            <p>Безопасность, надежность и эффективность &ndash; вот основные требования, которым должны соответствовать
                транспортные системы, предназначенные для работ с агрессивными средами: жидкостями, газами и сыпучими
                средами. Гофрированные рукава PTFE способны выдерживать экстремальные условия эксплуатации, включая
                агрессивные среды, высокие температуры и давление. Мы предлагаем заказать быструю доставку в Самару,
                чтобы вы могли быстро внедрить наши высококачественные решения на вашем предприятии и повысить
                безопасность ваших производственных процессов.
            </p>

            {% elif city_location == 'Уфа' %}

            <p>Гофрированные PTFE рукава являются важным элементом в различных сферах промышленности и строительства.
                Эти гибкие и прочные металлические трубопроводы обладают широким спектром применения и используются для
                различных транспортировочных задач, а также защиты кабелей от воздействия внешних факторов. Эти изделия
                обладают множеством положительных конструктивных и функциональных характеристик, которые делают их
                востребованными в различных сферах промышленности: от авиастроительства до пищевого производства.
            </p>

            {% elif city_location == 'Казань' %}

            <p>Если вы ищете универсальное решение для безопасной транспортировки различных сред, включая агрессивные
                химикаты, газы и абразивные материалы, у {{ company_name_short }} есть для вас отличное решение!
                Гофрированные рукава PTFE способны выдерживать экстремальные температуры, давление и коррозию,
                обеспечивая надежную защиту трубопроводов. В {{ company_name_short }} вы можете купить гофрированные
                рукава PTFE с доставкой в Казань. Позвольте нам защитить ваши производственные процессы!
            </p>

            {% elif city_location == 'Омск' %}

            <p>Повысьте безопасность и эффективность ваших рабочих процессов с гибкими трубопроводами от
                {{ company_name }}. Наши транспортировочные системы способны выдерживать самые экстремальные
                условия эксплуатации, включая резкие перепады температур, а также повышенное давление и агрессивные
                свойства рабочей среды. Мы предлагаем заказать гофрированные рукава PTFE в Омске с доставкой от
                {{ company_name_short }}, чтобы вы могли быстро внедрить наши инновационные решения на вашем
                производстве.
            </p>

            {% elif city_location == 'Нижний Новгород' %}

            <p>Транспортировка агрессивных сред больше не является проблемой! Гофрированные рукава PTFE устойчивы к
                коррозии, высоким температурам и давлению, обеспечивая безопасную транспортировку жидкостей, газов и
                сыпучих материалов. В компании {{ company_name_short }} вы можете заказать доставку в Нижний Новгород,
                чтобы вы могли легко внедрить наши высококачественные решения на вашем предприятии.
            </p>

            {% else %}

            <p>
                {% trans 'Corrugated' %} PTFE рукава являются важным элементом в различных сферах промышленности и
                строительства.
                Эти гибкие и прочные металлические трубопроводы обладают широким спектром применения и используются для
                различных транспортировочных задач, а также защиты кабелей от воздействия внешних факторов. Эти изделия
                обладают множеством положительных конструктивных и функциональных характеристик, которые делают их
                востребованными в различных сферах промышленности: от авиастроительства до пищевого производства.
            </p>

            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="{% url 'ptfe-pipes' %}">
                <p class="wrapper-up-uzm-card fs-5">
                    Трубка
                </p>
                <p class="uzm-text-card">
                    герметичная оболочка с кольцевыми гофрами, расположенными параллельно. Изготавливается методом
                    гидроформовки из трубных заготовок, сваренных аргонодуговой сваркой встык по длине трубы.
                </p>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-pipe' 'ploskaya_standartnoe_ispolnenie' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Плоская тонкостенная <br>Cтандартное исполнение <br>Ø6 - Ø100 </div>
                </div>
                <img src="{% static '/rzmr/img/marked_плоская тонкостенная стандарт.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-pipe' 'ploskaya_tolstostennaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Плоская толстостенная <br>Повышенное рабочее давление <br>Ø6 - Ø100</div>
                </div>
                <img src="{% static '/rzmr/img/marked_плоская толстостенная.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-pipe' 'gofrirovannaya_standartnoe_ispolnenie' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Гофрированная тонкостенная <br>Повышенная гибкость <br>Ø8 - Ø150 </div>
                </div>
                <img src="{% static '/rzmr/img/marked_гофрированная тонкостенная.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-pipe' 'gofrirovannaya_tolstostennaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Гофрированная толстостенная <br>Повышенная гибкость и рабочее давление <br>Ø8 - Ø150 </div>
                </div>
                <img src="{% static '/rzmr/img/marked_гофрированная толстостенная.png' %}" alt="gofra">
            </a>
        </div>
    </div>
    <div class="row pb-5">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="{% url 'ptfe-liners' %}">
                <p class="wrapper-up-uzm-card fs-5">
                    Футеровка PTFE
                </p>
                <p class="uzm-text-card">
                    развальцовка гибкой части фторопластового рукава на концевую арматуру.
                </p>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-liner' 'ploskoy_trubki_na_flanets' %}">
                <div class="wrapper-up-uzm-card">
                    <div>PTFE футеровка плоской трубки на фланец </div>
                </div>
                <img src="{% static '/rzmr/img/marked_PTFE футеровка плоская.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-liner' 'gofrirovannoy_trubki_na_flanets' %}">
                <div class="wrapper-up-uzm-card">
                    <div>PTFE футеровка гофрированной трубки на фланец </div>
                </div>
                <img src="{% static '/rzmr/img/marked_PTFE футеровка гофрированная.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-liner' 'ploskoy_trubki_na_nippel_gayki' %}">
                <div class="wrapper-up-uzm-card">
                    <div>PTFE футеровка плоской трубки на ниппель гайки </div>
                </div>
                <img src="{% static '/rzmr/img/marked_PTFE футеровка с гайкой.png' %}" alt="gofra">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="{% url 'ptfe-inners' %}">
                <p class="wrapper-up-uzm-card fs-5">
                    Внутренний экран
                </p>
                <p class="uzm-text-card">
                    защитный элемент рукава, помещенный внутрь гибкой части позволяющий исключить/сократить контакт
                    фторопласта со средой, либо за счет своего наличия продлить срок службы изделия.
                </p>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-inner' 'antistaticheskaya_prisadka_ploskaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Антистатическая присадка плоская </div>
                </div>
                <img src="{% static '/rzmr/img/marked_внутренний экран антистатический_плоский.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-inner' 'antistaticheskaya_prisadka_gofrirovannaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Антистатическая присадка гофрированная</div>
                </div>
                <img src="{% static '/rzmr/img/marked_внутренний экран антистатический_гофрированный.png' %}"
                    alt="gofra">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="{% url 'ptfe-outsides' %}">
                <p class="wrapper-up-uzm-card fs-5">
                    Наружная оболочка
                </p>
                <p class="uzm-text-card">
                    часть рукава в которую заключается гибкая часть для предотвращения различных воздействий
                    (температурных, механических и т.д.). Выбирается исходя из предполагаемых условий эксплуатации
                    изделия.
                </p>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-outside' 'termochekhol' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Термочехол</div>
                </div>
                <img src="{% static '/rzmr/img/marked_пироэкран_фторопласт.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-outside' 'rezinovaya_obolochka' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Резиновая оболочка</div>
                </div>
                <img src="{% static '/rzmr/img/marked_резиновая оболочка_фторопласт.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-outside' 'pruzhina' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Пружина</div>
                </div>
                <img src="{% static '/rzmr/img/marked_пружина_фторопласт.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-outside' 'ploskaya_trubka_v_metallorukave_v_opletke' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Плоская трубка в металлорукаве в оплетке</div>
                </div>
                <img src="{% static '/rzmr/img/marked_плоская трубка в металлорукаве.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-outside' 'gofrirovannaya_trubka_v_metallorukave_v_opletke' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Гофрированная трубка в металлорукаве в оплетке</div>
                </div>
                <img src="{% static '/rzmr/img/marked_гофрированная трубка в металлорукаве.png' %}" alt="gofra">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-uzm">
            <h5 class="py-5">Основные рабочие характеристики фторопластовых рукавов:</h5>
            <table class="uzm-table">
                <tbody>
                    <tr>
                        <td class="p-1"><img src="{% static '/rzmr/img/Icon5.jpg' %}"></td>
                        <td>Условный внутренний диаметр Dy</td>
                        <td>6-100 мм</td>
                    </tr>
                    <tr>
                        <td class="p-1"><img src="{% static '/rzmr/img/Icon6.jpg' %}"></td>
                        <td>Рабочее давление Рраб</td>
                        <td>6-150 бар</td>
                    </tr>

                    <tr>
                        <td class="p-1"><img src="{% static '/rzmr/img/Icon7.jpg' %}"></td>
                        <td>Рабочая среда</td>
                        <td>Кислоты, щелочные среды, воздух, азот, гелий, кислород, водород</td>
                    </tr>
                    <tr>
                        <td class="p-1"><img src="{% static '/rzmr/img/Icon8.jpg' %}"></td>
                        <td>Температура рабочей среды</td>
                        <td>от -40 до +165°C</td>
                    </tr>
                    <tr>
                        <td class="p-1"><img src="{% static '/rzmr/img/Union.jpg' %}"></td>
                        <td>Радиус изгиба</td>
                        <td>в среднем 3 Ду</td>
                    </tr>
                </tbody>
            </table>

            {% if city_location == 'Москва' %}

            <h4>Конструкция</h4>
            <p>Конструкция гибкого трубопровода состоит из четырех основных элементов.</p>
            <p>1. Гофра &ndash; несущая гибкая оболочка:</p>
            <ul>
                <li>изготавливается из высококачественной нержавеющей стали или других устойчивых к коррозии материалов;
                </li>
                <li>имеет гофрированную структуру, что обеспечивает гибкость и возможность изгиба рукава;</li>
                <li>является основным элементом, придающим рукаву прочность и устойчивость к вибронапряжениям.</li>
            </ul>
            <p>2. Внутренний герметичный экран из тефлона (PTFE):</p>
            <ul>
                <li>представляет собой гладкий внутренний слой из политетрафторэтилена (PTFE), также известного как
                    тефлон;</li>
                <li>обеспечивает химическую стойкость, низкий коэффициент трения и высокую температурную устойчивость;
                </li>
                <li>позволяет транспортировать агрессивные жидкости и газы без риска коррозии или загрязнения.</li>
            </ul>
            <p>3. Наружная защитная металлическая оплетка:</p>
            <ul>
                <li>состоит из металлических проволок, сплетенных в виде оплетки вокруг гофрированной оболочки;</li>
                <li>защищает внутреннюю конструкцию от механических повреждений и истирания;</li>
                <li>может изготавливаться из нержавеющей стали, оцинкованной стали или других коррозионно-стойких
                    материалов.</li>
            </ul>
            <p>4. Концевая арматура:</p>
            <ul>
                <li>представляет собой элементы, устанавливаемые на концах рукава для обеспечения герметичного
                    соединения с трубопроводами или оборудованием.</li>
                <li>может быть различных типов, таких как фланцы, резьбовые соединения, быстроразъемные соединения и
                    т.д.</li>
                <li>материал и конструкция концевой арматуры выбираются в зависимости от условий эксплуатации и
                    требований к соединению.</li>
            </ul>
            <p>Совместно эти четыре элемента образуют высокопрочную, гибкую и химически стойкую систему рукавов, которая
                широко используется в различных отраслях промышленности для транспортировки агрессивных сред, а также в
                местах, где требуется гибкость и возможность компенсации смещений.</p>
            <h4>Назначение</h4>
            <p>Гибкие гофрированные трубопроводы служат для транспортирования технологических сред, к которым могут
                относиться агрессивные жидкости и газы, находящиеся при высоких и низких температурах, под большим
                давлением. Их основные сферы использования включают следующие задачи:</p>
            <ul>
                <li>транспортировку агрессивных химических сред в химической, фармацевтической и пищевой промышленности.
                </li>
                <li>вентиляционные системы и системы выхлопа газов при высоких температурах.</li>
                <li>защитные чехлы для кабелей, шлангов и трубопроводов.</li>
                <li>использование в вакуумных системах.</li>
                <li>различные применения в нефтехимической и перерабатывающей промышленности.</li>
            </ul>
            <p>Вы можете заказать гофрированные рукава PTFE с доставкой в Москву в {{ company_name_short }}. Мы
                гарантируем вам сохранность партии, выгодные условия сотрудничества и информативные консультации по
                ассортименту. Позвоните нам по номеру <a href="+74996492949">+7 (499) 649-29-49</a> или оставьте заявку
                на сайте, чтобы узнать больше и совершить покупку.
            </p>

            {% elif city_location == 'Санкт-Петербург' %}

            <h4>Конструкция</h4>
            <p>Металлические рукава представляют собой элементы гибкого трубопровода, состоящие из внутренней тефлоновой
                оболочки, гофрированной металлической трубки (она легко изгибается, не повреждаясь) и внешней защитной
                оплетки. Они сочетают преимущества шлангов и жестких трубопроводов, обеспечивая одновременно
                герметичность, гибкость конструкции и высокие характеристики прочности.</p>
            <p>Элементы соединяются друг с другом концевой арматурой, которая может иметь различные типы, включая
                сварную, фланцевую, коническую, резьбовую, фитинги и другие. Выбор делается в зависимости от
                транспортируемой среды и технических задач.</p>
            <h4>Применение</h4>
            <ul>
                <li>Гофрированные PTFE рукава применяются в различных сферах промышленности для перекачки жидкостей,
                    нефтепродуктов и газов. Изделия используются для компенсации деформаций жестких трубопроводов и
                    температурных колебаний в оборудовании, а также при создании летательных аппаратов.</li>
                <li>В сельском хозяйстве обеспечивают надежную защиту от грызунов, а также используются для
                    транспортировки сыпучих и порошкообразных материалов.</li>
                <li>На производственных предприятиях предпочтение отдается гибким металлорукавам, несмотря на то, что
                    протяжка кабеля через них может вызвать некоторые трудности.</li>
                <li>Применение не ограничивается только промышленными целями, изделия также широко используются в
                    бытовых условиях. Они обеспечивают дополнительную защиту электрических кабелей и проводки от
                    механических повреждений, снижают риск пожара в случае короткого замыкания. Одним из преимуществ
                    является то, что в случае возгорания искра или огонь остаются внутри рукава и не распространяются по
                    помещению.</li>
            </ul>
            <p>Вы можете купить гофрированные PTFE рукава в Санкт-Петербурге в {{ company_name_short }}. Мы предлагаем
                выгодные условия
                доставки, льготы для крупных заказчиков, надежность и качество продукции. Наша служба контроля качества
                проверяет каждое изделие и не допускает браков: мы очень дорожим своей ситуацией. Чтобы начать
                сотрудничать с нами, позвоните по номеру <a href="tel:+78122100002">+7 (812) 210-00-02</a> или оставьте
                заявку на нашем сайте.
            </p>

            {% elif city_location == 'Екатеринбург' %}

            <h4>Свойства</h4>
            <p>Гофрированные PTFE рукава сочетают преимущества гибких шлангов и жестких трубопроводных систем:</p>
            <ul>
                <li>высокую химическую стойкость &ndash; внутренняя тефлоновая оболочка отличается устойчивостью к
                    воздействию агрессивных химических реагентов, включая кислоты, щелочи, растворители и
                    высокотемпературные газы;</li>
                <li>сопротивление коррозии &ndash; полимерная оболочка не подвержена коррозионным процессам, а внешние
                    слои (гофрированный сильфон, защитная оплетка и элементы концевой арматуры) выполнены из нержавеющей
                    стали;</li>
                <li>высокая термическая стойкость &ndash; могут работать в широком диапазоне температур, от криогенных
                    условий до значений в +600 градусов Цельсия, устойчивы к резким перепадам;</li>
                <li>низкое трение и износостойкость &ndash; фторопластовая поверхность обладает минимальным
                    коэффициентом трения, что обеспечивает плавную и эффективную передачу жидкости или газа, гарантируя
                    долгий срок службы трубопровода;</li>
                <li>герметичность и устойчивость к протечкам &ndash; обеспечивают герметичность, что позволяет избежать
                    протечек и потерь при транспортировке;</li>
                <li>гибкость и легкость монтажа &ndash; гибкие трубопроводы легко прокладывать даже в труднодоступных
                    местах, их можно использовать как для постоянных трасс, так и для байпасных линий.</li>
            </ul>
            <h4>Использование</h4>
            <p>Гофрированные PTFE рукава широко применяются для транспортировки различных жидкостей, газов и сыпучих
                материалов в разнообразных отраслях промышленности:</p>
            <ul>
                <li>в производстве химикатов &ndash; для транспортировки реагентов, растворителей, агрессивных кислот и
                    щелочей;</li>
                <li>в фармацевтической промышленности &ndash; для транспортировки лекарственных препаратов, веществ для
                    инъекций и других фармацевтических продуктов;</li>
                <li>для перекачки пищевых продуктов, включая масла, соки, сиропы, кислоты и другие ингредиенты;</li>
                <li>для передачи различных газов, пара и нефтепродуктов в энергетических установках;</li>
                <li>в машиностроении, авиастроении и судостроении для сборки важных технических узлов, топливных и
                    смазочных систем.</li>
            </ul>
            <p>В Екатеринбурге вы можете купить гофрированные PTFE рукава в {{ company_name_short }}. Мы предлагаем
                продукцию высокого
                качества и выгодные условия доставки в ваш город партии любого размера. Позвоните нам по номеру
                <a href="tel:+73433579710">+7 (343) 357-97-10</a> или оставьте заявку на сайте, чтобы сделать заказ.
            </p>

            {% elif city_location == 'Челябинск' %}

            <h4>Химическая нейтральность</h4>
            <p>Фторопластовая оболочка гарантирует устойчивость к широкому спектру агрессивных веществ, таких как
                кислоты, растворители, сильнодействующие щелочи и органические соединения. Это идеальный выбор для
                промышленных предприятий, работающих с химическими веществами.</p>
            <h4>Высокая термическая стабильность</h4>
            <p>Гофрированные PTFE рукава способны выдерживать экстремально высокие температуры до +600 &deg;C. Это
                особенно важно для отраслей, где требуется высокая стойкость к нагреву, таких как нефтехимическая,
                пищевая и фармацевтическая промышленности. При этом экстремально холодные условия также не являются для
                них проблемой.</p>
            <h4>Превосходные диэлектрические свойства</h4>
            <p>Тефлоновая обеспечивает отличную изоляцию, что делает гофрированные металлорукава идеальным выбором для
                электрических и электронных систем, защиты кабелей и проводов. Гибкий гофрированный сильфон и внешняя
                оплетка обеспечивают защиту от электромагнитных помех и эффективность работы электрического
                оборудования.</p>
            <h4>Готовность к работе в условиях высокого давления</h4>
            <p>Устойчивость к высокому давлению позволяет обеспечивать перекачку рабочей среды с очень большой скоростью
                без риска повредить трубопровод. При этом конструкция рукава делает его устойчивым к гидроударам и
                вибронапряжениям.</p>
            <h4>Соответствие гигиеническим нормам</h4>
            <p>Благодаря гигиеническим характеристикам тефлона металлорукава могут использоваться для транспортировки
                пищевых продуктов и медикаментов.</p>
            <p>ООО РЗМ &ndash; профессиональная компания, специализирующаяся на производстве качественных гофрированных
                PTFE рукавов и других видов гибких трубопроводов. Мы предлагаем широкий выбор размеров и типов изделий,
                которые могут быть специально адаптированы под ваши требования. Вы можете приобрести нашу продукцию с
                доставкой в Челябинск на выгодных условиях. Для этого позвоните по номеру
                <a href="tel:88005555756">8(800) 5555-756</a> или оставьте заявку на сайте.
            </p>

            {% elif city_location == 'Магнитогорск' %}

            <h4>Применение</h4>
            <p>Уникальные свойства изделий, такие как химическая стойкость, термоустойчивость, гибкость, а также
                способность выдерживать экстремальные температуры и давление, делают их востребованными в различных
                сферах. Вот некоторые из основных областей применения.</p>
            <ul>
                <li>Химическая промышленность &ndash; подходят для перекачки агрессивных жидких и газовых сред: кислот,
                    щелочей и растворителей, поскольку рукава устойчивы к воздействию большинства соединений.</li>
                <li>Пищевая промышленность &ndash; инертность и непроницаемость для запахов и вкусов делают гибкие
                    трубопроводы безопасными для использования в транспортировке пищевых продуктов и напитков, в сыпучем
                    и жидком виде.</li>
                <li>Фармацевтика &ndash; применяются для транспортировки медикаментов, поскольку они легко поддаются
                    очистке и стерилизации.</li>
                <li>Нефтегазовая отрасль &ndash; используются для перекачки нефтепродуктов, газов и других агрессивных
                    сред в экстремально жарких или холодных условиях, при повышенном давлении и т.д. При этом высокая
                    герметичность транспортировочных систем выступает дополнительным преимуществом и фактором
                    безопасности.</li>
                <li>Автомобилестроение &ndash; применяются в системах охлаждения, топливных магистралях и других
                    областях, где требуется устойчивость к воздействию агрессивных веществ, эксплуатации при высоких
                    температурах, вибронапряжениям и т.д.</li>
                <li>Энергетика &ndash; используются для транспортировки горячих газов, пара и других сред при суровых
                    эксплуатационных условиях в системах теплоснабжения, электростанциях и т.д.</li>
            </ul>
            <p>Благодаря своей исключительной стойкости к химикатам, термостойкости и гибкости, гофрированные рукава
                PTFE находят применение во многих отраслях, где необходимо безопасное и надежное транспортирование
                различных сред в тяжелых рабочих условиях.</p>
            <h4>Выгодное предложение от производителя</h4>
            <p>Вы можете купить гофрированные рукава PTFE в Магнитогорске в {{ company_name_short }}. Мы предлагаем
                выгодные условия партнерства с прямым производителем, гарантируем быструю и надежную доставку. Кроме
                того, мы ведем стопроцентный контроль качества каждого изделия, поэтому вероятность брака полностью
                исключена! Чтобы узнать больше или сделать заказ, позвоните по номеру
                <a href="tel:88005555756">8 (800) 5555-756</a> или оставьте заявку на сайте.
            </p>

            {% elif city_location == 'Пермь' %}

            <h4>Особенности гибких транспортировочных систем из фторопласта</h4>
            <p>Металлорукав, предназначенный для транспортирования технологической среды, обладающей агрессивными
                свойствами, производится из особого материала &ndash; фторопласта, обладающего защитными свойствами по
                отношению к кожному покрову живого существа. Этот полимер обладает защитными свойствами к живой ткани, а
                также способен пребывать безболезненно при высокой температуре порядка 500 градусов Цельсия, при широком
                диапазоне давлений.</p>
            <p>Изделие состоит из нескольких слоев. Основную защитную функцию выполняет фторопластовая трубка,
                обеспечивающая изоляцию пространства внутри трубки от пространства вне трубки. По геометрическим
                признакам различают трубку плоской конструкции и трубку гофрированную. Наряду со способностью сдерживать
                высокое давление, гофрированная трубка может сохранять эластичность и постоянство геометрических форм
                поперечного сечения трубки. В ней сочетается относительная жесткость с достаточной пластичностью.</p>
            <p>Различают тонкостенную гофрированную трубку с диаметром от 6 до 100 мм и толстостенную гофрированную
                трубку с диаметром от 8 до 150 мм.</p>
            <h4>Эксплуатационные преимущества</h4>
            <p>Изделия широко применяются для транспортировки различных жидкостей, газов и сыпучих веществ благодаря
                своим уникальным свойствам и преимуществам</p>
            <ul>
                <li>Химическая стойкость &ndash; PTFE обладает исключительной стойкостью к воздействию большинства
                    агрессивных химических веществ, таких как кислоты, щелочи, растворители и окислители. Это позволяет
                    использовать данные рукава для транспортировки широкого спектра химических сред.</li>
                <li>Термостойкость &ndash; фторопластовые металлорукава способны выдерживать высокие температуры до
                    260&deg;C, а также резкие перепады температур, без потери своих свойств и герметичности.</li>
                <li>Низкий коэффициент трения &ndash; гладкая внутренняя поверхность обеспечивает низкое трение при
                    транспортировке жидкостей и сыпучих веществ, что снижает риск засорения и облегчает процесс
                    перемещения материалов.</li>
                <li>Гибкость и компактность &ndash; гофра обеспечивает гибкость конструкции, что упрощает монтаж,
                    повышает прочность и сопротивляемость механическому воздействию рабочей среды (вибронапряжениям,
                    гидроударам и т.д.)</li>
                <li>Коррозионная стойкость &ndash; внешний металлический слой рукава защищает его от коррозии, что
                    продлевает срок службы и делает его пригодным для использования в агрессивных средах.</li>
                <li>Широкий диапазон давлений &ndash; изделия могут выдерживать высокие давления, что делает их
                    подходящими для транспортировки газов и сжатых сред.</li>
                <li>Преимущества гофрированных рукавов из PTFE делают их идеальным выбором для использования в различных
                    отраслях промышленности, включая химическую, пищевую, фармацевтическую и нефтегазовую.</li>
            </ul>
            <p>Вы можете купить гофрированные рукава PTFE в Перми с доставкой в компании {{ company_name_short }}. Мы
                предлагаем быструю доставку, полную сохранность партии и стопроцентное качество каждого изделия, ведь мы
                ведем очень строгий контроль. Чтобы начать с нами сотрудничать, позвоните по номеру
                <a href="tel:88005555756">8 (800) 5555-756</a> или закажите звонок нашего специалиста на сайте.
            </p>

            {% elif city_location == 'Самара' %}

            <h4>Особенности материала</h4>
            <p>Основная функция гофрированных рукавов PTFE &ndash; транспортирование технологической среды, которая
                может оказывать агрессивное воздействие на части трубопровода. Это может быть высокая температура,
                экстремальное давление, механические нагрузки, химические реакции и т.д. Поэтому должны применяться
                особые материалы, например &ndash; фторопласт с возможностью транспортирования жидкостей и газов,
                нагретых до высоких температур, например, до 500 градусов Цельсия. Фторопласт (тефлон) способен работать
                и при таких высоких температурах.</p>
            <p>Наряду с высокими температурами, фторопласт претерпевает и высокое давление. Однако, для усиления этого
                свойства, применяют конструктивную доработку &ndash; проволочную оплетку из высоколегированной
                нержавеющей проволоки, способной воспринимать высокие нагрузки на разрыв. Для еще большего сопротивления
                может конструироваться двухслойная и трехслойная оплетка. Таким образом создается высокопрочная
                конструкция, которая может работать в агрессивной среде и воспринимать относительно большую нагрузку.
            </p>
            <h4>Выбирайте надежного и выгодного поставщика!</h4>
            <p>Наша компания является одним из крупнейших производителей гофрированных рукавов в России, обладающим
                развитой системой логистики и масштабным производством. Это позволяет нам осуществлять быстрые и
                надежные поставки по всей территории страны, включая Самару, а также выполнять заказы даже очень
                большого объема.</p>
            <ul>
                <li>Каждое изделие, выпускаемое на нашем предприятии, проходит строжайший контроль качества на всех
                    этапах производства. Мы гарантируем стопроцентное соответствие продукции всем необходимым стандартам
                    и требованиям.</li>
                <li>Наши квалифицированные специалисты готовы предоставить вам подробные консультации по ассортименту,
                    помочь с выбором наиболее подходящих решений и ответить на любые вопросы, касающиеся применения и
                    эксплуатации гофрированных рукавов PTFE.</li>
                <li>Сотрудничая с нами напрямую, вы получаете выгодные условия и избавляетесь от необходимости работать
                    с посредниками, что позволит существенно сэкономить ваши средства.</li>
            </ul>
            <p>Чтобы заказать гофрированные рукава PTFE в Самаре с доставкой от {{ company_name_short }} или получить
                дополнительную информацию, вы можете позвонить нам по бесплатному номеру
                <a href="tel:88005555756">8 (800) 5555-756</a> или оставить заявку на нашем сайте. Мы ценим каждого
                клиента и стремимся выстраивать долгосрочные и взаимовыгодные отношения. Будем рады видеть вас в числе
                наших партнеров!
            </p>

            {% elif city_location == 'Уфа' %}

            <h4>Свойства гибких трубопроводов</h4>
            <ul>
                <li>Гибкость &ndash; гофра делает рукав быть очень гибким и деформироваться без повреждений. Это
                    позволяет легко укладывать рукав по сложным контурам и изгибам.</li>
                <li>Устойчивость к механическим повреждениям &ndash; изделия обеспечивают безопасность транспортных
                    коммуникаций и надежно защищают их от различных повреждений, таких как удары, изгибы, растяжение и
                    компрессия. Твердые материалы обеспечивают высокую прочность, а гибкие &ndash; возможность
                    амортизации.</li>
                <li>Устойчивость к воздействию негативных факторов окружающей среды &ndash; гофрированные PTFE рукава
                    обладают хорошей устойчивостью к различным агрессивным окружающим средам, таким как влага, пыль,
                    химические вещества и коррозия. В качестве материала изготовления для наружных слоев используется
                    нержавеющая сталь, а внутренней оболочкой служит тефлоновый шланг, обеспечивающий химическую
                    нейтральность изделия.</li>
                <li>Термическая защита &ndash; трубопроводы устойчивы к воздействию высоких и низких температур, снижают
                    потери тепла и предотвращают перегрев.</li>
                <li>Простота монтажа и обслуживания &ndash; детали трубопровода легко собираются и устанавливаются, даже
                    если монтажные работы ведутся в труднодоступных условиях.</li>
            </ul>
            <h4>Разнообразные решения для ваших технических задач</h4>
            <p>Металлорукава доступны в разных диаметрах, толщинах стенок и типах металла, что позволяет выбрать
                подходящее решение для конкретных требований и условий эксплуатации. Кроме того, в компании
                {{ company_name }} вы можете отдельно выбрать вид оплетки, сильфона, концевой
                арматуры, а также получить дополнительные решения, например, термочехол.</p>
            <p>Ищете гофрированные PTFE металлорукава в Уфе? {{ company_name_short }} готова предложить вам надежные,
                эффективные и выгодные решения. Собственные производственные мощности, контроль качества каждого товара
                и готовность работать с заказами любого масштаба &ndash; то, благодаря чему наша компания станет
                отличным партнером для вашего бизнеса. Чтобы связаться с нами, узнать больше о нашей продукции и сделать
                заказ, вы можете позвонить по номерам <a href="tel:+73472929864">+7 (347) 292-98-64</a>,
                <a href="tel:+73472747387">+7 (347) 274-73-87</a> или оставить заявку на сайте.
            </p>

            {% elif city_location == 'Казань' %}

            <h4>Устройство металлорукава</h4>
            <p>Металлорукава для транспортирования технологических жидкостей и газов агрессивного характера, находящихся
                под давлением до 500 атмосфер, транспортируются с помощью гофрированного рукава PTFE, внутренняя
                конструкция которого основана на трубках, изготовленных из фторопласта. Замечательные
                физико-механические свойства данного материала характеризуются нейтральным отношением к агрессивным
                материалам, способностью работать при &nbsp;температуре до 500 градусов, при высоком давлении.
                Существует два варианта исполнения фторопластовых трубок: плоское исполнение и гофрированная
                конструкция. Гофрированное исполнение обеспечивает исключительную гибкость рукава и ряд других
                преимуществ.</p>
            <h4>Особенности гофры</h4>
            <ul>
                <li>Гибкость &ndash; гофрированная структура позволяет оболочке легко изгибаться и принимать различные
                    формы без излома или повреждения внутренних проводов. Это делает металлорукава удобными для
                    использования в местах с ограниченным пространством или там, где требуется гибкая прокладка кабелей.
                </li>
                <li>Защита &ndash; металлическая конструкция оболочки обеспечивает механическую защиту внутренних
                    проводов от ударов, истирания и других внешних воздействий.</li>
                <li>Теплостойкость &ndash; может выдерживать экстремальные температуры, что делает транспортную систему
                    подходящей для использования в агрессивных средах или вблизи источников тепла.</li>
                <li>Герметичность &ndash; препятствует попаданию влаги, пыли или других загрязнений внутрь транспортной
                    системы.</li>
                <li>Долговечность &ndash; благодаря прочной металлической конструкции гофра обладает отличной стойкостью
                    к коррозии и износу, обеспечивая длительный срок службы.</li>
            </ul>
            <p>Гофрированные оболочки широко применяются в различных отраслях промышленности, таких как
                автомобилестроение, судостроение, машиностроение, энергетика и др. Они позволяют надежно защищать
                провода и кабели при сохранении необходимой гибкости и мобильности. Чтобы заказать доставку
                гофрированных рукавов PTFE в Казань, позвоните по номеру
                <a href="tel:88005555756">8 (800) 5555-756</a> или оставьте заявку на нашем сайте.
            </p>

            {% elif city_location == 'Омск' %}

            <h4>Устройство</h4>
            <p>Основным элементом изделия является фторопластовая трубка с особыми свойствами. Подразделяют трубки на
                плоские и гофрированные. Гофрированные трубки представляют пространственные конфигурации, которые могут
                легко изгибаться с сохранением площади и формы внутреннего поперечного сечения. Внутри гофрированной
                трубки сохраняется возможность транспортировать среду при высоком давлении.</p>
            <p>Гибкая фторопластовая трубка, как правило, конструктивно оформляется с внешней стороны, в виде оплетки,
                изготовленной из высоколегированной проволоки, способной выдерживать большие нагрузки на разрыв.
                Структура оплетки может быть сетчатой или спиральной. В зависимости от ожидаемой нагрузки и желания
                заказчика сетка может быть однослойной, двухслойной, трехслойной.</p>
            <h4>Эксплуатационные преимущества</h4>
            <p>Гибкие транспортировочные системы находят применение при выполнении самых разных производственных задач.
                Такая популярность обусловлена целым рядом эксплуатационных преимуществ.</p>
            <ul>
                <li>Химическая стойкость &ndash; они обладают высокой степенью сопротивления к воздействию большинства
                    химических веществ, которые могут разъесть другие материалы или спровоцировать опасную реакцию.</li>
                <li>Термостойкость &ndash; могут работать при экстремальных температурах, вплоть до 260&deg;C, и
                    одновременно выдерживать крайне низкие температуры.</li>
                <li>Гибкость &ndash; гофрированная конструкция обеспечивает исключительную гибкость и подвижность
                    секций, что делает их установку возможной даже в сложных условиях.</li>
                <li>Антиадгезионные свойства &ndash; благодаря низкому коэффициенту трения поверхности продукты
                    практически не прилипают к внутренней оболочке.</li>
                <li>Электроизоляционные характеристики &ndash; фторопласт является отличным электроизолятором.</li>
            </ul>
            <p>Чтобы заказать гофрированные рукава PTFE в Омске с доставкой, вы можете позвонить по номеру
                <a href="tel:88005555756">8 (800) 5555-756</a> или воспользоваться формой заявки на сайте. Мы
                гарантируем, что вы не будете разочарованы сотрудничеством!
            </p>

            {% elif city_location == 'Нижний Новгород' %}

            <h4>Преимущества PTFE</h4>
            <p>Материал фторопласт используется во многих отраслях промышленности, благодаря его особым
                физико-химическим свойствам. Его используют для облицовки элементов конструкций, подверженных
                воздействию агрессивных жидких и газообразных сред. Особенно эффективно он используется в качестве
                шланга внутри металлорукавов для транспортирования агрессивных технологических жидких и газообразных
                сред, находящихся при высоких и низких температурах в криогенных устройствах, а также средах при высоких
                давлениях.</p>
            <h4>Конструктивные преимущества</h4>
            <p>Фторопластовые трубки, для оказания сопротивления воздействию высокого внутреннего давления
                технологической среды опоясывают проволочной оплеткой, выполненной из высоколегированной проволоки с
                высоким сопротивлением на разрыв. Оплетка может быть однослойной, двухслойной, трехслойной, в
                зависимости от величины фактической нагрузки и желания заказчика. Такая конструкция обеспечивает ряд
                существенных преимуществ.</p>
            <ul>
                <li>Гибкость и подвижность &ndash; гофрированная структура позволяет рукавам свободно изгибаться и
                    перемещаться без риска перегиба или перекручивания, что облегчает их установку даже в стесненных
                    условиях.</li>
                <li>Компенсация тепловых расширений &ndash; благодаря гибкости рукава могут компенсировать тепловое
                    расширение и вибрацию систем, к которым они подсоединены, предотвращая растрескивание и разрывы.
                </li>
                <li>Высокая механическая прочность &ndash; изделия обладают высокой механической прочностью и
                    устойчивостью к разрывам и истиранию.</li>
                <li>Коррозионная стойкость &ndash; PTFE устойчив к воздействию большинства агрессивных химических
                    веществ, обеспечивая долгий срок службы транспортировочных систем.</li>
                <li>Простота очистки &ndash; гладкая внутренняя поверхность с низким коэффициентом трения позволяет
                    легко очищать рукава от отложений и налета.</li>
                <li>Ремонтопригодность &ndash; при повреждении небольших участков, их можно заменить на новые секции без
                    полной замены всего рукава.</li>
                <li>Термостойкость &ndash; изделия выдерживают высокие и низкие температуры без потери эластичности.
                </li>
            </ul>
            <p>В Нижнем Новгороде вы можете заказать гофрированные рукава PTFE непосредственно у изготовителя:
                {{ company_name }}. По согласованию с заказчиком, возможны индивидуальные
                конструктивные доработки. Мы гарантируем технический контроль при изготовлении каждого экземпляра
                изделия &ndash; вы получаете стопроцентный уровень качества каждого изделия в партии! Позвоните по
                номеру <a href="tel:88005555756">8 (800) 5555-756</a> или оставьте заявку на нашем сайте, чтобы начать
                выгодное и надежное сотрудничество!
            </p>

            {% else %}

            <h4 class="py-4">Свойства гибких трубопроводов</h4>
            <ul>
                <li>
                    Гибкость – гофра делает рукав быть очень гибким и деформироваться без повреждений. Это позволяет
                    легко укладывать рукав по сложным контурам и изгибам.
                </li>
                <li>
                    Устойчивость к механическим повреждениям – изделия обеспечивают безопасность транспортных
                    коммуникаций и надежно защищают их от различных повреждений, таких как удары, изгибы, растяжение и
                    компрессия. Твердые материалы обеспечивают высокую прочность, а гибкие – возможность амортизации.
                </li>
                <li>
                    Устойчивость к воздействию негативных факторов окружающей среды – гофрированные PTFE рукава обладают
                    хорошей устойчивостью к различным агрессивным окружающим средам, таким как влага, пыль, химические
                    вещества и коррозия. В качестве материала изготовления для наружных слоев используется нержавеющая
                    сталь, а внутренней оболочкой служит тефлоновый шланг, обеспечивающий химическую нейтральность
                    изделия.
                </li>
                <li>
                    Термическая защита – трубопроводы устойчивы к воздействию высоких и низких температур, снижают
                    потери тепла и предотвращают перегрев.
                </li>
                <li>
                    Простота монтажа и обслуживания – детали трубопровода легко собираются и устанавливаются, даже если
                    монтажные работы ведутся в труднодоступных условиях.
                </li>
            </ul>
            <h4 class="py-4">Разнообразные решения для ваших технических задач</h4>
            <p>
                Металлорукава доступны в разных диаметрах, толщинах стенок и типах металла, что позволяет выбрать
                подходящее решение для конкретных требований и условий эксплуатации. Кроме того, в нашей компании вы
                можете отдельно выбрать вид оплетки, сильфона, концевой арматуры, а также
                получить дополнительные решения, например, термочехол.
            </p>
            <p>
                Ищете гофрированные PTFE металлорукава? {{ company_name }} готов предложить вам надежные, эффективные и
                выгодные решения {% if city_pre %} в {{ city_pre }} {% endif %}.
                Собственные производственные мощности, контроль качества каждого товара и готовность
                работать с заказами любого масштаба – то, благодаря чему наша компания станет отличным партнером для
                вашего бизнеса. Чтобы связаться с нами, узнать больше о нашей продукции и сделать заказ, вы можете
                позвонить телефону или оставить заявку на сайте.
            </p>

            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4 col-3 py-5">
            <div class="horizontal-line-uzm my-4"></div>
        </div>
        <div class="text-center col-xl-4 col-6 py-5">
            <p class="fs-3 fw-bold">Смотрите также</p>
        </div>
        <div class="col-xl-4 col-3 py-5">
            <div class="horizontal-line-uzm my-4"></div>
        </div>
    </div>
    <div class="row text-center justify-content-center">
        <div class="col-xl-3 col-md-4 p-2 m-1 uzm-button-link">
            <a class="fw-bold" href="{% url 'ptfe-hoses' %}">{% trans 'PTFE Metal hoses' %}</a>
        </div>
        <div class="col-xl-3 col-md-4 p-2 m-1 uzm-button-link">
            <a class="fw-bold" href="{% url 'ptfe-braids' %}">{% trans 'PTFE Metal hoses' %} в оплётке</a>
        </div>
        <div class="col-xl-3 col-md-4 p-2 m-1 uzm-button-link">
            <a class="fw-bold" href="{% url 'gibkie-truboprovody' %}">Гибкие трубопроводы</a>
        </div>
    </div>
</div>
{% endblock content %}