{% extends 'rzmr/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-uzm">
            <h4 class="py-2">{{ title }}</h4>
            <p>
                Плоская толстостенная - увеличенная толщина стенки позволяет выдерживать большее рабочее давление,
                однако сам рукав становится менее гибким.
            </p>
            <p class="py-4">
                <img src="{% static '/rzmr/img/marked_плоская толстостенная.png' %}" alt="gofra">
            </p>
        </div>
    </div>
</div>
{% endblock content %}