{% extends 'rzmr/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-uzm">
            <h4 class="py-2">{{ title }} {% if city %} в {{ city_pre }} {% endif %} от производителя {{ company_name_short }}</h4>
            <p>
                Работа с агрессивными средами, высоким давлением и экстремальными температурами требует особого подхода
                к выбору трубопроводов. Фторопластовые рукава в оплетке – это инновационное решение, которое
                обеспечивает максимальную защиту и безопасность транспортировки газообразных, жидких и сыпучих веществ.
                Компания {{ company_name_short }} предлагает купить фторопластовые рукава в металлической оплетке 
                {% if city %} в {{ city_pre }} {% endif %}. Выберите надежность и безопасность для вашего производства!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <p class="wrapper-up-uzm-card fs-5">
                Оплетка
            </p>
            <p class="uzm-text-card">
                представляет собой защитную оболочку сетчатого типа и изготавливается из стальной нержавеющей проволоки
                12Х18Н9Т. Позволяет обеспечить работоспособность рукава при воздействии различных нагрузок, а также
                пульсации давлений, возникающих при транспортировке по гибкому элементу рабочей среды. Оплетка должна
                плотно облегать рукав, не иметь оборванных частей.
            </p>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-braid' 'odnosloynaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Однослойная</div>
                </div>
                <img src="{% static '/rzmr/img/marked_opletka_odinarnaya.png' %}" alt="opletka">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-braid' 'dvukhsloynaya'  %}">
                <div class="wrapper-up-uzm-card">
                    <div>Двухслойная</div>
                </div>
                <img src="{% static '/rzmr/img/marked_opletka_dvoinaya.png' %}" alt="opletka">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-braid' 'trekhsloynaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Трёхслойная</div>
                </div>
                <img src="{% static '/rzmr/img/marked_opletka_troinaya.png' %}" alt="opletka">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-uzm">
            <h5 class="py-5">Основные рабочие характеристики фторопластовых рукавов в мелаллической оплетке:</h5>
            <table class="uzm-table">
                <tbody>
                    <tr>
                        <td class="p-1"><img src="{% static '/rzmr/img/Icon5.jpg' %}"></td>
                        <td>Условный внутренний диаметр Dy</td>
                        <td>6-100 мм</td>
                    </tr>
                    <tr>
                        <td class="p-1"><img src="{% static '/rzmr/img/Icon6.jpg' %}"></td>
                        <td>Рабочее давление Рраб</td>
                        <td>6-150 бар</td>
                    </tr>

                    <tr>
                        <td class="p-1"><img src="{% static '/rzmr/img/Icon7.jpg' %}"></td>
                        <td>Рабочая среда</td>
                        <td>Воздух, азот, гелий, кислород, водород, нефтепродукты, кислоты, техническая вода, пар,
                            бензин,керосин и т.д.</td>
                    </tr>
                    <tr>
                        <td class="p-1"><img src="{% static '/rzmr/img/Icon8.jpg' %}"></td>
                        <td>Температура рабочей среды</td>
                        <td>от -90 до +260 °C</td>
                    </tr>
                    <tr>
                        <td class="p-1"><img src="{% static '/rzmr/img/Union.jpg' %}"></td>
                        <td>Радиус изгиба</td>
                        <td>В среднем 3 Ду</td>
                    </tr>
                </tbody>
            </table>
            <h4 class="py-3">
                Конструкция
            </h4>
            <p>
                Изделия представляют собой многослойную конструкцию, которая состоит из нескольких компонентов.
            </p>
            <ul type="circle">
                <li>
                    Внутренний слой – это гладкая трубка из фторопласта (политетрафторэтилена, ПТФЭ), обладающего
                    высокой химической стойкостью, термостойкостью и низким коэффициентом трения. Этот слой обеспечивает
                    коррозионную стойкость и способность пропускать различные среды без загрязнения.
                </li>
                <li>
                    Промежуточный слой – оплетка из нержавеющей проволоки, которая придает дополнительную прочность на
                    разрыв и стойкость к истиранию. Плотность и количество слоев оплетки может варьироваться для
                    достижения необходимых характеристик.
                </li>
                <li>
                    Внешний слой – это может быть дополнительное покрытие, например, термочехол, улучшающее
                    эксплуатационные характеристики.
                </li>
                <li>
                    Концевая арматура – разнообразные решения для байпасных линий и постоянных коммуникаций: от
                    быстроразъемных «камлоков» и резьбовых соединений до арматуры под приварку.
                </li>
            </ul>
            <h4>
                Характеристики и применение
            </h4>
            <p class="py-3">
                Изделия находят широкое применение в промышленности, благодаря своим технологическим особенностям.
                Материал сохраняет свои свойства в широком диапазоне температур. К этим свойствам относятся следующие:
            </p>
            <ul type="circle">
                <li>
                    минимальный коэффициент трения;
                </li>
                <li>
                    минимальная адгезия, позволяющая транспортировать как жидкие, так и сыпучие среды;
                </li>
                <li>
                    Нейтральная реакция к агрессивным средам, что позволяет транспортировать кислоты, щелочи и другие
                    вещества, предъявляющие высокие требования безопасности в процессе эксплуатации;
                </li>
                <li>
                    Теплоустойчивость и готовность к эксплуатации в условиях повышенного давления;
                </li>
                <li>
                    Гибкость и легкость монтажа;
                </li>
                <li>
                    Прочность и стойкость к механическим повреждениям.
                </li>
            </ul>
            <p>
                Фторопластовые рукава способны транспортировать агрессивные жидкости, газы, находящиеся под высоким
                давлением, благодаря их конструктивной особенности. В состав конструкции входит внешняя проволочная
                оплётка, изготовленная из нержавеющей легированной проволоки со свойствами повышенной прочности на
                растяжение. Внутреннее давление транспортируемой среды имеет пульсирующий или статический характер
                различной величины. Поэтому конструкция оплётки может быть многослойной, способной воспринимать большое
                или малое внутреннее давление среды.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4 col-3 py-5">
            <div class="horizontal-line-uzm my-4"></div>
        </div>
        <div class="text-center col-xl-4 col-6 py-5">
            <p class="fs-3 fw-bold">Смотрите также</p>
        </div>
        <div class="col-xl-4 col-3 py-5">
            <div class="horizontal-line-uzm my-4"></div>
        </div>
    </div>
    <div class="row text-center justify-content-center">
        <div class="col-xl-3 col-md-4 p-2 m-1 uzm-button-link">
            <a class="fw-bold" href="{% url 'ptfe-hoses' %}">{% trans 'PTFE Metal hoses' %}</a>
        </div>
        <div class="col-xl-3 col-md-4 p-2 m-1 uzm-button-link">
            <a class="fw-bold" href="{% url 'ptfe-gofrirovanniy' %}">Гофрированные {% trans 'PTFE Metal hoses' %}</a>
        </div>
        <div class="col-xl-3 col-md-4 p-2 m-1 uzm-button-link">
            <a class="fw-bold" href="{% url 'gibkie-truboprovody' %}">Гибкие трубопроводы</a>
        </div>
    </div>
</div>
{% endblock content %}