{% extends 'rzmr/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-uzm">
            <h4 class="py-2">{{ title }}</h4>
            <p>
                Концевая арматура - окончания фторопластового рукава служащие для присоединения его к ответным частям
                при встраивании в систему трубопровода.
            </p>
            <p>Тип концевой арматуры подбирается Заказчиком исходя из требований к эксплуатационным характеристикам
                рукава.
            </p>
            <p>
                Самый распространенный вид концевой арматуры (КА) для фторопластовых рукавов - накидные гайки с
                различными ниппелями. Так же применяются фланцевые соединения, штуцера, различные фитинги и футеровка
                PTFE трубки на фланец для исключения контакта с агрессивной средой.
            </p>
            <p>
                Помимо типа концевой арматуры на стоимость и эксплуатацию рукава влияет материал, из которого исполнена
                концевая арматура. Ввиду того, что тефлоновые рукава серии РФ часто применяются для транспортировки
                агрессивных сред, самым распространённым материалом является нержавеющая сталь 12Х18Н10Т и ее
                разновидности. Концевая арматура на рукава серии РФ может быть выполнена в соответствии со стандартами
                (ГОСТ, DIN, ANSI) или по чертежам Заказчика. Собственный токарный парк {{ company_name_short }}
                позволяет исполнять арматуру любой сложности, при условии предоставления полного пакета технической
                документации.
            </p>
            <img src="{% static 'rzmr/img/fittings_map.png' %}" alt="fittings_map">
        </div>
    </div>
</div>
{% endblock content %}