{% extends 'rzmr/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-uzm">
            <h1 class="h3 fw-bold py-2">{{ title }}</h1>
            <p>
                Металлорукав - при необходимости фторопластовая трубка (плоская или гофрированная) заключается в
                оболочку из металлорукава, это позволяет предохранить PTFE часть рукава от внешних механических
                воздействий и продлить срок службы изделия.
            </p>
            <p class="py-4">
                <img src="{% static '/rzmr/img/marked_гофрированная трубка в металлорукаве.png' %}" alt="gofra">
            </p>
        </div>
    </div>
</div>
{% endblock content %}