{% extends 'rzmr/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-uzm">
            <h4 class="py-2">{{ title }}</h4>
            <p>
                Все фторопластовые рукава серии РФП, РФГ выпускаемые {{ company_name }} изготавливаются в жестком
                соответствии с техническими условиями 224831-002-92820828-2016 разработанными нашими конструкторами. Это
                позволяет выдерживать высокие стандарты качества и успешно конкурировать с остальной продукцией,
                представленной на рынке.
            </p>
            <p>
                Материалы, используемые для изготовления фторопластовых рукавов, проходят входной контроль при
                поступлении на производство, что позволяет исключить случаи использования некачественного сырья и
                уменьшить процент брака. К применению допускается только сертифицированные комплектующие.
            </p>
            <p>
                На фторопластовые рукава серии РФП и РФГ и т.д. получен весь спектр разрешительной документации,
                допускающей применение и эксплуатации в самых сложных условиях, в том числе сертификаты соответствия
                ГОСТ Р, а также патент на уникальную заделку концевой арматуры, позволяющую существенно увеличить
                надёжность и срок службы изделий.
            </p>
            <p>
                Испытания 100% партии производимых фторопластовых рукавов позволяет исключить случаи поставки
                негерметичных изделий. Контроль произведенной продукции осуществляется в двух направлениях: на прочность
                и на герметичность.
            </p>
        </div>
    </div>
</div>
{% endblock content %}