{% extends 'rzmr/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-uzm">
            <h4 class="py-2">{{ title }}</h4>
            <p>
                Фторопластовые рукава производства {{ company_name_short }} применяются в качестве гибких соединений для
                транспортировки различных сред под давлением. Визитной карточкой тефлоновых рукавов являются высокие
                антиадгезийные свойства, позволяющие использовать эти рукава для перекачки особо агрессивных сред. При
                подборе фторопластового рукава серии РФ необходимо руководствоваться условиями, в которых предполагается
                эксплуатация изделия. Для упрощения данного процесса можно разделить подбор фторопластового рукава на
                несколько этапов: внутренний диаметр, тип оболочки, рабочее давление, длина изделия, тип присоединения.
            </p>
            <p>Пример маркировки рукава серии РФ:
                <br><strong>РФП 10-190-1,0 с\а</strong>
                <br>Расшифровка:
                <br>РФП - серия изделия (рукав фторопластовый плоский)
                <br>10 – номинальный внутренний диаметр рукава, мм;
                <br>190 - наибольшее рабочее давление рукава в кгс/см<sup>2</sup> (атм) при нормальных условиях
                эксплуатации;
                <br>1,0 — номинальная длина рукава в сборе, м;
                <br>с/а – наличие специальной концевой арматуры в соответствии с требованиями Заказчика. Полное описание
                концевой арматуры представлено в паспорте Заказчика. Маркировка рукава с отсутствием аббревиатуры с/а –
                рукав без специальной арматуры, с окончаниями под приварку.
            </p>
            <p>
                <strong>Условный внутренний диаметр фторопластового рукава</strong> - номинальный параметр, применяемый
                при описании трубопроводных систем, как характеризующий признак при монтаже и подгонке друг к другу
                деталей трубопровода. Условный внутренний диаметр рассчитывается при проектировании таким образом, чтобы
                обеспечить требуемую пропускную способность фторопластового рукава.
            </p>
            <p>
                <strong>Рабочее давление</strong> - это наибольшее значение давления транспортируемой среды, при котором
                обеспечивается заданный режим эксплуатации. В зависимости от значения данного параметра побирается тип
                фторопластовой трубки (тонкостенная или толстостенная), а также количество оплеток (одинарная или
                двойная).
            </p>
            <p>
                <strong>Номинальная длина</strong> - определяется Заказчиком, исходя из требований по монтажу рукавов.
            </p>
            <p>
                При подборе фторопластовых рукавов необходимо определить его оптимальную длину для конкретного случая
                монтажа, так как применение слишком короткого или слишком длинного рукава может привести к повреждению
                изделия в месте заделки концевой арматуры. При выборе длины рукава следует учитывать, что она должна
                включать в себя нейтральные участки около арматуры, не подвергающиеся изгибу при работе.
            </p>
            <p>
                По требованию и согласованию с Заказчиком допускается изготовление длинномерных рукавов в сборе путем
                стыковки из нескольких рукавов. Стыковка осуществляется сваркой посредством использования арматуры под
                приварку.
            </p>
            <p>
                Стоит особо отметить, что при эксплуатации цельных фторопластовых рукавов длиной более 1,8 метра
                возможно возникновение статического напряжения при контакте пропускаемой среды и фторопластовой камеры,
                что может привести к поражению гибкой части током, появлении на поверхности фторопласта повреждений
                (трещин) и как следствие потери изделием герметичности и выходу и строя. Исходя из вышеизложенного
                следует заказывать фторопластовые рукава длиной выше 1,8 метра с антистатической присадкой, что позволит
                избежать преждевременного выхода из строя.
            </p>
            <p>
                <strong>Концевая арматура</strong> - окончания фторопластового рукава служащие для присоединения его к
                ответным частям при встраивании в систему трубопровода.
            </p>
            <p>
                Тип концевой арматуры подбирается Заказчиком исходя из требований к эксплуатационным характеристикам
                рукава. Самым распространенным видом концевой арматуры (КА) для фторопластовых рукавов являются накидные
                гайки. Ознакомиться со всеми типами концевой арматуры предлагаемыми {{ company_name_short }} можно на
                странице <a href="{% url 'ptfe-fittings' %}">Карта концевой арматуры</a>.
            </p>
            <p>
                Для транспортировки особо агрессивны сред выпускаются рукава серии РФГф с футеровкой (вальцовкой)
                фторопластовой камеры на концевую арматуру, это позволяет при эксплуатации рукава пропускать среду через
                рукав не допуская контакта с металлом. Подробнее все серии фторопластовых рукавов выпускаемых
                {{ company_name_short }} можно изучить в соответствующем <a href="{% url 'ptfe-hoses' %}">разделе</a>.
            </p>
        </div>
    </div>
</div>

{% endblock content %}