{% extends 'rzmr/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-uzm">
            <h4 class="py-2">{{ title }}</h4>
            <p>
                Гофрированная стандартное исполнение - данное исполнение позволяет существенно увеличить гибкость
                рукавов, но при этом рукав выдерживаем меньшее рабочее давление.
            </p>
            <p class="py-4">
                <img src="{% static '/rzmr/img/marked_гофрированная тонкостенная.png' %}" alt="gofra">
            </p>
        </div>
    </div>
</div>
{% endblock content %}