{% extends 'rzmr/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-uzm">
            <h4 class="py-2">{{ title }} Резиновая оболочка</h4>
            <p>
                Резиновая оболочка - позволяет защитить оплетку рукава от механических повреждений.
            </p>
            <p class="py-4">
                <img src="{% static '/rzmr/img/marked_резиновая оболочка_фторопласт.png' %}" alt="gofra">
            </p>
        </div>
    </div>
</div>
{% endblock content %}