{% extends 'rzmr/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-uzm">
            <p>
                Фторопластовые рукава (рукава PTFE) – это отличное решение, сочетающее в себе технологические
                преимущества жестких трубопроводов и гибких транспортных систем. Они обладают повышенным сопротивлением
                вибрационным нагрузкам, термостойкостью и устойчивостью к воздействию агрессивных химических сред. Такие
                рукава могут использоваться в условиях повышенного давления – до 500 атм. Хорошие технические
                характеристики изделий обусловлены не только свойствами материала, но и конструктивными решениями,
                лежащими в основе гибких трубопроводных систем.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="{% url 'ptfe-pipes' %}">
                <p class="wrapper-up-uzm-card fs-5">
                    Трубка
                </p>
                <p class="uzm-text-card">
                    герметичная оболочка с кольцевыми гофрами, расположенными параллельно. Изготавливается методом
                    гидроформовки из трубных заготовок, сваренных аргонодуговой сваркой встык по длине трубы.
                </p>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-pipe' 'ptfe_pipe_ploskaya_standartnoe_ispolnenie' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Плоская тонкостенная <br>Cтандартное исполнение <br>Ø6 - Ø100 </div>
                </div>
                <img src="{% static '/rzmr/img/marked_плоская тонкостенная стандарт.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-pipe' 'ptfe_pipe_ploskaya_tolstostennaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Плоская толстостенная <br>Повышенное рабочее давление <br>Ø6 - Ø100</div>
                </div>
                <img src="{% static '/rzmr/img/marked_плоская толстостенная.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-pipe' 'ptfe_pipe_gofrirovannaya_standartnoe_ispolnenie' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Гофрированная тонкостенная <br>Повышенная гибкость <br>Ø8 - Ø150 </div>
                </div>
                <img src="{% static '/rzmr/img/marked_гофрированная тонкостенная.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-pipe' 'ptfe_pipe_gofrirovannaya_tolstostennaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Гофрированная толстостенная <br>Повышенная гибкость и рабочее давление <br>Ø8 - Ø150 </div>
                </div>
                <img src="{% static '/rzmr/img/marked_гофрированная толстостенная.png' %}" alt="gofra">
            </a>
        </div>
    </div>
    <div class="row pb-5">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="{% url 'ptfe-liners' %}">
                <p class="wrapper-up-uzm-card fs-5">
                    Футеровка PTFE
                </p>
                <p class="uzm-text-card">
                    развальцовка гибкой части фторопластового рукава на концевую арматуру.
                </p>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-liner' 'ptfe_futerovka_ploskoy_trubki_na_flanets' %}">
                <div class="wrapper-up-uzm-card">
                    <div>PTFE футеровка плоской трубки на фланец </div>
                </div>
                <img src="{% static '/rzmr/img/marked_PTFE футеровка плоская.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-liner' 'ptfe_futerovka_gofrirovannoy_trubki_na_flanets' %}">
                <div class="wrapper-up-uzm-card">
                    <div>PTFE футеровка гофрированной трубки на фланец </div>
                </div>
                <img src="{% static '/rzmr/img/marked_PTFE футеровка гофрированная.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-liner' 'ptfe_futerovka_ploskoy_trubki_na_nippel_gayki' %}">
                <div class="wrapper-up-uzm-card">
                    <div>PTFE футеровка плоской трубки на ниппель гайки </div>
                </div>
                <img src="{% static '/rzmr/img/marked_PTFE футеровка с гайкой.png' %}" alt="gofra">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="{% url 'ptfe-inners' %}">
                <p class="wrapper-up-uzm-card fs-5">
                    Внутренний экран
                </p>
                <p class="uzm-text-card">
                    защитный элемент рукава, помещенный внутрь гибкой части позволяющий исключить/сократить контакт
                    фторопласта со средой, либо за счет своего наличия продлить срок службы изделия.
                </p>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-inner' 'ptfe_inner_antistaticheskaya_prisadka_ploskaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Антистатическая присадка плоская </div>
                </div>
                <img src="{% static '/rzmr/img/marked_внутренний экран антистатический_плоский.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-inner' 'ptfe_inner_antistaticheskaya_prisadka_gofrirovannaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Антистатическая присадка гофрированная</div>
                </div>
                <img src="{% static '/rzmr/img/marked_внутренний экран антистатический_гофрированный.png' %}"
                    alt="gofra">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="{% url 'ptfe-outsides' %}">
                <p class="wrapper-up-uzm-card fs-5">
                    Наружная оболочка
                </p>
                <p class="uzm-text-card">
                    часть рукава в которую заключается гибкая часть для предотвращения различных воздействий
                    (температурных, механических и т.д.). Выбирается исходя из предполагаемых условий эксплуатации
                    изделия.
                </p>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-outside' 'ptfe_outside_termochekhol' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Термочехол</div>
                </div>
                <img src="{% static '/rzmr/img/marked_пироэкран_фторопласт.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-outside' 'ptfe_outside_rezinovaya_obolochka' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Резиновая оболочка</div>
                </div>
                <img src="{% static '/rzmr/img/marked_резиновая оболочка_фторопласт.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-outside' 'ptfe_outside_pruzhina' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Пружина</div>
                </div>
                <img src="{% static '/rzmr/img/marked_пружина_фторопласт.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-outside' 'ptfe_outside_ploskaya_trubka_v_metallorukave_v_opletke' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Плоская трубка в металлорукаве в оплетке</div>
                </div>
                <img src="{% static '/rzmr/img/marked_плоская трубка в металлорукаве.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-outside' 'ptfe_outside_gofrirovannaya_trubka_v_metallorukave_v_opletke' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Гофрированная трубка в металлорукаве в оплетке</div>
                </div>
                <img src="{% static '/rzmr/img/marked_гофрированная трубка в металлорукаве.png' %}" alt="gofra">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-uzm">
            <h5 class="py-5">Основные рабочие характеристики фторопластовых рукавов:</h5>
            <table class="uzm-table">
                <tbody>
                    <tr>
                        <td><img src="{% static '/rzmr/img/Icon5.jpg' %}"></td>
                        <td>Условный внутренний диаметр Dy</td>
                        <td>4-150 мм</td>
                    </tr>
                    <tr>
                        <td><img src="{% static '/rzmr/img/Icon6.jpg' %}"></td>
                        <td>Рабочее давление Рраб</td>
                        <td>10-350 бар</td>
                    </tr>

                    <tr>
                        <td><img src="{% static '/rzmr/img/Icon7.jpg' %}"></td>
                        <td>Рабочая среда</td>
                        <td>Кислоты, щелочные среды, воздух, азот, гелий, кислород, водород</td>
                    </tr>
                    <tr>
                        <td><img src="{% static '/rzmr/img/Icon8.jpg' %}"></td>
                        <td>Температура рабочей среды</td>
                        <td>от -40 до +165°C</td>
                    </tr>
                    <tr>
                        <td><img src="{% static '/rzmr/img/Union.jpg' %}">
                        </td>
                        <td>Количество изгибов без рабочего давления с радиусом изгиба 5Ду</td>
                        <td>до 500 циклов</td>
                    </tr>
                </tbody>
            </table>
            <h5 class="pt-5">Устройство фторопластовых рукавов высокого давления</h5>
            <p>Рукава состоят из нескольких «слоев».</p>
            <ul>
                <li>
                    Наружное покрытие защищает конструкцию от внешнего воздействия – это может быть резиновая или
                    пружинная оболочка, плоская или гофрированная трубка, термочехол и т.д.
                </li>
                <li>
                    Внутренний экран предотвращает нежелательный контакт с рабочей средой.
                </li>
                <li>
                    Оплетка обеспечивает сопротивляемость механическим нагрузкам: фрикционным, гидроударным,
                    вибрационным и т.д.
                </li>
                <li>
                    Внутренний слой – трубка может быть плоской или гофрированной, тонкостенной или толстостенной.
                </li>
            </ul>
            <p>
                У каждого из этих элементов есть несколько модификаций, предназначенных для применения в тех или иных
                условиях. ООО «УЗМ» предлагает вам возможность максимально эффективного использования этой технологии:
                вы можете сами выбрать каждый слой этого изделия и купить фторопластовые рукава высокого давления,
                которые будут обладать оптимальными характеристиками именно для ваших технологических задач.
                Проконсультируйтесь с нашим менеджером, чтобы узнать, что подойдет именно вам.
            </p>
            <h5>Преимущества технологии</h5>
            <p>
                Гибкий трубопровод – практичное и функциональное решение, характеристики которого зависят от
                используемого для изготовления материала.
            </p>
            <p>
                Использование фторопластового полимера обеспечивает ряд эксплуатационных преимуществ:
            </p>
            <ul>
                <li>
                    внутренняя часть трубопровода полностью защищена от коррозии;
                </li>
                <li>
                    гибкость и малый вес позволяют легко перевозить элементы трубопровода и осуществлять монтаж даже в
                    труднодоступных местах;
                </li>
                <li>
                    фторопластовый рукав устойчив к сотрясениям, гидроударам, вибрации, другим внешним и внутренним
                    воздействиям;
                </li>
                <li>
                    низкий коэффициент трения при эксплуатации обеспечивает долгий срок службы трубопровода;
                </li>
                <li>
                    экономичность – сами PTFE-рукава и работы по монтажу коммуникаций дешевле материалов и работ по
                    прокладке жесткого трубопровода для таких рабочих сред;
                </li>
                <li>
                    легкость прокладки трубопровода, ремонта и обслуживания;
                </li>
                <li>
                    универсальность – их можно применять при прокладке долговременных транспортных систем, так и для
                    байпасных линий.
                </li>
            </ul>
            <p>
                Такие качества делают фторопластовые рукава высокого давления популярной технологией для транспортировки
                жидких, газообразных и сыпучих сред.
            </p>
            <h5>Применение</h5>
            <p>
                Фторопластовые коммуникации являются очень прочными, хорошо сопротивляются агрессивному воздействию, а
                также обладают повышенными гигиеническими характеристиками. Это позволяет использовать их в разных
                сферах:
            </p>
            <ul>
                <li>
                    в химической промышленности для транспортировки агрессивных сред;
                </li>
                <li>
                    в машиностроении и приборостроении;
                </li>
                <li>
                    в смазочных и топливных системах, а также в гидросистемах;
                </li>
                <li>
                    в деревообработке и целлюлозном производстве;
                </li>
                <li>
                    в медицине и пищевой промышленности.
                </li>
            </ul>
            <p>
                В {{ company_name }} вы можете купить фторопластовые рукава высокого давления по цене
                от производителя. Мы испытываем каждое изделие из партии из партии и гарантируем качество поставляемых
                товаров. На нашем сайте вы можете ознакомиться с каталогом, а также прочесть инструкции по установке
                гибких систем и правила техники безопасности.
            </p>
        </div>
    </div>
</div>
{% endblock content %}