{% extends 'rzmr/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-uzm">
            <h4 class="py-2">{{ title }}</h4>
            <p>
                При транспортировке особо агрессивных сред позволяет избежать контакта среды с материалом концевой
                арматуры.
                Выполняется из плоской или гофрированной трубки, может быть развальцована на ниппель фланца, гайки либо
                иную арматуру.
            </p>
        </div>
    </div>
    <div class="row pb-5">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <p class="wrapper-up-uzm-card fs-5">
                Футеровка PTFE
            </p>
            <p class="uzm-text-card">
                развальцовка гибкой части фторопластового рукава на концевую арматуру.
            </p>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-liner' 'ploskoy_trubki_na_flanets' %}">
                <div class="wrapper-up-uzm-card">
                    <div>PTFE футеровка плоской трубки на фланец </div>
                </div>
                <img src="{% static '/rzmr/img/marked_PTFE футеровка плоская.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-liner' 'gofrirovannoy_trubki_na_flanets' %}">
                <div class="wrapper-up-uzm-card">
                    <div>PTFE футеровка гофрированной трубки на фланец </div>
                </div>
                <img src="{% static '/rzmr/img/marked_PTFE футеровка гофрированная.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-liner' 'ploskoy_trubki_na_nippel_gayki' %}">
                <div class="wrapper-up-uzm-card">
                    <div>PTFE футеровка плоской трубки на ниппель гайки </div>
                </div>
                <img src="{% static '/rzmr/img/marked_PTFE футеровка с гайкой.png' %}" alt="gofra">
            </a>
        </div>
    </div>
</div>
{% endblock content %}