{% extends 'rzmr/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-uzm">
            <h4 class="py-2">{{ title }}</h4>
            <p>
                защитный элемент рукава, помещенный внутрь гибкой части позволяющий исключить/сократить контакт
                фторопласта со средой, либо за счет своего наличия продлить срок службы изделия.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <p class="wrapper-up-uzm-card fs-5">
                Внутренний экран
            </p>
            <p class="uzm-text-card">
                защитный элемент рукава, помещенный внутрь гибкой части позволяющий исключить/сократить контакт
                фторопласта со средой, либо за счет своего наличия продлить срок службы изделия.
            </p>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-inner' 'antistaticheskaya_prisadka_ploskaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Антистатическая присадка плоская </div>
                </div>
                <img src="{% static '/rzmr/img/marked_внутренний экран антистатический_плоский.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-inner' 'antistaticheskaya_prisadka_gofrirovannaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Антистатическая присадка гофрированная</div>
                </div>
                <img src="{% static '/rzmr/img/marked_внутренний экран антистатический_гофрированный.png' %}"
                    alt="gofra">
            </a>
        </div>
    </div>
</div>
{% endblock content %}