{% extends 'rzmr/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-uzm">
            <h4 class="py-2">{{ title }}</h4>
            <p>
                При транспортировке особо агрессивных сред позволяет избежать контакта среды с материалом концевой
                арматуры.
                Выполняется из плоской или гофрированной трубки, может быть развальцована на ниппель фланца, гайки либо
                иную арматуру.
            </p>
        </div>
    </div>
</div>
{% endblock content %}