{% extends 'rzmr/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-uzm">
            <h1 class="h3 fw-bold py-2">{{ h1 }}</h1>

            {% if city_location == 'Москва' %}

            <p>Фторопластовые рукава &ndash; прочные, гибкие трубки для транспортировки опасных химических веществ,
                обладающие высоким уровнем защиты и безопасности. Это высокотехнологичное решение транспортных задач,
                которое предоставляет уникальные возможности. Такие трубопроводы могут выдерживать крайне высокие и
                крайне низкие температуры, имеют высокую стойкость к агрессивным средам и высокому давлению, а также не
                подвержены коррозии.
            </p>

            {% elif city_location == 'Екатеринбург' %}

            <p>Рукава из фторопласта &ndash; гибкие элементы трубопроводной системы, изготовленные из полимерных
                материалов на основе тефлона, обладающего отличны уровнем стойкости к высокой температуре и различным
                химически активным веществам. Преимущества использования фторопластовых рукавов в промышленности
                очевидны &ndash; они сочетают в себе прочность металлических труб, а также эластичность и устойчивость к
                гидроударам, свойственные гибким трубопроводным системам. Фторопласт в сочетании с другими материалами
                выдерживает мощные эксплуатационные нагрузки (давление до 500 атмосфер), а модули легко соединяются и
                монтируются.
            </p>

            {% elif city_location == 'Челябинск' %}

            <p>Фторопластовые рукава &ndash; высокопрочные, химически стойкие трубки из специального материала на основе
                тефлона, используемые для транспортировки агрессивных жидкостей и газов. Это надежное решение для
                транспортировки агрессивных сред и веществ, находящихся под давлением, при очень высоких и очень низких
                температурах и т.д. Материал, из которого они изготовлены, обладает высокой химической стойкостью и не
                подвержен воздействию коррозионных факторов.
            </p>

            {% elif city_location == 'Магнитогорск' %}

            <p>Рукава из фторопласта &ndash; транспортировочные конструкции промышленного назначения, которые
                изготавливаются из специализированных высокопрочных полимеров, способных выдерживать высокое давление,
                экстремальные температуры и среду с агрессивными свойствами. Благодаря этому, их используют в различных
                сферах производства и промышленности &ndash; от нефтегазовой до пищевой и медицинской. Рукава PTFE
                позволяют транспортировать агрессивные среды с высокой скоростью и с минимальным риском возникновения
                аварийных ситуаций, а также защищают работников от опасных воздействий.
            </p>

            {% elif city_location == 'Пермь' %}

            <p>Рукава из фторопласта &ndash; технологичные элементы системы транспортировки химических веществ,
                изготовленные из материала с высоким уровнем стойкости к коррозии, абразивному износу и высокой
                температуре. Они отлично приспособлены для сухой перекачки и работы с абразивными материалами. Если вы
                ищете решение для герметичной транспортной системы с высокой скоростью прокачки, фторопластовые рукава
                &ndash; лучший выбор. Они обладают высокой износостойкостью и не подвержены воздействию абразивных
                материалов.
            </p>

            {% elif city_location == 'Самара' %}

            <p>Фторопластовые рукава &ndash; высокотехнологичные изделия, которые обеспечивают надежную и безопасную
                транспортировку различных агрессивных сред. PTFE рукава обладают высокой устойчивостью к химически
                активным веществам и интенсивному термическому воздействию. Они пользуются высоким спросом в различных
                отраслях промышленности: нефтегазовой, топливно-энергетической, машиностроительной, а также медицинской
                и пищевой. Такие трубопроводы сочетают преимущества жестких и гибких транспортных систем.
            </p>

            {% elif city_location == 'Уфа' %}

            <p>Фторопластовые рукава (рукава PTFE) &ndash; это отличное решение, сочетающее в себе технологические
                преимущества жестких трубопроводов и гибких транспортных систем. Они обладают повышенным сопротивлением
                вибрационным нагрузкам, термостойкостью и устойчивостью к воздействию агрессивных химических сред. Такие
                рукава могут использоваться в условиях повышенного давления &ndash; до 500 атм. Хорошие технические
                характеристики изделий обусловлены не только свойствами материала, но и конструктивными решениями,
                лежащими в основе гибких трубопроводных систем.
            </p>

            {% elif city_location == 'Казань' %}

            <p>Фторопластовые рукава &ndash; удобные, гибкие конструкции для транспортировки кислот, щелочей и других
                агрессивных веществ, обладающие высокой термостойкостью и стойкостью к коррозии. Они могут
                транспортировать жидкие, газообразные и сыпучие вещества, выдерживать высокое давление (до 500 атм),
                экстремальные температуры и высокую скорость прокачки. Если вы ищете технологичное решение для
                промышленных транспортных задач, фторопластовые рукава идеально подойдут для этой цели.
            </p>

            {% elif city_location == 'Омск' %}

            <p>Фторопластовые рукава &ndash; инновационные конструкции для транспортировки различных веществ, обладающие
                высоким уровнем герметичности и устойчивости к агрессивным веществам. Кроме того, они очень хорошо
                сопротивляются гидроударам, вибрационным напряжениям, термическому воздействию и другим нестандартным
                эксплуатационным нагрузкам. Рукава PTFE отлично приспособлены для решения задач транспортировки в
                промышленности. Они обеспечивают скоростную перекачку жидкостей, защищают от опасных воздействий и
                помогают предотвратить отказ оборудования.
            </p>

            {% elif city_location == 'Нижний Новгород' %}

            <p>Рукава из фторопласта &ndash; высокопрочные трубки, изготовленные из современного высококачественного
                полимерного материала с отличными антикоррозийными, термостойкими и механическими свойствами. Одним из
                главных преимуществ фторопластовых рукавов является их долговечность и готовность к высоким
                эксплуатационным нагрузкам. Они способны прослужить дольше, чем транспортные системы из других
                материалов, что позволяет значительно сэкономить на замене изношенного оборудования. Фторопласт отлично
                справляется с рабочими средами экстремальных температур при давлении до 500 атмосфер, а также с
                агрессивными химическими свойствами.</p>

            {% else %}

            <p>Рукава из фторопласта &ndash; специальные трубки, которые служат для транспортировки газов и жидкостей,
                обладающие повышенной устойчивостью к коррозии и высокой производительностью. Они незаменимы в области
                химической промышленности, а также в других сферах, которые связаны с транспортировкой кислотных и
                щелочных веществ, а также других рабочих сред, создающих повышенные эксплуатационные нагрузки. Из
                уникальных свойств фторопластовых рукавов можно выделить их приспособленность к использованию в условиях
                высокого давления, экстремальных температур, химической агрессивности рабочей среды.
            </p>

            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="{% url 'ptfe-pipes' %}">
                <p class="wrapper-up-uzm-card fs-5">
                    Трубка
                </p>
                <p class="uzm-text-card">
                    герметичная оболочка с кольцевыми гофрами, расположенными параллельно. Изготавливается методом
                    гидроформовки из трубных заготовок, сваренных аргонодуговой сваркой встык по длине трубы.
                </p>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-pipe' 'ploskaya_standartnoe_ispolnenie' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Плоская тонкостенная <br>Cтандартное исполнение <br>Ø6 - Ø100 </div>
                </div>
                <img src="{% static '/rzmr/img/marked_плоская тонкостенная стандарт.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-pipe' 'ploskaya_tolstostennaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Плоская толстостенная <br>Повышенное рабочее давление <br>Ø6 - Ø100</div>
                </div>
                <img src="{% static '/rzmr/img/marked_плоская толстостенная.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-pipe' 'gofrirovannaya_standartnoe_ispolnenie' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Гофрированная тонкостенная <br>Повышенная гибкость <br>Ø8 - Ø150 </div>
                </div>
                <img src="{% static '/rzmr/img/marked_гофрированная тонкостенная.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-pipe' 'gofrirovannaya_tolstostennaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Гофрированная толстостенная <br>Повышенная гибкость и рабочее давление <br>Ø8 - Ø150 </div>
                </div>
                <img src="{% static '/rzmr/img/marked_гофрированная толстостенная.png' %}" alt="gofra">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="{% url 'ptfe-braids' %}">
                <p class="wrapper-up-uzm-card fs-5">
                    Оплетка
                </p>
                <p class="uzm-text-card">
                    представляет собой защитную оболочку сетчатого типа и изготавливается из стальной нержавеющей
                    проволоки 12Х18Н9Т. Позволяет обеспечить работоспособность рукава при воздействии различных
                    нагрузок, а также пульсации давлений, возникающих при транспортировке по гибкому элементу рабочей
                    среды. Оплетка должна плотно облегать рукав, не иметь оборванных частей.
                </p>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-braid' 'odnosloynaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Однослойная</div>
                </div>
                <img src="{% static '/rzmr/img/marked_opletka_odinarnaya.png' %}" alt="opletka">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-braid' 'dvukhsloynaya'  %}">
                <div class="wrapper-up-uzm-card">
                    <div>Двухслойная</div>
                </div>
                <img src="{% static '/rzmr/img/marked_opletka_dvoinaya.png' %}" alt="opletka">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-braid' 'trekhsloynaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Трехслойная</div>
                </div>
                <img src="{% static '/rzmr/img/marked_opletka_troinaya.png' %}" alt="opletka">
            </a>
        </div>
    </div>
    <div class="row pb-5">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="{% url 'ptfe-liners' %}">
                <p class="wrapper-up-uzm-card fs-5">
                    Футеровка PTFE
                </p>
                <p class="uzm-text-card">
                    развальцовка гибкой части фторопластового рукава на концевую арматуру.
                </p>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-liner' 'ploskoy_trubki_na_flanets' %}">
                <div class="wrapper-up-uzm-card">
                    <div>PTFE футеровка плоской трубки на фланец </div>
                </div>
                <img src="{% static '/rzmr/img/marked_PTFE футеровка плоская.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-liner' 'gofrirovannoy_trubki_na_flanets' %}">
                <div class="wrapper-up-uzm-card">
                    <div>PTFE футеровка гофрированной трубки на фланец </div>
                </div>
                <img src="{% static '/rzmr/img/marked_PTFE футеровка гофрированная.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-liner' 'ploskoy_trubki_na_nippel_gayki' %}">
                <div class="wrapper-up-uzm-card">
                    <div>PTFE футеровка плоской трубки на ниппель гайки </div>
                </div>
                <img src="{% static '/rzmr/img/marked_PTFE футеровка с гайкой.png' %}" alt="gofra">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="{% url 'ptfe-inners' %}">
                <p class="wrapper-up-uzm-card fs-5">
                    Внутренний экран
                </p>
                <p class="uzm-text-card">
                    защитный элемент рукава, помещенный внутрь гибкой части позволяющий исключить/сократить контакт
                    фторопласта со средой, либо за счет своего наличия продлить срок службы изделия.
                </p>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-inner' 'antistaticheskaya_prisadka_ploskaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Антистатическая присадка плоская </div>
                </div>
                <img src="{% static '/rzmr/img/marked_внутренний экран антистатический_плоский.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-inner' 'antistaticheskaya_prisadka_gofrirovannaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Антистатическая присадка гофрированная</div>
                </div>
                <img src="{% static '/rzmr/img/marked_внутренний экран антистатический_гофрированный.png' %}"
                    alt="gofra">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="{% url 'ptfe-outsides' %}">
                <p class="wrapper-up-uzm-card fs-5">
                    Наружная оболочка
                </p>
                <p class="uzm-text-card">
                    часть рукава в которую заключается гибкая часть для предотвращения различных воздействий
                    (температурных, механических и т.д.). Выбирается исходя из предполагаемых условий эксплуатации
                    изделия.
                </p>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-outside' 'termochekhol' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Термочехол</div>
                </div>
                <img src="{% static '/rzmr/img/marked_пироэкран_фторопласт.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-outside' 'rezinovaya_obolochka' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Резиновая оболочка</div>
                </div>
                <img src="{% static '/rzmr/img/marked_резиновая оболочка_фторопласт.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-outside' 'pruzhina' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Пружина</div>
                </div>
                <img src="{% static '/rzmr/img/marked_пружина_фторопласт.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-outside' 'ploskaya_trubka_v_metallorukave_v_opletke' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Плоская трубка в металлорукаве в оплетке</div>
                </div>
                <img src="{% static '/rzmr/img/marked_плоская трубка в металлорукаве.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-outside' 'gofrirovannaya_trubka_v_metallorukave_v_opletke' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Гофрированная трубка в металлорукаве в оплетке</div>
                </div>
                <img src="{% static '/rzmr/img/marked_гофрированная трубка в металлорукаве.png' %}" alt="gofra">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-uzm">
            <h5 class="py-5">Основные рабочие характеристики фторопластовых рукавов:</h5>
            <table class="uzm-table">
                <tbody>
                    <tr>
                        <td class="p-1"><img src="{% static '/rzmr/img/Icon5.jpg' %}"></td>
                        <td>Условный внутренний диаметр Dy</td>
                        <td>4-150 мм</td>
                    </tr>
                    <tr>
                        <td class="p-1"><img src="{% static '/rzmr/img/Icon6.jpg' %}"></td>
                        <td>Рабочее давление Рраб</td>
                        <td>10-350 бар</td>
                    </tr>

                    <tr>
                        <td class="p-1"><img src="{% static '/rzmr/img/Icon7.jpg' %}"></td>
                        <td>Рабочая среда</td>
                        <td>Кислоты, щелочные среды, воздух, азот, гелий, кислород, водород</td>
                    </tr>
                    <tr>
                        <td class="p-1"><img src="{% static '/rzmr/img/Icon8.jpg' %}"></td>
                        <td>Температура рабочей среды</td>
                        <td>от -40 до +165°C</td>
                    </tr>
                    <tr>
                        <td class="p-1"><img src="{% static '/rzmr/img/Union.jpg' %}"></td>
                        <td>Количество изгибов без рабочего давления с радиусом изгиба 5Ду</td>
                        <td>до 500 циклов</td>
                    </tr>
                </tbody>
            </table>

            {% if city_location == 'Москва' %}

            <p>В {{ company_name_short }} вы можете купить фторопластовые рукава в Москве. Наше производство и система
                доставки развиваются с 2008 года. Сейчас мы готовы предоставить вам стопроцентные гарантии качества,
                выгодные условия получения заказа и работу с партиями любого масштаба.</p>
            <h4>Свойства рукавов PTFE</h4>
            <p>Отчасти фторопластовые трубопроводы обязаны своими хорошими свойствами используемым материалам, отчасти
                &ndash; конструктивным решениям.</p>
            <p>Фторопласт &ndash; полимер, который обеспечивает возможность эксплуатации транспортировочной системы в
                условиях высокого давления, экстремальных температур, высокой скорости прокачки, агрессивных химических
                свойств рабочей среды. Кроме того, у него очень низкий уровень адгезии, снижающий трение и механическое
                воздействие на внутреннюю оболочку до минимальных значений, способствуя долгой и надежной работе.</p>
            <p>Несколько слоев из фторопласта и металла &ndash; это не все особенности устройства изделия. Очень важно
                правильно выбрать вид концевой арматуры, которая обеспечивает надежность и прочность соединения,
                герметичность ключевых узлов трубопровода и безопасную работу с емкостями для хранения.</p>
            <p>Все виды арматуры гарантируют достаточную герметичность и необходимую прочность, в результате чего
                складывается работоспособная конструкция для перекачки агрессивной среды через фторопластовый рукав
                высокого давления.</p>
            <h4>Виды резьбовых соединений</h4>
            <p>Среди резьбовых конструкций концевой арматуры можно выделить фитинги с внутренней и внешней резьбой,
                позволяющие быстро выполнять сборку и разборку трубопровода.</p>
            <ul>
                <li><strong>Накидная гайка</strong> &ndash; при наличии прокладки накидная гайка обеспечивает прочное
                    трубное соединение гидравлических и газовоздушных магистралей.</li>
                <li><strong>Гайка-американка</strong> &ndash; быстросъемное соединение, состоящее из двух резьбовых
                    фитингов с накидной шестигранной гайкой. Наличие торцевой прокладки также обеспечивает герметичность
                    при высоком давлении транспортируемой среды.</li>
                <li><strong>Штуцер с резьбой</strong> предназначен для использования накидной гайки с неметаллической
                    или медной прокладкой.</li>
                <li><strong>Фитинги DK</strong> представляют собой штуцер с метрической резьбой (угол профиля составляет
                    60&deg;) и сферой под ответный штуцер, с углами уплотнения 37&deg;, 24&deg;, 60&deg;.</li>
                <li><strong>Переходники</strong> представляют собой резьбовую арматуру, предназначенную для обеспечения
                    резьбового соединения с переходом с одного вида резьбы на другой вид. Изменение может состоять в
                    перемене вида резьбы (внутренняя/внешняя), стандарта резьбы, диаметра резьбы.</li>
            </ul>
            <p>В ассортименте {{ company_name_short }} вы найдете и другие виды концевой арматуры: фланцевые,
                быстроразъемные, под сварку и т.д.</p>
            <p>Мы производим и поставляем фторопластовые рукава, концевую арматуру и другие промышленные товары в города
                России, предоставляя выгодные условия постоянным партнерам. Обратитесь к нам, чтобы приобрести
                гарантированно качественные изделия для своего производства!</p>   

            {% elif city_location == 'Екатеринбург' %}

            <p>PTFE (политетрафторэтилен, фторопласт-4) &ndash; современный материал с большим набором особенных
                физико-химических свойств, благодаря которым материал находит применение в различных отраслях
                промышленности России и странах СНГ. PTFE используется, в частности, при производстве рукавов
                (транспортных систем) для технологического транспортирования жидкостей, газов, сыпучих материалов. Вы
                можете купить фторопластовые рукава в Екатеринбурге с доставкой в {{ company_name_short }}. Мы работаем
                с 2008 года и продолжаем развивать производство технологичных решений для промышленности, обеспечивая
                доставку в любой город России.</p>
            <h4>Устройство и назначение фторопластовых рукавов</h4>
            <p>Современные производственные технологии часто опираются на применение агрессивных сред, требующих
                соответствующего оборудования, устойчивого к неблагоприятным факторам. Кроме того, они могут
                представлять угрозу здоровью человека, поэтому транспортные системы должны надежно защищать работников
                от вредного воздействия.</p>
            <p>Именно для таких специфических задач используются фторопластовые рукава высокого давления. Этот материал
                обладает минимальным коэффициентом трения, близким к нулю, а также минимальной адгезией, то есть
                минимальной способностью разнородных молекул прилипать друг к другу. Рукава PTFE химически нейтральны,
                хорошо сопротивляются трению, экстремальным температурам и другим нагрузкам, поэтому могут прослужить
                долго и надежно, сокращая эксплуатационные расходы на транспортное оборудование и защищая ваших
                сотрудников от нежелательного взаимодействия с опасной рабочей средой.</p>
            <p>Гибкие трубопроводы из PTFE востребованы в химической, топливно-энергетической, нефтегазовой
                промышленности, в машиностроении и многих других отраслях. Кроме того, герметичность и соответствие
                санитарно-гигиеническим нормам делают эти изделия востребованными также в медицинской и пищевой сферах.
            </p>
            <h4>Сотрудничество с {{ company_name_short }}</h4>
            <p>Наша служба технического контроля обеспечивает исключительный уровень качества и надежности поставляемых
                изделий. Мы проверяем партии целиком, а не выборочно, поэтому всегда уверены, что клиенты будут довольны
                своим выбором.</p>
            <p>Мы обеспечиваем минимальные сроки исполнения, готовы к выполнению заказов любого масштаба и предлагаем
                гибкую ценовую политику. Обратитесь к нам за надежными решениями для вашего предприятия!
            </p>

            {% elif city_location == 'Челябинск' %}

            <p>В современных промышленных и логистических процессах часто возникает потребность в транспортировке
                агрессивной химической среды. Для этого необходимо технологичное решение. И один из лучших вариантов
                &ndash; купить фторопластовые металлорукава. В Челябинске вы можете сделать это, обратившись в
                {{ company_name_short }}. Мы специализируемся на производстве гибких трубопроводных систем и доставим
                наши изделия в кратчайший срок и по выгодной стоимости.</p>
            <h4>Применение гибких трубопроводных систем</h4>
            <p>В промышленных процессах технологическая среда может
                перекачиваться между емкостями для транспортировки, хранения, участия в производственных операциях.
                Среда
                может быть агрессивной, а также находиться под высоким давлением, при высокой (до +260&deg;C) или низкой
                (до -190&deg;C) температуре. Если требуется большая производительность, скорость прокачки может быть
                очень быстрой. При таких нагрузках даже нейтральная среда может создавать дополнительные сложности:
                гидроудары, вибрационные напряжения, трение и механические повреждения (если речь идет о сыпучих
                веществах).</p>
            <p>Фторопластовые рукава высокого давления позволяют обеспечить надежность используемого транспортировочного
                оборудования и безопасность взаимодействия сотрудников, работающих с агрессивной средой. Низкий
                коэффициент трения, близкий к нулю, а также минимальная адгезия обеспечивают беспроблемное перетекание
                жидкостей и сыпучих веществ по PTFE-рукавам. Гофрированные внутренние трубки в фторопластовых рукавах
                обеспечивают гибкость изделия. Толстостенная оболочка работает при повышенном давлении среды.</p>
            <p>Применяемая в конструкции рукавов PTFE сетчатая металлическая оплетка препятствует деформации рукава,
                которая может возникнуть из-за повышенного давления или пульсации рабочей среды. Чтобы трубопровод стал
                еще прочнее, можно выбрать усиленную оболочку &ndash; двухслойную или трехслойную оплетку из нержавеющей
                стали.</p>
            <p>Для соединения концевых участков рукава с ответными транспортными элементами технологической цепи можно
                приобрести концевую арматуру, обеспечивающая один из видов соединений: резьбовое, фланцевое,
                быстросъемное, соединение под сварку.</p>
            <p>В {{ company_name_short }} вы найдете большой выбор рукавов для транспортирования агрессивных
                технологических сред. Мы проводим строгие выходные испытания и гарантируем ее стопроцентную
                эффективность.</p>
            <p>По желанию заказчика мы можем разработать индивидуальный проект. Современное оборудование,
                конструкторское бюро и квалифицированные специалисты &ndash; то, благодаря чему мы готовы взять на себя
                любой заказ!
            </p>

            {% elif city_location == 'Магнитогорск' %}

            <p>В Магнитогорске вы можете купить фторопластовые рукава в {{ company_name_short }}. Мы производим
                транспортировочные решения для промышленных целей, а гибкие трубопроводы из фторопласта являются очень
                востребованной технологией для прокачки жидких, газообразных и сыпучих веществ.</p>
            <h4>Свойства фторопластовых рукавов</h4>
            <p>Трубопроводы из PTFE могут использоваться при температуре от -190&deg;C до +260&deg;C, устойчивы к
                высокому давлению, вибронагрузкам и гидроударам, химически нейтральны. Это делает их отличным решением
                для эффективной работы в различных отраслях промышленности.</p>
            <p>Конструкция фторопластового рукава высокого давления может включает в себя гофрированные трубки из
                фторопласта (PTFE), проволочную оплётку из нержавеющей стали, концевую арматуру.</p>
            <p>Такое устройство позволяет, во-первых, обеспечить максимальную эффективность и надежность
                транспортировочных систем, во-вторых &ndash; учитывать технологические задачи и подстраивать трубопровод
                под разные условия, меняя виды оплетки, внутренней оболочки и концевой арматуры.</p>
            <h4>Техника безопасности</h4>
            <p>При перекачке среды со сложными физико-химическими параметрами важно знать и соблюдать правила
                эксплуатации, во избежание нежелательного травматизма и для обеспечения длительного срока эксплуатации
                применяемых изделий.</p>
            <p>Рукава PTFE относятся к гибким изделиям. Но на их сгибание существуют определенные ограничения.</p>
            <ul>
                <li>Рукав нельзя подвергать скручиванию. Изгиб шланга и направление движения среды должны быть в одной
                    плоскости. При этом, необходимо ограничить или минимизировать сложные перемещения изделий в
                    пространстве и соблюдать меры предосторожности.</li>
                <li>При монтаже изделия следует применять одновременно два гаечных ключа, во избежание крутящей нагрузки
                    на шланг. При монтаже в подвешенном состоянии необходимо использовать опорный ролик, во избежание
                    нулевого радиуса изгиба шланга и возможного последующего его разрушения.</li>
                <li>Длину шланга следует выбирать так, чтобы были исключены незапланированные участки перегибов.</li>
                <li>Необходимо строго соблюдать минимальный радиус скруглений.</li>
            </ul>

            <p>Вы можете заказать изделия {{ company_name_short }} непосредственно у завода-изготовителя, с выгодными
                условиями доставки и гарантией качества.
            </p>

            {% elif city_location == 'Пермь' %}

            <p>{{ company_name }} известен на рынке машиностроительной продукции с 2008 года
                высококачественными металлорукавами и фторопластовыми рукавами высокого давления. За эти годы клиентами
                завода стали более 7 тысяч предприятий России и стран СНГ. Лояльность заказчиков подтверждается гибкими
                возможностями для формирования заказов, удобной для клиентов ценовой политикой, высоким качеством
                продукции &ndash; благодаря активной работе штатного отдела технического контроля. Вся продукция, все
                сто процентов изделий проходят выходной контроль. У нас вы можете купить фторопластовые рукава в Перми
                по цене от производителя и получить надежную доставку к месту монтажа.</p>
            <h4>Преимущества гибких трубопроводов</h4>
            <p>Универсальность рукавов PTFE объясняется многими факторами, включая наличие большого разнообразия
                конструкций концевой арматуры, необходимой для обеспечения герметичности и надежного соединения деталей
                трубопровода друг с другом и с рабочими емкостями.</p>
            <p>Конструкцией предусматриваются способы соединений с использованием метрической резьбы, с применением
                фланцевых соединений с откидными болтами, быстросъемные конструкции, универсальные сварные конструкции,
                настроенные по месту соединения.</p>
            <p>Фланцы с откидными болтами предназначены для кратковременных подключений рукавов, например, на интервал
                времени до суток. Обводные технологические трубопроводы (байпасные) могут быть примером временных
                участков магистралей, параллельных основной запорной или регулирующей арматуре. Такие временные
                трубопроводы устанавливают для проведения ремонтных работ без прекращения подачи воды, газа или другого
                транспортируемого вещества, а также для заполнения коллектора.</p>
            <p>Фланцы по ГОСТ, в отличие от легкоразборных фланцевых конструкций, предназначаются для долговременного,
                прочного болтового соединения фторопластовых рукавов между собой, либо для их присоединения к машинам,
                емкостям.</p>
            <p>Мы обладаем обширным парком техники для производства, поэтому можем изготовить товары различной
                конфигурации, соответствующей специальному проекту заказчика. ВЫ можете выбрать не только тип
                соединения, но и внутренней оболочки, сильфона, наружной оплетки и дополнительные опции. Обратитесь к
                нам, чтобы мы помогли обеспечить максимальную эффективность вашего производства!
            </p>

            {% elif city_location == 'Самара' %}

            <p>В {{ company_name_short }} вы можете купить фторопластовые рукава высокого давления в Самаре по выгодной
                стоимости от производителя. Мы работаем с 2008 года и наладили сотрудничество с большим числом
                заказчиков России и стран СНГ.</p>
            <h4>Использование гибких трубопроводов</h4>
            <p>Рукава PTFE применяются в процессе для транспортировки жидкостей, газов, сыпучих веществ и других сред,
                являющихся агрессивными веществами. Все эти среды характеризуются повышенными нагрузками, которые они
                оказывают на транспортировочное оборудование. Это экстремальные температуры, повышенное давление,
                вибронагрузки, гидроудары, механическое воздействие сыпучих сред.</p>
            <p>Фторопластовые рукава применяются в химической промышленности, в медицине и других отраслях. Они способны
                работать с агрессивными средами, благодаря минимальному коэффициенту трения, минимальной адгезии и,
                следовательно, отсутствию налипания остатков транспортируемого вещества на внутренние стенки.</p>
            <p>Гибкие трубопроводы используются для транспортирования веществ: воздуха, кислорода, топлива для
                двигателей, масла для смазочных систем, рабочих жидкостей гидросистем, различных химикатов (кислот,
                щелочей, растворителей, спецпродуктов) и других агрессивных технологических сред.</p>
            <h4>Особенности устройства и соединения</h4>
            <p>Для фторопластовых трубопроводов предусматривается большое разнообразие присоединительной арматуры в виде
                резьбовых соединений, быстросъемных конструкций, фланцевых, сварочных и т.д. Среди них имеются
                конструкции прямые и угловые (под углом 90 градусов, 45 градусов и другие значения углов).</p>
            <p>Конструкция и тип назначается заказчиком в зависимости от ожидаемых эксплуатационных характеристик
                оборудования, в которых будет использоваться рукав.</p>
            <p>Наиболее часто в качестве концевой арматуры применяется конструкция с применением накидной гайки и
                определенными видами ниппелей.</p>
            <p>Реже применяется фланцевая арматура и другие виды соединений. В нашем каталоге вы найдете множество
                разнообразных товаров для промышленных нужд и выбрать лучший вариант для ваших задач!
            </p>

            {% elif city_location == 'Уфа' %}

            <h4>Устройство фторопластовых рукавов высокого давления</h4>
            <p>Рукава состоят из нескольких &laquo;слоев&raquo;.</p>
            <ul>
                <li>Наружное покрытие защищает конструкцию от внешнего воздействия &ndash; это может быть резиновая или
                    пружинная оболочка, плоская или гофрированная трубка, термочехол и т.д.</li>
                <li>Внутренний экран предотвращает нежелательный контакт с рабочей средой.</li>
                <li>Оплетка обеспечивает сопротивляемость механическим нагрузкам: фрикционным, гидроударным,
                    вибрационным и т.д.</li>
                <li>Внутренний слой &ndash; трубка может быть плоской или гофрированной, тонкостенной или толстостенной.
                </li>
            </ul>
            <p>У каждого из этих элементов есть несколько модификаций, предназначенных для применения в тех или иных
                условиях. {{ company_name_short }} предлагает вам возможность максимально эффективного использования
                этой
                технологии: вы можете сами выбрать каждый слой этого изделия и купить фторопластовые рукава высокого
                давления, которые будут обладать оптимальными характеристиками именно для ваших технологических задач.
                Проконсультируйтесь с нашим менеджером, чтобы узнать, что подойдет именно вам.</p>
            <h4>Преимущества технологии</h4>
            <p>Гибкий трубопровод &ndash; практичное и функциональное решение, характеристики которого зависят от
                используемого для изготовления материала. Использование фторопластового полимера обеспечивает ряд
                эксплуатационных преимуществ:</p>
            <ul>
                <li>внутренняя часть трубопровода полностью защищена от коррозии;</li>
                <li>гибкость и малый вес позволяют легко перевозить элементы трубопровода и осуществлять монтаж даже в
                    труднодоступных местах;</li>
                <li>фторопластовый рукав устойчив к сотрясениям, гидроударам, вибрации, другим внешним и внутренним
                    воздействиям;</li>
                <li>низкий коэффициент трения при эксплуатации обеспечивает долгий срок службы трубопровода;</li>
                <li>экономичность &ndash; сами PTFE-рукава и работы по монтажу коммуникаций дешевле материалов и работ
                    по прокладке жесткого трубопровода для таких рабочих сред;</li>
                <li>легкость прокладки трубопровода, ремонта и обслуживания;</li>
                <li>универсальность &ndash; их можно применять при прокладке долговременных транспортных систем, так и
                    для байпасных линий.</li>
            </ul>
            <p>Такие качества делают фторопластовые рукава высокого давления популярной технологией для транспортировки
                жидких, газообразных и сыпучих сред.</p>
            <h4>Применение</h4>
            <p>Фторопластовые коммуникации являются очень прочными, хорошо сопротивляются агрессивному воздействию, а
                также обладают повышенными гигиеническими характеристиками. Это позволяет использовать их в разных
                сферах:</p>
            <ul>
                <li>в химической промышленности для транспортировки агрессивных сред;</li>
                <li>в машиностроении и приборостроении;</li>
                <li>в смазочных и топливных системах, а также в гидросистемах;</li>
                <li>в деревообработке и целлюлозном производстве;</li>
                <li>в медицине и пищевой промышленности.</li>
            </ul>
            <p>В {{ company_name }} вы можете купить фторопластовые рукава высокого давления
                по цене от производителя. Мы испытываем каждое изделие из партии из партии и гарантируем качество
                поставляемых товаров. На нашем сайте вы можете ознакомиться с каталогом, а также прочесть инструкции по
                установке гибких систем и правила техники безопасности.
            </p>

            {% elif city_location == 'Казань' %}

            <p>Наряду с металлорукавами очень востребованным и эффективным решением для транспортировки в
                производственных условиях являются фторопластовые рукава. Купить их в Казани можно в
                {{ company_name_short }}. Вы можете заказать партию любого масштаба напрямую у завода-изготовителя и
                воспользоваться нашей услугой надежной и выгодной доставки.</p>
            <h4>Особенности рукавов PTFE</h4>
            <p>Эти изделия используются для перекачки среды между технологическими емкостями. Фторопласт обладает
                особыми физико-химическими свойствами, позволяющими транспортировать кислоты, щелочи в различных
                агрегатных состояниях. При этом, внутренняя оболочка остается физически незагрязненной, так как материал
                обладает минимальным коэффициентом трения, близким к нулю, а также очень низкими адгезионными
                свойствами, практически исключающими молекулярное сцепление вещества с внутренней оболочкой
                трубопровода.</p>
            <p>Фторопласт (PTFE) также без каких-либо физико-химических последствий может контактировать с веществом при
                широком диапазоне температур (от -190&deg;C до +260&deg;C). Он может выдерживать также условия высокого
                давления и интенсивные вибронагрузки.</p>
            <p>В некоторых отраслях промышленности (химической, машиностроительной, нефтегазовой и т.д.) часто
                используются именно такие, агрессивные рабочие среды. В таких случаях использование фторопластовых
                рукавов высокого давления &ndash; лучшее решение.</p>
            <h4>Контроль качества на производстве в {{ company_name_short }}</h4>
            <p>Мы гордимся службой контроля качества нашей компании. Проверке подвергаются не случайно выбранные
                изделия, а каждый товар из партии. Фторопластовые рукава исследуются на герметичность и прочность.</p>
            <ul>
                <li>Свойства герметичности проверяются текстами прокачки воздуха в водной среде.</li>
                <li>Контроль прочности осуществляется при помощи гидравлического оборудования.</li>
            </ul>
            <p>После проведения всех испытаний изделия прочищаются, обезжириваются, высушиваются пневматическим путем.
            </p>
            <p>Ответственный этап контроля качества выполняется на сертифицированном оборудовании, с оформлением
                соответствующей документации. По договоренности с заказчиком, мы можем предоставить фото- и
                видеосвидетельства испытания.
            </p>

            {% elif city_location == 'Омск' %}

            <p>В компании {{ company_name_short }} вы можете купить фторопластовые рукава высокого давления в Омске. Мы
                предлагаем вам выгодные условия для заказа крупных партий, цену от производителя, гарантии качества и
                надежную доставку.</p>
            <p>Рукава PTFE служат для герметичного транспортирования газообразной или жидкой агрессивной среды в
                замкнутой технологической системе при различных температурах, высоком давлении, агрессивных свойствах
                перекачиваемого вещества.</p>
            <h4>Конструкция гибкого трубопровода</h4>
            <p>К устройству фторопластового рукава предъявляются жесткие требования к прочности и герметичности
                внутренних соединений, а также герметичности и прочности соединительных элементов концевой арматуры.</p>
            <p>Концевая арматура служит надежному соединению внутренних пространств, по которым происходит направленное
                перетекание технологической среды в замкнутом пространстве. Конструкция концевой арматуры может быть
                резьбовой, фланцевой, быстросъемной, сварной.</p>
            <p>Основой высокой внутренней прочности является форма полимерной трубки (плоская тонкостенная или плоская
                толстостенная, гофрированная тонкостенная или гофрированная толстостенная). Все перечисленные формы
                ориентированы на высокоагрессивные свойства транспортируемой среды.</p>
            <p>Для высоких давлений предусмотрено создание сетчатой или винтовой проволочной оплётки, препятствующей
                пульсации рабочей среды. Для создания оплетки используется легированная высокопрочная нержавеющая сталь.
                Возможны вариации конструирования оплётки. По количеству слоев оплетка может быть однослойной,
                двухслойной, трехслойной.</p>
            <p>В компании {{ company_name_short }} работает своя служба технического контроля, осуществляющая проверку
                всех выпускаемых изделий, а не выборочных товаров из партии. Благодаря этому мы на 100% уверены в
                качестве всех изделий, которые мы вам предлагаем.
            </p>

            {% elif city_location == 'Нижний Новгород' %}

            <p>Транспортировка различных рабочих сред &ndash; задача, которая часто возникает в различных промышленных и
                производственных процессов. Это могут быть различные марки топлива, рабочие жидкости, растворители для
                эмалей и красок и другие технологические жидкости, газовоздушные смеси, сыпучие вещества. Все или почти
                все перечисленные вещества обладают достаточно агрессивными свойствами. Это требует достаточно надежного
                и технологичного оборудования для устройства трубопроводов и защиты работников от вредного и опасного
                воздействия. В {{ company_name_short }} вы можете купить фторопластовые рукава в Нижнем Новгороде. Это
                технологичное решение, специально разработанное для прокачки агрессивных сред.</p>
            <h4>Какие вещества можно транспортировать?</h4>
            <p>Это могут быть жидкости с кислотными или щелочными свойствами. Для работы доступен широкий диапазон
                температур: от минус 60 до плюс 260 градусов Цельсия. Также гибкие фторопластовые трубопроводы могут
                выдержать достаточно высокое давление: до 500 атмосфер, при сопровождении вибрационных колебаний.</p>
            <ul>
                <li>К известным транспортируемым технологическим жидкостям можно отнести топливо РТ, имеющее стабильные
                    свойства. Оно может храниться до 10 лет и обеспечивает полный ресурс работы двигателя. Используется
                    для работы авиационных двигателей широкого назначения. Для улучшения физических свойств в него
                    вводят противоизносные и антиокислительные присадки. Топливо РТ имеет хорошую испаряемость,
                    соответствующую обеспечению полноты сгорания топлива; высокую теплоту сгорания топлива; низкую
                    склонность к образованию отложений.</li>
                <li>Еще одна среда, для прокачки которой часто используются фторопластовые рукава высокого давления
                    &ndash; Гидравлическое масло, предназначенное для использования в средненапряженных гидравлических
                    системах машин широкого назначения.</li>
                <li>Рукава PTFE отлично подходят для работы с авиационными бензинами, которые применяются в поршневых
                    авиационных двигателях, работающих по принципу принудительного впрыска топлива.</li>
            </ul>
            <p>Фторопластовые рукава имеют широкие возможности для применения в машиностроительном производстве.</p>
            <p>Обратитесь к нам по номеру <a href="88005555756">8 (800) 5555-756</a> или оставьте заявку на сайте, чтобы
                сделать заказ.</p>

            {% else %}

            <p>На рынке машиностроительного производства России и стран СНГ {{ company_name_short }} известно с 2008 года.
                У нас вы можете купить фторопластовые рукава в Санкт-Петербурге по цене от производителя, получить
                надежную и выгодную доставку, гарантии качества и привлекательные условия сотрудничества для заказов
                любого масштаба. Кроме того, мы можем изготавливать детали по вашим чертежам.</p>
            <p>Изготовление деталей по специальным проектно-конструкторским документам позволит быстрее скомплектовать
                изделие в целом, по сравнению с приобретением готовой номенклатуры у изготовителя. Взаимодействие
                заказчика с инженерными специалистами {{ company_name_short }} происходит более результативно, как показывает практика.
                Работы выполняются на станках токарного парка, настроенных на определенный вид работ, связанный с
                изготовлением деталей специального заказа.</p>
            <p>Все вновь изготовленные детали проходят выходные испытания на герметичность и прочность.</p>
            <h4>Преимущества гибких трубопроводов</h4>
            <ul>
                <li>Химическая стойкость &ndash; рукава PTFE могут выдерживать агрессивные среды, включая кислоты,
                    щелочи, растворители и топливо. Это делает их прекрасным выбором для транспортировки или перемещения
                    жидкостей и газов в сильно коррозионной среде.</li>
                <li>Температурная стойкость &ndash; изделия могут выдерживать очень высокие и низкие температуры, что
                    позволяет использовать их в широком диапазоне температурных условий.</li>
                <li>Возможность использования при давлении рабочей среды до 500 атмосфер.</li>
                <li>Устойчивость к вибронагрузкам и гидроударам.</li>
                <li>Очень низкий уровень адгезии внутренней оболочки, сводящий к минимуму механическое воздействие на
                    трубку.</li>
                <li>Гибкость &ndash; детали очень гибкие и пластичные, что делает их удобными для использования в
                    сложных рабочих условиях.</li>
                <li>Изоляция &ndash; полимерные материалы обладают отличными изоляционными свойствами, что делает
                    фторопластовые рукава идеальным выбором для использования в электрических цепях.</li>
                <li>Долговечность: фторопластовые рукава могут использоваться в течение длительного времени без
                    значительной деградации или разрушения, что позволяет значительно снизить затраты на обслуживание и
                    замену.</li>
            </ul>
            <p>Все изделия, включенные в спецпроект заказчика, проходят стопроцентные испытания штатной службой
                технического контроля. Обратитесь к нам, чтобы получить качественные и надежные детали!</p>

            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4 col-3 py-5">
            <div class="horizontal-line-uzm my-4"></div>
        </div>
        <div class="text-center col-xl-4 col-6 py-5">
            <p class="fs-3 fw-bold">Смотрите также</p>
        </div>
        <div class="col-xl-4 col-3 py-5">
            <div class="horizontal-line-uzm my-4"></div>
        </div>
    </div>
    <div class="row text-center justify-content-center">
        <div class="col-xl-3 col-md-4 p-2 m-1 uzm-button-link">
            <a class="fw-bold" href="{% url 'ptfe-braids' %}">{% trans 'PTFE Metal hoses' %} в оплётке</a>
        </div>
        <div class="col-xl-3 col-md-4 p-2 m-1 uzm-button-link">
            <a class="fw-bold" href="{% url 'ptfe-gofrirovanniy' %}">Гофрированные {% trans 'PTFE Metal hoses' %}</a>
        </div>
        <div class="col-xl-3 col-md-4 p-2 m-1 uzm-button-link">
            <a class="fw-bold" href="{% url 'gibkie-truboprovody' %}">Гибкие трубопроводы</a>
        </div>
    </div>
</div>
{% endblock content %}