{% extends 'rzmr/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-uzm">
            <h4 class="py-2">{{ title }}</h4>
            <p>
                Плоская стандартное исполнение - выполнена из тонкостенной фторопластовой трубки, обладает средней
                гибкостью и рассчитана на рабочее давление до 190 кгс/см<sup>2</sup> в зависимости от внутреннего диаметра.
                Подходит под большую часть требований Заказчика.
                Плоская толстостенная - увеличенная толщина стенки позволяет выдерживать большее рабочее давление,
                однако сам рукав становится менее гибким.
            </p>
            <p>
                Гофрированная стандартное исполнение - данное исполнение позволяет существенно увеличить гибкость
                рукавов, но при этом рукав выдерживаем меньшее рабочее давление.
            </p>
            <p>
                Гофрированная толстостенная - увеличенная гибкость и повышенное рабочее давление.
            </p>
            <p>
                Тяжелая серия - предназначен для эксплуатации фторопластовых рукавов на особо ответственных
                производственных участках. Максимальное рабочее давление, минимальная гибкость.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="{% url 'ptfe-pipes' %}">
                <p class="wrapper-up-uzm-card fs-5">
                    Трубка
                </p>
                <p class="uzm-text-card">
                    герметичная оболочка с кольцевыми гофрами, расположенными параллельно. Изготавливается методом
                    гидроформовки из трубных заготовок, сваренных аргонодуговой сваркой встык по длине трубы.
                </p>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-pipe' 'ploskaya_standartnoe_ispolnenie' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Плоская тонкостенная <br>Cтандартное исполнение <br>Ø6 - Ø100 </div>
                </div>
                <img src="{% static '/rzmr/img/marked_плоская тонкостенная стандарт.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-pipe' 'ploskaya_tolstostennaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Плоская толстостенная <br>Повышенное рабочее давление <br>Ø6 - Ø100</div>
                </div>
                <img src="{% static '/rzmr/img/marked_плоская толстостенная.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-pipe' 'gofrirovannaya_standartnoe_ispolnenie' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Гофрированная тонкостенная <br>Повышенная гибкость <br>Ø8 - Ø150 </div>
                </div>
                <img src="{% static '/rzmr/img/marked_гофрированная тонкостенная.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-pipe' 'gofrirovannaya_tolstostennaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Гофрированная толстостенная <br>Повышенная гибкость и рабочее давление <br>Ø8 - Ø150 </div>
                </div>
                <img src="{% static '/rzmr/img/marked_гофрированная толстостенная.png' %}" alt="gofra">
            </a>
        </div>
    </div>
</div>
{% endblock content %}