{% extends 'rzmr/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-uzm">
            <p>
                Фторопластовые рукава (рукава PTFE) – это отличное решение, сочетающее в себе технологические
                преимущества жестких трубопроводов и гибких транспортных систем. Они обладают повышенным сопротивлением
                вибрационным нагрузкам, термостойкостью и устойчивостью к воздействию агрессивных химических сред. Такие
                рукава могут использоваться в условиях повышенного давления – до 500 атм. Хорошие технические
                характеристики изделий обусловлены не только свойствами материала, но и конструктивными решениями,
                лежащими в основе гибких трубопроводных систем.
            </p>
        </div>
    </div>
</div>

{% endblock content %}