{% extends 'rzmr/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-uzm">
            <h4 class="py-2">{{ title }} {% if city %} в {{ city_pre }} {% endif %} от производителя {{ company_name_short }}</h4>
            <p>
                {% trans 'Corrugated' %} PTFE рукава являются важным элементом в различных сферах промышленности и
                строительства.
                Эти гибкие и прочные металлические трубопроводы обладают широким спектром применения и используются для
                различных транспортировочных задач, а также защиты кабелей от воздействия внешних факторов. Эти изделия
                обладают множеством положительных конструктивных и функциональных характеристик, которые делают их
                востребованными в различных сферах промышленности: от авиастроительства до пищевого производства.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="{% url 'ptfe-pipes' %}">
                <p class="wrapper-up-uzm-card fs-5">
                    Трубка
                </p>
                <p class="uzm-text-card">
                    герметичная оболочка с кольцевыми гофрами, расположенными параллельно. Изготавливается методом
                    гидроформовки из трубных заготовок, сваренных аргонодуговой сваркой встык по длине трубы.
                </p>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-pipe' 'ploskaya_standartnoe_ispolnenie' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Плоская тонкостенная <br>Cтандартное исполнение <br>Ø6 - Ø100 </div>
                </div>
                <img src="{% static '/rzmr/img/marked_плоская тонкостенная стандарт.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-pipe' 'ploskaya_tolstostennaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Плоская толстостенная <br>Повышенное рабочее давление <br>Ø6 - Ø100</div>
                </div>
                <img src="{% static '/rzmr/img/marked_плоская толстостенная.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-pipe' 'gofrirovannaya_standartnoe_ispolnenie' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Гофрированная тонкостенная <br>Повышенная гибкость <br>Ø8 - Ø150 </div>
                </div>
                <img src="{% static '/rzmr/img/marked_гофрированная тонкостенная.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-pipe' 'gofrirovannaya_tolstostennaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Гофрированная толстостенная <br>Повышенная гибкость и рабочее давление <br>Ø8 - Ø150 </div>
                </div>
                <img src="{% static '/rzmr/img/marked_гофрированная толстостенная.png' %}" alt="gofra">
            </a>
        </div>
    </div>
    <div class="row pb-5">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="{% url 'ptfe-liners' %}">
                <p class="wrapper-up-uzm-card fs-5">
                    Футеровка PTFE
                </p>
                <p class="uzm-text-card">
                    развальцовка гибкой части фторопластового рукава на концевую арматуру.
                </p>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-liner' 'ploskoy_trubki_na_flanets' %}">
                <div class="wrapper-up-uzm-card">
                    <div>PTFE футеровка плоской трубки на фланец </div>
                </div>
                <img src="{% static '/rzmr/img/marked_PTFE футеровка плоская.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-liner' 'gofrirovannoy_trubki_na_flanets' %}">
                <div class="wrapper-up-uzm-card">
                    <div>PTFE футеровка гофрированной трубки на фланец </div>
                </div>
                <img src="{% static '/rzmr/img/marked_PTFE футеровка гофрированная.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-liner' 'ploskoy_trubki_na_nippel_gayki' %}">
                <div class="wrapper-up-uzm-card">
                    <div>PTFE футеровка плоской трубки на ниппель гайки </div>
                </div>
                <img src="{% static '/rzmr/img/marked_PTFE футеровка с гайкой.png' %}" alt="gofra">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="{% url 'ptfe-inners' %}">
                <p class="wrapper-up-uzm-card fs-5">
                    Внутренний экран
                </p>
                <p class="uzm-text-card">
                    защитный элемент рукава, помещенный внутрь гибкой части позволяющий исключить/сократить контакт
                    фторопласта со средой, либо за счет своего наличия продлить срок службы изделия.
                </p>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-inner' 'antistaticheskaya_prisadka_ploskaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Антистатическая присадка плоская </div>
                </div>
                <img src="{% static '/rzmr/img/marked_внутренний экран антистатический_плоский.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-inner' 'antistaticheskaya_prisadka_gofrirovannaya' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Антистатическая присадка гофрированная</div>
                </div>
                <img src="{% static '/rzmr/img/marked_внутренний экран антистатический_гофрированный.png' %}"
                    alt="gofra">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="{% url 'ptfe-outsides' %}">
                <p class="wrapper-up-uzm-card fs-5">
                    Наружная оболочка
                </p>
                <p class="uzm-text-card">
                    часть рукава в которую заключается гибкая часть для предотвращения различных воздействий
                    (температурных, механических и т.д.). Выбирается исходя из предполагаемых условий эксплуатации
                    изделия.
                </p>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-outside' 'termochekhol' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Термочехол</div>
                </div>
                <img src="{% static '/rzmr/img/marked_пироэкран_фторопласт.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-outside' 'rezinovaya_obolochka' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Резиновая оболочка</div>
                </div>
                <img src="{% static '/rzmr/img/marked_резиновая оболочка_фторопласт.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-outside' 'pruzhina' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Пружина</div>
                </div>
                <img src="{% static '/rzmr/img/marked_пружина_фторопласт.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-outside' 'ploskaya_trubka_v_metallorukave_v_opletke' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Плоская трубка в металлорукаве в оплетке</div>
                </div>
                <img src="{% static '/rzmr/img/marked_плоская трубка в металлорукаве.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-outside' 'gofrirovannaya_trubka_v_metallorukave_v_opletke' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Гофрированная трубка в металлорукаве в оплетке</div>
                </div>
                <img src="{% static '/rzmr/img/marked_гофрированная трубка в металлорукаве.png' %}" alt="gofra">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-uzm">
            <h5 class="py-5">Основные рабочие характеристики фторопластовых рукавов:</h5>
            <table class="uzm-table">
                <tbody>
                    <tr>
                        <td class="p-1"><img src="{% static '/rzmr/img/Icon5.jpg' %}"></td>
                        <td>Условный внутренний диаметр Dy</td>
                        <td>6-100 мм</td>
                    </tr>
                    <tr>
                        <td class="p-1"><img src="{% static '/rzmr/img/Icon6.jpg' %}"></td>
                        <td>Рабочее давление Рраб</td>
                        <td>6-150 бар</td>
                    </tr>

                    <tr>
                        <td class="p-1"><img src="{% static '/rzmr/img/Icon7.jpg' %}"></td>
                        <td>Рабочая среда</td>
                        <td>Кислоты, щелочные среды, воздух, азот, гелий, кислород, водород</td>
                    </tr>
                    <tr>
                        <td class="p-1"><img src="{% static '/rzmr/img/Icon8.jpg' %}"></td>
                        <td>Температура рабочей среды</td>
                        <td>от -40 до +165°C</td>
                    </tr>
                    <tr>
                        <td class="p-1"><img src="{% static '/rzmr/img/Union.jpg' %}"></td>
                        <td>Радиус изгиба</td>
                        <td>в среднем 3 Ду</td>
                    </tr>
                </tbody>
            </table>
            <h4 class="py-4">Свойства гибких трубопроводов</h4>
            <ul>
                <li>
                    Гибкость – гофра делает рукав быть очень гибким и деформироваться без повреждений. Это позволяет
                    легко укладывать рукав по сложным контурам и изгибам.
                </li>
                <li>
                    Устойчивость к механическим повреждениям – изделия обеспечивают безопасность транспортных
                    коммуникаций и надежно защищают их от различных повреждений, таких как удары, изгибы, растяжение и
                    компрессия. Твердые материалы обеспечивают высокую прочность, а гибкие – возможность амортизации.
                </li>
                <li>
                    Устойчивость к воздействию негативных факторов окружающей среды – гофрированные PTFE рукава обладают
                    хорошей устойчивостью к различным агрессивным окружающим средам, таким как влага, пыль, химические
                    вещества и коррозия. В качестве материала изготовления для наружных слоев используется нержавеющая
                    сталь, а внутренней оболочкой служит тефлоновый шланг, обеспечивающий химическую нейтральность
                    изделия.
                </li>
                <li>
                    Термическая защита – трубопроводы устойчивы к воздействию высоких и низких температур, снижают
                    потери тепла и предотвращают перегрев.
                </li>
                <li>
                    Простота монтажа и обслуживания – детали трубопровода легко собираются и устанавливаются, даже если
                    монтажные работы ведутся в труднодоступных условиях.
                </li>
            </ul>
            <h4 class="py-4">Разнообразные решения для ваших технических задач</h4>
            <p>
                Металлорукава доступны в разных диаметрах, толщинах стенок и типах металла, что позволяет выбрать
                подходящее решение для конкретных требований и условий эксплуатации. Кроме того, в нашей компании вы
                можете отдельно выбрать вид оплетки, сильфона, концевой арматуры, а также
                получить дополнительные решения, например, термочехол.
            </p>
            <p>
                Ищете гофрированные PTFE металлорукава? {{ company_name }} готов предложить вам надежные, эффективные и
                выгодные решения {% if city %} в {{ city_pre }} {% endif %}. 
                Собственные производственные мощности, контроль качества каждого товара и готовность
                работать с заказами любого масштаба – то, благодаря чему наша компания станет отличным партнером для
                вашего бизнеса. Чтобы связаться с нами, узнать больше о нашей продукции и сделать заказ, вы можете
                позвонить телефону или оставить заявку на сайте.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4 col-3 py-5">
            <div class="horizontal-line-uzm my-4"></div>
        </div>
        <div class="text-center col-xl-4 col-6 py-5">
            <p class="fs-3 fw-bold">Смотрите также</p>
        </div>
        <div class="col-xl-4 col-3 py-5">
            <div class="horizontal-line-uzm my-4"></div>
        </div>
    </div>
    <div class="row text-center justify-content-center">
        <div class="col-xl-3 col-md-4 p-2 m-1 uzm-button-link">
            <a class="fw-bold" href="{% url 'ptfe-hoses' %}">{% trans 'PTFE Metal hoses' %}</a>
        </div>
        <div class="col-xl-3 col-md-4 p-2 m-1 uzm-button-link">
            <a class="fw-bold" href="{% url 'ptfe-braids' %}">{% trans 'PTFE Metal hoses' %} в оплётке</a>
        </div>
        <div class="col-xl-3 col-md-4 p-2 m-1 uzm-button-link">
            <a class="fw-bold" href="{% url 'gibkie-truboprovody' %}">Гибкие трубопроводы</a>
        </div>
    </div>
</div>
{% endblock content %}