{% extends 'rzmr/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-uzm">
            <h4 class="py-2">{{ title }}</h4>
            <p>
                Термочехол - применяется для защиты рукава от воздействия высоких температур, до 1500 С°.
            </p>
            <p>
                Резиновая оболочка - позволяет защитить оплетку рукава от механических повреждений.
            </p>
            <p>
                Пружина - обеспечивает защиту гибкой части рукава от изломов. Как правило защищает место заделки
                концевой арматуры от перегибов, иногда устанавливается по всей длине фторопластового рукава.
            </p>
            <p>
                Металлорукав - при необходимости фторопластовая трубка (плоская или гофрированная) заключается в
                оболочку из металлорукава, это позволяет предохранить PTFE часть рукава от внешних механических
                воздействий и продлить срок службы изделия.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <p class="wrapper-up-uzm-card fs-5">
                Наружная оболочка
            </p>
            <p class="uzm-text-card">
                часть рукава в которую заключается гибкая часть для предотвращения различных воздействий
                (температурных, механических и т.д.). Выбирается исходя из предполагаемых условий эксплуатации
                изделия.
            </p>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-outside' 'termochekhol' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Термочехол</div>
                </div>
                <img src="{% static '/rzmr/img/marked_пироэкран_фторопласт.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-outside' 'rezinovaya_obolochka' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Резиновая оболочка</div>
                </div>
                <img src="{% static '/rzmr/img/marked_резиновая оболочка_фторопласт.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-outside' 'pruzhina' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Пружина</div>
                </div>
                <img src="{% static '/rzmr/img/marked_пружина_фторопласт.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-outside' 'ploskaya_trubka_v_metallorukave_v_opletke' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Плоская трубка в металлорукаве в оплетке</div>
                </div>
                <img src="{% static '/rzmr/img/marked_плоская трубка в металлорукаве.png' %}" alt="gofra">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <a href="{% url 'ptfe-outside' 'gofrirovannaya_trubka_v_metallorukave_v_opletke' %}">
                <div class="wrapper-up-uzm-card">
                    <div>Гофрированная трубка в металлорукаве в оплетке</div>
                </div>
                <img src="{% static '/rzmr/img/marked_гофрированная трубка в металлорукаве.png' %}" alt="gofra">
            </a>
        </div>
    </div>
</div>
{% endblock content %}