{% extends 'rzmr/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-uzm">
            <h4>{{ title }}</h4>
            <div class="horizontal-line-uzm"></div>
            <p class="pt-4">
                Продукция {{ company_name }} отвечает самым высоким стандартам в отрасли. Ключевым
                элементом поддержания надежности и долговечности производимых изделий является принятая система
                менеджмента качества ISO 9001-2015. Внедрение СМК {{ company_name_short }}, соответствующей требованиям
                международного
                стандарта ISO 9001:2015, является стратегическим решением, которое призвано улучшить результаты
                деятельности предприятия и обеспечить прочную основу для инициатив, ориентированных на выполнение
                требований Заказчика и неукоснительное поддержание высокой деловой репутации.
            </p>
            <p>
                Качество всех изделий, выпускаемых {{ company_name_short }}, подтверждено сертификатами соответствия
                ГОСТ Р. Весь
                перечень номенклатуры изготавливается в соответствии с техническими условиями, разработанными {{
                company_name_short }}
                и являющимися объектами интеллектуальной собственности. Металлические рукава серии РГМ соответствуют
                требованиям Технического регламента Таможенного союза ТР ТС 032/2013 «О безопасности оборудования,
                работающего под избыточным давлением».
            </p>
            <p>
                Одним из результатов постоянного поиска {{ company_name_short }} решений для улучшения качества продукции и продления
                срока службы изделий является патент на уникальную заделку концевой арматуры фторопластовых рукавов.
                Дополнительной гарантией надёжности выпускаемой продукции служит контроль 100% партии на герметичность и
                прочность перед сдачей Заказчику.
            </p>
        </div>
    </div>
</div>

{% endblock content %}