{% extends 'rzmr/quick-release-coupling_base.html' %}
{% load static %}

{% block quick-release-couplings-info %}

<p>
    <strong>Быстроразъемное соединение</strong> – это элемент соединения рукавов, различных частей промышленного
    оборудования, позволяющее произвести быстрое соединение. БРС часто используют там, где доступ к трубопроводам
    ограничен или затруднен.
</p>
<p>
    <strong>Камлоки</strong> - БРС (быстроразъемное соединение кулачкового типа) предназначенное для быстрой стыковки
    металлорукавов диаметром до 200мм. Соединение применяется практически во всех отраслях промышленности. Устройство
    кулачков муфты обеспечивает устойчивое к вибрации соединение с адаптером без использования дополнительного
    фиксирующего шплинта или других приспособлений. Рабочее давление камлоков составляет от 10 до 20 кгс/см2, в
    зависимости от внутреннего диаметра.
</p>
<p>
    <strong>Струбцина железнодорожная для слива СУГ</strong> (сжиженный углевородный газ) - предназначена для слива из
    сосуда и налива в сосуд сжиженных углеводородных газов для железнодорожных цистерн. Как правило изготавливается из
    углеродистой стали, искробезопасность обеспечивается омеднением. Различают несколько вариантов исполнения данной
    арматуры. Токарный парк {{ company_name_short }} позволяет изготовить именно тот вариант, который подходит под нужды
    заказчика.
</p>
<p>
    <strong>Арматура ПМТ</strong> - муфтовое соединение ПМТ-150 представление представляет собой обычное быстроразъемное
    соединение. На стык двух труб одевается резиновое кольцо ПМТ и соединения фиксируется металлической муфтой
    посредством закручивания двух болтов. Монтаж трубопроводов не требует затрат на сварку и высокой квалификации
    кадров.
</p>
<p>
    <strong>Гайки РОТ</strong> - самое популярное быстроразъемное соединение, применяемое в криогенной технике.
    Предназначена для герметичного соединения трубопроводов и металлорукавов для перекачки криогенных жидкостей:
    кислорода, азота, аргона, а Уплотнение соединения происходит за счет обжатия медного или алюминиевого кольца.
    Соединение многоразовое, сто циклов до замены уплотнительного кольца. При сборке-разборке применяется
    искробезопасный молоток. Гайка изготавливается методом точного литья из нержавеющей стали или латуни.
    Изготавливается методом точного литья из нержавеющей стали или латуни по ГОСТ 19334-73, в трех исполнениях.
</p>

{% endblock quick-release-couplings-info %}