{% extends 'rzmr/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-4 py-2">
            <img src="{% static 'rzmr/img/mashinostroenie-2.jpg' %}" width="380" alt="image">
        </div>
        <div class="col-12 col-md-8 text-uzm py-2">
            <h1 class="h4 text-title-uzm fw-bold pb-4">{{ title }}</h1>
            <p>Применение металлорукавов в машиностроении обусловлено уникальными свойствами материала и конструктивными
                особенностями, которые позволяют решать широкий спектр задач.
            </p>
            <h5 class="fw-bold">Преимущества</h5>
            <ul>
                <li>Устойчивость к воздействию температур – металлические рукава способны функционировать в
                    экстремальных температурных условиях, что делает их идеальными для применения в гидравлических и
                    пневматических системах.</li>
                <li>Высокая механическая прочность – они обеспечивают надежную защиту от внешних воздействий, таких как
                    механические нагрузки и абразивные среды. Это особенно важно в машиностроении, где оборудование
                    подвергается значительным стрессам.</li>
                <li>Степень гибкости – гибкость рукавов позволяет легко их устанавливать в ограниченных пространствах,
                    что существенно облегчает процесс монтажа и демонтажа.</li>
                <li>Химическая стойкость – изделия устойчивы к воздействию большинства химических веществ, что делает их
                    идеальными для использования в различных производственных процессах, от автомобильной до пищевой
                    промышленности.</li>
                <li>Долговечность и надежность – они обеспечивают длительный срок эксплуатации, что снижает затраты на
                    техническое обслуживание и замену компонентов.</li>
            </ul>
            <h5 class="fw-bold">Применение в различных сферах</h5>
            <ul>
                <li>Автомобильная промышленность – металлорукава используются для соединения различных систем, в которых
                    циркулирует жидкость или газ (масло, воздушно-топливная смесь, антифриз и т. д.). Их применение
                    способствует повышению безопасности и эффективности работы автомобилей.</li>
                <li>Энергетика – применяются для транспортировки газов и жидкостей под высоким давлением, что критически
                    важно для надежности работы энергетических установок.</li>
                <li>Промышленное оборудование – на заводах и в производственных цехах металлорукава служат для связи
                    насосов, компрессоров и установок фильтрации, обеспечивая необходимую подачу материалов для
                    технологических процессов.</li>
                <li>Судостроение – защищают внутренние структуры кораблей от коррозии и механических повреждений, что
                    увеличивает срок службы судна.</li>
            </ul>
            <p>
                Металлические рукава – это важное технологическое решение, часто применяющееся в машиностроении. Оно
                сочетает в себе множество положительных качеств, которые обеспечивают эффективную и безопасную работу
                различных систем. Их применение способствует оптимизации производственных процессов и повышению общей
                надежности оборудования.
            </p>
        </div>
    </div>
</div>
{% endblock content %}