{% extends 'rzmr/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-4 py-2">
            <img src="{% static 'rzmr/img/himiya-2.jpg' %}" width="380" alt="image">
        </div>
        <div class="col-12 col-md-8 text-uzm py-2">
            <h1 class="h4 text-title-uzm fw-bold pb-4">{{ title }}</h1>
            <p>
                Металлорукава активно используются в производственных процессах в самых разных отраслях, обеспечивая
                эффективную транспортировку технологических сред между различными агрегатами. Они играют ключевую роль в
                обеспечении безопасности и стабильности производственных процессов.
            </p>
            <h5 class="fw-bold py-1">Преимущества</h5>
            <p>
                Одним из наиболее эффективных вариантов являются рукава, выполненные из фторопласта (PTFE, тефлона).
                Этот высококачественный материал обладает уникальными свойствами. Он химически инертен и не
                взаимодействует с кислотами, щелочами и другими агрессивными веществами.
            </p>
            <p>
                Кроме того, гибкие трубопроводы работают в диапазоне от -60 до +260 градусов Цельсия, а также
                выдерживают давление от 1 до 400 атмосфер.
            </p>
            <h5 class="fw-bold py-1">Конструкция и особенности</h5>
            <p>
                Основу рукава составляет гибкая трубка, покрытая оплеткой из нержавеющей высоколегированной проволоки.
                Оплетка может быть выполнена в однослойном, двухслойном или трехслойном исполнении, что увеличивает
                механическую сопротивляемость изделия, позволяет лучше выдерживать внешние нагрузки и колебания
                состояния рабочей среды.
            </p>
            <h5 class="fw-bold py-1">Антиадгезионные свойства</h5>
            <p>
                Тефлон обладает низким коэффициентом трения, что минимизирует налипание остатков среды на стенках
                рукава. Это обеспечивает чистоту и эффективность работы.
            </p>
            <h5 class="fw-bold py-1">Использование</h5>
            <p>
                Металлические PTFE-рукава могут использоваться для транспортировки множества сред, включая:
            </p>
            <ul>
                <li>воздух и пар;</li>
                <li>кислород и азот;</li>
                <li>природный газ;</li>
                <li>разнообразные химикаты и растворители;</li>
                <li>пищевые вещества и фармацевтические жидкости.</li>
            </ul>
            <p>
                В различных процессах химической промышленности гибкие трубопроводы используются для транспортировки
                различных веществ., включая агрессивные и токсичные жидкости, благодаря своей устойчивости к коррозии и
                механическим воздействиям. Металлорукава используются для гибкого соединения трубопроводов, обеспечивая
                возможность движения или смещения оборудования, для заполнения реакторов и откачки готовой продукции с
                минимальными потерями. Это отличное технологическое решение, отвечающее всем требованиям к современному
                химическому производству.
            </p>
        </div>
    </div>
</div>
{% endblock content %}