{% extends 'rzmr/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-4 py-2">
            <img src="{% static 'rzmr/img/pischevaya-2.jpg' %}" width="380" alt="image">
        </div>
        <div class="col-12 col-md-8 text-uzm py-2">
            <h1 class="h4 text-title-uzm fw-bold pb-4">{{ title }}</h1>
            <p>
                Металлорукава, обладающие внутренней оболочкой из фторопласта (тефлона, PTFE), нашли широкое применение
                в производстве и транспортировке продуктов питания. Эти гибкие соединения предоставляют надежное решение
                для транспортировки различных сред, включая жидкости, газы и сыпучие материалы. Благодаря простым и
                эффективным конструкционным решениям, принятым при их разработке, а также свойствам материалов, из
                которых они изготавливаются, они являются практически универсальным решением не только для пищевой
                промышленности, но и для многих других производственных и транспортировочных процессов.
            </p>
            <h5 class="fw-bold py-1">Конструкция и компоненты</h5>
            <p>
                Основа конструкции фторопластового рукава — это гибкая трубка, покрытая слоями оплетки из нержавеющей
                стали. Количество слоев зависит от рабочих условий. Многослойная оплетка обеспечивает надежность и
                длительный срок эксплуатации, хотя для нужд пищевой промышленности это решение редко является
                актуальным. Для соединения рукавов с оборудованием устанавливаются стыковочные элементы, такие как
                резьбовые и фланцевые соединения, которые гарантируют герметичность при высоком внутреннем давлении.
            </p>
            <h5 class="fw-bold py-1">Особенности</h5>
            <p>
                Фторопласт обладает исключительной стойкостью к воздействию кислот и щелочей. Тефлон обеспечивает
                герметичность транспортного канала, также он нейтрален и не вступает в реакции с химическими веществами.
                Все это делает его соответствующим санитарно-гигиеническим нормам, поэтому металлорукава допускаются к
                использованию в работе не только с продуктами питания, но и с медикаментами.
            </p>
            <h5 class="fw-bold py-1">Применение в транспортировке</h5>
            <p>
                Эти рукава могут эффективно использоваться для перемещения масла, водно-масляных эмульсий, водяного пара
                и других жидкостей, применяемых в пищевой промышленности. Кроме того, они отлично подходят для
                транспортировки сыпучих сред: сахара, соли, муки, круп и т.д.
            </p>
            <h5 class="fw-bold py-1">Применение на производстве</h5>
            <p>
                Фторопластовые рукава применяются на предприятиях, занимающихся разливом соков, пива и других напитков.
                Они также используются для системы дезинфекции, что позволяет эффективно решать задачи по обеспечению
                чистоты. Эти соединения нашли применение на молочных заводах и пивоварнях, обеспечивая безопасность и
                надежность в процессе производства.
            </p>
        </div>
    </div>
</div>
{% endblock content %}