{% extends 'rzmr/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-4 py-2">
            <img src="{% static 'rzmr/img/gaz-2.jpg' %}" width="380" alt="image">
        </div>
        <div class="col-12 col-md-8 text-uzm py-2">
            <h1 class="h4 text-title-uzm fw-bold pb-4">{{ h1 }}</h1>
            <p>
                Транспортировочные системы из металлических рукавов являются важной технологией, которая используется в
                газовой промышленности. Популярным, надежным и эффективным решением трубопроводы из нержавеющей стали
                делает ряд ключевых преимуществ.
            </p>
            <ul>
                <li>Коррозионная стойкость – металлические рукава не подвержены коррозии, что гарантирует долговечность
                    и сохранение эксплуатационных характеристик.</li>
                <li>Устойчивость к вибрациям – они не теряют своих свойств при воздействии вибраций, что особенно важно
                    в условиях промышленного производства.</li>
                <li>Простота монтажа и эксплуатации – линии легко монтируются и требуют минимального технического
                    обслуживания.</li>
                <li>Высокая пропускная способность – тонкостенный сильфон создает широкий проходной диаметр, что
                    позволяет снабжать бытовые устройства мощностью до 60 кВт.</li>
            </ul>
            <h5 class="fw-bold py-1">Структура и технологии</h5>
            <p>
                Металлические рукава для нужд газовой отрасли обладают специальной защитой, выполненной из легированной
                оплетки или ПВХ, и окрашиваются в желтый цвет для обозначения их предназначения.
                В условиях высоких давлений важно применение оплетки сетчатого типа из нержавеющей проволоки, которая
                защищает конструктивные элементы от разрушающего воздействия. Это препятствует пульсациям давления во
                время перекачки газа.
            </p>
            <h5 class="fw-bold py-1">Области применения</h5>
            <p>
                Металлорукава применяются для соединения и гибкой подводки трубопроводов, транспортировки газа и других
                агрессивных сред. Они обеспечивают надежность, устойчивость к высокому давлению и температурным
                колебаниям, а также защищают от механических повреждений и внешних воздействий.
            </p>
        </div>
    </div>
</div>
{% endblock content %}