{% extends 'rzmr/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-4 py-2">
            <img src="{% static 'rzmr/img/neft-2.jpg' %}" width="380" alt="image">
        </div>
        <div class="col-12 col-md-8 text-uzm py-2">
            <h1 class="h4 text-title-uzm fw-bold pb-4">{{ title }}</h1>
            <p>
                Металлорукава играют ключевую роль в нефтепереработке, обеспечивая безопасное и эффективное
                транспортирование нефтепродуктов под высоким давлением. Они используются для транспортировки различных
                жидкостей и газов, включая масла, бензины, химические вещества и другие агрессивные среды. Также гибкие
                трубопроводы используются для множества разнообразных задач:
            </p>
            <ul>
                <li>соединения насосов, резервуаров и трубопроводов;</li>
                <li>в теплообменных системах;</li>
                <li>в системах фильтрации, подачи реагентов, аспирации и вентиляции;</li>
                <li>в обратных трубопроводах.</li>
            </ul>
            <p>
                Их конструкция и особенности делают их особенно востребованными в данной отрасли.
            </p>
            <h5 class="fw-bold py-1">Конструкция и преимущества</h5>
            <p>
                Металлические рукава могут обладать одной или несколькими наружными оплетками, выполненными из
                нержавеющей проволоки. Эти оплетки предохраняют внутренний элемент от чрезмерного растяжения и
                деформации, возникающих под действием высокой внутренней силы. Это свойство особенно актуально при
                температуре транспортируемых жидкостей, достигающей сотен градусов Цельсия.
            </p>
            <h5 class="fw-bold py-1">Защита от статического заряда</h5>
            <p>
                Одним из значительных плюсов использования гибких трубопроводов является предотвращение возникновения
                статического электричества, что крайне важно при работе с горючими веществами. При контакте молекул
                перекачиваемой жидкости со стенками сильфона, трение минимизируется, что также способствует
                безопасности.
            </p>
            <h5 class="fw-bold py-1">Дополнительные элементы конструкции</h5>
            <p>
                Металлические рукава могут быть дополнительно оснащены защитной пружиной, которая оберегает их от
                внешних механических повреждений. Это особенно актуально в условиях, когда рукава подвергаются ударам
                или трению. Кроме того, уплотнители, устойчивые к высоким температурам, также значительно увеличивают
                эксплуатационные характеристики этих изделий.
            </p>
            <h5 class="fw-bold py-1">Разнообразие видов и диаметров</h5>
            <p>
                Металлорукава изготавливаются в различных размерах: от 6 до 300 миллиметров, но также доступны и модели
                с другими параметрами (по индивидуальному заказу). Специально сконструированные варианты позволяют
                подогревать продукты, чувствительные к температурным изменениям, что минимизирует риск их затвердевания
                при понижении температуры.
            </p>
            <p>
                Металлорукава – это надежное решение для транспортировки нефтепродуктов в сложных условиях. Соответствие
                современным стандартам и сертификатам подтверждает высокое качество и безопасность этих изделий.
                Использование передовых технологий и материалов делает металлические рукава оптимальным выбором для
                нефтепереработки.
            </p>
        </div>
    </div>
</div>
{% endblock content %}