{% extends 'rzmr/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-4 py-2">
            <img src="{% static 'rzmr/img/aviacionnaya-2.jpg' %}" width="380" alt="image">
        </div>
        <div class="col-12 col-md-8 text-uzm py-2">
            <h1 class="h4 text-title-uzm fw-bold pb-4">{{ title }}</h1>
            <p>
                Металлорукава представляют собой важное средство в области авиационного производства и обслуживания. Они
                обеспечивают надежное соединение и гибкую передачу жидкостей и газов между компонентами воздушных судов.
                Рассмотрим несколько аспектов применения гибких трубопроводов в этой высокотехнологичной отрасли.
            </p>
            <h5 class="fw-bold">Преимущества металлических рукавов</h5>
            <ul>
                <li>Высокая прочность – транспортные каналы надежно защищены от механических повреждений и перегрузок
                </li>
                <li>Температурная устойчивость – способны функционировать в условиях экстремальных температур</li>
                <li>Коррозийная стойкость и химическая нейтральность – изготовлены из материалов, устойчивых к
                    агрессивным химическим веществам</li>
                <li>Гибкость – позволяют осуществлять соединения в ограниченном пространстве и при сложной конфигурации
                </li>
            </ul>
            <h5 class="fw-bold">Области применения</h5>
            <ul>
                <li>Системы топливоснабжения – подача топлива от бака к двигателю</li>
                <li>Гидравлические – используются для передачи рабочей жидкости, поддерживающей функционирование узлов и
                    механизмов</li>
                <li>Системы охлаждения – позволяют эффективно отводить тепло от критически важных компонентов</li>
                <li>Пневматические системы – применяются для передачи сжатого воздуха</li>
            </ul>
            <p>
                Металлорукава играют ключевую роль в обеспечении надежности и безопасности авиационной техники. Их
                использование позволяет повысить эффективность работы различных механизмов и агрегатов, что несомненно
                способствует улучшению общего уровня безопасности и производительности воздушного транспорта.
            </p>
        </div>
    </div>
</div>
{% endblock content %}