{% extends 'rzmr/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-uzm">
            <h1 class="h3 fw-bold">{{ title }}</h1>
            <div class="horizontal-line-uzm"></div>
            <h5 class="py-4">
                Кадровая политика
            </h5>
            <p>
                {{ company_name }} использует лучшие российские и международные практики в сфере
                привлечения, мотивации и развития сотрудников, которые позволяют раскрыть потенциал каждого сотрудника.
            </p>
            <p>
                Компенсационный пакет, состоящий из базовой заработной платы, системы дополнительного поощрения,
                позволяют по достоинству оценить вклад каждого профессионала.
            </p>
            <p>
                В свою очередь, Предприятие ценит стремление сотрудников к достижению результата, готовность работать в
                команде, брать на себя ответственность, - именно эти качества помогают сотрудникам решать амбициозные
                задачи в условиях быстро меняющейся среды.
            </p>
            <p>
                Мы готовы рассмотреть на открытые позиции профессионалов, имеющих успешный опыт работы в крупных
                российских предприятиях, а также кандидатов, которые получили диплом одного из ВУЗов и только начинают
                свою карьеру.
            </p>
            <p>
                Если Вы отправили резюме и не получили никакого ответа:
            </p>
            <p>
                В соответствии с внутренними положениями Предприятия полученные резюме рассматриваются в течение 2
                недель. Даже если по истечении этого времени Вы не получили никакого ответа, это не означает, что ваше
                резюме осталось без внимания. Вероятнее всего, что на данный момент вакансия, интересующая вас,
                отсутствует или закрыта. Тем не менее, ваше резюме сохраняется в базе данных кандидатов, которая
                регулярно просматривается. Как только позиция, соответствующая вашему профессиональному опыту появится,
                вам обязательно позвонят.
            </p>
            <p>
                Сколько хранятся резюме в базе данных:
            </p>
            <p>
                Полученное резюме вносится в базу данных и к нему обращаются в течение года при появлении новых
                вакансий. По прошествии года после подачи резюме рекомендуется прислать обновленную версию.
            </p>
            <p>
                В данный момент мы не рассматриваем кандидатов, но все может измениться.
            </p>
        </div>
    </div>
</div>

{% endblock content %}