{% extends 'rzmr/base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'rzmr/css/workspace_filters.css' %}">
<div class="container">
    <div class="row">
        <div class="col text-uzm">
            <h1 class="h3 fw-bold">{{ title }}</h1>
            <div class="horizontal-line-uzm"></div>
            <h5 class="pt-4">Топливо РТ</h5>
            <p>
                Топливо РТ полностью соответствует международным нормам, превосходя их по отдельным показателям. Оно
                имеет хорошие противоизносные свойства, высокую химическую и термоокислительную стабильность, низкое
                содержание серы и почти полное отсутствие меркаптанов. Топливо может храниться до 10 лет и полностью
                обеспечивает ресурс работы двигателя. Используется как на пассажирских лайнерах, так и на военных
                сверхзвуковых самолётах (Су-27, Ту-22М и др.)
            </p>
            <p>
                Топливо для реактивных двигателей марки РТ предназначено для использования в летательных аппаратах
                дозвуковой и сверхзвуковой авиации.
            </p>
            <p>
                Получают его гидроочисткой прямогонных керосиновых фракций с пределами выкипания 135—280 °C. В
                результате гидроочистки снижается содержание серы и меркаптанов, но также ухудшаются противоизносные
                свойства и химическая стабильность. Для предотвращения этого в топливо вводят противоизносные и
                антиокислительные присадки.
            </p>
            <p>Основные эксплуатационные характеристики РТ:</p>
            <ul>
                <li>хорошая испаряемость для обеспечения полноты сгорания; </li>
                <li>высокие полнота и теплота сгорания для обеспечения дальности полета; </li>
                <li>хорошие прокачиваемость и низкотемпературные свойства для подачи в камеру сгорания; </li>
                <li>низкое содержание общей и меркаптановой серы; </li>
                <li>низкая склонность к образованию отложений; </li>
                <li>хорошая совместимость с материалами, противоизносные и антистатические свойства. </li>
            </ul>
            <h5>Топливо ТС-1</h5>
            <p>
                Получают прямой перегонкой сернистой нефти (целевая фракция — 150—250 °C). В случае высокого содержания
                серы и меркаптанов проводят гидроочистку или демеркаптанизацию, после чего используют в смеси с
                прямогонной фракцией. Содержание гидроочищенного компонента ограничивают концентрацией 70% для
                предотвращения снижения противоизносных свойств топлива. Наиболее распространённый вид авиакеросина для
                дозвуковой авиации. Используется как в военной, так и в гражданской технике. Также применяется для
                обогащения методом флотации.
            </p>
            <p>Основные эксплуатационные характеристики ТС-1: </p>
            <ul>
                <li>хорошая испаряемость для обеспечения полноты сгорания; </li>
                <li>высокие полнота и теплота сгорания для обеспечения дальности полета; </li>
                <li>хорошие прокачиваемость и низкотемпературные свойства для подачи в камеру сгорания; </li>
                <li>низкая склонность к образованию отложений; </li>
                <li>хорошие совместимость с материалами, высокие противоизносные и антистатические свойства. </li>
            </ul>
            <h5>Топливо Т-1</h5>
            <p>
                Продукт прямой перегонки малосернистой нефти нафтенового основания с пределами выкипания 130-280С.
                Содержит большое количество нафтеновых кислот и имеет высокую кислотность, поэтому его подвергают
                защелачиванию с последующей водной промывкой (для удаления образующихся в результате защелачивания
                натриевого мыла нафтеновых кислот).
            </p>
            <p>
                Наличие значительного количества гетероатомных соединений, в основном кислородсодержащих, обусловливает,
                с одной стороны, относительно хорошие противоизносные свойства и достаточно приемлемую химическую
                стабильность топлива, с другой — низкую термоокислительную стабильность.
            </p>
            <h5>Т-2</h5>
            <p>
                Продукт перегонки нефти широкого фракционного состава — 60-280 °C. содержит до 40 % бензиновых фракций,
                что приводит к высокому давлению насыщенных паров, низкой вязкости и плотности. Повышенное давление
                насыщенных паров обуславливает вероятность образования паровых пробок в топливной системе самолета, что
                ограничивает высоту его полёта.
            </p>
            <p>
                Топливо не производится; является резервным по отношению к ТС-1 и РТ.
            </p>
            <h5>Топливо Т-1С</h5>
            <p>
                Продукт перегонки малосернистой нефти нафтенового основания с пределами выкипания 130—280 °C. содержит
                большое количество нафтеновых кислот, из-за чего имеет высокую кислотность, поэтому после выделения
                фракции из нефти её подвергают защелачиванию с последующей водной промывкой. Гетероатомные нафтеновые
                соединения, содержащиеся в топливе, обеспечивают хорошие противоизносные свойства и химическую
                стабильность, с другой стороны, топливо имеет очень низкую термоокислительную стабильность.
            </p>
            <table id="TABLE_1">
                <tbody id="TBODY_2">
                    <tr id="TR_3">
                        <td rowspan="3" id="TD_4">
                            Наименование показателя
                        </td>
                        <td colspan="6" id="TD_6">
                            Норма для марки
                        </td>
                        <td rowspan="3" id="TD_8">
                            Метод испытаний
                        </td>
                    </tr>
                    <tr id="TR_10">
                        <td colspan="2" id="TD_11">
                            ТС-1
                        </td>
                        <td id="TD_13">
                            Т-1С
                        </td>
                        <td id="TD_15">
                            Т-1
                        </td>
                        <td id="TD_17">
                            Т-2
                        </td>
                        <td id="TD_19">
                            РТ
                        </td>
                    </tr>
                    <tr id="TR_21">
                        <td id="TD_22">
                            высший<br id="BR_24" /> сорт<br id="BR_25" /> ОКП 02<br id="BR_26" /> 5123
                        </td>
                        <td id="TD_27">
                            первый<br id="BR_29" /> сорт<br id="BR_30" /> ОКП 02<br id="BR_31" /> 5123
                        </td>
                        <td id="TD_32">
                            высший<br id="BR_34" /> сорт<br id="BR_35" /> ОКП 02<br id="BR_36" /> 5121
                        </td>
                        <td id="TD_37">
                            первый<br id="BR_39" /> сорт<br id="BR_40" /> ОКП 02<br id="BR_41" /> 5121
                        </td>
                        <td id="TD_42">
                            первый<br id="BR_44" /> сорт<br id="BR_45" /> ОКП 02<br id="BR_46" /> 5121
                        </td>
                        <td id="TD_47">
                            высший<br id="BR_49" /> сорт<br id="BR_50" /> ОКП 02<br id="BR_51" /> 5123
                        </td>
                    </tr>
                    <tr id="TR_52">
                        <td id="TD_53">
                            1. Плотность при 20 °С, кг/м<sup id="SUP_55">3</sup>, не менее
                        </td>
                        <td id="TD_56">
                            780
                        </td>
                        <td id="TD_58">
                            775
                        </td>
                        <td id="TD_60">
                            810
                        </td>
                        <td id="TD_62">
                            800
                        </td>
                        <td id="TD_64">
                            755
                        </td>
                        <td id="TD_66">
                            775
                        </td>
                        <td id="TD_68">
                            По ГОСТ 3900-85
                        </td>
                    </tr>
                    <tr id="TR_70">
                        <td id="TD_71">
                            2. Фракционный состав:
                        </td>
                        <td id="TD_73">
                        </td>
                        <td id="TD_75">
                        </td>
                        <td id="TD_77">
                        </td>
                        <td id="TD_79">
                        </td>
                        <td id="TD_81">
                        </td>
                        <td id="TD_83">
                        </td>
                        <td id="TD_85">
                            По ГОСТ Р ЕН ИСО 3405-2007 или ГОСТ 2177-99
                        </td>
                    </tr>
                    <tr id="TR_87">
                        <td id="TD_88">
                            а) температура начала перегонки, °С:
                        </td>
                        <td id="TD_90">
                        </td>
                        <td id="TD_92">
                        </td>
                        <td id="TD_94">
                        </td>
                        <td id="TD_96">
                        </td>
                        <td id="TD_98">
                        </td>
                        <td id="TD_100">
                        </td>
                        <td id="TD_102">
                        </td>
                    </tr>
                    <tr id="TR_104">
                        <td id="TD_105">
                            не ниже
                        </td>
                        <td id="TD_107">
                            -
                        </td>
                        <td id="TD_109">
                            -
                        </td>
                        <td id="TD_111">
                            -
                        </td>
                        <td id="TD_113">
                            -
                        </td>
                        <td id="TD_115">
                            60
                        </td>
                        <td id="TD_117">
                            135
                        </td>
                        <td id="TD_119">
                        </td>
                    </tr>
                    <tr id="TR_121">
                        <td id="TD_122">
                            не выше
                        </td>
                        <td id="TD_124">
                            150
                        </td>
                        <td id="TD_126">
                            150
                        </td>
                        <td id="TD_128">
                            150
                        </td>
                        <td id="TD_130">
                            150
                        </td>
                        <td id="TD_132">
                            -
                        </td>
                        <td id="TD_134">
                            155
                        </td>
                        <td id="TD_136">
                        </td>
                    </tr>
                    <tr id="TR_138">
                        <td id="TD_139">
                            б) 10 % отгоняется при температуре, °С, не выше
                        </td>
                        <td id="TD_141">
                            165
                        </td>
                        <td id="TD_143">
                            165
                        </td>
                        <td id="TD_145">
                            175
                        </td>
                        <td id="TD_147">
                            175
                        </td>
                        <td id="TD_149">
                            145
                        </td>
                        <td id="TD_151">
                            175
                        </td>
                        <td id="TD_153">
                        </td>
                    </tr>
                    <tr id="TR_155">
                        <td id="TD_156">
                            в) 50 % отгоняется при температуре, °С, не выше
                        </td>
                        <td id="TD_158">
                            195
                        </td>
                        <td id="TD_160">
                            195
                        </td>
                        <td id="TD_162">
                            225
                        </td>
                        <td id="TD_164">
                            225
                        </td>
                        <td id="TD_166">
                            195
                        </td>
                        <td id="TD_168">
                            225
                        </td>
                        <td id="TD_170">
                        </td>
                    </tr>
                    <tr id="TR_172">
                        <td id="TD_173">
                            г) 90 % отгоняется при температуре, °С, не выше
                        </td>
                        <td id="TD_175">
                            230
                        </td>
                        <td id="TD_177">
                            230
                        </td>
                        <td id="TD_179">
                            270
                        </td>
                        <td id="TD_181">
                            270
                        </td>
                        <td id="TD_183">
                            250
                        </td>
                        <td id="TD_185">
                            270
                        </td>
                        <td id="TD_187">
                        </td>
                    </tr>
                    <tr id="TR_189">
                        <td id="TD_190">
                            д) 98 % отгоняется при температуре, °С, не выше
                        </td>
                        <td id="TD_192">
                            250
                        </td>
                        <td id="TD_194">
                            250
                        </td>
                        <td id="TD_196">
                            280
                        </td>
                        <td id="TD_198">
                            280
                        </td>
                        <td id="TD_200">
                            280
                        </td>
                        <td id="TD_202">
                            280
                        </td>
                        <td id="TD_204">
                        </td>
                    </tr>
                    <tr id="TR_206">
                        <td id="TD_207">
                            е) остаток от разгонки, %, не более
                        </td>
                        <td id="TD_209">
                            1,5
                        </td>
                        <td id="TD_211">
                            1,5
                        </td>
                        <td id="TD_213">
                            -
                        </td>
                        <td id="TD_215">
                            -
                        </td>
                        <td id="TD_217">
                            -
                        </td>
                        <td id="TD_219">
                            1,5
                        </td>
                        <td id="TD_221">
                        </td>
                    </tr>
                    <tr id="TR_223">
                        <td id="TD_224">
                            ж) потери от разгонки, %, не более
                        </td>
                        <td id="TD_226">
                            1,5
                        </td>
                        <td id="TD_228">
                            1,5
                        </td>
                        <td id="TD_230">
                            -
                        </td>
                        <td id="TD_232">
                            -
                        </td>
                        <td id="TD_234">
                            -
                        </td>
                        <td id="TD_236">
                            1,5
                        </td>
                        <td id="TD_238">
                        </td>
                    </tr>
                    <tr id="TR_240">
                        <td id="TD_241">
                            3. Кинематическая вязкость, мм<sup id="SUP_243">2</sup>/с (сСт),<br id="BR_244" /> при температуре:
                        </td>
                        <td id="TD_245">
                        </td>
                        <td id="TD_247">
                        </td>
                        <td id="TD_249">
                        </td>
                        <td id="TD_251">
                        </td>
                        <td id="TD_253">
                        </td>
                        <td id="TD_255">
                        </td>
                        <td id="TD_257">
                            По ГОСТ 33-2000
                        </td>
                    </tr>
                    <tr id="TR_259">
                        <td id="TD_260">
                            20 °С, не менее
                        </td>
                        <td id="TD_262">
                            1,30
                        </td>
                        <td id="TD_264">
                            1,25
                        </td>
                        <td id="TD_266">
                            1,50
                        </td>
                        <td id="TD_268">
                            1,50
                        </td>
                        <td id="TD_270">
                            1,05
                        </td>
                        <td id="TD_272">
                            1,25
                        </td>
                        <td id="TD_274">
                        </td>
                    </tr>
                    <tr id="TR_276">
                        <td id="TD_277">
                        </td>
                        <td id="TD_279">
                            (1,30)
                        </td>
                        <td id="TD_281">
                            (1,25)
                        </td>
                        <td id="TD_283">
                            (1,50)
                        </td>
                        <td id="TD_285">
                            (1,50)
                        </td>
                        <td id="TD_287">
                            (1,05)
                        </td>
                        <td id="TD_289">
                            (1,25)
                        </td>
                        <td id="TD_291">
                        </td>
                    </tr>
                    <tr id="TR_293">
                        <td id="TD_294">
                            при минус 40 °С, не более
                        </td>
                        <td id="TD_296">
                            -
                        </td>
                        <td id="TD_298">
                            -
                        </td>
                        <td id="TD_300">
                            -
                        </td>
                        <td id="TD_302">
                            -
                        </td>
                        <td id="TD_304">
                            -
                        </td>
                        <td id="TD_306">
                            -
                        </td>
                        <td id="TD_308">
                        </td>
                    </tr>
                    <tr id="TR_310">
                        <td id="TD_311">
                            при минус 20 °С, мм<sup id="SUP_313">2</sup>/с,<br id="BR_314" /> не более
                        </td>
                        <td id="TD_315">
                            8
                        </td>
                        <td id="TD_317">
                            8
                        </td>
                        <td id="TD_319">
                            -
                        </td>
                        <td id="TD_321">
                            -
                        </td>
                        <td id="TD_323">
                            -
                        </td>
                        <td id="TD_325">
                            8
                        </td>
                        <td id="TD_327">
                        </td>
                    </tr>
                    <tr id="TR_329">
                        <td id="TD_330">
                            4. Низшая теплота сгорания, кДж/кг, не менее
                        </td>
                        <td id="TD_332">
                            43120
                        </td>
                        <td id="TD_334">
                            42900
                        </td>
                        <td id="TD_336">
                            42900
                        </td>
                        <td id="TD_338">
                            42900
                        </td>
                        <td id="TD_340">
                            43100
                        </td>
                        <td id="TD_342">
                            43120
                        </td>
                        <td id="TD_344">
                            По ГОСТ 11065-90 и п. 4.8 настоящего стандарта
                        </td>
                    </tr>
                    <tr id="TR_346">
                        <td id="TD_347">
                            5. Высота некоптящего пламени, мм, не менее
                        </td>
                        <td id="TD_349">
                            25
                        </td>
                        <td id="TD_351">
                            25
                        </td>
                        <td id="TD_353">
                            20
                        </td>
                        <td id="TD_355">
                            20
                        </td>
                        <td id="TD_357">
                            25
                        </td>
                        <td id="TD_359">
                            25
                        </td>
                        <td id="TD_361">
                            По ГОСТ 4338-91
                        </td>
                    </tr>
                    <tr id="TR_363">
                        <td id="TD_364">
                            6. Кислотность, мг КОН на 100 см<sup id="SUP_366">3</sup> топлива,
                        </td>
                        <td id="TD_367">
                        </td>
                        <td id="TD_369">
                        </td>
                        <td id="TD_371">
                        </td>
                        <td id="TD_373">
                        </td>
                        <td id="TD_375">
                        </td>
                        <td id="TD_377">
                        </td>
                        <td id="TD_379">
                            По ГОСТ 5985-79 и п. 4.2 настоящего стандарта
                        </td>
                    </tr>
                    <tr id="TR_381">
                        <td id="TD_382">
                            не более
                        </td>
                        <td id="TD_384">
                            0,7
                        </td>
                        <td id="TD_386">
                            0,7
                        </td>
                        <td id="TD_388">
                            0,7
                        </td>
                        <td id="TD_390">
                            0,7
                        </td>
                        <td id="TD_392">
                            0,7
                        </td>
                        <td id="TD_394">
                            -
                        </td>
                        <td id="TD_396">
                        </td>
                    </tr>
                    <tr id="TR_398">
                        <td id="TD_399">
                            в пределах
                        </td>
                        <td id="TD_401">
                            -
                        </td>
                        <td id="TD_403">
                            -
                        </td>
                        <td id="TD_405">
                            -
                        </td>
                        <td id="TD_407">
                            -
                        </td>
                        <td id="TD_409">
                            -
                        </td>
                        <td id="TD_411">
                            0,2-0,7
                        </td>
                        <td id="TD_413">
                        </td>
                    </tr>
                    <tr id="TR_415">
                        <td id="TD_416">
                            7. Йодное число, г йода на 100 г топлива, не более
                        </td>
                        <td id="TD_418">
                            2,5
                        </td>
                        <td id="TD_420">
                            3,5
                        </td>
                        <td id="TD_422">
                            2,0
                        </td>
                        <td id="TD_424">
                            2,0
                        </td>
                        <td id="TD_426">
                            3,5
                        </td>
                        <td id="TD_428">
                            0,5
                        </td>
                        <td id="TD_430">
                            По ГОСТ 2070-82
                        </td>
                    </tr>
                    <tr id="TR_432">
                        <td id="TD_433">
                            8. Температура вспышки, определяемая в закрытом тигле, °С, не ниже
                        </td>
                        <td id="TD_435">
                            28
                        </td>
                        <td id="TD_437">
                            28
                        </td>
                        <td id="TD_439">
                            30
                        </td>
                        <td id="TD_441">
                            30
                        </td>
                        <td id="TD_443">
                            -
                        </td>
                        <td id="TD_445">
                            28
                        </td>
                        <td id="TD_447">
                            По ГОСТ 6356-75
                        </td>
                    </tr>
                    <tr id="TR_449">
                        <td id="TD_450">
                            9. Температура начала кристаллизации, °С, не выше
                        </td>
                        <td id="TD_452">
                            -60
                        </td>
                        <td id="TD_454">
                            -60
                        </td>
                        <td id="TD_456">
                            -60
                        </td>
                        <td id="TD_458">
                            -60
                        </td>
                        <td id="TD_460">
                            -60
                        </td>
                        <td id="TD_462">
                            -55
                        </td>
                        <td id="TD_464">
                            По ГОСТ 5066-91, метод Б
                        </td>
                    </tr>
                    <tr id="TR_466">
                        <td id="TD_467">
                            10. Термоокислительная стабильность в статических условиях при 150 °С, не более:
                        </td>
                        <td id="TD_469">
                        </td>
                        <td id="TD_471">
                        </td>
                        <td id="TD_473">
                        </td>
                        <td id="TD_475">
                        </td>
                        <td id="TD_477">
                        </td>
                        <td id="TD_479">
                        </td>
                        <td id="TD_481">
                            По ГОСТ 11802-88
                        </td>
                    </tr>
                    <tr id="TR_483">
                        <td id="TD_484">
                            а) концентрация осадка, мг на 100 см<sup id="SUP_486">3</sup> топлива.
                        </td>
                        <td id="TD_487">
                            18
                        </td>
                        <td id="TD_489">
                            18
                        </td>
                        <td id="TD_491">
                            6
                        </td>
                        <td id="TD_493">
                            35
                        </td>
                        <td id="TD_495">
                            18
                        </td>
                        <td id="TD_497">
                            6
                        </td>
                        <td id="TD_499">
                        </td>
                    </tr>
                    <tr id="TR_501">
                        <td id="TD_502">
                            б) концентрация растворимых смол, мг на 100 см<sup id="SUP_504">3</sup> топлива
                        </td>
                        <td id="TD_505">
                            -
                        </td>
                        <td id="TD_507">
                            -
                        </td>
                        <td id="TD_509">
                            -
                        </td>
                        <td id="TD_511">
                            -
                        </td>
                        <td id="TD_513">
                            -
                        </td>
                        <td id="TD_515">
                            30
                        </td>
                        <td id="TD_517">
                        </td>
                    </tr>
                    <tr id="TR_519">
                        <td id="TD_520">
                            в) концентрация не растворимых смол, мг на 100 см<sup id="SUP_522">3</sup> топлива
                        </td>
                        <td id="TD_523">
                            -
                        </td>
                        <td id="TD_525">
                            -
                        </td>
                        <td id="TD_527">
                            -
                        </td>
                        <td id="TD_529">
                            -
                        </td>
                        <td id="TD_531">
                            -
                        </td>
                        <td id="TD_533">
                            3
                        </td>
                        <td id="TD_535">
                        </td>
                    </tr>
                    <tr id="TR_537">
                        <td id="TD_538">
                            10а. (Исключен, Изм. № 2)
                        </td>
                        <td id="TD_540">
                        </td>
                        <td id="TD_542">
                        </td>
                        <td id="TD_544">
                        </td>
                        <td id="TD_546">
                        </td>
                        <td id="TD_548">
                        </td>
                        <td id="TD_550">
                        </td>
                        <td id="TD_552">
                        </td>
                    </tr>
                    <tr id="TR_554">
                        <td id="TD_555">
                            11. Объёмная (массовая) доля ароматических углеводородов, %, не более
                        </td>
                        <td id="TD_557">
                            20(22)
                        </td>
                        <td id="TD_559">
                            20(22)
                        </td>
                        <td id="TD_561">
                            -
                        </td>
                        <td id="TD_563">
                            -
                        </td>
                        <td id="TD_565">
                            -
                        </td>
                        <td id="TD_567">
                            20(22)
                        </td>
                        <td id="TD_569">
                            По ГОСТ Р 52063-2003 (по ГОСТ Р ЕН 12916-2008 или ГОСТ 6994-74, или [2])
                        </td>
                    </tr>
                    <tr id="TR_571">
                        <td id="TD_572">
                            12. Концентрация фактических смол, мг на 100 см<sup id="SUP_574">3</sup> топлива, не более
                        </td>
                        <td id="TD_575">
                            3
                        </td>
                        <td id="TD_577">
                            5
                        </td>
                        <td id="TD_579">
                            6
                        </td>
                        <td id="TD_581">
                            6
                        </td>
                        <td id="TD_583">
                            5
                        </td>
                        <td id="TD_585">
                            4
                        </td>
                        <td id="TD_587">
                            По ГОСТ 1567-97 или по ГОСТ 8489-85
                        </td>
                    </tr>
                    <tr id="TR_589">
                        <td id="TD_590">
                            13. Массовая доля общей серы, %, не более
                        </td>
                        <td id="TD_592">
                            0,20
                        </td>
                        <td id="TD_594">
                            0,25
                        </td>
                        <td id="TD_596">
                            0,10
                        </td>
                        <td id="TD_598">
                            0,10
                        </td>
                        <td id="TD_600">
                            0,25
                        </td>
                        <td id="TD_602">
                            0,10
                        </td>
                        <td id="TD_604">
                            По ГОСТ 19121-73, ГОСТ Р 51947-2002 (Для ТС-1 и РТ По ГОСТ Р 51947-2002 или ГОСТ Р 51859-2002, или ГОСТ 19121-73)
                        </td>
                    </tr>
                    <tr id="TR_606">
                        <td id="TD_607">
                            14. Массовая доля меркаптановой серы, %, не более
                        </td>
                        <td id="TD_609">
                            0,003
                        </td>
                        <td id="TD_611">
                            0,003
                        </td>
                        <td id="TD_613">
                            -
                        </td>
                        <td id="TD_615">
                            -
                        </td>
                        <td id="TD_617">
                            -
                        </td>
                        <td id="TD_619">
                            0,003
                        </td>
                        <td id="TD_621">
                            По ГОСТ Р 52030-2003 или ГОСТ 17323-71
                        </td>
                    </tr>
                    <tr id="TR_623">
                        <td id="TD_624">
                            15. Массовая доля сероводорода
                        </td>
                        <td colspan="6" id="TD_626">
                            Отсутствие
                        </td>
                        <td id="TD_628">
                            По ГОСТ 17323-71
                        </td>
                    </tr>
                    <tr id="TR_630">
                        <td id="TD_631">
                            16. Испытание на медной пластинке при 100 ° С в течение 3 ч
                        </td>
                        <td colspan="6" id="TD_633">
                            Выдерживает
                        </td>
                        <td id="TD_635">
                            По ГОСТ 6321-92 и п. 4.4 настоящего стандарта
                        </td>
                    </tr>
                    <tr id="TR_637">
                        <td id="TD_638">
                            17. Зольность, %, не более
                        </td>
                        <td id="TD_640">
                            0,003
                        </td>
                        <td id="TD_642">
                            0,003
                        </td>
                        <td id="TD_644">
                            0,003
                        </td>
                        <td id="TD_646">
                            0,003
                        </td>
                        <td id="TD_648">
                            0,003
                        </td>
                        <td id="TD_650">
                            0,003
                        </td>
                        <td id="TD_652">
                            По ГОСТ 1461-75
                        </td>
                    </tr>
                    <tr id="TR_654">
                        <td id="TD_655">
                            18. Содержание водорастворимых кислот и щелочей
                        </td>
                        <td colspan="6" id="TD_657">
                            Отсутствие
                        </td>
                        <td id="TD_659">
                            По ГОСТ 6307-75 и п. 4.9 настоящего стандарта
                        </td>
                    </tr>
                    <tr id="TR_661">
                        <td id="TD_662">
                            19. Содержание мыл нафтеновых кислот
                        </td>
                        <td colspan="5" id="TD_664">
                            Отсутствие
                        </td>
                        <td id="TD_666">
                            -
                        </td>
                        <td id="TD_668">
                            По ГОСТ 21103-75
                        </td>
                    </tr>
                    <tr id="TR_670">
                        <td id="TD_671">
                            20. Содержание механических примесей и воды
                        </td>
                        <td colspan="6" id="TD_673">
                            Отсутствие
                        </td>
                        <td id="TD_675">
                            По п. 4.5
                        </td>
                    </tr>
                    <tr id="TR_677">
                        <td id="TD_678">
                            21. Массовая доля нафталиновых углеводородов, %, не более
                        </td>
                        <td id="TD_680">
                            -
                        </td>
                        <td id="TD_682">
                            -
                        </td>
                        <td id="TD_684">
                            -
                        </td>
                        <td id="TD_686">
                            -
                        </td>
                        <td id="TD_688">
                            -
                        </td>
                        <td id="TD_690">
                            1,5
                        </td>
                        <td id="TD_692">
                            По ГОСТ 17749-72
                        </td>
                    </tr>
                    <tr id="TR_694">
                        <td id="TD_695">
                            22. Люминометрическое число, не ниже
                        </td>
                        <td id="TD_697">
                            -
                        </td>
                        <td id="TD_699">
                            -
                        </td>
                        <td id="TD_701">
                            -
                        </td>
                        <td id="TD_703">
                            -
                        </td>
                        <td id="TD_705">
                            -
                        </td>
                        <td id="TD_707">
                            50
                        </td>
                        <td id="TD_709">
                            По ГОСТ 17750-72
                        </td>
                    </tr>
                    <tr id="TR_711">
                        <td id="TD_712">
                            23. Термоокислительная стабильность, определяемая динамическим методом при 150-180 °С:
                        </td>
                        <td id="TD_714">
                        </td>
                        <td id="TD_716">
                        </td>
                        <td id="TD_718">
                        </td>
                        <td id="TD_720">
                        </td>
                        <td id="TD_722">
                        </td>
                        <td id="TD_724">
                        </td>
                        <td id="TD_726">
                            По ГОСТ 17751-79 и п. 4.6 настоящего стандарта
                        </td>
                    </tr>
                    <tr id="TR_728">
                        <td id="TD_729">
                            а) перепад давления на фильтре за 5 ч, кПа, не выше
                        </td>
                        <td id="TD_731">
                        </td>
                        <td id="TD_733">
                        </td>
                        <td id="TD_735">
                        </td>
                        <td id="TD_737">
                        </td>
                        <td id="TD_739">
                        </td>
                        <td id="TD_741">
                            10
                        </td>
                        <td id="TD_743">
                        </td>
                    </tr>
                    <tr id="TR_745">
                        <td id="TD_746">
                            б) отложения на подогревателе, баллы, не более
                        </td>
                        <td id="TD_748">
                            -
                        </td>
                        <td id="TD_750">
                            -
                        </td>
                        <td id="TD_752">
                            -
                        </td>
                        <td id="TD_754">
                            -
                        </td>
                        <td id="TD_756">
                            -
                        </td>
                        <td id="TD_758">
                            2
                        </td>
                        <td id="TD_760">
                        </td>
                    </tr>
                    <tr id="TR_762">
                        <td id="TD_763">
                            24. Взаимодействие с водой, балл, не более:
                        </td>
                        <td id="TD_765">
                        </td>
                        <td id="TD_767">
                        </td>
                        <td id="TD_769">
                        </td>
                        <td id="TD_771">
                        </td>
                        <td id="TD_773">
                        </td>
                        <td id="TD_775">
                        </td>
                        <td id="TD_777">
                            По ГОСТ 27154-86
                        </td>
                    </tr>
                    <tr id="TR_779">
                        <td id="TD_780">
                            а) состояние поверхности раздела
                        </td>
                        <td id="TD_782">
                            1
                        </td>
                        <td id="TD_784">
                            1
                        </td>
                        <td id="TD_786">
                            -
                        </td>
                        <td id="TD_788">
                            -
                        </td>
                        <td id="TD_790">
                            -
                        </td>
                        <td id="TD_792">
                            1
                        </td>
                        <td id="TD_794">
                        </td>
                    </tr>
                    <tr id="TR_796">
                        <td id="TD_797">
                            б) состояние разделенных фаз
                        </td>
                        <td id="TD_799">
                            1
                        </td>
                        <td id="TD_801">
                            1
                        </td>
                        <td id="TD_803">
                            -
                        </td>
                        <td id="TD_805">
                            -
                        </td>
                        <td id="TD_807">
                            -
                        </td>
                        <td id="TD_809">
                            1
                        </td>
                        <td id="TD_811">
                        </td>
                    </tr>
                    <tr id="TR_813">
                        <td id="TD_814">
                            25. Удельная электрическая проводимость, пСм/м:
                        </td>
                        <td id="TD_816">
                        </td>
                        <td id="TD_818">
                        </td>
                        <td id="TD_820">
                        </td>
                        <td id="TD_822">
                        </td>
                        <td id="TD_824">
                        </td>
                        <td id="TD_826">
                        </td>
                        <td id="TD_828">
                            По ГОСТ 25950-83 или [1]
                        </td>
                    </tr>
                    <tr id="TR_830">
                        <td id="TD_831">
                            без антистатической присадки при температуре 20 °С, не более
                        </td>
                        <td id="TD_833">
                            10
                        </td>
                        <td id="TD_835">
                            10
                        </td>
                        <td id="TD_837">
                            -
                        </td>
                        <td id="TD_839">
                            -
                        </td>
                        <td id="TD_841">
                            -
                        </td>
                        <td id="TD_843">
                            10
                        </td>
                        <td id="TD_845">
                        </td>
                    </tr>
                    <tr id="TR_847">
                        <td id="TD_848">
                            с антистатической присадкой (при температуре заправки летательного аппарата) в пределах
                        </td>
                        <td id="TD_850">
                            50-600
                        </td>
                        <td id="TD_852">
                            50-600
                        </td>
                        <td id="TD_854">
                            -
                        </td>
                        <td id="TD_856">
                            -
                        </td>
                        <td id="TD_858">
                            -
                        </td>
                        <td id="TD_860">
                            50-600
                        </td>
                        <td id="TD_862">
                        </td>
                    </tr>
                    <tr id="TR_864">
                        <td id="TD_865">
                            26. Давление насыщенных паров, гПа
                        </td>
                        <td id="TD_867">
                        </td>
                        <td id="TD_869">
                        </td>
                        <td id="TD_871">
                        </td>
                        <td id="TD_873">
                        </td>
                        <td id="TD_875">
                            133
                        </td>
                        <td id="TD_877">
                        </td>
                        <td id="TD_879">
                            По ГОСТ 1756-52
                        </td>
                    </tr>
                    <tr id="TR_881">
                        <td id="TD_882">
                            (мм рт. ст.), не более
                        </td>
                        <td id="TD_884">
                            -
                        </td>
                        <td id="TD_886">
                            -
                        </td>
                        <td id="TD_888">
                            -
                        </td>
                        <td id="TD_890">
                            -
                        </td>
                        <td id="TD_892">
                            (100)
                        </td>
                        <td id="TD_894">
                            -
                        </td>
                        <td id="TD_896">
                        </td>
                    </tr>
                    <tr id="TR_898">
                        <td id="TD_899">
                            27. Содержание суммы водорастворимых щелочных соединений
                        </td>
                        <td id="TD_901">
                            -
                        </td>
                        <td id="TD_903">
                            -
                        </td>
                        <td colspan="3" id="TD_905">
                            Отсутствие
                        </td>
                        <td id="TD_907">
                            -
                        </td>
                        <td id="TD_909">
                            По п. 4.7
                        </td>
                    </tr>
                    <tr id="TR_911">
                        <td id="TD_912">
                            28. Термоокислительная стабильность при контрольной температуре не ниже 260°С:
                        </td>
                        <td id="TD_914">
                        </td>
                        <td id="TD_916">
                        </td>
                        <td id="TD_918">
                        </td>
                        <td id="TD_920">
                        </td>
                        <td id="TD_922">
                        </td>
                        <td id="TD_924">
                        </td>
                        <td id="TD_926">
                            По ГОСТ Р 52954-2008
                        </td>
                    </tr>
                    <tr id="TR_928">
                        <td id="TD_929">
                            а) перепад давления на фильтре, мм рт.ст., не более
                        </td>
                        <td id="TD_931">
                            25
                        </td>
                        <td id="TD_933">
                            25
                        </td>
                        <td id="TD_935">
                            -
                        </td>
                        <td id="TD_937">
                            -
                        </td>
                        <td id="TD_939">
                            -
                        </td>
                        <td id="TD_941">
                            25
                        </td>
                        <td id="TD_943">
                        </td>
                    </tr>
                    <tr id="TR_945">
                        <td id="TD_946">
                            б) цвет отложений на трубке, баллы по цветовой шкале (при отсутствии нехарактерных отложений), не более
                        </td>
                        <td id="TD_948">
                            3
                        </td>
                        <td id="TD_950">
                            3
                        </td>
                        <td id="TD_952">
                            -
                        </td>
                        <td id="TD_954">
                            -
                        </td>
                        <td id="TD_956">
                            -
                        </td>
                        <td id="TD_958">
                            3
                        </td>
                        <td id="TD_960">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}