<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Смирнов Юрий Валерьевич">
    <meta name="publisher-email" content="xacan-mail@mail.ru">
    <meta name="copyright" Content="ООО Русский завод металлорукавов">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h2><font color="blue">Санкт-Петербург</font></h2>
    <hr style="border-top: 1px solid blue;">
    <p>{{ company_address }}</p>
    <p><strong>Время работы:</strong></p>
    <ul>
        <li>Понедельник - Пятница: <font color="braun">с 9:00 до 18:00</font></li>
    </ul>
</body>

</html>