{% extends 'rzmr/base.html' %}
{% load i18n %}

{% block content %}
<section class="product-grids section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-12">
                <!-- Start Product Sidebar -->
                <div class="product-sidebar">
                    <!-- Start Single Widget -->
                    <div class="single-widget">
                        <h6 class="py-2 d-flex justify-content-center">{% trans 'Sections' %}</h6>
                        <!-- <p>{{ user.get_settings }}</p> -->
                        <ul class="list">
                            <li>
                                {% if is_orders %}
                                <a href="{% url 'user-orders' %}"><strong>{% trans 'Orders' %}</strong></a>
                                {% else %}
                                <a href="{% url 'user-orders' %}">{% trans 'Orders' %} </a>
                                {% endif %}
                            </li>
                            <li>
                                {% if is_settings %}
                                <a href="{% url 'user-settings' %}"><strong>{% trans 'Profile settings' %}</strong></a>
                                {% else %}
                                <a href="{% url 'user-settings' %}">{% trans 'Profile settings' %}</a>
                                {% endif %}
                            </li>
                            <li>
                                {% if is_companies %}
                                <a href="{% url 'user-companies' %}"><strong>{% trans 'Organizations' %}</strong></a>
                                {% else %}
                                <a href="{% url 'user-companies' %}">{% trans 'Organizations' %}</a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                    <!-- End Single Widget -->
                </div>
                <!-- End Product Sidebar -->
            </div>
            {% block account_content %}
            {% endblock account_content %}
        </div>
    </div>
</section>
{% endblock content %}