{% extends 'rzmr/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'constructor/css/constructor.css' %}">
<div class="container">
    <div class="row">
        <div class="col-12 text-uzm">
            <h4 class="py-2">{{ title }}</h4>
            <p>
                Вы находитесь в конфигураторе рукавов РГМ. Он позволяет создать металлорукав РГМ с требуемыми
                параметрами, концевой арматурой и дополнительной оснасткой с последующим формированием коммерческого
                предложения.
            </p>
            <p>
                Для начала работы необходимо указать основные параметры металлорукава:
            </p>
            <ul>
                <li>Ду - условный внутренний диаметр, мм</li>
                <li>Ру - рабочее давление, кгс/см2</li>
                <li>Длина - номинальная длина рукава, мм</li>
            </ul>
            <p>
                Если Вам требуется рукав под приварку, то вышеуказанных параметров будет достаточно. В том, случае, если
                к поставке требуется металлорукав со специальной концевой арматурой (накидные гайки, фланцы, камлоки и
                т.д), то необходимо указать тип и материал концевой арматуры.
            </p>
        </div>
    </div>
    <div class="row">
        <!-- <div class="col-sm-2">
            <select id="type" class="form-select form-select-sm">
            </select>
        </div> -->
        <div class="col-sm-2 fs-6">
            <a class="param" onclick="GotoInput('#Diameters')"> 1. Параметры изделия</a>
        </div>
        <div class="col-sm-2 fs-6">
            <a class="param" onclick="GotoInput('#InnerScreen')">2. Дополнительные параметры</a>
        </div>
        <div class="col-sm-2 fs-6">
            <a class="param" onclick="GotoInput('#WorkSpace')">3. Условия эксплуатации</a>
        </div>
        <div class="col-sm-2 fs-6">
            <a class="param" onclick="">4. Заказ</a>
        </div>
        <div class="col-sm-2">

        </div>
        <div class="col-sm-2">
            <div class="actions">
                <a title="Сохранить на компьютере" onclick="getCustomerDocuments();">
                    <img src="{% static 'rzmr/img/save.svg' %}" alt="save"></a>
                <a title="Печать проекта" onclick="printJS({printable:'/start/ajax.handler.php?page=get_customer_documents', type:'pdf', showModal:true, modalMessage: 'Загрузка документа'});">
                    <img src="{% static 'rzmr/img/print.svg' %}" alt="print"></a>
            </div>
        </div>
    </div>
    <div class="row text-center" style="overflow: hidden;">
        <div class="col-12" style="transform: scale(2);">
            <img id="imgA1" src="" style="max-height: 250px;display: inline-block;">
            <img id="img1" src="" style="max-height: 250px;display: inline-block;">
            <img id="img0" src="{% static 'rzmr/img/рукав_40.png' %}" style="max-height: 250px; display: inline-block;">
            <img id="img2" src="" style="max-height: 250px;display: inline-block;">
            <img id="imgA2" src="" style="max-height: 250px;display: inline-block;">
        </div>
    </div>
    <form action="{% url 'metalhose-constructor' %}" method="post" id="params">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="row">
            <br>
            <hr>
            <div class="col-md-4">
                <div class="fs-6 fw-bold">
                    Концевая арматура 1 (КА1)
                </div>
                {{ form.fittings1.errors }}
                {{ form.fittings1 }}
                {{ form.materials1.errors }}
                {{ form.materials1 }}
                {{ form.typefitting1.errors }}
                {{ form.typefitting1 }}
                <hr>
                <div class="fs-6 fw-bold">
                    Ответные детали к арматуре 1
                </div>
                {{ form.fittingsA1.errors }}
                {{ form.fittingsA1 }}
                {{ form.materialsA1.errors }}
                {{ form.materialsA1 }}
                {{ form.typefittingA1.errors }}
                {{ form.typefittingA1 }}
            </div>
            <div class="col-md-4">
                <div class="fs-6 fw-bold">
                    Обязательные параметры:
                </div>
                {{ form.types.errors }}
                {{ form.types.label_tag }}
                {{ form.types }}
                <div class="mb-1">
                    <img class="constructor-icon-size" src="{% static 'rzmr/img/diameter.svg' %}" alt="diameter">
                    {{ form.diameters.errors }}
                    {{ form.diameters }}
                </div>
                <div class="mb-1">
                    <img class="constructor-icon-size" src="{% static 'rzmr/img/pressures.svg' %}" alt="pressures">
                    {{ form.pressures.errors }}
                    {{ form.pressures }}
                </div>
                <div class="mb-1">
                    <img class="constructor-icon-size" src="{% static 'rzmr/img/length.svg' %}" alt="length">
                    {{ form.lengths.errors }}
                    {{ form.lengths }}
                </div>
                <div class="fs-6 fw-bold">
                    Дополнительные параметры:
                </div>
                <div class="mb-1">
                    <img class="constructor-icon-size" src="{% static 'rzmr/img/innerscrean.svg' %}" alt="innerscreen">
                    {{ form.innerscreen.errors }}
                    {{ form.innerscreen }}
                </div>
                <div class="mb-1">
                    <img class="constructor-icon-size" src="{% static 'rzmr/img/outershells.svg' %}" alt="outershells">
                    {{ form.outershells.errors }}
                    {{ form.outershells }}
                </div>
                <div class="mb-1" style="display:none;">
                    <select id="Corrugation" class="form-select form-select-sm d-inline-block w-75" onchange="changeForm(this);">

                    </select>
                </div>
                <div class="mb-1">
                    <img class="constructor-icon-size" src="{% static 'rzmr/img/braid.svg' %}" alt="braid">
                    {{ form.braids.errors }}
                    {{ form.braids }}
                </div>
                <div class="fs-6 fw-bold">
                    Условия эксплуатации:
                </div>
                <div class="mb-1">
                    <img class="constructor-icon-size" src="{% static 'rzmr/img/workspace.svg' %}" alt="workspace">
                    <!-- <input type="text" placeholder="Рабочая среда" id="WorkSpace" value="" class="form-control form-control-sm d-inline-block w-75"
                        onchange="changeForm(this);"> -->
                    {{ form.workspace.errors }}
                    {{ form.workspace }}
                </div>
                <div class="mb-1">
                    <img class="constructor-icon-size" src="{% static 'rzmr/img/temperature.svg' %}" alt="temperature">
                    {{ form.temperature.errors }}
                    {{ form.temperature }}
                </div>
                <div class="mb-1">
                    <img class="constructor-icon-size" src="{% static 'rzmr/img/radius.svg' %}" alt="radius">
                    {{ form.radius.errors }}
                    {{ form.radius }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="fs-6 fw-bold">
                    Концевая арматура 2 (КА2)
                </div>
                {{ form.fittings2.errors }}
                {{ form.fittings2 }}
                {{ form.materials2.errors }}
                {{ form.materials2 }}
                {{ form.typefitting2.errors }}
                {{ form.typefitting2 }}
                <hr>
                <div class="fs-6 fw-bold">
                    Ответные детали к арматуре 2
                </div>
                {{ form.fittingsA2.errors }}
                {{ form.fittingsA2 }}
                {{ form.materialsA2.errors }}
                {{ form.materialsA2 }}
                {{ form.typefittingA2.errors }}
                {{ form.typefittingA2 }}
                <div class="text-center">
                    <button class="btn btn-secondary" type="button" id="CopyA1" onclick="changeForm(this);">Копировать ответные детали КА1</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <div class="py-5">
                    {{ form.mrсount.errors }}
                    {{ form.mrсount.label_tag }}
                    {{ form.mrсount }}
                </div>
            </div>
            <div class="col-md-4 text-center">
                <button class="btn btn-secondary" type="button" onclick="newProduct();">Очистить все поля</button>
                <br>
                <br>
                <button class="btn btn-secondary" type="button" onclick="changeForm(this);">Заказать</button>
            </div>
        </div>
    </form>
</div>
<script src="{% static 'constructor/js/constructor.js' %}"></script>
{% endblock content %}