{% extends 'rzmr/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="account-login section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="title my-3">
                            <h3>{% translate 'Login to your account' %}</h3>
                        </div>
                        {{ form.as_p }}
                        <div class="button">
                            <button class="btn btn-secondary btn-shop-login" type="submit">{% trans 'Log in' %}</button>
                        </div>
                        <p class="outer-link py-3 d-flex flex-wrap justify-content-between bottom-content fs-6">
                            <a class="lost-pass" href="{% url 'password_reset' %}">{% trans 'Forgot password' %}</a>
                            <a href="{% url 'registration' %}">{% trans 'Register' %}</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}