{% extends 'rzmr/base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
<!-- Start Error Area -->
<div class="container">
    <div class="row text-center">
        <div class="col-sm-6 col-12">
            <h1 class="fw-bold">404 — {% trans 'Page not found' %}</h1>
            <img class="img-fluid" src="{% static 'rzmr/img/constr.jpg' %}" alt="constr">
            {% if LANGUAGE_CODE == 'ru' %}
            <p>Характеристики и описания, представленные на сайте, несут справочный характер и могут не соответствовать
                предлагаемой к поставке продукции. Не является публичной офертой.</p>
            {% elif LANGUAGE_CODE == 'en' %}
            <p>Characteristics and descriptions presented on the site are borne by reference character and may not
                correspond to the proposed to the delivery of products. Not a public offer.</p>
            {% elif LANGUAGE_CODE == 'kk' %}
            <p>Осы веб-сайтта берілген сипаттамалар мен сипаттамалар тек анықтама үшін берілген және сатуға ұсынылған
                нақты өнімдерге сәйкес келмеуі мүмкін. Бұл көпшілікке арналған ұсыныс болып табылмайды.</p>
            {% endif %}
            <div class="button">
                <a href="{% url 'home' %}" class="btn btn-secondary">На главную</a>
            </div>
        </div>
        <div class="col-sm-6 col-12">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-12 justify-content-center box-shadow-uzm">
                        <a href="{% url 'metalhoses' %}">
                            <div class="wrapper-img-uzm-down wrapper-text-above-img-uzm">
                                <img class="img-fluid" src="{% static 'rzmr/img/metallhoses.jpg' %}"
                                    alt="Металлорукава">
                                <div class="wrapper-img-uzm-up"></div>
                                <div class="text-above-img-uzm text-blue-uzm">
                                    <p>{% trans 'Metal hoses' %}</p>
                                    <p>
                                    <pre></pre>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-12 justify-content-center box-shadow-uzm">
                        <a href="{% url 'ptfe-hoses' %}">
                            <div class="wrapper-img-uzm-down wrapper-text-above-img-uzm">
                                <img class="img-fluid" src="{% static 'rzmr/img/ftoroplast.jpg' %}"
                                    alt="Фторопластовые PTFE">
                                <div class="wrapper-img-uzm-up"></div>
                                <div class="text-above-img-uzm text-blue-uzm">
                                    <p>{% trans 'PTFE Metal hoses' %}</p>
                                    <p>
                                    <pre></pre>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Error Area -->
{% endblock content %}