{% extends "rzmr/base.html" %}
{% block content %}

<!-- Start Account Login Area -->
<div class="account-login section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
                <form class="card login-form" method="post" action="{% url 'password_reset' %}">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="title">
                            <h3>Сброс пароля</h3>
                        </div>
                        {{ form.as_p }}
                        <div class="button">
                            <button class="btn btn-secondary" type="submit">Сбросить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Account Login Area -->

{% endblock content %}