{% extends "personal_account/base.html" %}
{% load static %}

{% block content %}
<section class="hero-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12 col-12">
                <div class="hero-content">
                    <h1>{{ title }}</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="services section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12 col-12">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="button">
                        <button class="btn" type="submit" >Сбросить пароль</button>
                    </div>
                </form>
            </div>
        </div>
</section>
{% endblock content %}