{% extends "main/base.html" %}
{% block content %}
<section class="hero-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12 col-12">
                <div class="hero-content">
                    <h1>{{ title }}</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="services section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12 col-12">
                <p>Ваш пароль был сохранен. Теперь вы можете войти.</p>
                <div class="button wow fadeInUp" data-wow-delay=".8s">
                    <a href="{% url 'login' %}" class="btn">Логин</a>
                </div>
            </div>
        </div>
</section>
{% endblock content %}