{% extends 'shop/base.html' %}
{% load static %}

{% block content %}

<div class="breadcrumbs">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">Регистрация завершена</h1>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-nav">
                    <li><a href="{% url 'home' %}"><i class="lni lni-home"></i> Главная</a></li>
                    <li>Регистрация завершена</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container py-5">
    <div class="error-content">
        <h3 class="py-3">Регистрация завершена!</h3>
        <h5>Теперь можете войти на сайт. Приятных покупок.</h5>
        <!-- <p>На указанный e-mail отправлена информация о регистрации.</p> -->
        <div class="button py-3">
            <a href="{% url 'login' %}" class="btn">Войти</a>
        </div>
    </div>
</div>
{% endblock content %}