{% extends 'rzmr/base.html' %}
{% load static %}

{% block content %}

<!-- Start Category Grids -->
<section class="product-grids section">
    <div class="container">
        <div class="row">
            {% if nested_categories %}
            {% for category in nested_categories %}
            <div class="col-lg-4 col-md-6 col-12 py-1">
                <!-- Start Single Category -->
                <a class="subcategory__item" href="{% url 'product-list' category.slug %}">
                    <div class="subcategory__content">
                        <div class="subcategory__image">
                            <picture>
                                {% if category.photo %}
                                <img src="{{ category.photo.url }}" alt="#">
                                {% else %}
                                <img class="img-cart-order" src="{% static 'shop\img\no_image.png' %}" alt="product_photo">
                                {% endif %}
                            </picture>
                        </div>
                        <span class="subcategory__title">{{ category.name }}</span>
                    </div>
                </a>
                <!-- End Single Category -->
            </div>
            {% endfor %}
            {% else %}
            <h3>Раздел пуст</h3>
            {% endif %}
        </div>
    </div>
</section>
<!-- End Category Grids -->

{% endblock content %}