<div class="row text-uzm py-4">
    <div class="col-12">
        {% if city_location == 'Москва' %}

        <p>Эти изделия представляют собой высокоэффективные устройства, разработанные для очистки атмосферы от
            загрязняющих частиц. Их уникальность заключается в способности фильтровать частицы размером от 5 до 36
            микрометров, что позволяет значительно улучшить качество воздуха как в промышленных, так и в бытовых
            условиях. Вы можете купить воздушные фильтры 8д2 с доставкой в Москву в {{ company_name_short }}: мы
            производим промышленное оборудование с 2009 года и развили мощную логистическую сеть для надежной доставки
            товаров в любые регионы.</p>
        <p>Изделия обладают многослойной структурой, обеспечивающей надежное удаление не только крупных частиц, но и
            более мелких загрязнителей. Такой уровень тонкости фильтрации важен для защиты оборудования и обеспечения
            здоровья персонала. В условиях повышенных требований к чистоте воздуха, например, в медицинских учреждениях
            или лабораториях, использование фильтроэлементов, обладающих такой высокой степенью фильтрации, становится
            особенно актуальным.</p>
        <p>Технология, используемая в этих устройствах, свидетельствует о высоком уровне инноваций и обеспечивает долгий
            срок службы фильтров, минимизируя необходимость в частой замене и снижая эксплуатационные затраты.</p>
        <p>Обратите внимание на надежные воздушные фильтры 8д2 и обеспечьте безопасность и комфорт в вашем рабочем
            пространстве.</p>
        <p>Мы предлагаем вам ознакомиться с ассортиментом нашего промышленного оборудования и осуществить заказ на
            выгодных условиях от прямого производителя. Свяжитесь с нашими менеджерами для получения подробной
            информации и индивидуальных условий покупки. Номер для заказчиков из Москвы
            <a href="tel:+74996492949">+7 (499) 649-29-49</a>, также вы можете заполнить заявку на сайте.
        </p> 

        {% elif city_location == 'Екатеринбург' %}

        <p>Это ключевой компонент для поддержания чистоты воздушных потоков и эффективной работы вашего оборудования.
            Они предназначены для улавливания пыли, сажи и других загрязняющих веществ. Эффективная работа очищающих
            приспособлений непосредственно влияет на производительность механизмов и их долговечность, что особенно
            важно в условиях интенсивной эксплуатации. Мы предлагаем купить воздушные фильтры 8д2 в
            {{ company_name_short }}: доставим в Екатеринбург партии любого масштаба. Наш отдел контроля качества
            проверяет каждое изделие, поэтому мы гарантируем стопроцентное отсутствие брака! Позвоните нам по номеру
            <a href="tel:+73433579710">+7 (343) 357-97-10</a> или закажите звонок через форму на сайт, чтобы узнать
            больше о нашей продукции и разместить заявку.
        </p>
        <h4>Характеристики</h4>
        <p>У серии 8д2 уникальная конструкция, которая позволяет им удерживать более мелкие частицы (до 5 мкм), чем
            обычные фильтры. Это достигается благодаря нескольким слоям фильтрующего материала, которые способствуют
            постепенному улавливанию загрязнений. Кроме того, их легко устанавливать и обслуживать, что существенно
            снижает затраты на техническое обслуживание и позволяет сосредоточиться на основных процессах
            производственной деятельности.</p>
        <p>Изделия предназначены в первую очередь для промышленного использования, обеспечивая отличные результаты в
            самых различных условиях. Надежное и качественное оборудование &mdash; залог успеха вашего бизнеса.</p>
        <p>Не упустите шанс обеспечить высокую производительность и защиту вашего оборудования! Заказывайте воздушные
            фильтры 8д2 в {{ company_name_short }} на условиях от прямого производителя. Мы предложим индивидуальные
            решения и скидки для оптовых закупок. Обратитесь к нам для подробной информации и проконсультируем по всем
            вопросам!</p>

        {% elif city_location == 'Челябинск' %}

        <p>Фильтры 8д2 представляют собой высокоэффективные устройства, очищающие воздух, который поступает в двигатели
            и другие механизмы. Они предназначены для предохранения работающего оборудования от пыли, сажи и других
            вредных частиц, что позволяет продлить ресурс работы различных деталей и механизмов. Их применение особенно
            актуально в промышленных системах, где требуется повышенная степень чистоты воздуха и надежность работы. Мы
            предлагаем возможность купить воздушные фильтры 8д2 в Челябинске в компании {{ company_name_short }}. Мы
            предлагаем быструю и надежную доставку и все преимущества прямого сотрудничества с производителем,
            находящимся на рынке с 2009 года.</p>
        <h4>Особенности</h4>
        <p>В конструкции устройств используются надежные решения и высококачественные материалы. Благодаря этому изделия
            выдерживают интенсивные нагрузки и экстремальные условия эксплуатации, в том числе и экстремально высокую
            температуру рабочей среды. Важным аспектом является простота установки и замены фильтров, что делает их
            использование удобным и экономически выгодным. Благодаря своей конструкции они создают минимальное
            сопротивление потоку воздуха, что снижает расход энергии.</p>
        <p>Сравнительно низкая цена, высокая эффективность и долговечность делают их оптимальным решением для
            предприятий различных отраслей &mdash; от производства до сельского хозяйства.</p>
        <p>Не упустите возможность улучшить производительность вашего оборудования с воздушными фильтрами 8д2 от
            {{ company_name_short }}! Мы предлагаем не только высококачественное промышленное оборудование, но и
            профессиональную консультацию по его выбору и использованию. У нас конкурентные цены и быстрая доставка.
            Свяжитесь с нами сегодня, чтобы получить консультацию и определиться с выбором. Вы можете позвонить по
            телефону <a href="tel:88005555756">8 800 5555-756</a> или заказать звонок через электронную форму (красная
            кнопка в правой верхней части этой страницы).</p>

        {% elif city_location == 'Магнитогорск' %}

        <p>Воздушные фильтры 8Д2 представляют собой решения, способные обеспечить чистоту воздухопроводящих систем в
            самых различных условиях эксплуатации. Их уникальная конструкция позволяет эффективно фильтровать воздух в
            диапазоне температур от -60 до +260 &deg;C, что делает их идеальными для использования в таких сферах, как
            энергетика, химическая промышленность, а также практически в любых климатических условиях.&nbsp; Вы можете
            приобрести в Магнитогорске воздушные фильтры 8д2 для промышленных задач в {{ company_name_short }}.</p>
        <h4>Основные преимущества</h4>
        <ul>
            <li>Широкий температурный диапазон &ndash; благодаря использованию высококачественных материалов и
                инновационных технологий изделия сохраняют свои эксплуатационные характеристики как в условиях низких
                температур, так и при высоких температурных нагрузках, что предотвращает их деформацию и обеспечивает
                долгий срок службы.</li>
            <li>Эффективность фильтрации &ndash; эти фильтры способны задерживать как мелкие, так и крупные частицы (от
                5 до 36 мкм), обеспечивая надежную защиту оборудования от загрязнений и увеличивая его ресурс.</li>
            <li>Универсальность применения &ndash; могут быть использованы в самых различных отраслях - от автомобильной
                и авиационной до пищевой и фармацевтической промышленности.</li>
            <li>Неприхотливость к условиям &ndash; при разработке учтены все эксплуатационные нагрузки, что гарантирует
                отличные результаты даже в самых агрессивных средах.</li>
            <li>Экономия на обслуживании &ndash; долговечность и надежность воздушных фильтров позволяют значительно
                сократить затраты на техническое обслуживание и замену, что делает их выгодным вложением.</li>
        </ul>
        <p>{{ company_name_short }}, приглашает вас ознакомиться с полной линейкой воздушных фильтров 8д2. Мы
            гарантируем высокое качество продукции, лучшие условия закупки и индивидуальный подход к каждому клиенту.
        </p>
        <p>Свяжитесь с нами для получения более подробной информации и коммерческого предложения. Мы уверены, что наши
            изделия станут надежной основой вашего технологического процесса!</p>

        {% elif city_location == 'Пермь' %}

        <p>Это наилучшее решение для обеспечения чистоты воздуха в промышленных и коммерческих помещениях. Одной из их
            отличительных особенностей является высокая пропускная способность, которая варьируется до 200 л/мин. Это
            позволяет очищающим приспособлениям эффективно справляться с высокими нагрузками и обеспечивать оптимальные
            условия работы для производственных процессов. {{ company_name_short }} предлагает вам приобрести воздушные
            фильтры 8д2 с возможностью доставки в Пермь.</p>
        <p>Благодаря современным технологиям и качественным материалам, фильтрующие приспособления способны задерживать
            даже самые мелкие частицы, что значительно снижает риск загрязнения и поддерживает высокие стандарты
            экологии на вашем предприятии. Они доказали свою надежность в самых различных условиях эксплуатации, что
            делает их идеальным выбором для самых требовательных клиентов.</p>
        <p>Убедитесь в качестве и эффективности нашего промышленного оборудования прямо сейчас! Для вашего удобства вы
            можете позвонить по номеру <a href="tel:88005555756">8 800 5555-756</a> или оставить заявку на нашем сайте.
            Мы гарантируем быструю обработку заказов и индивидуальный подход к каждому клиенту. Наш отдел контроля
            качества проверяет каждое изделие в партии, поэтому мы уверены в надежности нашей продукции и полном
            отсутствии брака.</p>

        {% elif city_location == 'Самара' %}

        <p>Это надежное решение для систем очистки воздуха, обеспечивающее высокое качество фильтрации при значительных
            нагрузках. Воздушные фильтры 8д2 обладают показателями пропускной способности до 200 л/мин и прекрасно
            справляются с задачами даже в условиях максимальных нагрузок, легко адаптируясь к различным эксплуатационным
            ситуациям.</p>
        <p>Их конструкция позволяет эффективно удалять загрязнения и вредные частицы, что способствует улучшению
            качества воздуха в помещениях и увеличивает срок службы оборудования. При изготовлении используются
            высококачественные материалы, придающие изделиям максимальную надежность, которая особенно важна для
            производств и вентиляционных систем, требующих стабильной работы без сбоев.</p>
        <p>Кроме того, эти устройства обладают и другими полезными характеристиками: от возможности работать в условиях
            экстремальных температур (от -60 до +260 градусов цельсия) до исключительного качества фильтрации (могут
            задерживать частицы от 5 до 36 мкм).</p>
        <p>Если вы ищете надежное промышленное оборудование, компания {{ company_name_short }} рада предложить все
            преимущества сотрудничества с прямым производителем. С 2009 года мы занимаем высокие позиции в отрасли и
            готовы доставить в Самару воздушные фильтры 8д2. Для получения информации о наличии и ценах, вы можете
            позвонить по номеру <a href="tel:88005555756">8 800 5555-756</a> или оставить заявку на нашем сайте.</p>

        {% elif city_location == 'Уфа' %}

        <p>Воздушные фильтры играют ключевую роль в функционировании техники, обеспечивая чистоту воздуха, поступающего
            в двигатели и другие системы. Среди множества моделей особое место занимают воздушные фильтры серии 8Д2,
            которые предлагают отличные характеристики и надежность в эксплуатации. В Уфе вы можете приобрести их на
            выгодных условиях от производителя в {{ company_name_short }}. Мы гарантируем исключительное качество
            каждого
            изделия, так как проверяем каждый товар в партии.</p>
        <h4>Задачи</h4>
        <p>Изделия, производимые {{ company_name }}, предназначены для использования в различных типах двигателей и
            выполняют широкий спектр задач, включая:</p>
        <ul>
            <li>эффективную очистку воздушной среды от мелких загрязняющих частиц, таких как пыль и песок;</li>
            <li>фильтрацию токсичных газов и абразивных частиц, что способствует снижению вредного воздействия на
                окружающую среду и здоровье человека;</li>
            <li>снижение уровня шума работающего двигателя, повышая комфорт эксплуатации техники;</li>
            <li>регулирование температуры работы двигателя, что позволяет избежать перегревов и увеличивает его срок
                службы.</li>
        </ul>
        <h4>Особенности воздушных фильтров 8Д2</h4>
        <p>Эти изделия отличаются рядом выдающихся характеристик, среди которых:</p>
        <ul>
            <li>рабочая температура &ndash; от -60 до +260 &deg;C, что позволяет использовать их в самых различных
                климатических и технологических условиях;</li>
            <li>тонкость фильтрации &ndash; от 5 до 36 мкм, обеспечивает высокую степень очистки воздуха;</li>
            <li>номинальное давление рабочей среды &ndash; от 0,15 до 35 мПа, что делает фильтры универсальными для
                различных систем;</li>
            <li>пропускная способность &ndash; до 200 л/мин, что позволяет им справляться с высокими нагрузками.</li>
        </ul>
        <p>Опытные специалисты нашего завода всегда готовы помочь вам в выборе оптимального решения, соответствующего
            вашим требованиям.</p>
        <p>{{ company_name }} предлагает вам воздушные фильтры 8Д2 по привлекательным ценам.
            Мы гарантируем высокое качество, проверенное временем, и стабильные поставки. Доверьтесь профессионалам с
            2009 года, которые успешно сотрудничают с крупными компаниями России и ближнего зарубежья.</p>
        <p>Свяжитесь с нами для получения коммерческого предложения или консультации. Это можно сделать по телефону
            <a href="tel:+73472929864">+7 (347) 292-98-64</a> или через форму заявки на сайте.
        </p>

        {% elif city_location == 'Казань' %}

        <p>Это современное решение для обеспечения чистоты воздушных потоков. Изделия предназначены для защиты
            внутреннего оборудования от вредных примесей, что не только увеличивает срок службы компонентов, но и
            улучшает общую производительность системы. Вы можете приобрести воздушные фильтры 8д2 в Казани в
            {{ company_name_short }}: мы готовы осуществить оперативную доставку на выгодных условиях. Компания работает
            с 2009 года и не использует посредников, поэтому вы получаете не только гарантию качества, но и отсутствие
            наценок. Позвоните нам <a href="tel:88005555756">8 800 5555-756</a>, чтобы обсудить условия сотрудничества и
            получить консультацию по ассортименту.</p>
        <p>Благодаря своим отличным характеристикам, изделия серии 8д2 обеспечивают надежную работу при различных
            условиях эксплуатации. Они могут использоваться в машинах, производственных установках и в других
            приложениях, где чистота воздуха критически важна. Такой широкий диапазон применения делает их универсальным
            инструментом для множества отраслей.</p>
        <p>Изготовленные из высококачественных и устойчивых к износу материалов, эти фильтры способны работать в самых
            сложных условиях, включая экстремальные температуры, защищая двигатель и другие важные элементы системы. Они
            легки в установке и обслуживании, что позволяет сократить время на замену и минимизировать простой
            оборудования.</p>
        <p>Преимуществами использования качественного очистного оборудования является также и экономичность. Правильное
            использование фильтроэлементов позволяет значительно сократить затраты на энергоресурсы и техническое
            обслуживание.</p>
        <p>Позаботьтесь о вашем оборудовании с воздушными фильтрами 8д2 от {{ company_name_short }}! Мы предлагаем
            надежные
            решения по фильтрации по доступным ценам и гарантируем высокое качество продукции. Свяжитесь с нами сегодня,
            чтобы получить выгодные условия сотрудничества и узнать о наших предложениях.</p>

        {% elif city_location == 'Омск' %}

        <p>Эти изделия представляют собой передовое решение для систем фильтрации воздуха, обеспечивая высокую
            эффективность и универсальность в работе. Одной из ключевых особенностей воздушных фильтров 8д2 является их
            способность функционировать при изменяющемся давлении, что делает их идеальными для использования в самых
            различных производственных и технологических процессах. Номинальное давление рабочей среды дли них
            варьируется от 0,15 до 35 мПа, что позволяет успешно интегрировать их в системы с различными требованиями к
            производительности и условиями эксплуатации.</p>
        <p>Системы, оборудованные воздуховодами или компрессорами, требуют надежных и эффективных решений для очистки
            воздуха от загрязнений. Фильтры 8д2 обеспечивают длительный срок службы благодаря своей прочной конструкции
            и высококачественным материалам, что отвечает строгим стандартам безопасности и качества.</p>
        <p>Если вы заинтересованы в приобретении качественного промышленного оборудования от производителя с большим
            стажем на рынке, мы предлагаем удобную доставку воздушных фильтров 8д2 в Омск. Свяжитесь с нами по телефону
            <a href="tel:88005555756">8 800 5555-756</a> или оставьте заявку на нашем сайте, и наши специалисты помогут
            вам подобрать необходимое оборудование и ответят на все ваши вопросы. Не упустите возможность улучшить
            качество своего производства с современными решениями от лидеров отрасли!
        </p>

        {% elif city_location == 'Нижний Новгород' %}

        <p>Эти устройства предназначены для обеспечения эффективной защиты различных типов оборудования, включая
            компрессоры, пневматические системы и авиадвигатели. Они широко используются в различных отраслях
            промышленности, таких как производство, строительство и нефтегазовая промышленность. Вы можете приобрести
            воздушные фильтры 8д2 в Нижнем Новгороде в {{ company_name_short }}: мы гарантируем качество товаров,
            надежную доставку и выгодные условия от производителя.</p>
        <h4>Принцип действия</h4>
        <p>Устройства используют комбинацию механической и адсорбционной фильтрации для удаления загрязнений из воздуха.
            Фильтрующий элемент спроектирован для захвата частиц, влаги и других примесей, обеспечивая чистоту воздуха и
            отсутствие примесей, которые могут негативно повлиять на характеристики и качество промышленных систем.</p>
        <h4>Ключевые особенности и преимущества</h4>
        <ul>
            <li>Исключительная эффективность фильтрации &ndash; устройства способны захватывать частицы размером до 5
                мкм.</li>
            <li>Надежность &ndash; спроектированы для эксплуатации в суровых условиях и могут выдерживать высокое
                давление и расход воздуха.</li>
            <li>Легкое обслуживание &ndash; легко устанавливаются, обслуживаются и заменяются, что уменьшает время
                простоя и увеличивает общую эффективность.</li>
            <li>Экономичность &ndash; защищая от загрязнений, могут помочь уменьшить затраты на обслуживание и продлить
                срок службы механизмов.</li>
        </ul>
        <p>Ищете качественные воздушные фильтры 8Д2? Обратитесь к {{ company_name_short }}! Мы предлагаем широкий
            ассортимент очищающих устройств, отвечающих самым высоким стандартам качества и производительности. С нашими
            изделиями вы можете обеспечить надежную работу и уменьшить затраты на обслуживание. Вы можете связаться с
            нами по номеру <a href="tel:88005555756">8 800 5555-756</a> или через форму заявки на сайте, чтобы узнать
            больше и сделать заказ.</p>

        {% else %}

        <p>Это высококачественные изделия, которые обеспечивают надежную защиту оборудования и улучшение качества
            воздуха в самых разных условиях. Воздушные фильтры 8д2 разработаны с учетом современных требований к
            фильтрации и могут эффективно работать в широком диапазоне температур, давлений и условий эксплуатации.</p>
        <h4>Характеристики</h4>
        <ul>
            <li>Рабочая температура &ndash; от -60 до +260 &deg;C. Этот широкий температурный диапазон позволяет
                использовать изделия в самых различных климатических и технологических условиях, включая как
                арктические, так и жаркие регионы.</li>
            <li>Тонкость фильтрации &ndash; от 5 до 36 мкм. Это обеспечивает высокую степень очистки воздуха, что
                особенно важно в промышленных и производственных процессах, где чистота рабочей среды напрямую влияет на
                качество конечного продукта.</li>
            <li>Номинальное давление рабочей среды &ndash; от 0,15 до 35 мПа. Диапазон давлений рабочей среды делает
                фильтры универсальными для применения в различных системах, начиная от бытовых и заканчивая
                промышленными установками.</li>
            <li>Пропускная способность &ndash; до 200 литров в минуту. Эта характеристика позволяет справляться с
                высокими нагрузками и использовать устройства даже на крупных производственных мероприятиях.</li>
        </ul>
        <p>Мы рады предложить вам воздушные фильтры 8Д2 с доставкой в Санкт-Петербург через нашу компанию &mdash;
            {{ company_name_short }}. Наша команда профессионалов готова помочь вам в выборе подходящего вам решения и
            предоставить качественные товары, соответствующие всем вашим требованиям.</p>
        <p>Для заказа или получения более подробной информации позвоните нам по номеру
            <a href="tel:+78122100002">+7 (812) 210-00-02</a>. Вы также можете оставить заявку на нашем сайте, и мы
            свяжемся с вами в кратчайшие сроки. Не упустите возможность улучшить качество воздуха и продлить ресурс
            вашего оборудованиях с помощью высококачественных решений от {{ company_name_short }}. Мы работаем с 2009
            года, располагаем крупными производственными мощностями и развитой логистической системой. Кроме того, мы
            ведем стопроцентный контроль качества каждого товара в партии, гарантируя отсутствие брака. Сотрудничество с
            нами &ndash; лучший вариант для вашего бизнеса!
        </p>

        {% endif %}
    </div>
</div>