<div class="row text-uzm py-4">
    <div class="col-12">
        {% if city_location == 'Москва' %}

        <p>Топливные фильтры серии 8Д2 представляют собой высокотехнологичные устройства, предназначенные для защиты
            топливных систем от загрязнений. Они эффективно задерживают механические примеси, такие как песок, пыль,
            ржавчина и парафин, предотвращая их попадание в двигатель и тем самым продлевая срок его службы.</p>
        <p>Компания {{ company_name }} уже более 15 лет успешно производит фильтры, которые
            соответствуют высоким стандартам качества и надежности. Они подходят для использования в различных типах
            двигателей, включая дизельные и авиационные, что делает их универсальным решением для многих отраслей. Вы
            можете заказать нашу продукцию с доставкой в Москву.</p>
        <p>Устройства оснащены перепускным клапаном и предназначены для очистки различных видов топлива, обеспечивают
            высокую пропускную способность, что делает их наиболее востребованными в первую очередь для авиационных
            двигателей разной мощности.</p>
        <p>Эти фильтры легко устанавливаются и не требуют изменений в конструкции двигателя или топливной системы.
            Температурный диапазон эксплуатации от -45&deg;C до +120&deg;C позволяет использовать их в самых
            разнообразных климатических условиях. {{ company_name }} предлагает индивидуальный
            подход к каждому клиенту и гарантирует выгоду от сотрудничества. Наша служба контроля качества тщательно
            проверяет каждое изделие в партии, поэтому мы всегда уверены в том, что заказчик будет доволен.
        </p>

        {% elif city_location == 'Екатеринбург' %}

        <p>Когда речь идет о защите двигателя, компромиссов быть не может. Топливные фильтры 8Д2 от
            {{ company_name_short }} предлагают непревзойденное качество и защиту, обеспечивая оптимальную работу
            транспорта и оборудования с ДВС. Они созданы для того, чтобы выдерживать самые суровые условия эксплуатации,
            гарантируя, что ваш двигатель всегда будет в безопасности. Вы можете сделать заказ из Екатеринбурга:
            {{ company_name }} гарантирует, что доставит все товары в целости и сохранности!</p>
        <p>Используя только лучшие материалы и новейшие технологии, мы производим фильтры, которые надежно защищают
            топливную систему, предотвращая попадание в нее вредных веществ. Это снижает механические нагрузки и износ
            двигателя, а также делает его эффективнее, так как при использовании качественно очищенного топлива мотор
            работает более экономично.</p>
        <p>Мы стремимся предоставить клиентам продукцию, которая превосходит ожидания. Наша продукция &mdash; это
            результат многолетнего опыта и стремления к совершенству. Мы очень тщательно относимся к качеству продукции,
            проверяя каждое изделие в партии, поэтому всегда уверены в том, что сотрудничество с нами принесет
            заказчикам только выгоду и положительные впечатления!
        </p>

        {% elif city_location == 'Челябинск' %}

        <p>Это специализированные устройства, предназначенные для очистки топлива от примесей и загрязнений, которые
            обеспечивают надежную работу двигателя. Они применяются в различных транспортных средствах и оборудовании.
            Вы можете купить топливные фильтры 8Д2 в Челябинске в {{ company_name_short }}. Наша компания станет вашим
            надежным партнером в обеспечении экономичной и производительной работы двигателей. Они специально
            разработаны для снижения износа компонентов системы и увеличения срока их службы.</p>
        <p>Уникальная технология фильтрации обеспечивает максимальную эффективность очистки, предотвращая попадание в
            двигатель влаги и частичек механического мусора. Это не только снижает риск поломок, но и способствует
            экономии топлива, что особенно важно в условиях постоянно растущих расходов на энергоресурсы.</p>
        <p>Приобретение надежных устройств от проверенного и опытного производителя &ndash; это инвестиция в
            долгосрочную эффективность и надежность транспорта и другой техники, в работе которой участвуют ДВС.
            {{ company_name_short }} предлагает продукцию, которая сочетает в себе передовые технологии и
            привлекательные условия для заказчиков, делая выбор очевидным. Мы ведем полный контроль качества каждого
            изделия в партии и готовы работать с заказами любых масштабов.
        </p>

        {% elif city_location == 'Магнитогорск' %}

        <p>Фильтры играют ключевую роль в защите топливных систем от загрязнений. Они предназначены для задержания
            механических частиц, таких как песок, пыль, ржавчина и парафин, предотвращая их негативное воздействие на
            рабочую среду двигателя. Их использование значительно снижает риск повреждений и преждевременного износа. В
            Магнитогорске вы можете приобрести топливные фильтры 8д2 в {{ company_name_short }} с доставкой для
            различных двигателей, включая дизельные и авиационные. Благодаря многолетнему опыту на рынке и применению
            усовершенствованных технологий производства, мы гарантируем высокое качество и надежность каждого изделия.
        </p>
        <p>Эти фильтры относятся к гидравлическим и оснащены перепускным клапаном, что обеспечивает их универсальность и
            эффективность. Отдельные наименования специально предназначены для авиационных двигателей, обеспечивая
            пропускную способность от 600 до 26 000 литров в час.</p>
        <p>Установка не требует внесения каких-либо изменений в конструктивные элементы двигателя, что делает их
            удобными в использовании. Устройства готовы к использованию при рабочих температурах от -45&deg;C до
            +120&deg;C, что позволяет использовать их в различных климатических условиях. Широкий ассортимент позволяет
            выбрать вариант с необходимой пропускной способностью, для нужного вида топлива и других эксплуатационных
            требований.
        </p>

        {% elif city_location == 'Пермь' %}

        <p>Фильтры серии 8д2 представляют собой передовое решение для защиты и оптимизации работы вашего двигателя. Они
            предназначены для эффективного удаления загрязнений из топлива, поддерживая его чистоту и продлевая срок
            службы системы. Вы можете купить топливные фильтры 8д2 в компании {{ company_name_short }} с доставкой в
            Пермь.
        </p>
        <h4>Технические характеристики</h4>
        <ul>
            <li>Эффективность фильтрации &ndash; улавливают частицы размером от 10 до 280 мкм, что позволяет
                поддерживать чистоту топлива и предотвращать износ компонентов.</li>
            <li>Пропускная способность &ndash; от 600 до 26 000 литров в час, что делает их подходящими для силовых
                установок различной мощности.</li>
            <li>Давление &ndash; работают при давлении от 0,05 до 4,5 МПа, гарантируя стабильную работу в самых сложных
                условиях.</li>
            <li>Гидравлическое сопротивление &ndash; от 0,001 до 0,11 МПа, что способствует снижению нагрузки на систему
                и увеличению эффективности.</li>
            <li>Температурный диапазон эксплуатации &ndash; от -45&deg;C до +120&deg;C, что позволяет изделиям отлично
                функционировать в любых климатических условиях и при резких перепадах температур.</li>
        </ul>
        <h4>Преимущества использования</h4>
        <ul>
            <li>Исключительная защита &ndash; предотвращают попадание песка, пыли, ржавчины и парафина в систему.</li>
            <li>Длительный срок эксплуатации &ndash; изготовлены из высокопрочных материалов, обеспечивающих
                долговечность деталей.</li>
            <li>Универсальность &ndash; могут использоваться в различных видах двигателей: дизельных, авиационных и т.д.
            </li>
        </ul>
        <p>Мы предлагаем вам приобрести топливные фильтры серии 8Д2 на выгодных условиях от производителя, гарантируем
            высокое качество продукции и индивидуальный подход к каждому клиенту. Наша продукция поможет вам снизить
            затраты на обслуживание и ремонт, сделав ваше оборудование максимально эффективным и долговечным!
        </p>

        {% elif city_location == 'Самара' %}

        <p>Изделия предназначены для очистки топлива от механических примесей и воды, что обеспечивает надежную работу
            двигателей внутреннего сгорания. Топливные фильтры 8д2 широко используются в различных типах транспортных
            средств и промышленного оборудования. В Самаре вы можете приобрести их с доставкой в компании
            {{ company_name_short }}.</p>
        <h4>Конструктивные особенности</h4>
        <p>Топливные фильтры 8Д2 состоят из нескольких основных компонентов.</p>
        <ul>
            <li>Корпус &ndash; изготовлен из прочного металла или пластика, устойчивого к воздействию рабочей среды и
                внешних условий. Корпус защищает внутренние элементы и обеспечивает герметичность.</li>
            <li>Фильтрующий элемент &ndash; основная часть, которая задерживает загрязнения. Изготавливается из
                специальной бумаги или синтетических материалов, обладающих высокой степенью фильтрации.</li>
            <li>Уплотнительные кольца &ndash; обеспечивают герметичное соединение, предотвращая утечки.</li>
            <li>Перепускной клапан &ndash; помогает поддерживать постоянное давление топлива и предотвращает его утечку
                при замене и обслуживании.</li>
            <li>Крепежные элементы &ndash; обеспечивают надежное крепление.</li>
        </ul>
        <p>Компания {{ company_name_short }} производит топливные фильтры 8Д2 и предлагает выгодные условия для заказа
            без наценок и посредников. У нас вы можете приобрести продукцию, соответствующую всем стандартам качества.
            Наша служба контроля качества проверяет 100% изделий в каждой партии, а специалисты предоставляют
            консультации по выбору, установке и использованию поставляемого оборудования.</p>
        <p>Для покупки или получения дополнительной информации вы можете связаться с нами по телефону или заказав звонок
            на сайте.
        </p>

        {% elif city_location == 'Уфа' %}

        <p>Очистка топлива от механических примесей и избытков влаги &ndash; необходимая мера для увеличения срока
            службы двигателя внутреннего сгорания и снижению затрат на его обслуживание. Топливные фильтры 8Д2 играют
            важную роль в обеспечении надежной работы двигателей внутреннего сгорания. Вы можете приобрести их в
            компании {{ company_name }}. Мы поставляем только качественные изделия и гарантируем
            их надежность!</p>
        <h4>Основные характеристики</h4>
        <ul>
            <li>Материалы &ndash; топливные фильтры 8Д2 изготавливаются из высококачественных материалов, устойчивых к
                агрессивным средам и высоким температурам. Обычно корпус выполнен из металла или прочного пластика.</li>
            <li>Фильтрующий элемент &ndash; фильтроэлемент может быть выполнен из специальной бумаги или синтетических
                материалов. Он эффективно задерживает частицы размером до 5 микрон.</li>
            <li>Пропускная способность &ndash; обеспечивают высокую пропускную способность, что позволяет поддерживать
                оптимальное давление топлива в системе.</li>
            <li>Устойчивость к давлению &ndash; способны выдерживать значительное давление, что делает их надежными в
                условиях интенсивной эксплуатации.</li>
        </ul>
        <h4>Преимущества использования</h4>
        <ul>
            <li>Защита двигателя от загрязнений, которые могут привести к износу или поломке.</li>
            <li>Повышение эффективности &ndash; очистка топлива способствует более полному сгоранию, что увеличивает КПД
                двигателя.</li>
            <li>Снижение затрат на обслуживание &ndash; регулярная замена позволяет избежать серьезных поломок и снизить
                расходы на ремонт.</li>
        </ul>
        <h4>Применение</h4>
        <p>Топливные фильтры 8Д2 широко используются в различных типах транспортных средств, включая легковые и грузовые
            автомобили, а также в сельскохозяйственной и строительной технике. Они подходят для дизельных и бензиновых
            двигателей, обеспечивая надежную работу в различных условиях эксплуатации.</p>
        <p>Монтаж должен проводиться в соответствии с рекомендациями производителя. Важно следить за состоянием фильтра
            и производить его замену согласно установленным срокам, чтобы избежать снижения производительности
            двигателя.</p>
        <p>Компания {{ company_name }} предлагает вам высококачественные топливные фильтры 8Д2.
            Наши изделия отличаются надежностью и долговечностью, что подтверждено многолетним опытом эксплуатации в
            различных условиях.</p>
        <p>Свяжитесь с нами сегодня, чтобы получить подробную информацию о наших продуктах и условиях сотрудничества. Мы
            гарантируем высокое качество и надежность нашей продукции, что поможет вам обеспечить бесперебойную работу
            вашего оборудования.
        </p>

        {% elif city_location == 'Казань' %}

        <p>Эти устройства служат для удаления частиц грязи и ржавчины из топлива, предотвращая износ и повреждение
            важных компонентов и узлов. Топливные фильтры 8Д2 &mdash; это сочетание долговечности и инноваций, которые
            делают работу двигателя внутреннего сгорания более эффективной, экономичной и безопасной. Они разработаны с
            учетом всех современных требований и стандартов. Очищающие устройства незаменимы для многих видов техники:
            от дизельных ДВС до авиационных силовых установок. Вы можете приобрести их в {{ company_name_short }} с
            доставкой в Казань.</p>
        <p>Благодаря продуманной конструкции и использованию высокотехнологичных решений топливные фильтры 8Д2
            обеспечивают исключительно высокую степень защиты от загрязнений и долговечность эксплуатации. Они
            минимизируют износ компонентов, обладают пропускной способностью более 600 литров в минуту и приспособлены
            даже к функционированию в условиях повышенной температуры.</p>
        <p>Мы рады предложить вам продукцию, которая соответствует самым высоким стандартам качества и надежности.
            Обращаясь к нам, вы делаете лучший выбор в пользу безотказности и производительности вашего оборудования.
            Обеспечьте бесперебойную работу двигателя и продлите его срок службы. Выбирая изделия
            {{ company_name_short }}, вы выбираете качество и надежность!
        </p>

        {% elif city_location == 'Омск' %}

        <p>Топливные фильтры серии 8д2 &mdash; это технологичное решение для защиты и повышения производительности
            вашего двигателя. Эти фильтры разработаны для обеспечения надежной фильтрации топлива, что позволяет
            значительно снизить риск повреждения двигателя и увеличить срок его службы. В Омске вы можете приобрести их
            в интернет-магазине {{ company_name_short }} с надежной и быстрой доставкой в ваш город.</p>
        <h4>Назначение и преимущества</h4>
        <ul>
            <li>Высокая степень фильтрации &ndash; эффективно удаляют мелкие частицы и загрязнения из топлива, защищая
                топливную систему от износа и коррозии.</li>
            <li>Универсальность &ndash; подходят для использования в различных типах транспортных средств и
                промышленного оборудования, поддерживая стабильную работу даже при серьезных нагрузках и в агрессивных
                условиях внешней среды.</li>
            <li>Длительный срок службы &ndash; изделия отличаются прочностью, надежностью и долговечностью, могут долго
                работать даже в условиях интенсивной эксплуатации.</li>
            <li>Экономия &ndash; их использование способствует снижению расходов на техническое обслуживание и ремонт
                техники, а также улучшает топливную экономичность.</li>
        </ul>
        <h4>Почему выбирают {{ company_name_short }}</h4>
        <ul>
            <li>Надежность &ndash; мы обеспечиваем полный контроль качества на всех этапах производства.</li>
            <li>Гибкие условия сотрудничества: предлагаем выгодные условия покупки и доставки.</li>
            <li>Информационная поддержка для всех клиентов.</li>
        </ul>
        <p>Свяжитесь с нами по телефону или через форму заявки на сайте, чтобы узнать больше о нашей продукции и сделать
            заказ. Доверяйте опытным и ответственным профессионалам!
        </p>

        {% elif city_location == 'Нижний Новгород' %}

        <p>В современном мире безопасность и эффективность транспортных средств напрямую зависят от эксплуатационных
            характеристик деталей механизма. Это касается каждой мелочи, и тем более нельзя пренебрегать такой важной
            составляющей, как чистота топлива и эффективность работы двигателя внутреннего сгорания. В Нижнем Новгороде
            вы можете купить топливные фильтры 8Д2 в компании {{ company_name_short }}: мы гарантируем, что быстро доставим
            ваш заказ, независимо от его масштаба. Это воплощение передовых технологий и инженерного мастерства.
            Разработанные для обеспечения максимальной чистоты топлива, изделия защищают двигатель от загрязнений,
            которые могут привести к серьезным поломкам.</p>
        <p>Топливные фильтры 8Д2 оснащены многослойной фильтрующей системой, которая эффективно улавливает даже
            мельчайшие частицы. Это гарантирует, что в ваш двигатель поступает только чистое топливо, обеспечивая его
            бесперебойную работу. Использование высококачественных материалов и инновационных решений делает эти изделия
            идеальным выбором для тех, кто ценит качество, безотказность и уверенность в работе оборудования. В нашем
            каталоге вы найдете множество разнообразных вариантов.</p>
        <p>Вся наша продукция проходит строгие испытания на каждом этапе производства, чтобы вы могли быть уверены в их
            эффективности и безопасности. Выбирая нашу продукцию, вы выбираете выгодные условия от производителя,
            стопроцентный контроль качества, оперативную доставку и надежное партнерство!
        </p>

        {% else %}

        <p>Эти устройства играют ключевую роль в обеспечении надежной работы двигателей внутреннего сгорания. Они
            очищают топливо от загрязнений, таких как частицы пыли, ржавчины и других примесей, которые могут повредить
            топливную систему и двигатель. Среди множества моделей, представленных на рынке, особое внимание заслуживают
            топливные фильтры 8д2, которые зарекомендовали себя как надежные и эффективные компоненты. Вы можете
            приобрести их в Санкт-Петербурге в компании {{ company_name_short }} с доставкой на выгодных и надежных
            условиях от производителей.</p>
        <h4>Конструкция и принцип работы</h4>
        <p>Эта серия обеспечивает исключительную степень очистки, при это отличается долгим сроком службы. Все это
            достигается за счет продуманной конструкции, включающей следующие элементы:</p>
        <ul>
            <li>корпус &ndash; изготовлен из высокопрочного и качественного металла, стойкого к коррозии и механическим
                повреждениям;</li>
            <li>фильтроэлемент &ndash; многослойный материал, который эффективно задерживает мельчайшие частицы, вплоть
                до микроскопических;</li>
            <li>перепускной клапан &ndash; обеспечивает стабильную подачу и постоянное давление даже при значительном
                загрязнении фильтра;</li>
            <li>уплотнительные элементы &ndash; гарантируют герметичность системы и предотвращают утечки.</li>
        </ul>
        <p>Топливо проходит через фильтроэлемент, где задерживаются все загрязнения. Чистое топливо затем поступает в
            двигатель, обеспечивая его стабильную и эффективную работу.</p>
        <h4>Преимущества</h4>
        <ul>
            <li>Качество очистки &ndash; обеспечивают удаление до 99% загрязнений, что значительно снижает износ
                двигателя и всей системы.</li>
            <li>Длительный срок эксплуатации &ndash; исключительно длительный срок службы без потери эффективности.</li>
            <li>Универсальность &ndash; подходят для разных видов силовых установок (дизельных, авиационных) и различных
                условий эксплуатации.</li>
            <li>Легкость замены &ndash; устройства этой серии легко устанавливаются и заменяются, что упрощает
                обслуживание техники.</li>
        </ul>
        <p>Если вы заинтересованы в приобретении топливных фильтров серии 8д2 в Санкт-Петербурге,
            {{ company_name_short }} предлагает широкий ассортимент этих изделий на выгодных условиях от производителя.
            Мы гарантируем исключительное качество продукции и предоставляет профессиональные консультации по выбору и
            монтажу.
        </p>

        {% endif %}
    </div>
</div>