{% extends 'rzmr/base.html' %}
{% load static %}

{% block content %}

<div class="p-5 ">
    <div class="container">
        <div class="success-content">
            <h3>Ваш заказ успешно оформлен!</h3>
            {% if user.is_authenticated %}
            <h6>Теперь Вы можете увидеть его в списке заказов в личном кабинете.</h6>
            <p>На указанный e-mail отправлена информация о заказе.</p>
            <div class="row justify-content-center">
                <div class="col-md-3 py-2">
                    <div class="button">
                        <a href="{% url 'home' %}" class="btn btn-secondary">На главную</a>
                    </div>
                </div>
                <div class="col-md-3 py-2">
                    <div class="button">
                        <a href="{% url 'user-orders' %}" class="btn btn-secondary">К списку заказов</a>
                    </div>
                </div>
            </div>
            {% else %}
            <h6>На указанный e-mail отправлена информация о заказе.</h6>
            <div class="row justify-content-center">
                <div class="col-md-3 py-2">
                    <div class="button">
                        <a href="{% url 'home' %}" class="btn">На главную</a>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}