{% extends 'rzmr/base.html' %}
{% load static %}

{% block content %}
<div class="shopping-cart section">
    <div class="container align-items-center">
        <div class="row py-2">
            <div class="col-10">
                <h4 class="py-2">{{ title }}</h4>
                {% if order.external_code %}
                <p id="ExternalCode" data-external-code="{{ order.external_code }}" data-date-create="{{ order.time_create|date:'YmdHis' }}">
                    <strong>Код заказа в 1С: {{ order.external_code }}</strong>
                </p>
                {% else %}
                <p><strong>Код заказа в 1С: не присвоен</strong></p>
                {% endif %}
            </div>
            <div class="col-2 icons-order text-end">
                <a class="button-save" id="Save" title="Сохранить на компьютере">
                    <img src="{% static 'rzmr/img/save.svg' %}" alt="save"></a>
                <!-- <a class="button-print" id="Print" title="Печать проекта" onclick="printJS({printable:'/start/ajax.handler.php?page=get_customer_documents', type:'pdf', showModal:true, modalMessage: 'Загрузка документа'});">
                    <img src="{% static 'rzmr/img/print.svg' %}" alt="print"></a> -->
            </div>
        </div>
        <div class="cart-list-head">
            <div class="cart-list-title fw-bold p-3">
                <div class="row">
                    <div class="col-lg-1 col-md-1 col-4">
                        <!-- <span>Изображение</span> -->
                    </div>
                    <div class="col-lg-4 col-md-3 col-12">
                        <span>Товар</span>
                    </div>
                    <div class="col-lg-2 col-md-2 col-12">
                        <span>Количество</span>
                    </div>
                    <div class="col-lg-2 col-md-2 col-12">
                        <span>Цена</span>
                    </div>
                    <div class="col-lg-2 col-md-2 col-12">
                        <span>Сумма</span>
                    </div>
                </div>
            </div>
            {% for row_product in order.get_order_products.all %}
            <div class="cart-single-list">
                <div class="row align-items-center">
                    <div class="col-lg-1 col-md-1 col-4">
                        <div class="p-4">
                            {% if row_product.product.photo %}
                            <a href="{% url 'product-details' row_product.product.slug %}"><img src="{{ row_product.product.photo.url }}" alt="#"></a>
                            {% else %}
                            <a href="{% url 'product-details' row_product.product.slug %}"><img src="https://via.placeholder.com/220x200" alt="#"></a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-3 col-12">
                        <p class="product-name fs-6">
                            <a href="{% url 'product-details' row_product.product.slug %}">
                            {{ row_product.product.name }}</a>
                        </p>
                        <!-- <p class="product-des">
                            <span><em>Тип:</em> Mirrorless</span>
                            <span><em>Цвет:</em> Black</span>
                        </p> -->
                    </div>
                    <div class="col-lg-2 col-md-2 col-12">
                        <p class="shop-price">{{ row_product.quantity|floatformat:'0g' }}</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-12">
                        {% if row_product.price > 0 %}
                        <p class="shop-price">{{ row_product.price|floatformat:'2g' }}</p>
                        {% else %}
                        <p>По запросу</p>
                        {% endif %}
                    </div>
                    <div class="col-lg-1 col-md-2 col-12">
                        <p class="shop-price">{{ row_product.amount|floatformat:'2g' }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-12">
            <!-- Total Amount -->
            <div class="total-amount">
                <div class="row">
                    <div class="col-lg-8 col-md-6 col-12">
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="right">
                            <div id="shop-total-amount-cart">
                                <!-- Итого -->
                                <div class="shop-for-del">
                                    <ul>
                                        <li>
                                            Сумма товаров в заказе<span>{{ order.amount }}</span>
                                        </li>
                                        <li>
                                            Доставка<span>Бесплатно</span>
                                        </li>        
                                        <!-- <li hidden="">Скидка<span>0,00</span>
                                        </li>         -->
                                        <li class="last">
                                            К оплате<span>{{ order.amount }}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        <div class="button">
                            {% if not order.canceled %}
                            <!-- <a href="#" class="btn btn-secondary">Оплатить заказ</a> -->
                            <a href="{% url 'order-cancel-confirm' order.pk %}" class="btn btn-secondary">Отменить заказ</a>
                            {% else %}
                            <a href="{% url 'user-orders' %}" class="btn btn-secondary">К списку заказов</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!--/ End Total Amount -->
        </div>
    </div>
</div>
{% if DEBUG %}
<script src="{% static 'shop/js/shop_order.js' %}"></script>
{% else %}
<script src="{% static 'shop/js/shop_order_compile.js' %}"></script>
{% endif %}
{% endblock content %}