{% extends 'rzmr/base.html' %}
{% load static %}

{% block content %}
<!-- Start Product Grids -->
<section class="product-grids section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-12">
                <!-- Start Product Sidebar -->
                <div class="product-sidebar">
                    <!-- Start Single Widget -->
                    {% if form %}
                    <form action="#" method="get" id="filtersAttributes">
                        <div class="single-widget range">
                            <h6 class="uzm-filter-parameters-box-title">Максимальная цена</h6>
                            {{ form.price_range_max }}
                            <div class="range-inner">
                                <label>{% if page_obj %}{{ page_obj.0.currency.sign }}{% endif %}</label>
                                {{ form.current_price }}
                            </div>
                        </div>
                        <!-- Start Single Widget -->
                        <div class="single-widget condition">
                            <h5 class="py-3">Подбор параметров</h5>
                            <div class="py-2">
                                <button class="btn btn-secondary btn-hop">Отфильтровать</button>
                            </div>
                            <div class="accordion" id="accordionAttributes">
                            {% for element in form %}
                                {% if element.name != 'price_range_max' and element.name != 'current_price' and element.name != 'sorting' %}
                                    {% if element.is_hidden %}
                                    <div class="accordion-item">
                                        <h6 class="uzm-filter-parameters-box-title accordion-header" id="heading{{ element.help_text }}">
                                            <div class="accordion-button collapsed text-blue-uzm" data-bs-toggle="collapse" data-bs-target="#collapse{{ element.help_text }}"
                                                aria-expanded="false" aria-controls="collapse{{ element.help_text }}">
                                                {{ element.label }}
                                            </div>
                                        </h6>
                                    </div>
                                    {% else %}
                                    <div class="accordion-item">
                                        <div id="collapse{{ element.help_text }}" class="accordion-collapse collapse" aria-labelledby="heading{{ element.help_text }}">
                                            <div class="form-check mx-4">
                                                {{ element }}
                                                <label class="form-check-label" for="flexCheck{{ element.name }}">{{ element.label }}</label>
                                                <button hidden class="btn btn-outline-secondary mx-3 shop-popup-button" data-shop-button-id="flexCheck{{ element.name }}"
                                                    style="--bs-btn-padding-y: .1rem; --bs-btn-padding-x: .25rem; --bs-btn-font-size: .75rem;">Отобрать</button>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            </div>
                        </div>
                    </form>
                    {% endif %}
                    <!-- End Single Widget -->
                </div>
                <!-- End Product Sidebar -->
            </div>
            <div class="col-lg-9 col-12">
                <!-- Start Main Menu Search -->
                <div class="main-menu-search pt-2">
                    <!-- navbar search start -->
                    <form action="{% url 'search' %}" method="get">
                        <div class="navbar-search">
                            <input class="search-input" type="text" name="q" value="{{ search_text }}" placeholder="Поиск" required>
                            
                            <button class="submit btn btn-secondary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                                </svg>
                            </button>
                        </div>
                    </form>
                    <!-- navbar search Ends -->
                </div>
                <!-- End Main Menu Search -->
                <div class="product-grids-head">
                    <div class="product-grid-topbar">
                        <div class="row align-items-center">
                            <div class="col-lg-7 col-md-8 col-12">
                                <div class="product-sorting py-4">
                                    {% if form %}
                                    {{ form.sorting.label_tag }}
                                    {{ form.sorting }}
                                    {% endif %}
                                    <div class="total-show-product">Показаны: <span>{{ amount_product_from }} - {{ amount_product_upto }} товаров из: {{ amount_product_total }}</span></div>
                                </div>
                            </div>
                            <!-- <div class="col-lg-5 col-md-4 col-12">
                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <button class="nav-link active" id="nav-grid-tab" data-bs-toggle="tab"
                                            data-bs-target="#nav-grid" type="button" role="tab" aria-controls="nav-grid"
                                            aria-selected="true"><i class="lni lni-grid-alt"></i></button>
                                        <button class="nav-link" id="nav-list-tab" data-bs-toggle="tab"
                                            data-bs-target="#nav-list" type="button" role="tab" aria-controls="nav-list"
                                            aria-selected="false"><i class="lni lni-list"></i></button>
                                    </div>
                                </nav>
                            </div> -->
                        </div>
                    </div>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane active show fade" id="nav-grid" role="tabpanel" aria-labelledby="nav-grid-tab">
                            <!-- Область grids -->
                            <div class="row">
                                {% for product_info in page_obj %}
                                <div class="col-lg-3 col-md-6 col-12">
                                    <!-- Start Single Product -->
                                    <div class="single-product mb-4">
                                        <div class="product-image text-center p-2">
                                            {% if product_info.product.photo %}
                                            <img src="{{ product_info.product.photo.url }}" alt="product_photo">
                                            {% else %}
                                            <img src="https://via.placeholder.com/100x200" alt="product_photo">
                                            {% endif %}
                                        </div>
                                        <div class="product-info p-2 text-center">
                                            <!-- <span class="category">{{ product_info.product.category.name }}</span> -->
                                            <p class="title">
                                                <a href="{% url 'product-details' product_info.product.slug %}">{{ product_info.product.name }}</a>
                                            </p>
                                            <!-- <ul class="review">
                                                <li><i class="lni lni-star-filled"></i></li>
                                                <li><i class="lni lni-star-filled"></i></li>
                                                <li><i class="lni lni-star-filled"></i></li>
                                                <li><i class="lni lni-star-filled"></i></li>
                                                <li><i class="lni lni-star"></i></li>
                                                <li><span>4.0 Review(s)</span></li>
                                            </ul> -->
                                            <div class="price">
                                                {% if product_info.price == 0 %}
                                                <span>Цена по запросу</span>
                                                {% else %}
                                                <span>{{ product_info.currency.sign }}{{ product_info.price }}</span>
                                                {% endif %}
                                            </div>
                                            <div class="button p-2">
                                                <button class="btn btn-secondary w-100" data-shop-product-pk="{{ product_info.product.pk }}"
                                                    data-bs-toggle="modal" data-bs-target="#successAddProductToCartModal">Заказать</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single Product -->
                                </div>
                                {% empty %}
                                <div class="col-lg-12 col-md-12 col-12">
                                    <div class="single-product">
                                        <div class="row">
                                            <p>НЕТ НИ ОДНОГО ТОВАРА СООТВЕТСТВУЮЩЕГО УСТАНОВЛЕННЫМ ФИЛЬТРАМ</p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <!-- Pagination -->
                                    <div class="pagination center">
                                        <ul class="pagination-list">
                                            {% if page_obj.has_previous %}
                                            <li><a href="?page={{ page_obj.previous_page_number }}{{ add_for_pagination }}">←</i></a></li>
                                            {% endif %}
                                            {% for p in page_obj.paginator.page_range %}
                                            {% if p == page_obj.number %}
                                            <li class="active"><a href="?page={{ p }}{{ add_for_pagination }}">{{ p }}</a></li>
                                            {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                                            <li><a href="?page={{ p }}{{ add_for_pagination }}">{{ p }}</a></li>
                                            {% endif %}
                                            {% endfor %}
                                            {% if page_obj.has_next %}
                                            <li><a href="?page={{ page_obj.next_page_number }}{{ add_for_pagination }}">→</a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                    <!--/ End Pagination -->
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-list" role="tabpanel"
                            aria-labelledby="nav-list-tab">
                            <!-- Область list -->
                            <div class="row">
                                {% for product_info in page_obj %}
                                <div class="col-lg-12 col-md-12 col-12">
                                    <!-- Start Single Product -->
                                    <div class="single-product">
                                        <div class="row align-items-center">
                                            <div class="col-lg-4 col-md-4 col-12">
                                                <div class="product-image">
                                                    {% if product_info.product.photo %}
                                                    <img src="{{ product_info.product.photo.url }}" alt="#">
                                                    {% else %}
                                                    <img src="https://via.placeholder.com/335x335" alt="#">
                                                    {% endif %}
                                                    <div class="button">
                                                        <button class="btn w-100" data-shop-product-pk="{{ product_info.product.pk }}" data-bs-toggle="modal" data-bs-target="#successAddProductToCartModal"><i class="lni lni-cart"></i>В корзину</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-8 col-md-8 col-12">
                                                <div class="product-info">
                                                    <span class="category">{{ product_info.product.category.name }}</span>
                                                    <h4 class="title">
                                                        <a href="{% url 'product-details' product_info.product.slug %}">{{ product_info.product.name }}</a>
                                                    </h4>
                                                    <div class="price">
                                                        <span>{{ product_info.currency.sign }}{{ product_info.price }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single Product -->
                                </div>     
                                {% empty %}
                                <div class="col-lg-12 col-md-12 col-12">
                                    <div class="single-product">
                                        <div class="row">
                                            <p>НЕТ НИ ОДНОГО ТОВАРА СООТВЕТСТВУЮЩЕГО УСТАНОВЛЕННЫМ ФИЛЬТРАМ</p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            <div class="row">
                                <div class="col-12">
                                    <!-- Pagination -->
                                    <div class="pagination center">
                                        <ul class="pagination-list">
                                            {% if page_obj.has_previous %}
                                            <li><a href="?page={{ page_obj.previous_page_number }}{{ add_for_pagination }}">←</a></li>
                                            {% endif %}
                                            {% for p in page_obj.paginator.page_range %}
                                            {% if p == page_obj.number %}
                                            <li class="active"><a href="?page={{ p }}{{ add_for_pagination }}">{{ p }}</a></li>
                                            {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                                            <li><a href="?page={{ p }}{{ add_for_pagination }}">{{ p }}</a></li>
                                            {% endif %}
                                            {% endfor %}
                                            {% if page_obj.has_next %}
                                            <li><a href="?page={{ page_obj.next_page_number }}{{ add_for_pagination }}">→</a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                    <!--/ End Pagination -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Product Grids -->
<script src="{% static 'shop/js/accordion_handler.js' %}"></script>

{% include 'shop/add_product_to_cart_modal.html' %}

{% endblock content %}