{% extends 'rzmr/base.html' %}
{% load static %}

{% block content %}
<!-- Start Item Details -->
<section class="item-details section">
    <div class="container">
        <div class="top-area">
            <div class="row align-items-center product-cart-border">
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-12 m-4 product-cart-border justify-content-center">
                                {% if product_data.photo %}
                                <img src="{{ product_data.photo.url }}" class="product-main-img p-1" id="current" alt="photo_product">
                                {% else %}
                                <img src="https://via.placeholder.com/200x400" class="product-main-img p-1" id="current" alt="#">
                                {% endif %}
                            </div>
                        </div>
                        <div class="row mx-2">
                            {% for image in product_images %}
                            <div class="col-1 mx-1 product-cart-border">
                                <img src="{{ image.photo.url }}" alt="#">
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="p-4">
                        <label>Код товара: {{ product_data.external_code }}</label>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="product-info">
                        <h2 class="title">{{ product_data.name }}</h2>
                        <p class="category"> {{ product_data.category.name }}</p>
                        {% if product_prices %}
                            {% for product_price in product_prices %}
                                {% if product_price.price == 0 %}
                                <h3 class="price">Цена по запросу</h3>
                                {% elif product_price.price_type.default %}
                                    <h3 class="price">{{ product_price.currency.sign }}{{ product_price.price|floatformat:'2g' }}</h3>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <h3 class="price">Цена по запросу</h3>
                        {% endif %}
                        <p class="info-text"></p>
                        <div class="bottom-content">
                            <div class="row align-items-end">
                                <div class="col-lg-4 col-md-4 col-12">
                                    <!-- Выбор склада нужно перенести в оформление заказа а в корзине оставить лишь скрытый контроль остатков по всем складам -->
                                    <!-- <div class="warehouses py-3">
                                        {% if product_stocks %}
                                        <p class="py-1">Выберите склад:</p>
                                        {% for stock in product_stocks %}
                                        <input type="radio" name="warehouse" value="{{ stock.warehouse.pk }}" id="choice{{ stock.warehouse.pk }}">
                                        <label for="choice{{ stock.warehouse.pk }}">{{ stock.warehouse.name }}</label>
                                        {% endfor %}
                                        {% else %}
                                        <p class="py-1">Нет в наличии</p>
                                        {% endif %}
                                    </div> -->
                                    <div class="button cart-button">
                                        {% if product_stocks %}
                                        <button class="btn btn-secondary" data-shop-product-pk="{{ product_data.pk }}" style="width: 100%;">В корзину</button>
                                        {% else %}
                                        <!-- <button class="btn btn-secondary" data-shop-product-pk="{{ product_data.pk }}" style="width: 100%;" disabled>В корзину</button> -->
                                        <button class="btn btn-secondary" data-shop-product-pk="{{ product_data.pk }}" style="width: 100%;">В корзину</button>
                                        {% endif %}
                                    </div>
                                </div>
                                <!-- <div class="col-lg-4 col-md-4 col-12">
                                    <div class="wish-button">
                                        <button class="btn"><i class="lni lni-reload"></i> Сравнить</button>
                                    </div>
                                </div> -->
                                <div class="col-lg-4 col-md-4 col-12">
                                    {% if user.is_authenticated %}
                                    <div class="favorite-button">
                                        <button class="btn btn-secondary" data-shop-product-pk="{{ product_data.pk }}">В избранное</button>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-details-info">
            <div class="single-block">
                <div class="row product-cart-border my-4 p-4">
                    <div class="col-lg-6 col-12">
                        <h4>Описание</h4>
                        <p>{{ product_data.description }}</p>
                        <!-- <h4>Features</h4>
                        <ul class="features">
                            <li>Capture 4K30 Video and 12MP Photos</li>
                            <li>Game-Style Controller with Touchscreen</li>
                            <li>View Live Camera Feed</li>
                            <li>Full Control of HERO6 Black</li>
                            <li>Use App for Dedicated Camera Operation</li>
                        </ul> -->
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="info-body">
                            <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <th scope="col" style="background-color: #223D59; color: white;">Наименование параметра</th>
                                    <th scope="col" style="background-color: #223D59; color: white;">Значение</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    {% for product_attribute in product_attributes %}
                                    {% if value.numeric_value %}
                                    <tr>
                                        <td>{{ product_attribute.attribute.name }}</td>
                                        <td>{{ product_attribute.value.numeric_value }}</td>
                                    </tr>
                                    {% else %}
                                    <tr>
                                        <td>{{ product_attribute.attribute.name }}</td>
                                        <td>{{ product_attribute.value.string_value }}</td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                            <!-- <h4>Вырианты доставки:</h4>
                            <ul class="normal-list">
                                <li><span>Курьер:</span> 2 - 4 days, $22.50</li>
                                <li><span>Local Shipping:</span> up to one week, $10.00</li>
                                <li><span>UPS Ground Shipping:</span> 4 - 6 days, $18.00</li>
                                <li><span>Unishop Global Export:</span> 3 - 4 days, $25.00</li>
                            </ul> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Item Details -->

<!-- Review Modal -->
<div class="modal fade review-modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Оставить отзыв</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="review-name">Ваше имя</label>
                            <input class="form-control" type="text" id="review-name" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="review-email">Ваш Email</label>
                            <input class="form-control" type="email" id="review-email" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="review-subject">Тема</label>
                            <input class="form-control" type="text" id="review-subject" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="review-rating">Оценка</label>
                            <select class="form-control" id="review-rating">
                                <option>5 Звезд</option>
                                <option>4 Звезды</option>
                                <option>3 Звезды</option>
                                <option>2 Звезды</option>
                                <option>1 Звезда</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="review-message">Отзыв</label>
                    <textarea class="form-control" id="review-message" rows="8" required></textarea>
                </div>
            </div>
            <div class="modal-footer button">
                <button type="button" class="btn">Отправить отзыв</button>
            </div>
        </div>
    </div>
</div>
<!-- End Review Modal -->
{% endblock content %}