{% extends 'rzmr/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<!-- Shopping Cart -->
<div class="shopping-cart section">
    <div class="container">
        {% if wishlist %}
        <div class="cart-list-head">
            <!-- Cart List Title -->
            <div class="cart-list-title">
                <div class="row py-2">
                    <div class="col-lg-1 col-md-1 col-12">
                        <!-- <p>Изображение</p> -->
                    </div>
                    <div class="col-lg-4 col-md-3 col-12">
                        <span>{% trans 'Product' %}</span>
                    </div>
                    <div class="col-lg-2 col-md-2 col-12">
                        <span>{% trans 'Price' %}</span>
                    </div>
                    {% if wishlist.there_discounts %}
                    <div class="col-lg-2 col-md-2 col-12">
                        <span>{% trans 'Discount' %}</span>
                    </div>
                    {% endif %}
                    <div class="col-lg-1 col-md-2 col-12">
                        <span>{% trans 'Delete' %}</span>
                    </div>
                </div>
            </div>
            <!-- End Cart List Title -->
            {% for row_product in wishlist.products %}
            <!-- Cart Single List list -->
            <div class="cart-single-list">
                <div class="row align-items-center shop-row-cart-order" data-shop-favorite_product-pk="{{ row_product.pk }}">
                    <div class="col-lg-1 col-md-1 col-12">
                        {% if row_product.photo %}
                        <a href="{% url 'product-details' row_product.slug %}"><img src="{{ row_product.photo }}" alt="#"></a>
                        {% else %}
                        <a href="{% url 'product-details' row_product.slug %}"><img src="https://via.placeholder.com/220x200" alt="#"></a>
                        {% endif %}
                    </div>
                    <div class="col-lg-4 col-md-3 col-12">
                        <h5 class="product-name">
                            <a href="{% url 'product-details' row_product.slug %}">
                            {{ row_product.name }}</a>
                        </h5>
                        <!-- <p class="product-des">
                            <span><em>Тип:</em> Mirrorless</span>
                            <span><em>Цвет:</em> Black</span>
                        </p> -->
                    </div>
                    <div class="col-lg-2 col-md-2 col-12">
                        <p class="shop-price">{{ row_product.price|floatformat:'2g' }}</p>
                    </div>
                    {% if row_product.discount_percentage > 0 %}
                    <div class="col-lg-2 col-md-2 col-12">
                        <p class="shop-discount">{{ row_product.discount_percentage }}</p>
                    </div>
                    {% endif %}
                    <div class="col-lg-1 col-md-2 col-12">
                        <button class="btn delete-favorite-button" onclick="delete_favorite_product(this);" data-shop-favorite_product-pk="{{ row_product.pk }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <!-- End Single List list -->
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Total Amount -->
                <div class="total-amount">
                    <div class="row">
                        <div class="col-lg-8 col-md-6 col-12">
                            <!-- <div class="left">
                                <div class="coupon">
                                    <form action="#" target="_blank">
                                        <input name="Coupon" placeholder="Введите купон">
                                        <div class="button">
                                            <button class="btn">Применить купон</button>
                                        </div>
                                    </form>
                                </div>
                            </div> -->
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                            
                        </div>
                    </div>
                </div>
                <!--/ End Total Amount -->
            </div>
        </div>
        {% else %}
        <div>
            <p>{% trans 'Do not choose anything yet? Time to check out our catalog!' %}</p>
        </div>
        {% endif %}
    </div>
</div>
<!--/ End Shopping Cart -->
{% endblock content %}